$section-padding: 0 10px !default;
$section-padding-medium: 9rem 15px !default;
$section-padding-large: 18rem 20px !default;

.section {
	padding: $section-padding;

	// Responsiveness
	@include desktop {
		// Sizes
		&.is-medium {
			padding: $section-padding-medium;
		}

		&.is-large {
			padding: $section-padding-large;
		}
	}
}
