@mixin link {
	display: inline-block;
	color: #777;
	line-height: 1.2;
	text-decoration: none;
	transition: all 0.3s;
	&:after {
		opacity: 1;
		content: '';
		display: block;
		width: 100%;
		padding-bottom: 1px;
		border-bottom: 1px solid #777;
		transform: scale(1, 1);
		transition: all 0.3s;
	}
	&:hover:after {
		opacity: 0;
		transform: scale(0, 1);
	}
}

caption,
legend,
.hidden {
	position: absolute !important;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
	vertical-align: middle;
	// outline: none;
}

button:disabled,
button:disabled:hover,
button:disabled:focus {
	cursor: default;
}

::selection {
	background: #f36f38;
	color: #fff;
}
::-moz-selection {
	background: #f36f38;
	color: #fff;
}
.mt1 {
	margin-top: 1rem !important;
}
.mt2 {
	margin-top: 2rem !important;
}
.mt3 {
	margin-top: 3rem !important;
}
.mt4 {
	margin-top: 4rem !important;
}
.mt5 {
	margin-top: 5rem !important;
}
.mb0 {
	margin-bottom: 0rem !important;
}
.mb1 {
	margin-bottom: 1rem !important;
}
.mb2 {
	margin-bottom: 2rem !important;
}
.mb3 {
	margin-bottom: 3rem !important;
}
.mb4 {
	margin-bottom: 4rem !important;
}
.mb5 {
	margin-bottom: 5rem !important;
}
.float-left,
.fl {
	float: left;
}
.float-right,
.fr {
	float: right;
}
.text-center,
.tl {
	text-align: center !important;
}
.text-left,
.tl {
	text-align: left !important;
}
.text-right,
.tr {
	text-align: right !important;
}
.clear {
	clear: both;
	&:after {
		display: block;
		content: '';
		clear: both;
	}
}
.link {
	@include link;
}
.word-wrap {
	word-break: keep-all;
	word-wrap: break-word;
}

// 웹접근성 skip
.skipnavi {
	a {
		display: block;
		overflow: hidden;
		width: 1px;
		height: 1px;
		margin: 0 -1px -1px 0;
		padding: 0;
		font-size: 0;
		line-height: 0;

		&:hover,
		&:active,
		&:focus {
			position: relative;
			width: 100%;
			height: auto;
			margin: 0;
			padding: 5px 0;
			color: #fff;
			text-indent: 10px;
			font-weight: 400;
			font-size: 13px;
			line-height: 1;
			text-decoration: none !important;
			text-align: center;
			background-color: rgba(0, 0, 0, 0.85);
		}
	}
}

.dot-list {
	> li {
		margin-top: 0.5em;
		padding-left: 11px;
		font-size: 14px;
		&:first-child {
			margin-top: 0;
		}
		&:before {
			display: block;
			float: left;
			content: '•';
			width: 11px;
			margin-left: -11px;
		}
	}
}
html {
	font-size: 62.5%;
}
.icon {
	display: flex;
	align-items: center;
	align-content: stretch;
	justify-content: center;
	flex-direction: column;
}
