.radio,
.checkbox {
	position: relative;
	margin: 0 0 5px;
	padding: 0 0 0 26px;
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-size: 0;
	line-height: 1;
	vertical-align: middle;
	&.disabled {
		opacity: 0.5;
	}
}
.radio + .radio,
.checkbox + .checkbox {
	margin-left: 10px;
}
.checkbox input[type='checkbox'],
.radio input[type='radio'] {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	clip: rect(0, 0, 0, 0);
	border: 0;
	&:focus + label:before {
		box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
	}
}
.checkbox input[type='checkbox'] + label,
.radio input[type='radio'] + label {
	display: block;
	float: left;
	position: relative;
	padding: 0;
	font-size: 15px;
	line-height: 1.34;
	cursor: pointer;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.checkbox input[type='checkbox'] + label:before,
.radio input[type='radio'] + label:before {
	content: '';
	display: block;
	float: left;
	overflow: hidden;
	width: 20px;
	height: 20px;
	margin-top: 0;
	margin-right: 6px;
	margin-left: -26px;
	border: 1px solid #eee;
	border-radius: 2px;
	background: #fff;
	line-height: 18px;
	text-align: center;
	transition: all 0.2s;
}
.radio input[type='radio'] + label:before {
	width: 20px;
	height: 20px;
	border-radius: 100%;
	line-height: 20px;
}
.checkbox input[type='checkbox'] + label:active:before,
.checkbox input[type='checkbox']:checked + label:active:before,
.radio input[type='radio'] + label:active:before,
.radio input[type='radio']:checked + label:active:before {
	background: #fff;
}
.checkbox input[type='checkbox']:checked + label:before,
.radio input[type='radio']:checked + label:before {
	background: #fff;
	border-color: #333;
}
.checkbox input[type='checkbox']:checked + label:before {
	content: '\e900';
	background: #333;
	color: #fff;
	font-size: 16px;
	font-family: 'iconset';
}
.radio input[type='radio'] + label:after {
	opacity: 0;
	content: '';
	position: absolute;
	top: 5px;
	left: -21px;
	width: 10px;
	height: 10px;
	margin: 0;
	border-radius: 100%;
	background: #333;
	transform: scale(0);
	transition: all 0.2s;
}
.radio input[type='radio']:checked + label:after {
	opacity: 1;
	transform: scale(1);
}
.button.is-light {
	border-color: #eee;
}
