<!-- s : footer gnb -->

<!-- <section class="footer-gnb-section"> -->
<h3 class="footer-gnb-service__title sr-only">카테고리</h3>
<nav class="footer-gnb-fav">
    <!-- 구조 수정 : 210108 -->
    <a href="#" class="footer-gnb-fav__item">
        <span class="icons-wrap">
            <i class="icon2-ft_cate_bed"></i>
        </span>
        <strong>침실</strong>
    </a>
    <a href="#" class="footer-gnb-fav__item">
        <span class="icons-wrap">
            <i class="icon2-ft_cate_cls"></i>
        </span>
        <strong>옷장/수납</strong>
    </a>
    <a href="#" class="footer-gnb-fav__item">
        <span class="icons-wrap">
            <i class="icon2-ft_cate_liv"></i>
        </span>
        <strong>거실</strong>
    </a>
    <a href="#" class="footer-gnb-fav__item">
        <span class="icons-wrap">
            <i class="icon2-ft_cate_kit"></i>
        </span>
        <strong>주방</strong>
    </a>
    <a href="#" class="footer-gnb-fav__item">
        <span class="icons-wrap">
            <i class="icon2-ft_cate_book"></i>
        </span>
        <strong>서재/홈오피스</strong>
    </a>
    <a href="#" class="footer-gnb-fav__item">
        <span class="icons-wrap">
            <i class="icon2-ft_cate_kid"></i>
        </span>
        <strong>키즈</strong>
    </a>
    <a href="#" class="footer-gnb-fav__item">
        <span class="icons-wrap">
            <i class="icon2-ft_cate_int"></i>
        </span>
        <strong>인테리어/시공</strong>
    </a>
    <a href="#" class="footer-gnb-fav__item">
        <span class="icons-wrap">
            <i class="icon2-ft_cate_el"></i>
        </span>
        <strong>가전</strong>
    </a>
    <a href="#" class="footer-gnb-fav__item">
        <span class="icons-wrap">
            <i class="icon2-ft_cate_home"></i>
        </span>
        <strong>홈데코</strong>
    </a>
    <a href="#" class="footer-gnb-fav__item">
        <span class="icons-wrap">
            <i class="icon2-ft_cate_ofc"></i>
        </span>
        <strong>오피스</strong>
    </a>
    <a href="#" class="footer-gnb-fav__item">
        <span class="icons-wrap">
            <i class="icon2-ft_cate_as"></i>
        </span>
        <strong>A/S부품</strong>
    </a>
    <a href="#" class="footer-gnb-fav__item">
        <span class="icons-wrap">
            <i class="icon2-ft_cate_sam"></i>
        </span>
        <strong>삼성전자</strong>
    </a>
    <!-- <a href="#" class="footer-gnb-fav__item">
                                    <span class="icons-wrap">
                                        <i class="icon-cate_all"></i>
                                    </span>
                                    <strong>전체</strong>
                                </a> -->
    <!-- <a href="#" class="footer-gnb-fav__item">
                                    <span class="icons-wrap">
                                        <i class="icon2-ft_cate_06"></i>
                                    </span>
                                    <strong>드레스룸</strong>
                                </a> -->
    <!-- <a href="#" class="footer-gnb-fav__item">
                                    <span class="icons-wrap">
                                        <i class="icon2-ft_cate_08"></i>
                                    </span>
                                    <strong>거실</strong>
                                </a> -->
    <!-- <a href="#" class="footer-gnb-fav__item">
                                    <span class="icons-wrap">
                                        <i class="icon2-ft_cate_09"></i>
                                    </span>
                                    <strong>매장제품</strong>
                                </a> -->
    <!-- <a href="#" class="footer-gnb-fav__item">
                                    <span class="icons-wrap">
                                        <i class="icon2-ft_cate_10"></i>
                                    </span>
                                    <strong>바닥재</strong>
                                </a> -->
    <!-- <a href="#" class="footer-gnb-fav__item">
                                    <span class="icons-wrap">
                                        <i class="icon2-ft_cate_11"></i>
                                    </span>
                                    <strong>발코니</strong>
                                </a> -->
    <!-- <a href="#" class="footer-gnb-fav__item">
                                    <span class="icons-wrap">
                                        <i class="icon2-ft_cate_13"></i>
                                    </span>
                                    <strong>붙박이장</strong>
                                </a> -->
    <!-- <a href="#" class="footer-gnb-fav__item">
                                    <span class="icons-wrap">
                                        <i class="icon2-ft_cate_16"></i>
                                    </span>
                                    <strong>식탁/식탁의자</strong>
                                </a> -->
    <!-- <a href="#" class="footer-gnb-fav__item">
                                    <span class="icons-wrap">
                                        <i class="icon2-ft_cate_18"></i>
                                    </span>
                                    <strong>외부</strong>
                                </a> -->
    <!-- <a href="#" class="footer-gnb-fav__item">
                                    <span class="icons-wrap">
                                        <i class="icon2-ft_cate_19"></i>
                                    </span>
                                    <strong>욕실</strong>
                                </a> -->
    <!-- <a href="#" class="footer-gnb-fav__item">
                                    <span class="icons-wrap">
                                        <i class="icon2-ft_cate_20"></i>
                                    </span>
                                    <strong>집전체</strong>
                                </a> -->
    <!-- <a href="#" class="footer-gnb-fav__item">
                                    <span class="icons-wrap">
                                        <i class="icon2-ft_cate_21"></i>
                                    </span>
                                    <strong>창호</strong>
                                </a> -->
    <!-- <a href="#" class="footer-gnb-fav__item">
                                    <span class="icons-wrap">
                                        <i class="icon2-ft_cate_22"></i>
                                    </span>
                                    <strong>학생</strong>
                                </a> -->
    <!-- <a href="#" class="footer-gnb-fav__item">
                                    <span class="icons-wrap">
                                        <i class="icon2-ft_cate_23"></i>
                                    </span>
                                    <strong>현관/중문</strong>
                                </a> -->
</nav>
<!-- </section> -->

<!-- e : footer gnb -->