<!-- footer-top-right -->
<div class="footer-top-right">
	<ul>
		<li><a href="javascript:;" class="footer-top-right__link">이용약관</a></li>
		<li><a href="javascript:;" class="footer-top-right__link is-bold">개인정보처리방침</a></li>
		<!-- 200827, [li]추가 -->
		<li><a href="javascript:;" class="footer-top-right__link">위치정보 이용약관</a></li>
		<li><a href="javascript:;" class="footer-top-right__link">영상정보처리기기 운영방침</a></li>
		<li><a href="javascript:;" class="footer-top-right__link">제휴/대리점개설안내</a></li>
		<!-- // 200827, [li]추가 -->
	</ul>
</div>
<!-- //footer-top-right -->
<!-- footer-top -->
<div class="footer-top">
	<div class="container">
		<!-- footer-top-menu -->
		<div class="footer-top-menu">
			<ul>
				<li><a href="javascript:;" class="footer-top-menu__link">매장찾기</a></li>
				<li><a href="javascript:;" class="footer-top-menu__link">회원가입</a></li>
				<li><a href="javascript:;" class="footer-top-menu__link">고객센터</a></li>
				<!-- <li><a href="javascript:;" class="footer-top-menu__link">PC버전</a></li> -->
			</ul>
		</div>
		<!-- //footer-top-menu -->
	</div>
</div>
<!-- //footer-top -->
<!-- footer-bottom -->
<div class="footer-bottom">
	<!-- footer-bottom-sns -->
	<div class="footer-bottom-sns">
		<!-- 200827, sns수정 -->
		<a href="javascript:;" class="footer-bottom-sns__link icon" target="_blank" title="새창 열림">
			<i class="icon2-foot-ytube"></i>
			<span class="hidden">유튜브</span>
		</a>
		<a href="javascript:;" class="footer-bottom-sns__link icon" target="_blank" title="새창 열림">
			<i class="icon2-foot-sns-blog"></i>
			<span class="hidden">네이버 블로그</span>
		</a>
		<!-- <a href="javascript:;" class="footer-bottom-sns__link icon" target="_blank" title="새창 열림">
			<i class="icon2-foot-sns-twiter"></i>
			<span class="hidden">트위터</span>
		</a> -->
		<!-- 200909, 트위터 삭제, 인스타그램 추가 -->
		<a href="javascript:;" class="footer-bottom-sns__link icon" target="_blank" title="새창 열림">
			<i class="icon2-foot-sns-insta"></i>
			<span class="hidden">인스타그램</span>
		</a>
		<a href="javascript:;" class="footer-bottom-sns__link icon" target="_blank" title="새창 열림">
			<i class="icon2-foot-sns-facebook"></i>
			<span class="hidden">페이스북</span>
		</a>
		<!-- // 200827, sns수정 -->
	</div>
	<!-- //footer-bottom-sns -->
	<div class="container">
		<!-- footer-bottom-content -->
		<div class="footer-bottom-content">
			<span class="footer-bottom-content__info--title">(주)현대리바트 사업자정보</span>
			<div class="footer-bottom-content__info">
				<dl class="footer-bottom-content__info--dl">
					<dt class="footer-bottom-content__info--dt">대표이사</dt>
					<dd class="footer-bottom-content__info--dd">윤기철</dd>
				</dl>
				<dl class="footer-bottom-content__info--dl">
					<dt class="footer-bottom-content__info--dt">본사주소</dt>
					<dd class="footer-bottom-content__info--dd">경기도 용인시 남사면 경기동로 316</dd>
				</dl>
				<dl class="footer-bottom-content__info--dl">
					<dt class="footer-bottom-content__info--dt">서울사무소 주소</dt>
					<!-- 200915, 주소변경 -->
					<dd class="footer-bottom-content__info--dd">서울특별시 강남구 압구정로 201</dd>
				</dl>
				<dl class="footer-bottom-content__info--dl">
					<dt class="footer-bottom-content__info--dt">영업문의</dt>
					<dd class="footer-bottom-content__info--dd">02-3480-8000</dd>
				</dl>
				<dl class="footer-bottom-content__info--dl">
					<dt class="footer-bottom-content__info--dt">고객센터</dt>
					<dd class="footer-bottom-content__info--dd">1577-3332 (평일09시~18시, 토/일/공휴일 휴무)</dd>
				</dl>
				<dl class="footer-bottom-content__info--dl">
					<dt class="footer-bottom-content__info--dt">팩스</dt>
					<dd class="footer-bottom-content__info--dd">02-6442-8081</dd>
				</dl>
				<dl class="footer-bottom-content__info--dl">
					<dt class="footer-bottom-content__info--dt">이메일</dt>
					<!-- 200915, 이메일 수정 -->
					<dd class="footer-bottom-content__info--dd">livartcs@hyundailivart.co.kr</dd>
				</dl>
				<dl class="footer-bottom-content__info--dl">
					<dt class="footer-bottom-content__info--dt">사업자등록번호</dt>
					<dd class="footer-bottom-content__info--dd">
						135-81-32239
						<a href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=&amp;apv_perm_no=2014562002730200049" class="text-button __blue" target="_blank" title="새창 열림">사업자확인하기<i class="ico-chevron-right-thin"></i></a>
					</dd>
				</dl>
				<dl class="footer-bottom-content__info--dl">
					<dt class="footer-bottom-content__info--dt">통신판매업신고</dt>
					<dd class="footer-bottom-content__info--dd">용인-00049</dd>
				</dl>
			</div>

			<!-- footer-bottom-logo -->
			<div class="footer-bottom-logo">
				<img src="/assets/images/common/footer_logo.png" alt="HYUNDAI LIVART" />
			</div>
			<!-- //footer-bottom-logo -->

			<!-- family site -->
			<div class="footer-bottom-selectbox field">
				<div class="select is-fullwidth">
					<select>
						<option value="">FAMILY SITE</option>
						<option value="https://www.hyundailivart.co.kr/">현대리바트</option>
						<option value="https://mall.hyundailivart.co.kr">리바트몰</option>
						<option value="https://www.hyundailivart.co.kr">리바트스토리</option>
						<option value="https://www.ehyundai.com/newPortal/ir">현대백화점 그룹</option>
						<option value="https://www.ehyundai.com">현대백화점</option>
						<option value="https://www.hyundaihmall.com">현대홈쇼핑</option>
						<option value="https://www.hyundaigreenfood.com">현대그린푸드</option>
						<option value="http://www.thehansome.com">한섬</option>
						<option value="http://www.hyundaihns.com">현대H&amp;S</option>
						<option value="https://www.hcn.co.kr">현대HCN</option>
						<option value="https://www.hyundaimedia.com">현대미디어</option>
						<option value="https://www.hyundairentalcare.co.kr">현대렌탈케어</option>
						<option value="https://www.hyundaidreamtour.com">현대드림투어</option>
						<option value="https://www.everdigm.com">에버다임</option>
						<option value="http://www.cnsfoodsystem.co.kr">씨엔에스푸드시스템</option>
						<option value="http://www.hyundaicatering.co.kr">현대캐터링시스템</option>
						<option value="http://www.hyundai-ite.com">현대IT&amp;E</option>
					</select>
				</div>
			</div>
			<!-- //family site -->

			<!-- footer-bottom-copy -->
			<div class="footer-bottom-copy">Copyrightⓒ HYUNDAI LIVART Corporation. All Rights Reserved.</div>
			<!-- //footer-bottom-copy -->
		</div>
		<!-- //footer-bottom-content -->

		<!-- //footer-bottom-right -->
	</div>
</div>
<!-- // footer-bottom -->
