<!-- footer-bottom -->
<div class="footer-bottom">
	<div class="container">
		<!-- footer-bottom-content -->
		<div class="footer-bottom-content">
			<span class="footer-bottom-content__info--title on">(주)현대리바트 사업자정보</span>
			<div class="footer-bottom-content__info" style="display: none">
				<dl class="footer-bottom-content__info--dl">
					<dt class="footer-bottom-content__info--dt">고객센터</dt>
					<dd class="footer-bottom-content__info--dd">1577-3332</dd>
				</dl>
				<dl class="footer-bottom-content__info--dl">
					<dt class="footer-bottom-content__info--dt">해외브랜드</dt>
					<dd class="footer-bottom-content__info--dd">1800-5300</dd>
				</dl>
				<dl class="footer-bottom-content__info--dl">
					<dt class="footer-bottom-content__info--dt">대표이사</dt>
					<dd class="footer-bottom-content__info--dd">윤기철</dd>
				</dl>
				<dl class="footer-bottom-content__info--dl">
					<dt class="footer-bottom-content__info--dt">본사주소</dt>
					<dd class="footer-bottom-content__info--dd">경기도 용인시 남사면 경기동로 316</dd>
				</dl>
				<dl class="footer-bottom-content__info--dl">
					<dt class="footer-bottom-content__info--dt">서울사무소 주소</dt>
					<!-- 200915, 주소변경 -->
					<dd class="footer-bottom-content__info--dd">서울특별시 강남구 압구정로 201</dd>
				</dl>
				<dl class="footer-bottom-content__info--dl">
					<dt class="footer-bottom-content__info--dt">영업문의</dt>
					<dd class="footer-bottom-content__info--dd">02-3480-8000</dd>
				</dl>

				<dl class="footer-bottom-content__info--dl">
					<dt class="footer-bottom-content__info--dt">팩스</dt>
					<dd class="footer-bottom-content__info--dd">02-6442-8081</dd>
				</dl>
				<dl class="footer-bottom-content__info--dl">
					<dt class="footer-bottom-content__info--dt">이메일</dt>
					<!-- 200915, 이메일 수정 -->
					<dd class="footer-bottom-content__info--dd">livartcs@hyundailivart.co.kr</dd>
				</dl>
				<dl class="footer-bottom-content__info--dl">
					<dt class="footer-bottom-content__info--dt">사업자등록번호</dt>
					<dd class="footer-bottom-content__info--dd">
						135-81-32239
						<a href="https://www.ftc.go.kr/bizCommPop.do?wrkr_no=&amp;apv_perm_no=2014562002730200049" class="text-button __blue" target="_blank" title="새창 열림">사업자확인하기<i class="ico-chevron-right-thin"></i></a>
					</dd>
				</dl>
				<dl class="footer-bottom-content__info--dl">
					<dt class="footer-bottom-content__info--dt">통신판매업신고</dt>
					<dd class="footer-bottom-content__info--dd">용인-00049</dd>
				</dl>
			</div>

			<!-- footer-bottom-logo -->
			<div class="footer-bottom-logo">
				<img src="/assets/images/common/footer_logo.png" alt="HYUNDAI LIVART" />
			</div>
			<!-- //footer-bottom-logo -->

			<!-- footer-bottom-copy -->
			<div class="footer-bottom-copy">Copyrightⓒ HYUNDAI LIVART Corporation. All Rights Reserved.</div>
			<!-- //footer-bottom-copy -->
		</div>
		<!-- //footer-bottom-content -->

		<!-- //footer-bottom-right -->
	</div>
</div>
<!-- // footer-bottom -->
