<div class="header-dafault __sub header-layout fixed">
	<!-- header-layout 클래스 유무에 따라 scroll event 동작 -->
	<div class="container">
		<div class="pitem-top-wrap">
			<div class="pitem-top-tabs">
				<div class="pitem-top-tabs__inner">
					<h1 class="title">
						<a href="javascript:;">
							<img class="image" src="../../assets/images/common/main_logo.png" alt="HYUNDAI LIVART" />
						</a>
					</h1>
					<a href="link" class="pitem-menu-name">리바트몰</a>
					<div class="item-basket-wrap">
						<button class="btn">
							<i class="ico-shopbag">
								<span class="num">99</span>
							</i>
						</button>
					</div>
				</div>
			</div>
			<div class="community-wrap">
				<div class="community-inner">
					<a href="javascript:;" class="btn-cm">커뮤니티</a>
				</div>
			</div>
		</div>
		<div class="pitem-middle-wrap">
			<div class="pitem-middle-inner">
				<div class="contents">
					<button type="button" class="button-back is-ico"><span class="sr-only">이전으로</span></button>
					<!-- breadcrumb추가 200729 -->
					<ul class="prev-breadcrumb ml2">
						<li>...<i class="ico-chevron-right-thin"></i></li>
						<li>침대<i class="ico-chevron-right-thin"></i></li>
					</ul>
					<div class="dropdown-wrap">
						<div class="dropdown">
							<div class="dropdown-trigger">
								<button class="button" aria-haspopup="true" aria-controls="dropdown-menu">
									<span class="active-item">침대매트 세트</span>
									<span class="icon is-small"><i class="ico-down_arrow"></i></span>
								</button>
							</div>
							<div class="dropdown-menu" id="dropdown-menu3" role="menu">
								<div class="dropdown-content">
									<button type="button" class="dropdown-item is-active">침대매트 세트</button>
									<button type="button" class="dropdown-item">매트리스</button>
									<button type="button" class="dropdown-item">침대</button>
									<button type="button" class="dropdown-item">침실소가구</button>
								</div>
							</div>
						</div>
					</div>
					<button class="btn-share">
						<i class="ico-share"><span class="sr-only">공유팝업열기</span></i>
					</button>
				</div>
			</div>
		</div>
	</div>
</div>
