<div class="header-dafault header-layout fixed">
	<!-- header-layout 클래스 유무에 따라 scroll event 동작 -->
	<div class="container">
		<div class="pitem-top-wrap">
			<div class="pitem-top-tabs">
				<div class="pitem-top-tabs__inner">
					<h1 class="title">
						<a href="javascript:;">
							<img class="image" src="../../assets/images/common/main_logo.png" alt="HYUNDAI LIVART" />
						</a>
					</h1>
					<div class="pitem-menu">
						<button id="header-dropdown-menu" class="pitem-menu-name">
							리바트몰<i class="ico-chevron-down-circle ml1"><span class="sr-only">열기/닫기</span></i>
						</button>
						<ul class="pitem-menu__dropdown">
							<li>
								<a href="javascript:;">
									<div class="image-wrap">
										<img class="image" src="../../assets/images/common/mall.png" alt="현대 리바트몰" />
									</div>
									<span class="pitem-menu__name">리바트몰</span>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<div class="image-wrap">
										<img class="image" src="../../assets/images/common/online.png" alt="LIVART 온라인가구" />
									</div>
									<span class="pitem-menu__name">온라인가구</span>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<div class="image-wrap">
										<img class="image" src="../../assets/images/common/off.png" alt="LIVART 매장가구" />
									</div>
									<span class="pitem-menu__name">매장가구</span>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<div class="image-wrap">
										<img class="image" src="../../assets/images/common/kic.png" alt="LIVART 리모델링" />
									</div>
									<span class="pitem-menu__name">리모델링</span>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<div class="image-wrap">
										<img class="image" src="../../assets/images/common/ofc.png" alt="LIVART 사무가구" />
									</div>
									<span class="pitem-menu__name">사무가구</span>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<div class="image-wrap">
										<img class="image" src="../../assets/images/common/pk2.png" alt="PB Kids" />
									</div>
									<span class="pitem-menu__name">POTTERYBARNS KIDS</span>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<div class="image-wrap">
										<img class="image" src="../../assets/images/common/pb2.png" alt="PB" />
									</div>
									<span class="pitem-menu__name">POTTERYBARNS</span>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<div class="image-wrap">
										<img class="image" src="../../assets/images/common/ws2.png" alt="WS" />
									</div>
									<span class="pitem-menu__name">WILLIAMS SONOMA</span>
								</a>
							</li>
							<li>
								<a href="javascript:;">
									<div class="image-wrap">
										<img class="image" src="../../assets/images/common/we2.png" alt="We" />
									</div>
									<span class="pitem-menu__name">WEST ELM</span>
								</a>
							</li>
						</ul>
					</div>
				</div>
			</div>
			<div class="community-wrap">
				<div class="community-inner">
					<a href="javascript:;" class="btn-cm">커뮤니티</a>
				</div>
			</div>
		</div>
		<div class="pitem-middle-wrap">
			<div class="pitem-middle-inner">
				<div class="pitem-middle__search">
					<input type="search" class="lv-search" id="header-search" />
					<label for="header-search"
						><i class="ico-search"><span class="sr-only">검색</span></i></label
					>
				</div>
				<div class="item-basket-wrap">
					<button class="btn">
						<i class="ico-shopbag">
							<span class="num">99</span>
						</i>
					</button>
				</div>
			</div>
		</div>
		<div class="pitem-bottom-wrap">
			<div class="tab-block is-bottom-liner">
				<ul class="tab-block-item-lists">
					<li class="tab-block-item is-active">
						<a href="javascript:;" class="tab-block-item__btn">베스트</a>
					</li>
					<li class="tab-block-item">
						<a href="javascript:;" class="tab-block-item__btn">공동구매</a>
					</li>
					<li class="tab-block-item">
						<a href="javascript:;" class="tab-block-item__btn">기획전</a>
					</li>
					<li class="tab-block-item">
						<a href="javascript:;" class="tab-block-item__btn">신상품</a>
					</li>
					<li class="tab-block-item">
						<a href="javascript:;" class="tab-block-item__btn">반짝특가</a>
					</li>
					<li class="tab-block-item">
						<a href="javascript:;" class="tab-block-item__btn">미디어쇼핑</a>
					</li>
					<li class="tab-block-item">
						<a href="javascript:;" class="tab-block-item__btn">이벤트</a>
					</li>
					<li class="tab-block-item">
						<a href="javascript:;" class="tab-block-item__btn">쿠폰존</a>
					</li>
					<li class="tab-block-item">
						<a href="javascript:;" class="tab-block-item__btn">카탈로그</a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
