<!-- header top -->
<div class="header-top is-tablet-hide">
	<div class="container">
		<ul class="header-top-menu">
			<li>
				<a href="#"><i class="ico-livart"></i><span class="sr-only">LIVART</span><span class="txt">리바트몰</span></a>
			</li>
			<li>
				<a href="#"><i class="ico-livart"></i><span class="sr-only">LIVART</span><span class="txt">커뮤니티</span></a>
			</li>
		</ul>
		<ul class="header-top-util">
			<li class="is-active">
				<a href="#">KOR</a>
			</li>
			<li>
				<a href="#">ENG</a>
			</li>
		</ul>
	</div>
</div>
<!-- //header top -->

<!-- header-gnb-wrap -->
<div class="header-gnb-wrap">
	<div class="header-gnb">
		<div class="container">
			<a href="index.html" class="header-gnb__logo"><h1 class="sr-only">HYUNDAI LIVART</h1></a>
			<h1 class="header-gnb__title is-tablet-show">재무정보</h1>

			<!-- s : #gnb -->
			<nav id="gnb" class="is-tablet-hide">
				<ul class="gnb-menu" role="menu">
					<!-- .gnb_menu_list 활성화 시, on클래스 추가 // .gnb_menu_list에 호버, 포커스 시, .gnb_menu_item의 aria-expanded="true" // .gnb-drop_wrap slideUp, Down -->
					<li class="gnb-menu-list" role="menuitem" aria-haspopup="true">
						<a href="#" aria-expanded="false" class="gnb-menu-item is-active">About 현대리바트</a>
						<ul class="gnb-drop-wrap">
							<li>
								<a href="#">회사소개</a>
							</li>
							<li>
								<a href="#">연혁</a>
							</li>
							<li>
								<a href="#">인사말</a>
							</li>
							<li>
								<a href="#">경영이념</a>
							</li>
							<li class="is-active">
								<a href="#">사업장소개</a>
								<ul class="gnb-drop">
									<li class="is-active">
										<a href="#">국내사업장</a>
									</li>
									<li>
										<a href="#">해외사업장</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="#">사업영역</a>
								<ul class="gnb-drop">
									<li>
										<a href="#">리빙사업</a>
									</li>
									<li>
										<a href="#">주방사업</a>
									</li>
									<li>
										<a href="href">사무용가구사업</a>
									</li>
									<li>
										<a href="#">빌트인사업</a>
									</li>
									<li>
										<a href="#">건설사업</a>
									</li>
									<li>
										<a href="#">건자재사업</a>
									</li>
									<li>
										<a href="#">자재사업</a>
									</li>
									<li>
										<a href="#">법인사업</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="#" target="_blank" title="새창열림" class="is-outlink">현대백화점그룹</a>
							</li>
						</ul>
					</li>

					<li class="gnb-menu-list" role="menuitem" aria-haspopup="true">
						<a href="#" aria-expanded="false" class="gnb-menu-item">브랜드</a>
						<ul class="gnb-drop-wrap">
							<li>
								<a href="#">리바트</a>
							</li>
							<li>
								<a href="#">리바트(온라인)</a>
							</li>
							<li>
								<a href="#">리바트 키즈</a>
							</li>
							<li>
								<a href="#">H.MONDO</a>
							</li>
							<li>
								<a href="#">리바트 키친</a>
							</li>
							<li>
								<a href="#">리바트 하움</a>
							</li>
							<li>
								<a href="#">리바트 오피스</a>
							</li>
							<li>
								<a href="#">리바트 빌트인</a>
							</li>
							<li>
								<a href="#">리바트 마린</a>
							</li>
							<li>
								<a href="#">리바트 엔슬립</a>
							</li>
						</ul>
					</li>

					<li class="gnb-menu-list" role="menuitem" aria-haspopup="true">
						<a href="#" aria-expanded="false" class="gnb-menu-item">연구소</a>
						<ul class="gnb-drop-wrap">
							<li>
								<a href="#">철학</a>
							</li>
							<li>
								<a href="#">환경연구소</a>
								<ul class="gnb-drop">
									<li>
										<a href="#">품질·환경경영철학</a>
									</li>
									<li>
										<a href="#">활동내역</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="#">수상·인증</a>
							</li>
						</ul>
					</li>

					<li class="gnb-menu-list" role="menuitem" aria-haspopup="true">
						<a href="#" aria-expanded="false" class="gnb-menu-item">투자정보</a>
						<ul class="gnb-drop-wrap">
							<li>
								<a href="#">재무정보</a>
								<ul class="gnb-drop">
									<li>
										<a href="#">요약재무정보</a>
									</li>
									<li>
										<a href="#">사업보고서</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="#">주가정보</a>
							</li>
							<li>
								<a href="#">투자정보</a>
								<ul class="gnb-drop">
									<li>
										<a href="#">공시정보</a>
									</li>
									<li>
										<a href="#">이사회</a>
									</li>
									<li>
										<a href="#">주주총회</a>
									</li>
									<li>
										<a href="#">이사회내위원회</a>
									</li>
									<li>
										<a href="#">지배구조</a>
									</li>
								</ul>
							</li>
							<li>
								<a href="#">IR</a>
							</li>
							<li>
								<a href="#">공고사항</a>
							</li>
						</ul>
					</li>

					<li class="gnb-menu-list" role="menuitem" aria-haspopup="false">
						<a href="#" target="_blank" title="새창열림" class="gnb-menu-item is-outlink">인재채용</a>
					</li>

					<li class="gnb-menu-list" role="menuitem" aria-haspopup="true">
						<a href="#" aria-expanded="false" class="gnb-menu-item">지속가능경영</a>
						<ul class="gnb-drop-wrap">
							<li>
								<a href="#">개요</a>
							</li>
							<li>
								<a href="#">동반성장활동</a>
							</li>
							<li>
								<a href="#">소통의장</a>
								<ul class="gnb-drop">
									<li>
										<a href="#">공지사항</a>
									</li>
									<li>
										<a href="#">뉴스</a>
									</li>
									<li>
										<a href="#">신고및제안</a>
									</li>
								</ul>
							</li>
						</ul>
					</li>
				</ul>
			</nav>
			<!-- e: gnb -->

			<ul class="header-gnb-util is-tablet-hide">
				<li>
					<a href="#">고객센터</a>
				</li>
				<li>
					<a href="#">매장찾기</a>
				</li>
			</ul>

			<ul class="header-gnb-util is-tablet-show">
				<li class="header-gnb-util__home">
					<a href="#"><i class="ico-home"></i><span class="sr-only">홈으로</span></a>
				</li>
				<li>
					<button type="button" class="mobile-button-full"><i></i><span class="sr-only">모바일 메뉴 열기</span></button>
				</li>
			</ul>
		</div>
		<div class="gnb-bg"></div>
	</div>
</div>
<!-- //header-gnb-wrap -->

<!-- s : mobile menu -->
<div class="mobile-menu">
	<!-- s : mobile-gnb -->
	<nav class="mobile-menu-nav">
		<ul class="mobile-gnb" role="menu">
			<!-- .gnb_menu_list 활성화 시, on클래스 추가 // .gnb_menu_list에 호버, 포커스 시, .gnb_menu_item의 aria-expanded="true" // .gnb-drop_wrap slideUp, Down -->
			<li class="mobile-gnb-list" role="menuitem" aria-haspopup="true">
				<a href="#none" aria-expanded="false" class="is-active">About 현대리바트</a>
				<ul>
					<li>
						<a href="#">회사소개</a>
					</li>
					<li>
						<a href="#">연혁</a>
					</li>
					<li>
						<a href="#">인사말</a>
					</li>
					<li>
						<a href="#">경영이념</a>
					</li>
					<li>
						<a href="#" class="is-active">사업장소개</a>
						<ul>
							<li>
								<a href="#" class="is-active">국내사업장</a>
							</li>
							<li>
								<a href="#">해외사업장</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">사업영역</a>
						<ul>
							<li>
								<a href="#">리빙사업</a>
							</li>
							<li>
								<a href="#">주방사업</a>
							</li>
							<li>
								<a href="href">사무용가구사업</a>
							</li>
							<li>
								<a href="#">빌트인사업</a>
							</li>
							<li>
								<a href="#">건설사업</a>
							</li>
							<li>
								<a href="#">건자재사업</a>
							</li>
							<li>
								<a href="#">자재사업</a>
							</li>
							<li>
								<a href="#">법인사업</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#" target="_blank" title="새창열림" class="is-outlink">현대백화점그룹</a>
					</li>
				</ul>
			</li>

			<li class="mobile-gnb-list" role="menuitem" aria-haspopup="true">
				<a href="#none" aria-expanded="false" class="">브랜드</a>
				<ul>
					<li>
						<a href="#">리바트</a>
					</li>
					<li>
						<a href="#">리바트(온라인)</a>
					</li>
					<li>
						<a href="#">리바트 키즈</a>
					</li>
					<li>
						<a href="#">H.MONDO</a>
					</li>
					<li>
						<a href="#">리바트 키친</a>
					</li>
					<li>
						<a href="#">리바트 하움</a>
					</li>
					<li>
						<a href="#">리바트 오피스</a>
					</li>
					<li>
						<a href="#">리바트 빌트인</a>
					</li>
					<li>
						<a href="#">리바트 마린</a>
					</li>
					<li>
						<a href="#">리바트 엔슬립</a>
					</li>
				</ul>
			</li>

			<li class="mobile-gnb-list" role="menuitem" aria-haspopup="true">
				<a href="#none" aria-expanded="false" class="">연구소</a>
				<ul>
					<li>
						<a href="#">철학</a>
					</li>
					<li>
						<a href="#">환경연구소</a>
						<ul>
							<li>
								<a href="#">품질·환경경영철학</a>
							</li>
							<li>
								<a href="#">활동내역</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">수상·인증</a>
					</li>
				</ul>
			</li>

			<li class="mobile-gnb-list" role="menuitem" aria-haspopup="true">
				<a href="#none" aria-expanded="false" class="">투자정보</a>
				<ul>
					<li>
						<a href="#">재무정보</a>
						<ul>
							<li>
								<a href="#">요약재무정보</a>
							</li>
							<li>
								<a href="#">사업보고서</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">주가정보</a>
					</li>
					<li>
						<a href="#">투자정보</a>
						<ul>
							<li>
								<a href="#">공시정보</a>
							</li>
							<li>
								<a href="#">이사회</a>
							</li>
							<li>
								<a href="#">주주총회</a>
							</li>
							<li>
								<a href="#">이사회내위원회</a>
							</li>
							<li>
								<a href="#">지배구조</a>
							</li>
						</ul>
					</li>
					<li>
						<a href="#">IR</a>
					</li>
					<li>
						<a href="#">공고사항</a>
					</li>
				</ul>
			</li>

			<li class="mobile-gnb-list" role="menuitem" aria-haspopup="false">
				<a href="#" target="_blank" title="새창열림" class="is-outlink">인재채용</a>
			</li>

			<li class="mobile-gnb-list" role="menuitem" aria-haspopup="true">
				<a href="#none" aria-expanded="false" class="">지속가능경영</a>
				<ul>
					<li>
						<a href="#">개요</a>
					</li>
					<li>
						<a href="#">동반성장활동</a>
					</li>
					<li>
						<a href="#">소통의장</a>
						<ul>
							<li>
								<a href="#">공지사항</a>
							</li>
							<li>
								<a href="#">뉴스</a>
							</li>
							<li>
								<a href="#">신고및제안</a>
							</li>
						</ul>
					</li>
				</ul>
			</li>
		</ul>
	</nav>
	<!-- e: mobile-gnb -->

	<!-- mobile-link-->
	<div class="mobile-link">
		<ul class="mobile-link-list">
			<li>
				<a href="#">고객센터</a>
			</li>
			<li>
				<a href="#">매장찾기</a>
			</li>
		</ul>
		<ul class="mobile-link-list mobile-link-list__outlink">
			<li>
				<a href="#" class="is-outlink">리바트몰</a>
			</li>
			<li>
				<a href="#" class="is-outlink">커뮤니티</a>
			</li>
		</ul>
		<ul class="mobile-link-util">
			<li class="is-active">
				<a href="#">KOR</a>
			</li>
			<li>
				<a href="#">ENG</a>
			</li>
		</ul>
	</div>
	<!-- //mobile-link -->
</div>
<!-- e: mobile-menu -->
