<div class="header-dafault header-layout fixed">
	<!-- header-layout 클래스 유무에 따라 scroll event 동작 -->
	<div class="container">
		<div class="pitem-top-wrap">
			<div class="pitem-top-tabs">
				<div class="pitem-top-tabs__inner">
					<h1 class="title">
						<a href="link">
							<img class="image" src="../../assets/images/common/main_logo.png" alt="HYUNDAI LIVART" />
							<!-- <img class="image" src="../../assets/images/common/main_sam.png" alt="삼성 로고" /> -->
						</a>
					</h1>
					<!-- <a href="link" class="pitem-menu-name">리바트몰</a> -->
					<button id="header-dropdown-menu" class="pitem-menu-name">
						가 구
						<!-- 주방&amp;욕실 -->
						<i class="icon-round-rect"><span class="sr-only">열기/닫기</span></i>
						<!-- <i class="ico-chevron-down-circle"><span class="sr-only">열기/닫기</span></i> -->
					</button>
					<ul class="pitem-menu__dropdown">
						<li>
							<a href="javascript:;">
								<div class="image-wrap">
									<img class="image" src="../../assets/images/common/mall.png" alt="현대 리바트몰" />
								</div>
								<span class="pitem-menu__name">리바트몰</span>
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<div class="image-wrap">
									<img class="image" src="../../assets/images/common/online.png" alt="LIVART 온라인가구" />
								</div>
								<span class="pitem-menu__name">가구</span>
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<div class="image-wrap">
									<img class="image" src="../../assets/images/common/kic.png"
										alt="LIVART 주방&amp;욕실" />
								</div>
								<span class="pitem-menu__name">주방&amp;욕실</span>
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<div class="image-wrap">
									<img class="image" src="../../assets/images/common/ofc.png" alt="LIVART 오피스" />
								</div>
								<span class="pitem-menu__name">오피스</span>
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<div class="image-wrap">
									<img class="image" src="../../assets/images/common/ws.png" alt="WS" />
								</div>
								<span class="pitem-menu__name">Williams Sonoma</span>
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<div class="image-wrap">
									<img class="image" src="../../assets/images/common/pb.png" alt="PB" />
								</div>
								<span class="pitem-menu__name">Pottery Barn</span>
							</a>
						</li>
						<li>
							<a href="javascript:;">
								<div class="image-wrap">
									<img class="image" src="../../assets/images/common/pk.png" alt="PB Kids" />
								</div>
								<span class="pitem-menu__name">Pottery Barn Kids</span>
							</a>
						</li>

						<li>
							<a href="javascript:;">
								<div class="image-wrap">
									<img class="image" src="../../assets/images/common/we.png" alt="We" />
								</div>
								<span class="pitem-menu__name">west elm</span>
							</a>
						</li>
					</ul>
					<div id="pitem-menu__dropdown_re" class="modal pitem-menu__dropdown_re" aria-hidden="true">
						<div class="modal-background"></div>
						<h3 class="sr-only">플로팅 브랜드 선택</h3>
						<div class="wrap">
							<h4 class="sr-only">리바트브랜드</h4>
							<ul>
								<li>
									<a href="#">
										<span class="modal__ico"><i class="icon-bnd-lv" /></span>
										<span class="modal__txt">리바트몰<i class="ico-check" /></span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="modal__ico"><i class="icon-bnd-liv" /></span>
										<span class="modal__txt">가구</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="modal__ico"><i class="icon-bnd-kc" /></span>
										<span class="modal__txt">주방&amp;욕실</span>
									</a>
								</li>
								<li>
									<a href="#">
										<span class="modal__ico"><i class="icon-bnd-ofc" /></span>
										<span class="modal__txt">오피스</span>
									</a>
								</li>
							</ul>
							<h4>해외브랜드</h4>
							<ul>
								<li><a href="#">
										<span class="modal__ico"><i class="icon-bnd-ws" /></span>
										<span class="modal__txt">Williams Sonoma</span>
									</a></li>
								<li><a href="#">
										<span class="modal__ico"><i class="icon-bnd-pb" /></span>
										<span class="modal__txt">Pottery Barn</span>
									</a></li>
								<li><a href="#">
										<span class="modal__ico"><i class="icon-bnd-pbk" /></span>
										<span class="modal__txt">Pottery Barn Kids</span>
									</a></li>
								<li><a href="#">
										<span class="modal__ico"><i class="icon-bnd-we" /></span>
										<span class="modal__txt">Westelm</span>
									</a></li>
							</ul>
							<h4>특별관</h4>
							<ul>
								<li><a href="#">
										<span class="modal__ico"><i class="icon-bnd-sam" /></span>
										<span class="modal__txt">삼성전자</span>
									</a></li>
							</ul>
						</div>
					</div>
				</div>
			</div>
			<div class="community-wrap">
				<div class="community-inner">
					<a href="javascript:;" class="btn-cm">커뮤니티</a>
				</div>
			</div>
		</div>
		<div class="pitem-middle-wrap">
			<div class="pitem-middle-inner">
				<div class="pitem-middle__search">
					<input type="search" class="lv-search" id="header-search" />
					<label for="header-search"><i class="ico-search"><span class="sr-only">검색</span></i></label>
				</div>
				<div class="item-basket-wrap">
					<button class="btn">
						<i class="ico-shopbag">
							<span class="num">99</span>
						</i>
					</button>
				</div>
			</div>
		</div>
		<div class="pitem-bottom-wrap">
			<div class="tab-block is-bottom-liner">
				<ul class="tab-block-item-lists">
					<li class="tab-block-item is-active">
						<a href="javascript:;" class="tab-block-item__btn">베스트</a>
					</li>
					<li class="tab-block-item">
						<a href="javascript:;" class="tab-block-item__btn">공동구매</a>
					</li>
					<li class="tab-block-item">
						<a href="javascript:;" class="tab-block-item__btn">반짝특가</a>
					</li>
					<li class="tab-block-item">
						<a href="javascript:;" class="tab-block-item__btn">신상품</a>
					</li>
					<li class="tab-block-item">
						<a href="javascript:;" class="tab-block-item__btn">이벤트</a>
					</li>
					<li class="tab-block-item">
						<a href="javascript:;" class="tab-block-item__btn">쿠폰존</a>
					</li>
					<li class="tab-block-item">
						<a href="javascript:;" class="tab-block-item__btn">카탈로그</a>
					</li>
					<li class="tab-block-item">
						<a href="javascript:;" class="tab-block-item__btn">기획전</a>
					</li>
					<li class="tab-block-item">
						<a href="javascript:;" class="tab-block-item__btn">리바트<img src="/assets/images/gnb/txt_live.png"
								alt="라이브" class="img-txt isLive"> </a>
					</li>

				</ul>
			</div>
		</div>
	</div>
</div>