<div class="header-dafault __sub header-layout fixed">
	<!-- header-layout 클래스 유무에 따라 scroll event 동작 (제품상세 전용)-->
	<div class="container">
		<div class="pitem-top-wrap">
			<div class="pitem-top-tabs">
				<div class="pitem-top-tabs__inner">
					<h1 class="title">
						<a href="javascript:;">
							<img class="image" src="../../assets/images/common/main_logo.png" alt="HYUNDAI LIVART" />
						</a>
					</h1>
					<a href="link" class="pitem-menu-name">커뮤니티</a>
					<div class="item-basket-wrap">
						<button class="btn">
							<i class="ico-shopbag">
								<span class="num">99</span>
							</i>
						</button>
					</div>
				</div>
			</div>
			<div class="community-wrap">
				<div class="community-inner">
					<a href="javascript:;" class="btn-cm">커뮤니티</a>
				</div>
			</div>
		</div>
		<div class="pitem-middle-wrap">
			<div class="pitem-middle-inner centered">
				<div class="contents">
					<button type="button" class="button-back is-ico"><span class="sr-only">이전으로</span></button>
					<div class="pitem-tabs-wrap">
						<h1 class="title">침실/장롱/매트리스</h1>
						<div class="tabs pitem-tabs">
							<ul>
								<li>
									<a href="#pitem-detail-1"><span>상품정보</span></a>
								</li>
								<li>
									<a href="#pitem-detail-2"><span>상품리뷰</span></a>
								</li>
								<li>
									<a href="#pitem-detail-3"><span>상품 Q&amp;A</span></a>
								</li>
								<li>
									<a href="#pitem-detail-4"><span>배송·반품</span></a>
								</li>
							</ul>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
