<div class="header-dafault __sub header-layout fixed">
	<!-- header-layout 클래스 유무에 따라 scroll event 동작 -->
	<div class="container">
		<div class="pitem-top-wrap">
			<div class="pitem-top-tabs">
				<div class="pitem-top-tabs__inner">
					<h1 class="title">
						<a href="javascript:;">
							<img class="image" src="../../assets/images/common/main_logo.png" alt="HYUNDAI LIVART" />
						</a>
					</h1>
					<a href="link" class="pitem-menu-name">커뮤니티</a>
					<div class="item-basket-wrap">
						<button class="btn">
							<i class="ico-shopbag">
								<span class="num">99</span>
							</i>
						</button>
					</div>
				</div>
			</div>
			<div class="community-wrap">
				<div class="community-inner">
					<a href="javascript:;" class="btn-cm">커뮤니티</a>
				</div>
			</div>
		</div>
		<div class="pitem-middle-wrap">
			<div class="pitem-middle-inner centered">
				<div class="contents">
					<button type="button" class="button-back is-ico"><span class="sr-only">이전으로</span></button>
					<h1 class="title single-title">시리즈</h1>
				</div>
			</div>
		</div>
	</div>
</div>
