<div class="header-normal fixed">
	<div class="container">
		<button type="button" class="button-back is-ico"><span class="sr-only">이전으로</span></button>
		<div class="pitem-tabs-wrap">
			<h1 class="title">침실/장롱/매트리스</h1>
			<div class="tabs pitem-tabs">
				<ul>
					<li>
						<a href="#pitem-detail-1"><span>상품정보</span></a>
					</li>
					<li>
						<a href="#pitem-detail-2"><span>상품리뷰</span></a>
					</li>
					<li>
						<a href="#pitem-detail-3"><span>상품 Q&amp;A</span></a>
					</li>
					<li>
						<a href="#pitem-detail-4"><span>배송·반품</span></a>
					</li>
				</ul>
			</div>
		</div>
	</div>
</div>
