.board--list {
	border-top: 1px solid #777;

	> li {
		border-bottom: 1px solid #ccc;
		padding-bottom: 1rem;

		&:last-child {
			border-bottom: none;
			padding-bottom: 0;
		}

		.board__description {
			margin-bottom: -1rem;
		}
	}

	&.board--list--none {
		border-top: none;
	}

	&.board--list-top--none {
		border-top: 0;
	}
	.board__write {
		> span {
			i {
				display: inline-block;
				font-size: 0;
				margin-right: 7px;
			}
		}
	}
	.text-date {
		margin-top: 10px;
		font-size: 1.3rem;
	}
}

.darkgray-border-top {
	border-top: 1px solid #777;
}

.darkgray-border-bt {
	border-bottom: 1px solid #777 !important;
}

.gray-border-top {
	border-top: 1px solid #ccc;
}

.gray-border-bt {
	border-bottom: 1px solid #ccc !important;
}

.light-gray-border-top {
	border-top: 1px solid #eee !important;
}

.light-gray-border-bt {
	border-bottom: 1px solid #eee;
}

.no-border-top {
	border-top: none !important;
}

.no-border-bt {
	border-bottom: none !important;
}

.no-pd-top {
	padding-top: 0 !important;
}

.bg-white {
	background-color: #fff;
}
.board-container {
	word-break: keep-all;

	h3 {
		margin-bottom: 1rem;
		font-size: $size-3;
		font-weight: $weight-bold;
		color: $black;
	}

	.board__table-wrap,
	.board__dl-wrap {
		margin-top: 3rem;
	}

	.result-count {
		margin-bottom: 1rem;
		color: #333;
		font-size: $size-4;
	}

	.board__table {
		width: 100%;
		table-layout: fixed;
		font-size: $size-4;
		border-top: 1px solid #777;
		// border-bottom: 1px solid #ccc;
		border-collapse: inherit;

		td,
		th {
			padding: 1.5rem 1rem 1.5rem 0;
			border-bottom: 1px solid #ccc;
		}

		td:last-child {
			padding-right: 0;
		}

		// &__padding {
		// 	td,
		// 	th {
		// 		padding: 1.5rem;
		// 	}

		// 	td:last-child {
		// 		padding-right: 1.5rem;
		// 	}
		// }
	}

	@at-root .board__dl {
		display: flex;
		font-size: $size-4;
		border-top: 1px solid #777;
		word-break: keep-all;

		dt,
		dd {
			border-bottom: 1px solid #ccc;
		}

		dt {
			display: flex;
			align-items: center;
			width: 25%;
			min-width: 8.5rem;
			padding: 1.5rem 1rem 1.5rem 0;
			color: $black;
			font-weight: 600;

			&.align-items__top {
				align-items: flex-start;
			}
		}

		dd {
			width: 100%;
			padding: 1.5rem 0;

			&.board__dl-dd--blue {
				color: #1e69a8;
			}

			.dot-list {
				margin: 0;

				> li:first-child {
					padding-top: 0;
				}
			}

			&.align-items__center {
				display: flex;
				align-items: center;
			}
		}

		+ .board__dl {
			border-top: none;
		}
	}

	.board__ul-wrap {
		.board__ul {
			font-size: $size-4;

			> li {
				padding: 1.5rem 0;
				//border-bottom: 1px solid #ccc;

				&:last-child {
					border-bottom: none;
				}

				&.li-bttom--line {
					border-bottom: 1px solid #ccc;
				}

				> dl {
					display: flex;

					dt {
						width: 100%;
						// min-width: 8.5rem;
						max-width: 8.5rem;
						padding: 0.5rem 1rem 0.5rem 0;
						color: $black;
						font-weight: 600;
						word-break: break-word;
					}

					dd {
						width: 100%;
						padding: 0.5rem 0;
					}
				}
			}
		}
	}

	.board__ol-wrap {
		border-top: 1px solid #333;
		// border-bottom: 1px solid #ccc;

		.board__ol {
			display: flex;
			justify-content: flex-start;
			flex-wrap: wrap;
			color: #333;

			li {
				width: 50%;
				font-size: $size-4;
				padding: 1.5rem 0;
				border-bottom: 1px solid #ccc;
				list-style: none;

				&:nth-child(odd) {
					float: left;
				}

				&:nth-child(2n) {
					float: right;
				}
			}
		}
	}

	.board__button-area {
		margin-top: 2rem;

		.collapse {
			margin: 0;
			padding: 0;
			font-size: $size-4;
			color: #777;

			i {
				display: inline-flex;
				transform: rotate(0);
				-webkit-transform: rotate(0);
				transition: all 0.2s;
				-webkit-transition: all 0.2s;
			}
		}
	}
}

.board__header {
	.board__evaluation {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 2rem;

		.board__like {
			display: flex;
			align-items: baseline;
			// -webkit-align-items: self-end;
			color: #777;
			font-size: $size-2;

			&__num {
				font-size: $size-4;
			}

			&.is-danger {
				color: #ed2650;
				font-weight: normal;
			}
			.ico-thumb {
				display: inline-block;
				margin-right: 0.4rem;
				vertical-align: middle;
			}
			&.is-active {
				.ico-thumb {
					color: #ed2650;
					&:before {
						content: '\e957';
					}
				}
			}
		}
	}

	.board__category {
		display: flex;
		justify-content: space-between;
		align-items: center;
		margin-top: 1.5rem;

		.board__cate {
			font-size: 0;
			color: #777;

			span {
				font-size: $size-4;

				&:nth-child(2) {
					position: relative;
					margin-left: 1rem;
					padding-left: 1rem;

					&::after {
						content: '';
						display: block;
						position: absolute;
						top: 50%;
						left: 0;
						width: 1px;
						height: 0.8rem;
						max-height: 0.8rem;
						margin-top: -0.3rem;
						background-color: #ccc;
					}
				}
			}
		}

		i {
			font-size: $size-5;
		}
	}

	.board__gallery {
		display: flex;
		margin-top: 2rem;

		li {
			width: 20%;
			margin-right: 0.7rem;

			&:last-child {
				margin: 0;
			}
		}
	}
}

.board__contents {
	.board__content {
		.board__title-wrap {
			display: flex;
			justify-content: space-between;
			align-items: center;
			margin-top: 1rem;

			.board__title {
				display: flex;
				justify-content: space-between;
				align-items: center;
				max-width: calc(100% - 3rem);
				margin: 0;
				font-size: $size-4;
				color: $black;
				.ico-lock {
					margin-left: 3px;
				}

				p {
					overflow: hidden;
					margin: 0;
					white-space: nowrap;
					text-overflow: ellipsis;
					font-weight: $weight-bold;
					&.link-ellipsis-2 {
						color: #333;
						white-space: inherit;
					}
				}

				span + p {
					margin-left: 1rem;
				}

				&--twoline {
					p {
						white-space: normal;
						line-height: 1.5;
						height: 3.5rem;
						word-wrap: break-word;
						display: -webkit-box;
						-webkit-line-clamp: 2;
						-webkit-box-orient: vertical;
					}
				}

				.checkbox {
					margin-bottom: 3px;
					margin-right: 0;
				}
			}

			i {
				display: inline-flex;
				transform: rotate(0);
				-webkit-transform: rotate(0);
			}

			&.is-active {
				i {
					transform: rotate(180deg);
					-webkit-transform: rotate(180deg);
				}
			}

			.icon--right {
				transform: rotate(270deg);
				-webkit-transform: rotate(270deg);
				color: #777;
			}
		}
		.board__button-area {
			button.collapse {
				.ico-down_arrow {
					display: inline-block;
				}
			}
		}

		.board__write {
			margin-top: 1rem;
			// margin-bottom: 1.5rem;
			font-size: 0;
			color: #777;

			span {
				font-size: $size-4;

				position: relative;
				margin-left: 1rem;
				padding-left: 1rem;

				&::after {
					content: '';
					display: block;
					position: absolute;
					top: 50%;
					left: 0;
					width: 1px;
					height: 0.8rem;
					max-height: 0.8rem;
					margin-top: -0.3rem;
					background-color: #ccc;
				}
				&:first-child {
					margin-left: 0;
					padding-left: 0;
					&::after {
						display: none;
					}
				}
			}
		}

		.board__description {
			margin-top: 1.5rem;
			padding: 2rem 1rem;
			background-color: #f9f9f9;
		}

		.board__text {
			display: -webkit-box;
			overflow: hidden;
			width: 100%;
			height: auto;
			margin-top: 1.5rem;
			white-space: nowrap;
			text-overflow: ellipsis;
			white-space: normal;
			// -webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			font-size: $size-4;
			color: #777;
			transition: all 0.2s;
			&.text-show-all {
				overflow: visible;
				text-overflow: initial;
				line-clamp: initial;
				-webkit-line-clamp: initial;
			}
			&.ellipsis {
				max-height: 38px;
				-webkit-line-clamp: 2;
				.inner {
					display: inline;
				}
			}
			.inner {
				display: inline-block;
			}
		}

		.board__badge {
			margin-top: 2rem;
			// margin-bottom: 1.5rem;
			font-size: $size-4;
			font-weight: 600;

			.complete {
				color: #1e69a8;
			}

			.plan {
				color: #ed2650;
			}

			.update {
				color: #333;
			}
		}

		.button {
			margin-top: 1rem;
			margin-bottom: 1.5rem;
		}

		&.is-active {
			.board__text {
				height: 100%;
				max-height: inherit;
				-webkit-line-clamp: inherit;
				-webkit-box-orient: inherit;
				.inner {
					display: inline-block;
				}
			}

			.board__button-area {
				.collapse {
					i {
						transform: rotate(-180deg);
						-webkit-transform: rotate(-180deg);
						transition: all 0.2s;
						-webkit-transition: all 0.2s;
					}
				}
			}
		}

		&--acodian {
			.board__description {
				display: none;

				.board__qna {
					dt,
					dd {
						display: flex;
						justify-content: flex-start;
					}

					dt {
						margin-bottom: 1.5rem;

						.board__qna--question {
							display: inline-block;
							min-width: 2.7rem;
							height: 2.7rem;
							margin-right: 1rem;
							background-color: $grey-dark;
							border-radius: 50%;
							color: $white;
							text-align: center;
							line-height: 2.5rem;
						}

						p {
							font-size: $size-4;
							font-weight: $weight-bold;
							color: $black;
						}
					}

					dd {
						.board__qna--answer {
							display: inline-block;
							min-width: 2.7rem;
							height: 2.7rem;
							margin-right: 1rem;
							background-color: $black;
							border-radius: 50%;
							color: $white;
							text-align: center;
							line-height: 2.5rem;
						}

						p {
							font-size: $size-4;
							color: $black;
						}
					}
				}
			}
		}

		&--blind {
			> p {
				display: flex;
				align-items: center;
				justify-content: center;
				padding: 3rem 0;
				text-align: center;
				font-size: $size-4;
				font-weight: 600;
				color: #000;

				> i {
					font-size: 2rem;
					margin-right: 1rem;
				}
			}
		}
	}
}

/* [게시판] 상세보기 */
.board-view {
	position: relative;
	font-size: $size-4;
	border-bottom: 1px solid #eee;

	&-header {
		font-size: $size-4;

		&-info {
			margin-bottom: 1rem;

			dt {
				margin-right: 0.3rem;
			}

			.board-view-id {
				margin-right: 1rem;

				dd {
					&::after {
						display: inline-block;
						height: 0.8rem;
						margin-top: 0.6rem;
						padding-right: 1rem;
						border-right: 1px solid #ccc;
						content: '';
						vertical-align: top;
					}
				}
			}
		}
	}

	&-title {
		margin-bottom: 1.5rem;
		color: $black;
		font-weight: $weight-bold;
		font-size: $size-3;
	}

	.board-view-attach {
		dt {
			display: table-cell;
			width: 8.6rem;
			color: $black;

			i {
				margin-right: 0.5rem;
				vertical-align: middle;
			}
		}

		dd {
			display: table-cell;

			span {
				display: block;
				margin-bottom: 1rem;
				word-break: break-all;

				a {
					color: #777;
					font-size: $size-4;

					&:hover {
						color: $black;
					}
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}
	}

	&-body {
		margin: 2rem 0;
		padding: 1.5rem 0;
		border-top: 1px solid #777;
		color: $black;
	}

	&-link {
		position: relative;
		display: table;
		table-layout: fixed;
		width: 100%;
		margin-top: -1px;
		margin-bottom: 2rem;
		border-top: 1px solid #ccc;

		dl {
			display: table-row;
		}

		dt {
			display: table-cell;
			width: 5.6rem;
			padding: 1rem 0;
			border-bottom: 1px solid #ccc;
		}

		dd {
			display: table-cell;
			padding: 1rem 0;
			border-bottom: 1px solid #ccc;

			a {
				display: inline-block;
				font-size: $size-4;
				color: $black;
				@include text-ellipsis();

				&:hover {
					text-decoration: underline;
				}
			}

			.is-disabled {
				display: block;
				font-size: $size-4;
				color: #777;

				&:hover {
					color: #777;
					text-decoration: none;
				}
			}
		}

		&-notxt {
			color: #777;
		}
	}
}

// 관리자용 상세기술서
#capture {
	.board__ul-wrap {
		display: none;
	}
}
