.section {
	&.section-brandstory {
		img {
			width: 100%;
		}
		padding: 0;
		.img-wrap {
			position: relative;
			.text-wrap {
				padding: 0 10px;
				font-size: 13px;
				color: #333;
				.lists {
					li {
						margin-top: 15px;
						&:first-child {
							margin-top: 0;
						}
						dl {
							dt {
								font-size: 20px;
								font-weight: 600;
							}
							dd {
								padding-top: 15px;
							}
						}
					}
				}
			}
		}
		.box-posi-r {
			position: relative;
		}
		// 윌라암스 소노마
		.link-go-youtube {
			display: block;
			position: absolute;
			top: 56.5%;
			left: 15%;
			width: 35%;
			height: 35px;
		}
		.text-our-stores {
			margin-top: 15px;
		}
		.link-find-store {
			display: block;
			margin-top: 15px;
			color: #333;
			text-align: center;
		}
		.text-our-inspiration {
			position: absolute;
			top: 8%;
			left: 0;
			width: 100%;
			line-height: 25px;
		}
		// 포터리반 키즈
		.text-about-brand {
			letter-spacing: -1.5px;
			line-height: 25px;
		}
		// 웨스트엘름
		.box-title-sub {
			position: relative;
			padding-bottom: 20px;
			&::before {
				position: absolute;
				left: 0;
				bottom: 0;
				width: 13%;
				height: 5px;
				background: #333;
				content: '';
			}
		}
		.box-title-sub + p {
			margin-top: 15px;
		}
	}
}
.section-brand-wrap {
	&.brand-kic {
		.brand-contents-section {
			position: relative;
			font-size: 0;
			margin-top: 40px;
			&:first-of-type {
				margin-top: 20px;
			}
			.brand-contents__title {
				margin-top: 10px;
				font-weight: 600;
				font-size: 16px;
				color: #333;
				@include word-wrap;
				&.is-size-big {
					font-size: 24px;
				}
				&.is-type-padding {
					text-align: center;
					padding-left: 15px;
					padding-right: 15px;
				}
			}
			.brand-contents__desc {
				margin-top: 5px;
				margin-bottom: 20px;
				font-size: 13px;
				@include word-wrap;
				&.is-type-padding {
					text-align: center;
					padding-left: 15px;
					padding-right: 15px;
				}
			}
			&.is-align-left {
				.kic-brand-recm__text {
					padding-left: 120px;
					text-align: left;
				}
			}
			&.is-align-right {
				.kic-brand-recm__text {
					padding-right: 120px;
					text-align: right;
				}
				.brand-contents__img--small {
					left: inherit;
					right: 10px;
				}
			}
			.brand-contents__img {
				display: block;
				// margin-top: 20px;
			}
			.swiper-container {
				padding: 0 10px;
			}
			.brand-contents-gallery__txt {
				padding-top: 5px;
				font-size: 13px;
			}
			&.is-flex {
				flex-direction: column;
				text-align: center;
			}
			.brand-contents__img--small {
				position: absolute;
				left: 10px;
				bottom: 0;
				width: 100px;
			}
			.brand-contents__img-text {
				display: block;
				margin: 80px auto;
				text-align: center;
				font-size: 16px;
				color: #333;
				font-weight: 700;
				img {
					width: 100%;
					margin: 0 auto;
					max-width: 360px;
				}
			}
		}
		.brand-contents-wrap__logo {
			margin-top: 40px;
			text-align: center;
			img {
				width: 200px;
			}
		}
		.brand-contents__logo {
			margin-top: 40px;
			margin-bottom: 40px;
			display: block;
			text-align: center;
			img {
				width: 220px;
			}
		}
		.section {
			&.section-inner {
				.brand-contents__title {
					margin-top: 40px;
					font-weight: 600;
					font-size: 16px;
					color: #333;
				}
				.brand-contents__desc {
					padding-top: 20px;
					font-size: 13px;
				}
				.brand-contents-section {
					position: relative;
					&.brand-contents-section--right {
						.brand-contents__img {
							display: block;
							padding: 0 25px 62px 0;
						}
						.brand-contents__img--small {
							position: absolute;
							right: 0;
							bottom: 22px;
							width: 150px;
							height: 150px;
						}
						.kic-brand-recm__text {
							position: absolute;
							right: 167px;
							bottom: 0;
							.brand-contents__title {
								margin-top: 0;
							}
							.brand-contents__desc {
								padding-top: 15px;
							}
						}
					}
					&.brand-contents-section--left {
						.brand-contents__img {
							display: block;
							padding-bottom: 62px;
							padding-left: 25px;
							padding: 0 0 62px 25px;
						}
						.brand-contents__img--small {
							position: absolute;
							left: 0;
							bottom: 22px;
							width: 150px;
							height: 150px;
						}
						.kic-brand-recm__text {
							position: absolute;
							left: 167px;
							bottom: 0;
							.brand-contents__title {
								margin-top: 0;
							}
							.brand-contents__desc {
								padding-top: 15px;
							}
						}
					}
				}
			}
		}
		.kic-consult__title {
			margin: 40px 0;
			font-weight: 600;
			font-size: 16px;
			color: #333;
			text-align: center;
		}
		.kic-consult-list {
			.kic-consult-list__item {
				position: relative;
				padding: 0 30px 70px;
				.kic-consult-list__box {
					width: 100%;
					height: 192px;
					border: 1px solid #eee;
					.kic-consult-list__icon {
						display: flex;
						justify-content: center;
						align-items: flex-end;
						height: calc(100% - 81px);
						i {
							margin: 0 auto;
						}
					}
					.kic-consult-list__text {
						display: block;
						padding: 30px 0;
						font-size: 14px;
						color: #333;
						font-weight: 600;
						text-align: center;
					}
				}
				.kic-consult-list__desc {
					margin-top: 20px;
					font-size: 13px;
					text-align: center;
				}
				&::after {
					content: '';
					position: absolute;
					left: 50%;
					bottom: 30px;
					margin-left: -10px;
					width: 20px;
					height: 11px;
					display: block;
					background: url(../images/kic/arow-next.png) 0 0 no-repeat;
					background-size: 100%;
				}
				&:last-of-type {
					padding-bottom: 30px;
					&::after {
						content: none;
					}
				}
			}
		}
		.kic-consult-box--info {
			margin: 0 10px;
			padding: 15px 0 40px;
			border-top: 1px solid #eee;
		}
		.button-wrap,
		.btutton-wrap {
			margin: 25px 10px 0;
			&.button-wrap-margin {
				margin-left: 30px;
				margin-right: 30px;
				margin-bottom: 50px;
			}
		}
	}
	.is-type-bath {
		margin-bottom: 60px;
		align-items: center;

		.brand-contents {
			&__desc2 {
				display: block;
				margin-top: 80px;
				margin-bottom: 80px;
				text-align: center;
				font-size: 16px;
				color: #333;
				@include word-wrap;
			}
			&__desc3 {
				font-size: 16px;
				margin-top: 30px;
				text-align: center;
				color: #333;
				@include word-wrap;
			}
			&__img2 {
				display: block;
				margin: 0 auto 0px;
				width: 160px;
			}
			&__img4 {
				display: block;
				margin-bottom: 50px;
				img {
					width: auto;
					max-width: 100%;
				}
			}
			&-section__mt {
				margin-top: 50px;
			}
			&__title {
				margin-top: 50px;
				margin-bottom: 12px;
				font-size: 16px;
				font-weight: 700;
				color: #333;
				text-align: center;
			}
			&-section {
				.inner-text {
					padding: 0 20px;
				}
				.brand-contents__desc4 {
					font-size: 13px;
					font-weight: 400;
					margin-bottom: 20px;
					color: #777;
					text-align: center;
				}
			}
		}
		.inner-text {
			&.kic-brand-recm {
				height: 800px;
				position: relative;
				flex-grow: 1;
			}
			.brand-contents__img--small {
				display: block;
				position: absolute;
				bottom: 0;
				width: 440px;
				height: 440px;
			}
		}
		.brand-contents {
			&__img {
				display: block;
				font-size: 0;
				flex-grow: 1;
				&-text {
					display: block;
					margin-top: 200px;
					margin-bottom: 200px;
					font-size: 40px;
					color: #333;
				}
			}
		}
		h4.brand-contents__title {
			margin-bottom: 60px;
			font-size: 42px;
			line-height: 1.1;
		}
	}
}
.section-brand-wrap {
	&.brand-ofc {
		color: #333;
		.brand-contents-section {
			.inner-text {
				margin-top: 40px;
				padding: 0 30px;
				.brand-contents__title {
					font-size: 32px;
					font-weight: 600;
				}
				.brand-contents__desc {
					padding-top: 30px;
					font-size: 13px;
				}
				.brand-contents__link {
					margin-top: 60px;
					a {
						display: inline-block;
						margin-right: 20px;
						padding-bottom: 17px;
						border-bottom: 2px solid #333;
						font-weight: 600;
						color: #333;
						font-size: 15px;
					}
				}
			}
		}
		.ofc-brand-list {
			.ofc-brand-list__item {
				margin-top: 50px;
				padding: 0 30px;
				.inner-text {
					margin-top: 30px;
				}
				.ofc-brand-list__title {
					font-size: 20px;
				}
				.ofc-brand-list__subt {
					padding-top: 30px;
					font-size: 15px;
					font-weight: 600;
				}
				.ofc-brand-list__desc {
					padding-top: 20px;
					font-size: 13px;
				}
			}
		}
		.brand-contents-section__border {
			margin-top: 50px;
			padding: 50px 10px 0;
			border-top: 1px solid #eee;
			text-align: center;
			.brand-contents__title {
				font-size: 20px;
				font-weight: 600;
			}
			.ofc-brand-promise {
				margin-top: 50px;
				.ofc-brand-promise__item {
					display: flex;
					align-items: center;
					margin: -40px auto 0;
					width: 240px;
					height: 240px;
					border: 1px solid #e7e7e7;
					border-radius: 50%;
					.inner {
						margin: 0 auto;
					}
					&:first-of-type {
						margin-top: 0;
					}
					strong {
						font-size: 24px;
					}
					.ofc-brand-promise__desc {
						padding-top: 20px;
						font-size: 13px;
					}
				}
			}
		}
		.section-contents-tab-wrap {
			margin-top: 20px;
		}
		.ofc-show-content {
			margin-top: 20px;
			.ofc-show-consult__wrap {
				margin-top: 30px;
				.ofc-show-consult__dl {
					padding: 30px 0;
					width: 100%;
					border-top: 1px solid #eee;
					display: flex;
					&:last-of-type {
						border-bottom: 1px solid #eee;
					}
					.ofc-show-consult__dt {
						width: 36%;
						font-size: 16px;
						font-weight: 600;
						letter-spacing: -1px;
					}
					.ofc-show-consult__dd {
						width: 64%;
						color: #777;
						font-size: 13px;
						p {
							margin-bottom: 13px;
							&.cate-show {
								overflow: hidden;
								height: 21px;
								text-overflow: ellipsis;
								white-space: nowrap;
							}
						}
						button {
							width: 165px;
						}
					}
				}
			}
		}
		.msg-box {
			font: 13px;
		}
		.vertical-bar-list {
			display: flex;
			justify-content: left;
			align-items: center;
			margin-top: 10px;

			span {
				position: relative;
				margin-left: 0.5rem;
				padding-left: 0.5rem;
				color: #777;
				font-size: $size-5;

				&:after {
					display: block;
					content: '';
					position: absolute;
					top: 50%;
					left: 0;
					z-index: 1;
					width: 1px;
					height: 8px;
					background-color: #888;
					transform: translateY(-50%);
				}

				&:first-child {
					margin-left: 0;
					padding-left: 0;

					&:after {
						content: none;
					}
				}
			}
		}
	}
}

// 사무가구 공간컨설팅
.section {
	&.section-brand-wrap {
		&.brand-ofc {
			.ofc-info-main {
				margin: 30px 0 50px;
				.ofc-info__slogan {
					font-size: 14px;
					color: #777;
					text-align: center;
				}
				.ofc-info__title {
					margin-top: 20px;
					font-size: 20px;
					font-weight: 600;
					text-align: center;
				}
				.ofc-info__title + img {
					display: block;
					max-width: calc(100% + 20px);
					margin: 30px -10px 0;
				}
				.ofc-info__subt {
					margin-top: 50px;
					font-size: 15px;
					font-weight: 600;
				}
				.ofc-info__desc {
					margin-top: 30px;
					font-size-adjust: 13px;
					color: #777;
				}
				.ofc-info__img-desc {
					padding: 0 20px;
				}
			}
			.ofc-info-content {
				&.ofc-info-content__border {
					padding-top: 50px;
					border-top: 1px solid #eee;
				}
				.ofc-consult-method__dt {
					font-size: 20px;
					font-weight: 600;
				}
				.ofc-info__title {
					margin-top: 0;
					font-size: 20px;
					font-weight: 600;
				}
				.ofc-info__desc {
					padding-top: 30px;
					font-size: 13px;
					color: #777;
				}
				.ofc-info__title {
					margin-top: 90px;
				}
				.ofc-info__img-desc {
					padding: 0 25px;
					&-40 {
						padding: 0 50px;
					}
				}
				.ofc-consult-method__dl {
					margin-top: 90px;
					&:first-of-type {
						margin-top: 0;
					}
					.ofc-info__subt {
						display: block;
						margin-top: 30px;
					}
				}
			}
			.ofc-info-tab {
				margin: 100px -10px 30px;
				margin-bottom: 30px !important;
				ul {
					border: none;
					li {
						width: auto !important;
						button {
							font-size: 14px;
							span {
								color: #333;
							}
						}
						&.is-active {
							button {
								span {
									font-weight: 600;
								}
							}
						}
					}
				}
			}
			.tabpanel {
				margin: 0 -10px;
				.ofc-info-tab__img {
					position: relative;
					.ofc-info-tab__img-txt {
						position: absolute;
						bottom: 5px;
						left: 0;
						padding: 15px 0 0 10px;
						width: 340px;
						height: 65px;
						background: #fff;
						font-size: 14px;
						font-weight: 600;
						a {
							position: absolute;
							bottom: 0;
							left: 10px;
							font-size: 12px;
							color: #777;
							i {
								margin-left: 3px;
							}
						}
					}
				}
				.ofc-info-tab__text {
					margin-top: 50px;
					padding: 0 10px;
					.ofc-info-tab__inner {
						.ofc-info-tab__title {
							font-size: 20px;
							word-break: keep-all;
						}
						.ofc-info-tab__desc {
							margin-top: 30px;
							font-size: 13px;
							color: #777;
						}
					}
				}
				.ofc-info-tab__dl {
					margin-top: 20px;
					font-size-adjust: 12px;
					&:first-child {
						margin-top: 50px;
					}
					.ofc-info-tab__dt {
						font-weight: 600;
					}
					.ofc-info-tab__dd {
						color: #777;
					}
				}
			}
		}
	}
}
.ofc-consult-ref {
	padding: 40px 0 30px;
	border-top: 1px solid #eee;
	&:first-of-type {
		padding-top: 30px;
	}
	.ofc-consult-ref__title {
		font-size-adjust: 16px;
		font-weight: 600;
	}
	.ofc-consult-ref__list {
		margin-top: 10px;
		li {
			width: 50%;
			padding: 10px;
			&:nth-child(odd) {
				float: left;
			}
			&:nth-child(even) {
				float: right;
			}
		}
	}
}
.section-brand-wrap {
	&.brand-ofc {
		.detail-title-erea {
			margin-top: 20px;
			span {
				font-size: 12px;
				color: #777;
			}
			h3 {
				margin: 15px 0 20px;
				font-size: 14px;
				font-weight: 600;
			}
		}
		.board-container {
			.board--list {
				li {
					padding: 20px 0 40px;
					border-bottom: 1px solid #eee;
					font-size: 13px;
				}
			}
		}
	}
}
// .tabs-wrap {
// 	&.__layout--black {
// 		overflow-x: scroll;
// 		.item-list {
// 			width: auto;
// 			height: 30px;
// 			a {
// 				display: block;
// 			}
// 		}
// 		padding-bottom: 20px;
// 	}
// }
.tab-block {
	&.tab-block--inner-block {
		.tab-block-item {
			.tab-block-item__btn {
				margin: 0;
				padding: 0.8rem 1.5rem;
				border: 1px solid #ccc;
				font-size-adjust: 13px;
				&::after {
					content: none;
				}
			}
			&.is-active {
				.tab-block-item__btn {
					border: none;
					color: #fff;
					background: #333;
				}
			}
		}
	}
}
.section-brand-wrap {
	.board-container {
		.board__dl-wrap {
			.board__dl {
				dt {
					align-items: start;
				}
				&:last-of-type {
					dt {
						padding-bottom: 40px;
						border-bottom: none;
					}
					dd {
						padding-bottom: 40px;
						border-bottom: none;
					}
				}
			}
		}
	}
	.off-movein__title {
		margin: 40px 0 20px;
		padding-left: 10px;
		font-size: 16px;
		color: #333;
		font-weight: 600;
	}
	.off-movein__photo {
		display: flex;
		align-items: center;
		justify-content: center;
		width: 100%;
		min-height: 250px;
		background-color: #ccc;
	}
	.off-movein__shop {
		margin-top: 35px;
		padding: 0 10px;
		h6 {
			margin: 10px 0;
			font-size: 14px;
			font-weight: 600;
			color: #333;
		}
		dl {
			display: flex;
			dt {
				width: 66px;
				font-size: 13px;
				color: #333;
			}
			dd {
				width: auto;
				font-size: 13px;
			}
		}
		> div {
			padding: 15px 0 0;
			border-top: 1px solid #eee;
			span {
				font-size: 13px;
			}
			.buttons {
				margin-top: 20px;
			}
		}
	}
	.off-movein__shop + .off-movein__shop {
		margin-top: 20px;
		padding-top: 20px;
		border-top: 1px solid #eee;
	}
}
.brand-contents-wrap {
	.brand-contents-section {
		.brand-contents-wrap__logo {
			display: flex;
			margin-top: 40px;
			align-items: center;
			justify-content: center;
			img {
				&.livart {
					width: 110px;
				}
				&.livart-kids {
					width: 140px;
				}
				&.h-mondo {
					width: 130px;
				}
			}
		}
		.brand-contents-wrap__desc {
			margin-top: 40px;
			font-size: 13px;
			text-align: center;
		}
		.brand-contents-wrap__photo {
			margin: 30px -10px 0;
		}
	}
}
#tabpanel-2 {
	.brand-contents-wrap {
		margin: 0 -10px;
		.brand-contents-section {
			.brand-contents-wrap__title {
				margin-top: 40px;
				text-align: center;
				font-size: 16px;
				font-weight: 600;
				color: #333;
			}
			.brand-contents-wrap__desc {
				margin-top: 20px;
				font-size: 14px;
			}
			.brand-contents-wrap__sublogo {
				margin-top: 20px;
				text-align: center;
				.impero {
					width: 100px;
				}
				.lucca {
					width: 88px;
				}
				.vandyke {
					width: 127px;
				}
			}
		}
		.brand-contents-wrap__posi {
			margin-top: 20px;
			padding-top: 30px;
			.brand-contents-wrap__posi-absolute {
				position: absolute;
				top: 0;
				left: 10px;
				width: 227px;
			}
			.brand-contents-wrap__posi-inner {
				padding: 0 10px;
				background: #f5f2f0;
			}
			.Brianform {
				margin-top: 45px;
				width: 95px;
			}
		}
	}
}
#tabpanel-3 {
	.brand-contents-wrap {
		margin: 0 -10px;
		.brand-contents-wrap__title {
			margin-top: 40px;
			text-align: center;
			font-weight: 600;
			font-size: 16px;
			color: #333;
		}
		.brand-contents-wrap__desc {
			margin-top: 15px;
		}
		.brand-contents-wrap__title--big {
			margin-top: 35px;
			text-align: center;
			font-size: 16px;
			font-weight: 600;
			color: #333;
		}
	}
}
