.text-ellipsis-2 {
	display: -webkit-box;
	overflow: hidden;
	word-break: break-all;
	word-wrap: break-word;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	transition: opacity 0.1s;
}

// 장바구니
.section-contents-wrap {
	.contents-info-wrap {
		// margin: 0 0 40px;
		// margin: 50px 0 100px;
	}
}
.contents-control-all {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 20px 0 15px;
	.control {
		label {
			color: #333;
		}
	}
	.btn-select-del {
		padding: 0;
		color: #777;
	}
}

.cart-add {
	&-lists {
		> li {
			padding: 20px 0;
			border-top: 1px solid #eee;
			&:first-child {
				border-top: none;
			}
		}
		&__wrap {
			&.card {
				margin-bottom: 30px;
				box-shadow: none;
				.card-header {
					border-top: 1px solid #333;
					border-bottom: 1px solid #eee;
					box-shadow: none;
					.card-header-title {
						padding: 15px 0;
						&__box {
							.checkbox {
								margin: 0 5px 0 0;
								label {
									.title {
										display: inline-block;
										vertical-align: middle;
										vertical-align: sub;
										// vertical-align: -webkit-baseline-middle;
									}
								}
							}
						}
						+ a {
							padding-right: 0;
						}
					}
				}
			}
		}
	}
	&-item {
		display: flex;
		justify-content: left;
		align-items: stretch;
		.is-fullwidth {
			width: 100%;
		}

		&.sold-out,
		&.sales-end {
			.product-item {
				&-header {
					.product-item-header__brand {
						opacity: 0.4;
					}
					.product-item-header__detail-name {
						opacity: 0.4;
					}
				}
				&-price__price {
					&--wrap2 {
						opacity: 0.4;
					}
					&--del {
						pointer-events: none;
					}
				}
			}
			.spinner-box {
				button {
					pointer-events: none;
					border-color: #eee;
					i {
						background-color: #999;
					}
				}
				.spinner-box__number {
					input {
						color: #999;
						border-color: #eee;
					}
				}
			}
			.section-contents-item {
				&.simple-button {
					> li {
						&:first-child {
							visibility: hidden;
						}
					}
				}
			}
		}
		.checkbox {
			margin: 0 5px 0 0;
		}
		.item-detail {
			position: relative;
			width: calc(100% - 71px);
			min-height: 86px;
			padding: 0;
			border: none;
			&.is-fullwidth {
				width: 100%;
			}
			.product-item {
				&--small {
					display: flex;
					justify-content: left;
					align-items: stretch;
				}
				&-image {
					display: block;
					height: 86px;
					&.image-thumb-wrap {
						width: 86px;
						margin-right: 10px;
						.image {
							width: 86px;
						}
					}
				}
				&-content {
					display: block;
					position: relative;
					width: calc(100% - 96px);
					padding: 0;

					.soldout-txt {
						position: absolute;
						left: 0;
						bottom: 0;
						z-index: 1;
					}
				}
				&-header {
					margin-bottom: 0.75rem;
					&__brand {
						margin-bottom: 0.75rem;
						padding: 0;
						border: none;
						vertical-align: top;
					}
				}
				&-price {
					&__price {
						&--del {
							padding: 0;
						}
					}
				}
			}
		}
	}
}
.section-contents-item {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	&.simple-button {
		width: 50px;
		&.last-single-icon {
			> li {
				&:first-child {
					visibility: hidden;
				}
			}
		}
		> li {
			width: 20px;
			.btn {
				padding: 0;
				color: #777;
				font-size: 1.5rem;
				&.btn-interest {
					&.is-active {
						color: #ed2650;
						i {
							&::before {
								content: '\e969';
							}
						}
					}
				}
			}
		}
	}
}

.section {
	&-contents {
		&-table {
			&.is-interval {
				margin-top: 100px;
			}

			&__button {
				&--wrap {
					padding-bottom: 20px;

					.button {
						margin-left: 10px;

						// height: 40px;
						// color: #777;
						// font-size: $size-6;
						&:first-child {
							margin-left: 0;
						}
					}

					&.is-liner {
						padding-bottom: 20px;
						border-bottom: 2px solid #333;
					}
				}
			}

			&__table {
				// width: 100%;
				border-top: 1px solid #eee;
				padding-bottom: 1.5rem;
				border-bottom: 1px solid #eee;

				&.custom-layout-table {
					thead {
						th {
							font-size: $size-5;
							font-weight: 400;
							border-left: 1px solid #eee;

							&:first-child {
								border-left: none;
							}
						}
					}

					tbody {
						th {
							padding: 20px;
							color: #333;
							font-size: $size-5;
							font-weight: 400;
							vertical-align: middle;
							border-bottom: 1px solid #eee;
							word-break: keep-all;
						}

						td {
							padding: 20px;
							border-left: 1px solid #eee;
							font-size: $size-5;
							vertical-align: middle;
							text-align: left;
							word-break: keep-all;
						}
					}
				}

				&--total {
					display: block;
					padding: 25px 0 10px;
					color: #333;
					font-size: $size-4;
					font-weight: 600;

					&.is-liner {
						border-top: 1px solid #333;
					}
				}

				thead {
					background-color: #f9f9f9;

					th {
						padding: 20px 0;
						font-weight: 600;
						vertical-align: middle;
					}
				}

				tbody {
					.sold-out {
						.section-contents-item-status {
							display: block;

							.sales-end {
								display: none;
							}
						}

						.section-contents-item__brand {
							color: #999;
							border-color: #999;
						}

						.product-item-price__discount,
						.section-contents-item__delivery {
							color: #999;
						}

						.spinner-box__minus,
						.spinner-box__plus,
						.modal-button:not([data-target='item-discount-history']) {
							pointer-events: none;
						}

						.section-contents-item__name,
						.section-contents-item__options,
						.dot-list,
						.section-contents-item__info,
						.spinner-box,
						.item-price,
						.no-data,
						.final-price,
						.delivery-type {
							opacity: 0.5;
						}
					}

					.sales-end {
						.section-contents-item-status {
							display: block;

							.sold-out {
								display: none;
							}
						}

						.section-contents-item__brand {
							color: #999;
							border-color: #999;
						}

						.product-item-price__discount,
						.section-contents-item__delivery {
							color: #999;
						}

						.spinner-box__minus,
						.spinner-box__plus {
							pointer-events: none;
						}

						.section-contents-item__name,
						.section-contents-item__options,
						.dot-list,
						.section-contents-item__info,
						.spinner-box,
						.item-price,
						.no-data,
						.final-price,
						.delivery-type {
							opacity: 0.5;
						}
					}

					.bundle-delivery {
						td {
							&:first-child {
								&.bundle {
									border-left: none;
								}
							}

							&.bundle {
								border-left: 1px solid #eee;
								border-right: 1px solid #eee;
							}
						}
					}

					td {
						padding: 30px 5px;
						border-bottom: 1px solid #eee;
						text-align: center;
						vertical-align: middle;

						&.item-image {
							vertical-align: top;
						}

						&.item-option {
							padding-left: 15px;
							vertical-align: top;
							text-align: left;
						}

						&.item-checkbox {
							vertical-align: top;

							.checkbox-wrap {
								display: flex;
								align-items: center;
								justify-content: center;
								height: 150px;
							}
						}
					}
				}

				.item-price-discount {
					color: #999;
					font-size: $size-5;
				}

				.item-price {
					color: #333;
					font-size: $size-2;
					font-weight: 600;

					.won {
						font-size: $size-4;
						margin-left: 2px;
					}

					+ .icon-info {
						margin-top: 10px;
						cursor: pointer;
					}
				}

				.final-price {
					color: #333;
					font-size: $size-4;
					font-weight: 600;

					.won {
						font-size: $size-5;
						font-weight: 400;
					}
				}

				.product-item-price {
					&__discount {
						font-size: $size-4;

						.ico-tooltip {
							cursor: pointer;
						}
					}

					&__button--wrap {
						margin-top: 20px;

						.button {
							margin-top: 5px;

							&:first-child {
								margin-top: 0;
							}
						}
					}
				}
			}
		}

		&-item {
			&.max-width {
				width: 474px;

				.section-contents-item__options--titwrap {
					max-width: 100%;
				}

				.section-contents-item__options--title {
					width: 474px;
				}

				.section-contents-item__options--sub {
					width: 474px;
				}
			}

			&__image {
				position: relative;

				.img {
					display: block;
					width: 150px;
					height: auto;
					margin: 0 auto;
				}
			}

			&-status {
				display: none;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 20;
				width: 100%;
				height: 100%;
				background-color: rgba(0, 0, 0, 0.6);

				&__status {
					display: flex;
					align-items: center;
					justify-content: center;
					height: 100%;
					font-size: 1.8rem;
					color: #fff;

					&:before {
						display: inline-block;
						content: '';
						position: absolute;
						top: 0;
						left: 0;
						width: 50%;
						height: 1px;
						background-color: #fff;
						transform-origin: 0 0;
						transform: rotate(45deg);
					}

					&:after {
						display: inline-block;
						content: '';
						position: absolute;
						right: 0;
						bottom: 0;
						width: 50%;
						height: 1px;
						background-color: #fff;
						transform-origin: 100% 100%;
						transform: rotate(45deg);
					}
				}
			}

			&__brand {
				display: inline-block;
				margin-bottom: 10px;
				padding: 0.3rem 0.6rem;
				color: $black;
				font-size: $size-5;
				font-weight: 600;
				border: 1px solid #333;
				border-radius: 2px;
				-webkit-border-radius: 2px;
				-moz-border-radius: 2px;
				-ms-border-radius: 2px;
				-o-border-radius: 2px;
			}

			&__name {
				color: #333;
				font-size: $size-6;

				&--event {
					display: block;
					font-weight: 400;
				}

				&--text {
					// height: 42px;
					max-height: 42px;
				}

				.order-number {
					display: inline-block;
					margin-top: 15px;
					color: #999;
					font-size: $size-6;
				}
			}

			&__date {
				&--notice {
					color: #333;
					font-size: $size-6;
					letter-spacing: -0.2px;
				}
			}

			%linkStyle {
				width: 50px;
				height: 20px;
				padding-left: 0;
				padding-right: 0;
				text-align: center;
				word-break: keep-all;
			}

			%optionStyle {
				width: 195px;
				font-size: $size-6;
				word-break: keep-all;
			}

			&__options {
				margin-top: 20px;

				&--titwrap {
					justify-content: space-between;
					align-items: start;
					flex-wrap: wrap;
					width: 100%;
					max-width: 261px;
					margin-bottom: 10px;

					&.is-fullwidth {
						max-width: initial;

						.section-contents-item__options--sub {
							width: 100%;
						}
					}

					.link {
						@extend %linkStyle;
					}

					ul {
						// width: auto;
						width: 100%;
					}
				}

				&--title {
					@extend %optionStyle;
					color: #333;
				}

				&--subwrap {
					justify-content: space-between;
					align-items: start;

					.link {
						@extend %linkStyle;
					}
				}

				&--sub {
					@extend %optionStyle;
					position: relative;
					padding-left: 12px;
					color: #999;

					+ .link {
						float: right;
					}

					&::before {
						content: '⌞';
						display: block;
						position: absolute;
						top: -8px;
						left: 0;
						font-size: $size-1;
						color: #999;
					}
				}
			}

			&__info {
				margin-left: 5px;
				color: #999;
				font-size: $size-6;

				&__wrap {
					margin-left: 0;
					margin-top: 1.5rem;

					span:first-child {
						margin-right: 0.6rem;
					}
				}
			}

			&__delivery {
				display: inline-block;
				position: relative;
				vertical-align: middle;

				.delivery-type {
					.tit,
					.type,
					.price {
						color: #333;
						font-size: $size-6;
						vertical-align: middle;
					}

					.num {
						color: #333;
						font-size: $size-5;
					}

					&.free {
						+ .delivery-type {
							&.pay {
								margin-top: 10px;
							}
						}

						+ .btn-delivery-coupon {
							margin-top: 10px;
						}
					}

					&.pay {
						+ .btn-delivery-coupon {
							margin-top: 10px;
						}
					}
				}

				.icon-info {
					display: inline-block;
					margin-left: 5px;
					vertical-align: middle;
					cursor: pointer;

					// &:hover {
					// 	+ .section-contents-item__delivery--tooltip {
					// 		display: block;
					// 	}
					// }
				}
			}

			&__simple {
				min-width: 140px;

				&--button {
					// margin-bottom: 15px;
					.payment-text {
						display: inline-block;
						margin-bottom: 5px;
						padding: 20px;
						color: #333;
						font-size: $size-5;
					}

					.button {
						min-width: 125px;

						&.is-interval {
							margin-bottom: 10px;
						}
					}

					+ .simple-button {
						margin-top: 15px;
					}
				}

				.simple-button {
					align-items: center;
					justify-content: center;
					padding: 0 15px;

					li {
						position: relative;
						width: 55px;

						&:not(:nth-last-child(1)) {
							&:after {
								display: inline-block;
								content: '';
								position: absolute;
								right: 0;
								top: 50%;
								width: 1px;
								height: 14px;
								background-color: #ddd;
								transform: translateY(-50%);
							}
						}

						.btn-interest {
							&.is-active {
								i {
									@include sprite-image($icon-interest-on);
									@include sprite-position($icon-interest-on);
									@include sprite-width($icon-interest-on);
									@include sprite-height($icon-interest-on);
								}
							}
						}
					}
				}
			}
		}
	}
}

.content-title {
	display: block;
	margin: 60px 0 40px;
	color: #333;
	font-size: $size-3;
	line-height: 1;

	&.is-liner {
		&.top-line {
			font-size: $size-4;
			margin-top: 100px;
			padding-top: 30px;
			border-top: 1px solid #333;
		}

		&.bottom-line {
			padding-bottom: 40px;
			border-bottom: 1px solid #ccc;
		}
	}
}

.no-item {
	padding: 58px 0 50px;
	text-align: center;

	&-info__wrap {
		background-color: #f9f9f9;
		margin-top: 100px;
		padding: 30px 0 80px;

		.cart-item-button-wrap {
			margin-top: 10px;

			.button.is-primary.is-outlined {
				background-color: #fff;

				&:hover {
					background-color: #000;
					color: #fff;
				}
			}
		}
	}

	&__info {
		display: block;
		margin-top: 25px;
		color: #333;
		font-size: $size-5;
	}
}

.total-amount {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
	width: 100%;
	height: 80px;
	padding: 18px 0;
	border-top: 1px solid #eee;
	background-color: #f9f9f9;

	ul {
		display: block;

		%beforeStyle {
			display: inline-block;
			margin: 0 3px 0 7px;
			color: #333;
			font-size: $size-4;
		}

		.discount {
			&:before {
				content: '-';
				@extend %beforeStyle;
			}
		}

		.delivery {
			&:before {
				content: '+';
				@extend %beforeStyle;
			}
		}

		.pay {
			&:before {
				content: '=';
				@extend %beforeStyle;
			}
		}

		.number {
			color: #333;
			font-size: $size-4;
			font-style: normal;
			font-weight: 600;

			.num {
				font-style: normal;
				font-weight: 600;
			}
		}
	}
	.delivery-info {
		display: inline-block;
		width: 100%;
		margin-top: 4px;
		color: #777;
		font-size: $size-5;
		text-align: center;
		i {
			display: inline-block;
			margin-left: 5px;
			vertical-align: middle;
		}
	}
}

.total-itam-pay {
	max-width: 890px;
	margin: 0 auto;
	padding: 0 10px;
	background-color: #f9f9f9;
	.itam-pay-wrap {
		padding: 20px 0;
		dl {
			display: flex;
			justify-content: space-between;
			align-items: center;
			flex-wrap: wrap;
			width: 100%;
			padding: 7px 0;
			&.pay {
				margin-top: 10px;
				padding: 20px 0 10px;
				border-top: 1px solid #333;
				.tit {
					color: #333;
					font-size: 1.4rem;
					font-weight: 600;
				}

				.number {
					position: relative;
					color: #333;
					font-size: 1.4rem;
					font-weight: 600;

					.num {
						color: #333;
						font-size: 2.1rem;
						font-weight: 600;
						font-style: normal;
					}
				}
			}
			.tit {
				color: #777;
				font-size: 1.3rem;
				font-weight: 400;
			}

			.number {
				color: #333;
				font-size: 1.2rem;

				.num {
					margin-right: 3px;
					color: #333;
					font-size: 1.6rem;
					font-style: normal;
				}
			}
		}
	}
}

.cart-item-button-wrap {
	justify-content: center;
	margin-top: 50px;

	.button {
		width: calc(50%);
		margin-bottom: 0;
		margin-left: 10px;

		// font-size: $size-4;
		&:first-child {
			margin-left: 0;
		}
	}
}

.contents-info-wrap {
	padding: 2rem;
	background-color: #f9f9f9;

	&.no-title {
		ul {
			margin-top: 0;
		}
	}

	.title {
		color: #333;
		font-size: $size-5;
		font-weight: 600;
	}

	ul {
		margin-top: 0.8rem;

		li {
			//margin-top: 0.5em;
			color: #888;
			font-size: $size-6;
			line-height: 1.6;
		}

		.is-danger {
			color: #ed2650;
		}
	}
}

.contents-info-wrap2 {
	padding: 1.25rem;
	border: 1px solid #ccc;

	.title {
		color: #333;
		font-size: $size-5;
		font-weight: 400;
	}
}

.dot-list {
	&--blue {
		margin-top: 15px;

		li {
			margin: 0;
			color: #28a0e4;
			font-size: 1.2rem;
		}
	}
}

.dot-pagination {
	margin: 15px 0;
	text-align: center;
	.swiper-pagination-bullet {
		width: 10px;
		height: 10px;
		background-color: #ccc;
		&-active {
			background-color: #333;
		}
	}
}

.is-h3 {
	&.is-liner {
		margin-bottom: 0;
		padding-bottom: 1.5rem;
		border-bottom: 1px solid #333;

		&__style2 {
			border-bottom: 1px solid #333;
			margin-bottom: 1.5rem;
			font-size: $size-3;
		}
	}
	&.is-liner-dark {
		margin-bottom: 0;
		padding-bottom: 1rem;
		border-bottom: 1px solid #777;
	}
}
.gifts-item {
	.single-swiper {
		overflow: hidden;
	}
	.product-item {
		&-header {
			position: relative;
			height: 80px;
			&__detail {
				&-name {
					display: inline-block;
					min-height: auto;
					max-height: 37px;
					color: #333;
					font-size: 1.3rem;
					overflow: hidden;
					text-overflow: ellipsis;
					display: -webkit-box;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
				}
				&-item {
					position: absolute;
					left: 0;
					bottom: 22px;
					color: #777;
					font-size: 1.2rem;
					text-overflow: ellipsis;
					white-space: nowrap;
					word-wrap: normal;
					width: 100%;
					overflow: hidden;
				}
				&-date {
					display: flex;
					justify-content: left;
					align-items: center;
					position: absolute;
					left: 0;
					bottom: 0;
					z-index: 1;
					color: #333;
					.tit {
						color: #333;
						font-size: 1.2rem;
					}
					.date {
						position: relative;
						margin-left: 10px;
						padding-left: 10px;
						color: #333;
						font-size: 1.3rem;
						&:before {
							display: inline-block;
							content: '';
							position: absolute;
							top: 50%;
							left: 0;
							z-index: 1;
							width: 1px;
							height: 6px;
							background-color: #ccc;
							transform: translateY(-50%);
						}
					}
				}
			}
		}
	}
}

.floating-interval-wrap {
	padding-bottom: 85px;
}

.cart-info-wrap {
	.card-header {
		&-title {
			padding: 20px 0;
			font-size: 1.4rem;
			font-weight: 600;
		}
	}
	.card-content {
		.dot-list {
			li {
				line-height: 1.5;
			}
		}
	}
}

.swiper-control-wrap {
	position: relative;

	&.bundle-order-items {
		margin-top: 100px;
		padding-bottom: 40px;

		.section-category-control-wrap {
			top: 0;
		}
	}

	.top-line {
		+ .section-category-control-wrap {
			top: 20px;
		}
	}

	.bottom-line {
		+ .section-category-control-wrap {
			top: 0;
		}
	}

	.section-category-control-wrap {
		position: absolute;
		top: 20px;
		right: 0;

		&.is-liner {
			.swiper-button-prev,
			.swiper-button-next {
				border: 1px solid #ccc;
				position: static;
			}

			.swiper-button-prev {
				border-right-color: transparent;
			}
		}

		&.only-arrow {
			width: 80px;
		}
	}
}

.items {
	&-horizontal {
		&-layout {
			justify-content: space-between;
			align-items: flex-start;

			.img {
				width: 150px;
			}

			&__info {
				width: 499px;

				.title-wrap {
					justify-content: space-between;
					align-items: center;
					margin-bottom: 15px;

					.item-name {
						overflow: hidden;
						width: 435px;
						color: #333;
						font-size: $size-5;
						font-weight: 600;
						letter-spacing: -0.2px;
						text-overflow: ellipsis;
						white-space: nowrap;
					}

					.btn-detail {
						color: #333;
						font-size: $size-6;
						line-height: 24px;

						i {
							margin-left: 5px;

							&:before {
								color: #333;
							}
						}
					}
				}

				.item-info {
					overflow: hidden;
					display: -webkit-box;
					height: 48px;
					color: #777;
					font-size: $size-5;
					text-overflow: ellipsis;
					word-break: break-all;
					-webkit-line-clamp: 2;
					-webkit-box-orient: vertical;
				}
			}
		}
	}
}

.no-item-cart__info {
	padding: 40px 0 30px;
	.image {
		display: block;
		width: 100%;
		max-width: 91px;
		margin: 0 auto 30px;
	}
	&--text {
		display: block;
		color: #333;
		font-size: 1.6rem;
		text-align: center;
	}
}

.button-area {
	&.gifts-wrap {
		justify-content: left;
		align-items: flex-start;
		flex-wrap: wrap;
		margin-top: 30px;

		.btn-gifts {
			&.is-light {
				color: #333;
			}
		}

		.name-wrap {
			width: 380px;
			margin-left: 10px;
			padding-top: 4px;

			.name {
				overflow: hidden;
				color: #999;
				font-size: $size-6;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}
}
