.text-ellipsis-2 {
	display: block;
	display: -webkit-box;
	overflow: hidden;
	word-break: break-all;
	word-wrap: break-word;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	transition: opacity 0.1s;
}

.text-ellipsis {
	display: block;
	word-wrap: normal;
	word-break: break-all;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

.one-page-swiper {
	.swiper-slide {
		img {
			display: block;
		}
	}

	.swiper-button-next {
		display: inline-block;
		position: static;
		width: auto;
		margin: 0;
	}

	.swiper-button-prev {
		display: inline-block;
		position: static;
		width: auto;
		margin: 0;
	}

	.swiper-pagination {
		display: inline-block;
		position: static;
		// width: auto;
	}
}

.section-category-item {
	.swiper-button-prev {
		display: inline-block;
		position: static;
		width: auto;
		margin: 0;
	}

	.swiper-button-next {
		display: inline-block;
		position: static;
		width: auto;
		margin: 0;
	}

	.swiper-pagination {
		display: inline-block;
		position: static;
	}
}

.section-category-control-wrap {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	right: 10px;
	bottom: 10px;
	z-index: 10;
	width: auto;
	height: 2.5rem;
	div {
		width: 40px;
		height: 40px;
		outline: none;
	}

	%flexSystem {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 0;
	}

	%before {
		display: inline-block;
		width: 40px;
		color: #000;
		font-size: $size-5;
		text-align: center;
	}

	div.swiper-button-next {
		@extend %flexSystem;
		margin: 0;

		&:before {
			@extend %before;
		}
	}

	div.swiper-button-prev {
		@extend %flexSystem;
		margin: 0;

		&:before {
			@extend %before;
		}
	}

	.swiper-button-pause {
		@extend %flexSystem;
		width: 2.5rem;
		height: 2.5rem;
		margin-left: 0.8rem;
		border: 1px solid #333;
		border-radius: 2.5rem;
		background-color: rgba(0, 0, 0, 0.5);
		flex-shrink: 0;
		cursor: pointer;
		&.swiper-button-pause-outline--none {
			border: 0;
			outline: 0;
		}
		i {
			color: #fff;
			font-size: 0.9rem;
		}
	}

	.swiper-pagination-fraction {
		display: flex;
		justify-content: center;
		align-items: center;
		position: static;
		width: auto;
		padding: 0 2rem;
		height: 2.5rem;
		border-radius: 2.5rem;
		color: #fff;
		font-size: $size-5;
		background-color: rgba(0, 0, 0, 0.8);

		.swiper-pagination-current {
			margin-right: 0.5rem;
			color: #fff;
			font-weight: 600;
		}
		.swiper-pagination-total {
			margin-left: 0.5rem;
		}
	}
	.swiper-pagination-wrap {
		display: flex;
		position: static;
		width: auto;
		height: 2.5rem;
		padding: 0 0.7rem 0 1.4rem;
		border-radius: 2.5rem;
		color: #fff;
		background-color: rgba(0, 0, 0, 0.8);
		justify-content: center;
		align-items: center;
		font-size: $size-4;
		.swiper-pagination-fraction {
			width: auto;
			height: auto;
			padding: 0;
			background: transparent;
			vertical-align: middle;
			font-weight: normal;
			color: #bbb;

			.swiper-pagination-current {
				margin-right: 0.5rem;
				color: #fff;
				font-weight: 600;
			}
			.swiper-pagination-total {
				margin-left: 0.5rem;
				font-weight: normal;
			}
		}
		.swiper-button-plus {
			display: inline-block;
			vertical-align: middle;
			padding: 0.5rem;
			margin: -0.3rem 0 0 0.7rem;
		}
		.ico-plus {
			font-size: 0.9rem;
			font-weight: bold;
			color: #fff;
		}
	}
}

.section-category-item__recommend {
	.section-category-control-wrap {
		width: 127px;
		height: 40px;
		margin-top: 55px;

		.swiper-button-next,
		.swiper-button-prev {
			position: static;
			border: 1px solid #ccc;
		}
	}
}

.search-result-promition {
	.swiper-button-next,
	.swiper-button-prev {
		position: static;
		border: 1px solid #ccc;
	}
}

.section {
	&-contents {
		&--data {
			display: flex;
			justify-content: center;
		}

		&-item {
			&-wrap {
				margin-bottom: 60px;
			}

			&__title {
				padding-bottom: 40px;
				color: #333;
				font-size: $size-3;
				line-height: 1;

				&.is-liner {
					border-bottom: 1px solid $black;
				}
			}

			&__subtitle {
				max-width: 170px;
				color: #777;
				font-size: $size-4;
				word-break: keep-all;
			}

			&__search {
				&--not {
					padding-top: 2rem;
					// min-height: 500px;
					// padding-top: 140px;
					text-align: center;

					.icon-wrap {
						position: relative;
						width: 80px;
						height: 80px;
						margin-bottom: 2rem;
						border-radius: 50%;
						border: 3px solid #ccc;
						background-color: #fff;

						i {
							position: absolute;
							top: 50%;
							left: 50%;
							transform: translate(-50%, -50%);
						}
					}

					.info {
						color: #777;
						font-size: $size-4;
						text-align: center;
					}
				}
			}

			&__list {
				flex-wrap: wrap;

				&.series {
					margin: -45px -12.5px 0;

					li {
						display: inline-block;
						width: 320px;
						margin: 70px 12.5px 0;
						vertical-align: top;

						// &:nth-child(4n + 1) {
						// 	margin-left: 0;
						// }
						.item-link {
							display: block;
							overflow: hidden;

							img {
								display: block;
								width: auto;
								height: 320px;
							}
						}
					}
				}

				&--name {
					display: block;
					margin-top: 15px;
					color: #333;
					font-size: $size-4;
				}
			}
		}

		&-wrap {
			&.is-fixed {
				.left-menu {
					position: fixed;
					top: 0;
					z-index: 10;
					padding-top: 10px;
					transition: all 0.5s;
				}
			}
		}

		&-tab {
			margin-top: 10px;
			margin-bottom: 20px;

			&__list {
				flex-wrap: wrap;
				// margin-left: 2px;
				z-index: 50;
				width: 100%;
				// max-width: 1366px;
				padding-left: 2px;
				background-color: #fff;

				.item-list {
					position: relative;
					width: 218px;
					margin: -1px 0 0 -1px;
					border: 1px solid #ddd;
					box-sizing: border-box;

					&.is-active {
						z-index: 1;
						border-color: #333;

						.link {
							color: #333;
							// font-weight: 600;
						}
					}

					.link {
						display: flex;
						height: 50px;
						color: #999;
						font-size: $size-4;
						line-height: 1.2;
						align-items: center;
						justify-content: center;
						flex-wrap: wrap;
						@include word-wrap;
						cursor: pointer;

						&:after {
							content: none;
						}
					}
				}
			}
		}
	}

	&-category {
		&-contents {
			justify-content: space-between;
			padding: 60px 0 0;
		}

		&-left {
			float: left;
			width: 220px;
		}

		&-right {
			float: right;
			width: 1086px;
		}

		&-item {
			&.is-interval {
				margin-bottom: 100px;
			}

			.section-contents-tab {
				margin-top: 0;
			}

			.tab-block {
				.container {
					max-width: 765px;
				}
			}

			.swiper-slide {
				img {
					display: block;
				}
			}

			.swiper-button-next {
				display: inline-block;
				position: static;
				width: auto;
				margin: 0;
			}

			.swiper-button-prev {
				display: inline-block;
				position: static;
				width: auto;
				margin: 0;
			}

			.swiper-pagination {
				display: inline-block;
				position: static;
				// width: auto;
			}

			&.depth4 {
				margin-bottom: 40px;
			}

			&--pagination {
				justify-content: center;
				margin-top: 55px;
			}

			&__search--info {
				margin-top: 2rem;
				color: #777;
				font-size: 1.3rem;
				line-height: 1;
			}
		}

		&-item__recommend {
			justify-content: space-between;
			margin-bottom: 55px;

			&--left {
				width: 220px;
			}

			&--right {
				width: 806px;
				margin: 0;
			}

			&.is-interval {
				margin-bottom: 100px;
			}

			.section-category-control-wrap {
				position: static;
				width: 127px;
				height: 40px;
				margin-top: 55px;

				.swiper-button-next,
				.swiper-button-prev {
					border: 1px solid #eee;
				}
			}
		}

		&-item__md {
			justify-content: space-between;
			margin-bottom: 55px;

			&.is-interval {
				margin-bottom: 100px;
			}

			&--left {
				width: 500px;

				.section-contents-item__title {
					padding-bottom: 40px;
					line-height: 1.2;
				}
			}

			&--right {
				flex-wrap: wrap;
				justify-content: space-between;
				width: 528px;
				margin-top: 190px;

				li {
					margin-top: 60px;
				}
			}
		}

		&-item-search {
			margin-bottom: 60px;

			&.is-fixed {
				padding-top: 65px;

				.section-category-item__relation {
					position: fixed;
					width: 1086px;
					z-index: 30;
				}
			}
		}

		&-item__relation {
			justify-content: space-between;
			align-items: flex-start;
			position: relative;
			width: 100%;
			height: auto;
			padding: 2rem 1rem;
			background-color: #f1f1f1;

			ul {
				flex: 1 0;
				text-align: left;
				font-size: 0;
				flex-wrap: wrap;
				padding-right: 68px;
				&.filter-list {
					overflow: visible;
					width: calc(100% - 15px);
					height: auto;
					white-space: normal;
					li {
						margin-left: 0;
						margin-right: 12px;
						padding: 4px 0;
						&:last-child {
							margin-right: 0;
						}
					}
				}
				li {
					display: inline-block;
					margin-right: 11px;
					// padding: 6px 20px;
					background-color: #f1f1f1;
					line-height: 1;
					.search-text {
						display: inline-block;
						color: #333;
						font-size: 1.2rem;
						vertical-align: middle;
					}
					&:first-child {
						margin-left: 0;
					}
					.btn-del {
						display: inline-block;
						padding-right: 0;
						padding-left: 5px;
						font-size: 10px;
						vertical-align: middle;
					}
				}
			}
			.btn-reset-list {
				display: block;
				position: absolute;
				top: 50%;
				// right: 10px;
				right: 1rem;
				margin-top: -9px;
				padding: 0;
				// flex: 0 0 65px;
				text-align: right;
				// position: absolute;
				// top: 15px;
				// right: 0;
				// z-index: 1;
				// height: 2rem;
				// background-color: #fff;
				// transform: translateY(-50%);
				.ico-reset {
					margin-left: 5px;
					vertical-align: bottom;

					&:before {
						font-size: $size-4;
					}
				}
			}
		}

		&-item__search {
			justify-content: space-between;
			margin: 0 0 20px;

			.left-contents {
				align-items: center;

				a {
					margin: 0 0 0 20px;
					color: #777;
					font-size: $size-4;
					font-weight: 400;

					&:first-child {
						margin: 0 0 0 0;
					}

					&.is-active {
						color: #333;
						border-color: #333;
						font-weight: 600;

						&:after {
							content: '';
						}
					}

					&:after {
						content: none;
					}
				}
			}

			&--list {
				margin: -60px -12.5px 0;

				li {
					float: none;
					display: inline-block;
					margin: 60px 12.5px 0;
					vertical-align: top;
				}
			}
		}
	}
}

.dropdown-wrap {
	.dropdown {
		&.is-active {
			span.icon {
				transform: rotate(180deg);
			}

			.dropdown-trigger {
				.button {
					border-color: $black;
				}
			}
		}

		span {
			align-content: center;
		}

		em {
			margin-top: -2px;
			margin-right: 15px;
			vertical-align: middle;
			align-content: center;
		}

		.dropdown-trigger {
			.button {
				display: flex;
				justify-content: space-between;
				min-width: 180px;
				margin-left: 0;
				border-color: #ccc;
				text-align: left;
			}
		}
	}

	.dropdown-menu {
		min-width: 180px;
		padding-top: 0;
		top: 50px;
		left: 0;
		right: 0;

		.dropdown-content {
			overflow-x: hidden;
			overflow-y: auto;
			max-height: 300px;
			padding: 0;
			border-color: #333;
			border-top: none;
			box-shadow: none;

			.dropdown-item {
				padding: 8px 20px;
				color: #999;

				&.is-active {
					background-color: #f9f9f9;
					color: #333;
					font-weight: 600;
				}
			}
		}
	}
}

.category-info {
	&__header {
		padding: 1rem 1rem;
	}

	&__subtitle {
		font-size: $size-4;
		margin: 20px 0;
		color: $black;
	}

	&__title {
		font-size: $size-1;
		color: $black;
		margin: 2rem 0;
		font-weight: 600;
	}

	&__description {
		font-size: $size-4;
		color: #777;
		margin: 2rem 0;

		strong {
			color: $black;
			font-weight: 400;
		}
	}
}
