*,
*::before,
*::after {
	box-sizing: border-box;
}

// mixin 추가
@mixin word-wrap {
	word-break: keep-all;
	word-wrap: break-word;
}
html,
body {
	min-width: 320px;
	overflow-x: hidden;
}
caption,
legend,
.hidden {
	position: absolute !important;
	width: 1px;
	height: 1px;
	overflow: hidden;
	clip: rect(1px 1px 1px 1px);
	/* IE6, IE7 */
	clip: rect(1px, 1px, 1px, 1px);
}

button {
	border: none;
	background-color: transparent;
	cursor: pointer;
	vertical-align: middle;
	outline: none;
}

button:disabled,
button:disabled:hover,
button:disabled:focus {
	cursor: default;
}

::selection {
	background: #2ba2d9;
	color: #fff;
}

::-moz-selection {
	background: #2ba2d9;
	color: #fff;
}

.button-area {
	.button {
		margin-bottom: 2rem;
	}
}

.pa-all0 {
	padding: 0 !important;
}

.pt0 {
	padding-top: 0 !important;
}

.pb0 {
	padding-bottom: 0 !important;
}

.mt0 {
	margin-top: 0 !important;
}

.mt05 {
	margin-top: 0.5rem !important;
}

.mt1 {
	margin-top: 1rem !important;
}

.mt-1 {
	margin-top: -1px !important;
}

.mt-2 {
	margin-top: -20px !important;
}

.mt2 {
	margin-top: 20px !important;
}

.mt3 {
	margin-top: 30px !important;
}

.mt4 {
	margin-top: 40px !important;
}

.mt5 {
	margin-top: 50px !important;
}

.mt6 {
	margin-top: 60px !important;
}

.mt7 {
	margin-top: 70px !important;
}

.mb0 {
	margin-bottom: 0 !important;
}

.mb1 {
	margin-bottom: 10px !important;
}

.mb2 {
	margin-bottom: 20px !important;
}

.mb3 {
	margin-bottom: 30px !important;
}

.mb4 {
	margin-bottom: 40px !important;
}

.mb5 {
	margin-bottom: 50px !important;
}

.mb6 {
	margin-bottom: 60px !important;
}

.mb7 {
	margin-bottom: 70px !important;
}

.mb10 {
	margin-bottom: 100px !important;
}

.ml0 {
	margin-left: 0 !important;
}

.ml05 {
	margin-left: 0.5rem !important;
}

.ml1 {
	margin-left: 10px !important;
}

.ml2 {
	margin-left: 20px !important;
}

.ml3 {
	margin-left: 30px !important;
}

.ml4 {
	margin-left: 40px !important;
}

.ml5 {
	margin-left: 50px !important;
}

.mr1 {
	margin-right: 10px !important;
}

.mr2 {
	margin-right: 20px !important;
}

.mr3 {
	margin-right: 30px !important;
}

.mr4 {
	margin-right: 40px !important;
}

.mr5 {
	margin-right: 50px !important;
}

.mr6 {
	margin-right: 60px !important;
}

.inline-flex {
	display: inline-flex;
	align-items: center;
	vertical-align: middle;
}

.float-left,
.fl {
	float: left;
}

.float-right,
.fr {
	float: right;
}

// .text-center,
// .tl {
// 	text-align: center !important;
// }family-primary

.text-left,
.tl {
	text-align: left !important;
}

.text-right,
.tr {
	text-align: right !important;
}

.text-initial {
	text-align: inherit !important;
}

.img-initial {
	img {
		width: auto !important;
		max-width: inherit !important;
	}
}
img.img-initial {
	width: auto !important;
	max-width: inherit !important;
}
.link {
	display: inline-block;
	position: relative;
	color: #777;
	font-size: 1.2rem;
	line-height: 1.2;
	text-decoration: none;
	transition: all 0.3s;

	&:after {
		opacity: 1;
		content: '';
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 1px;
		padding-bottom: 1px;
		background-color: #ccc;
		// border-bottom: 1px solid #777;
		transform: scale(1, 1);
		transition: all 0.3s;
	}

	&:hover:after {
		opacity: 0;
		transform: scale(0, 1);
	}
}

.word-wrap {
	word-break: keep-all;
	word-wrap: break-word;
}

// .icon {
// 	display: block;
// 	position: absolute;
// 	top: 50%;
// 	right: 0;
// 	bottom: 0;
// 	left: 50%;
// 	margin: 0;
// 	line-height: 0;
// 	transform: translate(-50%, -50%);
// }

// 웹접근성 skip
.skipnavi {
	a {
		display: block;
		overflow: hidden;
		width: 1px;
		height: 1px;
		margin: 0 -1px -1px 0;
		padding: 0;
		font-size: 0;
		line-height: 0;

		&:hover,
		&:active,
		&:focus {
			position: relative;
			width: 100%;
			height: auto;
			margin: 0;
			padding: 5px 0;
			color: #fff;
			text-indent: 10px;
			font-weight: 400;
			font-size: $size-6;
			line-height: 1;
			text-decoration: none !important;
			text-align: center;
			background-color: rgba(0, 0, 0, 0.85);
		}
	}
}

html {
	font-size: 62.5%;
}

body {
	letter-spacing: -0.07rem;
}

.btn-filter-list {
	&:after {
		display: block;
		content: '';
		clear: both;
	}

	li {
		position: relative;
		float: left;
		margin-left: 10px;
		padding-left: 11px;

		&:first-child {
			margin-left: 0;
			padding-left: 0;

			&:before {
				content: none;
			}
		}

		&:before {
			display: inline-block;
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			z-index: 1;
			width: 1px;
			height: 8px;
			background-color: #cacaca;
			transform: translateY(-50%);
		}

		&.is-active {
			.btn {
				color: #333;
				font-weight: 600;
			}
		}

		.btn {
			padding: 0;
			color: #777;
			font-size: 1.2rem;
			font-weight: 400;
		}
	}

	&.is-bottom-liner {
		padding-bottom: 15px;
		border-bottom: 1px solid #333;
	}
}

button,
input[type='radio'],
input[type='checkbox'],
select {
	webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent;
	-webkit-touch-callout: none;
	outline: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-o-user-select: none;
	user-select: none;
	cursor: pointer;
}
a {
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: transparent; /* For some Androids */
	vertical-align: text-bottom;
}
input[type='text'],
input[type='password'],
input[type='email'],
input[type='url'],
input[type='date'],
input[type='tel'] {
	-webkit-tap-highlight-color: transparent;
	-moz-appearance: none;
	-webkit-appearance: none;
	appearance: none;
}

.dot-list {
	> li {
		//margin-top: 0.4em;
		position: relative;
		padding: 0.25rem 0 0.25rem 0.6rem;
		font-size: $size-4;
		line-height: 1.5; // line-height 바꾸지말것 이값이 맞음
		vertical-align: top;

		@include mobile-device {
			font-size: 3.8vw;
		}
		@include word-wrap;

		&:first-child {
			margin-top: 0;
		}

		&:before {
			display: block;
			position: absolute;
			left: 0;
			top: -0.5rem;
			content: '.';
			width: 0.6rem;
			font-size: $size-2;
		}

		button {
			line-height: 1.2;
			vertical-align: text-top;
		}
	}
}

.reference-list {
	> li {
		margin-top: 0.4em;
		padding-left: 1.5rem;
		text-indent: -1.5rem;
		font-size: 1.2rem;
		line-height: 1.5; // line-height 바꾸지말것 이값이 맞음

		@include word-wrap;

		&:first-child {
			margin-top: 0;
		}

		&:before {
			display: block;
			float: left;
			content: '※';
			width: 1.5rem;
			font-size: 1.2rem;
		}

		button {
			line-height: 1.2;
			vertical-align: text-top;
		}
	}
}

.hyphen-list {
	> li {
		margin-top: 0.5rem;
		padding-left: 1.1rem;

		&:before {
			display: block;
			float: left;
			content: '-';
			width: 0.8rem;
			margin: -0.2rem 0 0 -0.8rem;
		}

		&:first-child {
			margin-top: 0;
		}
	}

	&-fixed {
		> li {
			margin-top: 0;
		}
	}
}

// 컬러 red 설정
.color-black {
	color: $black !important;
}

.color-red {
	color: $red !important;
}

.color-cyan {
	color: #47aeab !important;
}

.color-dark-gray {
	color: $black !important;
}

.color-gray {
	color: $grey-dark !important;
}

.color-blue {
	color: $cyan !important;
}

.color-navy {
	color: #1e69a8 !important;
}

.bg-white {
	background-color: #fff;
}

.bg-red {
	background-color: $red;
}

.bg-gray {
	background-color: #777;
}

.bg-blue {
	background-color: #28a0e4;
}

.bg-orange {
	background-color: #ff8d39;
}

.bg-brown {
	background-color: #9d8474;
}

.bg-black {
	background-color: #000;
}

.dl-table-style {
	display: table;
	table-layout: fixed;
	width: 100%;
	margin-bottom: 2rem;

	&__dl {
		display: table-row;

		&:first-child {
			.dl-table-style__dt,
			.dl-table-style__dd {
				border-top: 1px solid #eee;
			}
		}
	}

	&__dt,
	&__dd {
		display: table-cell;
		padding: 1rem;
		border-bottom: 1px solid #eee;
		font-size: $size-5;
		vertical-align: middle;
	}

	&__dt {
		width: 30%;
		background-color: #f9f9f9;
		color: #333;
	}

	&__dd {
		li {
			font-size: $size-normal;
			line-height: 1.1;
			list-style-position: inside;

			> p {
				margin-left: 18px;
			}
		}

		.desc {
			display: inline-block;
			margin-bottom: 5px;
		}

		.desc2 {
			font-size: $size-3;
			color: #777;
		}
	}

	&-ellipsis {
		@include text-ellipsis();
	}
}

.space-between {
	display: flex;
	justify-content: space-between;
}

.align-items-c {
	display: flex !important;
	align-items: center;
}

.flex-end {
	display: flex;
	justify-content: flex-end !important;
}

.button-area {
	&.is-flex {
		&.is-center {
			width: 100%;
			justify-content: center;
			align-items: center;
		}
	}
}
.is-flex {
	.flex-left {
		flex: 1 0;
	}
	.flex-right {
		flex: 0 0;
	}
}
.buttons.field {
	&.is-align-vertical {
		flex-direction: column;
		.control.is-expanded {
			width: 100%;
			margin: 0.1em 0;
			.button {
				width: 100%;
			}
		}
	}
}

.text-pre-line {
	white-space: pre-line;
	p {
		white-space: pre-line;
	}
}
.text-inline-block {
	display: inline-block;
}
// .loading-container {
// 	position: relative;

// 	.loading {
// 		@include loader;
// 		position: absolute;
// 		top: 50%;
// 		left: 50%;
// 		width: 30px;
// 		height: 30px;
// 		margin-top: -15px;
// 		margin-left: -15px;
// 		border-width: 3px;
// 		border-left-color: #ddd;
// 		border-bottom-color: #ddd;
// 	}
// }

.loading-container {
	// position: relative;
	display: none;
	overflow: hidden;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	top: 0;
	z-index: 40;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	padding: 10px;
	.modal-background {
		background-color: rgba(0, 0, 0, 0.5);
	}
	&.is-active {
		display: flex;
	}

	.loading {
		@include loader;
		position: absolute;
		top: 50%;
		left: 50%;
		width: 30px;
		height: 30px;
		margin-top: -15px;
		margin-left: -15px;
		border-width: 3px;
		border-left-color: #ddd;
		border-bottom-color: #ddd;
		&-text {
			display: block;
			position: absolute;
			z-index: 1;
			margin-top: 55px;
			color: #ddd;
			font-size: 13px;
			font-weight: 400;
			text-align: center;
		}
	}
}
/* pc버전
.terms-content {
	// padding: 1em 0;

	p {
		font-weight: 600;
		color: #333;
	}

	ul {
		margin: 0.7em;

		li {
			margin: 0.7em 0;
		}
	}

	>ul {
		>li {
			>ul {
				>li {}
			}
		}
	}
}
*/

/* 모바일 재정의함(기존꺼 위에 있음) */
.terms-content {
	font-size: $size-5;
	@include word-wrap;

	p {
		margin-bottom: 1.6rem;
	}

	> ul,
	> ol {
		margin-bottom: 1.6rem;

		> li {
			margin-bottom: 1.6rem;
			list-style: none;
		}

		&:last-child {
			margin-bottom: 0;

			li:last-child {
				margin-bottom: 0;
			}
		}
	}
}

.__layout {
	&--tab {
		&2 {
			width: 100%;

			li {
				width: 50% !important;
			}
		}

		&3 {
			li {
				width: 33.333% !important;
			}
		}

		&4 {
			li {
				width: 25% !important;
			}
		}

		&5 {
			li {
				width: 20% !important;
			}
		}

		&6 {
			li {
				width: 16.667% !important;
			}
		}
	}
}

/* 3 Depth Tab */
.tabs-3d {
	display: flex;
	margin-bottom: 1.5rem;

	li {
		margin: 0 1rem;

		a {
			display: inline-block;
			color: #777;
			font-size: $size-3;

			&:hover,
			&:focus,
			&:active {
				color: #333;
				outline: none;
			}

			&.link {
				line-height: 1.9rem;
			}
		}

		&:first-child {
			margin-left: 0;
		}

		&:last-child {
			margin-right: 0;
		}

		&.is-active {
			a {
				color: #333;
				font-weight: 600;
			}
		}
	}
}

// 신규
.tabs-3d-wrap {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-bottom: 1.5rem;
	padding-top: 2rem;

	.tabs-3d {
		margin: 0;

		li {
			position: relative;
			margin-left: 1rem;
			margin-right: 0;
			padding-left: 1rem;

			a {
				font-size: $size-5;
			}

			&::before {
				content: '';
				display: block;
				clear: both;
				position: absolute;
				top: 50%;
				left: 0;
				width: 1px;
				height: 0.6rem;
				background-color: #cacaca;
				margin-top: -0.3rem;
			}

			&:first-child {
				padding: 0;
				margin: 0;

				&::before {
					display: none;
				}
			}
		}
	}

	.checkbox input[type='checkbox'] + label,
	.radio input[type='radio'] + label {
		line-height: 1.7rem;
	}
}

// 콘텐츠 간격 설정
.gap-1 {
	// 1Depth 콘텐츠 간격
	clear: both;
	height: auto;
	margin: 0 0 4rem;
	background-color: transparent;
}

.gap-2 {
	// 2Depth 콘텐츠 간격
	clear: both;
	height: auto;
	margin: 0 0 2rem;
	background-color: transparent;
}

.gap-3 {
	// 3Depth 콘텐츠 간격
	clear: both;
	height: auto;
	margin: 0 0 1.5rem;
	background-color: transparent;
}

// ico- 로 시작하는 폰트 아이콘에 폰트 클래스 부여
.is-ico {
	font-family: 'iconset' !important;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.has-addons--fixed {
	.button {
		width: 9rem;
		min-width: 9rem;
		padding-left: 5px;
		padding-right: 5px;
	}

	.limit-count {
		position: absolute;
		z-index: 10;
		top: 50%;
		right: 1rem;
		margin-top: -0.95rem;
		cursor: default;
	}

	.input {
		padding-right: 5rem;
	}
}

.toast {
	display: block;
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 100;
	width: calc(100% - 20px);
	max-width: 340px;
	padding: 10px 0;
	background-color: rgba(0, 0, 0, 0.6);
	color: #fff;
	font-size: 1.5rem;
	text-align: center;
	transform: translate(-50%, -50%);
	opacity: 0;
	animation: toast 0.6s forwards ease-out;

	&.out {
		animation: toastOut 0.6s forwards ease-out;
	}
}
.tooltip-wrap {
	display: inline-block;
	position: relative;
}
@keyframes toast {
	0% {
		transform: translate(-50%, 100%);
		opacity: 0;
	}

	100% {
		transform: translate(-50%, -50%);
		opacity: 1;
	}
}

@keyframes toastOut {
	0% {
		transform: translate(-50%, -50%);
		opacity: 1;
	}

	100% {
		transform: translate(-50%, -100%);
		opacity: 0;
	}
}

/* 링크없는 두줄 ellipsis */
.ellipsis-2 {
	display: block;
	display: -webkit-box;
	overflow: hidden;
	word-break: break-all;
	word-wrap: break-word;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	transition: opacity 0.1s;
	color: #777;
}

/* 링크용 한줄 ellipsis */
.link-ellipsis-1 {
	position: relative;
	overflow: hidden;
	text-align: left;
	word-wrap: normal;
	word-break: break-all;
	text-overflow: ellipsis;
	white-space: nowrap;
	display: block;
	padding-right: 2rem;
	transition: opacity 0.1s;
	color: #777;
}

/* 링크용 두줄 ellipsis */
.link-ellipsis-2 {
	display: block;
	display: -webkit-box;
	overflow: hidden;
	word-break: break-all;
	word-wrap: break-word;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
	transition: opacity 0.1s;
	padding-right: 2rem;
	color: #777;

	&:hover,
	&:focus,
	&:active {
		text-decoration: underline;
		color: #333;
	}
}

/* 모달 푸터 하단 5rem 고정 */
.modal-card-foot {
	.is-expanded .button {
		height: 5rem;
	}
}

/* 컨텐츠 없을시 */
.no-cont {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 5.5rem);
	min-height: 14rem;
	overflow: hidden;

	i {
		display: block;
		text-align: center;
	}

	p {
		margin-top: 2.5rem;
		font-size: $size-4;
	}
	&.is-short {
		height: 25rem;
		min-height: 25rem;
	}
}
.icon.is-large {
	.ico-calendar {
		font-size: 1.9rem;
		color: #333;
	}
}

// table-layout:fixed 추가
.content table {
	table-layout: fixed;
}

$transition: 'cubic-bezier(0.17, 0.04, 0.03, 0.94)';

@mixin text-ellipsis {
	display: block;
	word-wrap: normal;
	word-break: break-all;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

@mixin text-ellipsis-2 {
	display: -webkit-box;
	overflow: hidden;
	word-break: break-all;
	word-wrap: break-word;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

@mixin text-ellipsis-3 {
	display: -webkit-box;
	overflow: hidden;
	word-break: break-all;
	word-wrap: break-word;
	text-overflow: ellipsis;
	-webkit-line-clamp: 3;
	-webkit-box-orient: vertical;
}

@mixin disabled {
	cursor: default;
	pointer-events: none;
}

// alarm-check
.alarm-check {
	position: relative;
	padding: 0 0.3rem;
	color: #fff;
	i.ico-alarm {
		display: inline-block;
		font-size: 1.6rem;
	}
	&.is-active {
		color: $red;
	}
	&-badge {
		display: none;
		position: absolute;
		top: 0;
		right: 0;
		background-color: $red;
		width: 1rem;
		height: 1rem;
		border-radius: 1rem;
		overflow: hidden;
		i {
			position: absolute;
			top: -1px;
			right: -2px;
			font-size: 1rem;
			color: #fff;
		}
	}
	&.is-active {
		.alarm-check-badge {
			display: block;
		}
	}
}

.section {
	.swiper-wrapper {
		height: auto;
	}
}

.twentytwenty-container img {
	width: 100%;
	max-width: inherit;
}

// 검색 관련
.search-result-desc {
	margin-bottom: 3rem;
	border-bottom: 1px solid #333;
	align-items: center;
	.txt-number-info {
		font-size: 1.3rem;
		color: #767676;
		height: 3rem;
		span.num {
			color: #ed2650;
		}
	}
}

/* table responsive */
.table-responsive {
	overflow-y: hidden;
	width: 100%;
	margin-bottom: 15px;
	-ms-overflow-style: -ms-autohiding-scrollbar;
	background: -webkit-radial-gradient(0% 50%, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), -webkit-radial-gradient(100% 50%, farthest-side, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 100% 0;
	background: radial-gradient(farthest-side at 0% 50%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)), radial-gradient(farthest-side at 100% 50%, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0)) 100% 0;
	background-color: white;
	background-repeat: no-repeat;
	background-size: 10px 100%;

	> .table {
		background: -webkit-linear-gradient(left, white 30%, rgba(255, 255, 255, 0)), -webkit-linear-gradient(right, white 30%, rgba(255, 255, 255, 0)) 100% 0;
		background: linear-gradient(to right, white 30%, rgba(255, 255, 255, 0)), linear-gradient(to left, white 30%, rgba(255, 255, 255, 0)) 100% 0;
		background-size: 50px 100%;
		background-repeat: no-repeat;
		max-width: none;
		width: 700px;
		margin-bottom: 0;
	}

	&::-webkit-scrollbar {
		-webkit-appearance: none;
		width: 14px;
		height: 14px;
	}

	&::-webkit-scrollbar-thumb {
		border-radius: 8px;
		border: 3px solid #fff;
		background-color: rgba(0, 0, 0, 0.3);
	}
}
