// level icon

.level-icon {
	display: inline-block;
	width: 13px;
	height: 13px;
	margin-right: 5px;
	line-height: 1;
	vertical-align: middle;
	background-size: 13px auto;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	&__forest {
		background-image: url(../images/common/icon_level_forest.png);
	}
	&__tree {
		background-image: url(../images/common/icon_level_tree.png);
	}
	&__flower {
		background-image: url(../images/common/icon_level_flower.png);
	}
	&__blog {
		background-image: url(../images/common/icon_level_blog.png);
	}
	// &__family {
	// 	background-image: url(../images/common/icon_level_family.png);
	// }
	// &__bronze {
	// 	background-image: url(../images/common/icon_level_bronze.png);
	// }
	// &__silver {
	// 	background-image: url(../images/common/icon_level_silver.png);
	// }
	// &__gold {
	// 	background-image: url(../images/common/icon_level_gold.png);
	// }
	// &__vip {
	// 	background-image: url(../images/common/icon_level_vip.png);
	// }
	// &__vvip {
	// 	background-image: url(../images/common/icon_level_vvip.png);
	// }
}

.select2-results__option--selectable {
	font-size: $size-4;
}
.photo-before-after {
	position: relative;
	text-align: center;
	&.item-photo-regist--label {
		margin-right: 10px;
		text-align: center;
		.photo-before-after__span {
			background-color: transparent;
			color: #333;
		}
		&:before,
		&:after {
			top: 40%;
		}
	}
	&__span {
		position: absolute;
		display: flex;
		// height: 40px;
		bottom: 0;
		background-color: rgba(0, 0, 0, 0.8);
		color: #fff;
		width: 100%;
		align-items: center;
		justify-content: center;
		font-size: $size-4;
		font-weight: 400;
		line-height: 1.1;
	}
}
.embed-container {
	position: relative;
	width: 100%;
	height: 0;
	padding-bottom: 56.25%;
	iframe {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
	}
}
.sortable {
	&-wrap {
		margin-left: -3px;
		margin-right: -3px;
	}
	&-item {
		display: block;
		position: relative;
		overflow: hidden;
		border-radius: 10px;
		border: 3px solid transparent;
		font-size: 0;
		textarea {
			width: 100%;
			border: none;
			outline: none;
			resize: unset;
			min-height: 1.5rem;
			padding: 0.5rem;
		}
		.button-delete {
			display: none;
			top: 5px;
			right: 5px;
		}
		.line + .button-delete {
			top: 2px;
		}
		&:hover {
			border-color: #f9f9f9;
			.button-delete {
				display: block;
			}
		}
		&__youtube {
			display: flex;
			border: 1px solid #ccc;
			.input {
				border: none;
			}
			&:hover,
			&:focus {
				border-color: #333;
			}
		}
	}
	&-chosen {
		.sortable-item {
			border-color: #ed2650;
			&:hover {
				border-color: #ed2650;
			}
		}
	}
}
.comm-edt-wrap {
	position: relative;
	margin: 0.5rem 2rem;
	.button-delete {
		top: 0;
		right: -27px;
		width: 3rem;
		height: 3rem;
		opacity: 0.2;
		background-color: transparent;
		&:before,
		&:after {
			width: 2px;
			height: 1rem;
			background-color: #333;
		}
		&:hover {
			opacity: 1;
			background-color: rgba(0, 0, 0, 0.8);
			&:before,
			&:after {
				width: 2px;
				height: 1rem;

				background-color: #fff;
			}
		}
	}
	.button-comm-edt-handle {
		display: flex;
		position: absolute;
		top: 0;
		// right: -3rem;
		width: 3rem;
		height: 3rem;
		padding: 0;
		// border: 2px solid #333;
		color: #333;
		border-radius: 3rem;
		text-align: center;
		opacity: 0.2;
		align-items: center;
		justify-content: center;
		.ico-move-handle {
			font-size: 20px;
		}
		&:hover {
			border: 2px solid #333;
			opacity: 1;
		}
		&:active {
			opacity: 1;
			border-color: #ed2650;
			background-color: #ed2650;
			color: #fff;
		}
	}
}
#comm-editor {
	.placeholder {
		display: block;
		padding: 0.3em 0;
		color: #777;
		font-size: $size-3;
	}
	.button-delete {
		right: -27px;
	}
	.button-comm-edt-handle {
		left: -27px;
	}
}
// .select2-container
.comm-editor {
	&-header {
		position: fixed;
		display: flex;
		top: 0;
		z-index: 5;
		width: 100%;
		min-width: 1366px;
		height: 11rem;
		padding: 0 40px;
		border-bottom: 1px solid #e5e5e5;
		background-color: #fff;

		align-items: center;
		&__l {
			width: 40%;
			flex-shrink: 0;
			flex-grow: 1;
			justify-content: flex-start;
		}
		&__r {
			width: 40%;
			flex-shrink: 0;
			flex-grow: 1;
			font-size: 0;
			text-align: right;
			justify-content: flex-end;
			.button {
				width: 145px;
				height: 60px;
				margin-left: 10px;
				border-radius: 10px;
				font-size: $size-4;
			}
		}
		&__logo {
			&--main {
				display: inline-block;
				vertical-align: middle;
			}
			&--title {
				display: inline-block;
				margin-top: -1rem;
				margin-left: 5px;
				font-size: 22px;
				font-weight: 600;
				color: #333;
				vertical-align: middle;
			}
		}
		&__title {
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 50%;
			width: 150px;
			height: 50px;
			margin-left: -50px;
			margin-top: -25px;
			font-size: 1.5rem;
			font-weight: 600;
			line-height: 50px;
			text-align: center;
			color: #333;
		}
	}
	&__title {
		display: block;
		// margin-bottom: 13px;
		font-size: $size-3;
		font-weight: 600;
		line-height: 1.1;
		color: #333;
	}
	&__desc {
		display: block;
		font-size: $size-4;
		line-height: 1.3;
		color: #777;
		margin-top: 1rem;
	}
	&-footer {
		position: fixed;
		display: flex;
		bottom: 0;
		z-index: 5;
		width: 100%;
		// min-width: 1366px;
		height: 50px;
		border-top: 1px solid #eee;
		background-color: #fff;
		align-items: center;
		justify-content: center;
		box-shadow: 0 -5px 5px rgba(0, 0, 0, 0.02);
		.button {
			min-width: 40px;
			width: 40px;
			height: 34px;
			margin: 0 0.5rem;
			padding: 0;
			border: none;
		}
	}
	&-body {
		// padding: 2rem 0 110px;
		padding: 0 0 2rem;
		&__image {
			// display: flex;
			display: block;
			overflow: hidden;
			min-height: 30rem;
			margin-top: 3rem;
			// margin: 40px 0;
			text-align: center;
			border-radius: 10px;
			background: #f9f9f9;
			font-size: 0;
			// align-items: center;
			// justify-content: center;
			transition: all 0.3s;
			&:hover,
			&:focus {
				background-color: rgba(26, 158, 236, 0.05);
			}
			&__label {
				border-radius: 7px;
				cursor: pointer;
			}
			.inner {
				display: inline-block;
				position: absolute;
				width: 100%;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
				padding: 0 1rem;
			}
			img {
				width: 100%;
				height: auto;
			}
			&-area {
				display: block;
				width: 90px;
				height: 118px;
				margin: 0 auto;
				background: url(../images/community/editor_image.png) 50% 50%
					no-repeat;
				margin-bottom: 2rem;
			}
		}
		&__title {
			position: relative;
			margin: 55px 0 40px;
			.input {
				height: auto;
				padding-top: 0;
				padding-right: 50px;
				padding-bottom: 10px;
				padding-left: 0;
				border: none;
				border-bottom: 2px solid #ccc;
				font-size: 1.5rem;
				&:focus {
					box-shadow: none;
					border-color: #333;
				}
				&::placeholder {
					color: #ccc;
				}
			}
			.count-txt {
				position: absolute;
				right: 0;
				top: 50%;
				margin-top: -15px;
				color: #ccc;
				font-size: $size-4;
			}
		}
	}
	&-container {
		max-width: 81rem;
		width: 100%;
		// margin: 35px auto;
		margin: 0 auto;
		padding: 0 10px;
	}
	&-card {
		position: relative;
		// margin-bottom: 1rem;
		padding: 0;
		// border: 1px solid #ccc;
		// border-radius: 10px;
		border-bottom: 1px solid #ccc;
		&__header {
			// height: 50px;
			> a {
				display: block;
				padding: 1.6rem 0;
			}
			&-icon {
				position: absolute;
				right: 0;
				top: 1.2rem;
				width: 25px;
				height: 25px;
				// font-size: 25px;
				color: #333;
			}
		}
		&__content {
			margin-top: 0.5rem;
			.dot-list.is-size-5 {
				li {
					font-size: $size-4;
					line-height: 1.5;
					margin-bottom: 0.5rem;
				}
			}
			.item-photo-regist__regist + .dot-list {
				margin-top: 1rem;
			}
			.row:not(:last-child) {
				margin-bottom: 1rem;
				&.is-line {
					overflow: hidden;
					border-top: 1px solid #ccc;
				}
			}
			.field {
				&-label {
					width: 100%;
					height: 40px;
					padding: 0;
					margin-bottom: 0.7rem;
					font-size: $size-4;
					text-align: left;
					@include mobile-device {
						height: auto;
					}
					.label {
						display: inline-flex;
						height: 40px;
						align-items: center;
						@include mobile-device {
							height: auto;
						}
					}
				}
				&-body {
					flex-grow: 6;
				}
				.control {
					&.is-expanded {
						.select {
							width: 100%;
							select {
								width: 100%;
							}
						}
					}
					.select {
						width: 100%;
						select {
							width: 100%;
						}
					}
				}
			}
			.item-photo-regist--label,
			.item-photo-regist__regist .review-images-list li {
				width: 6rem;
				height: 6rem;
			}
			.item-photo-regist__regist .review-images-list li {
				.btn-del {
					width: 24px;
					height: 24px;
					background-color: rgba(0, 0, 0, 0.7);
					&:hover,
					&:focus {
						background-color: #000;
					}
					&:after {
						height: 10px;
					}
					&:before {
						height: 10px;
					}
				}
			}
			.item-photo-regist--label {
				&:after {
					width: 1.5rem;
				}
				&:before {
					height: 1.5rem;
				}
			}

			.select2-container--default {
				width: 100% !important;
				.select2-selection--multiple {
					padding-bottom: 7px;
					min-height: 40px;
					border-color: #ccc;
					border-radius: 0;
					font-size: 0;
					.select2-selection__choice__display {
						font-size: $size-4;
					}
					&:hover {
						border-color: #333;
					}
					.select2-selection__choice {
						position: relative;
						display: inline-flex;
						// height: 34px;
						line-height: 2;
						margin-left: 7px;
						margin-top: 7px;
						padding: 0 26px 0 10px;
						align-items: center;
						border-radius: 34px;
						border-color: #ccc;
						background-color: #fff;
					}
					.select2-selection__choice__remove {
						position: absolute;
						top: 50%;
						right: 5px;
						width: 24px;
						height: 24px;
						margin-top: -12px;
						padding: 0;
						border: none;
						&:hover,
						&:focus {
							background-color: transparent;
						}
						span {
							font-size: 0;
							&:before,
							&:after {
								background-color: #888;
								content: '';
								display: block;
								left: 50%;
								position: absolute;
								top: 50%;
								transform: translateX(-50%) translateY(-50%)
									rotate(45deg);
								transform-origin: center center;
							}
							&:before {
								height: 1px;
								width: 50%;
							}
							&:after {
								height: 50%;
								width: 1px;
							}
						}
					}
				}
				.select2-search--inline .select2-search__field {
					margin-top: 15px;
					margin-left: 7px;
				}
			}
		}
		&__points {
			margin-bottom: 2rem;
			display: flex;
			align-items: center;
			justify-content: space-between;
			flex-wrap: wrap;

			.editor-guide {
				background-color: #101d3d;
				dt,
				dd {
					color: #fff;
				}
				span:nth-child(1) {
					opacity: 0.8;
					margin-bottom: 5px;
				}
				b {
					font-weight: 300;
				}
			}
		}
		&__dl {
			display: inline-block;
			width: 100%;
			padding: 1rem;
			border-radius: 6px;
			background-color: #f1f1f1;
			text-align: center;
			margin-bottom: 1rem;

			&:last-child {
				margin-bottom: 0;
			}
		}
		&__dt {
			display: block;
			margin-bottom: 1rem;
			font-size: $size-3;
			line-height: 1.1;
			color: #333;
		}
		&__dd {
			display: block;
			font-size: $size-2;
			font-weight: 600;
			line-height: 1.1;
			color: #ec1a47;
			&_desc {
				display: block;
				margin-top: 5px;
				font-size: $size-3;
			}
		}
	}
}
.hidden-textarea {
	display: block;
	visibility: hidden;
	position: absolute;
	z-index: -1;
	white-space: pre-wrap;
	word-wrap: break-word;
}

.comm-edt {
	&__head {
		font-size: $size-2;
		line-height: 1.2;
		color: #333;
		+ .hidden-textarea {
			font-size: $size-2;
			line-height: 1.2;
		}
	}
	&__text {
		font-size: $size-3;
		line-height: 1.5;
		color: #777;
		+ .hidden-textarea {
			font-size: $size-3;
			line-height: 1.5;
		}
	}
	&__item {
		margin: 2.5rem 0;
		.button-add-youtube {
			width: 11rem;
			min-width: 11rem;
			padding-left: 0;
			padding-right: 0;
		}
		.line {
			height: 1px;
			background-color: #eee;
		}
		.image-wrap {
			overflow: hidden;
			font-size: 0;
			border-radius: 10px;
			&.thumb-video {
				width: 150px;
				height: 150px;
				overflow: hidden;
				img {
					width: auto;
					height: 100%;
				}
				&:before {
					content: '';
					position: absolute;
					z-index: 0;
					width: 100%;
					height: 100%;
					background: rgba(0, 0, 0, 0.25);
				}
				&:after {
					content: '';
					display: inline-block;
					position: absolute;
					top: 50%;
					left: 50%;
					z-index: 10;
					width: 0;
					height: 13px;
					margin: -8px 0 0 -3px;
					border-width: 8px 0 8px 13px;
					border-color: transparent transparent transparent #fff;
					border-style: solid;
				}
			}
		}
		.text-link {
			display: flex;
			justify-content: center;
			text-decoration: underline;
			font-size: 1.6rem;
		}
	}
	&__alt {
		margin-top: 18px;
		font-size: $size-4;
		line-height: 1.2;
		color: #333;
		+ .hidden-textarea {
			font-size: $size-4;
			line-height: 1.2;
		}
	}
}
/* img-spot */
#click-img {
	display: block;
	margin: 0 auto;
	text-align: center;
	// vertical-align: middle;
}
.image-wrap {
	display: inline-block;
	position: relative;
	&-desc {
		display: inline-block;
		position: absolute;
		left: 50%;
		bottom: 40px;
		width: 300px;
		margin-left: -150px;
		text-align: center;
		padding: 15px;
		line-height: 1.1;
		font-size: $size-4;
		color: #fff;
		background-color: rgba(0, 0, 0, 0.8);
	}
}
.layer-search-top {
	display: flex;
	justify-content: space-between;
}
.layer_position,
.comm-imgtag {
	position: absolute;
	z-index: 5;
	width: 40px;
	height: 40px;
	background-color: rgba(0, 0, 0, 0.6);
	cursor: pointer;
	i {
		display: flex;
		width: 40px;
		height: 40px;
		color: #fff;
		font-size: 1.3rem;
		line-height: 1;
		align-items: center;
		justify-content: center;
	}
}
.comm-imgtag {
	.ico-plus {
		transform: rotate(0);
	}
	&.is-active {
		.ico-plus {
			transform: rotate(-45deg);
		}
	}
	&-popup {
		display: none;
		position: absolute;
		overflow: hidden;
		z-index: 10;
		width: 100%;
		max-width: 150px;
		// height: 100%;
		max-height: 120px;
		padding: 1rem;
		background-color: rgba(255, 255, 255, 0.9);

		a {
			font-size: $size-4;
			color: #333;
			word-break: break-all;
			@include text-ellipsis-3();
		}
		&__brand {
			font-size: $size-4;
			color: #777;
			line-height: 1.1;
			margin-bottom: 1em;
			@include text-ellipsis();

			& .similar {
				font-size: $size-4;
				color: #005d85;
				font-weight: 600;
				line-height: 1.1;
				margin-right: 0.7rem;
			}
		}
		&__title {
			font-size: $size-4;
			color: #333;
			font-weight: 400;
			line-height: 1.3;
			@include text-ellipsis-2();
		}
		&__more {
			display: block;
			margin-top: 1em;
			line-height: 2;
		}
	}
}
.section-contents-table__table {
	margin-top: 10px;
	border-top: none;
	&.comm-modal__style {
		tbody {
			td {
				padding: 1.5rem 0;
				&.item-option {
					padding-left: 1rem;
					padding-right: 1rem;
				}
				border-bottom: none;
			}
			tr:not(:last-child) {
				td {
					border-bottom: 1px solid #eee;
				}
			}
		}
	}
}
#layer-search {
	display: none;
	position: absolute;
	z-index: 10;
	width: 190px;
	margin: 15px 0 0 15px;
	padding: 10px;
	border: 1px solid #c8c8c8;
	background: #fff;
}

.layer-search-close {
	text-align: right;
	margin-bottom: 5px;
	button {
		margin: -8px -4px 0 0;
		padding: 2px 4px;
	}
}

.layer-search-list {
	height: 100px;
	margin-top: 7px;
	overflow-y: auto;
	background-color: #fff;
	display: none;
	ul {
		width: 100%;
		a {
			display: block;
		}
	}
}

#layer-search-read {
	display: none;
	position: absolute;
	z-index: 10;
	width: 190px;
	margin: 15px 0 0 15px;
	padding: 10px;
	border: 1px solid #c8c8c8;
	background: #fff;
}

.footer-responsive {
	.button {
		width: 40px;
		height: 34px;
	}
}
// #modal-comm-edt-info .modal-card {
// 	width: 500px;
// }
#modal-comm-edt-tag,
#modal-comm-edt-info {
	.modal-card-tabs-container {
		margin-bottom: 1rem;
		.hash-tag__name {
			color: #333;
			font-size: 1.3rem;
		}
	}
	.modal-coupon-info {
		padding: 0 0 1rem;
	}
	.items-info-wrap {
		position: relative;
		padding-top: 1rem;
		padding-bottom: 1rem;
		padding-left: 9rem;
		&:not(:last-child) {
			border-bottom: 1px solid #eee;
		}
		.button {
			&.is-danger {
				height: 3.3rem;
				align-items: center;
			}
		}
		.product-item-image {
			width: 80px;
			height: 80px;
			// float: left;
			margin-right: 10px;
		}
		.section-contents-item {
			// padding-left: 90px;
			&__brand {
				display: block;
				margin: -0.2rem 0 0.5rem;
				background-color: #fff;
				font-size: 1.2rem;
				font-weight: 400;
				color: #777;
				word-break: break-all;
				border: none;
				padding: 0;
			}
			&__name {
				font-size: 1.3rem;
				a {
					color: #333;
				}
			}
			&__button {
				display: flex;
				height: auto;
				margin-top: 1rem;
				// padding-left: 90px;
				align-items: center;
			}
			&__image {
				position: absolute;
				left: 0;
				top: 10px;
				float: left;
				width: 80px;
				height: 80px;
			}
			&-status {
				&__status {
					font-size: 1.3rem;
				}
			}
		}
		.section-contents-item {
			display: block;
		}
		&.sold-out {
			.section-contents-item-status {
				display: block;
				&__status {
					&.sold-out {
						display: flex;
					}
					&.sales-end {
						display: none;
					}
				}
			}
		}
		&.sales-end {
			.section-contents-item-status {
				display: block;
				&__status {
					&.sold-out {
						display: none;
					}
					&.sales-end {
						display: flex;
					}
				}
			}
		}
	}
}
#modal-comm-edt-info {
	.items-info-wrap {
		margin-top: 0 !important;
		display: flex;
		padding: 0 0 0.5rem 0;
		align-items: center;
		justify-content: flex-start;
		.section-contents-item {
			flex: 1 1;
			&__image {
				position: static;
				flex: 0 0 90px;
				padding-right: 10px;
			}
		}
	}
}
.modal-url-form {
	border: 2px solid #ccc;
	padding: 2rem;
	margin-bottom: 2rem;
	p.text-center {
		color: #333;
		font-size: $size-4;
		margin-bottom: 2rem;
	}
}

.comm-list {
	&-openhouse {
		overflow: hidden;
		margin: 0 auto;

		.product-item {
			width: 100%;
			margin-left: 0;
			margin-right: 0;
			margin-bottom: 2rem;

			&-content {
				background-color: #fff;
				border: 1px solid #ccc;
				border-top: none;
			}
			&-header {
				margin-top: 0;
				&__name {
					// height: 100%;
					height: auto;
					min-height: 5.5rem;
					padding: 1.5rem 1rem 0;
					margin-bottom: 1.5rem;
					font-size: $size-3;
					font-weight: 400;
					&.event-name {
						padding-top: 0;
					}
				}
			}

			&-body {
				padding: 0 1rem;

				.hash-tag-lists {
					.hash-tag__name {
						font-size: 1.2rem;
					}
				}

				.product-review-stats-area {
					display: flex;
					justify-content: space-between;
					align-items: center;
					padding-top: 1rem;
					margin-top: 1.5rem;
					margin-bottom: 1rem;
					// padding: 1.5rem 0;
					border-top: 1px solid #eee;
					color: #000;

					&::after {
						display: none;
					}
					.fl {
						.product-item-body__writer--level {
							display: inline-block;
							i {
								margin-right: 0.5rem;
							}
						}
					}
					.fr {
						flex: 0 0 11rem;
						height: auto;
						display: flex;
						justify-content: flex-end;
						align-items: center;
					}
					.product-item-heart-wrap {
						display: inline-block;
						// width: 100%;
						// text-align: right;
						// float: right;
						// margin-bottom: 1.5rem;
						// display: flex;
						// justify-content: flex-end;
						// width: 100%;
						.product-item-heart {
							.ico-like {
								display: inline-block;
								width: 1.6rem;
								height: 1.6rem;
								font-size: 1.6rem;
								color: #ea3c43;
								// @include sprite-image($icon2-heart);
								// @include sprite-position($icon2-heart);
								// @include sprite-width($icon2-heart);
								// @include sprite-height($icon2-heart);
							}
							&.is-active {
								.ico-like::before {
									content: '\e967';
								}
							}
							.product-item-heart__num {
								color: #777;
								line-height: 1;
							}
							&::after {
								display: none;
							}
						}
					}
					.product-item-comm-wrap {
						display: inline-block;
						.ico-talkblank {
							width: 1.5rem;
							height: 1.5rem;
							font-size: 1.5rem;
							color: #bbb;
						}
					}
				}
			}

			&-image {
				position: relative;
				overflow: hidden;
				padding: 0;
				border: 1px solid #ccc;
				border: 1px solid rgba(0, 0, 0, 0.2);
				border-bottom: none;
				// &:before {
				// 	content: '';
				// 	position: absolute;
				// 	width: 100%;
				// 	height: 100%;
				// 	left: 0;
				// 	right: 0;
				// 	top: 0;
				// 	z-index: 1;
				// 	border: 1px solid #ccc;
				// 	border: 1px solid rgba(0, 0, 0, 0.2);
				// 	border-bottom: none;
				// 	-webkit-background-clip: padding-box;
				// 	background-clip: padding-box;
				// }
				&.thumb-video {
					display: block;
				}

				&::after {
					padding-bottom: 0;
				}
			}
		}

		&__margin {
			margin-left: -5px;
			margin-right: -5px;
			.product-item {
				display: inline-block;
				vertical-align: top;
				background: #fff;
				margin-left: 5px;
				margin-right: 5px;
				margin-bottom: 22px;
				&-image {
					&:before {
						border: none;
					}
				}
			}
		}

		.product-item__50 {
			width: calc(50% - 10px);

			.product-item-content {
				border: none;
				&.event-content {
					margin-top: 15px;
				}
			}

			.product-item-header__name {
				padding-left: 0;
				padding-right: 0;
				font-size: $size-4;
			}

			.product-item-body {
				padding: 0 0.5rem;

				.product-review-stats-area {
					margin-top: 0;
					padding-top: 0;
					border-top: none;
				}
			}
		}

		&__margin {
			// margin-left: -5px;
			// margin-right: -5px;

			.product-item {
				// margin-left: 10px;
				// margin-right: 10px;
			}
		}
	}
	&-magazine {
		overflow: hidden;
		.product-item {
			margin-bottom: 40px;
			&-content {
				padding: 1.5rem 0 0;
				background-color: #fff;
				border: none;
			}
			&-header__name {
				font-size: $size-4;
				font-weight: 600;
			}
			&-image {
				overflow: hidden;
				width: 41rem;
				height: 41rem;
			}
			&-body .product-review-stats-area {
				margin-top: 0;
				padding-top: 0;
				border-top: none;
			}
		}
	}
	&-filter {
		&-wrap {
			margin: 2rem 0;
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;
			.button-comm-filter-all {
				width: 25px;
				height: 25px;
				min-width: 25px;
				padding: 0;
				margin: 0;
				border-color: #333;
				&:hover,
				&:focus {
					background-color: #f9f9f9;
				}
			}

			.button-wrap {
				display: flex;
				justify-content: flex-start;
				.button {
					min-width: auto;
					// margin-right: 10px;
					padding-right: 2rem;
					padding-left: 1rem;
					margin: 0 5px;
					color: #333;

					// &:not(:last-child) {
					// 	text-align: left;
					// 	justify-content: flex-start;
					// }

					&:first-child {
						margin-left: 0;
					}

					i {
						position: absolute;
						right: 0.5rem;
					}
				}
			}
		}
	}
}
.section-category-item-search.is-fixed .section-category-item__relation {
	&.__comm-list-filters {
		width: 1366px;
	}
}

.comm-user__writer {
	height: 22px;
	margin-top: 0;
	line-height: 1.7em;
	&--level {
		// &:before {
		// 	content: '';
		// 	display: inline-block;
		// 	width: 21px;
		// 	height: 21px;
		// 	margin-right: 10px;
		// 	vertical-align: top;
		// }

		i {
			margin-right: 0.5rem;
		}

		&.gold {
			&:before {
				@include sprite-width($icon2-gold);
				@include sprite-height($icon2-gold);
				@include sprite-image($icon2-gold);
				@include sprite-position($icon2-gold);
			}
		}
		&.vip {
			&:before {
				@include sprite-width($icon2-vip);
				@include sprite-height($icon2-vip);
				@include sprite-image($icon2-vip);
				@include sprite-position($icon2-vip);
			}
		}
	}
}
.comm-contents {
	&-filters {
		&__wrap {
			margin-top: 1rem;
			padding-top: 1rem;
			border-top: 1px solid #eee;
		}
		&__inner {
			margin-left: -0.5rem;
			margin-right: -0.5rem;
		}
		&__dl {
			display: inline-block;
			margin: 0.5rem 1rem;
			font-size: $size-4;
			line-height: 1.1;
		}
		&__dt {
			display: inline-block;
			margin-right: 1rem;
			color: #333;
			font-weight: 600;
		}
		&__dd {
			display: inline-block;
			color: #777;
			font-weight: 400;
		}
	}
	&-header {
		&__img {
			display: block;
			// width: 100%;
			margin-bottom: 2rem;
			font-size: 0;
			margin-left: -10px;
			margin-right: -10px;
			img {
				width: 100%;
				height: auto;
			}
		}
		.comm-user__writer {
			display: inline-flex;
			align-items: center;
			.ico-popup {
				margin-left: 10px;
				color: #ccc;
			}
		}
		&__top {
			font-size: $size-4;
			font-weight: 300;
			line-height: 1.1;
			color: #777;
		}
		&__date {
			display: inline-block;
			font-style: normal;
			font-size: $size-4;
			font-weight: 300;
			line-height: 1.1;
			color: #777;
			vertical-align: middle;
		}
		&__bar {
			display: inline-block;
			margin: 0 0.3rem;
			font-style: normal;
			font-size: $size-4;
			font-weight: 300;
			line-height: 1.1;
			color: #ccc;
			vertical-align: middle;
		}
		&__addr {
			display: inline-block;
			font-style: normal;
			font-size: $size-4;
			font-weight: 400;
			line-height: 1.1;
			color: #777;
			vertical-align: middle;
		}
		&__title {
			margin-top: 10px;
			margin-bottom: 1.5rem;
			font-size: $size-1;
			line-height: 1.2;
			font-weight: 600;
			color: #333;
		}
		.comm-user__writer {
			font-size: $size-4;
			color: #777;
			&:before {
				vertical-align: middle;
			}
		}
		.product-item--twentytwenty {
			margin: 0 -10px;
			.product-item-image {
				padding-bottom: 20px;
				&:after {
					content: none;
				}
			}
			.twetwe-item {
				width: 100%;
				height: auto;
			}
		}
	}
	&-wrap {
		width: 100%;
		margin: 55px auto 2rem;
		// padding-bottom: 40px;
		// border-bottom: 1px solid #ccc;

		.comm-edt__item {
			position: relative;
		}
	}
	&__content {
		font-size: $size-2;
		line-height: 1.8;
		color: #333;
	}
	&__title {
		font-size: $size-2;
		font-weight: 600;
		text-align: center;
		color: #333;
	}
	&-hmenu {
		&-wrap {
			display: flex;
			justify-content: start;
			font-size: 0;
			margin-top: 1rem;
			padding-top: 1.5rem;
			border-top: 1px solid #eee;
			// border-bottom: 1px solid #ccc;
		}
		&__item {
			overflow: hidden;
			display: inline-flex;
			align-items: center;
			// min-width: 190px;
			min-height: 40px;
			border: 1px solid #ccc;
			vertical-align: top;
			margin-right: 1rem;
			width: 100%;
			// flex-grow: 1;

			&:last-child {
				margin-right: 0;
			}
			&-icon {
				display: inline-flex;
				// width: 50px;
				height: 100%;
				border-right: 1px solid #eee;
				align-items: center;
				justify-content: center;
				i {
					margin: 0 1rem;
					font-size: 1rem;
					font-weight: 600;
					color: #333;
				}
				.ico-like,
				.ico-share {
					font-size: 21px;
				}
				.ico-like {
					color: #ea3c43;
					@at-root .button-comm-hmenu-like.is-active &:before {
						content: '\e967';
					}
				}
			}
			&-text {
				display: flex;
				justify-content: center;
				align-items: center;
				// height: 50px;
				// padding-left: 22px;
				// padding-right: 1rem;
				font-size: $size-4;
				flex-grow: 1;
				&__title {
					font-weight: 400;
					line-height: 1.1;
					color: #333;
				}
				&__num {
					// margin-left: 10px;
					line-height: 1.1;
					color: #888;
				}
			}
		}
	}
	&__img {
		position: relative;
		overflow: hidden;
		margin: 0 -10px;
		font-size: 0;
		img {
			width: 100%;
			height: auto;
		}
		.comm-contents__alt {
			font-size: 13px;
			padding: 10px 10px 0;
			text-align: center;
		}
		&-tag2 {
			background-color: rgba(237, 38, 80, 0.6);
		}
		&-tag3 {
			background-color: rgba(185, 133, 65, 0.6);
		}
		.comm-contents__img-link {
			display: block;
			position: relative;
			height: auto;
			.tag-link {
				position: absolute;
				right: 0;
				top: 0;
				display: flex;
				width: 40px;
				height: 40px;
				background: rgba(0, 0, 0, 0.8);
				justify-content: center;
			}
		}
	}
	&__pitem {
		position: relative;
		margin: 2rem 2rem 0;

		.swiper-slide {
			display: flex;
			justify-content: center;
			width: auto;
			padding-top: 1rem;
			a {
				overflow: hidden;
				display: block;
				width: 6rem;
				height: 6rem;
				border-radius: 100%;
				border: 1px solid transparent;
				transition: all 0.3s #{$transition};
				img {
					width: 100%;
					height: 100%;
					transform: scale(1);
					transition: all 0.3s #{$transition};
				}
				&:hover,
				&:focus {
					border: 1px solid rgba(0, 0, 0, 0.3);

					// img {
					// 	transform: scale(1.2);
					// }
				}
				.similar-badge {
					position: absolute;
					top: 1.2rem;
					left: 50%;
					padding: 0.2rem 1rem;
					border: 1px solid #d2d2d2;
					border-radius: 10px;
					font-size: 1.1rem;
					line-height: 1.5rem;
					font-weight: 600;
					text-align: center;
					color: #333;
					transform: translate(-50%, -50%);
					white-space: nowrap;
					background-color: #fff;
				}
			}
		}

		.swiper-controls-wrap {
			// margin-top: 2rem;
			width: auto;

			.swiper-button-prev,
			.swiper-button-next {
				width: 30px;
				height: calc(100% - 15px);
				font-size: 15px;
			}

			.swiper-button-next {
				right: -30px;
			}

			.swiper-button-prev {
				left: -30px;
			}
		}
	}
}

.related-magazine {
	.section-title-wrap {
		margin-top: 2rem;
		.section-title {
			font-size: 1.8rem;
			line-height: normal;
		}
	}
}

a.comm-contents-hmenu__item,
button.comm-contents-hmenu__item {
	padding: 0;
	min-height: auto;
	&:hover,
	&:focus {
		border-color: #333;
	}
}
.comm-list-story {
	overflow: hidden;
	margin-top: 1rem;
	.product-item--large {
		margin-top: 0px;
		margin-bottom: 40px;
		.product-item-header__name {
			font-size: $size-4;
			font-weight: 600;
		}
		.product-item-body {
			padding-top: 0;
			border-top: none;
		}
		.product-item-view i {
			font-size: 24px;
		}
	}
}
.button-area {
	&.is-center {
		.btn-more {
			strong {
				color: #333;
				margin-right: 7px;
			}
		}
	}
}

.comm-magazine {
	&-menu {
		// display: flex;
		// justify-content: space-between;
		white-space: nowrap;
		overflow-x: auto;

		&__img {
			display: block;
			// height: 136px;
			margin: 3rem auto 0;
			img {
				display: inline-block;
			}
		}
		&-wrap {
			margin: -6px -10px 2rem;
			padding: 3rem 0 3rem 1rem;
			background-color: #f0f0f0;
		}
		// &__item {
		// 	display: inline-block;
		// 	font-size: 0;
		// 	vertical-align: top;
		// 	margin: 0 0.7rem;
		// 	background: #fff;

		// 	&:first-child {
		// 		margin-left: 0;
		// 	}
		// 	&:last-child {
		// 		margin-right: 10px;
		// 	}

		// 	a {
		// 		display: block;
		// 		text-align: center;
		// 		width: 140px;
		// 		height: 140px;
		// 		border: 1px solid #cacaca;
		// 		-webkit-filter: grayscale(100%);
		// 		filter: gray;
		// 		opacity: 0.5;
		// 		transition: all 0.3s #{$transition};
		// 		&.is-active,
		// 		&:hover,
		// 		&:focus {
		// 			opacity: 1;
		// 			border-color: #f4f4f4;
		// 			-webkit-filter: grayscale(0%);
		// 			filter: none;
		// 			box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.1);
		// 		}
		// 	}

		// 	.text {
		// 		display: inline-block;
		// 		margin-top: 1rem;
		// 		color: #333;
		// 		font-size: $size-4;
		// 		font-weight: 600;
		// 	}
		// }
	}
	&__subtitle {
		margin-top: 80px;
		margin-bottom: 60px;
		&-title {
			padding-bottom: 1rem;
			border-bottom: 1px solid #eee;
			h3 {
				margin: 0 0 1rem;
				color: #333;
				line-height: 1.1;
				font-size: 1.4rem;
				font-weight: 600;
			}
			p {
				font-size: $size-4;
				@include word-wrap();
				.link {
					margin-left: 1rem;
				}
			}
		}
	}
}
.section-title {
	.ico-tooltip {
		display: inline-block;
		margin-top: -10px;
		margin-left: 5px;
		font-size: $size-4;
		color: #999;
		vertical-align: middle;
	}
}

#modal-comm-userinfo .modal-card {
	// width: 550px;
	.modal-card-body {
		padding-top: 0;
		padding-bottom: 50px;
	}
	.modal-link {
		@include text-ellipsis();
		display: flex;
		position: relative;
		height: 56px;
		padding: 18px 32px 18px 19px;
		border-bottom: 1px solid #ccc;
		line-height: 1.01;
		// font-size: 16px;
		color: #777;
		text-align: left;
		span {
			line-height: 1.4;
		}
		&:after {
			position: absolute;
			top: 50%;
			right: 17px;
			margin-top: -6px;
			content: '\e901';
			color: #9b9b9b;
			font-family: 'iconset' !important;
			speak: never;
			font-size: 15px;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
			transform: rotate(-90deg);
		}
		&-bold {
			font-weight: 600;
			font-size: 20px;
			color: #333;
		}
		.comm-user__writer--level:before {
			margin-right: 5px;
		}
	}
	a {
		&:hover,
		&:focus {
			background-color: #f9f9f9;
		}
	}
}

#modal-openhouse-filter {
	.modal-card {
		// width: 100%;
		&-body {
			padding: 0 1rem;
		}
		&-foot {
			.control {
				width: 50%;
			}
		}
	}

	.accordion {
		border-top: 1px solid #ccc;
		&:first-child {
			border-top: none;
		}
		&:last-child {
			border-bottom: 1px solid #ccc;
		}
		box-shadow: none;
		&-header {
			box-shadow: none;
			> a {
				display: flex;
				width: 100%;
				height: 54px;
				padding: 16px;

				align-items: center;
				outline: none;
				&:hover,
				&:focus {
					border-color: #aaa;
				}
			}
			&-title {
				flex-grow: 1;
				font-size: 18px;
				font-weight: 600;
				color: #333;
			}
		}
		&-content {
			padding: 2rem 0;

			// background-color: #f9f9f9;
		}
	}
	// range slider 설정
	.slider-range-val {
		display: block;
		margin-top: 10px;
		margin-bottom: 15px;
		font-size: 16px;
		font-weight: 600;
		color: #333;
		line-height: 1.1;
	}
	.filter-min-max-price {
		display: flex;
		margin-top: 6px;
		margin-bottom: 10px;
		justify-content: space-between;
		font-size: $size-4;
	}
	.accordion-content {
		.ui-widget.ui-widget-content {
			border: none;
			width: calc(100% - 2.5rem);
			height: 15px;
			margin-top: 10px;
			position: relative;
			background-color: transparent;
		}
		.ui-slider {
			margin: 0;
			padding-top: 7px;

			&::before {
				content: '';
				display: block;
				height: 2px;
				margin-left: -15px;
				margin-right: -30px;
				background-color: #ddd;
			}

			.ui-slider-range {
				height: 2px;
				margin-top: 7px;
				background-color: #333;
			}

			.ui-state-default {
				width: 2.5rem;
				height: 2.5rem;
				// margin-top: -0.7rem;
				margin-left: 0;
				margin-right: 0;
				border-radius: 100%;
				// border: none;
				border: 0.2rem solid #333;
				background-color: #fff;
				cursor: pointer;

				&:focus,
				&:active {
					outline: none;
				}
			}

			.ui-state-hover {
				background-color: #000;
			}

			.ui-state-active {
				box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.2);
			}
		}

		&-range {
			display: flex;
			height: auto;
			font-size: 0;
			line-height: 1;
			color: #333;
			text-align: center;
			border: none;

			span {
				display: inline-flex;
				flex-grow: 0;
				width: 20px;
				text-align: center;
				font-size: 16px;
				align-items: center;
				justify-content: center;
			}

			input {
				display: block;
				flex-grow: 1;
				width: 100px;
				padding: 14px 8px;
				text-align: right;
				font-weight: 400;
				font-size: 16px;
				border: 1px solid #ddd;
			}
		}
	}

	.filter-checklist-header {
		> a {
			height: auto;
			padding: 1.5rem 1rem 1rem;
		}

		> .card-header-icon {
			display: flex;
			justify-content: space-between;

			.filter-checklist-header-title {
				font-size: 13px;
				font-weight: 600;
			}
		}
	}

	.delete {
		position: absolute;
		right: 1rem;
		top: 0.5rem;
	}
}

.button-round-check {
	display: inline-block;
	margin: 0 0.5rem;
	padding: 0.5rem 1rem;
	border-radius: 25px;
	border: 1px solid #ccc;
	background-color: #fff;
	line-height: 1;
	.text {
		display: inline-block;
		line-height: 1;
		font-size: $size-4;
		color: #333;
		vertical-align: middle;
	}
	.btn-del {
		display: inline-block;
		// margin-left: 6px;
		margin-top: -2px;
		margin-right: -7px;
		vertical-align: middle;

		i {
			display: block;
		}
	}
}

// 팝업 상단 필터 선택 리스트
.modal-openhouse-filter-top {
	height: 6.5rem;
	padding-top: 2rem;
	border-bottom: 1px solid #ddd;
	background-color: #f9f9f9;
	.scrollbar-container {
		overflow-y: hidden;
		overflow-x: auto;
		white-space: nowrap;
		.button-round-check {
			&:first-child {
				margin-left: 1rem;
			}
		}
		// .scroll-element_track {
		// 	height: 2px;
		// 	background-color: #ccc;
		// }
		> .scroll-element.scroll-x {
			height: 1px;
			.scroll-bar {
				height: 1px;
				background-color: #333;
			}
			&:hover .scroll-element_outer,
			&.scroll-draggable .scroll-element_outer {
				height: 8px;
				min-height: 8px;
				.scroll-bar {
					height: 8px;
				}
			}
		}
		> .scroll-element .scroll-element_outer {
			opacity: 0.8;
			bottom: -1px;
			border-radius: 12px;
		}
	}
	.scroll-wrapper {
		height: 100%;
		margin: 0;
		padding: 0;
	}
}

.modal-card-foot__fixed {
	position: fixed;
	bottom: 0;
}

.modal-openhouse-filter-wrap {
	.modal-card-head {
		height: auto;
		margin: 0;
		padding: 1.5rem 0 1rem;
		border-bottom: 1px solid #ccc;
		text-align: center;

		.button-back {
			display: none;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 10;
			width: 4rem;
			height: 4rem;
			padding: 0 0 0 10px;
			margin-left: -10px;
			border: none;
			font-size: 1.3rem;
			text-align: left;
			left: 1rem;

			&:after {
				display: inline-block;
				content: '\e9a1';
				vertical-align: middle;
				color: #333;
			}
		}
	}

	.filter-checklist-header {
		border-bottom: 1px solid #eee;

		&__noborder {
			border-bottom: none;
		}
	}

	.filter-checklist-body {
		display: none;
	}

	.delete {
		display: block;
	}
}

.modal-openhouse-filter-wrap.is-active {
	.filter-checklist-header {
		display: none;
	}

	.modal-openhouse-filter-top {
		display: none;
	}

	.delete {
		display: none;
	}

	.button-back {
		display: block;
	}
}

// 체크박스 버튼
.button-check-list {
	margin: 0 -2.5px;
	font-size: 0;
}
.button-check-round {
	display: inline-block;
	margin: 0.75rem 0.5rem;
	// height: 37px;
	&.disabled {
		opacity: 0.5;
	}
	input[type='checkbox'] {
		position: absolute;
		overflow: hidden;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		clip: rect(0, 0, 0, 0);
		border: 0;
		&:focus + label {
			border-color: #666;
		}
		+ label {
			display: block;
			overflow: hidden;
			position: relative;
			padding: 0.7rem 1rem;
			border-radius: 25px;
			border: 1px solid #ccc;
			font-size: $size-4;
			line-height: 1.1;
			cursor: pointer;
			color: #333;
			background: #fff;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			transition: all 0.3s #{$transition};
			&::before {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
			}
		}
		&:checked + label {
			color: #fff;
			background: #000;
		}
	}
}

.button-check-square {
	display: block;
	margin: 5px 2.5px;
	height: 37px;
	&.disabled {
		opacity: 0.5;
	}
	input[type='checkbox'] {
		position: absolute;
		overflow: hidden;
		width: 1px;
		height: 1px;
		margin: -1px;
		padding: 0;
		clip: rect(0, 0, 0, 0);
		border: 0;
		&:focus + label {
			border-color: #666;
		}
		+ label {
			display: block;
			overflow: hidden;
			position: relative;
			padding: 9px 18px;
			// border-radius: 25px;
			border: 1px solid #ccc;
			font-size: $size-4;
			line-height: 1.1;
			text-align: center;
			cursor: pointer;
			color: #333;
			background: #fff;
			-webkit-user-select: none;
			-moz-user-select: none;
			-ms-user-select: none;
			transition: all 0.3s #{$transition};
			&::before {
				content: '';
				display: block;
				width: 100%;
				height: 100%;
			}
		}
		&:checked + label {
			color: #fff;
			background: #000;
		}
	}
}
// 글쓰기 등록
.button-header-wrap {
	position: absolute;
	right: 5px;
	text-align: right;
	font-size: 0;
	.button {
		width: auto;
		min-width: auto;
		padding: 0 5px;
		background-color: transparent;
		border: none;
		font-size: 1.5rem;
		font-weight: 600;
		&.is-danger {
			color: $red;
		}
		&:hover,
		&:focus {
			background-color: transparent;
		}
	}
}

// 콘텐츠 글 등록 선택
.comm-contents {
	&-seltop {
		margin: 1rem auto 3rem;
		text-align: center;
		&__desc {
			font-size: 1.5rem;
			color: #333;
		}
		&__title {
			display: block;
			margin-top: 1rem;
			font-size: 2.3rem;
			font-weight: 600;
			color: #333;
			line-height: 1.4;
		}
	}
	&-select {
		margin: 0 auto;
		align-items: center;
		justify-content: space-between;
		> li {
			display: block;
			&.white {
				background: #101d3d;
				.comm-contents-select__title,
				.comm-contents-select__point {
					color: #fff;
				}
				.comm-contents-select__desc {
					color: #fff;
					opacity: 0.8;
				}
			}
			a {
				display: flex;
				width: 100%;
				margin-top: -1px;
				border: 1px solid #ccc;
				align-items: center;
				justify-content: flex-start;
				.inner {
					flex: 1 0;
					padding: 10px;
					display: inline-block;
				}
			}
			&.is-disabled {
				opacity: 0.4;
				@include disabled();
			}
		}
		&__guide {
			margin-top: 30px;
			display: flex;
			justify-content: space-between;
			li {
				width: 49.5%;
			}
			a {
				display: inline-flex;
				align-items: center;
				justify-content: flex-start;
				width: 100%;
				height: 70px;
				background-color: #f4f4f4;
				p {
					font-size: 15px;
					text-align: center;
					flex: 0 0 80%;
					color: #999;
				}
				p:nth-child(2) {
					flex: 0 0 20%;
				}
			}
		}
		&__img {
			display: flex;
			flex: 0 0 30%;
			height: 60px;
			margin: 0;
			align-items: center;
			justify-content: center;
			img {
				width: auto;
			}
		}
		&__title {
			display: block;
			margin-bottom: 1rem;
			font-size: 1.6rem;
			font-weight: 600;
			line-height: 1.1;
			color: #333;
		}
		&__desc {
			display: block;
			margin-bottom: 0.5rem;
			font-size: 1.3rem;
			font-weight: 400;
			line-height: 1.1;
			color: #999;
		}
		&__point {
			font-size: 1.7rem;
			font-weight: 600;
			color: #22354d;
			&_desc {
				display: block;
				margin-bottom: 0.5rem;
				font-size: 1.1rem;
				font-weight: 400;
				line-height: 1.1;
				color: #22354d;
			}
		}
	}
}

.section-best-review {
	color: #333;
	.product-item-header__name {
		font-weight: 400;
		line-height: 1.1;
		height: 2.8rem;
	}
	.product-item_review {
		padding-bottom: 1rem;
		line-height: 1.1;
		&__header {
			margin-bottom: 1rem;
			font-size: 1.3rem;
			line-height: 1.1;
			color: #333;
			@include text-ellipsis();
		}
		&__content {
			margin-bottom: 0.7rem;
			font-size: 1.3rem;
			line-height: 1.4;
			color: #777;
			@include text-ellipsis-2();
		}
		&__name {
			font-size: 1.1rem;
			line-height: 1.1;
			color: #777;
		}
	}
}

#comm-hinge-top {
	margin: 0 -10px;
	.slide-inner {
		position: static;
		padding: 0;
		img {
			width: 100%;
		}
	}
}
#comm-hinge-bot {
	margin: 40px -10px;
	.slide-inner {
		position: static;
		padding: 0;
		img {
			width: 100%;
		}
	}
}
.comm-hinge-magazine {
	li {
		display: inline-block;
		overflow: hidden;
		margin: 0 0 40px;
		vertical-align: top;
		img {
			width: 100%;
		}
		a {
			&:active {
				p,
				strong,
				em {
					color: #e60847;
				}
				em {
					border-color: #e60847;
				}
			}
		}
	}
	&__img {
		overflow: hidden;
		display: block;
		max-height: 350px;
		font-size: 0;
	}
	&__sub {
		margin-top: 15px;
		font-size: 13px;
		line-height: 1.1;
		color: #333;
	}
	&__title {
		display: block;
		margin-top: 10px;
		// font-size: 20px;
		font-size: 24px;
		font-weight: 600;
		line-height: 1.2;
		letter-spacing: -1px;
		color: #333;
	}
	&__body {
		margin-top: 15px;
		// font-size: 13px;
		font-size: 14px;
		font-weight: 400;
		// line-height: 1.6;
		line-height: 1.9;
		// color: #767676;
		color: #333;
		letter-spacing: -0.04rem;
	}
	&__hash {
		display: flex;
		margin: 15px -4px 0;
		em {
			display: inline-block;
			margin: 0 4px;
			padding: 7px 10px 6px;
			line-height: 1;
			border: 1px solid #ddd;
			border-radius: 4px;
			font-size: 12px;
			font-style: normal;
			color: #767676;
		}
	}
}

.section-category-item {
	// margin-left: -10px;
	// margin-right: -10px;
	.tab-block-submenu {
		white-space: nowrap;
		overflow-x: auto;
		text-align: center;
		font-size: 0;
		padding-top: 0;
		margin-top: 30px;
		margin-bottom: 30px;
		border: none;
		.tab-block-item {
			color: #999;
			font-size: 16px;
			&:hover,
			&.is-active {
				color: #333;
				font-weight: 600;
			}
		}
	}
}

.item-button-wrap {
	&--3 {
		.button {
			width: calc(33% - 5px);
			margin-left: 10px;

			// font-size: $size-4;
			&:first-child {
				margin-left: 0;
			}
		}
	}
}

.section-contents-bnr-wrap {
	.section-contents-bnr {
		&-item {
			img {
				display: block;
			}
		}
	}
}
