/* S:쿠폰 팝업 */

//coupon common css
.modal-coupon-title {
	color: #333;
	font-size: $size-1;
	font-weight: 600;
}

.modal-coupon-line {
	border-bottom: 1px solid #ddd !important;
}

.modal-coupon-info {
	padding: 15px 0 35px 0;
	font-size: $size-4;
	color: #888;
}

.modal-coupon-list-link {
	span {
		display: block;

		.link {
			display: inline-block;
			margin: 2px 0;
			padding: 3px 0;
			color: #444;
			line-height: 0.98;
			font-size: $size-3;

			i {
				margin-left: 5px;
			}
		}
	}
}

//tabs nav
.tabs.tabs-coupon-modal .tab {
	font-size: $size-2;
	line-height: 1.8;
}

/* 쿠폰 다운로드 */
.coupon-card {
	position: relative;
	&.dim-soldout::after {
		content: '모든 쿠폰 소진';
		display: flex;
		position: absolute;
		top: 1rem;
		left: 0;
		width: 100%;
		height: calc(100% - 1rem);
		color: #fff;
		font-size: 26px;
		align-items: center;
		justify-content: center;
		background: rgba(0, 0, 0, 0.7);
		z-index: 2;
	}
	&-section {
		position: relative;
		padding-top: 1rem;
		// border-top: 1px solid #eee;

		&--border {
			border: 1px solid #eee;
			position: relative;
			background-color: #fff;

			&__edge {
				// margin-top: -1px;

				&:before {
					display: block;
					content: '';
					position: absolute;
					bottom: -6.5px;
					left: -8px;
					width: 14px;
					height: 12px;
					border-right: 1px solid #eee;
					transform: rotate(-45deg);
					z-index: 1;
					background-color: #fff;
				}

				&:after {
					display: block;
					content: '';
					position: absolute;
					bottom: -6.5px;
					right: -8px;
					width: 14px;
					height: 12px;
					border-left: 1px solid #eee;
					transform: rotate(45deg);
					z-index: 1;
					background-color: #fff;
				}

				.coupon-card-button {
					margin-top: -1px;
				}
			}

			&__edge__gray {
				// margin-top: -1px;
				border: 1px solid #f9f9f9;

				&:before {
					display: block;
					content: '';
					position: absolute;
					bottom: -6.5px;
					left: -8px;
					width: 14px;
					height: 12px;
					border-right: 1px solid #f9f9f9;
					transform: rotate(-45deg);
					z-index: 1;
					background-color: #f9f9f9;
				}

				&:after {
					display: block;
					content: '';
					position: absolute;
					bottom: -6.5px;
					right: -8px;
					width: 14px;
					height: 12px;
					border-left: 1px solid #f9f9f9;
					transform: rotate(45deg);
					z-index: 1;
					background-color: #f9f9f9;
				}

				.coupon-card-button {
					margin-top: -1px;
				}
			}

			// &:before {
			// 	display: block;
			// 	content: '';
			// 	position: absolute;
			// 	bottom: -6px;
			// 	left: -6px;
			// 	width: 12px;
			// 	height: 12px;
			// 	border-right: 1px solid #eee;
			// 	transform: rotate(-45deg);
			// 	background: #fff;
			// }

			// &:after {
			// 	display: block;
			// 	content: '';
			// 	position: absolute;
			// 	bottom: -6px;
			// 	right: -6px;
			// 	width: 12px;
			// 	height: 12px;
			// 	border-left: 1px solid #eee;
			// 	transform: rotate(45deg);
			// 	background: #fff;
			// }
		}
	}

	&:last-child {
		.coupon-card-section {
			padding-bottom: 0;
		}
	}

	&-flag {
		position: absolute;
		display: inline-flex;
		align-items: center;
		justify-content: center;
		top: -1px;
		right: -1px;
		width: 4.5rem;
		height: 4.5rem;
		background-color: #333;
		color: #fff;
		font-size: $size-6;
		background: url('../images/svg/app_pc_bg.svg') no-repeat 0 0;
		text-align: center;
	}

	&-discount {
		margin: 0.6rem 2rem 0;
		font-size: $size-4;
		color: $red;

		strong {
			display: inline-block;
			margin-top: -0.7rem;
			color: $red;
			font-size: 2.1rem;
			font-weight: 600;
			vertical-align: middle;
		}
	}

	&-title {
		margin: 1rem 2rem 2rem;
		font-size: $size-4;
		color: #333;
	}

	&-subtitle {
		margin: 1rem 2rem 2rem;
		font-size: $size-5;
		color: #333;
	}

	.graybox {
		margin-top: 1.5rem;
		padding: 1rem;
		background-color: #f9f9f9;

		.coupon-card-contents-wrap {
			display: table;
			width: 100%;

			.coupon-card-contents {
				display: table-row;
				font-size: $size-6;

				&__title {
					display: table-cell;
					width: 20%;
					padding: 0.3rem;
					color: #333;
				}

				&__list {
					display: table-cell;
					padding: 0.3rem;
				}
			}
		}

		.info-text {
			margin-top: 1rem;
			font-size: $size-6;
		}
	}

	.desc-box {
		padding: 0 2rem;
		position: relative;
		// background-color: #f9f9f9;

		.is-top-liner {
			padding: 2rem 0;
			border-top: 1px solid #eee;
		}

		.coupon-card-contents-wrap {
			display: table;
			width: 100%;

			.coupon-card-contents {
				display: table-row;
				font-size: $size-6;

				&__title {
					display: table-cell;
					width: 20%;
					padding: 0.3rem;
					color: #333;
				}

				&__list {
					display: table-cell;
					padding: 0.3rem;
				}
			}
		}

		// &:before {
		// 	display: block;
		// 	content: '';
		// 	position: absolute;
		// 	bottom: 0;
		// 	left: 0;
		// 	width: 0px;
		// 	height: 0px;
		// 	border-left: 8px solid #f9f9f9;
		// 	border-top: 8px solid transparent;
		// }

		// &:after {
		// 	display: block;
		// 	content: '';
		// 	position: absolute;
		// 	bottom: 0;
		// 	right: 0;
		// 	width: 0px;
		// 	height: 0px;
		// 	border-right: 8px solid #f9f9f9;
		// 	border-top: 8px solid transparent;
		// }

		.info-text {
			margin-top: 1rem;
			font-size: $size-6;
		}
	}

	&-button {
		position: relative;
		width: 100%;
		// margin-top: 1rem;
		padding: 1.1rem 0 1.2rem;
		background-color: #2a384d;
		color: #fff;
		font-size: $size-4;
		margin-top: -1px;

		i {
			position: absolute;
			top: 1.2rem;
			right: 2rem;
		}

		&:disabled {
			background-color: #ddd;
			color: #777;

			i {
				display: none;
			}

			span {
				margin-top: 0;
			}
		}
	}

	/* 적용상품 Collapsible Card */
	.card.card-coupon-card {
		border: 1px solid #ccc;
		box-shadow: none;
		background-color: #f9f9f9;

		.card-header {
			background-color: #fff;
			box-shadow: none;

			a {
				display: inline-block;
				width: 100%;

				strong {
					font-size: $size-4;
					color: #333;
					font-weight: 400;
				}

				.icon {
					float: right;
					margin-top: 0.35rem;
				}
			}
		}

		.card-content {
			padding: 0;

			&-coupon-card {
				display: table;
				width: 100%;
				padding: 1rem;
				border-bottom: 1px solid #eee;
				font-size: $size-5;

				&__title {
					display: table-cell;
					width: 33%;
					padding: 0.5rem 0;
					color: #333;
				}

				.modal-coupon-list-link {
					display: table-cell;

					span {
						display: block;
					}

					a {
						display: inline-block;
						padding: 0.5rem 0;
						font-size: $size-5;
						color: #777;

						i {
							display: inline-block;
							font-size: $size-6;
							vertical-align: top;
							margin-top: 0.5rem;
							color: #777;
						}
					}
				}

				&:last-child {
					border-bottom: none;
				}
			}
		}
	}

	.btn-info {
		// margin: 0.6rem 2rem 0;
		padding: 0;
		color: #777;
		font-size: $size-6;
	}
}

/* 상품 쿠폰 */
.has-coupon {
	&-inner {
		margin-bottom: 3rem;
		border-bottom: 1px solid #eee;
	}

	&-top-area {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding-bottom: 0.5rem;

		h4 {
			width: 50%;
			margin-bottom: 0;
		}

		.checkbox {
			margin: 0;
		}
	}

	&-list {
		margin-top: 0.5rem;

		&-box {
			display: flex;
			position: relative;
			justify-content: space-between;
			align-items: flex-start;
			width: 100%;
			border-top: 1px solid #eee;
			cursor: pointer;

			.radio {
				width: 72%;
				padding: 1.5rem 0 0.5rem;

				input[type='radio'] + label {
					height: inherit;
					font-size: $size-4;
					color: #333;

					.has-coupon-list__title {
						margin-top: -0.1rem;
						padding-left: 0.5rem;
						line-height: 1.8rem;

						strong {
							display: block;
							margin-bottom: 0.7rem;
						}
					}

					.has-coupon-list__text {
						margin-top: 0.6rem;
						padding-left: 0.5rem;
						color: #777;
						font-size: $size-5;

						span {
							display: inline-block;

							&::before {
								display: inline-block;
								height: 0.8rem;
								margin: 0.1rem 0 0 0.68em;
								padding-left: 0.8rem;
								border-left: 1px solid #ccc;
								content: '';
							}

							&:first-child {
								&::before {
									margin-left: 0;
									padding-left: 0;
									border-left: none;
								}
							}
						}
					}
				}
			}

			&-info {
				padding-top: 1.5rem;
				font-size: $size-5;
				color: #777;

				span {
					display: inline-block;
					margin: -3px 0 0 5px;
					vertical-align: middle;
				}
				&.is-danger {
					display: flex;
					position: absolute;
					overflow: hidden;
					float: right;
					cursor: pointer;
					top: 0;
					right: 0;
					z-index: 1;
					width: 100%;
					height: 100%;
					text-align: right;
					color: $red;
					justify-content: flex-end;
					span {
						margin-top: 0;
					}
				}
			}

			&:first-child {
				border-top: 1px solid #ccc;
			}
		}

		&__text {
			display: inline-block;
			max-width: 320px;
			overflow: hidden;
			vertical-align: middle;
			white-space: nowrap;
			word-wrap: normal;
			word-break: break-all;
			text-overflow: ellipsis;
		}

		&__date {
			display: inline-block;
			margin-left: 3px;
			vertical-align: middle;
			font-size: $size-3;
		}

		//active
		&-box.is-active {
			// border: 1px solid #333;
		}

		//disabled
		&-box.disabled {
			.radio {
				input[type='radio'] + label {
					color: #777;
				}
			}
		}
	}
}

/* 쿠폰 적용 계산 결과 */
.coupon-calculate {
	margin: 0 -1rem;
	padding: 2rem 1rem;
	background-color: #f9f9f9;

	&-div {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 0.5rem 0;
		font-size: $size-4;
		color: #333;

		&__title {
			width: 50%;
		}

		&__text {
			strong {
				display: inline-block;
				text-align: right;
				font-size: $size-2;
				font-weight: 400;
			}

			span {
				font-size: $size-4;
			}
		}
	}

	&-div-total {
		margin-top: 1.2rem;
		padding-top: 1.5rem;
		border-top: 1px solid #333;
		font-size: $size-3;
		font-weight: 600;

		.coupon-calculate-div__text-tatal {
			strong {
				font-size: 2.1rem;
				font-weight: 600;
			}

			span {
				display: inline-block;
				margin-top: 0.7rem;
				vertical-align: top;
			}
		}
	}
}

#modal-ter div.modal-card-body {
	margin: 0 -20px;
}

/* E:쿠폰 팝업 */
.section {
	&-item {
		&-contents {
			&__usercheck {
				position: relative;
				padding: 10px;
				background-color: #f9f9f9;
			}

			&__notlogin {
				// min-height: 190px;

				&--info {
					display: block;
					padding: 5rem 0;
					color: #333;
					font-size: $size-2;
					text-align: center;
				}

				&--button {
					justify-content: center;
					align-items: center;
					margin-bottom: 2rem;

					.button {
						min-width: 128px;
						margin-left: 10px;

						&:first-child {
							margin-left: 0;
						}
					}
				}
			}

			&__userinfo {
				min-height: 190px;

				&--rating {
					display: table;
					padding: 3rem 0;
					width: 100%;

					&::after {
						content: '';
						display: block;
						width: 100%;
					}
				}

				&--mark {
					display: table-cell;
					// justify-content: center;
					// align-items: center;
					// flex-wrap: wrap;
					position: relative;
					//width: 50%;
					vertical-align: middle;

					i {
						display: block;
						// padding: 0 20px;
						margin: 0 20px;
					}

					.tooltip-info {
						margin-top: 15px;
						text-align: center;

						.tooltip-tit {
							margin-top: 15px;
							color: #333;
							font-size: $size-5;
							vertical-align: middle;
						}

						.icon-tooltip {
							display: inline-block;
							vertical-align: text-top;
							margin-left: 3px;
							cursor: pointer;

							&:hover {
								background: url(../images/common/tooltip_arrow_on.png) no-repeat center;

								+ .tooltip {
									display: block;
								}
							}
						}

						.tooltip {
							display: none;
							position: absolute;
							top: 140px;
							left: -100px;
							z-index: 5;
							width: 220px;
							padding: 10px 20px;
							border: 1px solid #333;
							background-color: #fff;

							dl {
								justify-content: space-between;
								align-items: center;
								padding: 10px 0;
								border-top: 1px solid #eee;

								&:first-child {
									border-top: none;
								}

								dt,
								dd {
									color: #333;
									font-size: $size-4;
									line-height: 1;
								}
							}
						}
					}
				}

				.coupon-info {
					position: absolute;
					top: 20px;
					right: 20px;
					z-index: 1;

					.icon-info-red {
						display: inline-block;
						vertical-align: text-top;
						margin-right: 5px;
					}
				}

				&--info {
					display: table-cell;
					// justify-content: left;
					// align-items: center;
					// flex-wrap: wrap;
					//width: auto;
					// padding-left: 35px;
					vertical-align: middle;

					.level + .btn-coupon-view {
						margin-top: 10px;
					}

					.wedding + .btn-coupon-view {
						margin-top: 20px;
					}
				}

				&--tag {
					// display: block;
					// width: 100%;
					// margin-bottom: 5px;
					// color: #333;
					font-size: $size-5;
					// font-style: normal;
				}

				&--level {
					color: #333;
					font-size: $size-3;
					margin-bottom: 1.5rem;

					.name {
						font-size: $size-1;
					}
				}

				&--nofont {
					font-size: 0;
				}

				&--wedding {
					position: relative;

					margin-left: 1rem;
					padding-left: 1rem;
					font-size: $size-5;

					.icon-wedding {
						margin-right: 5px;
					}

					.date {
						color: #6651c6;

						.is-bold {
							color: #333;
						}
					}

					&::after {
						background-color: #ccc;
						content: '';
						display: block;
						left: 0;
						position: absolute;
						top: 50%;
						transform: translateX(-50%) translateY(-50%);
						transform-origin: center center;
						width: 1px;
						height: 8px;
					}
				}

				&--couponnumber {
					display: flex;
					justify-content: space-around;
					border-top: 1px solid #ccc;
					// padding: 2rem 0;
					// display: table-cell;
					// vertical-align: middle;
					// width: 230px;

					// &:before {
					// 	display: block;
					// 	content: '';
					// 	position: absolute;
					// 	top: 50%;
					// 	left: 0;
					// 	width: 1px;
					// 	height: 120px;
					// 	background-color: #ddd;
					// 	transform: translateY(-50%);
					// }

					// &:after {
					// 	display: block;
					// 	content: '';
					// 	position: absolute;
					// 	top: 50%;
					// 	right: 0;
					// 	width: 1px;
					// 	height: 120px;
					// 	background-color: #ddd;
					// 	transform: translateY(-50%);
					// }

					.btn-coupon-view-wrap {
						position: relative;
						width: 100%;
						padding: 2rem;
						font-size: $size-5;
						text-align: center;

						&::after {
							background-color: #ccc;
							content: '';
							display: block;
							right: 0;
							position: absolute;
							top: 50%;
							transform: translateX(-50%) translateY(-50%);
							transform-origin: center center;
							width: 1px;
							height: 8px;
						}

						&:last-child::after {
							display: none;
						}

						.btn-coupon-view {
							padding: 0;
							color: #333;
							font-size: $size-5;

							i {
								margin-left: 5px;
							}
						}

						.num {
							color: #333;
							font-weight: 600;
						}
					}

					dl {
						display: flex;
						justify-content: space-between;
					}
				}

				&--rightline {
					display: table-cell;
					vertical-align: middle;

					&:before {
						display: block;
						content: '';
						position: absolute;
						top: 50%;
						left: 0;
						width: 1px;
						height: 156px;
						background-color: #ddd;
						transform: translateY(-50%);
					}
				}

				&--discount {
					display: table-cell;
					vertical-align: middle;
					width: 137px;
					text-align: right;

					dl {
						dt {
							text-align: center;
						}

						dd {
							text-align: right;
						}
					}

					&.discount-01 {
						dl {
							dd {
								margin-right: 38px;
							}
						}
					}

					&.discount-02 {
						dl {
							dd {
								margin-right: 27px;
							}
						}
					}

					&.discount-03 {
						dl {
							dd {
								margin-right: 33px;
							}
						}
					}
				}

				.check-user-info {
					position: relative;

					dl {
						margin-top: 10px;

						dt {
							color: #333;
							font-size: $size-5;
						}

						dd {
							color: #333;
							font-size: 50px;
							letter-spacing: -0.2px;
						}
					}
				}
			}

			&__coupon {
				&--input {
					justify-content: left;
					align-items: center;
					padding: 30px 100px;
					background-color: #fff;

					.input {
						width: 435px;
					}

					.button {
						min-width: 128px;
						margin-left: 10px;
					}

					.dot-list {
						margin-left: 40px;

						li {
							margin: 0;
							color: #8d8d8d;
							font-size: $size-6;

							.is-point {
								color: #333;
								font-style: normal;
							}
						}
					}
				}

				&--tabs {
					&.coupon-zone-tab {
						margin-top: 100px;

						.tabs {
							.tab {
								height: 50px;
							}
						}

						.section-item-contents__tab--title {
							padding-bottom: 0;
							border-bottom: none;
						}
					}

					padding-bottom: 60px;

					.tabs {
						li {
							width: 50%;

							.tab {
								width: 100%;

								span {
									font-size: $size-5;
								}
							}
						}
					}
				}
			}

			&__dwcoupon--info {
				padding: 25px 30px;
				border-top: 1px solid #ddd;
				border-bottom: 1px solid #ddd;

				.dot-list {
					li {
						color: #999;
						font-size: $size-6;
					}
				}
			}

			&__tabs {
				&--top {
					justify-content: space-between;
					align-items: center;
					margin: 30px 0 60px;
				}

				&--selectwrap {
					.dropdown {
						margin-left: 3px;

						&:first-child {
							margin-left: 0;
						}

						.dropdown-trigger {
							.button {
								min-width: 185px;

								.icon {
									// display: inline-block;
								}
							}
						}
					}
				}
			}

			&__coupons {
				&--list {
					margin: 50px 0;
					padding-bottom: 50px;

					.coupon-list {
						// justify-content: left;
						// flex-wrap: wrap;
						margin: -20px -14.5px 0;

						> li {
							display: inline-block;
							margin: 50px 14.5px 0;
							vertical-align: top;
							// &:nth-child(4n + 1) {
							// 	margin-left: 0;
							// }
						}
					}
				}
			}

			&__tab--title {
				padding-bottom: 30px;
				border-bottom: 1px solid #ccc;
			}

			&__level {
				// margin-top: 60px;
				&.is-active {
					position: relative;
					margin-top: -1px;
					border: 1px solid #333 !important;
					z-index: 1;
				}

				// padding-bottom: 40px;
				.table {
					width: 100%;
					max-width: 1086px;
					margin: 40px auto 0;
					border-top: 1px solid #eee;
					border-bottom: 1px solid #eee;

					&.info {
						thead {
							th {
								padding: 20px 18px 20px;
								color: #777;
								font-weight: 600;
								text-align: left;

								&:first-child {
									color: #333;
									font-weight: 400;
								}
							}
						}

						tbody {
							td {
								text-align: left;
							}
						}
					}

					th,
					td {
						border-left: 1px solid #eee;
						vertical-align: middle;
						font-size: $size-5;
						font-weight: 400;

						&:first-child {
							border-left: none;
						}
					}

					thead {
						th {
							padding: 15px 18px 20px;
							background-color: #f9f9f9;
							border-bottom: none;
						}
					}

					tbody {
						td {
							padding: 20px;
							color: #777;
							font-size: $size-5;
							vertical-align: middle;
							text-align: center;

							&.coupon-wrap {
								position: relative;
								vertical-align: top;

								// padding-bottom: 60px;
								.button {
									display: none;
									position: absolute;
									bottom: 20px;
									left: 50%;
									z-index: 1;
									min-width: 100px;
									transform: translateX(-50%);
								}
							}
						}
					}
				}

				.dl-table-style {
					&.coupon-table {
						width: 100%;
						max-width: 1086px;
						margin: 60px auto 0;
					}
				}

				&.individual {
					display: flex;
					border-top: 1px solid #eee;
					border-bottom: 1px solid #eee;
					padding: 2rem 0;
					// align-items: center;
					// 개인회원 로그인 후 등급에 따른 그룹 선택

					.table {
						&.vvip {
							thead {
								th {
									&:nth-child(2) {
										position: relative;
										border-right: 2px solid #333;
										border-left: 2px solid #333;

										&:before {
											display: block;
											content: '';
											position: absolute;
											top: -1px;
											left: 0;
											z-index: 1;
											width: 100%;
											height: 2px;
											background-color: #333;
										}
									}
								}
							}

							tbody {
								tr {
									&:nth-child(1) {
										td {
											&:nth-child(2) {
												border-right: 2px solid #333;
												border-left: 2px solid #333;

												&.coupon-wrap {
													padding-bottom: 60px;

													.button {
														display: block;
													}
												}
											}
										}
									}

									&:nth-child(2) {
										td {
											&:nth-child(2) {
												border-right: 2px solid #333;
												border-left: 2px solid #333;
											}
										}
									}

									&:nth-child(3) {
										td {
											&:nth-child(2) {
												border-right: 2px solid #333;
												border-left: 2px solid #333;
											}
										}
									}

									&:nth-child(4) {
										td {
											&:nth-child(2) {
												border-right: 2px solid #333;
												border-left: 2px solid #333;
											}
										}
									}

									&:nth-child(5) {
										td {
											&:nth-child(2) {
												position: relative;
												border-right: 2px solid #333;
												border-left: 2px solid #333;

												&:after {
													display: block;
													content: '';
													position: absolute;
													bottom: -1px;
													left: 0;
													z-index: 1;
													width: 100%;
													height: 2px;
													background-color: #333;
												}
											}
										}
									}
								}
							}
						}

						&.vip {
							thead {
								th {
									&:nth-child(3) {
										position: relative;
										border-right: 2px solid #333;
										border-left: 2px solid #333;

										&:before {
											display: block;
											content: '';
											position: absolute;
											top: -1px;
											left: 0;
											z-index: 1;
											width: 100%;
											height: 2px;
											background-color: #333;
										}
									}
								}
							}

							tbody {
								tr {
									&:nth-child(1) {
										td {
											&:nth-child(3) {
												border-right: 2px solid #333;
												border-left: 2px solid #333;

												&.coupon-wrap {
													padding-bottom: 60px;

													.button {
														display: block;
													}
												}
											}
										}
									}

									&:nth-child(2) {
										td {
											&:nth-child(3) {
												border-right: 2px solid #333;
												border-left: 2px solid #333;
											}
										}
									}

									&:nth-child(3) {
										td {
											&:nth-child(3) {
												border-right: 2px solid #333;
												border-left: 2px solid #333;
											}
										}
									}

									&:nth-child(4) {
										td {
											&:nth-child(3) {
												border-right: 2px solid #333;
												border-left: 2px solid #333;
											}
										}
									}

									&:nth-child(5) {
										td {
											&:nth-child(3) {
												position: relative;
												border-right: 2px solid #333;
												border-left: 2px solid #333;

												&:after {
													display: block;
													content: '';
													position: absolute;
													bottom: -1px;
													left: 0;
													z-index: 1;
													width: 100%;
													height: 2px;
													background-color: #333;
												}
											}
										}
									}
								}
							}
						}

						&.gold {
							thead {
								th {
									&:nth-child(4) {
										position: relative;
										border-right: 2px solid #333;
										border-left: 2px solid #333;

										&:before {
											display: block;
											content: '';
											position: absolute;
											top: -1px;
											left: 0;
											z-index: 1;
											width: 100%;
											height: 2px;
											background-color: #333;
										}
									}
								}
							}

							tbody {
								tr {
									&:nth-child(1) {
										td {
											&:nth-child(4) {
												border-right: 2px solid #333;
												border-left: 2px solid #333;

												&.coupon-wrap {
													padding-bottom: 60px;

													.button {
														display: block;
													}
												}
											}
										}
									}

									&:nth-child(2) {
										td {
											&:nth-child(4) {
												border-right: 2px solid #333;
												border-left: 2px solid #333;
											}
										}
									}

									&:nth-child(3) {
										td {
											&:nth-child(4) {
												border-right: 2px solid #333;
												border-left: 2px solid #333;
											}
										}
									}

									&:nth-child(4) {
										td {
											&:nth-child(4) {
												border-right: 2px solid #333;
												border-left: 2px solid #333;
											}
										}
									}

									&:nth-child(5) {
										td {
											&:nth-child(4) {
												position: relative;
												border-right: 2px solid #333;
												border-left: 2px solid #333;

												&:after {
													display: block;
													content: '';
													position: absolute;
													bottom: -1px;
													left: 0;
													z-index: 1;
													width: 100%;
													height: 2px;
													background-color: #333;
												}
											}
										}
									}
								}
							}
						}

						&.silver {
							thead {
								th {
									&:nth-child(5) {
										position: relative;
										border-right: 2px solid #333;
										border-left: 2px solid #333;

										&:before {
											display: block;
											content: '';
											position: absolute;
											top: -1px;
											left: 0;
											z-index: 1;
											width: 100%;
											height: 2px;
											background-color: #333;
										}
									}
								}
							}

							tbody {
								tr {
									&:nth-child(1) {
										td {
											&:nth-child(5) {
												border-right: 2px solid #333;
												border-left: 2px solid #333;

												&.coupon-wrap {
													padding-bottom: 60px;

													.button {
														display: block;
													}
												}
											}
										}
									}

									&:nth-child(2) {
										td {
											&:nth-child(5) {
												border-right: 2px solid #333;
												border-left: 2px solid #333;
											}
										}
									}

									&:nth-child(3) {
										td {
											&:nth-child(5) {
												border-right: 2px solid #333;
												border-left: 2px solid #333;
											}
										}
									}

									&:nth-child(4) {
										td {
											&:nth-child(5) {
												border-right: 2px solid #333;
												border-left: 2px solid #333;
											}
										}
									}

									&:nth-child(5) {
										td {
											&:nth-child(5) {
												position: relative;
												border-right: 2px solid #333;
												border-left: 2px solid #333;

												&:after {
													display: block;
													content: '';
													position: absolute;
													bottom: -1px;
													left: 0;
													z-index: 1;
													width: 100%;
													height: 2px;
													background-color: #333;
												}
											}
										}
									}
								}
							}
						}

						&.bronze {
							thead {
								th {
									&:nth-child(6) {
										position: relative;
										border-right: 2px solid #333;
										border-left: 2px solid #333;

										&:before {
											display: block;
											content: '';
											position: absolute;
											top: -1px;
											left: 0;
											z-index: 1;
											width: 100%;
											height: 2px;
											background-color: #333;
										}
									}
								}
							}

							tbody {
								tr {
									&:nth-child(1) {
										td {
											&:nth-child(6) {
												border-right: 2px solid #333;
												border-left: 2px solid #333;

												&.coupon-wrap {
													padding-bottom: 60px;

													.button {
														display: block;
													}
												}
											}
										}
									}

									&:nth-child(2) {
										td {
											&:nth-child(6) {
												border-right: 2px solid #333;
												border-left: 2px solid #333;
											}
										}
									}

									&:nth-child(3) {
										td {
											&:nth-child(6) {
												border-right: 2px solid #333;
												border-left: 2px solid #333;
											}
										}
									}

									&:nth-child(4) {
										td {
											&:nth-child(6) {
												border-right: 2px solid #333;
												border-left: 2px solid #333;
											}
										}
									}

									&:nth-child(5) {
										td {
											&:nth-child(6) {
												position: relative;
												border-right: 2px solid #333;
												border-left: 2px solid #333;

												&:after {
													display: block;
													content: '';
													position: absolute;
													bottom: -1px;
													left: 0;
													z-index: 1;
													width: 100%;
													height: 2px;
													background-color: #333;
												}
											}
										}
									}
								}
							}
						}
					}

					.item-level-box {
						padding: 0 1.5rem;
					}

					.individual--info {
						.txt {
							display: block;
							font-size: $size-2;
							font-weight: 600;
							color: #333;
							margin-bottom: 1.5rem;
							line-height: 1;
						}

						li {
							font-size: $size-5;
							line-height: 1;
							margin-bottom: 1rem;
						}

						.item-coupon-box {
							margin-top: 1.5rem;
						}
					}

					+ .individual {
						margin-top: -1px;
					}

					+ button {
						margin-top: -1px;
						margin-bottom: 20px;
					}

					&__nobordertop {
						border-top: none;
					}

					&__60 {
						padding: 30px 0;
						vertical-align: middle;

						.individual--info {
							> p {
								color: #333;
								font-size: 14px;
								font-weight: 600;
							}

							> span {
								font-size: 12px;
							}
						}
					}
				}

				&.buisness {
					// 사업자 회원 로그인 후 등급에 따른 그룹 선택
					.table {
						&.vvip {
							thead {
								th {
									&:nth-child(2) {
										position: relative;
										border-right: 2px solid #333;
										border-left: 2px solid #333;

										&:before {
											display: block;
											content: '';
											position: absolute;
											top: -1px;
											left: 0;
											z-index: 1;
											width: 100%;
											height: 2px;
											background-color: #333;
										}
									}
								}
							}

							tbody {
								tr {
									&:nth-child(1) {
										td {
											&:nth-child(2) {
												border-right: 2px solid #333;
												border-left: 2px solid #333;

												&.coupon-wrap {
													padding-bottom: 60px;

													.button {
														display: block;
													}
												}
											}
										}
									}

									&:nth-child(2) {
										td {
											&:nth-child(2) {
												border-right: 2px solid #333;
												border-left: 2px solid #333;
											}
										}
									}

									&:nth-child(3) {
										td {
											&:nth-child(2) {
												position: relative;
												border-right: 2px solid #333;
												border-left: 2px solid #333;

												&:after {
													display: block;
													content: '';
													position: absolute;
													bottom: -1px;
													left: 0;
													z-index: 1;
													width: 100%;
													height: 2px;
													background-color: #333;
												}
											}
										}
									}
								}
							}
						}

						&.gold {
							thead {
								th {
									&:nth-child(3) {
										position: relative;
										border-right: 2px solid #333;
										border-left: 2px solid #333;

										&:before {
											display: block;
											content: '';
											position: absolute;
											top: -1px;
											left: 0;
											z-index: 1;
											width: 100%;
											height: 2px;
											background-color: #333;
										}
									}
								}
							}

							tbody {
								tr {
									&:nth-child(1) {
										td {
											&:nth-child(3) {
												border-right: 2px solid #333;
												border-left: 2px solid #333;

												&.coupon-wrap {
													padding-bottom: 60px;

													.button {
														display: block;
													}
												}
											}
										}
									}

									&:nth-child(2) {
										td {
											&:nth-child(3) {
												position: relative;
												border-right: 2px solid #333;
												border-left: 2px solid #333;

												&:after {
													display: block;
													content: '';
													position: absolute;
													bottom: -1px;
													left: 0;
													z-index: 1;
													width: 100%;
													height: 2px;
													background-color: #333;
												}
											}
										}
									}

									&:nth-child(3) {
										td {
											&:nth-child(3) {
												border-right: 2px solid #333;
												border-left: 2px solid #333;
											}
										}
									}
								}
							}
						}
					}
				}
			}

			.is-bottom-liner {
				border-bottom: 1px solid #ccc;
				padding-bottom: 1rem;
				margin-bottom: 0;
			}
		}
	}

	&-contents-item__search--not {
		margin: 5rem 0;
	}
}

.button {
	&.btn-down {
		display: inline-flex;
		vertical-align: middle;

		i {
			display: inline-block;
			margin-left: 8px;
		}

		&:hover {
			i {
				@include sprite-image($icon-down-white);
				@include sprite-position($icon-down-white);
				@include sprite-width($icon-down-white);
				@include sprite-height($icon-down-white);
			}
		}

		&:focus {
			i {
				@include sprite-image($icon-down-white);
				@include sprite-position($icon-down-white);
				@include sprite-width($icon-down-white);
				@include sprite-height($icon-down-white);
			}
		}
	}
}

.only-wrap {
	position: relative;

	.only {
		position: absolute;
		top: -1px;
		right: 10px;
		width: 60px;
		height: 70px;
		padding-top: 30px;
		background-color: #333;

		.txt {
			display: block;
			color: #fff;
			font-size: $size-6;
			text-align: center;
			line-height: 1;

			+ .txt {
				margin-top: 5px;
			}

			&:before {
				display: block;
				content: '';
				position: absolute;
				bottom: -10px;
				left: 0;
				width: 0px;
				height: 0px;
				border-left: 30px solid #333;
				border-bottom: 10px solid transparent;
			}

			&:before {
				display: block;
				content: '';
				position: absolute;
				bottom: -10px;
				right: 0;
				width: 0px;
				height: 0px;
				border-right: 30px solid #333;
				border-bottom: 10px solid transparent;
			}
		}
	}
}

// 쿠폰 layout
.item-coupon {
	&__wrap {
		width: 317px;

		.btn {
			display: block;
			position: relative;
			width: 100%;
			padding: 18px 0;
			background-color: #ddd;
			color: #777;
			font-size: $size-5;
			text-align: center;

			&.btn-coupon {
				background-color: #2a384d;
				color: #fff;

				i {
					margin-left: 10px;
				}
			}

			&.btn-coupon-end {
				// display: none;
			}

			&:before {
				display: block;
				content: '';
				position: absolute;
				top: 0;
				left: 0;
				width: 0px;
				height: 0px;
				border-left: 12px solid #fff;
				border-bottom: 12px solid transparent;
			}

			&:after {
				display: block;
				content: '';
				position: absolute;
				top: 0;
				right: 0;
				width: 0px;
				height: 0px;
				border-right: 12px solid #fff;
				border-bottom: 12px solid transparent;
			}
		}
	}

	&__contents {
		position: relative;
		width: 100%;
		padding: 30px 20px 40px;
		border: 1px solid #ccc;

		&:after {
			display: block;
			content: '';
			position: absolute;
			bottom: -1px;
			left: -1px;
			z-index: 1;
			width: 317px;
			height: 12px;
			background: url(../images/common/bg_coupon.jpg) no-repeat center;
		}

		&--bottom {
			width: 100%;
			padding: 0 20px;
			position: absolute;
			bottom: 20px;
			left: 0;

			.items-number {
				float: left;
				color: #333;
				font-size: $size-6;
			}

			.btn-info {
				display: inline-block;
				vertical-align: middle;

				i {
					display: inline-block;
					margin-left: 5px;
					vertical-align: text-top;
				}
			}
		}
	}

	&__price {
		&--title {
			display: inline-block;
			color: #777;
			font-size: $size-5;
			font-weight: 400;
			margin: 0 0.5rem 0 2rem;
		}

		&--price {
			line-height: 1;

			.number {
				font-size: 60px;
				font-weight: 600;
			}

			.won {
				font-size: $size-4;
				font-weight: 600;
			}

			.persent {
				font-size: 60px;
				font-weight: 600;
			}
		}
	}

	&__name {
		margin-top: 35px;

		&--title {
			display: block;
			overflow: hidden;
			width: 100%;
			color: #333;
			font-size: $size-5;
			font-weight: 600;
			text-overflow: ellipsis;
			white-space: nowrap;
			word-wrap: normal;
		}

		ul {
			margin-top: 5px;

			li {
				padding-left: 11px;
				color: #777;
				font-size: $size-6;
				line-height: 1.3;
				letter-spacing: -0.2px;

				&:before {
					display: block;
					float: left;
					content: '-';
					width: 11px;
					margin-left: -11px;
				}
			}
		}
	}
}

// 등급표 layout
.item-level-box {
	i {
		display: block;
		margin: 0 auto;
	}

	.txt {
		display: block;
		margin-top: 10px;
		font-weight: 600;
		text-align: center;
	}
}

// 등급표 쿠폰 다운로드 layout
.item-coupon {
	display: inline-block;
	position: relative;

	&-box {
		display: inline-block;
		&__discount {
			position: absolute;
			top: 0;
			left: calc(50% - 5px);
			z-index: 1;
			color: #9d8474;
			font-size: $size-7;
			font-weight: 600;
			transform: translateX(-50%);
		}

		+ .item-coupon-box {
			margin-left: 1rem;
		}

		&__number {
			position: relative;
			top: -5px;
			color: #777;
			font-size: $size-5;
		}
	}
}

.label-button {
	display: flex;
	justify-content: start;
	align-items: center;
}

.item-level-coupon-box {
	display: flex;
	justify-content: center;

	.icon2-coupon-b {
		display: flex;
		position: relative;
		display: flex !important;
		align-items: center;
		justify-content: center;

		.circle-wrap {
			width: 5rem;
			height: 5rem;
			background-color: #000;
			color: #fff;
			border-radius: 50%;
			display: flex;
			align-items: center;
			justify-content: center;
			font-size: 16px;
			font-weight: 600;
			font-style: normal;
			position: absolute;
			left: -14px;
			top: -14px;
			border: 1px solid #000;

			.circle {
				display: flex;
				align-items: baseline;

				.num {
					font-size: 20px;
					margin-left: 2px;
				}
			}
		}
	}

	.discount {
		font-size: 20px;
		color: #000;
		margin-top: -20px;
		margin-left: -20px;
		font-style: normal;
		font-size: 0;
		font-weight: 600;

		.num {
			font-size: 50px;
		}

		.persent {
			font-size: 25px;
		}
	}
}
.tooltip-coupon {
	margin-left: 3px;
	&.tooltip-coupon-2 {
		margin-left: 5px;
		&.is-active + .tooltip-coupon-box {
			display: block;
			top: 25px;
			left: 50%;
			margin-left: -75px;
			right: inherit;
			width: 200px;
			font-size: 1.3rem;
		}
	}
	font-size: 12px;
	.tooltip-coupon-box {
		display: none;
	}
	&.is-active + .tooltip-coupon-box {
		display: block;
		top: 25px;
		left: 50%;
		margin-left: -75px;
		right: inherit;
		width: 200px;
		font-size: 1.3rem;
	}
}
