.section-contents {
	&-cscenter {
		&.is-interval {
			margin-bottom: 80px;
		}

		&_quick {
			&--info {
				justify-content: space-between;
				align-items: center;
				margin-top: -1px;

				&.mt0 {
					margin-top: -41px !important;
				}

				&.blue {
					padding: 28px 80px 28px 90px;
					background-color: #f3f9ff;

					&.review-info {
						padding: 2.3rem 0;
					}

					.info-text {
						margin-left: 40px;

						.first-txt {
							display: block;
							color: #385ea3;
							font-size: $size-4;
						}

						.sub-txt {
							display: block;
							color: #385ea3;
							font-size: $size-6;
						}
					}

					.btn-simple {
						width: 180px;
						padding: 12px 30px;
						border-radius: 25px;
						background-color: #fff;
						color: #385ea3;
						font-size: $size-5;
						font-weight: 600;

						i {
							position: relative;
							top: 1px;
							font-size: $size-4;
							margin-left: 15px;
						}
					}
				}

				&.gray {
					padding: 30px 60px;
					background-color: #f9f9f9;

					.section-contents-cscenter_quick--text {
						align-items: start;

						.tit {
							margin: 0;
							color: #333;
							font-size: $size-5;
							font-weight: 600;
						}

						.dot-list {
							margin-left: 30px;

							li {
								margin: 0;
								color: #333;
							}
						}
					}
				}
			}

			&--text {
				justify-content: left;
				align-items: center;
			}

			&--title {
				margin-bottom: 0.2em;
				font-size: 1.3rem;
				color: #333;
				line-height: 1.5;
			}

			&--link {
				font-size: 1.2rem;
				color: #333;

				&:hover,
				&:focus {
					text-decoration: underline;
				}

				i {
					margin: 0 1em;
				}
			}

			&--list {
				// font-size: $size-4;
				a {
					max-width: 480px;
					color: #333;
					@include text-ellipsis();

					&:hover,
					&:focus {
						text-decoration: underline;
					}
				}
			}
		}

		&__edit {
			&.date-select {
				.datepickier-select-info {
					position: relative;
					top: 10px;
					// margin: 15px 0 10px;
					text-align: right;

					span {
						display: inline-block;
						color: #333;
						font-size: $size-6;

						&::before {
							display: inline-block;
							content: '';
							width: 12px;
							height: 12px;
							margin-right: 10px;
							vertical-align: middle;
						}
					}

					.gray {
						&:before {
							background-color: #f9f9f9;
						}
					}

					.blue {
						margin-left: 10px;

						&:before {
							background-color: #28a0e4;
						}
					}
				}
			}

			.select-radio-wrap {
				&.control {
					text-align: left;
				}

				.radio {
					margin: 0;

					label {
						font-size: $size-5;
					}
				}
			}
		}

		&__kids {
			&.collapsible-wrap {
				.card {
					box-shadow: none;

					.card-header-icon {
						width: 34px;
						padding: 8px 0 8px 10px;

						.ico-down_arrow {
							margin: 0;
							color: #333;
						}
					}

					.is-collapsible {
						.dl-table-style__dl {
							.dl-table-style__dt {
								width: 180px;
							}
						}

						.half-layout {
							.dl-table-style__dd {
								color: #333;
							}
						}
					}
				}
			}

			.img-banner {
				width: 100%;
				margin-top: 0.5rem;
			}

			.is-interval {
				margin-top: 3rem;
				padding: 0 1.5rem;
				text-align: center;
			}

			.img {
				display: inline-block;
			}

			.lists-icon-wrap {
				li {
					ol {
						list-style: none;
					}
				}
			}

			&__wrap {
				margin-top: 2rem;
			}

			&__title {
				font-size: 12px;
				color: #fff;
				padding: 1.5rem;
				margin-bottom: 1.5rem;

				&.bg-red {
					background-color: #fb8c83;
				}

				&.bg-green {
					background-color: #a5c488;
				}

				&.bg-yellow {
					background-color: #f7c76b;
				}
			}

			&__content {
				font-size: 12px;
				color: #777;
				margin-bottom: 2rem;
				word-break: keep-all;

				p {
					margin-bottom: 1rem;

					&:last-child {
						margin-bottom: 0;
					}
				}

				&:last-child {
					margin-bottom: 0;
				}
			}

			.tit-wrap {
				display: flex;
				justify-content: start;
				align-items: center;

				i + .tit {
					margin-left: 1rem;
				}
			}

			+ .section-contents-cscenter__kids {
				margin-top: 3rem;
			}
		}

		.info-wrap {
			margin-top: 20px;

			&-scroll {
				overflow-y: auto;
				height: auto;
				padding: 30px;
				border: 1px solid #ccc;

				.info-wrap-list {
					li {
						//margin-top: 20px;
						margin-bottom: 20px;
						padding-left: 14px;
						text-indent: -14px;

						&:last-child {
							margin-bottom: 0;
						}

						.table-box {
							margin-left: -14px;
						}
					}
				}

				span,
				li,
				th,
				td {
					color: #777;
					font-size: $size-6;
					word-break: keep-all;
				}

				.table-box {
					border-top: 1px solid #777;
					border-bottom: 1px solid #eee;

					th {
						text-align: center;
						background-color: #eee;
					}

					td {
						border-left: 1px solid #eee;

						&:first-child {
							border-left: none;
						}
					}
				}
			}

			.select-radio-wrap {
				margin-top: 20px;

				&.control {
					text-align: left;

					label {
						font-size: $size-5;
					}
				}

				.radio {
					margin: 0;
				}
			}
		}

		.required-info {
			display: block;
			position: relative;
			top: 12px;
			// margin: 12px 0 0;
			font-size: $size-6;
			text-align: right;
		}

		.select-search-wrap,
		.select-radio-search {
			align-items: center;

			.select-radio-wrap {
				margin-right: 20px;

				.radio {
					+ .radio {
						margin-left: 24px;
					}
				}
			}
		}

		#div-mid-radio,
		.reserForm-vis {
			display: none;
		}

		.select-checkbox-search {
			margin-right: 20px;

			.checkbox {
				+ .checkbox {
					margin-left: 40px;
				}
			}

			&.multibox-checkbox-middle {
				margin-top: 16px;
			}
		}

		.model-number-info {
			display: inline-block;
			margin-top: 10px;
		}

		.radio-list-detail {
			ul {
				display: flex;
				justify-content: left;
				align-items: center;
				margin-top: 30px;

				&.tab-items {
					display: none;
				}

				li {
					margin-left: 10px;

					&:first-child {
						margin-left: 0;
					}

					.radio {
						display: none;

						&:checked {
							+ .radio-label {
								background-color: #28a0e4;

								i {
									@include sprite-image($icon-furniture-on);
									@include sprite-position($icon-furniture-on);
									@include sprite-width($icon-furniture-on);
									@include sprite-height($icon-furniture-on);
								}

								.name {
									color: #fff;
								}
							}
						}
					}

					.radio-label {
						display: flex;
						justify-content: space-between;
						align-items: center;
						min-width: 150px;
						padding: 20px;
						background-color: #f9f9f9;
						cursor: pointer;

						.name {
							color: #777;
							font-size: $size-5;
						}
					}
				}
			}
		}
	}
}

.item-button-wrap {
	position: relative;
	justify-content: space-between;
	align-items: center;
	margin: 30px 0;
	.button {
		// min-width: 155px;
		width: calc(50% - 5px);
		// margin-left: 10px;
		margin-bottom: 0;

		&:first-child {
			margin-left: 0;
		}
		
	}

	.member-dropout {
		position: absolute;
		top: 40px;
		right: 0;
		color: #333;
	}
}

.review-contents {
	height: 16rem;
	resize: none;

	+ .count-txt {
		display: block;
		margin-top: 5px;
		color: #999;
		font-size: $size-6;
		text-align: right;
	}
}

.multibox-wrap {
	align-items: center;

	.txt-tit {
		display: inline-block;
		margin-right: 28px;
		color: #333;
		font-size: $size-5;
	}

	.control {
		.select {
			margin-left: 10px;

			&:first-child {
				margin-left: 0;
			}
		}

		.input {
			margin-left: 10px;

			&:first-child {
				margin-left: 0;
			}
		}
	}
}

.address-wrap {
	.control {
		.input {
			margin: 0 10px 0 0;
		}
	}

	.input {
		margin-top: 10px;
	}
}

.time {
	&-select {
		display: none;

		&:checked {
			+ .label {
				border: 1px solid #28a0e4;
				background-color: #28a0e4;

				.txt {
					color: #fff;
				}
			}
		}

		&:disabled {
			+ .label {
				opacity: 0.5;
				cursor: default;
			}
		}

		&-wrap {
			justify-content: center;
			align-items: center;
			margin-top: 70px;

			li {
				margin-left: 8px;

				&:first-child {
					margin-left: 0;
				}

				.label {
					justify-content: center;
					align-items: center;
					width: 130px;
					height: 130px;
					cursor: pointer;
				}
			}

			&__box {
				justify-content: left;
				flex-wrap: wrap;
				max-width: 435px;
				margin-left: 70px;
			}
		}

		&-am {
			border: 1px solid #333;
			background-color: #fff;

			.txt {
				color: #333;
				font-size: $size-5;
				font-weight: 400;
			}
		}

		&-pm {
			border: 1px solid #333;
			background-color: #fff;

			.txt {
				color: #333;
				font-size: $size-5;
				font-weight: 400;
			}
		}

		&-none {
			border: 1px solid #888;
			background-color: #888;

			.txt {
				color: #fff;
				font-size: $size-5;
				font-weight: 400;
			}
		}
	}
}

.required:before {
	display: inline-block;
	content: '*';
	margin-right: 0.5rem;
	color: #ff2c2c;
}

.control {
	.width-symptom {
		min-width: 370px;

		select {
			width: 100%;
		}
	}
}

.min-max-txt {
	margin-top: 5px;

	span {
		color: 777;
		font-size: $size-6;
	}

	.count-txt {
		display: inline-block;
		width: auto;
		margin: 0;
	}
}

.date-select {
	.table-box {
		&-form {
			.table {
				th {
					padding: 30px 20px 30px;
					background-color: #fff;

					&:nth-last-child(1) {
						border-left: 1px solid #eee;
					}
				}

				td {
					&:nth-last-child(1) {
						border-left: 1px solid #eee;
					}
				}
			}
		}
	}
}

.custom-table-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	z-index: 1;
	width: 100%;
	margin-top: 40px;
	background-color: #f9f9f9;

	li {
		position: relative;
		width: 50%;
		padding: 15px 20px;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;

		.tit {
			display: inline-block;
			color: #333;
			font-size: $size-5;

			&::before {
				display: inline-block;
				content: '*';
				height: 17px;
				margin-right: 5px;
				color: #ed2650;
				vertical-align: text-top;
			}
		}
	}
}

.table-box {
	&-form {
		margin-top: 20px;
		//margin-top: 40px;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;

		&.custom-table {
			position: relative;
			margin-top: -1px;

			&:before {
				display: block;
				content: '';
				width: 12px;
				height: 12px;
				position: absolute;
				top: 50%;
				left: calc(50%);
				z-index: 5;
				border-top: 1px solid #999;
				border-right: 1px solid #999;
				background-color: #fff;
				transform: translate(-50%, -50%) rotate(45deg);
			}

			&:after {
				display: block;
				content: '';
				width: 1px;
				height: 197px;
				position: absolute;
				top: 50%;
				left: 50%;
				z-index: 1;
				background-color: #999;
				transform: translate(-50%, -50%);
			}

			.table {
				width: 520px;
				margin-bottom: 0;

				tbody {
					th {
						background-color: transparent;
					}
				}
			}
		}

		.table {
			th {
				padding: 33px 20px;
				background-color: #f9f9f9;
				vertical-align: top;

				.label {
					@extend .word-wrap;
					color: #333;
					font-size: $size-5;
					font-weight: 400;

					&.db-line-text {
						padding-left: 14px;
						margin: -12px 0;

						&:before {
							width: 8px;
							margin-left: -14px;
						}
					}
				}

				&:first-child {
					border-left: none;
				}

				&.is-small {
					padding: 20px;
				}
			}

			td {
				padding: 20px;
				color: #777;

				&:first-child {
					border-left: none;
				}

				.custom-datepicker {
					justify-content: left;
					align-items: center;
					flex-wrap: wrap;
					max-width: 350px;
					margin-left: 70px;

					.custom_calendar {
						.table {
							th {
								padding: 0;
								border-left: none;
								vertical-align: middle;
							}

							td {
								padding: 0;
								border-left: none;
								vertical-align: middle;
							}

							tr {
								&.calendar-month-header {
									td {
										padding-top: 25px;
										padding-bottom: 25px;
										background-color: #fff;
									}
								}
							}
						}
					}

					.dot-list {
						li {
							color: #ed2650;
						}
					}
				}

				.checkbox-mt {
					margin-top: 17px;
				}

				.table-box-email {
					display: flex;
					justify-content: space-between;
					width: 528px;

					&-at {
						display: inline-block;
						min-width: 26px;
						width: 5%;
						line-height: 50px;
						vertical-align: middle;
						text-align: center;
					}
				}
			}

			@at-root .width-80 {
				width: 80px;
				min-width: 80px;
			}

			@at-root .width-ssmall {
				width: 140px;
			}

			@at-root .width-small {
				width: 180px;

				select {
					width: 180px;
				}
			}

			@at-root .width-middle {
				width: 300px;

				select {
					width: 300px;
				}
			}

			@at-root .width-large {
				width: 560px;

				select {
					width: 560px;
				}
			}
		}

		.table-box-txt-middle {
			display: inline-block;
			margin-top: 13px;
		}

		.input-enter-guide {
			margin: 5px 0 -5px;
			font-size: $size-6;
		}

		.text-limit-info {
			margin-top: 5px;
		}

		.count-txt {
			display: block;
			//width: 100%;
			margin-top: 5px;
			color: #999;
			font-size: $size-6;
			text-align: right;
		}

		.limit-count {
			position: absolute;
			z-index: 10;
			top: 1.4rem;
			left: 242px;
			cursor: default;
		}

		.button-pw-search {
			margin-top: -5px;
			font-size: $size-6;
			color: #333;
		}

		.verifi-code,
		#marriageDateWrap,
		.age-wrap {
			display: none;
		}
	}
}

.member-total-join {
	padding-bottom: 40px;
	border-bottom: 1px solid #eee;

	&-desc {
		font-size: $size-2;
	}
}

.as-select-wrap {
	display: flex;
	justify-content: left;
	align-items: center;

	.dropdown-wrap {
		margin-right: 10px;

		&.header-search__dropdown {
			width: auto;
			min-width: 180px;

			.dropdown {
				.dropdown-trigger {
					min-width: 180px;

					.button {
						height: 50px;
						padding-right: 20px;
						padding-left: 20px;
						border: 1px solid #ccc;
					}
				}

				.dropdown-menu {
					top: 50px;
					left: 0;

					.dropdown-item {
						padding: 8px 20px;

						&.is-active {
							background-color: #f9f9f9;
							color: #333;
							font-weight: 600;
						}
					}
				}

				&.is-active {
					.dropdown-trigger {
						.button {
							border-color: #333;
							border-bottom: 1px solid transparent;
						}
					}
				}
			}
		}
	}
}

.item-photo-regist__regist + .dot-list {
	margin-top: 20px;
}

/* [팝업] 상품검색 */
#modal-product-search {
	.modal-card {
		width: 940px;
	}

	@at-root .pop-product-search {
		&-word {
			.label {
				font-weight: 400;
				line-height: 50px;
			}

			.field.has-addons {
				justify-content: center;

				input[type='text'] {
					min-width: 300px;
				}

				.button.is-primary {
					min-width: 80px;
				}
			}
		}
	}
}

/* [팝업] 주문내역 */
#modal-order-history {
	.modal-card {
		@include tablet {
			width: 1000px;
		}

		// .modal-card-body {
		// 	// max-height: 350px;
		// }
	}

	.pop-branch-search {
		&.date-search {
			margin: 20px 0;
			// padding: 20px;
			// border: 1px solid #eee;
		}
	}

	.item-button-wrap {
		margin: 30px 0 10px;
	}

	.final-price,
	.date-order-number-wrap,
	.order-state {
		display: block;
		text-align: center;
	}

	.order-history-table {
		table-layout: fixed;
		width: 100%;
		margin-bottom: 0;

		.radio-wrap {
			text-align: center;

			.radio {
				margin: 0;

				label {
					margin-left: 12px;
				}
			}
		}

		.items-info-wrap {
			display: flex;
			justify-content: left;
			align-items: flex-start;

			.img {
				width: 96px;
				height: auto;
				margin-right: 10px;
			}
		}
	}

	#pre-order-history-table {
		display: none;
	}

	.modal-card-foot {
		margin-top: -1px;
		border-top: 1px solid #eee;
	}
}

/* [팝업] 상담 및 방문 예약 */
#modal-reserForm {
	.modal-card {
		max-width: 1160px;
	}

	// .modal-card-body {
	// 	max-height: 700px;
	// }
}

.banner-mt0 {
	display: block;
	margin-top: -41px;
}

.table-member-dropout.table.is-bordered {
	font-size: $size-5;

	thead th {
		padding: 1.05em 1em;
	}
}

/* 검색 박스 */
.search-box {
	padding: 28px 0 22px;
	border: 1px solid #333;
	justify-content: center;

	&-title {
		font-size: $size-4;
		font-weight: 600;
		color: #333;
		line-height: 28px;
	}

	&-keyword-area {
		width: 480px;
	}

	&.custom-style {
		.search-box-title {
			margin-right: 60px;
		}

		.button {
			min-width: 150px;
		}
	}

	&__fixed {
		padding: 40px 0;

		.button {
			margin-top: 2px;
		}
	}
}

.contents-info {
	&--dl {
		&.is-interval {
			margin-bottom: 60px;
		}
	}

	&--dt {
		color: #333;
		font-size: $size-4;
	}

	&--dd {
		margin-top: 15px;
		color: #777;
		font-size: $size-5;
	}
}

.form-box {
	padding: 10px 0;

	&.is-liner {
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
	}
}

.service-item-layout {
	display: flex;
	justify-content: left;
	align-items: center;
	flex-wrap: wrap;

	li {
		width: 335px;
		padding: 10px 0;

		&:nth-child(3n + 1) {
			.control {
				width: 135px;
			}
		}

		&:nth-child(3n + 2) {
			.control {
				width: 135px;
			}
		}

		&:nth-child(3n + 3) {
			width: 416px;

			.control {
				width: 70px;
			}
		}

		.input-set-wrap {
			display: flex;
			justify-content: left;
			align-items: center;
		}

		.control {
			margin-bottom: 0;

			label {
				color: #333;
				font-size: $size-5;
			}
		}

		.custom-input-wrap {
			.custom-input-txt {
				right: 20px;
			}
		}

		.one-input {
			width: calc(100% - 70px);
		}
	}
}

.contents-info-lists {
	&__list {
		margin-top: 40px;

		.title {
			display: block;
			margin-bottom: 15px;
			font-weight: 400;
		}

		.dot-list {
			li {
				line-height: 1.5;

				.sub-list {
					margin-top: 10px;

					p {
						padding-left: 10px;
						text-indent: -7px;
						line-height: 1.5;
					}
				}
			}
		}

		.btn-link {
			display: block;
			color: #333;
			font-size: $size-6;

			i {
				margin-left: 10px;
			}
		}
	}
}

.catalog {
	&-contents {
		&__down--lists {
			display: flex;
			flex-wrap: wrap;
			// flex-flow: row;
			// margin: -60px -12.5px 0;
			// padding-bottom: 40px;

			li {
				list-style: none;
				display: inline-block;
				width: 100%;
				max-width: calc(50% - 0.5rem);
				// height: 120px;
				text-align: center;
				// margin-right: 1rem;
				flex-grow: 1;
				flex-shrink: 1;
				margin-bottom: 2rem;

				&:nth-child(odd) {
					margin-right: 1rem;
				}
			}
		}

		&-wrap {
			position: relative;
			width: 100%;

			.image-wrap {
				position: relative;
				width: 100%;
				font-size: 0;

				&::before {
					content: '';
					display: block;
					position: absolute;
					top: 0;
					right: 0;
					bottom: 0;
					left: 0;
					width: 100%;
					height: 100%;
					margin: auto;
					background-color: rgba(0, 0, 0, 0.1);
				}

				.img {
					width: 100%;
				}

				.btn-down {
					display: block;
					height: 100%;
					font-size: 0;

					&-wrap {
						display: flex;
						justify-content: center;
						align-items: center;
						// position: relative;
						// padding: 0.85rem;
						width: 100%;
						max-width: 3rem;
						height: 100%;
						max-height: 3rem;
						position: absolute;
						right: 0;
						bottom: 0;
						background: #000;
						color: #fff;
						font-size: $size-4;
					}
				}
			}

			.text-wrap {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				height: 100%;
				display: flex;
				align-items: center;
				margin-left: 2rem;

				.text {
					.title {
						color: #fff;
						font-size: 2.4rem;
						margin-bottom: 2rem;
						display: block;
						font-weight: 400;
					}
				}
			}
			.btn-banner-catalog {
				position: absolute;
				left: 0;
				bottom: 2.5rem;
			}
		}
	}

	&-button {
		background: #47b0a3;
		border: 1px solid #47b0a3;
		color: #fff;

		&:hover,
		&:focus {
			color: #fff;
			border: 1px solid #fff;
		}

		i {
			margin-left: 1rem;
			color: #fff;
		}
	}

	&-name {
		// position: absolute;
		// top: calc(50% - 36px);
		// left: 50%;
		// width: 80%;
		color: #333;
		font-size: $size-4;
		text-align: left;
		// letter-spacing: -0.2px;
		// 	transform: translate(-50%, -50%);
		// 	z-index: 10;
		// 	-webkit-transform: translate(-50%, -50%);
		// 	-moz-transform: translate(-50%, -50%);
		// 	-ms-transform: translate(-50%, -50%);
		// 	-o-transform: translate(-50%, -50%);
		//
	}
}

.order-history {
	display: none;

	.img-txt-wrap {
		display: flex;
		justify-content: left;
		align-items: flex-start;

		.img {
			display: block;
			width: 150px;
			height: auto;
			margin-right: 20px;
		}

		.txt-wrap {
			.order-number {
				margin-bottom: 15px;
				color: #999;
				font-size: $size-6;
				line-height: 1;
			}

			.order-name {
				color: #333;
				font-size: $size-6;
				line-height: 1;
			}
		}
	}
}

.store-search-map {
	position: relative;
	width: 100%;
	height: calc(100% - 16.5rem);
	// margin-top: 36px;
	overflow: hidden;
	// border: 1px solid #ccc;
	// margin-bottom: 60px;
	// max-height: 40rem;

	&__button {
		padding: 9px 8px 8px;
		position: absolute;
		top: 12px;
		right: 10px;
		z-index: 1;
		width: 34px;
		height: 34px;
		border-radius: 5px;
		background-color: #fff;
		box-shadow: 0 2px 2px rgba(0, 0, 0, 0.2);
		i {
			font-size: 1.8rem;
		}
		&.map-button {
			&__1 {
				right: 335px;
				width: 43px;
			}
			&__2 {
				right: 271px;
				width: 63px;
			}
			&__3 {
				top: 10px;
				left: 10px;
			}
			&__4 {
				top: 60px;
				left: 10px;
			}

			&__5 {
				top: 100px;
				left: 10px;
			}
		}
	}

	&.store-search-map__margin {
		margin: 0 -1rem;
		width: auto;
	}
}

.store-search-siderbar {
	// position: absolute;
	// top: 0;
	// left: 0;
	width: 100%;
	background-color: $white;
	height: 100%;
	-webkit-transition: all 0.1s;
	transition: all 0.1s;
	z-index: 9999;
	line-height: 1;

	&-head {
		display: flex;
		justify-content: space-between;
		padding: 27px 0 20px;
		align-items: center;

		.checkbox {
			margin: 0;

			label {
				font-size: $size-4;
				line-height: 1.1;
			}
		}
	}

	&-body {
		border-top: 1px solid $grey-darker;

		.scroll-wrapper {
			margin: 0;
			padding: 0;
		}

		ol {
			// padding: 0 20px;
			list-style: none;
			counter-reset: todolist;
		}

		li {
			//padding: 0 20px;
			padding: 1.5rem 0;
			border-bottom: 1px solid $grey-lighter;

			// &:last-child {
			// 	border-bottom: none;
			// }

			// &:hover {
			// 	margin: -1px -20px 0;
			// 	padding: 30px 20px 26px;
			// 	background-color: #f9f9f9;
			// 	border-top: 1px solid #f9f9f9;
			// 	border-bottom: 1px solid #f9f9f9;

			// 	.desc-wrap {
			// 		.icon-wrap {
			// 			i {
			// 				opacity: 1;
			// 			}

			// 			.is-outlined {
			// 				border: 1px solid $grey-darker;
			// 				color: $grey-darker;
			// 			}
			// 		}
			// 	}
			// }

			.desc-wrap {
				width: 100%;
				display: flex;
				justify-content: space-between;

				.desc {
					max-width: calc(100% - 4rem);
					color: $grey-dark;
					font-size: $size-4;

					h5 {
						font-size: $size-4;
						font-weight: 600;
						color: $grey-darker;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;

						&::before {
							counter-increment: todolist;
							content: counter(todolist) '. ';
						}
					}

					address {
						margin-top: 10px;
						font-style: normal;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
					}

					span {
						display: block;
						margin-top: 10px;
					}

					p {
						width: 100%;
						overflow: hidden;
						text-overflow: ellipsis;
						white-space: nowrap;
						margin-top: 16px;
						color: #999;
					}

					.control {
						max-width: 7.5rem;
					}
				}

				.icon-wrapper {
					border: none;
					min-width: auto;
					padding-left: 1rem;
					padding-right: 1rem;
					// i {
					// 	opacity: 0.3;
					// }
				}
			}
		}
	}

	&-foot {
		position: absolute;
		bottom: 0;
		padding: 0 20px;
		width: 100%;
		height: 100px;

		&__bordertop {
			border-top: 1px solid $grey-lighter;
			display: flex;
			justify-content: center;
			align-items: center;
			height: 100%;
		}
	}

	.store-search-siderbar-btn {
		width: 40px;
		height: 100px;
		background-color: $grey-darker;
		position: absolute;
		right: -40px;
		top: 50%;
		margin-top: -50px;
		color: $white;
	}

	&.hide {
		left: -400px;

		.store-search-siderbar-btn {
			transform: rotate(180deg);
		}
	}
}

/* 매장 찾기 툴팁 */

.store-search-map--point-layer {
	position: absolute;
	top: 0;
	left: 50%;
	// margin-top: -6rem;
	margin-left: -11rem;
	margin-top: 6rem;

	.store-search-map-image-layer {
		display: inline-block;
		position: absolute;
		left: 50%;
		margin-left: -1.6rem;
		margin-top: 1.4rem;
		> div {
			background: url(../images/cscenter/location_icon.png) 50% no-repeat;
			background-size: 32px auto;
			width: 32px;
			height: 40px;
			margin-left: 0;
			margin-top: 0;
			text-align: center;

			> span {
				color: #fff;
				line-height: 35px;
				font-size: $size-5;
			}
		}
		&__self {
			> div {
				background: url(../images/cscenter/location_self_icon.png) 50% no-repeat;
				background-size: 32px auto;
			}
		}
	}

	&--center {
		position: absolute;
		top: 50%;
		left: 50%;
		margin-top: -20px;
		margin-left: -15px;
		.store-search-map-image-layer {
			display: inline-block;
			> div {
				background: url(../images/cscenter/location_icon.png) 50% no-repeat;
				width: 30px;
				height: 39px;
				margin-left: 0;
				margin-top: 0;
				text-align: center;

				> span {
					color: #fff;
					line-height: 35px;
					font-size: $size-5;
				}
			}
		}
	}

	.store-search-map--point-wrap {
		position: relative;
		top: -235px;
		left: -13px;
		width: 100%;
		max-width: 220px;

		text-align: left;
		box-shadow: 2px 2px 4px rgba(204, 204, 204, 0.8);
		border: 1px solid #ccc;
		font-size: $size-6;

		&::before {
			content: '';
			position: absolute;
			bottom: -8px;
			left: 50%;
			width: 16px;
			height: 16px;
			margin-left: -8px;
			background-color: #fff;
			box-shadow: 2px 2px 4px rgba(204, 204, 204, 0.8);
			border: 1px solid #ccc;
			transform: rotate(50deg);
		}

		.store-search-map--point {
			position: relative;
			padding: 1.5rem 4rem 1.5rem 1.5rem;
			background: #fff;

			.delete {
				position: absolute;
				top: 5px;
				right: 5px;

				&::before {
					background-color: #000;
				}

				&::after {
					background-color: #000;
				}
			}

			h5 {
				overflow: hidden;
				width: 100%;
				color: #333;
				font-weight: 600;
				white-space: nowrap;
				text-overflow: ellipsis;
			}

			address {
				overflow: hidden;
				width: 100%;
				margin-bottom: 10px;
				font-style: normal;
				color: #777;
				white-space: nowrap;
				text-overflow: ellipsis;
			}
		}
	}
}

// 체크박스 + 툴팁
.tooltip--normal {
	display: inline-block;
	position: relative;
	margin-left: 5px;

	&-box {
		display: none;
		position: absolute;
		top: 25px;
		right: calc(100% - 25px);
		width: 260px;
		padding: 20px;
		border: 1px solid $grey-darker;
		box-sizing: border-box;
		background-color: $white;
		z-index: 10;
		font-size: $size-7;
		line-height: 20px;
	}

	dl {
		dt {
			font-weight: 600;
			color: $grey-darker;
		}

		dd {
			color: $grey-dark;
		}
	}

	&:hover {
		.tooltip--normal-box {
			display: block;
		}
	}

	.ico-tooltip {
		display: inline-block;
		width: 15px;
		height: 15px;
		background: url(../images/common/tooltip_arrow_off.png) no-repeat center;
		background-size: contain;

		&:hover {
			background: url(../images/common/tooltip_arrow_on.png);
		}
	}
}

.section-contents-cscenter {
	.select-search-wrap.select-checkbox-search {
		margin: -5px -10px;

		.checkbox {
			margin: 10px;

			label {
				line-height: 1;
			}
		}
	}

	.select-search-wrap.select-radio-search {
		margin: -5px -10px;

		.radio {
			margin: 10px;

			label {
				line-height: 1;
			}
		}
	}
}

.tabs {
	&.is-toggle {
		&.small-fixed {
			.tab-box {
				z-index: 10;

				.tab {
					min-width: 156px;
					height: 50px;
					font-size: $size-5;
					background-color: #fff;
				}
			}
		}
	}
}

.item-button-wrap {
	&--pdtb {
		padding-top: 0;
		padding-bottom: 0;

		+ .item-button-wrap--pdtb {
			margin-top: 10px;
		}

		.button + button {
			margin-left: 10px;
		}
	}
}

.info-list-contens {
	display: flex;
	justify-content: left;
	align-items: center;

	+ .info-list-contens {
		margin-top: 60px;
	}

	.title-wrap {
		display: flex;
		justify-content: center;
		align-items: center;
		flex-wrap: wrap;
		align-self: stretch;
		width: 150px;
		height: auto;
		background-color: #f9f9f9;

		.wrap-inner {
			text-align: center;

			.title {
				margin-top: 10px;
				letter-spacing: -0.2px;
			}
		}
	}

	&.single-list {
		.dl-table-style__dd {
			padding: 35px 18px;
		}
	}

	.dl-table-style {
		.dl-table-style__dt {
			background-color: #fff;
		}

		.dl-table-style__dd {
			border-left: 1px solid #eee;
			color: #777;
			line-height: 1.5;

			li {
				margin-bottom: 10px;
				line-height: 1.5;
			}
		}
	}
}

.store-info {
	.float-left {
		width: 500px;
	}

	.float-right {
		width: 566px;
	}

	&-photo {
		position: relative;
		overflow: hidden;

		.gallery-photo {
			margin-bottom: 20px;

			.swiper-slide > img {
				width: auto;
				height: 500px;
			}
		}

		.gallery-thumbs {
			padding: 0 55px;

			.swiper-slide {
				min-width: 90px;
				height: 90px;
			}

			.swiper-button-prev {
				top: 50%;
				left: 0;
				margin-top: -25px;
			}

			.swiper-button-next {
				top: 50%;
				right: 0;
				margin-top: -25px;
			}
		}
	}

	.button-area {
		&--bordertop {
			border-top: 1px solid #ccc;
			padding-top: 20px;
		}
	}

	.section-category-control-wrap {
		width: auto;
	}
}

.half-layout {
	.content-l,
	.content-r {
		width: 50%;
	}
}

.layout-73 {
	.content-l {
		width: 70%;
	}
	.content-r {
		width: 30%;
	}
}

.alliance-info-wrap {
	height: 230px;

	.txt {
		color: #333;
		font-size: 40px;
		font-weight: 600;

		i {
			margin-right: 10px;
		}
	}

	.info-dot-wrap {
		justify-content: center;
		height: inherit;
		border-left: 1px solid #eee;

		.dot-list {
			li {
				color: #333;
				font-size: $size-5;
				margin-top: 16px;
			}
		}
	}
}

.horizontal-centerd-layout {
	display: flex;
	justify-content: center;
	padding: 20px 0;

	&.is-interval {
		margin-top: 60px;
	}

	&.bg-light-gray {
		background-color: #f9f9f9;
	}

	span {
		position: relative;
		margin-left: 20px;
		padding-left: 20px;
		color: #333;
		font-size: $size-5;

		&:before {
			display: block;
			content: '';
			position: absolute;
			top: 50%;
			left: 0;
			z-index: 1;
			width: 1px;
			height: 14px;
			background-color: #ccc;
			transform: translateY(-50%);
		}

		&:first-child {
			&:before {
				content: none;
			}
		}
	}
}

.product-item {
	&--small2 {
		min-width: 160px;
	}
}

.btn-groub--between {
	a + a {
		margin-left: 10px;
	}
}

.product-item-status {
	&--commingsoon {
		&::after {
			display: none;
		}

		&::before {
			display: none;
		}
	}
}

.contents-info-wrap3 {
	padding: 2rem 19px;
	border: 1px solid #ccc;
	min-height: 82px;
}

.title-icon-bar {
	width: 100%;
	padding: 14px 30px;
	background-color: #f9f9f9;
	border-top: 1px solid #eee;

	i {
		display: inline-block;
		margin-right: 20px;
	}

	.txt {
		color: #333;
		font-size: $size-5;
		letter-spacing: -0.2px;
	}
}

.box-red {
	display: inline-block;
	padding: 0.5rem 0.8rem;
	color: #fff;
	font-style: normal;
	background-color: #fb8c83;
	font-size: 12px;
	margin-top: 1.5rem;
}

.lists {
	&-icon-wrap {
		border-bottom: 1px solid #eee;

		> li {
			display: flex;
			position: relative;
			width: 100%;
			padding: 1.5rem 0;
			border-bottom: 1px solid #eee;

			// &:before {
			// 	display: block;
			// 	content: '';
			// 	position: absolute;
			// 	top: 50%;
			// 	left: 0;
			// 	z-index: 1;
			// 	width: 1px;
			// 	height: 405px;
			// 	background-color: #eee;
			// 	transform: translateY(-50%);
			// }

			// &:first-child {
			// 	&:before {
			// 		content: none;
			// 	}
			// }

			&:last-child {
				border-bottom: none;
			}

			i {
				display: table;
				margin: 0.5rem 1.5rem;

				// &.icon-graph {
				// 	margin: 0 auto 19px;
				// }

				// &:not(.icon-won) {
				// 	margin: 0 auto 21px;
				// }
			}
		}
	}

	&-dl {
		// padding-top: 40px;

		.tit {
			color: #777;
			font-size: $size-5;
			font-weight: 600;
			text-align: left;
		}

		.text {
			margin-top: 1rem;
			color: #777;
			font-size: $size-6;

			li {
				margin-top: 1rem;

				&:first-child {
					margin-top: 0;
				}
			}
		}
	}
}

.style-title2 {
	font-size: $size-2;
	color: $black;
	text-align: center;
	font-weight: 600;
	padding: 2rem 0;
	margin-bottom: 2rem;
}

.select--noborder {
	display: inline-block;
	max-width: 100%;
	position: relative;
	vertical-align: top;
	font-size: 1.2rem;
	margin-bottom: 1rem;
	padding: 0;

	&:not(.is-multiple) {
		height: 3rem;
	}

	&:not(.is-multiple):not(.is-loading)::after {
		margin-top: -0.5rem;
	}

	select {
		border: none;
		cursor: pointer;
		display: block;
		font-size: 1em;
		max-width: 100%;
		outline: none;
		height: 3rem;
		padding: 0;
		direction: rtl;

		&::after {
			margin-top: -0.4375em;
		}

		&:focus,
		&.is-focused,
		&:active,
		&.is-active {
			box-shadow: none;
		}
	}
}

/* 고객센터 메인 */
.cscenter-main {
	//주요서비스 안내
	&-box {
		width: 100%;

		> li {
			display: flex;
			justify-content: space-between;
			vertical-align: top;
			min-height: 10rem;
			margin: 1.5rem 0;
			background-color: #f9f9f9;
			align-items: center;

			.cscenter-main-box__title {
				// min-width: 15rem;
				width: 50%;
				padding-right: 10px;
				font-size: $size-3;
				text-align: center;

				i {
					display: block;
					margin: 0 auto 1rem;
					// font-size: 3rem;
				}
			}

			.link-box-list {
				display: flex;
				// width: calc(100% - 15rem);

				vertical-align: top;

				> li {
					display: block;
					width: 50%;
					margin-right: 1.3rem;
					text-align: left;

					a {
						display: inline-flex;
						align-items: center;
						justify-content: center;
						min-width: 6.3rem;
						max-width: 7rem;
						width: 100%;
						height: 6.3rem;
						max-height: 7rem;
						padding: 1rem;
						background-color: #fff;
						box-shadow: 0px 8px 10px rgba(0, 0, 0, 0.1);
						font-size: $size-5;
						color: #333;
						text-align: center;
						@include word-wrap;

						&:hover,
						&:focus {
							color: #333;
							text-decoration: underline;
						}
					}
				}
			}
		}
	}

	//매장찾기, 대리점개설안내
	&-link-1 {
		display: table;
		table-layout: fixed;
		width: 100%;

		li {
			display: table-cell;
			text-align: center;

			a {
				display: block;

				&:focus,
				&:active {
					text-decoration: underline;
				}
			}

			i {
				display: block;
				min-height: 3.2rem;
				margin: 0 auto 1.5rem;
			}

			strong {
				display: block;
				color: #333;
				font-size: $size-3;
			}

			&:first-child {
				border-right: 1px solid #eee;
			}
		}
	}

	//이벤트
	&-event {
		display: block;
		margin-right: -1rem;
		line-height: 0;

		> img {
			width: 100%;
		}
	}

	//링크 리스트
	&-link-2 {
		display: flex;
		flex-wrap: wrap;
		margin-top: -40px;

		li {
			width: 50%;
			border-bottom: 1px solid #eee;

			a {
				display: flex;
				width: 100%;
				height: 5.4rem;
				line-height: 1.2;
				color: #333;
				font-size: $size-3;
				font-weight: 600;
				align-items: center;
				@include word-wrap;
				i {
					display: inline-block;
					margin-right: 10px;
					vertical-align: middle;
				}

				&:focus,
				&:active {
					text-decoration: underline;
				}
			}

			&.w100-per {
				width: 100%;
			}

			ul {
				display: flex;
				flex-wrap: wrap;
				padding: 1.2rem 0;
				border-top: 1px solid #eee;

				li {
					width: 50%;
					border-bottom: none;

					a {
						height: 3.2rem;
						padding-left: 1.2rem;
						line-height: 3.2rem;
						font-size: $size-4;
						font-weight: 400;
						color: #777;

						&::before {
							content: '- ';
						}
					}
				}
			}
		}
	}

	//카카오톡 고객센터 안내
	&-kakaocs {
		display: block;
		margin: 0 -1rem;
		line-height: 0;
		// width: 100%;
	}

	&--space-between {
		display: block;
	}

	&-tel-wrap {
		width: 100%;
		// padding-left: 1.5rem;
	}

	//고객센터 연락처
	&-tel {
		display: flex;
		align-items: center;
		justify-content: space-between;
		width: 100%;
		margin: 2rem 0;
		color: #333;
		font-size: $size-3;
		> span {
			display: flex;
			width: calc(100% - 8.3rem);
			margin-right: 1rem;
			align-items: center;
			justify-content: flex-start;
			flex: 1 0 auto;
			+ a {
				flex: 0 0 7.2rem;
			}
		}

		i {
			display: inline-block;
			margin-top: 0.3rem;
			font-size: 2.5rem;
			vertical-align: middle;
		}

		&-number {
			display: inline-block;
			margin: 0 1rem 0 0;
			font-size: 1.9rem;
			flex: 0 0 12.8rem;
			+ span {
				display: inline-block;
				font-size: 1.6rem;
				line-height: 1.1;
				flex: 1 1 auto;
				// @include word-wrap;
			}
		}

		&-btn {
			min-width: 7.2rem;
			height: 2.5rem;
			padding: 0;
			line-height: 0;
			font-size: $size-5;
		}
	}

	//고객센터 연락가능 시간
	&-posstime {
		display: block;
		border-top: 1px solid #eee;
		padding: 1rem 0 1.7rem;
		text-align: center;
		font-size: $size-5;

		> span:first-child {
			&::after {
				height: 0.8rem;
				display: inline-block;
				margin: 0.4rem 0.5rem 0 0;
				padding-right: 0.9rem;
				border-right: 1px solid #eee;
				content: '';
			}
		}
	}

	&-latest {
		width: 518px;

		.latest-title {
			font-size: $size-4;
			padding-bottom: 20px;

			&-wrap {
				height: auto;
				margin: 0;
				padding: 0;
				line-height: 1;
				border-top: none;
			}

			&-more {
				top: 0px;
				right: 0;
				padding: 0;
			}
		}

		ol.latest-list {
			list-style: none;
			counter-reset: my-counter;

			li {
				counter-increment: my-counter;
				clear: both;

				&::before {
					line-height: 20px;
					float: left;
					margin-right: 5px;
					content: counter(my-counter) '. ';
					color: #333;
					font-size: $size-4;
					font-weight: 600;
				}
			}
		}

		li {
			a {
				.latest-list__title {
					color: #777;
				}

				&:hover,
				&:focus {
					.latest-list__title {
						color: #333;
						text-decoration: underline;
					}
				}
			}
		}

		.latest-list.dot-list > li,
		li {
			line-height: 20px;
			margin: 7px 0;
		}

		.latest-list.dot-list > li {
			&:before {
				content: '•';
			}
		}
	}
}

/* 게시판 */
//검색버튼
.btn-search {
	min-width: 9rem;
}

.btn-search-list-wrap {
	margin-right: -2px;
}

//검색영역
.btn-search-list {
	display: flex;
	flex-wrap: wrap;
	z-index: 50;
	width: 100%;
	background-color: #fff;
	padding-left: 1px;

	li {
		position: relative;
		margin: -1px 0 0 -1px;
		border: 1px solid #ccc;
		box-sizing: border-box;

		button {
			width: 100%;
			height: 5rem;
			color: #777;
			font-size: $size-5;
			@include word-wrap;
		}

		&.is-active {
			z-index: 10;
			border-color: #333;

			button {
				color: #333;
				font-size: $size-3;
			}
		}

		&:first-child {
			margin-left: -1px;
		}
	}

	&.step-3 {
		li {
			width: 33.3333333333333%;
		}
	}
}

//목록
.board--list__fixed {
	li {
		position: relative;
		padding-bottom: 1.4rem !important;

		.product-item-image {
			margin-top: 1.8rem;
		}

		.board__contents {
			.height-auto {
				p {
					height: auto !important;
				}
			}

			.icon--right__fixed {
				position: absolute;
				top: calc(50% - 13.5px);
				right: 0;
				transform: rotate(270deg) !important;
				color: #777;
			}
		}

		&:last-child {
			padding-bottom: 0 !important;
		}
	}
}

//하단버튼 링크
.link-box {
	&-title {
		color: #333;
		font-size: $size-3;
		font-weight: 600;
		vertical-align: middle;
	}

	&-button-list {
		display: flex;
		margin: 0 0 0 -0.5rem;
		font-size: 0;
		overflow: scroll;
		white-space: pre-wrap;

		.button {
			min-width: auto;
			height: 2.5rem;
			margin: 0 0.5rem;
			padding: 0 1.5rem;
			font-size: $size-5;
			line-height: 0;

			&:focus,
			&:hover {
				font-weight: 400;
			}
		}
	}
}

/* AS예약 */
//간단조치 방법
.self-fix {
	display: flex;
	align-items: center;
	padding: 1.5rem 1rem 1.5rem 0;
	background-color: #f9f9f9;
	color: #333;

	> i {
		display: inline-block;
		min-width: 9rem;
		width: 22%;
		font-size: 3rem;
		text-align: center;
	}

	&-title {
		display: block;
		margin-bottom: 0.4rem;
		font-size: $size-4;
		font-weight: 600;
	}

	&-help {
		display: block;
		font-size: $size-6;
		margin-bottom: 0.8rem;
		color: #777;
	}

	&-link {
		width: 16rem;
		height: 2.5rem;
		line-height: 2.5rem;
		background-color: #fff;
		border-radius: 3rem;
		color: #9d8474;
		font-size: $size-6;
		box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.04);
		text-align: center;

		i {
			display: inline-block;
			margin: 0 -0.5rem 0 0.5rem;
			font-weight: 600;
			font-size: 1rem;
		}
	}
}

//타이틀 영역
.tit-wrap {
	position: relative;
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 2rem;
	vertical-align: top;

	&--border {
		margin: 1rem 0 1.5rem;
		border-bottom: 1px solid #777;
		padding-bottom: 0.5rem;
	}

	&__noflex {
		display: block;
		padding-bottom: 1.5rem;
		// border-bottom: 1px solid #eee;
		margin-bottom: 0;
	}

	.tit {
		color: #333;
		font-size: 1.5rem;
		font-weight: 600;
		vertical-align: top;

		.sub-tit {
			font-size: $size-3;
		}
	}

	@at-root .required-info {
		display: inline-block;
		margin-top: 0.35rem;
		font-size: $size-5;
		font-style: normal;
		color: $red;

		&::before {
			display: inline-block;
			margin-top: 0.2rem;
			content: '*';
			vertical-align: top;
		}

		&-fixed {
			position: absolute;
			bottom: -2.1rem;
			right: 0;
			z-index: 1;
		}
	}
}

//빠른 문제 해결안내
.gray-box1 {
	position: relative;
	background-color: #f9f9f9;
	align-items: center;
	padding: 1rem 1.5rem 1rem 0;
	color: #333;
	@include word-wrap;

	&-tit {
		width: 30%;
		min-width: 8.6rem;
		padding: 0 2rem;
		display: inline-flex;
		align-items: center;
		font-size: $size-5;
		font-weight: 600;
		text-align: center;
	}

	.dot-list {
		li {
			line-height: 1.5rem;

			&::before {
				top: -0.4rem;
			}
		}

		a {
			color: #333;
			font-size: $size-6;
		}
	}

	.btn-link1 {
		position: absolute;
		bottom: 0;
		right: 0;
		display: inline-block;
		min-width: 2.5rem;
		height: 2.5rem;
		padding: 0;
		line-height: 2.1rem;

		i {
			font-size: 1rem;
		}
	}
}

//display:none list
.no-store-confirm,
.order-search-wrap,
.btn-items-search,
.order-search-dot-list {
	display: none;
}

//인풋 버튼 크기
.btn-wdith9 {
	min-width: 9.5rem;
	padding: 0;
}

//메시지 박스
.help-box1 {
	margin: 5rem 0;
}

/* A/S예약완료 */
.dt-11-rem {
	dt {
		min-width: 11rem !important;
	}
}

/* 1:1문의, 고객의 소리 메인 */
.mb15 {
	margin-bottom: 15rem;
}

.link-1 {
	display: inline-block;
	margin-top: 0.3rem;
	color: #333;

	i {
		display: inline-block;
		font-size: 0.9rem;
		font-weight: 600;
		margin-top: 0.5rem;
		vertical-align: top;
		color: inherit;
	}
}

/* 1:1문의 등록 */
.order-info-wrap-fixed {
	padding: 0;
	border: none;
}

/* 이전설치에약 안내 */
.li-counter-1 {
	list-style: none;
	counter-reset: counter-1;

	li {
		counter-increment: counter-1;
		margin-left: 1.2rem;

		&::before {
			display: inline-block;
			margin-left: -1.2rem;
			padding-right: 0.3rem;
			content: counter(counter-1) '. ';
		}
	}
}

.li-counter-2 {
	list-style: none;
	counter-reset: counter-2;

	> li {
		counter-increment: counter-2;
		margin-left: 1.2rem;

		&::before {
			display: inline-block;
			margin-left: -1.2rem;
			padding-right: 0.3rem;
			content: counter(counter-2) ')';
		}
	}
}

@media screen and (min-width: 568px) {
	.cscenter-main-kakaocs {
		width: 100%;
		margin: 0;
	}
	.cscenter-main--space-between {
		display: flex;
		justify-content: space-between;
		align-items: center;
	}

	.cscenter-main-tel-wrap {
		// width: 100%;
		padding-left: 1rem;
	}

	.cscenter-main-tel-number {
		margin-left: 0;
		margin-right: 0.4rem;
	}
}

.checkbox-list--wrap {
	&__border {
		margin-bottom: 1.5rem;
		padding-top: 1.5rem;
		border-top: 1px solid #eee;

		&:first-child {
			border-top: none;
			padding-top: 0;
			margin-top: 1.5rem;
		}
	}

	.field.is-grouped {
		align-items: flex-end;

		> .control.is-expanded {
			flex-grow: 1;
			flex-shrink: 1;
			min-width: 14.5rem;
			align-items: flex-end;
			width: 50%;
		}
	}
}

.collapsible-card-wrap {
	&.is-bottom-liner {
		border-bottom: 1px solid #eee;
	}

	&.is-top-liner {
		border-top: 1px solid #eee;
	}
}

.control--checkbox__maxwidth {
	.checkbox {
		width: auto;
		// max-width: 128px;
		margin-right: 0;
		word-break: keep-all;
	}

	.modal-button {
		vertical-align: top;
		// margin-right: -15px;
		padding: 1px 4px;
		margin-left: -4px;
	}

	.shop-tooltip-button {
		// vertical-align: top;
		padding: 1px 4px;
		margin-left: -4px;
		margin-bottom: 10px;
	}
}

.shop-tooltip-button + .tooltip-box {
	display: none;
}
.shop-tooltip-button.is-active + .tooltip-box {
	display: block;
	width: 200px;
	left: 50%;
	right: inherit;
	font-size: 1.3rem;
	margin-left: -100px;
}
.cscenter {
	&-call-wrap {
		padding: 2.5rem 0 2rem;
		border-top: 1px solid #eee;
		margin-bottom: 2rem;
		border-bottom: 1px solid #eee;
		text-align: center;

		.cscenter-call {
			font-size: 30px;
			display: flex;
			justify-content: center;
			align-items: center;
			font-weight: 600;
			line-height: 1;
			margin-bottom: 2rem;

			a {
				color: #333;
				margin-left: 1.5rem;
			}
		}

		p {
			font-size: $size-5;
		}
	}

	&-description-wrap {
		padding-bottom: 2rem;
		border-bottom: 1px solid #eee;

		&__noborder {
			border-bottom: none;
		}
	}
}

.checkbox--col-3 {
	margin-bottom: 1rem;
	.field {
		margin-bottom: 0;

		.control {
			width: 33.33333%;
		}
	}
}

.is-bottom-liner--bottom-arr {
	position: relative;
	border-bottom: 1px solid #777;

	&::after {
		display: block;
		content: '';
		width: 1.2rem;
		height: 1.2rem;
		position: absolute;
		bottom: -1.3rem;
		left: calc(50%);
		z-index: 5;
		border-bottom: 1px solid #777;
		border-right: 1px solid #777;
		background-color: #fff;
		transform: translate(-50%, -50%) rotate(45deg);
	}
}

.tab-block {
	&.store--men {
		margin-top: 1rem;
		margin-bottom: 2rem;

		.tab-block-item {
			margin: 0 1rem;

			&:first-child {
				margin-left: 0;
			}

			a {
				color: #333;
				font-size: 13px;
				text-align: left;

				.thumb {
					overflow: hidden;
					position: relative;
					width: 125px;
					height: 150px;
					img {
						position: absolute;
						top: 50%;
						left: 50%;
						width: auto;
						height: 100%;
						transform: translate(-50%, -50%);
						transition: none;
					}
				}

				.name {
					margin-top: 1rem;
				}
			}
		}
	}
}

.swiper-store {
	&-event {
		margin-left: -10px;

		&__lists {
			margin-top: 2rem;

			li {
				margin-bottom: 0;
			}
		}

		.product-item-header__name {
			font-weight: 400;
		}

		.product-item-header--date {
			display: inline-block;
			margin-top: 1rem;
			font-size: $size-5;
		}

		.paging-box.is-fullwidth {
			margin-left: 10px;
			// padding-left: 1rem;
			padding-right: 1rem;
		}
	}
}
