input[type='radio'][disabled],
input[type='radio'][disabled]:hover,
input[type='radio'][disabled]:active,
input[type='radio'][disabled]:focus,
input[type='checkbox'][disabled],
input[type='checkbox'][disabled]:hover,
input[type='checkbox'][disabled]:active,
input[type='checkbox'][disabled]:focus {
	cursor: not-allowed;
	opacity: 0.4;

	& + label {
		cursor: not-allowed;
		opacity: 0.4;
	}
}

.radio,
.checkbox {
	position: relative;
	margin: 0 10px 10px 0;
	padding: 0;
	-moz-tap-highlight-color: rgba(0, 0, 0, 0);
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	font-size: 0;
	line-height: 1;
	vertical-align: middle;

	&.disabled {
		opacity: 0.5;
	}
}

// .radio + .radio,
// .checkbox + .checkbox {
// 	margin-left: 10px;
// }
.checkbox input[type='checkbox'] + label:active:before,
.checkbox input[type='checkbox']:checked + label:active:before,
.radio input[type='radio'] + label:active:before,
.radio input[type='radio']:checked + label:active:before {
	background: #fff;
}
@mixin checkbox-label {
	display: block;
	float: left;
	position: relative;
	padding: 0 0 0 22px;
	font-size: $size-5;
	line-height: 1.25;
	cursor: pointer;
	color: #777;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
}
.checkbox input[type='checkbox'],
.radio input[type='radio'] {
	position: absolute;
	overflow: hidden;
	width: 1px;
	height: 1px;
	margin: -1px;
	padding: 0;
	clip: rect(0, 0, 0, 0);
	border: 0;

	&:focus + label:before {
		box-shadow: 0 0 0 2px rgba(0, 0, 0, 0.1);
	}

	+ label {
		@include checkbox-label;

		&::before {
			content: '';
			display: block;
			float: left;
			overflow: hidden;
			width: 16px;
			height: 16px;
			margin-top: 0; // 200623
			margin-left: -22px;
			border: 1px solid #ccc;
			border-radius: 2px;
			background: #fff;
			line-height: 14px;
			text-align: center;
			transition: all 0.2s;
		}
	}

	&:checked + label {
		color: #333;

		&:before {
			background: #fff;
			border-color: #333;
		}
	}

	@at-root .is-hidden-control & {
		+ label {
			padding: 0;
			&:before {
				display: none;
			}
			&:after {
				display: none;
			}
		}
	}
}

.radio input[type='radio'] {
	+ label {
		&::before {
			width: 17px;
			height: 17px;
			border-radius: 100%;
			line-height: 17px;
		}

		&::after {
			opacity: 0;
			content: '';
			position: absolute;
			top: 4px;
			left: 4px;
			width: 9px;
			height: 9px;
			margin: 0;
			border-radius: 100%;
			background: #333;
			transform: scale(0);
			transition: all 0.2s;
		}
	}

	&:checked + label:after {
		opacity: 1;
		transform: scale(1);
	}
}

.checkbox input[type='checkbox'] {
	&:checked + label:before {
		content: '\e900';
		background: #333;
		color: #fff;
		font-size: $size-3;
		font-family: 'iconset';
	}
}

.checkbox__one.checkbox input[type='checkbox'] {
	+ label {
		padding-left: 16px;

		&::before {
			margin-left: -16px;
		}
	}
}

.label-checkbox {
	@include checkbox-label;
}
.control {
	&.radio-list,
	&.checkbox-list {
		margin-right: -10px;
		margin-bottom: -10px;
	}
}

.button.is-light {
	border-color: #ccc;
}

/* ON/OFF Toggle Switch */
.onoff-switch {
	display: inline-block;
	position: relative;
	width: 100%;
	font-size: 80%;

	.onoff-switch-label {
		display: block;
		overflow: hidden;
		margin: 0;
		cursor: pointer;
		border: 1px solid hsl(0, 0%, 90%);
		border-radius: 28px;
	}

	.onoff-switch-inner {
		width: 200%;
		margin-left: -100%;
		transition: margin 0.15s ease-in-out;

		&:before,
		&:after {
			float: left;
			width: 50%;
			height: 26px;
			padding: 0;
			line-height: 26px;
			color: #fff;
			font-size: 100%;
			font-weight: 500;
			box-sizing: border-box;
		}

		&:before {
			content: 'ON';
			padding-left: 8px;
			background-color: #04b1c6;
			color: hsl(0, 0%, 100%);
		}

		&:after {
			content: 'OFF';
			padding-right: 6px;
			background-color: #888;
			color: hsl(0, 0%, 80%);
			text-align: right;
		}
	}

	.onoff-switch-switch {
		position: absolute;
		top: 2px;
		right: 29px;
		bottom: 0;
		width: 24px;
		height: 24px;
		margin: 0;
		border: 1px solid #eee;
		border-radius: 50%;
		background: hsl(0, 0%, 100%);
		box-shadow: 0 0 3px rgba(0, 0, 0, 0.3);
		transition: right 0.15s ease-in-out;
	}
}

.onoff-switch-container {
	position: relative;
	width: 54px;
	height: 28px;
	font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

	input[type='checkbox'] {
		position: absolute;
		left: 10px;

		&:checked ~ .onoff-switch .onoff-switch-label {
			.onoff-switch-inner {
				margin-left: 0;
			}

			.onoff-switch-switch {
				right: 1px;
				box-shadow: 0 0 3px rgba(0, 0, 0, 0.5);
			}
		}

		&:focus ~ .onoff-switch {
			outline: 0;
		}
	}

	label {
		display: inline-block;
		position: absolute;
		z-index: 1;
		cursor: pointer;
		width: 100%;
		height: 28px;
		text-align: left;
		line-height: 28px;
		font-weight: 200;
		-moz-tap-highlight-color: rgba(0, 0, 0, 0);
		-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	}
}

.select-mail-wrap {
	&.is-grouped > .control:not(:last-child) {
		margin-right: 0.2rem;

		span {
			height: 4rem;
			display: inline-flex;
			align-items: center;
			justify-content: center;
		}
	}
}

// twentytwenty handle + arrow
.twetwe-item {
	.twentytwenty-handle {
		width: 4rem;
		height: 4rem;
		margin-left: -2rem;
		margin-top: -2rem;
		background: #fff;
		border: 0;
		align-items: center;
		box-shadow: 0 0 10px rgba(128, 128, 128, 0.3);
	}
	.twentytwenty-left-arrow,
	.twentytwenty-right-arrow {
		display: flex;
		width: 5px;
		border: 0;
		margin-top: 0;
		font-family: 'iconset' !important;
		speak: never;
		text-align: center;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		color: #333;
		font-size: 16px;
		align-items: center;
		justify-content: center;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}
	.twentytwenty-left-arrow {
		margin-left: -1rem;
		&:before {
			content: '\eb5e';
			display: inline-block;
			width: 10px;
			line-height: 1;
		}
	}
	.twentytwenty-right-arrow {
		margin-right: -1rem;
		&:before {
			content: '\eb5f';
			display: inline-block;
			width: 10px;
			line-height: 1;
		}
	}
	.twentytwenty-horizontal .twentytwenty-handle:before,
	.twentytwenty-horizontal .twentytwenty-handle:after {
		box-shadow: none;
		margin-top: 0;
		margin-bottom: 0;
	}
}
.select-custom {
	position: relative;
	select {
		position: absolute;
		opacity: 0;
		width: 100%;
		height: 4rem;
		left: 0;
		top: 0;
		right: 0;
		z-index: 1;
	}
}
