.section-contents {
	&-events {
		&.none-events {
			min-height: 700px;
			text-align: center;

			.info-text {
				display: inline-block;
				margin: 100px 0;
				color: #777;
				font-size: $size-5;
			}
		}

		&__dropdown {
			margin-top: 40px;
		}

		&__dateselect {
			.date-select-wrap {
				justify-content: space-between;
				margin: 40px 0 0;
			}
		}

		&__event {
			&--search {
				.event-search-wrap {
					display: flex;
					justify-content: flex-end;
					align-items: center;
					margin: 40px 0 0;

					.label {
						margin: 0 20px 0 0;
					}

					.input {
						min-width: 300px;
					}

					.button {
						max-width: 80px;
					}
				}

				&.search-table {
					.table-box {
						margin-top: 40px;
					}
				}
			}
		}

		&.events-lists-wrap {
			padding-bottom: 60px;

			.section-contents__pagination {
				margin-top: 40px;
			}
		}

		&.events-comment-wrap {
			margin-top: 60px;
			margin-bottom: 60px;
			.textarea-comment-wrap {
				.txt-number-info {
					margin-bottom: 15px;
					span {
						color: #333;
						font-size: $size-5;
						&.num {
							color: #ed2650;
						}
					}
				}
				.textarea {
					overflow-y: auto;
					height: 100px;
					resize: none;
				}
				.button {
					min-width: 140px;
					height: 100px;
				}
				.max-contents-txt {
					margin-top: 5px;
					color: #777;
					font-size: $size-6;
					text-align: left;
				}
			}
			.comment-lists {
				margin-top: 30px;
			}
			.section-contents__pagination {
				margin-top: 40px;
			}
			+ .button-area {
				margin: 100px 0;
			}
		}

		.section-contents__pagination {
			margin-top: 50px;
		}
	}
}

.events-prizewinner-top {
	&.share-wrap {
		position: relative;
		border-bottom: none;
		.content-share-wrap {
			position: absolute;
			top: 30px;
			right: 0;
			z-index: 1;
		}
	}
}

.button-area {
	&.is-centered {
		text-align: center;
	}
}

.status-info-bar {
	width: 100%;
	background-color: #f9f9f9;
	text-align: center;
	line-height: 80px;
	.info-text {
		color: #777;
		font-size: $size-4;
		i {
			margin-right: 10px;
		}
	}
}

.comment-lists {
	li {
		padding: 25px 0;
		border-bottom: 1px solid #eee;
		.vertical-bar-list {
			display: flex;
			justify-content: left;
			align-items: center;
			margin-bottom: 15px;
			span {
				position: relative;
				margin-left: 10px;
				padding-left: 11px;
				color: #777;
				font-size: $size-6;
				&:after {
					display: block;
					content: '';
					position: absolute;
					top: 50%;
					left: 0;
					z-index: 1;
					width: 1px;
					height: 8px;
					background-color: #888;
					transform: translateY(-50%);
				}
				&:first-child {
					margin-left: 0;
					padding-left: 0;
					&:after {
						content: none;
					}
				}
			}
		}
		.user-comment-wrap {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			.text {
				display: inline-block;
				max-width: 1040px;
				color: #333;
				font-size: $size-5;
			}
			.button-area {
				.button {
					margin-left: 7px;
					&:first-child {
						margin-left: 0;
					}
				}
			}
		}
		.user-commment-edit-wrap {
			display: none;
			position: relative;
			.field {
				&.has-addons {
					margin-bottom: 10px;
					.textarea {
						height: 100px;
						border: 1px solid #333;
					}
				}
			}
			.button-area {
				text-align: right;
			}
			.max-contents-txt {
				position: absolute;
				bottom: 35px;
				left: 0;
				text-align: left;
			}
		}
	}
}

.events-tabs-wrap {
	margin-top: 100px;

	.events-tabs {
		padding-left: 1px;

		.item-list {
			width: 33.3%;

			&:nth-child(3n + 1) {
				width: calc(33.3% + 4px);
			}
		}
	}
}

.table-box-default {
	.table {
		border-top: 1px solid #333;
		border-bottom: 1px solid #eee;

		thead {
			th {
				padding: 20px;
				color: #333;
				font-size: $size-5;
			}
		}

		tbody {
			td {
				padding: 20px;
				text-align: center;
				border-bottom: 1px solid #eee;

				&.is-left {
					text-align: left;
				}

				.event-link,
				.text {
					color: #777;
					font-size: $size-5;
				}
				&.vertical-top {
					vertical-align: top;
				}
			}
		}
	}
}

/* 당첨자 발표 상세 */
.events-prizewinner {
	&-top {
		padding: 30px 0 20px;
		border-bottom: 1px solid #eee;

		@at-root .events-tit {
			display: inline-block;
			width: 1160px;
			margin-left: 20px;
			font-size: $size-4;
			color: #333;
			vertical-align: top;
		}

		@at-root .events-date {
			dl {
				display: flex;
				padding: 3px 0;
				font-size: $size-5;

				dt {
					color: #333;
					margin-right: 20px;
				}
			}
		}
	}

	&-result {
		width: 1090px;
		margin: 0 auto;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		font-size: $size-5;

		thead th {
			padding: 1em 1em;
			border: none;
			background-color: #f9f9f9;
			text-align: center;
			font-weight: 400;
		}

		tbody td {
			padding: 1em 1em;
			border-bottom: 1px solid #eee;
			text-align: center;
			font-weight: 400;
			color: #777;
		}
	}

	&-button {
		margin-bottom: 100px;
		padding-top: 60px;
		border-top: 1px solid #eee;
	}
}

.events-horizontal__info {
	width: calc(100% - 50px);
}

.accordion-pop-wrap {
	margin-top: 50px;
	border-top: 1px solid #eee;
	.section {
		&-contents {
			&-item {
				&__options {
					&--titwrap {
						max-width: initial;
					}

					&--title,
					&--sub {
						width: 100%;
					}
				}
			}
		}
	}
	.consent {
		width: 100%;
		margin: 0;

		&.check-wrap {
			.card {
				.card-header {
					.card-header-title {
						flex-grow: 1;
						&.-only {
							padding: 8px 0;
						}
						span {
							padding-left: 5px;
						}
					}
				}

				.card-content {
					padding: 0;

					.text-area {
						overflow-y: auto;
						max-height: 160px;
						padding: 30px;
						border: 1px solid #eee;
						border-top: none;
						font-size: $size-6;
					}
				}
			}
		}

		.card {
			box-shadow: none;

			.card-header {
				display: flex;
				justify-content: left;
				align-items: center;
				padding: 23px 0;
				border-bottom: 1px solid #eee;
				box-shadow: none;

				.card-header-title {
					flex-grow: 0;
					font-size: $size-5;
					font-weight: 400;
				}

				i {
					color: #333;
					font-size: $size-6;
				}
			}

			.card-content {
				padding: 30px 0 0;

				.dot-list {
					li {
						line-height: 1.7;
					}
				}

				span {
					color: #777;
					font-size: $size-6;
				}
			}
		}
	}
}

.section-event-module {
	width: 80%;
	margin: 0 auto 60px;
	.row {
		img {
			width: auto;
			max-width: 100%;
		}
		.label-text {
			display: block;
		}
	}
	.row:not(:last-child) {
		margin-bottom: 30px;
	}
	.field:not(:last-child) {
		margin-bottom: 10px;
	}
	.control {
		.radio,
		.checkbox {
			margin-bottom: 0;
		}
	}
}

.event-detail-wrap {
	.section-item-contents__coupons--list {
		text-align: center;
		.item-coupon__wrap {
			text-align: left;
		}
		li {
			position: relative;
		}
	}
	.is-disabled {
		@include disabled();
		&:after {
			content: '모든 쿠폰 소진';
			display: flex;
			overflow: hidden;
			position: absolute;
			left: 0;
			bottom: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.7);
			font-size: 30px;
			line-height: 1.1;
			color: #fff;
			font-weight: 400;
			align-items: center;
			justify-content: center;
		}
	}
}
.event-giveaway-list {
	li {
		display: inline-block;
		vertical-align: top;
	}
}
