.section-contents {
	&-events {
		&.none-events {
			min-height: 700px;
			text-align: center;

			.info-text {
				display: inline-block;
				margin: 100px 0;
				color: #777;
				font-size: $size-4;
			}
		}

		&__dropdown {
			margin-top: 40px;
		}

		&__dateselect {
			.date-select-wrap {
				justify-content: space-between;
				margin: 40px 0 0;
			}
		}

		&__event {
			&--search {
				.event-search-wrap {
					display: flex;
					justify-content: flex-end;
					align-items: center;
					margin: 40px 0 0;

					.label {
						margin: 0 20px 0 0;
					}

					.input {
						min-width: 300px;
					}

					.button {
						max-width: 80px;
					}
				}

				&.search-table {
					.table-box {
						margin-top: 40px;
					}
				}
			}
		}

		&.events-lists-wrap {
			.event-name {
				display: block;
				font-size: 1.4rem;
				color: #333;
			}
			.text-event-info {
				font-size: 12px;
				color: #777;
				span + span {
					position: relative;
					padding-left: 20px;
					&::before {
						position: absolute;
						top: 7px;
						left: 10px;
						width: 1px;
						height: 7px;
						background: #ccc;
						content: '';
					}
				}
			}
		}

		&.events-comment-wrap {
			margin-top: 3rem;

			.textarea-comment-wrap {
				.txt-number-info {
					margin-bottom: 1rem;

					span {
						color: #333;
						font-size: $size-4;

						&.num {
							color: #ed2650;
						}
					}
				}

				.textarea {
					overflow-y: auto;
					height: 80px;
					resize: none;
				}

				.button {
					width: 60px;
					min-width: auto;
					height: 80px;
				}

				.max-contents-txt {
					margin-top: 5px;
					color: #777;
					font-size: $size-6;
					text-align: left;
				}
			}

			.comment-lists {
				margin-top: 1.5rem;
			}

			.section-contents__pagination {
				margin-top: 40px;
			}

			+ .button-area {
				margin: 100px 0;
			}
		}

		.section-contents__pagination {
			margin-top: 50px;
		}
	}
}

.events-prizewinner-top {
	&.share-wrap {
		position: relative;
		border-bottom: none;

		.content-share-wrap {
			position: absolute;
			top: 30px;
			right: 0;
			z-index: 1;
		}
	}
}

.button-area {
	&.is-centered {
		text-align: center;
	}
}

.status-info-bar {
	width: 100%;
	background-color: #f9f9f9;
	text-align: center;
	line-height: 80px;

	.info-text {
		color: #777;
		font-size: $size-4;

		i {
			margin-right: 10px;
		}
	}
}

.comment-lists {
	.comment-original {
		&:last-child{
			margin-bottom: 15px;
		}
	}
	.comm-origin-wrap {
		padding: 25px 0;
		border-bottom: 1px solid #ccc;
	}
	.reply-comment-wrap {
		background-color: #f9f9f9;
		padding: 25px 30px;
		border-bottom: 1px solid #ccc;
			.reply-tab {
				background: #ccc;
				position: absolute;
				height: 14px;
				width: 1px;
				margin: -2px -23px;
				&:after {
					background: #ccc;
					position: absolute;
					content: "";
					height: 1px;
					top: 14px;
					width: 14px;
				}
			}
			.comment-writer {
				color: #000;
				font-size: 12px;
				border: #000 1px solid;
				border-radius: 12px;
				margin-left: 10px;
				padding: 2px 10px;
			}
	}
	.reply-form-wrap {
		display: none;
		.reply-form {
			position: relative;
			.field {
				&.has-addons {
					margin-bottom: 2rem;
					.textarea {
						height: 100px;
					}
				}
			}
			.button-area {
				text-align: left;
			}
			.max-contents-txt {
				position: absolute;
				bottom: 45px;
				right: 0;
				font-size: 1.3rem;
				text-align: right;
			}
		}
	}
	.reply-accordion {
		display: none;
		padding: 0;
		button{
		background-color: #f9f9f9;
		border: none;
		border-width: 0 0 0.5px 0;
		}
	}
	
	li {
		.vertical-bar-list {
			display: flex;
			justify-content: left;
			align-items: center;
			margin-bottom: 10px;

			span {
				position: relative;
				margin-left: 0.5rem;
				padding-left: 0.5rem;
				color: #777;
				font-size: $size-4;
				.level-icon {
					margin-top: -4px;
				}

				&:after {
					display: block;
					content: '';
					position: absolute;
					top: 50%;
					left: 0;
					z-index: 1;
					width: 1px;
					height: 8px;
					background-color: #888;
					transform: translateY(-50%);
				}

				&:first-child {
					margin-left: 0;
					padding-left: 0;

					&:after {
						content: none;
					}
				}

				&.comm-user__writer__noafter {
					padding-left: 0;
					&::after {
						content: none;
					}
				}
			}
		}

		.user-comment-wrap {
			display: flex;
			flex-direction: column;
			justify-content: space-between;
			align-items: flex-start;

			.text {
				// display: inline-block;
				// max-width: 1040px;
				margin-bottom: 1.5rem;
				font-size: $size-4;
				font-weight: 600;
				color: #333;
			}

			.button-area {
				.button {
					min-width: auto;
					margin: 15px 0 0 0;
				/*  margin: 0 -10px 0 7px;
					padding: 10px;
					font-size: 1.3rem; */
					&:first-child {
						margin-left: 0;
					}
				}
			}
			.reply-area {
				.text {
					display: inline;
				}
				.reply-id {
					font-size: 1.2rem;
					color: #00ADE3;
					font-weight: 600;
					display: inline-block;
					margin-right: 5px;
				}	
			}
		}

		.user-commment-edit-wrap {
			display: none;
			position: relative;

			.field {
				&.has-addons {
					margin-bottom: 2rem;

					.textarea {
						height: 100px;
					}
				}
			}

			.button-area {
				text-align: left;
			}

			.max-contents-txt {
				position: absolute;
				bottom: 45px;
				right: 0;
				font-size: 1.3rem;
				text-align: right;
			}
		}
	}
	/*
	&.comment-lists-mobile {
		li {
			.vertical-bar-list {
				span {
					margin-left: 1rem;
					padding-left: 1rem;
					&:first-child {
						margin-left: 0;
						padding-left: 0;
					}
				}
			}
			.button-area-wrap {
				position: relative;
				.button-more {
					width: 25px;
					height: 25px;
					.icon2-more-vertical {
						margin-left: 6px;
					}
				}
				.button-area {
					display: none;
					position: absolute;
					top: 25px;
					right: 0;
					border: 1px solid #333;
					background: #fff;
					z-index: 1;
					.button {
						//padding: 10px 15px;
						width: 60px;
						height: 35px;
					}
				}
				.button-more.is-active + .button-area {
					display: block;
				}
			}
		}
		.user-comment-wrap {
			.button-area {
				.button {
					margin: 0;
					border: 0;
				}
			}
		}
	}*/
}

.events-tabs-wrap {
	margin-top: 20px;

	.events-tabs {
		padding-left: 1px;

		.item-list {
			width: 33.3%;
		}
	}
}

.table-box-default {
	.table {
		border-top: 1px solid #333;
		border-bottom: 1px solid #eee;

		thead {
			th {
				padding: 20px;
				color: #333;
				font-size: $size-4;
			}
		}

		tbody {
			td {
				padding: 20px;
				text-align: center;
				border-bottom: 1px solid #eee;

				&.is-left {
					text-align: left;
				}

				.event-link,
				.text {
					color: #777;
					font-size: $size-4;
				}

				&.vertical-top {
					vertical-align: top;
				}
			}
		}
	}
}

/* 당첨자 발표 상세 */
.events-prizewinner {
	&-top {
		padding: 30px 0 20px;
		border-bottom: 1px solid #eee;

		@at-root .events-tit {
			display: inline-block;
			margin-left: 20px;
			font-size: $size-4;
			color: #333;
			vertical-align: middle;
		}

		@at-root .events-date {
			dl {
				display: flex;
				padding: 3px 0;
				font-size: $size-4;

				dt {
					color: #333;
					margin-right: 20px;
				}
			}
		}
	}

	&-result {
		width: 1090px;
		margin: 0 auto;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
		font-size: $size-4;

		thead th {
			padding: 1em 1em;
			border: none;
			background-color: #f9f9f9;
			text-align: center;
			font-weight: 400;
		}

		tbody td {
			padding: 1em 1em;
			border-bottom: 1px solid #eee;
			text-align: center;
			font-weight: 400;
			color: #777;
		}
	}

	&-button {
		margin-bottom: 100px;
		padding-top: 60px;
		border-top: 1px solid #eee;
	}
}
// 이벤트 상세
.events-detail-wrap {
	overflow: hidden;

	//럭키스로우 CSS 충돌 상쇄
	&.luckydraw {
		.event-giveaway-list {
			li {
				border-bottom: none !important;
			}
		}
	}

	.detail-title-erea {
		position: relative;
		margin: 20px 0;
		color: #333;
		.product-item-header__brand {
			margin-bottom: 15px;
		}
		h3 {
			font-size: 14px;
			font-weight: 600;
			span {
				margin-right: 5px;
				&.info-cate--done {
					color: #777;
				}
				&.info-cate--noice {
					color: #ed2650;
				}
			}
		}
		.date-box {
			display: flex;
			margin-top: 10px;
			min-width: 70px;
			font-size: 12px;
			&:first-of-type {
				margin-top: 15px;
			}
			dd {
				margin-left: 8px;
				color: #777;
			}
		}
		.button-share {
			position: absolute;
			top: -2px;
			right: 0;
			width: 25px;
			height: 25px;
			font-size: 1.65rem;
		}
	}
	.detail-contents-erea {
		ul {
			li {
				padding: 20px 0 30px;
				border-bottom: 1px solid #ccc;
				.user-info-agree {
					margin-top: 1rem;
					li {
						border-bottom: 0;
						padding: 25px 0 0;
						font-size: 13px;
						color: #333;
						.checkbox {
							margin: 0;
							label {
								font-size-adjust: 13px;
								color: #333;
							}
						}
						a {
							float: right;
							color: #333;
							font-size: 12px;
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
	.board-container {
		word-break: break-all;
		.event-detail-wrap {
			word-break: break-all;
		}
	}
}

.section-event-module {
	padding: 2rem 0;
	.event-password__numbers {
		margin: 20px 0 0;
		text-align: center;
		color: #333;
		font-size: 2.6rem;
		font-weight: bold;
	}
	.event-password-list {
		display: flex;
		justify-content: center;
		input {
			margin: 0 5px;
			width: 40px;
		}
	}
	.button-event-password {
		display: block;
		margin: 0 auto 2rem;
		font-size: 16px;
		color: #333;
	}
}
.section-event-attend-check {
	overflow: hidden;
	#calendar {
		padding: 0 10px;
	}
	.calendar-month-header {
		display: none;
		th,
		td {
			font-size: 20px;
		}
	}
	.custom_calendar {
		width: 100%;
		padding-top: 50px;
		padding-bottom: 30px;
		background-color: #fff;
		.table {
			width: 100%;
			margin: 0 auto;
			th,
			td {
				font-size: 22px;
			}
			tr.calendar-dow-header th {
				border-top: none;
				width: 14%;
				font-size: 1.8rem;
			}
			td {
				padding: 10px 0 0;
				width: 14% !important;
				div.day {
					width: 4rem;
					height: 4rem;
					border-radius: 100%;
					background-color: #f9f9f9;
					&.today {
						background-color: #ff6200 !important;
						color: #fff !important;
						font-weight: 600 !important;
					}
					&.is-unchecked {
						background-color: #ccc;
						color: #fff;
					}
					&.is-checked {
						background-color: #777;
						color: #fff;
						.badge {
							font-size: 0;
							&:before {
								font-size: 12px;
								content: '\e999';
								font-family: 'iconset' !important;
								speak: never;
								font-style: normal;
								font-weight: normal;
								font-variant: normal;
								text-transform: none;
								line-height: 1;
								-webkit-font-smoothing: antialiased;
								-moz-osx-font-smoothing: grayscale;
							}
						}
					}
					&.is-checked-end {
						background-color: #777;
						color: #fff;
					}
					&.is-specific {
						border: 2px solid #ed2650;
						color: #ed2650;
					}
					&.is-coupon {
						background-color: #2a6df5;
						color: #fff;
						font-size: 1.1rem;
						.badge {
							line-height: 1.1;
							flex-direction: column;
							@include word-wrap();
							strong {
								display: block;
								color: #fff;
								font-size: 14px;
								font-weight: 600;
							}
						}
					}
				}
			}
		}
	}
}
.event-attend-check {
	&__img {
		width: 80%;
		display: block;
		margin: 0 auto;
		text-align: center;
		img {
			width: auto;
		}
	}
	&__calendar {
		position: relative;
		width: 100%;
		margin: 0 auto;
		padding-top: 50px;
	}
	&__result {
		&-circle {
			display: flex;
			position: absolute;
			right: 30px;
			top: 20px;
			width: 85px;
			height: 85px;
			border-radius: 100%;
			background-color: #333;
			color: #fff;
			font-size: 12px;
			font-weight: 600;
			text-align: center;
			align-items: center;
			justify-content: center;
			p {
				margin: 6px 0;
				line-height: 1.1;
			}
		}
	}
}
.section-event-roulette {
	overflow: hidden;
	width: 768px;
	margin: 0 auto;
	@include mobile-device {
		width: 100%;
	}
}
.event-roulette-chance {
	padding: 30px 0;
	background: #fff;
}
.event-roulette {
	display: flex;
	// overflow: hidden;
	position: relative;
	width: 700px;
	height: 700px;
	margin: 0 auto;
	border-radius: 100%;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	background-color: rgba(255, 255, 255, 0.05);
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.05);
	@include mobile-device {
		width: calc(100vw - 40px);
		height: calc(100vw - 40px);
	}

	&__img {
		padding: 0 20px;
		display: block;
		margin: 0 auto;
		text-align: center;
		img {
			width: auto;
		}
	}
	&__image {
		width: 95%;
		height: 95%;
		max-width: 100%;
		margin: 0; //50px 50px;
		z-index: 0;
	}
	&__niddle {
		width: 14%;
		height: 17%;
		position: absolute;
		left: 50%;
		margin: 0 0 0 -7%;
		top: -20px;
		z-index: 2;
	}
}
#button-roulette-start {
	display: flex;
	overflow: hidden;
	position: absolute;
	z-index: 2;
	left: 50%;
	top: 50%;
	margin: -17% 0 0 -17%;
	width: 34%;
	height: 34%;
	border-radius: 100%;
	background-color: #2a6df5;
	color: #fff;
	align-items: center;
	justify-content: center;
}

.section-events-wrap {
	padding-top: 4rem;
	&#promotion-1 {
		padding-top: 9rem;
		margin-top: -9rem;
	}
}

.section-contents-events {
	&.events-lists-wrap + .section-events-wrap {
		padding-top: 0;
	}
}
.event-giveaway-list__title {
	padding: 10px 0;
	font-size: 16px;
	font-weight: 600;
	color: #333;
	text-align: center;
}
.event-giveaway-list__img {
	display: block;
	text-align: center;
}
.event-detail-wrap {
	.coupon-card {
		position: relative;
		margin: 20px auto 0;
		width: 250px;
		height: 334px;
		text-align: center;
		color: #fff;
		background-size: 100%;
		.bg-coupon-img {
			position: absolute;
			top: 0;
			left: 0;
		}
		.contents-coupon {
			position: absolute;
			top: 0;
			left: 0;
			width: 250px;
			height: 334px;
		}
		.coupon-card-button-wrap {
			button {
				color: #333;
			}
		}
		&:first-of-type {
			margin-top: 0;
		}
		// &.__blue {
		// 	background: url(../../assets/images/event/bg_coupon_blue.png) 0 0 no-repeat;
		// 	background-size: 100%;
		// 	.coupon-card-button-wrap {
		// 		button {
		// 			color: #3e97d4;
		// 		}
		// 	}
		// }
		// &.__green {
		// 	background: url(../../assets/images/event/bg_coupon_green.png) 0 0 no-repeat;
		// 	background-size: 100%;
		// 	.coupon-card-button-wrap {
		// 		button {
		// 			color: #3ec394;
		// 		}
		// 	}
		// }
		.coupon-card-top {
			height: 232px;
			display: flex;
			flex-direction: column;
			align-items: center;
			justify-content: center;
			.ico-popup {
				color: #fff;
				font-size: 16px;
			}
			.coupon-card--title {
				padding-top: 10px;
				font-size: 1.4rem;
				flex: 0 0 16px;
			}
			.num-off {
				display: flex;
				flex-direction: column;
				justify-content: center;
				flex: 1 0 auto;
				// padding-top: 20px;
				&__amount {
					line-height: 1;
				}
				&__list {
					padding: 10px;
					font-size: 12px;
					text-align: left;
				}
				.text-small {
					font-size: 1.5rem;
					line-height: 1;
					// padding-bottom: 10px;
				}
				&.type-2 {
					padding-top: 10px;
					.text-small {
						font-size: 1.5rem;
						line-height: 1;
						// padding-bottom: 10px;
					}
					ul {
						padding: 10px;
						font-size: 12px;
						text-align: left;
					}
				}
				span {
					display: block;
					line-height: 1;
					font-weight: 700;
					&.font-55 {
						// padding-top: 10px;
						font-size: 5.5rem;
						font-weight: 400;
					}
					&.font-90 {
						font-size: 9rem;
					}
					&.off {
						padding-top: 10px;
						font-size: 3rem;
					}
				}
			}
		}
		.coupon-card-info {
			padding: 20px;
			dl {
				display: flex;
				font-size: 1.2rem;
				dt {
					word-break: keep-all;
					letter-spacing: 3px;
				}
				dd {
					padding-left: 10px;
				}
			}
		}
		.coupon-card-button-wrap {
			padding: 15px;
			font-size: 14px;
			button {
				margin-top: 5px;
				padding: 10px;
				width: 180px;
				background: #fff;
				font-size: 12px;
				border-radius: 5px;
				box-shadow: 0 5px 1rem rgba(0, 0, 0, 0.1);
			}
		}
		&.soldout {
			position: relative;
			&::after {
				display: flex;
				content: '모든 쿠폰 소진';
				position: absolute;
				top: 0;
				left: 0;
				width: 250px;
				height: 334px;
				justify-content: center;
				align-items: center;
				font-size: 30px;
				background: #000;
				opacity: 0.8;
				border-radius: 17px;
			}
		}
	}
	.event-cate-guide-wrap {
		margin-top: 30px;
		padding: 30px 0;
		border-top: 1px solid #ccc;
		p {
			text-align: center;
			font-size: 14px;
			color: #333;
		}
		ol {
			margin: 50px auto 0;
			text-align: center;
			li {
				position: relative;
				display: inline-block;
				padding: 0 8px 0 16px;
				color: #777;
				font-size: 12px;
				&::before {
					position: absolute;
					top: 0;
					left: 0;
					content: '\eb5f';
					font-family: 'iconset' !important;
					speak: never;
					font-style: normal;
					font-weight: normal;
					font-variant: normal;
					text-transform: none;
					line-height: 1;
					-webkit-font-smoothing: antialiased;
					-moz-osx-font-smoothing: grayscale;
					color: #777;
					font-size: 16px;
				}
				&:first-child {
					&::before {
						content: none;
					}
				}
				&:last-child {
					color: #e51d68;
				}
			}
		}
	}
}
.button-go-cate {
	display: flex;
	justify-content: center;
	align-items: center;
	margin: 30px auto 0;
	width: 302px;
	height: 52px;
	color: #fff;
	font-weight: 600;
	font-size: 16px;
	background: #e51d68;
	border-radius: 24px;
	@include word-wrap;
	&:hover {
		color: #fff;
	}
	&.is-small {
		display: block;
		width: auto;
		height: auto;
		margin: 0;
		padding: 5px 10px;
		border-radius: 20px;
		font-size: 14px;
		text-align: center;
		font-weight: 400;
	}
}
