/*******************************************************************
font
********************************************************************/

@font-face {
	font-family: 'NotoSansKR';
	src: url(../fonts/NotoSansCJKkr-DemiLight.woff2) format('woff2'), url(../fonts/NotoSansCJKkr-DemiLight.woff) format('woff'), url(../fonts/NotoSansCJKkr-DemiLight.otf) format('opentype');
	font-weight: 400;
}

@font-face {
	font-family: 'NotoSansKR';
	src: url(../fonts/NotoSansCJKkr-Medium.woff2) format('woff2'), url(../fonts/NotoSansCJKkr-Medium.woff) format('woff'), url(../fonts/NotoSansCJKkr-Medium.otf) format('opentype');
	font-weight: 600;
}

@font-face {
	font-family: 'NotoSansKR';
	src: url(../fonts/NotoSansCJKkr-Bold.woff2) format('woff2'), url(../fonts/NotoSansCJKkr-Bold.woff) format('woff'), url(../fonts/NotoSansCJKkr-Bold.otf) format('opentype');
	font-weight: 700;
}

@font-face {
	font-family: 'Roboto';
	src: url(../fonts/Roboto-Regular.woff2) format('woff2'), url(../fonts/Roboto-Regular.woff) format('woff'), url(../fonts/Roboto-Regular.eot) format('embedded-opentype');
	font-weight: 400;
}

@font-face {
	font-family: 'Roboto';
	src: url(../fonts/Roboto-Bold.woff2) format('woff2'), url(../fonts/Roboto-Bold.woff) format('woff'), url(../fonts/Roboto-Bold.eot) format('embedded-opentype');
	font-weight: 600;
}

// @font-face {
// 	font-family: SpoqaHanSans;
// 	src: url(../fonts/SpoqaHanSans-Thin.woff2) format('woff2'), url(../fonts/SpoqaHanSans-Thin.woff) format('woff'), url(../fonts/SpoqaHanSans-Thin.eot) format('embedded-opentype');
// 	font-weight: 200;
// }
// @font-face {
// 	font-family: SpoqaHanSans;
// 	src: url(../fonts/SpoqaHanSans-Light.woff2) format('woff2'), url(../fonts/SpoqaHanSans-Light.woff) format('woff'), url(../fonts/SpoqaHanSans-Light.eot) format('embedded-opentype');
// 	font-weight: 300;
// }
// @font-face {
// 	font-family: SpoqaHanSans;
// 	src: url(../fonts/SpoqaHanSans-Regular.woff2) format('woff2'), url(../fonts/SpoqaHanSans-Regular.woff) format('woff'), url(../fonts/SpoqaHanSans-Regular.eot) format('embedded-opentype');
// 	font-weight: 400;
// }
// @font-face {
// 	font-family: SpoqaHanSans;
// 	src: url(../fonts/SpoqaHanSans-Bold.woff2) format('woff2'), url(../fonts/SpoqaHanSans-Bold.woff) format('woff'), url(../fonts/SpoqaHanSans-Bold.eot) format('embedded-opentype');
// 	font-weight: 600;
// }

.is-h1 {
	margin: 2rem 0;
	color: #333;
	line-height: 1.1;
	font-size: 2rem;
	font-weight: 600;

	&--border {
		border-top: 1px solid #333;
		padding-top: 1.5rem;
	}

	&--noborder {
		border: none;
	}
}

.is-h2 {
	margin: 0 0 1.5rem;
	padding-bottom: 1rem;
	border-bottom: 1px solid #ccc;
	color: #333;
	line-height: 1.1;
	font-size: 1.6rem;
	font-weight: 600;

	&--border {
		border-top: 1px solid #333;
		padding-top: 1.5rem;
	}

	&--noborder {
		border: none;
	}
}

.is-h3 {
	margin: 0 0 1rem;
	color: #333;
	line-height: 1.1;
	font-size: 1.4rem;
	font-weight: 600;

	&--border {
		border-top: 1px solid #333;
		padding-top: 1.5rem;
	}

	&--noborder {
		border: none;
	}
}

.is-h4 {
	margin: 0 0 1rem;
	color: #333;
	line-height: 1.1;
	font-size: 1.3rem;
	font-weight: 600;

	&--border {
		border-top: 1px solid #333;
		padding-top: 1.5rem;
	}

	&--noborder {
		border: none;
	}
}
