// 기본 변수 및 변형 변수 import
body.footer-gnb-nav__sticky {
	padding-bottom: 6rem;
	.footer-bottom-content {
		padding-bottom: 6rem;
		margin-bottom: -6rem;
	}
}
// body {
// 	min-width: 1366px;
// }
.wrap {
	// ios scroll no-bounce 세팅
	width: 100vw;
	height: 100%;
	top: 0;
	position: fixed;
	overflow: auto;
	-webkit-overflow-scrolling: touch;
}
#container {
	margin-bottom: 40px;
	@at-root .has-footer-nav & {
		margin-bottom: 250px;
	}
	.swiper-container {
		max-width: 890px;
		margin: 0 auto;
		img {
			width: 100%;
		}
	}
}

.container {
	position: relative;
	// width: 1366px;
	margin: 0 auto;
}

.clear {
	clear: both;
}

.clear:after {
	content: '';
	display: table;
	clear: both;
}

/* gnb top */
.header-member-menu {
	position: absolute;
	right: 0;
	top: 29px;
	height: 60px;

	li {
		float: left;
		&:last-child {
			.header-member-menu__btn {
				margin-right: 0;
			}
		}
	}

	&__btn {
		overflow: hidden;
		position: relative;
		width: auto;
		height: 60px;
		margin: 0 10px;
		text-align: center;
		opacity: 0.3;
		transition: opacity 0.5s #{$transition};

		span {
			display: block;
			margin-top: 5px;
			color: #000;
			font-size: $size-5;
		}

		&:hover {
			opacity: 1;

			&:after {
				content: '';
				position: absolute;
				bottom: 0;
				width: 100%;
				height: 2px;
				background-color: #333;
			}
		}
	}
}

.header-family-menu {
	position: absolute;
	left: 0;
	top: 0;

	li {
		float: left;

		&:first-child .btn {
			border-right-color: transparent;
		}
	}

	&__btn {
		display: block;
		min-width: 170px;
		height: 71px;
		line-height: 71px;
		border-width: 0 1px 1px;
		border-style: solid;
		border-color: #cacaca;
		text-align: center;
		color: #8d8d8d;
		background: #fff;
		font-size: $size-3;
		transition: background 0.5s #{$transition};

		&.is-active {
			border-bottom-color: #fff;
			color: #000;
		}

		&:hover,
		&:focus {
			background: #f1f1f1;
		}
	}
}

.header-top {
	position: relative;
	z-index: 1;
	height: 60px;
	background-color: #333;
	color: #fff;
}

/* header logo */
.header-logo {
	> .container {
		height: 120px;
		display: flex;
		align-items: center;
		justify-content: center;
	}

	position: relative;
	height: 120px;
	z-index: 5;
	border-bottom: 1px solid #cacaca;

	&__title {
		display: block;
		position: absolute;
		top: 30px;
		left: 0;
		width: 162px;
		height: 59px;
		margin: 0 auto;
		background: url(../images/common/new_logo.png) center no-repeat;
		text-indent: -999em;
	}

	&__menu {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translate(0, -50%);
		overflow: hidden;

		li {
			position: relative;
			float: left;
			padding-left: 10px;
			margin-left: 5px;
			color: #888;

			a {
				color: inherit;
				font-size: $size-3;

				&:hover {
					color: #000;
				}
			}

			&:after {
				content: '·';
				display: inline-block;
				position: absolute;
				left: 0;
				top: 0;
			}

			&:first-child {
				padding-left: 0;
				margin-left: 0;

				&:after {
					display: none;
				}
			}
		}
	}
}

.header-search {
	position: relative;
	display: table;
	width: 100%;
	background-color: #fff;
	// border: 1px solid #ccc;

	// padding-right: 25px;
	&-wrap {
		position: relative;
		width: auto;
		height: 100%;
		border: none;
		margin: 0 -10px;

		form {
			margin: 0 10px;
		}
	}

	&__dropdown {
		display: table-cell;
		vertical-align: middle;
		border: 1px solid #ccc;
		border-right: none;
		width: auto !important;
		min-width: auto !important;

		&.dropdown-wrap {
			width: 148px;

			.button {
				width: 100%;
				min-width: 100%;
				padding-left: 10px;
				padding-right: 1.6rem;
			}

			.dropdown-menu {
				top: 41px;
				left: -1px;
				min-width: 13rem;

				.dropdown-content {
					max-height: 350px;
					border: 1px solid #333;

					.dropdown-item {
						min-width: auto;
						padding: 0.6rem 11px;
						font-size: $size-5;
						color: #333;

						&.is-active {
							background-color: #f9f9f9;
							font-weight: 400;
						}
					}
				}
			}

			.dropdown {
				.dropdown-trigger {
					position: relative;
					&::before {
						content: '';
						display: block;
						position: absolute;
						top: 50%;
						right: -1px;
						width: 1px;
						height: 2rem;
						margin-top: -1rem;
						background-color: #ccc;
						z-index: 1;
					}
					.button {
						min-width: auto;
						// height: 100%;
						border: none;
						color: #333;
						box-shadow: none;
						background: none;
						.icon {
							display: flex;
							width: 0.8em;
							font-size: 1.4rem;
							text-align: center;
							align-items: center;
						}
					}
				}
			}
		}
	}

	&__input-wrap {
		display: table-cell;
		position: relative;
		width: 100%;
		padding: 0;
		vertical-align: middle;
		border: 1px solid #ccc;
		z-index: 1;
		&:hover {
			border: 1px solid #333;
		}
	}

	&__submit {
		position: absolute;
		right: 1rem;
		top: 50%;
		width: 2rem;
		height: 2rem;
		padding: 0;
		background-color: #fff;
		color: #333;
		font-size: 1.9rem;
		margin-top: -0.95rem;
		z-index: 2;
	}

	&__input {
		width: 100%;
		height: 40px;
		padding: 0 16px 0 11px;
		border: none;
		font-size: $size-4;
		outline: none;
		background: none;
	}

	&-content {
		display: none;
		// position: absolute;
		// top: 51px;
		// left: 0;
		// width: 100%;
		// height: 100vh;
		// border: none;
		// background: #fff;
		// z-index: 2;

		position: fixed;
		top: 112px;
		left: 0;
		width: 100%;
		// bottom: 50px;
		bottom: 0px;
		border: none;
		background: #fff;
		z-index: 2;

		&__header {
			padding: 0 10px;
			// border-top: 1px solid #eee;
			border-bottom: 1px solid #eee;

			ul {
				height: 41px;
				display: flex;
				justify-content: space-evenly;
			}

			li {
				height: 40px;
				width: 50%;

				.tab {
					display: inline-flex;
					align-items: center;
					justify-content: center;
					width: 100%;
					height: 100%;
					padding: 0;
					line-height: 1;
					text-align: center;
					font-size: $size-4;
					color: #999;
				}

				&.is-active {
					.tab {
						color: #333;
					}

					&::after {
						content: '';
						display: block;
						width: 100%;
						height: 2px;
						background: #333;
					}
				}
			}
		}

		&__body {
			overflow-y: auto;
			position: absolute;
			width: 100%;
			max-height: calc(100% - 81px);
			padding: 0 10px;

			li {
				margin: 15px 0;
				display: flex;
				align-items: center;

				a {
					display: inline-flex;
					flex-grow: 1;
					width: 100%;
					color: #333;

					&:hover,
					&:focus,
					&:active {
						color: #333;
					}
				}

				.button-search-content__del {
					margin-top: -2px;
					margin-right: -3px;
					width: 20px;
					height: 20px;
				}
			}

			.no-search__info {
				display: none;
				height: 100%;
				width: 100%;
				text-align: center;
				font-size: 13px;
				color: #999;

				i {
					font-size: 7rem;
					margin-bottom: 2.5rem;
				}

				&.is-active {
					display: flex;
					align-items: center;
					justify-content: center;
					height: 100%;
					min-height: inherit;
					flex-direction: column;
				}
			}
		}

		&__footer {
			position: absolute;
			width: 100%;
			height: 40px;
			bottom: 0;
			padding: 0 10px;
			border-top: 1px solid #eee;

			.button-search-all__del {
				padding: 0;
				color: #777;
				font-size: $size-4;
			}

			.button-search-content__close {
				padding: 0;
				color: #777;
				font-size: $size-4;

				i {
					margin-left: 5px;
				}
			}

			.fl {
				color: #333;
				font-size: $size-3;
				height: 30px;
				line-height: 1;
				display: inline-flex;
				align-items: center;
			}

			.fr {
				height: 30px;
				line-height: 1;
				display: inline-flex;
				align-items: center;
			}

			&.header-search-content__foote--borderbottom {
				border-bottom: 1px solid #eee;
			}
		}

		&__popular {
			li {
				a {
					display: flex;
					height: 19px;
				}

				.search-result-ranking-tit {
					flex-grow: 1;
				}

				.search-result-ranking-change {
					font-size: $size-5;
					justify-content: center;
					flex-grow: 0;
					width: 3rem;
					text-align: center;

					em {
						margin-right: 0;
					}
				}
			}
		}
	}

	&__delete {
		display: none;
		position: absolute;
		right: 1rem;
		top: 50%;
		width: 2rem;
		height: 2rem;
		padding: 0;
		background-color: #fff;
		color: #333;
		font-size: 1.9rem;
		margin-top: -0.95rem;
		z-index: 2;
	}
}

#headerSearchKeyword {
	.header-search-content__body {
		margin-top: -1px;
		border-top: 1px solid #eee;
		max-height: calc(100% - 30px);
		a {
			display: block;
			overflow: hidden;
			height: 20px;
			// color: #999;
		}
	}
	.header-search-content__footer {
		height: 30px;
	}
	strong {
		font-weight: 400;
		color: $red;
	}
}

/* 브랜드 */
.gnb-brand {
	position: relative;
	overflow: hidden;
	margin-top: -1px;

	&__title {
		display: block;
		overflow: hidden;
		position: absolute;
		top: 31px;
		left: 0;
		z-index: 1;
		width: 140px;
		height: 40px;
		padding-top: 5px;

		em,
		i {
			display: block;
			float: left;
			height: 10px;
			line-height: 12px;
			opacity: 0;
		}

		// i {
		// 	width: 2px;
		// 	height: 10px;
		// 	margin-right: 2px;
		// 	animation-name: aniBrandLogo;
		// 	animation-fill-mode: forwards;
		// 	animation-timing-function: #{$transition};

		// 	&:nth-child(1) {
		// 		background-color: #479d6e;
		// 		animation-delay: 0s;
		// 		animation-duration: 1.5s;
		// 	}

		// 	&:nth-child(2) {
		// 		background-color: #693d46;
		// 		animation-delay: 0.3s;
		// 		animation-duration: 1.5s;
		// 	}

		// 	&:nth-child(3) {
		// 		background-color: #e5b653;
		// 		animation-delay: 0.5s;
		// 		animation-duration: 1.5s;
		// 	}
		// }

		// em {
		// 	color: #2a3c53;
		// 	font-style: normal;
		// 	font-size: $size-3;
		// 	font-weight: 600;
		// 	letter-spacing: -0.5px;
		// 	animation-name: aniBrandText;
		// 	animation-fill-mode: forwards;

		// 	&:nth-child(4) {
		// 		margin-left: 5px;
		// 		animation-delay: 0.5s;
		// 		animation-duration: 1s;
		// 	}

		// 	&:nth-child(5) {
		// 		animation-delay: 0.7s;
		// 		animation-duration: 1.2s;
		// 	}

		// 	&:nth-child(6) {
		// 		animation-delay: 0.9s;
		// 		animation-duration: 1.4s;
		// 	}

		// 	&:nth-child(7) {
		// 		animation-delay: 1.1s;
		// 		animation-duration: 1.6s;
		// 	}

		// 	&:nth-child(8) {
		// 		animation-delay: 1.3s;
		// 		animation-duration: 1.8s;
		// 	}
		// }
	}

	&-menu {
		position: relative;
		overflow: hidden;
		z-index: 0;
		display: flex;
		justify-content: space-between;

		@at-root .__premium-active & {
			justify-content: center;
			&__btn--premium {
				display: inline-flex;
				position: relative;
				align-items: center;
				height: 100%;
				color: #999;
				transition: all 0.3s #{$transition};
				em {
					transition: all 0.3s #{$transition};
					i {
						margin: 0;
					}
				}
				&:hover,
				&:focus {
					color: #333;
					em {
						background-color: #333;
					}
				}
			}
			> li {
				&:nth-child(5) {
					width: 65%;
					color: #333;
					text-align: left;
					background-color: #eeeeee;
					> ul {
						display: flex;
						position: absolute;
					}
				}
				> .icon-arrow3 {
					display: block;
					position: absolute;
					top: 50%;
					left: 190px;
					margin-top: -4.5px;
				}
				> .icon {
					display: none;
				}
				> ul {
					display: flex;
					position: absolute;
					top: 0;
					right: 20px;
					z-index: 10;
					width: 610px;
					height: 60px;
					justify-content: space-between;
					> li {
						em {
							width: 44px;
							height: 44px;
							display: inline-flex;
							margin-right: 10px;
							align-items: center;
							justify-content: center;
							background-color: #fff;
							border-radius: 15px;
							.icon {
								position: static;
							}
						}
						a {
							i {
								display: block;
								+ i {
									display: none;
								}
							}
							&:hover i {
								display: none;
								+ i {
									display: block;
								}
							}
						}
						// &:nth-child(1) {
						// 	i {
						// 		@include sprite-image($icon-gnb-premium_1);
						// 		@include sprite-position($icon-gnb-premium_1);
						// 		@include sprite-width($icon-gnb-premium_1);
						// 		@include sprite-height($icon-gnb-premium_1);
						// 	}
						// 	a:hover i {
						// 		@include sprite-image($icon-gnb-premium_w1);
						// 		@include sprite-position($icon-gnb-premium_w1);
						// 		@include sprite-width($icon-gnb-premium_w1);
						// 		@include sprite-height($icon-gnb-premium_w1);
						// 	}
						// }
						// &:nth-child(2) {
						// 	i {
						// 		@include sprite-image($icon-gnb-premium_2);
						// 		@include sprite-position($icon-gnb-premium_2);
						// 		@include sprite-width($icon-gnb-premium_2);
						// 		@include sprite-height($icon-gnb-premium_2);
						// 	}
						// 	a:hover i {
						// 		@include sprite-image($icon-gnb-premium_w2);
						// 		@include sprite-position($icon-gnb-premium_w2);
						// 		@include sprite-width($icon-gnb-premium_w2);
						// 		@include sprite-height($icon-gnb-premium_w2);
						// 	}
						// }
						// &:nth-child(3) {
						// 	i {
						// 		@include sprite-image($icon-gnb-premium_3);
						// 		@include sprite-position($icon-gnb-premium_3);
						// 		@include sprite-width($icon-gnb-premium_3);
						// 		@include sprite-height($icon-gnb-premium_3);
						// 	}
						// 	a:hover i {
						// 		@include sprite-image($icon-gnb-premium_w3);
						// 		@include sprite-position($icon-gnb-premium_w3);
						// 		@include sprite-width($icon-gnb-premium_w3);
						// 		@include sprite-height($icon-gnb-premium_w3);
						// 	}
						// }
						// &:nth-child(4) {
						// 	i {
						// 		@include sprite-image($icon-gnb-premium_4);
						// 		@include sprite-position($icon-gnb-premium_4);
						// 		@include sprite-width($icon-gnb-premium_4);
						// 		@include sprite-height($icon-gnb-premium_4);
						// 	}
						// 	a:hover i {
						// 		@include sprite-image($icon-gnb-premium_w4);
						// 		@include sprite-position($icon-gnb-premium_w4);
						// 		@include sprite-width($icon-gnb-premium_w4);
						// 		@include sprite-height($icon-gnb-premium_w4);
						// 	}
						// }
					}
				}
			}
		}

		> li {
			position: relative;
			float: left;
			flex-grow: 1;
			text-align: center;
			// transition: flex-grow 0.5s;
			&:nth-child(1):hover a {
				color: #fff;
				background-color: #2ba2d9;
			}

			&:nth-child(2):hover a {
				color: #fff;
				background-color: #3f4280;
			}

			&:nth-child(3):hover a {
				color: #fff;
				background-color: #47ac87;
			}

			&:nth-child(4):hover a {
				color: #fff;
				background-color: #22354d;
			}

			&:nth-child(5):hover {
				height: 60px;
			}
			> a,
			> span {
				// width: 100%;
				padding: 0 20px;
			}
			> ul {
				display: none;
			}
			.icon {
				position: absolute;
				top: 50%;
				right: 0;
				margin-top: -8.5px;
			}
			> .icon-arrow3 {
				display: none;
			}
		}

		&__btn {
			display: block;
			position: relative;
			height: 60px;
			line-height: 60px;
			padding: 0 20px;
			font-size: $size-4;
			overflow: hidden;
			z-index: 1;
			color: inherit;
			background-color: transparent;
			transition: all 0.5s #{$transition};
		}
	}
}

@keyframes aniBrandLogo {
	0% {
		opacity: 0;
		transform: translateY(70px);
	}

	50% {
		opacity: 0;
		transform: translateY(35px);
	}

	80% {
		opacity: 1;
		transform: translateY(-5px);
	}

	92% {
		opacity: 1;
		transform: translateY(3px);
	}

	100% {
		opacity: 1;
		transform: translateY(0);
	}
}

@keyframes aniBrandText {
	0% {
		opacity: 0;
		transform: translate(200px);
	}

	100% {
		opacity: 1;
		transform: translate(0);
	}
}

@keyframes aniBrandTitle {
	50% {
		width: 100%;
		background-position: 50% 50%;
	}

	100% {
		width: 65px;
		background-position: 0 50%;
	}
}

.fullmenu {
	&-bar {
		background-color: transparent;
	}

	&__btn {
		position: absolute;
		left: 0;
		width: 60px;
		height: 60px;
		background-color: #333;
	}

	&-wrap {
		position: absolute;
		left: 0;
		top: 60px;
		width: 100%;
		height: 0;
		background: #fff url(../images/common/bg_fullmenu.jpg) center top
			no-repeat;
		transition: height 0.5s;
	}

	&-wrap.open {
		height: 442px;
		border-bottom: 1px solid #cacaca;
	}
}

.gnb-category {
	display: flex;

	&-wrap {
		position: relative;
		z-index: 2;
		border-bottom: 1px solid #e5e5e5;
	}

	&__menu {
		overflow: hidden;
		position: relative;
		z-index: 0;
		margin: 0 auto;
		padding-left: 60px;

		> li {
			display: inline-block;

			a {
				color: #333;
				display: block;
				padding: 0 1em;
				margin: 0 0.5em;
				height: 60px;
				line-height: 60px;
				font-size: $size-4;
				transition: color 0.5s #{$transition};

				&:hover {
					color: #777;
				}
			}
		}
	}
}

/* swiper slides settings */
.swiper-pagination {
	&-progressbar {
		background-color: rgba(0, 0, 0, 0.1);
	}

	&-bullet-wrap {
		display: table;
		width: 440px;
		margin: 0 auto;
	}

	&-number {
		display: table-cell;
		color: #c1c1c1;
		font-size: $size-4;
	}

	&-number-active {
		color: #000;
	}
}

.swiper-button {
	&-prev,
	&-next {
		width: 50px;
		height: 50px;
		speak: none;
		color: #000;
		font-family: 'iconset';
		font-size: 25px;
		font-style: normal;
		font-weight: 300;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;

		&:after {
			display: none;
		}
	}

	&-prev {
		left: -70px;
		background-position: left center;

		&:before {
			content: '\e94c';
		}
	}

	&-next {
		right: -70px;

		&:before {
			content: '\e94b';
		}
	}
}

// Quick menu
.quick {
	position: fixed;
	right: 0;
	top: 0;
	z-index: 999;

	transition: right 0.3s;

	> li {
		display: block;
	}

	&-menu {
		display: block;
		position: absolute;
		left: -60px;
		top: 0;
		width: 60px;
		padding: 10px 0;
		background-color: #000;

		&__item {
			// display: block;
			position: relative;
			width: 60px;
			height: 60px;
			margin: 0;
			padding: 0;
			transition: all 0.5s #{$transition};

			&:hover {
				background-color: #222;
			}

			i {
				display: block;
			}
		}

		&__num {
			display: block;
			margin-top: 2px;
			color: #f12e5c;
			font-style: normal;
			font-size: $size-5;
		}
	}

	&.open {
		right: 0px;
	}

	&.open &-content {
		width: 280px;
		padding: 0 20px;
		transition: right 0.3s;
	}

	&-content {
		position: relative;
		overflow-x: visible;
		overflow-y: auto;
		width: 0;
		height: 100vh;
		min-height: 550px;
		margin-bottom: 233px;
		padding: 0;
		border-left: 1px solid #000;
		background-color: #fff;

		&-title-wrap {
			position: relative;
			margin: 0 -20px;
			padding: 17px 20px;

			background-color: #000;

			.quick-content-title {
				color: #fff;
				font-size: $size-4;
			}

			.quick-content-close__btn {
				position: absolute;
				top: 17px;
				right: 15px;
				padding: 0 5px;
			}
		}

		&-choice {
			overflow: hidden;
			padding: 20px 0;
			border-bottom: 1px solid #e5e5e5;

			&__all {
				font-size: $size-5;
				color: #000;

				input[type='checkbox'] {
					width: 16px;
					height: 16px;
					margin: -2px 3px 0 0;
					vertical-align: middle;
				}
			}

			&__link {
				float: right;
				width: 64px;
				height: 24px;
				border: 1px solid #b2b2b2;
				line-height: 2;
				font-size: $size-5;
				color: #000;
				text-align: center;
			}
		}

		.product-item-related {
			li {
				padding: 20px 0;
				border-bottom: 1px solid #e5e5e5;

				&:last-child {
					border-bottom: none;
				}
			}
		}

		.related-item {
			padding-bottom: 14px;

			&-content {
				padding: 0 0 0 10px;
			}

			&-header {
				&__brand {
					margin-bottom: 5px;
					color: #1a1a1a;
					font-size: $size-3;
				}

				&__name {
					font-size: $size-3;
				}
			}

			&-price {
				color: #000;

				&__price--del {
					margin-bottom: -2px;
					display: block;
					font-size: $size-3;
					color: #787878;
				}

				&__price {
					font-size: $size-4;
					font-weight: 700;
				}

				.unit {
					font-size: $size-4;
					font-weight: 400;
				}
			}

			@at-root .button-purchase {
				display: flex;
				justify-content: space-between;

				button {
					width: 115px;
					height: 30px;
					line-height: 1.2;
					font-size: $size-5;
					color: #fff;
				}

				&__pay {
					background-color: #f95039;
				}

				&__del {
					background-color: #000;
				}
			}
		}

		.product-purchase {
			position: absolute;
			left: 20px;
			right: 20px;
			bottom: 20px;

			&-guide {
				padding: 18px 0 38px;
				border-top: 1px solid #000;
				font-size: $size-5;
				color: #787878;
			}

			&-price {
				margin-bottom: 10px;
				text-align: right;

				&__header {
					display: block;
					font-size: $size-3;
					color: #000;
				}

				&__price {
					font-weight: 600;
					font-size: 26px;
					color: #f95039;

					.unit {
						font-weight: normal;
						font-size: $size-3;
						color: #000;
						vertical-align: middle;
					}
				}
			}

			.button-purchase {
				button {
					height: 50px;
				}
			}
		}
	}
}

.location-header {
	height: 50px;
	border-bottom: 1px solid #eee;

	.container {
		align-items: center;
		justify-content: flex-end;
		height: 100%;
		display: flex;
	}
}

/* 공통 콘텐츠용 LNB */
.lnb-content {
	width: 220px;
	float: left;

	&-title {
		padding-bottom: 30px;
		color: #333;
		border-bottom: 1px solid #333;
		font-size: $size-3;
		line-height: 1;
	}

	&-list {
		margin-top: 12px;

		li {
			a {
				display: block;
				padding: 0;
				color: #777;
				line-height: 1;

				&.is-active,
				&:hover,
				&:focus {
					color: #333;
				}

				&.is-active {
					font-weight: 600;
					color: #333;
				}
			}
		}

		> li {
			// margin: 20px 0;
			> a {
				padding: 20px 0;
				font-size: $size-2;

				&.is-active,
				&:hover,
				&:focus {
					font-weight: 600;
				}
			}

			> ul {
				overflow: hidden;
				padding: 3px 15px;
				margin-bottom: 20px;
				background-color: #f9f9f9;

				> li {
					> a {
						margin: 15px 0;
						padding: 0;
						font-size: $size-3;

						&.is-active,
						&:hover,
						&:focus {
							text-decoration: underline;
						}
					}
				}
			}
		}
	}
}

// 콘텐츠 영역 타이틀
.content-title {
	&--normal {
		display: block;
		padding-bottom: 30px;
		margin-bottom: 40px;
		border-bottom: 1px solid #ccc;
		line-height: 1;
		font-size: $size-1;
		color: #333;
		&--nobdmargin {
			margin-bottom: 0;
			border-bottom: none;
		}
	}
	&--main {
		display: block;
		padding-bottom: 40px;
		margin-bottom: 40px;
		border-bottom: 1px solid #ccc;
		line-height: 1;
		font-size: $size-1;
		color: #333;
		&--nobdmargin {
			margin-bottom: 0;
			border-bottom: none;
		}
	}
}
.content-title--subtitle {
	display: block;
	margin-top: 40px;
	margin-bottom: 40px;
	line-height: 1;
	font-size: $size-1;
	font-weight: 400;
	color: #333;
}

#footer {
	// margin-top: 40px;
}

.header-normal {
	width: 100%;
	// padding: 0 10px;
	height: 5rem;
	background-color: #fff;
	border-bottom: 1px solid #ddd;
	// box-shadow: 0 5px 5px rgba(0, 0, 0, 0.1);
	.container {
		display: flex;
		position: relative;
		overflow: hidden;
		align-items: center;
		align-items: center;
		justify-content: center;
		width: 100%;
		height: 100%;
		flex-grow: initial;
	}
	.button-back {
		position: absolute;
		left: 0;
		top: 0;
		z-index: 10;
		width: 4rem;
		height: 5rem;
		padding: 0 0 0 10px;
		border: none;
		font-size: 1.3rem;
		// font-weight: bold;
		text-align: left;
		&:after {
			content: '\e9a1';
			vertical-align: middle;
			color: #333;
		}
	}
	.pitem-tabs-wrap {
		height: 5rem;
	}
	&.fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 10;
	}
	.title {
		@include text-ellipsis();
		// display: inline-flex;
		height: 5rem;
		padding: 0 4rem;
		color: #333;
		font-size: $size-2;
		line-height: 5rem;
		margin: 0;
		/* text-align: center; */
		// align-items: center;
	}
}
.link-right {
	position: absolute;
	top: 50%;
	right: 1.2rem;
	z-index: 1;
	transform: translateY(-50%);
	i {
		display: inline-block;
		margin-top: -0.2rem;
		color: #333;
		font-size: 2rem;
		vertical-align: middle;
	}
	a {
		padding: 0.5rem 0.5rem 0;
		margin-left: 0;
	}
}
#header {
	padding-top: 5rem;
}
#header-sub {
	// padding-top: 97px;
	// padding-top: 95px;
	padding-top: 104px;
}
#header-main {
	// padding-top: 124px;
	padding-top: 120px;
}
#header-closed {
	padding-top: 55px;
	.header-dafault {
		.pitem-top-tabs {
			width: 100%;
			height: 55px;
			background: #fff;
			border-bottom: 1px solid #ccc;
		}
		&.down {
			transform: none;
		}
	}
	.header-top-menu {
		display: flex;
		float: right;
		position: absolute;
		top: 0;
		right: 10px;
		width: 55px;
		height: 55px;
		color: #333;
		align-items: center;
		.item-basket-wrap {
			position: static;
			.btn {
				padding: 0;
				width: 40px;
			}
		}
		&__my {
			color: #333;
			font-size: 2.3rem;
			span {
				display: block;
				text-align: center;
				font-size: 1.2rem;
			}
		}
	}
}

.header-dafault {
	transform: translateY(0);
	transition: transform 0.3s;
	&.down {
		transform: translateY(-78px);
	}
	&.fixed {
		position: fixed;
		top: 0;
		left: 0;
		right: 0;
		z-index: 10;
	}
	&.__sub {
		&.down {
			transform: translateY(-55px);
		}
		.pitem {
			&-top-tabs__inner {
				position: relative;
				.item-basket-wrap {
					position: absolute;
					top: 50%;
					right: -34px;
					z-index: 1;
					transform: translateY(-42%);
				}
			}
			&-middle-inner {
				display: block;
				padding-top: 15px;
				&.centered {
					.contents {
						height: 5rem;
						padding: 0 10px;
						overflow: hidden;
						.title {
							display: block;
							z-index: 1;
							width: 100%;
							height: 5rem;
							color: #333;
							font-size: 1.6rem;
							line-height: 5rem;
							letter-spacing: -0.05em;
							padding: 0 30px;
							@include text-ellipsis;
							&.single-title {
								display: inline-block;
								position: absolute;
								top: 50%;
								left: 50%;
								z-index: 1;
								width: auto;
								transform: translate(-50%, -50%);
							}
						}
					}
				}
				.contents {
					display: flex;
					position: relative;
					height: 5rem;
					// padding: 0px 10px;
					padding: 0px 30px;
					border-top: 1px solid #eee;
					border-bottom: 1px solid #ccc;
					background-color: #fff;
					justify-content: left;
					align-items: center;
					.button-back {
						position: absolute;
						left: 0;
						top: 3px;
						z-index: 10;
						width: 4rem;
						height: 4rem;
						padding: 0 0 0 10px;
						border: none;
						font-size: 1.3rem;
						text-align: left;
						&:after {
							display: inline-block;
							// margin-top: -1rem;
							content: '\e9a1';
							vertical-align: middle;
							color: #333;
						}
					}
					.prev-breadcrumb {
						font-size: 0;
						margin-left: 1rem !important;
						> li {
							display: inline-block;
							margin-left: 0.5rem;
							font-size: 1.4rem;
							letter-spacing: -0.05em;
							&:first-child {
								margin-left: 0;
							}
							i {
								margin-left: 0.5rem;
							}
						}
						+ .dropdown-wrap {
							margin-left: 0.5rem;
						}
					}
					.dropdown {
						position: static;
						// &.is-active{
						// 	.icon{
						// 		margin-right
						// 	}
						// }
						&-wrap {
							margin-left: 2rem;
						}
						&-trigger {
							.button {
								justify-content: left;
								min-width: auto;
								height: auto;
								padding: 0;
								border: none;

								.active-item {
									color: #333;
									font-size: 1.4rem;
									letter-spacing: -0.05em;
								}
								.icon {
									display: flex;
									justify-content: center;
									align-items: center;
									width: 2rem;
									height: 2rem;
									margin-left: 2px;
									margin-right: 0;
									i {
										display: inline-block;
										margin-left: 10px;
										margin-right: 10px;
										color: #333;
										font-size: 1.25rem;
									}
								}
							}
						}
						&-menu {
							overflow-y: auto;
							top: 43px;
						}
						&-content {
							max-height: 148px;
							padding: 10px;
							border: none;
							background-color: #f9f9f9;
						}
						&-item {
							padding: 10px 0;
							color: #777;
							font-size: 1.4rem;
							line-height: 1;
							&.is-active {
								background-color: transparent;
							}
						}
					}
					.btn-share {
						position: absolute;
						top: 50%;
						right: 0;
						z-index: 1;
						transform: translateY(-50%);

						i {
							color: #333;
							font-size: 2rem;
						}
					}
				}
			}
		}
	}
	.item-basket-wrap {
		.btn {
			width: 50px;
			height: 35px;
			i {
				position: relative;
				color: #333;
				font-size: 2.2rem;
				.num {
					display: block;
					position: absolute;
					top: -3px;
					left: 12px;
					z-index: 5;
					min-width: 12px;
					height: 12px;
					background-color: #ed2650;
					color: #fff;
					font-size: 0.8rem;
					text-align: center;
					line-height: 12px;
					border-radius: 12px;
					padding: 0 0.3em;
				}
			}
		}
	}
	.pitem {
		&-top {
			&-wrap {
				display: flex;
				justify-content: space-between;
				align-items: center;
				.community {
					&-wrap {
						width: 165px;
						height: 40px;
						background-color: #fff;
					}
					&-inner {
						height: 40px;
						padding: 7px 0 9px 78px;
						background: url(../images/common/bg_top_community.png) 0
							100% no-repeat;
						background-size: auto 40px;
						// border-radius: 0 0 0 15px;
						.btn-cm {
							display: inline-block;
							width: 70px;
							padding: 3px 0;
							// border: 1px solid #dedfe1;
							// border-radius: 0 10px 0 20px;
							color: #fff;
							font-size: 1.5rem;
							text-align: center;
						}
					}
				}
			}
			&-tabs {
				width: calc(100% - 165px);
				// background-color: #182637;
				&__inner {
					display: flex;
					justify-content: left;
					height: 40px;
					padding-left: 10px;
					background-color: #fff;
					// border-radius: 0 15px 0 0;
					border-radius: 0;
					.title {
						display: flex;
						height: 55px;
						margin: 0;
						align-items: center;
						a {
							display: block;
							.image {
								width: 100%;
								max-width: 81px;
							}
						}
					}
					.pitem-menu {
						position: relative;
						&-name {
							display: inline-flex;
							margin: 10px 0 0 10px;
							padding: 0;
							color: #333;
							font-size: 1.4rem;
							font-weight: 600;
							line-height: 1;
							letter-spacing: -1px;
							align-items: center;
							vertical-align: middle;
							i {
								display: inline-block;
								margin-left: 5px;
								font-size: 2rem;
								vertical-align: middle;
								line-height: 1;
							}
							&.is-active {
								i {
									transform: rotate(180deg);
								}
							}
						}
						// 삼성브랜드관 오픈 후 삭제
						&__dropdown {
							display: none;
							position: fixed;
							overflow-x: auto;
							top: 40px;
							left: 0;
							z-index: 50;
							width: 100%;
							padding: 2.2rem 0 1.5rem;
							background-color: #fff;
							white-space: nowrap;
							text-align: center;
							font-size: 0;
							> li {
								display: inline-block;
								width: 80px;
								margin: 0 5px;
								text-align: center;
								vertical-align: top;
								&:first-child {
									margin-left: 10px;
								}
								&:nth-last-child(1) {
									margin-right: 10px;
								}
								a {
									display: block;
									.image-wrap {
										border: 1px solid #333;
										.image {
											display: block;
											width: 100%;
										}
									}
								}
							}
						}
						&__dropdown_re {
							width: 100%;
							max-width: 89rem;
							height: 100vh;
							margin: 0 auto;
							.wrap {
								position: absolute;
								left: 1rem;
								top: 5rem;
								width: 22rem;
								height: auto;
								padding: 2rem;
								background-color: #fff;
								border-radius: 1rem;
								h4 {
									margin-top: 1rem;
									padding: 1.2rem 0 0 0;
									border-top: 1px solid #d6d6d6;
									font-weight: 600;
									font-size: 1.3rem;
									color: #bebebe;
								}
								a {
									display: flex;
									flex-direction: row;
									align-items: center;
									padding: 0.8rem 0;
									font-size: 1.5rem;
									color: #333;
									.modal {
										&__ico {
											display: flex;
											align-items: center;
											padding-right: 1rem;
										}
										&__txt {
											.ico-check {
												position: relative;
												left: 0.5rem;
												bottom: 0.2rem;
												// display: inline-block;
												padding: 0.2rem;
												background-color: #005d86;
												border-radius: 50%;
												color: #fff;
												font-size: 0.7rem;
											}
										}
									}
								}
							}
						}

						&__name {
							width: 80px;
							display: block;
							margin-top: 0.7rem;
							color: #333;
							font-size: 1.2rem;
							letter-spacing: -0.05em;
							line-height: 1.1;
							white-space: initial;
							word-break: keep-all;
						}
					}
				}
			}
			&-name {
				margin: 16px 0 0 10px;
				padding: 0;
				color: #333;
				font-size: 1.4rem;
				font-weight: 600;
				line-height: 1;
				letter-spacing: -0.1px;
			}
		}
		&-middle {
			&-wrap {
				height: 38px;
				// background-color: #182637;
				.pitem-tabs {
					font-size: 1.4rem;
					li a {
						padding: 0 0.4em;
						letter-spacing: -0.05em;
					}
				}
			}
			&-inner {
				display: flex;
				justify-content: space-between;
				align-items: center;
				height: inherit;
				background-color: #fff;
				// border-radius: 0 15px 0 0;
				border-radius: 0;
			}
			&__search {
				position: relative;
				width: calc(100% - 60px);
				margin-left: 10px;
				.lv-search {
					width: 100%;
					height: 35px;
					padding: 5px 30px 5px 10px;
					background-color: white !important;
					border: none;
					border-bottom: 1px solid #333;
					outline: none;
					-webkit-appearance: none;
					-webkit-border-radius: 0;
					font-size: 1.4rem;
					&::placeholder {
						font-size: 1.4rem;
						color: #ccc;
					}
					&::-webkit-search-decoration,
					&::-webkit-search-cancel-button,
					&::-webkit-search-results-button,
					&::-webkit-search-results-decoration {
						display: none;
					}
				}
				label {
					position: absolute;
					top: 50%;
					right: 10px;
					z-index: 1;
					transform: translateY(-50%);
					i {
						color: #333;
						font-size: 2rem;
					}
				}
			}
		}
		&-bottom {
			&-wrap {
				background-color: #fff;
				.tab-block {
					margin: 0;
					&-item {
						&-lists {
							margin-bottom: -1px;
						}
						&__btn {
							margin: 0;
							line-height: 1;
							padding: 1.3rem 0 1.5rem;
							&:after {
								top: auto;
								bottom: 0;
							}
						}
					}
				}
			}
		}
	}
}

.button-header-search {
	position: absolute;
	right: 0;
	width: 4rem;
	height: 4rem;
	i {
		color: #333;
		font-size: 2rem;
	}
}
// 푸터 메뉴
.footer-gnb {
	transform: translateY(0);
	transition: transform 0.5s #{$transition};
	&-wrap {
		position: relative;
		max-width: 890px;
		margin: 0 auto;
	}
	&.up {
		transform: translateY(78px);
	}
	&-home__bg {
		position: absolute;
		left: 50%;
		bottom: -5px;
		z-index: 2;
		width: 100px;
		height: 6rem;
		margin-left: -50px;
	}
	&-home__slider {
		position: absolute;
		left: 0;
		top: 100px;
		z-index: -1;
		width: 100%;
		height: 240px;
		padding: 22px 0 60px;
		background-color: #fff;
		box-shadow: 0 -10px 10px rgba(0, 0, 0, 0.07);
		transition: all 0.5s;
		&.is-active {
			top: -220px;
		}
		.swiper-container {
			height: 170px;
			padding-top: 30px;
			margin-left: -40px;
		}
		.swiper-slide {
			opacity: 0.6;
			transition: transform 0.5s #{$transition};
			.gnb-img {
				display: flex;
				width: 80px;
				height: 80px;
				margin: 0 auto 5px;
				border: 1px solid #333;
				background-color: #fff;
				align-items: center;
				justify-content: center;
				-webkit-filter: grayscale(100%);
				filter: gray;
				img {
					width: 100%;
				}
			}
			.txt {
				display: block;
				text-align: center;
				line-height: 1.2;
				font-size: 0.9rem;
				color: #333;
				opacity: 0;
				transition: opacity 0.3s;
				@include word-wrap();
			}
			&-active {
				opacity: 1;
				z-index: 5;
				margin: 0 20px;
				transform: scale(1.5) translateY(6%);
				a {
					display: block;
					// margin-left: -25px;
				}
				.gnb-img {
					border: 2px solid #2e7a9a;
					// border-image: linear-gradient(to bottom, #66ded1 0%, #239efd 100%);
					border-image-slice: 30%;
					// margin-top: 8px;
					-webkit-filter: none;
					filter: none;
					img {
					}
				}
				.txt {
					color: #2e7a9a;
					opacity: 1;
				}
			}
		}
		.swiper-pagination {
			top: inherit;
			margin-left: 0px;
			width: 66%;
			height: 1px;
			left: 22%;
			right: 22%;
			bottom: 0px;
			.swiper-pagination-progressbar-fill {
				background-color: #1dd5e6;
			}
		}
	}
	&.fixed {
		position: fixed;
		max-width: 890px;
		margin: 0 auto;
		bottom: 0;
		left: 0;
		right: 0;
		z-index: 100;
		&:before {
			position: absolute;
			bottom: 0;
			left: 0;
			z-index: 0;
			content: '';
			width: 100%;
			max-width: 890px;
			height: 7rem;
			margin: 0 auto;
			background: rgb(0, 0, 0);
			background: -moz-linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.2) 30%,
				rgba(0, 0, 0, 0) 100%
			);
			background: -webkit-linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.2) 30%,
				rgba(0, 0, 0, 0) 100%
			);
			background: linear-gradient(
				0deg,
				rgba(0, 0, 0, 0.2) 30%,
				rgba(0, 0, 0, 0) 100%
			);
			filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000",endColorstr="#000",GradientType=1);
		}
		> nav {
			&:before,
			&:after {
				position: absolute;
				top: 0;
				z-index: 0;
				content: '';
				width: calc(50% - 45px);
				height: 6rem;
				background-color: #fff;
			}
			&:before {
				left: 0;
				border-top-left-radius: 1.5rem;
			}
			&:after {
				right: 0;
				border-top-right-radius: 1.5rem;
			}
		}
	}
	&-inner {
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		max-height: 100%;
		overflow-x: hidden;
		overflow-y: auto;
	}
	// 201124 footer gnb history-back 추가
	&-nav {
		display: flex;
		position: relative;
		z-index: 2;
		max-width: 890px;
		height: 5.5rem;
		margin: 0 auto;
		align-items: center;
		justify-content: space-evenly;
		// background-color: #fff;
		// box-shadow: 0 -5px 12px rgba(0, 0, 0, 0.1);

		.history-back {
			width: 25px;
			height: 50px;
			position: absolute;
			left: 15px;
			top: 6px;
			a {
				display: block;
				// background: url('../images/openevent/history-back.png') center 10px no-repeat;
				// background-size: 7px 13px;
				width: 25px;
				height: 50px;
				padding-top: 0.2rem;
				text-align: center;
				i {
					font-size: 11px;
				}
				span {
					margin-top: 0.3rem;
				}
			}
		}

		&__item {
			display: block;
			a {
				display: flex;
				height: 5rem;
				padding: 0 1rem;
				line-height: 1.1;
				color: #333;
				align-items: center;
				justify-content: center;
				flex-direction: column;
				text-align: center;
				i {
					font-size: 1.8rem;
				}
				.icon2-brand {
					position: relative;
					top: -0.2rem;
					filter: grayscale(0);
					opacity: 1;
				}
				.icon2-brand.is-active {
					filter: grayscale(1);
					opacity: 0.7;
				}
				.brand-txt {
					margin-top: 0.2rem;
				}
			}
			&-txt {
				display: block;
				margin-top: 0.6rem;
				font-size: 1.1rem;
				letter-spacing: -0.05em;
			}
			// &:nth-child(2) {
			// 	margin-left: 30px;
			// }
			// &:nth-child(3) {
			// 	margin-left: -10px;
			// }
		}

		&__momenu {
			width: 15%;
		}
	}
	&-head {
		margin: -5px 0;
		display: flex;
		&__left {
			flex-grow: 1;
			font-size: 1.6rem;
			color: #333;
			line-height: 1.1;
			display: inline-flex;
			letter-spacing: -1px;
			align-items: center;
			a {
				color: #333;
			}
			.button.is-danger {
				height: 3.1rem;
				border-radius: 3.1rem;
				font-size: 1.4rem;
				font-weight: 600;
			}
		}
		&__right {
			margin-right: -0.5rem;
			display: inline-flex;
			a,
			button {
				padding: 0.5rem 0.5rem 0;
				margin-left: 1rem;
			}
			align-items: center;
			flex-grow: 0;
			font-size: 2rem;
			color: #333;
			.ico-cross {
				font-size: 1.8rem;
			}
			.ico-config {
				font-size: 2rem;
				color: #333;
			}
			.alarm-check {
				i.ico-alarm {
					font-size: 2.3rem;
					color: #333;
				}
				.alarm-check-badge {
					top: 4px;
					right: 3px;
					width: 0.8rem;
					height: 0.8rem;
				}
			}
		}
	}

	&-overlay {
		background-color: #fff;
		z-index: 100;
		visibility: visible;
		opacity: 0;
		position: fixed;
		left: 0;
		right: 0;
		top: 100vh;
		width: 100%;
		height: 100%;
		transition: all 0.3s #{$transition};
		&.is-active {
			// visibility: visible;
			opacity: 1;
			top: 0;
			bottom: 0px;
		}
	}
	&-section {
		&:not(:first-child) {
			margin: 6px 0;
			border-top: 10px solid #eee;
		}
		padding: 13px 10px 10px;
		background-color: #fff;
		.img-txt {
			display: inline-block;
			width: 30px;
			height: auto;
			vertical-align: top;
			margin: 2px 0 -4px 4px;
			&.isLive {
				margin: -7px 0 -4px 4px;
			}
		}
	}
	&-mymenu {
		display: flex;
		justify-content: space-between;
		font-size: 0;
		.ico-gnb-mypage {
			background: url(../images/svg/menu-mypage.svg);
		}
		.ico-gnb-deliver {
			background: url(../images/svg/menu-delivery.svg);
		}
		.ico-gnb-coupon {
			background: url(../images/svg/menu-coupon.svg);
		}
		.ico-gnb-cscenter {
			background: url(../images/svg/menu-cscenter.svg);
		}
		&__item {
			display: inline-flex;
			color: #333;
			strong {
				display: block;
				margin-bottom: 0.6rem;
				color: #333;
				text-align: center;
				font-size: 1.3rem;
				font-weight: 400;
			}
			.icons-wrap {
				display: flex;
				width: 7.2rem;
				height: 5rem;
				margin: 0 auto;
				align-items: center;
				justify-content: center;
			}
			i {
				display: block;
				margin: 0 auto;
			}
		}
	}
	&-fav {
		display: flex;
		flex-wrap: wrap;
		margin-left: 1px;
		margin-right: -4px;
		margin-bottom: 1.4rem;
		&__item {
			display: flex;
			height: 11rem;
			margin: -1px 0 0 -1px;
			padding: 0 10px;
			border: 1px solid #eee;
			flex: 0 0 33.33%;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-size: 1.4rem;
			color: #333;
			.icons-wrap {
				display: flex;
				width: 80px;
				height: 60px;
				margin-top: 7px;
				margin-bottom: 5px;
				align-items: center;
				justify-content: center;
			}
			strong {
				display: block;
				height: 4rem;
				text-align: center;
				font-size: 1.4rem;
				line-height: 1.2;
				font-weight: 400;
			}
		}
	}
	&-service {
		display: flex;
		flex-wrap: wrap;
		margin-left: -9px;
		margin-right: -11px;
		&__title {
			margin-top: 1.5rem;
			margin-bottom: 2rem;
			font-size: 1.8rem;
			font-weight: 600;
			line-height: 1.1;
			color: #333;
		}
		&__item {
			display: flex;
			height: 4rem;
			margin: -1px 0 0 -1px;
			padding: 0 18px;
			justify-content: flex-start;
			align-items: center;
			font-size: 1.6rem;
			color: #333;
			flex: 1 0 50%;
			border: 1px solid #eee;
		}
	}
	&-buttons {
		margin-top: 4rem;
		margin-bottom: 2rem;
		padding: 0 10px;
		.button {
			height: 5rem;
			border-color: #ddd;
			background-color: #ddd;
			font-size: 1.4rem;
			color: #777;
			i {
				font-size: 2rem;
				margin-right: 1rem;
			}
		}
	}
}
.button-open-momenu {
	display: flex;
	position: absolute;
	top: 100px;
	left: 50%;
	z-index: -10;
	margin-left: -25px;
	width: 50px;
	height: 50px;
	border-radius: 100%;
	line-height: 1;
	align-items: center;
	justify-content: center;
	color: #fff;
	background: rgb(38, 161, 252);
	background: -moz-linear-gradient(
		0deg,
		rgba(38, 161, 252, 1) 0%,
		rgba(98, 218, 211, 1) 100%
	);
	background: -webkit-linear-gradient(
		0deg,
		rgba(38, 161, 252, 1) 0%,
		rgba(98, 218, 211, 1) 100%
	);
	background: linear-gradient(
		0deg,
		rgba(38, 161, 252, 1) 0%,
		rgba(98, 218, 211, 1) 100%
	);
	filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#26a1fc",endColorstr="#62dad3",GradientType=1);
	transition: all 0.5s #{$transition};
	i {
		font-size: 2.3rem;
	}
	&.is-active {
		top: -13px;
		z-index: 3;
	}
	&-close {
		display: block;
		position: absolute;
		top: 50%;
		left: 50%;
		z-index: 5;
		width: 38px;
		height: 38px;
		margin-top: 100px;
		margin-left: -19px;
		transition: all 0.5s #{$transition};
		svg {
			width: 100%;
			polygon {
				width: 100%;
				fill: #2e7a9a;
			}
		}
		&.is-active {
			margin-top: -19px;
		}
	}
}
.fixed-area-bottom {
	position: fixed;
	left: 0;
	right: 0;
	bottom: 0;
	z-index: 50;
	display: flex;
	align-items: center;
	width: 100%;
	.button {
		flex-grow: 1;
		width: 100%;
		height: 5rem;
	}
}

// 플로팅메뉴
.footer-gnb-floating {
	// visibility: hidden;
	position: fixed;
	bottom: 0;
	left: 0;
	right: 0;
	z-index: 10;
	.container {
		position: relative;
		max-width: 890px;
		padding: 10px;
		margin: 0 auto;
		z-index: 1;
	}
	// display: none;

	.button {
		display: flex;
		position: absolute;
		z-index: 1;
		width: 4.5rem;
		min-width: 4.5rem;
		height: 4.5rem;
		padding: 0;
		right: 10px;
		border-radius: 4.5rem;
		outline: none;
		align-items: center;
		justify-content: center;
		&.button-scroll-top {
			bottom: 69px;
			z-index: 30;
			color: #333;
			background-color: #fff;
			border: 1px solid #333;
			transition: all 0.3s #{$transition};
			&__closed {
				bottom: 10px;
			}
		}
	}
	&.up {
		// #button-float {
		// 	transform: translateY(0);
		// }
		display: block;
		.button-scroll-top {
			bottom: 9px;
		}
	}
}
#button-footer-float {
	bottom: 179px;
	z-index: 30;
	color: #fff;
	font-size: 1.8rem;
	background-color: #333;
	border-color: transparent;
	transition: all 0.3s #{$transition};
	@at-root .up & {
		bottom: 119px;
		&.hide-scroll-top {
			bottom: 64px;
		}
	}
	&.hide-scroll-top {
		bottom: 124px;
	}
	.ico-plus {
		transform: rotate(0);
		transition: all 0.3s #{$transition};
	}
	&.is-active {
		background-color: #777;
		.ico-plus {
			transform: rotate(135deg);
		}
	}
}
#backbutton-footer-float {
	bottom: 124px;
	z-index: 30;
	color: #333;
	font-size: 1.8rem;
	background-color: #fff;
	border-color: #333;
	transition: all 0.3s #{$transition};
	@at-root .up & {
		bottom: 64px;
		&.hide-scroll-top {
			bottom: 9px;
		}
	}
	&.hide-scroll-top {
		bottom: 69px;
	}
}
#float-menu {
	display: block;
	visibility: hidden;
	z-index: 29;
	padding: 0;
	&.is-active {
		visibility: visible;
		display: flex;
		.float-menus {
			z-index: 100;
			a {
				span {
					width: 100%;
				}
				transform: scale(1);
				&:nth-child(1) {
					bottom: 18rem;
				}
				&:nth-child(2) {
					bottom: 24rem;
				}
				&:nth-child(3) {
					bottom: 30rem;
				}
				&:nth-child(4) {
					bottom: 36rem;
				}
				&:nth-child(5) {
					bottom: 42rem;
				}
				&:nth-child(6) {
					bottom: 48rem;
				}
				&:nth-child(7) {
					bottom: 54rem;
				}
				&:nth-child(8) {
					bottom: 60rem;
				}
				&:nth-child(9) {
					bottom: 66rem;
				}
				&:nth-child(10) {
					bottom: 72rem;
				}
				&:nth-child(11) {
					bottom: 78rem;
				}
				opacity: 1;
			}
		}
	}
	@at-root .up & {
		&.is-active {
			.float-menus {
				a {
					&:nth-child(1) {
						bottom: 12rem;
					}
					&:nth-child(2) {
						bottom: 18rem;
					}
					&:nth-child(3) {
						bottom: 24rem;
					}
					&:nth-child(4) {
						bottom: 30rem;
					}
					&:nth-child(5) {
						bottom: 36rem;
					}
					&:nth-child(6) {
						bottom: 42rem;
					}
					&:nth-child(7) {
						bottom: 48rem;
					}
					&:nth-child(8) {
						bottom: 54rem;
					}
					&:nth-child(9) {
						bottom: 60rem;
					}
					&:nth-child(10) {
						bottom: 66rem;
					}
					&:nth-child(11) {
						bottom: 72rem;
					}
				}
			}
			&.hide-scroll-top {
				.float-menus {
					a {
						&:nth-child(1) {
							bottom: 6.5rem;
						}
						&:nth-child(2) {
							bottom: 12.5rem;
						}
						&:nth-child(3) {
							bottom: 18.5rem;
						}
						&:nth-child(4) {
							bottom: 24.5rem;
						}
						&:nth-child(5) {
							bottom: 30.5rem;
						}
						&:nth-child(6) {
							bottom: 36.5rem;
						}
						&:nth-child(7) {
							bottom: 42.5rem;
						}
						&:nth-child(8) {
							bottom: 48.5rem;
						}
						&:nth-child(9) {
							bottom: 54.5rem;
						}
						&:nth-child(10) {
							bottom: 60.5rem;
						}
						&:nth-child(11) {
							bottom: 66.5rem;
						}
					}
				}
			}
		}
	}
	&.hide-scroll-top {
		&.is-active {
			.float-menus {
				a {
					&:nth-child(1) {
						bottom: 12.5rem;
					}
					&:nth-child(2) {
						bottom: 18.5rem;
					}
					&:nth-child(3) {
						bottom: 24.5rem;
					}
					&:nth-child(4) {
						bottom: 30.5rem;
					}
					&:nth-child(5) {
						bottom: 36.5rem;
					}
					&:nth-child(6) {
						bottom: 42.5rem;
					}
					&:nth-child(7) {
						bottom: 48.5rem;
					}
					&:nth-child(8) {
						bottom: 54.5rem;
					}
					&:nth-child(9) {
						bottom: 60.5rem;
					}
					&:nth-child(10) {
						bottom: 66.5rem;
					}
					&:nth-child(11) {
						bottom: 72.5rem;
					}
				}
			}
		}
	}
	.float-menus {
		position: relative;
		width: 100%;
		height: 100%;
		bottom: 5.5rem;
		max-width: 890px;
		margin: 0 auto;
		a {
			display: flex;
			position: absolute;
			opacity: 0;
			right: 10px;
			bottom: 80px;
			padding-right: 1px;
			width: 15rem;
			height: 4.5rem;
			border: none;
			outline: none;
			color: #fff;
			justify-content: flex-end;
			transform: scale(0.9);
			transition: all 0.3s #{$transition};
			&:hover {
				.icons-float {
					background-color: #333;
				}
			}
			.icons-float {
				position: absolute;
				right: 0;
				bottom: 0;
				display: flex;
				width: 4.5rem;
				height: 4.5rem;
				border-radius: 4.5rem;
				background-color: #333;
				color: #fff;
				border: none;
				font-size: 1.6rem;
				font-weight: 600;
				font-style: normal;
				outline: none;
				display: flex;
				margin: 0 auto;
				align-items: center;
				justify-content: center;
			}
			span {
				display: flex;
				padding: 0 20px;
				width: 0%;
				height: 100%;
				border-radius: 4.5rem;
				font-size: 1.4rem;
				font-weight: 400;
				text-align: center;
				color: #777;
				background-color: #f1f1f1;
				align-items: center;
				transition: all 0.3s #{$transition};
			}
		}
	}
}

.modal-button-recent-list {
	display: block;
	.image-thumb-wrap {
		width: 3.8rem;
		height: 3.8rem;
		border-radius: 1rem;
	}
}
.modal-recent-list {
	&__item {
		position: relative;
		padding-bottom: 20px;
		margin-bottom: 20px;
		border-bottom: 1px solid #eee;
		.btn-recent-del {
			position: absolute;
			top: -10px;
			right: -10px;
			padding: 10px;
			font-size: 1.5rem;
		}
		.btn-recent-basket {
			display: flex;
			position: absolute;
			right: 0px;
			bottom: 21px;
			font-size: 1.1rem;
			align-items: center;
			i {
				font-size: 1.5rem;
				margin-right: 0.4rem;
			}
		}
	}
}
.modal-side {
	visibility: hidden;
	opacity: 0;
	display: flex;
	justify-content: flex-end;
	transition: all 0.1s #{$transition};
	.modal-card {
		width: 90%;
		margin-left: 100vw;
		transition: all 0.2s #{$transition};
		&-title {
			top: 1.7rem;
			left: 10px;
			text-align: left;
			transform: none;
		}
		&-head {
			height: 7rem;
			.delete {
				top: 0.8rem;
			}
			.is-flex {
				padding-top: 3.6rem;
				padding-left: 10px;
				width: 100%;
				span {
					flex: 1 0 auto;
					font-size: 1.2rem;
					color: #ccc;
				}
				.button-modal-delete-all {
					flex: 0 0 8rem;
					text-align: right;
					font-size: 1.2rem;
				}
			}
		}
	}
	&.is-active {
		visibility: visible;
		opacity: 1;
		.modal-card {
			margin-left: 10%;
		}
	}
}
.tab-block-wrap {
	.tabs {
		ul {
			border-bottom-color: none;
			border-bottom-style: none;
			border-bottom-width: 0;
			li {
				border: 1px solid #cacaca;
				border-bottom: 1px solid #333;
				span {
					font-size: 1.3rem;
				}
				&.is-active {
					border: 1px solid #333;
					border-bottom: none;
					span {
						color: #333;
					}
					.tab {
						padding: 1em;
					}
				}
				.tab {
					padding: 1em;
					padding-bottom: calc(1em - 1px);
				}
			}
		}
	}
}
