.section-contents-product__lists {
	margin: 38px 0 0;
	.product-item-large-lists {
		margin-bottom: 60px;
	}
	&.bottom-margin {
		.product-item-medium-lists {
			margin: 0 -14px -60px;
			> li {
				margin: 0 14.2px 60px;
			}
		}
	}
}

.best-rank-wrap {
	.best-rank-lists {
		> li {
			.best-rank {
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				width: 30px;
				height: 30px;
				background-color: #000;
				.best-rank-number {
					display: block;
					color: #fff;
					font-size: 1.5rem;
					font-weight: 600;
				}
			}
			&:nth-child(1),
			&:nth-child(2),
			&:nth-child(3) {
				.best-rank {
					background-color: #ed2650;
					.best-rank-number {
					}
				}
			}
		}
	}
}

.product-item-large-lists {
	margin: -20px -27px 0 -26px;
	font-size: 0;

	.product-item--large {
		display: inline-block;
		margin: 60px 26.5px 0 26.5px;
		vertical-align: top;

		> .product-item {
			margin: 0;
		}
	}

	.best-rank {
		display: block;
		width: 31px;
		margin-bottom: 5px;
		font-size: 32px;
		font-weight: 700;
		line-height: 1.2;
		text-align: center;

		i {
			display: block;
		}
	}
}

.product-item-medium-lists {
	margin: -60px -14px 40px;
	font-size: 0;
	+ .pitem-qna-pagination {
		margin-bottom: 0;
	}
	.product-item--medium {
		display: inline-block;
		margin: 60px 14.2px 0;
		vertical-align: top;

		> .product-item {
			margin: 0;
		}
	}

	.best-rank {
		display: block;
		color: #333;
		font-size: $size-1;
		font-weight: 700;
		line-height: 1.2;
		margin-bottom: 5px;

		&:before {
			content: '';
			display: block;
			width: 25px;
			height: 3px;
			background-color: #333;
		}
	}
}

.section-contents-tab__list.flex-grow {
	.item-list {
		width: auto;
		flex-grow: 1;

		&:hover,
		&:focus {
			border-color: #333;
			z-index: 1;
		}

		.link.is-fullwidth {
			width: 100%;
		}

		&--width {
			width: 20%;
		}
	}
}

.new-main-swiper {
	.paging-box {
		width: calc(100% - 20px);
		margin-bottom: 30px;
	}
	.swiper-container {
		padding: 0 10px 20px;
	}
	.swiper-container-initialized {
		padding: 0;
	}
}

#section-new-arrival {
	> h3.title {
		margin-top: 48px;
		margin-bottom: 51px;
	}

	.swiper-custom-control__box {
		margin-top: 170px;
	}

	.product-item {
		margin: 0 auto 40px;
	}
}
.contents-items-wrap {
	padding-bottom: 60px;
}
// 브랜드샵 배너
#lstore-banner {
	&__top {
		&1 {
			position: relative;
			width: 1046px;
			height: 360px;
			flex-grow: 1;

			.swiper-slider {
				width: 1046px;
			}

			.section-category-control-wrap {
				background-color: rgba(0, 0, 0, 0.7);
			}

			.section-category-control-wrap div.swiper-button-next:before,
			.section-category-control-wrap div.swiper-button-prev:before {
				color: #fff;
			}

			.section-category-control-wrap div.swiper-pagination-fraction .swiper-pagination-current {
				color: #fff;
			}
		}

		&2 {
			position: relative;
			width: 320px;
			height: 360px;
			overflow: hidden;
			flex-grow: 1;

			.swiper-container {
				height: 360px;

				a {
					display: inline-flex;
					width: 320px;
					height: 108px;
					margin-top: -1px;
					padding: 20px;
					align-items: center;
					justify-content: center;
					border: 1px solid #eee;
					color: #333;

					strong {
						display: inline-flex;
						width: 180px;
						padding-left: 10px;
						padding-right: 20px;
						flex-flow: row;
						flex-grow: 1;
						font-weight: 400;
						font-size: $size-3;
						word-break: keep-all;
						word-wrap: break-word;
					}

					span.image {
						display: inline-flex;
						width: 70px;
						flex-grow: 0;
					}

					&:hover,
					&:focus {
						background-color: #333;
						border-color: #333;
						color: #fff;
					}
				}
			}

			.swiper-slide {
				display: block;
			}

			.section-category-control-wrap {
				position: relative;
				bottom: 40px;
				width: 320px;
				height: 40px;
				margin-top: 0;
				justify-content: center;
				background-color: #fff;
				border: 1px solid #eee;

				.swiper-button-prev,
				.swiper-button-next {
					position: static;
					width: 40px;
					height: 38px;

					&:before {
						color: #777;
						font-size: $size-2;
						font-weight: 400;
						opacity: 1;
					}

					&:hover,
					&:focus {
						&:before {
							color: #000;
						}
					}
				}

				.swiper-button-prev {
					&:before {
						content: '\eb60';
					}
				}

				.swiper-button-next {
					&:before {
						content: '\eb61';
					}
				}
			}
		}
	}
}

.section-contents-wrap {
	&.pt0 {
		padding-top: 0;
	}
}

.section-contents-tab-wrap {
	&.is-interval {
		margin-top: 100px;
	}
}

// LStore
.section-lstore {
	&.is-interval {
		margin-top: 100px;
	}
	&.is-interval-last {
		margin-bottom: 100px;
	}

	.item-icon-tag {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
	}

	.section-contents-tab__list {
		li {
			width: 228px;
		}
	}
	.btn-more {
		border-width: 2px;
		color: #333;
		font-weight: 600;
	}
}

.item-icon-tag {
	width: 265px;
	height: 265px;
	padding: 60px 0;
	background-color: #333;

	.tit {
		display: block;
		color: #adadad;
		font-size: 40px;
		font-weight: 400;
		line-height: 1;
		text-align: center;
	}

	.sub-tit {
		display: block;
		margin-bottom: 20px;
		color: #adadad;
		font-size: $size-2;
		line-height: 1;
		text-align: center;
	}

	i {
		display: block;
		margin: 30px auto 0;
	}
}

.items-list-box {
	margin: 0 -12.5px;

	> li {
		display: inline-block;
		margin: 0 12.5px 60px;
		vertical-align: top;
	}

	+ .button-area {
		.button {
			min-width: 220px;
		}
	}
}

.contents-bargain {
	.swiper-slide {
		position: relative;
		min-height: 1380px;
		padding: 120px 0 0 110px;

		.product-items-box {
			position: absolute;
			right: 0;
			bottom: 60px;
			z-index: 20;

			ul {
				margin: 0 -12.6px;

				> li {
					display: inline-block;
					margin: 0 12.6px;
					vertical-align: top;
				}
			}
		}
	}
}
#middle-banner {
	&.section-lstore {
		margin-top: 100px;
	}
}
#lstore-category-lists {
	&.section-lstore {
		.section-category-control-wrap {
			top: 0;
		}

		.swiper-container {
			width: calc(100% - 226px);

			.swiper-slide {
				width: 90px;
				margin-right: 60px;

				a {
					display: block;

					img {
						display: block;
						margin: 0 auto;
						text-align: center;
					}

					.name {
						display: block;
						margin-top: 20px;
						color: #000;
						font-size: $size-5;
						text-align: center;
					}
				}
			}
		}
	}
}

#main-exhibition {
	&.swiper-control-wrap {
		.section-category-control-wrap {
			top: 0;
		}
	}
}
// 20200706
#lstore-timesale {
	.item-icon-tag {
		top: -50px;
		left: 0;
	}
	.paging-box {
		.swiper-pagination-count {
			right: 58px;
		}

		.swiper-button-prev,
		.swiper-button-next {
			@extend %paging-box-swiper-button;
			&:before {
				display: none;
			}
		}
		.swiper-button-prev {
			left: 0;
		}
		.swiper-button-next {
			right: 0;
		}
	}
	&.contents-bargain {
		padding: 0;
		.swiper-container {
			margin: 86px 0 0 120px;
			padding-top: 75px;
			height: 1210px;
		}
		.product-item--xxlarge {
			align-items: center;
			flex-wrap: wrap;

			.product-item-content {
				max-width: 420px;
			}
		}
		.product-item--medium {
			.product-item-content {
				max-width: 320px;
			}
		}
		.product-item__countdown {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			width: 150px;
			text-align: right;
			line-height: 30px;
			font-size: $size-1;
			font-weight: 600;
			color: #333;
		}
		.swiper-slide {
			// position: initial;
			z-index: -1;
			height: 1px;
			min-height: 1px;
			padding: 0;
			&.swiper-slide-best {
				> div {
					display: block;
					top: 0;
					bottom: initial;
					z-index: 1;
					width: 1254px !important;
					height: 980px;
					margin-left: 0;
					opacity: 1;
					.item-discount-box {
						width: 100px;
						height: 100px;
						.discount {
							font-size: 26px;
						}
					}
					.product-item-content {
						position: absolute;
						width: 420px;
						top: 165px;
						left: initial;
						right: 10px;
					}
					.product-item-header {
						position: static;
					}
					.product-item__countdown {
						width: 500px;
						top: -244px;
						left: -542px;
						color: #000;
						font-size: 50px;
						line-height: 1.1;
					}
				}
			}
			&.swiper-slide-active {
				opacity: 1 !important;
				> div {
					margin-left: 160px;
					opacity: 1;
				}
			}
			&.swiper-slide-next {
				opacity: 1 !important;
				> div {
					opacity: 1;
				}
			}
			> div {
				position: absolute;
				z-index: 1;
				top: 610px;
				margin-left: 96px;
				opacity: 0;
			}
		}

		.paging-container {
			position: absolute;
			top: 910px;
			left: 49px;
			z-index: 10;
			width: 400px;

			.paging-box {
				width: 500px;
				margin: 0;
				.swiper-button-prev,
				.swiper-button-next {
					top: 0;
					height: 20px;
					margin-top: 0;
					padding: 0;
				}
			}
		}
	}

	.swiper-pagination-progressbar-fill {
		background: #373737;
	}
}
// .new-items-wrap {
// 	position: relative;
// 	padding-bottom: 60px;

// 	&:after {
// 		display: block;
// 		content: '';
// 		position: absolute;
// 		bottom: -40px;
// 		right: 38%;
// 		z-index: 0;
// 		width: 100%;
// 		height: 1040px;
// 		background-color: #f9f9f9;
// 	}
// }

.dday-wrap {
	&.is-liner {
		padding-top: 40px;
		border-top: 1px solid #8d8d8d;
	}

	.dday {
		color: #000;
		font-size: 50px;
		font-weight: 600;
		line-height: 1;

		.day {
			font-weight: 400;
			font-style: normal;
		}
	}
}

.item-discount-box {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	right: 0;
	z-index: 1;

	&.black {
		color: #fff;
		background-color: #000;
	}

	&.small {
		width: 70px;
		height: 70px;

		.discount {
			font-size: $size-1;
		}
	}

	&.medium {
		width: 100px;
		height: 100px;

		.discount {
			font-size: 26px;
		}
	}

	em {
		font-style: normal;
	}
}

.number-box {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	z-index: 2;

	&.black {
		color: #fff;
		background-color: #000;
	}

	&.small {
		width: 50px;
		height: 50px;

		.number {
			display: block;
			font-size: $size-1;
		}
	}

	&.medium {
		width: 60px;
		height: 60px;

		.number {
			display: block;
			font-size: 26px;
		}
	}
}

/* 그레이 박스 */
.lstore-box {
	padding: 22px 40px 22px;
	background-color: #f9f9f9;
	font-size: $size-6;
	align-items: center;

	&-logo {
		display: inline-flex;
		align-items: center;
		&::after {
			display: inline-block;
			height: 40px;
			margin-right: 40px;
			padding-right: 40px;
			border-right: 1px solid #ccc;
			vertical-align: top;
			content: '';
		}
		+ div {
			width: calc(100% - 141px);
			word-break: keep-all;
			word-wrap: break-word;
		}
	}

	&-title {
		display: block;
		font-size: $size-2;
	}
}

/* 배너 */
.lstore-banner {
	margin: 40px -11px 0 -10.5px;

	span {
		display: inline-block;
		margin: 20px 9px 0;
		vertical-align: top;

		&:first-child {
			margin-top: 0;
		}
	}
}
// 공동구매

.groupbuy-section {
	// padding-bottom: 40px;
	// background-color: #f9f9f9;

	.section-category-item__search {
		padding-top: 60px;
		margin-bottom: 40px;
	}

	.groupbuy-section-product {
		position: relative;
		margin-bottom: 110px;
		background-color: #fff;

		.section-wrap {
			padding: 100px 60px 60px;

			.badge {
				height: 100%;
				max-height: 30px;
				margin-top: -30px;
				> span {
					display: inline-flex;
					justify-content: center;
					width: 80px;
					height: 100%;
					background: #333;
					color: #fff;
				}
			}

			.product-item-status {
				.product-item-status--soldout {
					font-size: 38px;
				}
			}
		}

		.section-category {
			width: 100%;
			max-width: 660px;
			padding: 60px;

			.pitem-group-purchase-price {
				span {
					font-size: $size-1;
					font-weight: 600;

					&:first-child {
						font-size: $size-1;
						margin-right: 20px;
					}
				}
			}
		}

		.countdown-timer-wrap {
			align-items: flex-end;
			margin-top: 20px;
			margin-bottom: 40px;
			.countdown-timer-wrap {
				line-height: 1;
				> span {
					font-size: 50px;
					color: #5bcec2;
					&:first-child {
						color: #000;
					}

					&.__gray {
						color: #999;
					}
				}
			}
		}

		.pitem-header-info__title {
			.title {
				font-size: $size-1;
			}
		}

		.pitem-header-section {
			.pitem-header-section__goal {
				font-size: $size-1;
			}
		}

		.button-area {
			position: absolute;
			right: 0;
			bottom: 0;
			width: 100%;
			max-width: 500px;
			height: 100%;
			max-height: 100px;
			margin-bottom: -50px;
			background-color: #333;

			.button {
				min-width: 100px;
				height: 100%;
				justify-content: center;
				background-color: #000;
				color: #fff;
				border: 0;
			}

			.button-main-detail {
				position: relative;
				z-index: 1;

				&__btn {
					width: 100%;
					max-width: 400px;
					height: 100%;
					background-color: #333;
					position: static;
					margin: 0;

					&__gray {
						width: 100%;
						max-width: 400px;
						height: 100%;
						position: static;
						margin: 0;
						background-color: #ddd;

						em {
							color: #777;
						}
					}
				}
			}
		}
	}

	.container + .container {
		margin-top: 3rem;
	}
}

.section--nomargin + #footer {
	margin-top: 0;
}

.title-wrap {
	&--pdtb60 {
		padding: 60px 0;
	}
}

.img-size-560 {
	overflow: hidden;
	display: inline-block;
	width: 560px;
	height: 560px;
	background-color: #f2f2f2;
	text-align: center;

	img {
		width: auto;
		height: 100%;
		transition: transform 0.3s cubic-bezier(0.17, 0.04, 0.03, 0.94);
	}

	&:hover {
		img {
			transform: scale(1.2);
		}
	}
}

.pitem-thumb-badge {
	display: flex;
	justify-content: center;
	align-items: center;
	position: absolute;
	top: 0;
	left: 0;
	padding: 0.3rem 1rem;
	z-index: 1;

	&.bg-black {
		background-color: #333;
	}

	&-text {
		display: block;
		color: #fff;
		font-size: $size-5;
		font-weight: 600;
		line-height: 1.1;
	}

	&__large {
		width: 60px;
		height: 60px;

		.pitem-thumb-badge-text {
			font-size: 1.8rem;
		}
	}

	&__normal {
		width: 30px;
		height: 30px;

		.pitem-thumb-badge-text {
			font-size: $size-5;
		}
	}
}

.product-thumb--time {
	position: absolute;
	bottom: 0;
	width: 100%;
}
