.section-main {
	margin-bottom: 4rem;
	margin-left: auto;
	margin-right: auto;
	max-width: 890px;
	.swiper-wrapper {
		height: auto;
	}
}

.swiper-main-control {
	position: absolute;
	z-index: 1;
	right: 0;
	bottom: 31px;
	.swiper-button-prev,
	.swiper-button-next {
		float: left;
		position: static;
		width: 4rem;
		// margin-left: 1px;
		height: 4rem;
		background-color: rgba(0, 0, 0, 0.8);
		color: #fff;
		font-weight: 400;
		font-size: 2rem;
	}
	.swiper-button-prev {
		left: 0;
		&:before {
			content: '\e931';
		}
	}
	.swiper-button-next {
		right: 0;
		&:before {
			content: '\e98e';
		}
	}
	.swiper-button-next.swiper-button-disabled,
	.swiper-button-prev.swiper-button-disabled {
		opacity: 0.2;
	}
}
// 스와이퍼 프로그레스 스타일
.paging-box {
	&.paging-box-progress {
		display: flex;
		justify-content: space-between;
		position: relative;
		width: 50%;
		width: calc(100% - 16rem);
		height: 2rem;
		margin: 1rem auto 0;
		align-items: center;

		&__absolute {
			position: absolute;
			bottom: 0;
			width: 100%;
			padding: 0 2rem;
			margin-bottom: 1rem;
		}

		.swiper-pagination-outer {
			position: relative;
			width: 100%;
			margin: 0;
			// .swiper-pagination-progressbar {

			// }

			.swiper-pagination-progressbar {
				top: 0;
				width: 100%;
				height: 1px;
				background-color: rgba(0, 0, 0, 0.15);
				.swiper-pagination-current {
					color: #000;
				}
			}
			.swiper-pagination-progressbar.is-light {
				background-color: rgba(255, 255, 255, 0.4);
			}
			.swiper-pagination-progressbar-fill {
				height: 2px;
				margin-top: -1px;
				background-color: rgba(0, 0, 0, 0.7);
			}
			.is-light {
				.swiper-pagination-progressbar-fill {
					background-color: rgba(255, 255, 255, 1);
				}
			}
		}

		.swiper-pagination-count {
			display: flex;
			// justify-self: self-end;
			margin-left: 1rem;
			color: #8d8d8d;
			font-size: $size-5;

			.swiper-pagination-current {
				margin-right: 0.3rem;
				color: #333;
			}
			&.is-light {
				.swiper-pagination-current {
					color: #fff;
				}
			}

			.swiper-pagination-total {
				margin-left: 0.3rem;
			}
		}

		// S :슬라이트 버튼사용시 좌우 끝으로 정리
		.swiper-button-next {
			right: -11rem;
		}

		.swiper-button-prev {
			left: -110rem;
		}

		// E :슬라이트 버튼사용시 좌우 끝으로 정리
	}

	// 화면 꽉차는 프로그래스 필요시
	&.is-fullwidth {
		width: 100%;
	}
}

// 메인용 모듈을 모아 놓음
// 메인용 라인 스타일
.swiper-main-nav-style {
	display: flex;
	justify-content: center;
	align-items: center;
	.navigation-box {
		width: 1366px;
		position: absolute;
		left: 50%;
		top: 50%;
		z-index: 1;
		margin-top: 84px;
		transform: translate(-50%, -50%);

		.swiper-button-next,
		.swiper-button-prev {
			width: 70px;
			height: 70px;
			color: #fff;
			background-color: rgba(0, 0, 0, 0.9);
			opacity: 0.5;
			transition: opacity 0.5s;

			&:hover {
				opacity: 1;
			}

			&:after {
				display: none;
			}
		}
	}

	.paging-box {
		position: static;
		left: 50%;
		bottom: 0;
		width: 667px;
		line-height: 20px;
		transform: translate(-50%, 0);

		.swiper-pagination {
			top: 10px;
			width: 100%;
			height: 2px;

			&-outer {
				overflow: hidden;
				position: relative;
				height: 20px;
				margin: 0 120px 0 55px;
			}
		}

		.swiper-pagination-count {
			position: absolute;
			top: 0;
			right: 0;
		}

		.swiper-button-prev,
		.swiper-button-next {
			@extend %paging-box-swiper-button;
		}
	}

	.swiper-pagination-progressbar-fill {
		background: #373737;
	}
}

.section-title-wrap {
	@extend .container;
	&.is-margin {
		margin-bottom: 2.3rem;
	}
}

.tab-block {
	position: relative;
	z-index: 1;
	margin-top: 0px;
	margin-bottom: 10px;

	.inner {
		text-align: center;
	}

	&.tab-flex-justify .inner {
		display: flex;
	}

	&-item {
		display: inline-block;
		margin: 0 1rem;
		text-align: center;

		@at-root .tab-flex-justify & {
			flex: 1 1 auto;
			margin: 0;
		}

		&__btn {
			position: relative;
			display: inline-block;
			// margin: 0.8rem 0;
			margin: 0.2rem 0;
			padding: 0.7rem 0;
			text-align: center;
			line-height: 1.1;
			font-size: $size-3;
			color: #777;
			transition: color 0.3s #{$transition};

			&:after {
				content: '';
				display: block;
				position: absolute;
				left: 50%;
				top: 0;
				width: 0;
				height: 2px;
				background: #000;
				transform: translate(-50%, 0);
				transition: width 0.3s;
			}
		}
	}
	&-item.is-active .tab-block-item__btn {
		font-weight: 600;
		color: #000;
		&:after {
			width: 100%;
		}
	}
	&-submenu {
		padding-top: 27px;
		margin-bottom: 35px;
		border-top: 1px solid #eee;
		text-align: center;
		.tab-block-item {
			font-size: 16px;
			font-weight: 400;
			color: #ccc;
			&.is-active {
				color: #333;
				text-decoration: underline;
			}
		}
	}
}

.button-main-detail {
	display: none; // 210127 자세히보기 버튼 삭제
	position: absolute;
	left: 0;
	bottom: 0px;
	z-index: 1;

	&__btn {
		display: inline-block;
		width: 27rem;
		height: 6rem;
		background-color: #333;

		&-inner {
			width: 100%;
			height: 100%;
			padding-right: 20px;
			flex-direction: row;
			justify-content: flex-end;

			em {
				display: inline-block;
				margin-right: 2rem;
				color: #fff;
				font-size: 1.4rem;
				line-height: 18px;
				font-style: normal;
			}
			i {
				color: #fff;
				font-size: 4.2rem;
			}
		}
	}
}
.section-bg {
	padding: 2rem 0;
	background-color: #f7f7f7;
}

.section-title {
	display: inline-block;
	vertical-align: middle;
	font-size: 2.5rem;
	font-weight: 600;
	line-height: 1.1;
	letter-spacing: -1px;
	// font-weight: 400;
	color: #000;
	&--small {
		display: block;
		margin-top: 10px;
		font-size: 20px;
		font-weight: 400;
		color: #777;
		line-height: 1em;
	}
	&-wrap {
		display: block;
		overflow: hidden;
		position: relative;
		margin-bottom: 1.2rem;
		padding-left: 10px;
		// text-align: center;
		@at-root .section-magazine & {
			overflow: visible;
		}
	}
	&__desc {
		margin-top: 0.6rem;
		font-size: 1.3rem;
		line-height: 1.1;
		color: #777;
	}
	&-hinge {
		overflow: visible;
	}
	&__more {
		display: block;
		text-align: left;
		&:after {
			content: '\e94b';
			display: inline-block;
			width: 1.8rem;
			height: 1.8rem;
			margin-left: 0.2rem;
			font-size: 1.8rem;
			color: #000;
			vertical-align: middle;
			font-family: 'iconset' !important;
			speak: never;
			font-style: normal;
			font-weight: normal;
			font-variant: normal;
			text-transform: none;
			line-height: 1;
			-webkit-font-smoothing: antialiased;
			-moz-osx-font-smoothing: grayscale;
		}
		&--large {
			width: 60px;
			height: 60px;
			border: 0;
			&:before,
			&:after {
				background-color: #fff;
			}
			&:before {
				top: 0;
				width: 1px;
				height: 100%;
				margin: 0;
			}

			&:after {
				left: 0;
				width: 100%;
				height: 1px;
				margin: 0;
			}
		}
	}
	.txt-hinge {
		display: inline-block;
		width: 60px;
		height: 32px;
		margin: 1px 0 -5px 5px;
		text-indent: -999em;
		vertical-align: middle;
		background: url(../images/common/txt_hinge_3.png) 0 0 no-repeat;
		background-size: 60px auto;
	}
}
.section-top-banner {
	width: 1366px;
	margin: 0 auto;
	&__320 {
		height: 320px;
		margin-bottom: 60px;
	}
	&__350 {
		height: 350px;
		margin-bottom: 40px;
		a {
			display: block;
			height: 100%;
		}
	}
}
/* top banner */
.top-banner {
	&-default {
		width: 100%;
		height: 45px;
		background: #373737 url(../images/common/bg_banner.jpg) center no-repeat;
	}

	&__btn {
		position: absolute;
		right: 0;
		top: 0;
		width: 45px;
		height: 45px;
		color: #fff;
		text-indent: -999em;

		&:before,
		&:after {
			content: '';
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			background: #fff;
			transform: translate(-50%, -50%);
			transition: transform 0.3s;

			@at-root .open-banner & {
				transform: translate(-50%, -50%) rotate(45deg);
			}
		}

		&:before {
			width: 1px;
			height: 17px;
		}

		&:after {
			width: 17px;
			height: 1px;
		}
	}

	&-area {
		height: 0;
		background: #00b1a1 url(../images/common/img_banner.jpg) center top
			no-repeat;
		transition: height 0.3s #{$transition};

		@at-root .open-banner & {
			height: 400px;
		}
	}
}

.swiper-control-wrapper {
	display: flex;
	align-items: center;
	justify-content: space-between;
	position: absolute;
	right: 10px;
	bottom: 10px;
	z-index: 10;
	width: auto;
	height: 2.5rem;
	// div {
	// 	width: 40px;
	// 	height: 40px;
	// 	outline: none;
	// }

	%flexSystem {
		display: flex;
		align-items: center;
		justify-content: center;
		font-size: 0;
	}

	%before {
		display: inline-block;
		width: 40px;
		color: #000;
		font-size: $size-5;
		text-align: center;
	}

	div.swiper-button-next {
		@extend %flexSystem;
		margin: 0;

		&:before {
			@extend %before;
		}
	}

	div.swiper-button-prev {
		@extend %flexSystem;
		margin: 0;

		&:before {
			@extend %before;
		}
	}

	.swiper-button-pause {
		@extend %flexSystem;
		width: 2.5rem;
		height: 2.5rem;
		margin-left: 0.8rem;
		border: 1px solid #333;
		border-radius: 2.5rem;
		background-color: rgba(0, 0, 0, 0.5);
		flex-shrink: 0;
		cursor: pointer;
		&.swiper-button-pause-outline--none {
			border: 0;
			outline: 0;
		}
		i {
			color: #fff;
			font-size: 0.9rem;
		}
	}

	.swiper-pagination-fraction {
		display: flex;
		justify-content: center;
		align-items: center;
		position: static;
		width: auto;
		padding: 0 2rem;
		height: 2.5rem;
		border-radius: 2.5rem;
		color: #fff;
		font-size: $size-5;
		background-color: rgba(0, 0, 0, 0.8);

		.swiper-pagination-current {
			margin-right: 0.5rem;
			color: #fff;
			font-weight: 600;
		}
		.swiper-pagination-total {
			margin-left: 0.5rem;
		}
	}
	.swiper-pagination-wrap {
		display: flex;
		position: static;
		width: auto;
		height: 2.5rem;
		padding: 0 0.7rem 0 1.4rem;
		border-radius: 2.5rem;
		color: #fff;
		background-color: rgba(0, 0, 0, 0.8);
		justify-content: center;
		align-items: center;
		font-size: $size-5;
		.swiper-pagination-fraction {
			width: auto;
			height: auto;
			padding: 0;
			background: transparent;
			vertical-align: middle;
			font-weight: normal;
			color: #bbb;

			.swiper-pagination-current {
				margin-right: 0.5rem;
				color: #fff;
				font-weight: 600;
			}
			.swiper-pagination-total {
				margin-left: 0.5rem;
				font-weight: normal;
			}
		}
		.swiper-button-plus {
			display: inline-block;
			vertical-align: middle;
			padding: 0.5rem;
			margin: -0.3rem 0 0 0.7rem;
		}
		.ico-plus {
			font-size: 0.9rem;
			font-weight: bold;
			color: #fff;
		}
	}
}

.swiper-control-box {
	display: inline-flex;
	align-content: center;
	.swiper-button-pause,
	.swiper-button-play {
		display: inline-flex;
		width: 40px;
		height: 40px;
		align-items: center;
		justify-content: center;
		cursor: pointer;
		&:hover,
		&:focus {
			border: 1px solid #eee;
		}
	}
}

/* 타임 세일 */
%paging-box-swiper-button {
	width: 40px;
	height: 40px;
	top: 13px;
	padding: 0 20px;
	color: #000;
	text-align: center;
	font-size: 14px;
	font-weight: 600;
	font-family: 'Roboto', sans-serif;
	line-height: 14px;
}

.section-main-timesale {
	position: relative;
	padding: 30px 0 0 70px;

	// padding: 0px;
	.section-title-wrap {
		position: absolute;
		top: 0;
		left: 0px;
	}
	&.section-bg {
		padding-top: 70px;
		padding-bottom: 15px;
		background-color: #fff;
		&:before {
			content: '';
			display: block;
			width: 100%;
			position: absolute;
			top: 45px;
			bottom: 0;
			left: 0;
			background-color: #f7f7f7;
		}
	}
	&__header {
		position: absolute;
		top: 44px;
		left: 0;
		bottom: 184px;
		width: 100%;
		background-color: #000;
		font-size: 1.8rem;
		color: #fff;
		&-inner {
			float: left;
			display: block;
			width: 70px;
			margin: 30px 0 0 0;
			text-align: center;
			.ico-timesale {
				font-size: 3rem;
			}
		}

		.timesale-header-timer {
			margin-top: 1rem;
			font-size: 0;
			line-height: 1.3;
			.space {
				font-size: 1.2rem;
				font-weight: 400;
			}
			&__unit {
				font-size: 1.8rem;
			}
			&__num {
				color: #fff;
				font-size: 3rem;
				font-weight: 600;
			}
		}
	}
	.swiper-container {
		overflow: hidden;
		width: 100%;
	}
	.product-item {
		background-color: #fff;
		> a {
			display: block;
			position: relative;
		}
		&-image:after {
			display: none;
		}
		&-content {
			padding: 0 15px 5px;
		}
	}
	.item-discount-box {
		top: initial;
		bottom: 140px;
		right: 0;
		width: 5rem;
		height: 5rem;
		display: flex;
		font-size: 1.5rem;
		align-items: center;
		justify-content: center;
	}
	.paging-box.paging-box-progress {
		width: 100%;
		padding-right: 1rem;
	}
}

.section-lstore-timesale {
	.item-icon-tag {
		top: -50px;
		left: 0;
	}
	&.is-interval {
		margin-top: 100px;
	}

	&.is-interval-last {
		margin-bottom: 100px;
	}

	.item-icon-tag {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
	}

	.section-contents-tab__list {
		li {
			width: 228px;
		}
	}

	.btn-more {
		border-width: 2px;
		color: #333;
		font-weight: 600;
	}
	.paging-box {
		.swiper-pagination-count {
			right: 58px;
		}

		.swiper-button-prev,
		.swiper-button-next {
			@extend %paging-box-swiper-button;

			&:before {
				display: none;
			}
		}

		.swiper-button-prev {
			left: 0;
		}

		.swiper-button-next {
			right: 0;
		}
	}

	&.contents-bargain {
		padding: 0;

		.swiper-container {
			margin: 86px 0 0 120px;
			padding-top: 75px;
			height: 1210px;
		}

		.product-item--xxlarge {
			align-items: center;
			flex-wrap: wrap;

			.product-item-content {
				max-width: 420px;
			}
		}

		.product-item--medium {
			.product-item-content {
				max-width: 320px;
			}
		}

		.product-item__countdown {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			width: 150px;
			text-align: right;
			line-height: 30px;
			font-size: 22px;
			font-weight: 600;
			color: #333;
		}

		.swiper-slide {
			// position: initial;
			z-index: -1;
			height: 1px;
			min-height: 1px;
			padding: 0;

			&.swiper-slide-best {
				> div {
					display: block;
					top: 0;
					bottom: initial;
					z-index: 1;
					width: 1254px !important;
					height: 980px;
					margin-left: 0;
					opacity: 1;

					.item-discount-box {
						width: 100px;
						height: 100px;

						.discount {
							font-size: 26px;
						}
					}

					.product-item-content {
						position: absolute;
						width: 420px;
						top: 165px;
						left: initial;
						right: 10px;
					}

					.product-item-header {
						position: static;
					}

					.product-item__countdown {
						width: 500px;
						top: -244px;
						left: -542px;
						color: #000;
						font-size: 50px;
						line-height: 1.1;
					}
				}
			}

			&.swiper-slide-active {
				opacity: 1 !important;

				> div {
					margin-left: 160px;
					opacity: 1;
				}
			}

			&.swiper-slide-next {
				opacity: 1 !important;

				> div {
					opacity: 1;
				}
			}

			> div {
				position: absolute;
				z-index: 1;
				top: 610px;
				margin-left: 96px;
				opacity: 0;
			}
		}

		.paging-container {
			position: absolute;
			top: 886px;
			left: 0;
			z-index: 10;
			width: 400px;

			.paging-box {
				width: 500px;
				margin: 0;

				.swiper-button-prev,
				.swiper-button-next {
					top: 0;
					height: 20px;
					margin-top: 0;
					padding: 0;
				}
			}
		}
	}

	.swiper-pagination-progressbar-fill {
		background: #373737;
	}
	.paging-box {
		transform: translate(0);
	}
}
.section-wide-banner__bullets {
	.swiper-container-horizontal {
		.swiper-pagination-bullets {
			display: block;
			position: static;
			padding-top: 1rem;
			.swiper-pagination-bullet {
				width: 7px;
				height: 7px;
				margin: 0 5px;
				border-radius: 4px;
				border: 1px solid #999;
				background-color: transparent;
				transition: all 0.3s;
				outline: none;
				opacity: 0.4;
				&:hover,
				&:focus,
				&-active {
					border: 1px solid #333;
					background-color: #333;
				}
				&-active {
					opacity: 1;
				}
			}
		}
	}
}

.timesale-clock {
	display: block;
	position: relative;
	width: 56px;
	height: 56px;
	margin: 0 auto;
	border: 2px solid #fff;
	border-radius: 50%;
	background: url(../images/common/timer_center.png) center no-repeat;
	&__sec,
	&__min,
	&__hour {
		position: absolute;
		width: 10px;
		height: 38px;
		top: 7px;
		left: 21px;
	}

	&__sec {
		background: transparent;
		z-index: 3;
		display: none;
	}

	&__min {
		background: url(../images/common/timer_min.png) center top no-repeat;
		z-index: 2;
	}

	&__hour {
		background: url(../images/common/timer_hour.png) center 7px no-repeat;
		z-index: 1;
		transform: rotate(115deg);
	}
}

.swiper-control-box-wrap {
	display: flex;
	position: relative;
	margin-top: 35px;
	height: 50px;
	justify-content: center;
	align-items: center;
	.swiper-button-prev,
	.swiper-button-next {
		position: static;
		margin: 0;
	}
	.swiper-control-box {
		margin-left: 30px;
	}
}
.paging-box {
	&.paging-box-progress1 {
		position: relative;
		width: 555px;
		height: 60px;
		//margin: 0 auto;
		.swiper-pagination-bullet-wrap {
			padding-top: 11px;
		}

		.swiper-pagination-outer {
			position: relative;
			width: 400px;
			margin: 9px auto 0;
		}

		.swiper-pagination-progressbar {
			width: 400px;
			height: 1px;
			top: 4px;
		}

		.swiper-pagination-progressbar-fill {
			height: 1px;
			background-color: #000;
		}

		.swiper-pagination-number {
			font-weight: 400;

			&-active {
				color: #000;
			}
		}
	}
}

/* 기획전 */
.section-main-exhibition {
	.product-item-image:after {
		display: none;
	}
	.product-item-header {
		.event-name {
			font-size: 1.5rem;
			font-weight: 600;
			line-height: 1.1;
			color: #333;
		}
	}
	.text-event-info {
		&__desc {
			line-height: 1.1;
			color: #333;
			font-size: 1.3rem;
		}
	}
	.event-content {
		margin-bottom: 1.7rem;
	}
}
.contents-item {
	&-text {
		margin-top: 1rem;
		margin-bottom: 1rem;
		background: #fff;
		line-height: 1.1;
		dt {
			display: block;
			color: #333;
			font-size: 1.4rem;
			font-weight: 600;
			margin-bottom: 1rem;
			@include text-ellipsis();
		}
		dd {
			font-size: 1.3rem;
			color: #777;
			line-height: 1.4;
			@include text-ellipsis-2();
		}
	}
}

/* 신상품 */
.section-arrival {
	position: relative;
	padding-top: 75px;
	padding-bottom: 70px;

	&.section-bg {
		background-color: #dfd6d4;
	}

	.swiper-slide {
		width: 100%;
		background-color: #fff;
		a {
			display: block;
		}
		.float-right {
			padding-right: 35px;
		}
	}

	.product-item {
		width: 245px;
		margin: 0 15px;
		padding: 66px 15px 0;

		&-content {
			max-width: 245px;
		}

		&-image--circle {
			width: 245px;
			height: 245px;
		}

		&-cart {
			width: 44px;
			height: 44px;
			margin: 40px auto;

			&:after {
				content: '';
				display: block;
				width: 100%;
				height: 3px;
				margin-top: 10px;
				background-color: #000;
			}
		}
		&-price {
			&__price {
				font-size: 24px;
				&--del {
					margin-top: 2px;
				}
			}
		}
	}

	.paging-box {
		display: inline-block;
		position: relative;
		width: 615px;
		height: 20px;
		margin-top: 35px;
		padding: 0 125px 0 55px;
		.swiper-button-prev {
			position: absolute;
			top: 0;
			left: 0;
			width: 40px;
			height: 20px;
			margin-top: 0;
			font-size: 14px;
			color: #000;
			font-weight: 600;
			&:before {
				display: none;
			}
		}
		.swiper-button-next {
			position: absolute;
			top: 0;
			right: 0;
			width: 40px;
			height: 20px;
			margin-top: 0;
			font-size: 14px;
			color: #000;
			font-weight: 600;
			&:before {
				display: none;
			}
		}
	}
	.swiper-controls-wrap {
		margin-top: -20px;
	}
	.swiper-pagination-outer {
		margin-top: 10px;
	}
	.swiper-pagination-progressbar {
		position: relative;
		width: 100%;
		height: 2px;
		background: #fff;
		.swiper-pagination-progressbar-fill {
			background: #000;
		}
	}
	.swiper-pagination-count {
		display: inline-block;
		position: absolute;
		right: 55px;
		top: 0;
		z-index: 0;
		color: #fff;
		.swiper-pagination-current {
			color: #000;
		}
	}
	.button-main-detail {
		display: inline-block;
		width: 399px;
		bottom: 10px;
	}
}
/* 신상품 */
#new-items {
	position: relative;
	padding-top: 75px;
	padding-bottom: 70px;

	&.section-bg {
		background-color: #dfd6d4;
	}

	.swiper-slide {
		width: 100%;
		background-color: #fff;

		.float-right {
			padding-right: 35px;
		}
	}

	.navigation-box {
		width: 100%;
		max-width: 1550px;
		position: absolute;
		left: 50%;
		top: 50%;
		z-index: 1;
		margin-top: 50px;
		transform: translate(-50%, -50%);

		.swiper-button-next,
		.swiper-button-prev {
			opacity: 0.3;
			transition: opacity 0.5s;
		}

		.swiper-button-next {
			right: 0;
		}

		.swiper-button-prev {
			left: 0;
		}

		.swiper-button-next:hover,
		.swiper-button-prev:hover {
			opacity: 1;
		}

		.swiper-button-next:after,
		.swiper-button-prev:after {
			display: none;
		}
	}

	.product-item {
		width: 245px;
		margin: 0 15px;
		padding: 66px 15px 0;

		&-content {
			max-width: 245px;
		}

		&-image--circle {
			width: 245px;
			height: 245px;
		}

		&-cart {
			width: 44px;
			height: 44px;
			margin: 40px auto;

			&:after {
				content: '';
				display: block;
				width: 100%;
				height: 3px;
				margin-top: 10px;
				background-color: #000;
			}
		}
	}

	.paging-box {
		position: relative;
		width: 660px;
		margin-top: 30px;
		line-height: 20px;

		.swiper-pagination-outer {
			position: relative;
			height: 20px;
			margin: 0 120px 0 55px;
			overflow: hidden;
		}

		.swiper-pagination {
			width: 100%;
			height: 2px;
			top: 10px;
		}

		.swiper-pagination-count {
			position: absolute;
			right: 0;
			top: 0;
		}

		.swiper-button-prev:after,
		.swiper-button-next:after {
			display: none;
		}

		.swiper-button-prev {
			color: #000;
		}

		.swiper-button-next {
			color: #000;
		}
	}

	.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
		background: #373737;
	}
}

.is-xlarge.delete,
.is-xlarge.modal-close,
.is-xlarge.modal-close-this {
	width: 46px;
	height: 46px;
	max-width: 46px;
	max-height: 46px;
	min-width: 46px;
	min-height: 46px;
}
// 공통 thumb-video
.thumb-video {
	display: inline-block;
	position: relative;
	&.__overlay {
		position: absolute;
		left: 0;
		top: 0;
		bottom: 0;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.5);
		font-size: 0;
		.ico-play {
			background: transparent;
		}
		.embed-container {
			height: 100%;
		}
	}
	.delete.is-xlarge {
		position: absolute;
		top: 10px;
		right: 10px;
	}
	.ico-play {
		display: inline-block;
		position: absolute;
		width: 100%;
		height: 100%;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		z-index: 1;
		background: rgba(0, 0, 0, 0.5);
		margin: 0;
		&:before {
			color: #fff;
			display: inline-block;
			position: absolute;
			font-size: 4rem;
			left: 50%;
			top: 50%;
			z-index: 2;
			margin: -2rem 0 0 -2rem;
		}
	}
}

/* MEDIA SHOWROOM */
.section-media {
	.float-left {
		position: relative;
		padding-bottom: 40px;
		> a {
			display: block;
			position: relative;
			height: 780px;
		}
		.button-main-detail {
			display: inline-block;
			bottom: 0;
		}
	}
}
.section-media-2 {
	padding-top: 75px;
	padding-bottom: 120px;

	.fullcover-banner {
		margin-bottom: 80px;

		&-item {
			width: 388px;
			height: 226px;
			padding-top: 50px;
			font-size: 30px;
			font-weight: 400;

			&__text {
				width: 100%;
				margin-top: 50px;
				padding-top: 20px;
				text-align: center;
				border-top: 2px solid #fff;
			}
		}
	}
}

.fullcover-banner {
	position: relative;
	height: 400px;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;
	&__470 {
		height: 470px;
		background-color: #777;
		background-size: inherit;
	}
	&-item {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: 0 auto;
		transform: translate(-50%, -50%);

		&__text {
			color: #fff;
			display: block;
		}

		&__img {
			display: block;

			img {
				max-width: 100%;
			}
		}
	}
}
/* 핫 키워드 */
.hot-keyword-list {
	ul {
		display: flex;
		flex-wrap: wrap;
		justify-content: flex-start;
		margin: 0 auto;
		li {
			margin: 0 0.5rem 0.5rem 0;

			a {
				display: inline-block;
				// height: 40px;
				padding: 0 24px;
				color: #333;
				border-radius: 30px;
				font-size: $size-4;
				border: 1px solid #ccc;
				line-height: 3.5rem;
				background-color: #fff;
				&:focus {
					background: #333;
					color: #fff;
				}
			}
		}
	}
}

/* 뭉쳐야 싸다 : 공동구매 */
.section-main-groupbuy {
	.groupbuy-item-goal {
		&__num {
			margin-bottom: 10px;
		}
		&__day {
			position: absolute;
			right: 0;
			bottom: -34px;
		}
	}
}
.groupbuy {
	overflow: hidden;
	margin: -100px -19px 0;
	font-size: 0;
	.product-item-content {
		&:after {
			content: '';
			clear: both;
			display: block;
		}
	}

	&-item {
		// display: inline-block;
		// width: 350px;
		// //height: 550px;
		// margin: 100px 0 0;
		// padding: 0 15px;

		.product-item-image:after {
			display: none;
		}

		&-goal {
			position: relative;
			// overflow: hidden;
			margin-top: 15px;

			> * {
				display: block;
				color: #000;
				font-weight: 400;
				font-size: $size-5;
			}

			&__bar {
				position: relative;
				width: 100%;
				height: 5px;
				margin: 0;
				background: #000;

				&--g {
					position: absolute;
					top: 0;
					left: 0;
					height: 5px;
					background: #7dc4f1;

					@at-root .--progress-move & {
						animation: aniProgress 2s ease-in-out;
					}
				}
			}

			&__num {
				i {
					font-style: normal;
				}
				&.flex-grow-1 {
					flex-grow: 1;
				}
				&.flex-grow-0 {
					flex-grow: 0;
				}
				em {
					font-style: normal;
					font-weight: 600;
					opacity: 0.5;
				}

				// .icon-thumb {
				// 	display: inline-block;
				// 	margin-right: 7px;
				// 	margin-top: -8px;
				// 	vertical-align: middle;
				// }
			}

			&__day {
				display: inline-block;

				.ico-timesale {
					display: inline-block;
					margin-top: -0.2rem;
					margin-right: 0.1rem;
					line-height: 1;
					font-size: 1rem;
					font-weight: bold;
					color: #000;
					vertical-align: middle;
				}
			}
		}
		&--amount {
			float: right;
			font-size: 16px;
			color: #333;
			> span {
				display: inline-block;
				margin: 0 0 0 5px;
			}
		}
		&--success {
			.groupbuy-item-goal {
				&__bar {
					&--g {
						background: #f12e5c;
					}
				}
				&__num {
					&.flex-grow-0 {
						color: #f12e5c;
					}
				}
			}
		}
	}
	.groupbuy-item--large {
		width: 472px;
		padding: 0 26px;
		.product-item-image {
			width: 420px;
			height: 420px;
		}
	}
}
.item-tag {
	display: block;
	position: absolute;
	z-index: 9;
	&__item {
		overflow: hidden;
		display: flex;
		justify-content: center;
		align-items: center;
		width: 4.4rem;
		height: 4.4rem;
		line-height: 1.1;
		color: #fff;
		font-size: 1.1rem;
		font-weight: 600;
		text-align: center;
		padding: 12px 0;
		&--small {
			font-size: 1.2rem;
		}
		&--black {
			background-color: #222;
		}
		&--red {
			background-color: #f12e5c;
		}
		&--orange {
			background-color: #ff8d39;
		}
		&--blue {
			background-color: #0066ff;
		}
		&--mint {
			background-color: #10cfbb;
		}
		&--brown {
			background-color: #9d8474;
		}
	}
}
.groupbuy-item-large-lists {
	margin: -100px -25px 0;
}
@keyframes aniProgress {
	0% {
		transform: translate(-100%, 0);
	}

	100% {
		transform: translate(0, 0);
	}
}

.best-nav {
	margin: 50px auto;
	text-align: center;
}

.section-fullcover-slide {
	margin: 20px 0 60px;
}

/* 베스트 아이템 */
.section-main-best {
	position: relative;
	z-index: 1;

	.section-block {
		height: 920px;
		margin-top: 64px;
		background: url(../images/bg_bestseller.jpg) center top no-repeat;
	}

	// height: 1000px;
	.product-item--xlarge {
		position: absolute;
		top: 0;
		left: 0;
		.product-item-content {
			max-width: 640px;
		}
	}
	.swiper-container {
		// position: absolute;
		margin: 0 0 0 auto;
		width: 675px;
		height: 1265px;
	}

	.paging-box {
		.swiper-pagination-count {
			right: 58px;
		}

		.swiper-button-prev,
		.swiper-button-next {
			@extend %paging-box-swiper-button;
			&:before {
				display: none;
			}
		}
		.swiper-button-prev {
			left: 0;
		}
		.swiper-button-next {
			right: 0;
		}
	}
	.product-items-box {
		// position: absolute;
		// right: 0;
		// bottom: 0;
		// z-index: 1;
		// width: 675px;

		> ul {
			margin: 107px 0 0;

			> li {
				display: inline-block;
				margin: 60px 0 0;
				vertical-align: top;
				> ul {
					margin: 0 -15px;
					> li {
						display: inline-block;
						margin: 0 15px 40px;
						vertical-align: top;
					}
				}
			}
		}
	}
	.swiper-slide {
		height: auto;
		background-color: transparent;
	}

	.paging-container {
		position: absolute;
		top: 111px;
		left: 248px;
		z-index: 20;
		width: auto;
		height: 20px;

		.paging-box {
			width: 500px;
			margin: 0;
			.swiper-button-prev,
			.swiper-button-next {
				top: 0;
				height: 20px;
				margin-top: 0;
				padding: 0;
			}
		}
	}

	.best-rank {
		display: flex;
		justify-content: center;
		align-items: center;
		position: absolute;
		top: 0;
		left: 0;
		z-index: 10;
		width: 30px;
		height: 30px;
		background-color: #000;
		.best-rank-number {
			display: block;
			color: #fff;
			font-size: 1.5rem;
			font-weight: 600;
		}
	}
}

/* 리바트 꿀팁 */
#main-tip {
	.section-block {
		height: 932px;
		margin-top: 52px;
		background: url(../images/bg_onlylivart.jpg) center top no-repeat;
	}
}
// 와이드 배너
.section-wide-banner,
.section-main-keyvisual {
	.swiper-wrapper {
		min-height: auto;
		height: auto;
	}
	.swiper-slide {
		overflow: hidden;
		background-color: #333;
		font-size: 0;
		a {
			display: flex;
			align-items: center;
			height: 100%;
			vertical-align: top;
		}
		.slide-inner {
			position: absolute;
			width: 100%;
			height: 100%;
			padding: 20px;
			left: 0;
			top: 0;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
		}
		img {
			margin: 0 auto;
		}
		.main-slide {
			&-title-area {
				// width: 1366px;
				margin: 0 auto;
			}
			&-title {
				margin: 5rem 0;
				color: #000;
				font-size: 5.5rem;
				font-weight: 600;
				line-height: 1.3;
				letter-spacing: -0.1rem;
				word-break: keep-all;
				@include mobile-device {
					margin: 6vw 0;
					font-size: 7vw;
					letter-spacing: -0.5vw;
				}
			}
			&-subtitle {
				margin: 3rem 0;
				color: #000;
				font-size: 3.2rem;
				font-weight: 400;
				line-height: 1;
				word-break: keep-all;
				@include mobile-device {
					margin: 4vw 0;
					font-size: 4vw;
				}
				&--small {
					margin-top: 6rem;
					font-size: 2.9rem;
					color: #000;
					line-height: 1;
					@include mobile-device {
						margin-top: 8vw;
						font-size: 3.5vw;
					}
				}
			}
		}
		&.white {
			.main-slide {
				&-title {
					color: #fff;
				}
				&-subtitle {
					color: #fff;
					&--small {
						color: #fff;
					}
				}
			}
		}
	}
	&__01 {
		.swiper-slide {
			.main-slide {
				&-title {
					font-size: 9.6rem;
					line-height: 1.1;
					margin: 4rem 0;
					@include mobile-device {
						font-size: 9.6vw;
						margin: 4vw 0;
					}
				}
				&-subtitle {
					font-size: 3rem;
					margin: 2rem 0;
					@include mobile-device {
						font-size: 3vw;
						margin: 2vw 0;
					}
					&.bold {
						font-weight: 600;
						font-size: 4rem;
						@include mobile-device {
							font-size: 4vw;
						}
					}
				}
			}
		}
	}
	&__02 {
		.swiper-slide {
			text-align: left;
		}
	}
	&__03 {
		.swiper-slide {
			text-align: left;
			.main-slide {
				&-title {
					margin: 2rem 0;
					font-size: 5rem;
					@include mobile-device {
						margin: 3vw 0;
						font-size: 7vw;
					}
				}
				&-subtitle {
					margin: 1rem 0 2rem;
					@include mobile-device {
						margin: 1vw 0 2vw;
					}
					&--small {
						margin-top: 4rem;
						@include mobile-device {
							margin-top: 5vw;
						}
					}
				}
			}
		}
	}
	&__big01 {
		.swiper-slide {
			text-align: center;
			.main-slide {
				&-title {
					margin: 2rem 0;
					@include mobile-device {
						margin: 3vw 0;
					}
				}
				&-subtitle {
					margin: 1rem 0 2rem;
					@include mobile-device {
						margin: 1vw 0 2vw;
					}
					&--small {
						margin-top: 4rem;
						@include mobile-device {
							margin-top: 5vw;
						}
					}
				}
			}
		}
	}
	&__big02 {
		.swiper-slide {
			text-align: left;
			.main-slide {
				&-title {
					margin: 2rem 0;
					font-size: 4.8rem;
					@include mobile-device {
						margin: 3vw 0;
						font-size: 6.8vw;
					}
				}
				&-subtitle {
					margin: 1rem 0 2rem;
					@include mobile-device {
						margin: 1vw 0 2vw;
					}
				}
			}
		}
	}
}
.section-fullcover-slide {
	.swiper-control-box-wrap {
		margin-top: 10px;
	}
}

/* keyVisual */
.section-main-keyvisual {
	position: relative;
	padding-bottom: 0;
	// .swiper-wrapper {
	// 	height: 799px; // ldy 0428
	// }
	// .swiper-wrapper {
	// 	height: 550px;
	// }
	// .swiper-button-plus {
	// 	position: absolute;
	// 	bottom: 2px;
	// 	right: 0px;
	// 	width: 40px;
	// 	height: 40px;
	// 	font-size: 0;
	// 	z-index: 1;
	// 	.ico-plus {
	// 		font-size: 1.6rem;
	// 		font-weight: bold;
	// 		color: #000;
	// 	}

	// 	&:hover,
	// 	&:focus {
	// 		border: 1px solid #eee;
	// 	}
	// }
	.swiper-slide {
		.main-slide {
			&-title-area {
				text-align: center;
			}
			&-title {
				margin-top: 11rem;
				text-align: center;
				@include mobile-device {
					margin-top: 11vw;
				}
			}
			&-subtitle {
				text-align: center;
			}
		}
	}
	.swiper-control-wrapper {
		// position: absolute;
		// right: 290px;
		// left: auto;
		// top: auto;
		// bottom: 20px;
		// z-index: 1;
		.navigation-box {
			position: relative;
			width: 443px;
			/* margin-top: 350px; */
			overflow: hidden;
		}

		.paging-box {
			display: flex;
			position: absolute;
			z-index: 1;
			align-items: center;
			justify-content: flex-end;
			padding-left: 10px;
		}

		.container .text {
			position: absolute;
			top: 77px;
			left: 50%;
			transform: translate(0, 0);
			visibility: hidden;
			opacity: 0;
			transition: all 0.5s;
			z-index: 1;

			&.on {
				transform: translate(-50%, 0);
				visibility: visible;
				opacity: 1;
				transition: all 1s;
			}
		}

		.swiper-button-pause {
			// width: 2.5rem;
			// height: 2.5rem;
			// margin-top: -0.1rem;
			// margin-left: 0;
			// border: none;
			// background-color: transparent;
			// flex-shrink: 0;
			// cursor: pointer;
			// i {
			// 	color: #000;
			// 	font-size: 1.6rem;
			// }
			// &:hover,
			// &:focus {
			// 	border: none;
			// }
		}
	}

	.swiper-pagination-outer {
		width: 200px;
		float: right;
		position: relative;
		margin-top: 0px;
		margin-right: 20px;

		.swiper-pagination {
			background: transparent;
			height: 3px;
			bottom: 0;
		}

		&:after {
			content: '';
			width: 100%;
			height: 1px;
			position: absolute;
			bottom: 0;
			background-color: rgba(125, 125, 125, 0.8);
		}
	}

	.swiper-pagination-count {
		position: absolute;
		top: 0;
		left: 0;
		width: auto;
		margin-top: -22px;
		// margin-right: 30px;
		font-weight: 300;
		font-size: 1.3rem;
		color: #000;
		vertical-align: middle;
		text-align: right;
	}

	.swiper-pagination-current,
	.swiper-pagination-total {
		// font-size: 1.8rem;
		// display: inline-block;
		// vertical-align: middle;
		// margin: 0 0.5em;
	}

	.swiper-pagination-current {
		font-weight: 600;
	}

	.swiper-pagination-progressbar {
		// width: 100%;
		// height: 6px;

		/* margin-right: 53px; */
		/* background: #000; */
		&-fill {
			background: rgba(0, 0, 0, 0.6);
		}
	}

	.button-container {
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 1;
		width: 444px;
		height: 150px;

		.btn {
			display: block;
			position: absolute;
			right: 0;
			top: 0;
			padding: 0 100%;
			height: 150px;
			margin-right: 100%;
			background: #000 url(../images/common/btn_visual_detail.jpg) right
				center no-repeat;
			visibility: hidden;
			opacity: 0;
			transition: all 0.5s;

			&.on {
				margin-right: 0;
				visibility: visible;
				opacity: 1;
			}
		}
	}
}
/* keyVisual */

/* 삼성keyVisual */
.tab-swiper-container {
	width: 100%;
	max-width: 89rem;
	margin: 0 auto;
	background-color: #272324;
	h3 {
		padding: 2rem 0 0 0;
		text-align: center;
	}
	.swiper-wrapper {
		position: relative;
		left: 0.9rem;
		padding: 0 0 1rem 0;
	}
	.swiper-slide {
		&_lnk {
			&__cate {
				display: flex;
				justify-content: center;
				align-items: center;
				overflow: hidden;
				width: 6.7rem;
				height: 6.7rem;
				margin: 0 auto;
				background-color: #fff;
				border-radius: 50%;
				opacity: 0.8;
				transition: opacity 0.5s;
				@include mobile-device {
					width: 18vw;
					height: 18vw;
				}
				img {
					height: auto;
					padding: 1.2rem;
				}
			}
			&__name {
				display: block;
				padding: 0.5rem 0 1.5rem 0;
				text-align: center;
				color: #fff;
				span {
					display: block;
					font-size: 1.2rem;
					font-weight: normal;
				}
			}
		}
		&:focus,
		&-active {
			.swiper-slide_lnk__cate {
				opacity: 1;
			}
		}
	}
	.swiper-button-next {
		right: 0;
		top: 180px;
		z-index: 99;
		padding: 10px;
		color: #fff;
	}
	.swiper-button-prev {
		left: 0;
		top: 180px;
		z-index: 99;
		padding: 10px;
		color: #fff;
	}
}
/* 삼성keyVisual */

// 관련 상품
.related-item {
	a {
		display: table;
		table-layout: fixed;
		width: 100%;
	}

	&-image {
		display: table-cell;
		width: 90px;
		vertical-align: top;

		img {
			width: 90px;
			height: 90px;
		}
	}

	&-header {
		&__brand {
			display: block;
			margin-bottom: 8px;
			color: #787878;
			font-size: 14px;
			font-weight: 400;
			line-height: 1.1;
		}

		&__name {
			display: block;
			margin-bottom: 7px;
			color: #1a1a1a;
			font-size: 16px;
			line-height: 1.1;
		}
	}

	&-content {
		display: table-cell;
		padding-top: 8px;
		padding-left: 30px;
		vertical-align: middle;
	}

	&-price {
		display: block;
		color: #787878;

		&__price {
			font-size: 16px;
		}

		.unit {
			font-size: 13px;
		}
	}
}

// 메인 쿠폰 배너
.main-coupon {
	font-size: 0;
	margin-top: 0;
	// margin: 0 -1px;

	&-item {
		display: inline-block;
		// margin: 0 1px;

		img {
			max-width: 100%;
		}
	}
}

/* notice */

.latest-title {
	&-wrap {
		position: relative;
		height: 73px;
		// margin-right: 16px;
		padding: 0 35px;
		line-height: 73px;
		border-top: 2px solid #000;
		border-bottom: 1px solid #000;
		color: #000;
		font-size: 25px;
	}

	&-more {
		position: absolute;
		top: 14px;
		right: 18px;
		padding: 10px;
	}
}

.latest-list {
	margin-top: 30px;

	&__title {
		display: block;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	&__date {
		position: absolute;
		right: 0;
		top: 0;
	}

	&.dot-list {
		> li {
			color: #000;
			margin-bottom: 1.5em;
			line-height: 1.1;

			&:before {
				content: '-';
			}

			a {
				display: block;
				position: relative;
				padding-right: 81px;
				color: #000;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

.main-notice {
	position: relative;
	z-index: 1;
	margin-bottom: 60px;
	.float-left {
		width: 50%;
		padding-right: 16px;

		// .latest-list {
		// 	margin-left: 35px;
		// 	margin-right: 45px;
		// }
	}
	.latest-list {
		margin-left: 35px;
		margin-right: 29px;
	}

	.float-right {
		width: 50%;
		padding-left: 16px;
		// .latest-title {
		// 	&-wrap {
		// 		font-size: 28px;
		// 		margin-left: 16px;
		// 		border-bottom: none;
		// 	}
		// }
	}

	.section-contents-item__search--not {
		margin: 35px 0;
		padding-top: 0;
		.icon-wrap {
			margin-bottom: 30px;
		}
	}

	.cust-content {
		color: #000;
		margin-left: 16px;
		padding: 0 35px;
		&__strong {
			font-size: 50px;
			font-weight: 700;
		}
		&__desc {
			font-size: 14px;
			margin-bottom: 30px;

			strong {
				font-weight: 700;
			}
		}
		&__button {
			display: block;
			width: 150px;
			height: 40px;
			margin-bottom: 10px;
			padding: 0;
			color: #000;
			border: 1px solid #000;
			line-height: 40px;
			font-size: 15px;
			text-align: center;

			&:hover {
				background-color: #f1f1f1;
			}
		}
	}
}
.btn-detail-view {
	display: block;
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 950px;
	height: 60px;
	line-height: 60px;
	background: #000;
	text-align: center;
	color: #fff;
	transform: translate(-50%, 0);
}

.btn-detail-bar {
	display: block;
	position: fixed;
	z-index: 3;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 60px;
	background: url(../images/common/bg_detail_bar.jpg) center top no-repeat;
}

#tabDetail {
	position: absolute;
	top: 733px;
	left: 50%;
	width: 1366px;
	height: 60px;
	transform: translate(-50%, 0);
	background: #fff;
}

.tab-detail {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	display: table;

	li {
		display: table-cell;
		align-items: center;
		justify-content: center;
		text-align: center;
		border: 1px solid #cacaca;
		border-left: 0 none;
		width: 25%;

		a {
			display: block;
			color: #cacaca;
			height: 60px;
			line-height: 58px;
			font-size: 20px;
		}

		&.active {
			border-color: transparent;

			a {
				background: #000;
				color: #fff;
			}
		}
	}
}

@keyframes page {
	0% {
		right: 0;
		visibility: hidden;
		opacity: 0;
	}

	100% {
		right: 165px;
		visibility: visible;
		opacity: 1;
	}
}
.modal-card__banner {
	background-color: transparent;
	width: 100%;
	height: 100vh;
	padding: 0;
	.modal-card-head {
		padding: 0;
		height: auto;
		border: none;
		background-color: transparent;
		justify-content: flex-end;
		.modal-card-title {
			color: #fff;
			text-align: center;
		}
		.delete {
			width: 50px;
			height: 50px;
			max-width: 50px;
			max-height: 50px;
			min-width: 50px;
			min-height: 50px;
			&::before,
			&::after {
				background-color: #fff;
			}
		}
	}
	.modal-card-body {
		overflow-x: hidden;
		width: 100%;
		max-width: 720px;
		height: 525px;
		background: transparent;
		margin: 0 auto;
		padding: 0;
		&__list {
			li {
				display: block;
				height: auto;
				margin-top: 10px;
				a {
					position: relative;
					display: flex;
					width: 100%;
					height: 100%;
					color: #000;
					&.white {
						color: #fff;
					}
					.main-slide-title-area {
						position: absolute;
						display: flex;
						align-items: center;
						width: 100%;
						height: 55%;
						text-align: center;
						.main-slide-wrap {
							width: 100%;
							padding: 20px;
							.main-slide-title {
								margin: 4rem 0;
								font-size: 9.6rem;
								font-weight: 600;
								line-height: 1.1;
								letter-spacing: -0.1rem;
								word-break: keep-all;
								@include mobile-device {
									font-size: 9.6vw;
									margin: 4vw 0;
								}
							}
							.main-slide-subtitle {
								margin: 2rem 0;
								font-size: 3rem;
								font-weight: 400;
								line-height: 1;
								word-break: keep-all;
								@include mobile-device {
									margin: 2vw 0;
									font-size: 3vw;
								}
								&.bold {
									font-weight: 600;
									font-size: 4rem;
									@include mobile-device {
										font-size: 4vw;
									}
								}
							}
						}
					}
				}
				img {
					max-width: 100%;
				}
			}
		}
	}

	.swiper-main-nav-style .paging-box {
		position: relative;
		left: auto;
		z-index: 5;
		margin-top: 30px;
		width: 350px;
		transform: none;
		.swiper-button-prev,
		.swiper-button-next {
			top: 50%;
			margin-top: -20px;
			color: #fff;
			&::before {
				display: none;
			}
		}
		.swiper-pagination-progressbar {
			background-color: #888;
			&-fill {
				background-color: #fff;
			}
		}
		.swiper-pagination {
			&-count,
			&-total {
				color: #888;
			}
			&-current {
				font-weight: 400;
				color: #fff;
			}
		}
		.swiper-pagination-outer {
			margin-right: 70px;
			margin-left: 0;
		}
	}
	.swiper-container {
		width: 100%;
		height: 400px;
		padding-bottom: 50px;
		margin-left: auto;
		margin-right: auto;
	}
	.swiper-slide {
		text-align: center;
		font-size: 0;
		background: transparent;
		height: calc((100% - 30px) / 2);
		/* Center slide text vertically */
		display: -webkit-box;
		display: -ms-flexbox;
		display: -webkit-flex;
		display: flex;
		-webkit-box-pack: center;
		-ms-flex-pack: center;
		-webkit-justify-content: center;
		justify-content: center;
		-webkit-box-align: center;
		-ms-flex-align: center;
		-webkit-align-items: center;
		align-items: center;
		img {
			max-width: 100%;
			width: 100%;
		}
	}
}

.section-dynamic-banner {
	position: relative;
	height: 830px;
	padding-top: 60px;

	&:before {
		content: '';
		display: block;
		position: absolute;
		background-color: #f9f9f9;
		top: 0;
		left: 50%;
		margin-left: -960px;
		width: 1920px;
		height: 830px;
	}
	.swiper {
		&-slide {
			width: 760px;
			height: 615px;
			text-align: center;
			&-active {
				background-color: #fff;
				box-shadow: 0 15px 30px rgba(0, 0, 0, 0.1);
				.swiper-title,
				.swiper-desc {
					color: #333;
				}
			}
			a {
				display: block;
			}
		}
		&-img {
			display: block;
			width: 100%;
			height: 460px;
			overflow: hidden;
			img {
				width: auto;
				max-width: initial;
				height: 100%;
			}
		}
		&-title {
			display: block;
			padding: 30px 30px 10px;
			font-size: 30px;
			color: #999;
		}
		&-desc {
			display: block;
			padding: 0 30px 30px;
			font-size: 20px;
			color: #999;
		}
	}
}

.product-item-medium-lists {
	margin: -60px -14px 40px;
	font-size: 0;

	+ .pitem-qna-pagination {
		margin-bottom: 0;
	}

	.product-item--medium {
		display: inline-block;
		margin: 60px 14.2px 0;
		vertical-align: top;

		> .product-item {
			margin: 0;
		}
	}

	.best-rank {
		display: block;
		color: #333;
		font-size: 20px;
		font-weight: 700;
		line-height: 1.2;
		margin-bottom: 5px;

		&:before {
			content: '';
			display: block;
			width: 25px;
			height: 3px;
			background-color: #333;
		}
	}

	+ .button-more {
		margin-top: 90px;
	}
}

// 이미지 카테고리
.category-module-list {
	display: flex;
	flex-flow: wrap;
	align-items: center;
	&__item {
		flex: 0 0 25%;
		margin: 1rem auto;
		// width: 90px;
		// margin-right: 60px;

		a {
			display: block;

			img {
				display: block;
				margin: 0 auto;
				text-align: center;
			}

			.name {
				display: block;
				margin-top: 1rem;
				color: #333;
				font-size: 1.3rem;
				line-height: 1.1;
				text-align: center;
			}
		}
	}
	&__img {
		display: flex;
		overflow: hidden;
		width: 7.5rem;
		height: 7.5rem;
		margin: 0 auto;
		border-radius: 7.5rem;
		background-color: #f1f1f1;
		align-items: center;
		justify-content: center;
		img {
			width: 70%;
			max-width: 100%;
			height: auto;
		}
	}
}
/* 오픈하우스 */
.section-open-house {
	position: relative;
	padding-top: 1rem;
	// padding-bottom: 1rem;
	.grid-item-lists {
		margin-top: 2.5rem;
		// .product-item-image:after {
		// 	display: none;
		// }
	}
	.button-more {
		margin-top: 2rem;
	}

	.hash-tag {
		&-lists {
			display: block;
			padding: 0 0.5rem;
			&:after {
				content: '';
				clear: both;
				display: block;
			}
		}
		&__name {
			display: block;
			float: left;
			padding: 0.2rem;
			margin: 0.3rem 0.5rem;
			line-height: 1.1;
			font-size: 1.4rem;
			color: #777;
			&:first-child {
				margin: 0.3rem 0.5rem;
			}
			&.is-active,
			&:focus {
				font-weight: 600;
				color: #333;
			}
		}
	}
}

/* 고수의 집들이 */
.section-house-gosu {
	position: relative;
	.grid-item-lists {
		margin-top: 35px;
	}
	.hash-tag {
		&-lists {
			justify-content: flex-start;
			flex-wrap: wrap;
			margin: -0.5rem;
		}
		&__name {
			margin: 0.5rem;
		}
	}
	.comm-list-openhouse {
		.product-item {
			margin-bottom: 0rem;
			&-header {
				&__name {
					min-height: inherit;
					line-height: 1.1;
					font-weight: 600;
					@include text-ellipsis;
				}
			}
			&-heart {
				i {
					width: 16px !important;
					height: 16px !important;
					font-size: 1.6rem;
					color: #777;
					background-image: none !important;
				}
				&__num {
					font-size: 1.2rem;
				}
			}
			&-content {
				border: none;
			}
			&-body {
				.product-review-stats-area {
					padding-top: 0;
					margin-top: 1rem;
					border-top: none;
				}
			}
		}
	}
}
.icon-category {
	&-lists {
		display: block;
		margin: 0 auto 1.5rem;
		padding-bottom: 0rem;
		border-bottom: 1px solid #eee;
		&:after {
			content: '';
			clear: both;
			display: block;
		}
		ul {
			li {
				display: inline-block;
				margin: 0;
				text-align: center;
				&:first-child {
					margin-left: 0;
				}
			}
		}
		a {
			display: block;
			min-width: 5.5rem;
			text-align: center;
			line-height: 1;
			font-size: 1.3rem;
			color: #777;
			i {
				color: #999;
				display: flex;
				width: 4rem;
				height: 4rem;
				margin: 0 auto 1rem;
				border: 1px solid #ddd;
				border-radius: 50%;
				background: #fff;
				font-size: 2rem;
				align-items: center;
				justify-content: center;
				transition: all 0.3s #{$transition};
			}
			&:focus,
			&.is-active {
				color: #333;
				i {
					color: #fff;
					background: #333;
					border: 1px solid #333;
				}
			}
		}
		.box-block-item {
			&.is-active {
				border: none;
				background-color: transparent;
				.box-block-item__btn {
					color: #333;
					border: none;
					background-color: transparent;
					i {
						color: #fff;
						border-color: #333;
						background-color: #333;
					}
				}
			}
			&:nth-child(1).is-active {
				border: none;
				background-color: transparent;
				.box-block-item__btn {
					color: #f22e5c;
					border: none;
					background-color: transparent;
					i {
						color: #fff;
						border-color: #f22e5c;
						background-color: #f22e5c;
					}
				}
			}
			&__btn {
				// height: 4rem;
				height: 6.3rem;
				padding: 0;
				border: none;
			}
			&-lists {
				padding-bottom: 2rem;
			}
		}
	}
	&-all {
		&:after {
			background-position: -567px -52px;
		}
	}
	&-bedroom {
		&:after {
			background-position: -567px -152px;
		}
	}
	&-dressroom {
		&:after {
			background-position: -567px -358px;
		}
	}
	&-livingroom {
		&:after {
			background-position: -357px -525px;
		}
	}
	&-library {
		&:after {
			background-position: -254px -525px;
		}
	}
	&-children {
		&:after {
			background-position: -567px -252px;
		}
	}
	&-kitchen {
		&:after {
			background-position: -153px -525px;
		}
	}
	&-electronics {
		&:after {
			background-position: -567px -459px;
		}
	}
	&-interior {
		&:after {
			background-position: -50px -525px;
		}
	}
}
.hash-tag {
	&-lists {
		display: block;
		margin: -0.3rem -0.5rem;
		// justify-content: center;
		&:after {
			content: '';
			clear: both;
			display: block;
		}
		&.text-left {
			justify-content: flex-start;
			margin-bottom: 20px;
			span {
				display: inline-block;
				font-size: 14px;
			}
		}
		&.text-center {
			text-align: center;
			font-size: 0;
			.hash-tag__name {
				display: inline-block;
				float: none;
			}
		}
	}
	&__name {
		display: block;
		float: left;
		margin: 0.3rem 0.5rem;
		padding: 0;
		line-height: 1.1;
		font-size: 1.4rem;
		color: #777;
		&.is-active,
		&:focus {
			font-weight: 600;
			color: #333;
		}
	}
}

.product-item {
	&-image {
		&.thumb-video {
			&::after {
				content: '';
				display: inline-block;
				position: absolute;
				width: 20px;
				height: 20px;
				padding: 0;
				right: 14px;
				bottom: 14px;
				z-index: 2;
				font-family: 'iconset' !important;
				speak: never;
				color: #fff;
				font-size: 2.5rem;
				font-style: normal;
				font-weight: normal;
				font-variant: normal;
				text-transform: none;
				line-height: 1;
				-webkit-font-smoothing: antialiased;
				-moz-osx-font-smoothing: grayscale;
				// transform: translate(-50%, -50%);
				@include sprite-width($icon-media_play);
				@include sprite-height($icon-media_play);
				@include sprite-image($icon-media_play);
				@include sprite-position($icon-media_play);
			}
			&::before {
				content: '';
				display: block;
				position: absolute;
				left: 0;
				top: 0;
				z-index: 1;
				width: 100%;
				height: 100%;
				// background: rgba(0, 0, 0, 0.6);
			}
		}
	}
}
.grid-item-lists {
	margin-left: -5px;
	margin-right: -5px;
	font-size: 0;
	.contents-item,
	.product-item {
		display: inline-block;
		vertical-align: top;
		// float: left;
		background: #fff;
		margin-left: 5px;
		margin-right: 5px;
		margin-bottom: 22px;
		// &:nth-child(2n + 1) {
		// 	margin-left: 0;
		// }
		.twetwe-item {
			width: 100%;
			height: auto;
			border: 0;
		}
	}

	&__320 {
		.contents-item,
		.product-item {
			width: 320px;
			// margin-left: 30px;
		}
	}
	&__420 {
		.contents-item,
		.product-item {
			width: 420px;
			// margin-left: 53px;
		}
	}
	.hash-tag {
		&-lists {
			justify-content: flex-start;
			flex-wrap: wrap;
			margin: -0.4rem -0.25rem 0.5rem;
		}
		&__name {
			color: #4c6da8;
			font-size: 1.1rem;
			margin: 0.4rem 0.25rem;
		}
	}
	.product-item {
		&-content {
			// padding: 30px 20px 20px 20px;
			background: #f9f9f9;
		}
		&-header {
			margin-top: 0;
		}
		&-body {
			margin-bottom: 0;
			.product-review-stats-area {
				padding-top: 20px;
				border-top: 1px solid #eee;
				&:after {
					content: '';
					clear: both;
					display: block;
				}
			}
			&__writer {
				height: auto;
				margin-top: 0;
				line-height: 1.7em;
				word-break: break-all;
				font-size: 1.2rem;
			}
		}
	}
}
/* masonry */
.masonry-grid {
	&-item {
		width: 32%;
		@include mobile-640 {
			width: 48.5%;
		}
		@include mobile-330 {
			width: 100%;
		}
		&.loading {
			overflow: hidden;
			opacity: 0;
			height: 0 !important;
		}
	}
	.twentytwenty-container {
		min-height: 100%;
		img {
			width: 100%;
		}
	}
	.product-item {
		display: block;
		&-image {
			display: block;
		}
	}
	.hash-tag-lists {
		padding: 0 7px 10px;
	}
	.hash-tag__name {
		display: inline-block;
		margin: 3px;
		padding: 0;
		font-size: 1.2rem;
		&:first-child {
			margin: 3px;
		}
	}
	&:after {
		content: '';
		display: block;
		clear: both;
	}
	.product-item {
		&-header {
			padding: 10px;
			margin: 0;
			&__name {
				height: 3.2rem;
				line-height: 1.3;
			}
		}
		&-image {
			position: relative;
			&:after {
				padding: 0;
			}
		}
		&-content {
			background: #fff;
			border: 1px solid #eee;
			border-top: none;
		}
		&-body {
			.product-review-stats-area {
				display: flex;
				align-items: stretch;
				flex-flow: wrap;
				// justify-content: space-between;
				padding: 0.5rem 1rem;
				border: none;
				// background-color: #fcfcfc;
				.fl {
					padding-bottom: 5px;
				}
				.fr {
					width: 100%;
					height: auto;
					display: flex;
					align-items: center;
					padding-top: 5px;
					border-top: 1px solid #eee;
					.product-item-comm-wrap {
						display: inline-block;
					}
				}
				&::after {
					content: none;
				}
			}
			.product-item-heart-wrap {
				display: inline-block;
				.product-item-heart {
					height: 1.6rem;
					i {
						width: 14px;
						height: 14px;
						font-size: 1.4rem;
						background: transparent;
						color: #ea3c43;
					}
					&.is-active {
						.ico-like::before {
							content: '\e967';
						}
					}
					&__num {
						color: #777;
					}
				}
			}
		}
	}
}

/* 매거진 */
.section-magazine {
	.comm-list-openhouse__margin {
		.product-item {
			// margin-bottom: 0;
			&-header__name {
				min-height: 5rem;
				padding: 1rem 0 0;
				margin-bottom: 1.5rem;
			}
		}
	}
}
.section-contents-product__lists {
	margin: 38px 0 0;

	.product-item-large-lists {
		margin-bottom: 60px;
	}

	&.bottom-margin {
		.product-item-medium-lists {
			margin: 0 -14px -60px;

			> li {
				margin: 0 14.2px 60px;
			}
		}
	}
}

/* 우리동네 리뷰 */
.section-our-town {
	.comm-list-openhouse {
		.product-item__50 {
			margin-bottom: 1rem;
			.product-item {
				&-header__name {
					font-weight: 600;
				}
				&-body {
					.product-review-stats-area {
						padding-top: 1rem;
						border-top: 1px solid #eee;
					}
				}
			}
		}
	}
}

// 혜택

/* instagram */
.section-instagram {
	.button-more {
		margin-top: 40px;
	}
}

/* VR TOUR */
.section-main-vrtour {
	background: #101d3d;
	.section-title__more {
		.section-title {
			color: #fff;
		}
		&::after {
			color: #fff;
		}
	}
	.hashtag {
		display: block;
		margin-top: 1rem;
		font-size: 1.4rem;
		line-height: 1.3;
		color: #fff;
		@include text-ellipsis();
	}
}

/* VR SHOWROOM */
.section-branch {
	text-align: center;
	.section-title {
		&-wrap {
			.button-find-store {
				position: absolute;
				right: 0;
				top: 0;
				z-index: 0;
			}
		}
	}
	.swiper-container {
		&:before,
		&:after {
			content: '';
			display: inline-block;
			position: absolute;
			top: 0;
			z-index: 10;
			width: 1000px;
			height: 100%;
			background: rgba(0, 0, 0, 0.6);
		}
		&:before {
			left: 50%;
			margin-left: -1683px;
		}
		&:after {
			right: 50%;
			margin-right: -1683px;
		}
	}
	.swiper-wrapper {
		left: 50%;
		margin-left: -683px;
	}
	.swiper-slide {
		position: relative;
		width: 1366px;
		height: 650px;
		a {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
		}
	}
	.branch {
		&-image {
			height: 100%;
		}
		&-contents {
			position: absolute;
			&__tag {
				display: inline-block;
				padding: 8px 40px;
				border: 2px solid #fff;
				border-radius: 5px;
				background: transparent;
				font-size: 20px;
				color: #fff;
			}
			&__name {
				margin-top: 40px;
				font-size: 60px;
				color: #fff;
				line-height: 1;
			}
			&__description {
				margin-top: 35px;
				font-size: 20px;
				color: #fff;
			}
		}
	}
}

/* 공간 솔루션 */
// .solution {
// 	.fr {
// 		width: 500px;
// 	}
// 	&-title {
// 		font-size: 120px;
// 		color: #000;
// 		line-height: 1;
// 		&-wrap {
// 			margin-top: 65px;
// 			margin-bottom: 90px;
// 		}
// 		&__small {
// 			margin-bottom: 50px;
// 			font-size: 32px;
// 			color: #333;
// 			font-weight: 400;
// 			line-height: 1;
// 			strong {
// 				position: relative;
// 				font-weight: 600;
// 				&:before {
// 					content: '';
// 					display: inline-block;
// 					position: absolute;
// 					left: 0;
// 					top: -20px;
// 					z-index: 0;
// 					width: 100%;
// 					height: 2px;
// 					background: #333;
// 				}
// 			}
// 		}
// 	}
// 	&-option-menu {
// 		dl {
// 			margin-top: 15px;
// 			&:first-child {
// 				margin-top: 0;
// 			}
// 			dt {
// 				font-size: 18px;
// 				color: #000;
// 				line-height: 1;
// 			}
// 			dd {
// 				margin-top: 13px;
// 				&:after {
// 					content: '';
// 					clear: both;
// 					display: block;
// 				}
// 			}
// 		}
// 		.button {
// 			float: left;
// 			margin: 0 10px 10px 0;
// 			background: transparent;
// 		}
// 	}
// }

// 오버랩 되는 메인 module 유형
.product-item--large {
	&.is-overlap {
		.product-item-content {
			position: relative;
			overflow: hidden;
			z-index: 1;
			margin: -60px 0 0 15px;
			padding: 0 15px;
			background-color: #fff;
		}
	}
}

.main-exhibition {
	&-banner {
		position: relative;
		margin-bottom: 15px;
		font-size: 0;
		img {
			width: 100%;
			height: auto;
		}
		.main-exhibition-title-area {
			position: absolute;
			width: 100%;
			height: 100%;
			padding: 20px;
			left: 0;
			top: 0;
		}
	}
	&-title-area {
		margin: 0 auto;
		&.white {
			.main-exhibition {
				&-title {
					color: #fff;
				}
				&-title2 {
					color: #fff;
				}
				&-subtitle {
					color: #fff;
				}
				&-desc {
					color: #fff;
				}
			}
		}
	}
	&-title {
		margin: 3rem 0;
		color: #000;
		font-size: 7.8rem;
		font-weight: 600;
		line-height: 1;
		letter-spacing: -0.1rem;
		@include mobile-device {
			margin: 3vw 0;
			font-size: 10vw;
			letter-spacing: -0.3vw;
		}
	}
	&-title2 {
		margin: 1.5rem 0;
		color: #000;
		font-size: 4.1rem;
		font-weight: 600;
		line-height: 1;
		letter-spacing: -0.1rem;
		@include mobile-device {
			margin: 1vw 0;
			font-size: 5.5vw;
			letter-spacing: -0.3vw;
		}
	}
	&-subtitle {
		margin: 5rem 0 3rem;
		color: #000;
		font-size: 3.2rem;
		font-weight: 400;
		line-height: 1;
		@include mobile-device {
			margin: 8vw 0 2vw;
			font-size: 4vw;
		}
	}
	&-desc {
		margin-top: 6rem;
		font-size: 3.8rem;
		color: #000;
		line-height: 1.3;
		@include mobile-device {
			margin-top: 8vw;
			font-size: 5vw;
		}
	}
	&-overlap-inner {
		position: relative;
		overflow: hidden;
		z-index: 1;
		margin: -15rem 0 0 1.5rem;
		padding: 15px;
		background-color: #fff;
		@include mobile-device {
			margin-top: -20vw;
		}
	}
}

.section-main-exhibition2 {
	.product-item-header {
		margin: 0.5rem 0 0.2rem;
	}
	.product-item-image:after {
		padding-bottom: 0;
	}
	.event-name {
		display: block;
		font-size: 1.2rem;
		letter-spacing: -0.1rem;
		color: #333;
	}
	.text-event-info__desc {
		display: block;
		font-size: 1.2rem;
		letter-spacing: -0.1rem;
		color: #777;
	}
	.product-item {
		flex: 0 0 33.33%;
		padding: 0 7.5px;
	}
	.swiper-container {
		margin: 0 -7.5px !important;
		.paging-box {
			margin: 1.5rem 7.5px 0;
		}
	}
	.swiper-slide {
		width: 33.33%;
	}
	.swiper-container-initialized .swiper-slide {
		width: 100%;
	}
}
.section-main-exhibition3 {
	.main-exhibition {
		&-banner {
			margin-bottom: 15px;
			.main-exhibition-title-area {
				height: auto;
				margin-bottom: 5vw;
				left: 0;
				top: inherit;
				bottom: 0;
			}
		}
	}
	.product-item--small-list li:not(:first-child) {
		margin-top: 10px;
		padding-top: 10px;
		border-top: 1px solid #eee;
	}
}

.section-main-exhibition4 {
	position: relative;
	&:after {
		content: '';
		display: block;
		position: absolute;
		background-color: #f4f1f1;
		width: 100%;
		top: 4.4rem;
		left: 0;
		right: 0;
		bottom: 3rem;
	}
	.main-exhibition {
		&-banner {
			margin-top: 5rem;
		}
		&-overlap-inner {
			overflow: visible;
			background-color: #f4f1f1;
			margin: -25rem 3rem 3rem 0;
			padding: 2rem 2rem 6rem 0;
			@include mobile-device {
				margin-top: -30vw;
			}
			> .is-flex {
				margin: 0 -5px;
				> li {
					padding: 5px;
					width: 50%;
				}
			}
		}
	}
	.swiper-main-control {
		top: 5.3rem;
		.swiper-button-prev,
		.swiper-button-next {
			background-color: #333;
		}
	}
	.product-item--medium {
		background-color: #fff;
		.product-item-content {
			padding: 0 10px 5px;
		}
	}

	.button-main-detail {
		margin-bottom: -3rem;
	}
}

.section-main-media {
	position: relative;
	.main-exhibition {
		&-overlap-inner {
			overflow: visible;
			margin: -48rem 0 0 5rem;
			padding: 0;
			background-color: transparent;
			@include mobile-device {
				margin-top: -60vw;
			}
			@include mobile-640 {
				margin-top: -65vw;
			}
			@include mobile-480 {
				margin-top: -71vw;
			}
		}
	}
	.product-item--medium {
		background-color: #fff;
		.product-item-content {
			padding: 0 10px 5px;
		}
	}
	.paging-box {
		position: absolute;
		top: -5rem;
		left: 0;
		z-index: 5;
	}
	.thumb-video {
		&.__overlay {
			background-color: transparent;
			.embed-container {
				height: auto;
			}
		}
		.delete.is-xlarge {
			top: 0;
			right: 0;
		}
	}
}
.button-media-thumb {
	display: flex;
	width: 8.5rem;
	height: 6rem;
	background: rgba(0, 0, 0, 0.8);
	position: absolute;
	left: 50%;
	top: 50%;
	z-index: 2;
	margin-top: -30rem;
	transform: translate(-50%, -50%);
	align-items: center;
	justify-content: center;
	border-radius: 1.5rem;
	@include mobile-device {
		margin-top: -40vw;
	}
	.ico-play {
		position: static;
		width: auto;
		height: auto;
		margin: 0 auto;
		&:before {
			position: static;
			margin: 0;
			color: #fff;
			font-weight: 400;
			font-size: 3rem;
		}
	}
}

// 특화배너

.section-banner {
	&-spzl {
		font-size: 0;
		.slide-inner {
			display: flex;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			width: 100%;
			height: 100%;
			padding: 20px;
			background-position: center;
			background-repeat: no-repeat;
			background-size: cover;
			align-items: center;
			justify-content: center;
		}
		.main-slide {
			&-title-area {
				margin: 0 auto;
				text-align: center;
			}
		}
		.white {
			.main-slide {
				&-title {
					color: #fff;
				}
				&-subtitle {
					color: #fff;
					&--small {
						color: #fff;
					}
				}
			}
		}
		// 메인특화배너MO1-입주박람회
		&__1 {
			.main-slide {
				&-title {
					color: #000;
					font-size: 4.4rem;
					font-weight: 600;
					line-height: 1.2;
					letter-spacing: -0.1rem;
					@include mobile-device {
						font-size: 5.5vw;
						letter-spacing: -0.3vw;
					}
					&:after {
						display: block;
						content: '';
						width: 3rem;
						height: 1px;
						margin: 3rem auto;
						border-bottom: 1px solid #000;
						@include mobile-device {
							margin: 4vw auto;
						}
					}
				}
				&-subtitle {
					color: #000;
					font-size: 2.9rem;
					font-weight: 400;
					line-height: 1;
					@include mobile-device {
						margin: 1vw 0;
						font-size: 3.5vw;
					}
					&--small {
						margin-top: 2rem;
						font-size: 2.9rem;
						color: #000;
						line-height: 1;
						@include mobile-device {
							margin-top: 2vw;
							font-size: 3.5vw;
						}
					}
				}
			}
			.white {
				.main-slide {
					&-title {
						&:after {
							border-bottom: 1px solid #fff;
						}
					}
				}
			}
		}
		// 메인특화배너MO2-매장안내
		&__2 {
			.section-title {
				flex: 1 1 85%;
				letter-spacing: -0.25rem;
				&-wrap {
					display: flex;
				}
				&__more {
					display: flex;
					color: #777;
					font-size: 1.2rem;
					flex: 0 0 6rem;
					align-items: center;
					justify-content: flex-end;
					&:after {
						width: 1rem;
						height: auto;
						font-size: 1rem;
						color: #777;
						margin-left: 0.2rem;
					}
				}
			}
			.main-slide {
				&-title {
					color: #000;
					font-size: 4.4rem;
					font-weight: 600;
					line-height: 1.2;
					letter-spacing: -0.1rem;
					@include mobile-device {
						font-size: 5.5vw;
						letter-spacing: -0.3vw;
					}
				}
				&-subtitle {
					display: inline-block;
					margin: 16rem 0 3rem;
					padding: 1.6rem;
					border: 1px solid #000;
					color: #000;
					font-size: 2.9rem;
					font-weight: 400;
					line-height: 1;
					@include mobile-device {
						padding: 2vw;
						margin: 16vw 0 4vw;
						font-size: 3.5vw;
					}
					&--small {
						margin-top: 12rem;
						font-size: 3rem;
						color: #000;
						line-height: 1.5;
						@include mobile-device {
							margin-top: 16vw;
							font-size: 4vw;
						}
					}
				}
			}
			.white {
				.main-slide {
					&-subtitle {
						border-color: #fff;
					}
				}
			}
		}

		// 메인특화배너MO4-시공사례
		&__3 {
			.main-slide {
				&-title {
					color: #000;
					font-size: 4.4rem;
					font-weight: 600;
					line-height: 1.2;
					letter-spacing: -0.1rem;
					@include mobile-device {
						font-size: 5.5vw;
						letter-spacing: -0.3vw;
					}
				}
				&-subtitle {
					display: inline-block;
					margin: 4rem 0 0;
					color: #000;
					max-width: 60rem;
					font-size: 2.9rem;
					font-weight: 400;
					line-height: 1.5;
					@include mobile-device {
						margin: 5vw 0 0;
						font-size: 3.5vw;
						max-width: 73vw;
					}
				}
			}
		}
		&-thumbs {
			height: 3rem;
			.swiper-slide {
				border: 1px solid #333;
				padding: 1rem;
				font-size: 1.4rem;
			}
		}
	}
}

// 바로가기 모듈
.main-shortcut {
	&-list {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}
	&-item {
		a {
			display: block;
			// padding: 2rem 0 1.5rem;
			padding: 0;
		}
		position: relative;
		width: 25%;
		text-align: center;
		padding: 0;
		i {
			display: flex;
			height: 3rem;
			margin: 0 auto 0.5rem;
			align-items: center;
			justify-content: center;
			img {
				display: inline-block;
				max-width: 100%;
				height: auto;
				transform: scale(0.5);
				transform-origin: center center;
			}
		}
		&__title {
			font-size: 1.3rem;
			color: #333;
		}
		&:first-child {
			&:before {
				display: none;
			}
		}
		&:before {
			position: absolute;
			left: 0;
			top: 50%;
			margin-top: -1rem;
			content: '';
			display: inline-block;
			height: 2rem;
			width: 1px;
			vertical-align: middle;
			background-color: #eee;
		}
	}
}

// 혜택안내 모듈
.section-main-benefits {
	max-width: 890px;
	.section-title {
		font-size: 2.5rem;
	}
}
.main-benefits {
	&-list {
		overflow-x: auto;
		white-space: nowrap;
		font-size: 0;
	}
	&-item {
		display: inline-block;
		position: relative;
		overflow: hidden;
		width: 12rem;
		height: 12rem;
		margin-left: 10px;
		// padding: 1rem;
		border-radius: 12px;
		background-color: #f1f1f1;
		vertical-align: top;
	}
}

/* 공간 솔루션 */
.section-solution {
	// position: relative;
	.swiper-controls--black {
		margin-top: -151px;
	}
	.swiper-wrapper {
		display: flex;
		justify-content: space-between;
		.swiper-slide {
			width: auto;
		}
	}
}
.solution {
	.container {
		position: relative;
	}
	&-img {
		&-wrap {
			display: block;
			position: relative;
			overflow: hidden;
			width: 100%;
			max-width: 747px;
			height: 66rem;
			margin: 10rem auto 0;
			background: url(../images/common/solution_bg.png) 0 0 no-repeat;
			background-size: 100% auto;
			@include mobile-device {
				height: 85vw;
			}
		}
		&-bg {
			width: 100%;
			margin: 0 auto;
			visibility: hidden;
			opacity: 0;
			position: absolute;
			left: 0;
			top: 0;
			z-index: 1;
			transition: opacity 1s #{$transition};
			img {
				display: block;
				width: 768px;
				margin: 0 auto;
			}
			&.is-active {
				visibility: visible;
				opacity: 1;
			}
		}
	}
	&-svg {
		position: absolute;
		width: 100%;
		height: auto;
		top: 0;
		left: 0;
		z-index: 5;
		.svg-link-item {
			opacity: 0;
		}
	}
	&-tooltip {
		position: absolute;
		top: -82px;
		left: 50%;
		margin-left: -113px;
		z-index: 2;
		background: url('../images/common/solution_tooltip.png') 50% 0 no-repeat;
		background-size: 100% auto;
		width: 22rem;
		height: 8.5rem;
		color: #fff;
		font-size: 1.6rem;
		letter-spacing: -0.05em;
		padding: 2.2rem 0 0 0;
		text-align: center;
		line-height: 1.1;
		transition: all 0.5s #{$transition};
	}
	&-option {
		&-item {
			> div {
				display: none;
				&.is-active {
					display: block;
				}
			}
		}
		&-brand {
			> div {
				display: none;
				&.is-active {
					display: block;
				}
			}
		}
	}
	&-option-menu {
		dl {
			margin-top: 86px;
			&:first-child {
				margin-top: 0;
			}
			dt {
				font-size: 18px;
				color: #000;
				line-height: 1;
			}
			dd {
				margin-top: 13px;
				&:after {
					content: '';
					clear: both;
					display: block;
				}
			}
		}
		.button {
			float: left;
			min-width: 110px;
			margin: 0 10px 10px 0;
			padding-left: 15px;
			padding-right: 15px;
			background: transparent;
		}
	}
}
.solution-option {
	.solution-option-item {
		> div {
			display: none;
			&.is-active {
				display: block;
			}
		}
	}
	.solution-option-brand {
		> div {
			display: none;
			&.is-active {
				display: block;
			}
		}
	}
}

.section-vr-showroom {
	margin-top: 20px;
}
.vr-showroom {
	&-list {
		position: relative;
		margin-bottom: 20px;
	}
	&-item {
		position: relative;
		overflow: hidden;
		margin-top: 15px;
		border: 1px solid #ccc;
		a {
			display: flex;
			min-height: 90px;
			align-items: center;
			.pic {
				display: block;
				position: relative;
				overflow: hidden;
				width: 40%;
				min-height: 100px;
				max-width: 250px;
				padding: 0;
				flex: 0 0 40%;
				img {
					position: absolute;
					top: 50%;
					left: 50%;
					width: auto;
					max-width: inherit;
					height: 100%;
					transform: translate(-50%, -50%);
				}
			}
		}
		dl {
			flex: 1 1 auto;
			width: 100%;
			dt {
				margin-bottom: 1rem;
				padding: 1rem 1rem 0;
				font-size: 1.5rem;
				line-height: 1.3;
				letter-spacing: -0.1rem;
				font-weight: 600;
				text-align: center;
				color: #333;
				@include word-wrap;
			}
			dd {
				margin-bottom: 1rem;
				font-size: 1.3rem;
				font-weight: 300;
				text-align: center;
				letter-spacing: -0.1rem;
				color: #767676;
				@include word-wrap;
				.ico-cross {
					font-size: 12px;
					color: #999;
					margin: 0 4px;
				}
			}
		}
	}
}

.section-live {
	margin-top: 20px;
}
.live {
	&-list {
		position: relative;
		margin-bottom: 20px;
	}
	&-item {
		position: relative;
		overflow: hidden;
		margin-top: 15px;
		border: 1px solid #ccc;
		a {
			display: flex;
			min-height: 90px;
			align-items: center;
			.pic {
				display: block;
				// position: relative;
				overflow: hidden;
				width: 45%;
				// min-height: 100px;
				// max-width: 250px;
				padding: 0;
				flex: 0 0 45%;
				img {
					display: block;
					width: 100%;
				}
			}
		}
		dl {
			flex: 1 1 auto;
			width: 100%;
			dt {
				margin-bottom: 1rem;
				padding: 1rem 1rem 0;
				font-size: 1.5rem;
				line-height: 1.3;
				letter-spacing: -0.1rem;
				font-weight: 600;
				text-align: center;
				color: #333;
				@include word-wrap;
			}
			dd {
				margin-bottom: 1rem;
				font-size: 1.3rem;
				font-weight: 300;
				text-align: center;
				letter-spacing: -0.1rem;
				color: #767676;
				@include word-wrap;
				.ico-cross {
					font-size: 12px;
					color: #999;
					margin: 0 4px;
				}
			}
		}
	}
}

.section-main-brand {
	.section-title--small {
		font-size: 1.4rem;
		padding-bottom: 0.5em;
	}
	.section {
		.container {
			text-align: center;
			max-width: 600px;
			margin: 0 auto;
		}
	}
	ul {
		display: flex;
		// max-width: 600px;
		margin-left: -5px;
		margin-right: -5px;
		flex-wrap: wrap;
	}
	a {
		display: block;
	}
	&__text {
		display: block;
		padding: 10px 10px 0;
		border: 1px solid #ccc;
		border-top: none;
	}
	&__item {
		display: block;
		// width: 50%;
		margin: 0 5px 10px;
		text-align: center;
		font-size: 0;
		flex: 1 0 calc(50% - 10px);
		&-img {
			display: block;
			margin: 0 auto;
		}
		&-text {
			display: flex;
			padding-bottom: 10px;
			border-bottom: 1px solid #eee;
			font-size: 1.25rem;
			letter-spacing: -1.5px;
			font-weight: 400;
			min-height: 60px;
			line-height: 1.6;
			color: #333;
			align-items: center;
			justify-content: center;
			@include word-wrap;
		}
		&-brand {
			display: flex;
			height: 36px;
			align-items: center;
			margin: 0 auto;
			img {
				width: 100%;
				margin: 0 auto;
			}
			&.__brand-1 {
				width: 106px;
			}
			&.__brand-2 {
				width: 112px;
			}
			&.__brand-3 {
				width: 85px;
			}
			&.__brand-4 {
				width: 59px;
			}
		}
	}
}
