#lstore-timesale {
	.item-icon-tag {
		top: -50px;
		left: 0;
	}
	.lstore-timesale-best {
		position: absolute;
		z-index: 0;
	}
	.paging-box {
		.swiper-pagination-count {
			right: 58px;
		}

		.swiper-button-prev,
		.swiper-button-next {
			@extend %paging-box-swiper-button;
			&:before {
				display: none;
			}
		}
		.swiper-button-prev {
			left: 0;
		}
		.swiper-button-next {
			right: 0;
		}
	}
	&.contents-bargain {
		padding: 0;
		.swiper-container {
			width: 1020px;
			margin: 86px 0 0 346px;
			padding-top: 75px;
			height: 1210px;
		}
		.product-item--xxlarge {
			align-items: center;
			flex-wrap: wrap;

			.product-item-content {
				max-width: 420px;
			}
		}
		.product-item--medium {
			.product-item-content {
				max-width: 320px;
			}
		}
		.product-item__countdown {
			display: block;
			position: absolute;
			top: 0;
			right: 0;
			width: 150px;
			text-align: right;
			line-height: 30px;
			font-size: $size-1;
			font-weight: 600;
			color: #333;
		}
		.swiper-slide {
			// position: initial;
			z-index: -1;
			height: 1px;
			min-height: 1px;
			padding: 0;
			&.swiper-slide-prev {
				> div {
					visibility: hidden;
					opacity: 0;
				}
			}
			&.swiper-slide-best {
				> div {
					display: block;
					top: 0;
					bottom: initial;
					z-index: 1;
					width: 1254px !important;
					height: 980px;
					margin-left: 0;
					opacity: 1;
					.item-discount-box {
						width: 100px;
						height: 100px;
						.discount {
							font-size: 26px;
						}
					}
					.product-item-content {
						position: absolute;
						width: 420px;
						top: 165px;
						left: initial;
						right: 10px;
					}
					.product-item-header {
						position: static;
					}
					.product-item__countdown {
						width: 500px;
						top: -244px;
						left: -542px;
						color: #000;
						font-size: 50px;
						line-height: 1.1;
					}
				}
			}
			&.swiper-slide-active {
				opacity: 1 !important;
				> div {
					// margin-left: 160px;
					opacity: 1;
				}
			}
			&.swiper-slide-next {
				opacity: 1 !important;
				> div {
					opacity: 1;
				}
			}
			> div {
				position: absolute;
				z-index: 1;
				top: 610px;
				// margin-left: 96px;
				// opacity: 0;
			}
		}

		.paging-container {
			position: absolute;
			top: 910px;
			left: 49px;
			z-index: 10;
			width: 400px;

			.paging-box {
				width: 500px;
				margin: 0;
				.swiper-button-prev,
				.swiper-button-next {
					top: 0;
					height: 20px;
					margin-top: 0;
					padding: 0;
				}
			}
		}
	}

	.swiper-pagination-progressbar-fill {
		background: #373737;
	}
}
