$transition: 'cubic-bezier(0.17, 0.04, 0.03, 0.94)';

@mixin text-ellipsis {
	display: block;
	word-wrap: normal;
	word-break: break-all;
	text-overflow: ellipsis;
	white-space: nowrap;
	overflow: hidden;
}

@mixin text-ellipsis-2 {
	display: -webkit-box;
	overflow: hidden;
	word-break: break-all;
	word-wrap: break-word;
	text-overflow: ellipsis;
	-webkit-line-clamp: 2;
	-webkit-box-orient: vertical;
}

// 모바일-반응형(로그인-회원가입) 템플릿 레이아웃
body.body-responsive {
	min-width: 320px;
}

.header-responsive {
	display: block;
	margin: 0 auto;
	padding: 5.5rem 0 2rem;

	&-logo {
		width: 13rem;
		height: auto;
		margin: 0 auto;

		a {
			display: block;
			font-size: 0;
		}

		img {
			max-width: 100%;
		}
	}
}

.section-responsive {
	padding: 2rem;

	&-inner {
		width: 80%;
		margin: 0 auto;
		color: #777;
		font-size: $size-normal;

		@include mobile {
			width: 90%;
		}
	}

	&-link {
		@include link;
		// color: #777;
		// margin-bottom: 2rem;
		font-size: $size-normal;
		// text-decoration: underline;
		// &:hover {
		// 	text-decoration: none;
		// }
	}

	&-loginform {
		text-align: center;

		&__desc {
			max-width: 29rem;
			margin: 3rem auto 2rem;
			word-break: keep-all;
			word-wrap: break-word;

			&--full {
				max-width: initial;
			}
		}

		.field {
			margin-bottom: 1rem;
		}

		.button {
			i {
				margin-right: 1rem;
			}
			.ico-apple {
				font-size: 2.1rem;
				color: #888;
			}
		}
	}

	&-loginmenu {
		margin: 1rem auto 3rem;
		font-size: 0;
		text-align: right;

		li {
			display: inline-block;

			&::before {
				display: inline-block;
				margin: 0 1rem;
				content: '|';
				color: #eee;
				vertical-align: top;
				font-size: 1.2rem;
				line-height: 1.6;
			}

			&:first-child::before {
				display: none;
			}

			a {
				color: #777;
				font-size: $size-normal;

				&:hover,
				&:active {
					text-decoration: underline;
				}
			}
		}
	}

	.container {
		width: auto;
		max-width: 780px;
	}

	&-title {
		margin: 0 0 3rem;
		border-bottom: 1px solid #333;
		color: #333;
		font-size: $size-medium;
		font-weight: 600;
		line-height: 2.2;

		&-fixed {
			border-bottom: none;
			margin-bottom: 0;
		}
	}

	.tabs.is-fullwidth {
		margin-left: -1rem;
		margin-right: -1rem;
		li {
			width: 33.33%;
		}
	}

	.tabs.is-boxed.is-fullwidth {
		margin: 3rem 0 1rem;
	}

	&-text {
		&__info {
			font-size: $size-normal;
			color: #777;
			word-break: keep-all;

			&.is-center {
				max-width: 50rem;
				margin: 0 auto;
				text-align: center;
			}
		}
	}

	&-footer {
		margin-top: 3rem;
		padding-top: 2.5rem;
		border-top: 1px solid #eee;
		font-size: $size-6;
		word-break: keep-all;
		word-wrap: break-word;

		&__link {
			@include link;
			margin-bottom: 2rem;
			font-size: $size-normal;
		}

		&__desc {
			margin: 0 auto;
			max-width: 32rem;

			&--full {
				max-width: initial;
			}
		}

		ul {
			padding: 0 0.7rem;

			li {
				font-size: 14px;
				color: #777;
			}
		}
	}

	&-mbr {
		&__logo {
			&--hpoint {
				padding-top: 3rem;
				border-top: 1px solid #eee;

				img {
					width: 150px;
					height: auto;
					margin: 0 auto;

					@include tablet {
						width: 220px;
					}
				}
			}
		}
	}

	&-logos {
		margin: 4rem 0 1rem;
		font-size: 0;

		&-wrap {
			margin-top: 4.5rem;
			padding-top: 2rem;
			border-top: 1px solid #eee;
			color: #777;
			font-size: $size-normal;
		}

		&__item {
			display: inline-block;
			overflow: hidden;
			width: 20%;
			vertical-align: middle;
			text-align: center;

			@include mobile-640 {
				width: 25%;
			}

			@include mobile-480 {
				width: 33.33%;
			}

			@include mobile-360 {
				width: 50%;
			}

			span {
				display: inline-flex;
				width: 10rem;
				height: 10rem;
				margin-bottom: 2rem;
				border-radius: 100%;
				border: 1px solid #eee;
				background-color: #fff;
				align-items: center;
				justify-content: center;
			}

			img {
				width: 80%;
			}
		}
	}

	&-agree {
		&-title {
			font-size: 1.5rem;
			color: #333;
		}

		.agree-info {
			padding: 2rem 0;
			border-top: 1px solid #eee;
			border-bottom: 1px solid #333;
			word-break: keep-all;
			color: #777;
		}
	}
}

.section-responsive-title--fixed {
	margin-bottom: 0;
	border-bottom: 0;
}

.relative-item {
	position: relative;

	.absolute-right {
		position: absolute;
		right: 0;
		bottom: 0;
	}
}

.ci-desc {
	margin-bottom: 0.7rem;
	color: #777;

	i {
		display: inline-block;
		vertical-align: sub;
		margin-right: 0.5rem;
	}
}

.pass-change {
	&__info {
		margin-top: $size-2;
		font-size: $size-5;
		font-weight: $weight-normal;
		color: #777;
		text-align: center;
		word-break: keep-all;
	}

	&__controlinfo {
		padding: 0 1.2rem;
		font-size: 1.4rem;
		font-weight: $weight-normal;
		color: #777;
		text-align: left;
		word-break: keep-all;
	}

	.title {
		font-weight: $weight-normal;
		text-align: center;
	}

	.msg-box {
		margin-top: $size-2;
	}

	.buttons {
		margin-top: $size-1;
	}
}

.msg-box {
	&-item {
		display: flex;
		justify-content: center;

		&__title {
			font-size: $size-5;
			font-weight: $weight-normal;
			color: #333;
		}

		&__number {
			font-weight: 600;
			font-size: $size-3;
			color: #333;

			&:before {
				display: inline-block;
				content: '|';
				margin-left: $size-7;
				margin-right: $size-7;
				font-size: $size-3;
				color: #d7e7f7;
			}
		}
	}

	&-gray {
		background-color: #f9f9f9;

		.msg-box-title {
			color: #333;
			font-weight: 400;
		}
	}
}

.table-box {
	margin-top: $size-1;
	border-top: 1px solid #777;
	border-bottom: 1px solid #eee;

	//evwnt.scss 가져옴
	&-default {
		.table {
			thead {
				th {
					padding: 1.2em;
					background-color: #f9f9f9;
				}
			}
			tbody {
				td {
					padding: 1.2em;
					text-align: center;
				}
			}
		}
	}

	tbody {
		th {
			padding: 0.9em 0.75em;
			background-color: #f9f9f9;
			font-size: 14px;
			font-weight: $weight-normal;
			color: #333;
			vertical-align: middle;

			&.td-color {
				color: #777;
			}
		}

		td {
			padding: 0.9em 1.8em;
			font-size: 14px;
			font-weight: $weight-normal;
			color: #777;
			vertical-align: middle;
			//word-break: keep-all;
			word-break: break-all;

			ul {
				list-style: none;
				margin: 0;
				padding: 0;

				li {
					margin: 0;
					padding: 0;
					word-break: keep-all;
				}
			}
		}

		.bold {
			font-weight: 600;
			color: #333;
		}
	}

	&--fixed {
		thead {
			tr {
				th {
					position: relative;
					padding: 0.9em 1.8em;
					border-width: 0 0 1px;
					font-weight: 600;

					&:first-child {
						background: #f9f9f9;
					}

					&::after {
						position: absolute;
						top: 1.7rem;
						right: 0;
						height: 1.2rem;
						border-right: 1px solid #eee;
						content: '';
					}

					&:first-child::after,
					&:last-child::after {
						display: none;
					}
				}
			}
		}

		tbody {
			tr {
				td {
					padding: 0.9em 0.8em;
				}
			}
		}
	}
}
.table-list-container {
	border-top: none;
	border-bottom: none;
	.table {
		th,
		td {
			border-top: 1px solid #eee;
		}
		tbody tr:last-child th,
		tbody tr:last-child td {
			border-bottom: 1px solid #eee;
		}
	}
}
.button-group {
	&.is-halfwidth {
		.control {
			width: calc(50% - 0.375rem);

			.button {
				width: 100%;
			}
		}
	}
}

.required {
	&:before {
		display: inline-block;
		content: '*';
		margin-right: 0.5rem;
		color: #ff2c2c;
	}
}

.select-mail-wrap {
	.is-flex {
		align-items: center;

		.control {
			width: 50%;

			&.input-direct {
				display: none;
			}
		}

		.select {
			width: 50%;

			select {
				width: 100%;
			}
		}

		span {
			margin: 0 0.25rem;
		}
	}
}

.horizontal-align {
	display: flex;
	width: 100%;

	.control {
		width: 100%;
	}

	.select {
		width: 100%;

		select {
			width: 100%;
		}
	}

	button {
		width: 100%;
	}

	.select-item {
		width: 100%;
	}

	&.items--2 {
		.select-item {
			width: calc(50% - 0.25rem);
		}

		&.is-centered {
			justify-content: space-between;
		}

		&:not(.is-centered) {
			.select-item {
				margin-right: 0.5rem;
			}
		}
	}

	&.items--3 {
		margin: 0;

		.select-item {
			width: calc(33.3% - 0.25rem);
		}

		&.is-centered {
			justify-content: space-between;
		}

		&:not(.is-centered) {
			.select-item {
				margin-right: 0.5rem;
			}
		}
	}
}

.age-wrap {
	display: none;
}

.marriage-date-wrap {
	display: none;
}

.select-field {
	&-wrap {
		margin-top: 5rem;

		&__desc {
			margin-left: 0.5rem;
			font-style: normal;
			font-size: 1.4rem;
			font-weight: 400;
			color: #999;

			&.is-block {
				margin: 1rem 0 2rem 0;
				line-height: 1.6;
			}
		}

		.check-info__text {
			margin: 1rem 0 3rem;
			padding: 1.3rem;
			color: #777;
			background-color: #f9f9f9;
		}
	}

	&-list {
		> li {
			margin-top: 1rem;
			border-top: 1px solid #eee;

			&:first-child {
				border-top: none;
			}

			.check-items-title {
				margin-top: 2rem;
				font-size: $size-5;
				font-weight: 600;
				color: #333;
			}

			.check-items-wrap {
				display: flex;
				flex-wrap: wrap;
				margin-top: $size-2;

				.space-between {
					justify-content: space-between;
				}

				.field {
					width: 33.333%;
					margin-bottom: 1rem;

					@include mobile-420 {
						width: 50%;
					}

					@include tablet {
						width: 20%;
					}
				}
			}
		}
	}
}

.select-button {
	display: inline-block;
	width: 2rem;
	height: 2rem;
	position: relative;

	&:after {
		border: 2px solid #262626;
		border-radius: 2px;
		border-right: 0;
		border-top: 0;
		content: ' ';
		display: block;
		height: 0.825em;
		margin-top: -0.5375em;
		pointer-events: none;
		position: absolute;
		top: 50%;
		transform: rotate(-45deg);
		transform-origin: center;
		width: 0.825em;
	}
}

.checked-list-wrap {
	padding: 2.5rem 0 0;
	border-top: 1px solid #333;
	border-bottom: 1px solid #eee;

	&.is-inner {
		border-top: none;

		li {
			padding: 0;

			&.first-list {
				.field {
					// margin-bottom: 0;
					&.on {
						margin-bottom: 2rem;
					}
				}
			}

			.checked-list-wrap__sub {
				margin-bottom: 1.5rem;
			}
		}
	}

	li {
		margin: 2rem 0 2rem;

		&:first-child {
			margin-top: 0;
		}

		.field {
			margin-bottom: 0;
		}

		.checked-list-wrap__sub {
			//margin-top: $size-4;
			//padding-left: $size-1;
			//display: none;

			.field {
				margin-bottom: 1rem;
			}

			button {
				height: 23px;
				padding: 0;
				font-weight: 400;
				line-height: 0;
			}

			&-fixed {
				display: block;
				padding-left: 0;
			}
		}
	}
}

.check-all-status {
	margin: 2.5rem 0 3rem;
}

.member-input {
	&__cnts {
		margin-top: $size-1;

		&--zip {
			.control {
				margin-bottom: 1rem;
			}

			+ .input-wrap {
				.control {
					&:first-child {
						margin-bottom: 1rem;
					}
				}
			}
		}
	}

	&__button {
		margin-top: 1rem;
		margin-bottom: 3rem;
	}
}

.reset-button {
	margin: 0 auto;
	text-align: center;

	i {
		display: inline-block;
		margin-top: -2px;
		font-size: 13px;
		vertical-align: middle;
	}
}

.has-addons--fixed {
	position: relative;

	.limit-count {
		position: absolute;
		z-index: 10;
		top: 1.5rem;
		right: 1.5rem;
		cursor: default;
	}

	.button {
		width: 110px;
		padding-left: 5px;
		padding-right: 5px;
		background-color: #dddddd;
		color: #777;
	}
}

.is-grouped--fixed {
	display: flex;

	p {
		flex-grow: 1;

		a {
			width: 98%;
		}
	}
}

.agree-wrap {
	padding: 1.5rem 0 1rem;
	font-size: 1.4rem;
	word-break: keep-all;
	word-wrap: break-word;

	.agree-tit {
		margin-bottom: 2rem;
		font-weight: 400;
		font-size: 1.4rem;
		color: #777;
	}

	ol {
		li {
			list-style: none;
		}
	}

	p.agree-txt,
	.agree-txt {
		margin: 0 0 4rem 0;

		li {
			margin: 0 0 1.5rem 0;

			ol {
				margin-left: 0.6rem;

				li {
					margin-bottom: 0;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		&:last-child {
			p.agree-txt,
			.agree-txt {
				margin-bottom: 0;
			}
		}
	}
}

.complete-confirm {
	padding: 2rem 0;
	border-top: 1px solid #333;
	border-bottom: 1px solid #eee;
	line-height: 2.2rem;
	font-size: $size-normal;

	&-title {
		padding: 1rem 0;
		width: 11rem;
		color: #333;
	}

	&-text {
		margin: -3.2rem 0 0 11rem;
		color: #999;
		word-break: keep-all;
		word-wrap: break-word;
	}

	&--fixed {
		padding: 1rem;
		font-size: 1.4rem;
	}
}

.collapse-header {
	position: relative;
	padding-right: 2rem;

	&-icon {
		color: #333;
		position: absolute;
		top: 0;
		right: 0;
		margin-top: -0.2rem;
		padding: 0.4rem 0 0.4rem 0.5rem;
	}
}

.has-button-fixed {
	position: relative;
	display: flex;

	.control.is-expanded {
		flex-grow: 1;
		margin-right: 4px;
	}

	.buttons {
		width: 104px;
		flex-grow: 0;
	}
}

.modal-postcode {
	.modal-content {
		overflow: hidden;
		height: 520px;
	}
}

.help-wrap {
	&-txt {
		color: #777;
		margin-top: 0.1rem;
	}
}

.help-member {
	font-size: 15px;
	line-height: 1.34;
	margin-left: 26px;
	margin-top: 1rem;
}
.agreement-checkbox--sub {
	margin-left: 20px;
}
