.ellipsis {
	text-overflow: ellipsis;
	white-space: nowrap;
	word-wrap: normal;
	overflow: hidden;
}

.no-data-info {
	padding: 100px 0;
	color: #777;
	font-size: $size-5;
	text-align: center;

	&.is-top-liner {
		border-top: 1px solid #eee;
	}

	&.is-liner {
		margin-bottom: 60px;
		border-bottom: 1px solid #eee;
	}
}

.section-contents {
	&-mypage {
		&.is-interval {
			margin-bottom: 80px;
		}

		&__title {
			color: #333;
			font-weight: 400;
			// &--wrap {
			// 	padding-bottom: 40px;
			// 	border-bottom: 1px solid #333;
			// }
		}

		&__point {
			margin-top: -41px;

			&--info {
				margin: 60px 0 30px;
				color: #333;
				font-size: $size-5;
				text-align: center;
			}
		}

		&__coupon {
			&--wrap {
				padding: 10px;
				background-color: #f9f9f9;
			}
		}

		&.section-item-contents__coupon--tabs {
			margin-top: 40px;

			.pitem-table-dropdown-wrap {
				&.tab1 {
					margin-top: 30px;
					text-align: right;

					> span {
						vertical-align: bottom;
					}

					.dropdown-wrap {
						display: inline-block;
					}
				}

				&.tab2 {
					margin-top: 59px;
				}

				.dropdown-trigger {
					.button {
						min-width: 190px;
					}
				}
			}
		}

		&__question {
			&--list {
				// padding-top: 50px;

				.column {
					margin-bottom: 0;
					padding: 0;
				}
			}

			&--item {
				margin-top: -41px;
			}
		}

		&.mypage-user-level {
			padding-bottom: 60px;

			.section-item-contents__userinfo--rating {
				padding: 37px 40px 38px;
			}

			.section-item-contents__userinfo--info {
				width: 455px;
				padding-left: 40px;
			}

			.section-item-contents__userinfo--info {
				.level-info {
					display: block;
					margin-top: 5px;
					color: #777;
					font-size: $size-6;

					.date {
						color: #333;
					}
				}

				.level-info2 {
					margin-top: 25px;
					color: #777;
					font-size: $size-6;
					word-break: keep-all;

					span {
						display: block;

						em {
							font-style: normal;
						}
					}
				}
			}

			.section-item-contents__userinfo--rightline {
				dl {
					display: flex;
					justify-content: left;
					align-items: center;
					padding-left: 60px;

					dt {
						width: 105px;
						color: #777;
						font-size: $size-5;
					}

					dd {
						color: #333;
						font-size: $size-5;

						em {
							color: #333;
							font-size: $size-5;
							font-style: normal;
						}
					}
				}
			}

			.section-item-contents__level {
				padding-bottom: 0;

				.table {
					margin-top: 0;
				}
			}

			.dl-table-style {
				&.coupon-table {
					width: 100%;
					max-width: 1086px;
					margin: 60px auto 0;

					.dl-table-style__dd {
						li {
							line-height: 1.5;
						}
					}
				}
			}
		}

		.pitem-table-container {
			margin-top: 10px;

			.title {
				color: #373737;
				font-size: $size-5;
			}

			.dot-list {
				li {
					color: #777;
					font-size: $size-6;
				}
			}
		}

		.button-area {
			.button {
				min-width: 150px;
			}
		}
	}
}

a.section-contents-item__name {
	&:hover,
	&:focus {
		color: #333;
		text-decoration: underline;
	}
}

.section-item-contents__coupon--tabs {
	margin-top: 60px;

	.pitem-table-dropdown-wrap {
		&.tab1 {
			margin-top: 40px;
			text-align: right;

			> span {
				vertical-align: bottom;
			}

			.dropdown-wrap {
				display: inline-block;
			}
		}

		&.tab2 {
			margin-top: 40px;
		}

		.dropdown-trigger {
			.button {
				min-width: 190px;
			}
		}
	}
}

.pitem-table-container {
	margin-top: 10px;

	&.inner-contents {
		margin-top: 10px;
	}

	&.no-item-top {
		margin-top: -41px;
	}

	.table {
		border-bottom: 1px solid #eee;

		.is-link {
			color: #888;
			font-size: $size-5;

			i {
				display: inline-block;
				margin-right: 5px;
				vertical-align: text-top;
			}
		}

		.contents-items__wrap {
			display: flex;
			justify-content: left;
			align-items: flex-start;
			text-align: left;

			.img {
				width: 96px;
				height: auto;
				margin-right: 10px;
			}

			.item-detail {
				.product-review-list-div {
					border-top: none;
					border-bottom: 1px solid #eee;
				}

				.section-contents-item__name--event {
					color: #888;
				}

				.section-contents-item__name--text {
					color: #888;

					&.review-item {
						width: 474px;
					}
				}

				.section-contents-item__options {
					.section-contents-item__options--titwrap {
						width: 474px;
						max-width: 100%;

						.section-contents-item__options--title {
							width: 474px;
						}

						.section-contents-item__options--subwrap {
							.section-contents-item__options--sub {
								width: 474px;
							}
						}
					}
				}
			}
		}
	}
}

.date-order-number-wrap {
	.date {
		color: #333;
		font-size: $size-6;
	}

	.order-number {
		color: #333;
		font-size: $size-6;
	}
}

.section-contents-events__dateselect {
	&.is-non-margin {
		.date-select-wrap {
			margin-top: 0;
			background-color: #fff;
		}
	}
}

.item-detail {
	+ .product-review-list-div {
		border-top: none;
		border-bottom: 1px solid #eee;
	}
}

.manager-text {
	display: block;
	// margin-top: 10px;
}

.section-contents-item__options {
	&.is-fullwidth {
		.section-contents-item__options--titwrap {
			width: 100%;
			max-width: 100%;
			flex-flow: row wrap;

			.section-contents-item__options--title {
				width: auto;
			}

			.section-contents-item__options--subwrap {
				.section-contents-item__options--sub {
					width: 100%;
				}
			}
		}
	}
}

.arrow-text-list {
	li {
		display: inline-block;
		vertical-align: middle;
		margin-left: 5px;
		color: #333;
		font-size: 1.3rem;
		font-weight: 600;
		line-height: 1.5;

		&:first-child {
			margin-left: 0;

			&:before {
				content: none;
			}
		}
	}
}

.dark-top-line {
	border-top: 1px solid #333;
	.cart-add-lists {
		> li {
			padding: 1.5rem 0;
			.info-text {
				display: block;
				line-height: 1;
				margin-bottom: 1.5rem;
			}
		}
	}
}

.point-info-list {
	&--blue {
		justify-content: center;
		align-items: center;
		padding: 30px 0;
		background-color: #f3f9ff;

		.span-blue {
			color: #385ea3;
		}

		li {
			justify-content: center;
			align-items: center;
			position: relative;
			padding: 0 30px;

			&:before {
				display: block;
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				z-index: 1;
				width: 1px;
				height: 12px;
				background-color: #ccc;
				transform: translateY(-50%);
			}

			&:first-child {
				&:before {
					content: none;
				}
			}

			span {
				color: #385ea3;
				font-size: $size-5;

				&.point {
					margin-left: 10px;
					font-weight: 600;
				}
			}
		}
	}
}

.edit-layout {
	.left-cont {
		width: 150px;

		.review-tit {
			display: inline-block;
			margin-top: 18px;
			color: #333;
			font-size: $size-5;
			font-weight: 400;
		}
	}

	.right-cont {
		display: block;
		width: 100%;
		margin-left: 20px;
	}

	.required {
		&:before {
			display: inline-block;
			content: '*';
			margin-right: 0.5rem;
			color: #ff2c2c;
		}
	}
}

.item-detail {
	padding: 40px 0;
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;

	.left-cont {
		img {
			display: block;
			width: 100%;
		}
	}

	&--brand {
		display: inline-block;
		margin-bottom: 15px;
		padding: 5px 30px;
		border: 1px solid #333;
		border-radius: 3px;
		color: #333;
		font-size: $size-6;
	}

	&--name {
		// margin-bottom: 20px;
		color: #333;
		font-size: $size-6;
	}

	&--option {
		li {
			color: #999;
			font-size: $size-6;
		}
	}
}

.star-grade {
	&-wrap {
		padding: 2rem 0;
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
	}
	&__desc {
		display: block;
		margin-bottom: 1.5rem;
		color: #777;
		font-size: 1.2rem;
		text-align: center;
	}

	&__rate {
		justify-content: center;
		align-items: center;
		> li {
			margin-left: 1.2rem;
			&:first-child {
				margin-left: 0;
			}
		}
		.on {
			.icon2-star {
				@include sprite-image($icon2-star-on);
				@include sprite-position($icon2-star-on);
				@include sprite-width($icon2-star-on);
				@include sprite-height($icon2-star-on);
			}
		}
	}
}

.item-input-title {
	.right-cont {
		padding: 0 0 20px;
	}
}

.item-review-contents {
	.right-cont {
		padding: 0 0 20px;

		.textarea {
			height: 200px;
			resize: none;
		}
	}
}

.item-photo-regist {
	justify-content: left;
	&__regist {
		margin: 1.5rem 0 0.75rem;
		font-size: 0;
		.review-images-list {
			display: inline-block;
			li {
				position: relative;
				overflow: hidden;
				width: 62px;
				height: 62px;
				margin: 0 7.5px 7.5px 0;
				background-color: #f1f1f1;
				float: left;
				&:nth-child(6) {
					margin-right: 0;
				}
				&.thumb-video {
					position: relative;
					&:before {
						content: '';
						position: absolute;
						z-index: 0;
						width: 100%;
						height: 100%;
						background: rgba(0, 0, 0, 0.4);
					}
					&:after {
						content: '';
						display: inline-block;
						position: absolute;
						top: 50%;
						left: 50%;
						z-index: 10;
						width: 0;
						height: 13px;
						// margin: -8px 0 0 -3px;
						border-width: 6px 0 6px 10px;
						border-color: transparent transparent transparent #fff;
						border-style: solid;
						transform: translate(-50%, -50%);
					}
				}
				img {
					display: block;
					max-width: 100%;
					overflow: hidden;
				}

				.file-pdf {
					text-align: center;
					//line-height: 100px;

					.ico-pdf {
						display: inline-block;
						vertical-align: middle;
						@include sprite-image($icon-pdf);
						@include sprite-position($icon-pdf);
						@include sprite-width($icon-pdf);
						@include sprite-height($icon-pdf);
					}
				}

				.btn-del {
					display: inline-block;
					position: absolute;
					top: 0;
					right: 0;
					width: 24px;
					height: 24px;
					background-color: #333;

					&:before {
						display: inline-block;
						content: '';
						position: absolute;
						top: 50%;
						left: 50%;
						width: 1px;
						height: 10px;
						background-color: #fff;
						transform: translate(-50%, -50%) rotate(45deg);
						transform-origin: 50% 50%;
					}

					&:after {
						display: inline-block;
						content: '';
						position: absolute;
						top: 50%;
						left: 50%;
						width: 1px;
						height: 10px;
						background-color: #fff;
						transform: translate(-50%, -50%) rotate(-45deg);
						transform-origin: 50% 50%;
					}
				}
			}
		}
	}

	&--label {
		display: inline-block;
		position: relative;
		width: 62px;
		height: 62px;
		border: 1px solid #333;
		cursor: pointer;

		&:before {
			display: inline-block;
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 1;
			width: 1px;
			height: 15px;
			background-color: #333;
			transform: translate(-50%, -50%);
		}

		&:after {
			display: inline-block;
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 1;
			width: 15px;
			height: 1px;
			background-color: #333;
			transform: translate(-50%, -50%);
		}
	}

	&--button {
		display: none;
	}

	.dot-list {
		margin-top: 20px;

		li {
			margin: 0;
		}
	}
}

.modal-button {
	.thumb-video {
		// position: relative;
		font-size: 0;
		vertical-align: middle;
		&:before {
			content: '';
			position: absolute;
			left: 0;
			z-index: 1;
			width: 100%;
			height: 100%;
			background: rgba(0, 0, 0, 0.4);
		}
		&:after {
			content: '';
			display: inline-block;
			position: absolute;
			top: 50%;
			left: 50%;
			z-index: 10;
			width: 0;
			height: 13px;
			// margin: -8px 0 0 -3px;
			border-width: 6px 0 6px 10px;
			border-color: transparent transparent transparent #fff;
			border-style: solid;
			transform: translate(-50%, -50%);
		}

		// display: block;
		// position: relative;
		// &:before {
		// 	content: '';
		// 	position: absolute;
		// 	z-index: 1;
		// 	top: 0;
		// 	left: 0;
		// 	width: 100%;
		// 	height: 100%;
		// 	background: rgba(0, 0, 0, 0.25);
		// }
		// &:after {
		// 	content: '';
		// 	display: inline-block;
		// 	position: absolute;
		// 	top: 50%;
		// 	left: 50%;
		// 	z-index: 10;
		// 	width: 0;
		// 	height: 13px;
		// 	margin: -8px 0 0 -3px;
		// 	border-width: 8px 0 8px 13px;
		// 	border-color: transparent transparent transparent #fff;
		// 	border-style: solid;
		// }
		&.img-size-1000 {
			&:after {
				display: none;
			}
		}
	}
}

.point-info-dllist {
	display: flex;
	margin-top: 10px;
	align-items: center;
	justify-content: center;
	// color: #333;
	font-size: $size-5;

	&__dt {
		&:after {
			content: '|';
			display: inline-block;
			height: 18px;
			line-height: 1;
			margin: 0 10px;
			color: #ccc;
			vertical-align: middle;
			font-size: $size-4;
			font-weight: 400;
		}
	}

	&__dd {
		font-weight: 600;
	}
}

// 2020-05-29 : 고객센터 추가
.as-request-item {
	li {
		display: inline-block;
	}

	li:not(:first-child):before {
		margin: 0 10px;
		font-family: 'iconset' !important;
		// speak: none;
		font-style: normal;
		font-weight: normal;
		font-variant: normal;
		text-transform: none;
		line-height: 1;
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
		content: '';
	}
}

.as-button-wrap {
	margin-top: 60px;

	.button {
		min-width: 180px;
	}
}

.section-contents-table__table {
	&.prev-order-table {
		.date-time-wrap {
			margin-bottom: 1.4rem;
			span {
				// display: block;
				// color: #333;
				font-size: $size-4;
			}
		}

		.item-number-name-wrap {
			text-align: left;
			margin-bottom: 1.5rem;

			span {
				display: block;
				color: #333;
				font-size: $size-4;

				em {
					font-style: normal;
					// color: #333;
				}

				&.item-name {
					font-size: $size-3;
					font-weight: 600;
				}
			}
		}

		.item-result-wrap {
			font-size: 0;
			margin-bottom: 1.5rem;

			span {
				position: relative;
				padding-left: 1rem;
				margin-left: 1rem;

				&::after {
					content: '';
					display: block;
					position: absolute;
					top: 50%;
					left: 0;
					width: 1px;
					height: 0.6rem;
					margin-top: -0.3rem;
					background-color: #ccc;
				}

				&:first-child {
					padding-left: 0;
					margin-left: 0;

					&::after {
						display: none;
					}
				}
			}

			.brand-name,
			.item-quantity,
			.item-payment,
			.item-order-status {
				// color: #333;
				font-size: $size-4;
			}
		}

		.space-between {
			// align-items: flex-end;
			align-items: center;
		}

		.is-grouped {
			> .control:not(:last-child) {
				margin-right: 5px;
			}
		}
	}
}

.arrow-step {
	&-box {
		// display: flex;
		// justify-content: left;
		// align-items: center;
		width: 100%;

		&.step5 {
			.arrow-step {
				// width: 20%;

				&:first-child {
					// width: calc(20% + 4px);
					margin-left: 0;
				}
			}
		}

		&.step6 {
			.arrow-step {
				// width: 16.667%;

				&:first-child {
					// width: calc(16.667% + 5px);
					margin-left: 0;
				}

				&.is-active {
					color: #333;
				}
			}
		}

		&.step6__fixed {
			.step-contents-wrap {
				display: inline-block;
			}
		}

		.arrow-step {
			// display: flex;
			// justify-content: space-between;
			// align-items: center;
			position: relative;
			background-color: #fff;
			// height: 100px;
			// margin: 0 0 0 -1px;
			// padding: 0 20px;
			border: 1px solid #ccc;
			margin-top: -1px;

			&:after {
				display: inline-block;
				content: '';
				position: absolute;
				bottom: -1.55rem;
				left: 50%;
				z-index: 1;
				background-color: #fff;
				width: 1.5rem;
				height: 1.5rem;
				border-right: 1px solid #ccc;
				border-bottom: 1px solid #ccc;
				transform: translateY(-50%) rotate(45deg);
				transform-origin: 50% 50%;
			}

			&:nth-last-child(1) {
				&:after {
					content: none;
				}
			}

			&.is-active {
				z-index: 1;
				border-color: #333;

				&:after {
					border-color: #333;
				}

				&:before {
					display: inline-block;
					content: '';
					position: absolute;
					top: 50%;
					left: -6px;
					z-index: 1;
					background-color: #fff;
					width: 12px;
					height: 12px;
					border-right: 1px solid #333;
					border-bottom: 1px solid #333;
					transform: translateY(-50%) rotate(-45deg);
					transform-origin: 50% 50%;
				}

				&:first-child {
					&:before {
						content: none;
					}
				}
			}
		}

		.step-contents-wrap {
			width: 100%;
			text-align: left;
			font-size: 0;

			dt,
			dd {
				display: inline-block;
				padding: 3rem 1rem;
			}

			.step {
				padding: 3rem 1.3rem;
				background-color: #f9f9f9;
				font-size: $size-4;
			}

			.text-wrap {
				font-size: $size-5;

				.step-text {
					display: inline-block;
					margin-bottom: 10px;
					color: #333;
					font-size: $size-6;
					line-height: 1;
				}

				.step-title {
					display: block;
					color: #333;
					font-size: $size-5;
					line-height: 1;
				}
			}
		}
	}
}

.section-contents {
	&__horizontal {
		&--layout {
			display: flex;
			justify-content: space-between;
			align-items: center;
			min-height: 50px;
			padding: 10px 10px 10px 20px;
			// background-color: #f9f9f9;
			border: 1px solid #eee;
		}

		&--dlwrap {
			display: flex;
			justify-content: left;
			align-items: center;
			min-width: 620px;
		}

		&--dl {
			display: flex;
			justify-content: left;
			align-items: center;

			&:first-child {
				margin-right: 50px;
			}
		}

		&--dt {
			color: #333;
			font-size: $size-6;
		}

		&--dd {
			margin-left: 20px;
			color: #333;
			font-size: $size-6;
			font-weight: 600;
		}
	}
}

.title-position-layout {
	position: relative;

	.position-item {
		position: absolute;
		right: 0;
		bottom: -30px;

		&.section-contents-table__button--wrap {
			bottom: -50px;
		}

		&.text-button {
			bottom: 1.5rem;
		}
	}
}

.delivery-direct-wrap {
	.input-delivery-direct {
		display: none;
		margin-top: 10px;
	}
}

.order-list-detail {
	.total-itam-pay {
		margin-top: 0;
	}
}

.table-box-default {
	&.price-info__detail {
		.table {
			border-bottom: none;
		}
	}

	&.th-left-border {
		tbody {
			td {
				border-left: 1px solid #eee;

				&:first-child {
					border-left: none;
				}
			}
		}
	}
}

.th__title {
	.title-text {
		display: block;

		i {
			display: inline-block;
			margin-left: 5px;
			vertical-align: text-top;
		}
	}

	.price {
		display: block;
		// text-indent: -15px;

		.number {
			margin-right: 3px;
			font-style: normal;
		}
	}
}

.price-dl__layout {
	.tit {
		color: #333;
		font-size: $size-5;
	}

	.price {
		color: #333;
		font-size: $size-6;

		.number {
			margin-right: 3px;
			font-size: $size-5;
			// font-weight: 600;
			font-style: normal;
		}
	}
}

/* SNS 연동 설정 */
.sns-login-list {
	a {
		width: 100%;
		height: 40px;
		margin-top: 10px;
		margin-right: 18.5px;
		text-align: left;
		line-height: 22px;

		&:first-of-type {
			margin-top: 15px;
		}

		i {
			margin-right: 10px;
		}

		&:hover,
		&:focus {
			border: 2px solid #777 !important;
		}

		&.is-active {
			border: 1px solid #777 !important;
			color: #fff;
		}

		&:last-child {
			margin-right: 0;
		}

		&.sns-naver {
			// i {
			// 	@include sprite-image($icon-naver);
			// 	@include sprite-position($icon-naver);
			// 	@include sprite-width($icon-naver);
			// 	@include sprite-height($icon-naver);
			// }

			&.is-active {
				background-color: #1ec800;

				// i {
				// 	@include sprite-image($icon-naver-hover);
				// 	@include sprite-position($icon-naver-hover);
				// 	@include sprite-width($icon-naver-hover);
				// 	@include sprite-height($icon-naver-hover);
				// }
			}
		}

		&.sns-kakao {
			// i {
			// 	@include sprite-image($icon-kakao);
			// 	@include sprite-position($icon-kakao);
			// 	@include sprite-width($icon-kakao);
			// 	@include sprite-height($icon-kakao);
			// }

			&.is-active {
				background-color: #f6c644;
				color: #333 !important;
			}
		}

		&.sns-facebook {
			// i {
			// 	@include sprite-image($icon-facebook);
			// 	@include sprite-position($icon-facebook);
			// 	@include sprite-width($icon-facebook);
			// 	@include sprite-height($icon-facebook);
			// }

			&.is-active {
				background-color: #3a5ca9;
			}
		}

		&.sns-payco {
			&.is-active {
				background-color: #e72a2d;
			}
		}
		&.sns-apple {
			i {
				font-size: 2.1rem;
				color: #888;
			}
			&.is-active {
				background-color: #101010;

				i {
					color: #cfcfcf;
				}
			}
		}
	}
}

.mypage-info-wrap {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	margin: 0 0 -6px;

	.required__info {
		display: inline-block;
		text-align: right;
	}
}

.button-pw-search {
	color: #333;
}

.mypage-checkbox {
	input[type='checkbox'] + label {
		font-size: $size-5;
		line-height: 1.1;
		vertical-align: middle;
	}
}

/* 200624 dl-table-style__dd 상속 스타일 변경 */
.dot-list {
	&.dot-list-at {
		color: #777;

		li {
			font-size: $size-3;
			line-height: 1.3;
		}
	}
}

// mobile
.line-lists {
	> li {
		padding: 1.5rem 0;
	}
	&-title__text {
		padding-bottom: 1.5rem;
		margin: 0.5rem 0 1.5rem;
		border-bottom: 1px solid #333;
		line-height: 1;
		span {
			display: inline-block;
			line-height: 1;
		}
		.txt {
			color: #333;
			font-size: 1.4rem;
			font-weight: 600;
			letter-spacing: -0.1px;
		}
		.date {
			font-size: 1.5rem;
			font-weight: 600;
		}
		.num {
			color: #777;
			font-size: 1.2rem;
		}
	}
	&.bottom-line {
		> li {
			border-bottom: 1px solid #eee;
		}
	}
	&.top-line {
		> li {
			border-top: 1px solid #eee;
			&:first-child {
				border-top: none;
			}
			.top-line {
				border-top: 1px solid #eee;
			}
		}
	}
}
.button {
	&.btn-more {
		.txt {
			margin-right: 5px;
			vertical-align: middle;
		}
	}
}
.item-detail {
	&-info {
		outline: none;
		&.__question {
			.item-sub-title {
				margin-bottom: 1rem;
				line-height: 1;
			}
			.item-detail-info__wrap {
				i {
					transform: rotate(0);
				}
			}
			&.is-active {
				.item-detail-info__wrap {
					i {
						transform: rotate(180deg);
					}
				}
				+ .item-detail-question__wrap {
					display: block;
				}
			}
		}
		&__wrap {
			display: flex;
			justify-content: space-between;
			align-items: flex-start;
			.item-info {
				width: calc(100% - 30px);
				&-name {
					width: 100%;
					color: #333;
					font-size: 1.3rem;
					font-weight: 600;
					&.text-ellipsis-2 {
						max-height: 3.8rem;
					}
				}
				&-date {
					display: inline-block;
					margin-top: 0.8rem;
					color: #777;
					font-size: 1.2rem;
					line-height: 1;
				}
			}
			i {
				display: inline-block;
				color: #333;
				font-size: 1.5rem;
				transform-origin: 50% 50%;
				transform: rotate(-90deg);
			}
		}
		&__discount {
			display: flex;
			justify-content: left;
			align-items: center;
			position: relative;
			margin-top: 2rem;
			i {
				display: inline-block;
				width: 23px;
				margin-right: 1rem;
			}
			.discount-price {
				color: #1e69a8;
				font-size: 1.3rem;
				font-weight: 600;
			}
			.item-status {
				display: inline-block;
				position: absolute;
				top: -1px;
				right: 0;
				z-index: 1;
				padding: 5px 15px;
				color: #fff;
				font-size: 1.1rem;
				font-weight: 600;
				line-height: 1;
				border-radius: 3px;
				background-color: #777;
			}
		}
		&__status {
			margin-top: 1.5rem;
			.status-text {
				color: #333;
				font-size: 1.3rem;
				font-weight: 600;
				letter-spacing: -1px;
				&.__red {
					color: #ed2650;
				}
				&.__blue {
					color: #1e69a8;
				}
			}
		}
	}
	&__type {
		margin-bottom: 1.5rem;
		color: #777;
		font-size: 0;
		line-height: 1;
		.type-a {
			display: inline-block;
			font-size: 1.3rem;
		}
		.type-b {
			position: relative;
			display: inline-block;
			margin-left: 1rem;
			padding-left: 1.1rem;
			font-size: 1.3rem;
			&:before {
				display: inline-block;
				content: '';
				position: absolute;
				top: 50%;
				left: 0;
				z-index: 1;
				width: 1px;
				height: 0.7rem;
				background-color: #ccc;
				transform: translateY(-50%);
			}
		}
	}
	&-question__wrap {
		display: none;
		width: calc(100% + 20px);
		margin: 15px -10px 0 -10px;
		border-top: 1px solid #eee;
	}
}
.answer-tit {
	position: relative;
	padding-left: 1.2em;
	&:before {
		content: '⌞';
		display: block;
		position: absolute;
		top: -0.9rem;
		left: 0.3rem;
		font-size: 1.9rem;
	}
}
.contents-layout {
	&-box {
		border-top: 1px solid #777;
		.title-wrap {
			display: flex;
			justify-content: left;
			align-items: center;
			border-bottom: 1px solid #eee;
			dl {
				display: flex;
				justify-content: left;
				align-items: center;
				padding: 1.5rem 0;
				dt {
					color: #333;
					font-size: 1.2rem;
					line-height: 1;
				}
				dd {
					margin-left: 2rem;
					color: #777;
					font-size: 1.2rem;
					line-height: 1;
				}
			}
		}
		&__info {
			padding: 1.5rem 0 2rem;
			border-bottom: 1px solid #eee;
			.date {
				display: inline-block;
				margin-bottom: 1.5rem;
				color: #777;
				font-size: 1.2rem;
				line-height: 1;
			}
			.tit {
				display: block;
				margin-bottom: 1.5rem;
				color: #333;
				font-size: 1.3rem;
				font-weight: 600;
			}
			.text {
				color: #777;
				font-size: 1.3rem;
			}
			.thumb-list {
				display: flex;
				justify-content: left;
				align-items: center;
				flex-wrap: wrap;
				margin-top: 12px;
				> li {
					width: 62px;
					margin: 7px 7px 0 0;
					font-size: 0;
					&:nth-last-child(1) {
						margin-right: 0;
					}
					.modal-button {
						padding: 0;
					}
				}
			}
		}
	}
}

.order-info {
	&-wrap {
		display: flex;
		justify-content: left;
		align-items: flex-start;
		padding: 1.5rem 0;
		border-bottom: 1px solid #eee;
	}
	&-image {
		width: 62px;
	}
	&-text {
		margin-left: 20px;
		width: calc(100% - 82px);
		.txt {
			display: block;
			color: #777;
			font-size: 1.2rem;
			line-height: 1.2;
		}
		.name {
			margin-top: 0.75rem;
			color: #777;
			font-size: 1.2rem;
			line-height: 1.2;
		}
	}
}

.form-info__box {
	.form-info {
		margin-top: 20px;

		&:first-of-type {
			margin-top: 0;
		}
	}
}

.section-loginform__desc {
	padding: 40px 0;
	text-align: center;
}

.section-loginform__desc--v2 {
	padding: 30px 0;
	text-align: center;
}

.text-desc--none {
	padding: 30px 0 50px;
	font-size: 14px;
	font-weight: bold;
	color: #333;
	text-align: center;
}
.buttons--small {
	margin-top: 20px;

	.button {
		padding: 0 15px;
		height: 30px;
		font-size: 12px;
	}
}

.list-no-line__box {
	padding: 20px 0;

	dl {
		display: flex;
		padding-top: 9px;
		font-size: 12px;

		&:first-child {
			padding-top: 0;
		}

		dt {
			width: 95px;
		}

		dd {
			color: #333;
		}
	}
}
// 마이페이지 메인
.section-item-contents__myinfo {
	.section-item-contents__myinfo-top {
		display: flex;
		padding: 35px 20px;
		background: #f9f9f9;
		.section-item-contents__myinfo--info {
			padding-left: 20px;
			.section-item-contents__myinfo--level {
				font-size: 15px;
				color: #333;
				letter-spacing: -1px;
				.name {
					font-size: 20px;
				}
			}
			.section-item-contents__myinfo--member {
				margin-top: 15px;
				span + span {
					position: relative;
					margin-left: 10px;
					padding-left: 10px;
					&::before {
						content: '';
						position: absolute;
						top: 6px;
						left: 0;
						width: 1px;
						height: 7px;
						background: #ccc;
					}
				}
				.level-member {
					font-size: 12px;
				}
				.level-wedding {
					font-size: 12px;
					color: #6651c6;
				}
				.level-friends {
					font-size: 12px;
					color: #569fd6;
				}
			}
			.btn-level-view {
				display: inline-block;
				// margin-top: 15px;
				color: #333;
				font-size: 12px;
				i {
					margin-left: 5px;
				}
			}
		}
	}
	.section-item-contents__myinfo--discount-wrap {
		.section-item-contents__myinfo--discount {
			display: flex;
			width: 50%;
			height: 100px;
			padding: 30px 20px;
			border-bottom: 1px solid #eee;
			float: left;
			align-items: center;
			justify-content: flex-start;
			&:nth-child(odd) {
				border-right: 1px solid #eee;
			}			
			.myinfo-main-btn {
				display: flex;
				width: 100%;
				color: #777;				
			}	
			i {
				display: block;
				margin-right: 20px;
				width: 40px;
			}
			.icon2-coupon-percent-b {
				margin: 13px 20px 0 0;
			}
			.icon2-point {
				margin: 6px 20px 0 2px;
				flex: 0 0 40px;
			}
			.icon2-transit {
				margin: 9px 20px 0 4px;
			}
			.icon2-done {
				margin: 9px 20px 0 2px;
			}
			dl {
				dt {
					font-size: 12px;
				}
				dd {					
					font-size: 20px;
					font-weight: 600;
					color: #333;					
				}
			}
			
		}
	}
}
.content-title--subtitle-mo {
	margin-top: 20px;
	color: #333;
	font-size: 1.4rem;
	font-weight: 600;
}
.section-item-contents {
	.content-flow-box {
		width: 100%;
		li {
			position: relative;
			width: 20%;
			padding: 20px 0;
			text-align: center;
			a {
				color: #333;
				.count {
					display: block;
					font-size: 20px;
					font-weight: 600;
					&.count-none {
						color: #777;
					}
				}
				> div {
					position: absolute;
					top: 30px;
					right: 4px;
				}
			}
		}
	}
	.community-box {
		> div {
			display: flex;
			margin: 20px 0;
			a {
				color: #333;
			}
			> div {
				width: 131px;
				//padding: 20px 45px 20px 20px;
				padding: 20px 25px 20px 10px;
				border-right: 1px solid #eee;
				font-size: 12px;
				font-weight: 600;
				text-align: center;
				span {
					display: block;
					padding-top: 15px;
					font-size: 20px;
					font-weight: 600;
					text-align: center;
				}
				.icon-box {
					justify-content: center;
				}
			}
			ul {
				width: 100%;
				padding: 0 10px 0 30px;
				li {
					width: 100%;
					padding-top: 25px;
					font-size: 11px;
					&:first-child {
						padding-top: 13px;
					}
					span {
						float: right;
						font-size: 17px;
						color: #333;
						font-weight: 600;
						text-align: right;
						line-height: 1;
					}
				}
			}
		}
		> div + div {
			margin-top: 0;
			padding-top: 20px;
			border-top: 1px solid #eee;
		}
	}
}
.section-product-item__wrap {
	position: relative;
	padding-bottom: 18px;
	border-bottom: 1px solid #eee;
	.section-date {
		margin-top: 15px;
	}
	.product-item--small {
		margin-top: 20px;
	}
	.section-date + .product-item--small {
		margin-top: 15px;
	}
	.product-item-now {
		position: absolute;
		bottom: 18px;
		right: 0;
		font-size: 1.2rem;
		color: #1e69a8;
	}
	&.border-bottom-none {
		border-bottom: none;
	}
}

.product-item-total {
	margin-top: 15px;
	padding: 20px 0;
	background: #f9f9f9;
	border-top: 1px solid #eee;
	.product-item-price__price--wrap2 {
		justify-content: center;
	}
	.product-item-price__price {
		font-size: 1.3rem;
	}
	.unit {
		font-size: 1.2rem;
	}
	.price-sign {
		margin-right: 7px;
		font-weight: 600;
	}
	.product-item-now {
		display: block;
		position: static;
		margin-top: 5px;
		text-align: center;
	}
}

// 마이페이지 하단 아코디언
.collapsible-card-wrap {
	.card-header {
		position: relative;
		&::before {
			content: '';
			position: absolute;
			bottom: 0;
			left: 0;
			width: calc(100% - 10px);
			height: 1px;
			background: #eee;
		}
	}
	.card-header-title {
		font-size: 1.4rem;
		font-weight: 600;
		color: #333;
	}
	.card-content-wrap {
		margin: -1px -1rem 0;
		padding: 0 20px 20px;
		border-top: 1px solid #eee;
		background: #f9f9f9;
		.card-content {
			padding: 0;
			border: 0;
			.hyphen-list {
				li {
					float: left;
					width: 50%;
					padding-top: 20px;
					a {
						font: 1.2rem;
						color: #777;
					}
				}
			}
		}
	}
}
.my-comm-list {
	margin-top: 20px;
	.hash-tag-lists {
		height: 16px;
	}
	.hash-tag__name {
		margin-left: 3px;
	}
	&.comm-list-openhouse {
		.product-item-header__name {
			height: 55px;
		}
	}
}

.card-header-icon {
	&.is-flex {
		display: flex;
		width: 100%;
		padding: 1.5rem 1rem 1.5rem 0;
		justify-content: flex-start;
		.card-header-title {
			flex: 1 0 auto;
			padding: 0;
		}
		.icon {
			display: block;
			flex: 0 0 auto;
			justify-content: flex-end;
		}
	}
}
.select-children-wrap {
	> div {
		flex: 1;
		&.age-wrap {
			display: none;
			margin-left: 10px;
		}
	}
}
