.section-notice-wrap {
	.section-tit {
		text-align: center;
		margin-top: 50px;
		font-size: 38px;
		color: #333;
	}
	.inbox-header {
		margin: 20px 0;
		height: 50px;
		.tit {
			font-size: 20px;
			line-height: 50px;
		}
	}
}
.modal-card-body {
	.card {
		box-shadow: none;
		.card-header {
			box-shadow: none;
			padding: 23px 0;
			border-bottom: 1px solid #eee;
			.checkbox input[type='checkbox'] + label,
			.radio input[type='radio'] + label {
				font-size: 14px;
				&::before {
					margin-top: 0;
				}
			}
		}
		.card-content {
			max-height: 200px;
			overflow-y: auto;
			border: 1px solid #eee;
			border-top: none;
		}
	}
	.privacy-box {
		&.msg-box-gray {
			padding: 0;
			background-color: transparent;
		}
	}
}
// 약관 처리
.privacy-box {
	br {
		display: none;
	}
	p {
		margin-bottom: 0.5em;
		color: #6a6a6a;
		> strong {
			display: block;
			margin-top: 1em;
			color: #333;
			font-weight: 600;
		}
		&.is-strong-text {
			margin-bottom: 1em;
			color: #333;
			font-size: 1.2em;
			font-weight: 600;
		}
	}
	&.msg-box-gray {
		padding: 2rem;
		background: #f9f9f9;
		.num-list-stylelist {
			margin-bottom: 20px;
			&.privacy-policy-pl20 {
				margin-left: 20px;
			}
		}
		.privacy-policy-mb35 {
			margin-bottom: 10px;
		}
		.num-list {
			&.privacy-policy-mb35 {
				margin-left: 20px;
			}
		}
		table {
			border: 1px solid #ccc;
			th {
				padding: 10px;
				border: 1px solid #ccc;
			}
			td {
				padding: 10px;
				border: 1px solid #ccc;
			}
		}
	}
	table {
		width: 100%;
		td {
			p {
				margin: 0;
				strong {
					margin: 0;
				}
			}
			br {
				display: none;
			}
		}
	}
}
