.openevent {
	.event_0101 {
		div {
			position: relative;
			.btn {
				position: absolute;
				display: block;
				width: calc(100% - 30%);
				bottom: 40px;
				left: 15%;
			}
		}
		img {
			width: 100%;
			display: block;
		}
		.tab {
			width: 100%;
			max-width: 890px;
			a {
				width: 25%;
				display: block;
				float: left;
			}
			&::after {
				content: '';
				display: block;
				clear: both;
			}
		}
		.coupon {
			background: #f7f7f7;
			.box {
				padding: 0 10%;
				span {
					display: block;
					margin-top: 20px;
					&:first-child {
						margin-top: 0;
					}
				}
			}
			.accordion {
				padding-bottom: 30px;
				> a {
					display: block;
					width: calc(100% - 30%);
					margin: 50px auto 0;
				}
				div {
					display: none;
					position: relative;
					a {
						display: none;
						width: 40%;
						height: 50px;
						text-indent: -9999px;
						position: absolute;
						right: 10%;
						top: 45%;
					}
				}
				&.open {
					div {
						display: block;
						a {
							display: block;
						}
					}
				}
			}
		}
		.payback {
		}
		.brand {
			.btn {
				bottom: 60px;
			}
		}
		.lowest {
			> div {
				position: absolute;
				width: 70%;
				top: 12%;
				left: 20px;
				height: 50px;
				line-height: 50px;
				color: #000;
				font-size: 35px;
				font-weight: 600;
			}
		}
		.quiz {
		}
	}
	.event_0103 {
		img {
			display: block;
			width: 100%;
		}
	}
	.event_0104 {
		img {
			display: block;
			width: 100%;
		}
	}
	.event_0201 {
		img {
			display: block;
			width: 100%;
		}
		.top {
			background: #f4e7f5;
			padding-bottom: 50px;
			.btn {
				width: calc(100% - 40px);
				margin: 0 auto;
				a {
					width: calc(50% - 10px);
					display: block;
					float: left;
					margin: 10px 0 0 10px;
					&:nth-child(2n + 1) {
						margin-left: 0;
					}
					&:nth-child(1) {
						margin-top: -20px;
						padding-top: 20px;
						box-shadow: 18px 47px 49px 0px rgba(0, 0, 0, 0.16);
					}
				}
				&::after {
					content: '';
					display: block;
					clear: both;
				}
			}
		}
		.payback {
			position: relative;
			.btn {
				position: absolute;
				display: block;
				width: calc(100% - 30%);
				left: 15%;
				bottom: 50px;
			}
		}
		.quiz {
			position: relative;
			.btn {
				position: absolute;
				display: block;
				width: calc(100% - 30%);
				left: 15%;
				bottom: 50px;
			}
		}
	}
	.event_0301 {
		img {
			display: block;
			width: 100%;
		}
		.scroll-fixed-box {
			width: 100%;
			padding: 0;
			overflow: scroll;
			border: none;
			ul {
				padding: 0;
				background: none;
				li {
					padding: 0;
					margin: 0;
					display: block;
					float: left;
					width: 25%;
					border: 0;
					p {
						display: none;
					}
					&.is-active {
						img {
							display: none;
						}
						p {
							display: block;
							img {
								display: block;
							}
						}
					}
				}
				&::after {
					content: '';
					display: block;
					clear: both;
				}
			}
		}
		section {
			> div {
				position: relative;
				a.btn {
					display: block;
					width: calc(100% - 40%);
					position: absolute;
					bottom: 50px;
					left: 20%;
				}
			}
		}
	}
	.event_0302 {
		img {
			display: block;
			width: 100%;
		}
	}
	.event_0303 {
		a {
			display: block;
			width: 100%;
		}
		img {
			display: block;
			width: 100%;
		}
	}
	.event_0304 {
		img {
			display: block;
			width: 100%;
		}
	}
	.event_0401 {
		a {
			display: block;
		}
		img {
			width: 100%;
			display: block;
		}
		.top {
		}
		.sticky_tab {
			background: #7a2456;
			width: 100%;
			height: 50px;
			padding: 0;
			overflow: scroll;
			border: none;
			ul {
				width: 900px;
				background: none;
				&::after {
					content: '';
					display: block;
					clear: both;
				}
				li {
					display: block;
					float: left;
					margin: 0;
					padding: 0;
					width: 150px;
					height: 50px;
					letter-spacing: -1px;
					text-align: center;
					padding: 0;
					border: 0;
					a {
						display: block;
						font-size: 14px;
						color: #fdbcdd;
						line-height: 50px;
					}
					&.is-active {
						background: #eb5788;
						a {
							font-weight: 600;
							font-size: 17px;
							color: #fff;
						}
					}
				}
			}
		}
		.coupon {
			background: #f6dbd7;
			padding-bottom: 30px;
			.accordion {
				margin-bottom: 10px;
				p {
					display: none;
					padding-bottom: 10px;
				}
				&.open {
					p {
						display: block;
					}
				}
			}
		}
		.payback {
			background: #b54729;
			padding-bottom: 30px;
			&::after {
				content: '';
				display: block;
				clear: both;
			}
			div {
				a {
					display: block;
					float: left;
					width: 50%;
				}
			}
		}
		.gift {
			background: #f6dbd8;
			a {
				margin-bottom: 30px;
			}
		}
		.brand {
			background: #f6dbd8;
			.brand_link {
				padding: 30px 0 50px;
				&::after {
					content: '';
					display: block;
					clear: both;
				}
				a {
					display: block;
					float: left;
					width: 50%;
				}
			}
		}
	}
	.event_0402 {
		img {
			display: block;
			width: 100%;
		}
		.top {
			background: #a4d3f6;
			padding-bottom: 40px;
			.btn {
				display: block;
				width: calc(100% - 30%);
				margin: 0 auto;
			}
		}
	}
	.event_0501 {
		img {
			display: block;
			width: 100%;
		}
		.top {
			background: #2655c7;
			padding-bottom: 70px;
			.btn {
				width: calc(100% - 40px);
				margin: -2px auto 0;
				a {
					display: block;
					float: left;
					width: calc(33% - 2px);
					margin: 2px 0 0 2px;
					&:nth-child(3n + 1) {
						margin-left: 0;
					}
					img {
						width: 100%;
					}
				}
				&::after {
					content: '';
					display: block;
					clear: both;
				}
			}
		}
	}
	.event_0502 {
		background: url('../images/openevent/05-02_bg.png') center 0 no-repeat #f7d8bc;
		background-size: contain;
		div {
			text-align: center;
		}
		.type_a {
			span {
				display: block;
				text-align: center;
			}
			img {
				display: block;
				margin: 0 auto;
			}
			.btn {
				width: calc(100% - 40px);
				margin: -2px auto 0;
				a {
					display: block;
					float: left;
					width: calc(33% - 2px);
					margin: 2px 0 0 2px;
					&:nth-child(3n + 1) {
						margin-left: 0;
					}
					img {
						width: 100%;
					}
				}
				&::after {
					content: '';
					display: block;
					clear: both;
				}
			}
		}
		.type_b {
			background: #248453;
		}
		.type_c {
			background: #f5cead;
		}
		.type_d {
			background: #248453;
		}
	}
	.event_0503 {
		img {
			display: block;
			width: 100%;
		}
		.top {
			background: #2b7f9b;
			padding-bottom: 70px;
			.btn {
				width: calc(100% - 40px);
				margin: -2px auto 0;
				a {
					display: block;
					float: left;
					width: calc(33% - 2px);
					margin: 2px 0 0 2px;
					&:nth-child(3n + 1) {
						margin-left: 0;
					}
					img {
						width: 100%;
					}
				}
				&::after {
					content: '';
					display: block;
					clear: both;
				}
			}
		}
		.ani {
			width: calc(100% - 30%);
			margin: -30px auto -20px;
		}
	}
	.event_0601 {
		img {
			display: block;
			width: 100%;
		}
		div {
			position: relative;
			a {
				display: block;
				width: calc(100% - 50%);
				position: absolute;
				left: 25%;
				bottom: 50px;
				border-radius: 100px;
				overflow: hidden;
			}
		}
	}
	.event_0602 {
		img {
			display: block;
			width: 100%;
		}
	}
	.event_0603 {
		img {
			display: block;
			width: 100%;
		}
	}
	.event_0701 {
		img {
			width: 100%;
			display: block;
		}
		a {
			display: block;
			background: url('../images/openevent/07-01_btn.png') center center no-repeat #472c1c;
			background-size: contain;
			width: calc(100% - 120px);
			height: 94px;
			text-indent: -9999px;
			margin: 0 auto;
			border-radius: 10px;
		}
	}
	.event_0702 {
		img {
			width: 100%;
			display: block;
		}
		a {
			display: block;
			background: url('../images/openevent/07-02_btn.png') center center no-repeat #161b1b;
			background-size: contain;
			width: 100%;
			height: 90px;
			text-indent: -9999px;
			margin: 0 auto;
		}
	}
	.event_0801 {
		img {
			display: block;
			width: 100%;
		}
		.top {
			background: url('../images/openevent/08-01_bg_01.jpg') 0 0 repeat;
			padding-bottom: 60px;
			.live_link {
				display: block;
				width: calc(100% - 50%);
				margin: 0 auto 50px;
				border-radius: 100px;
				overflow: hidden;
			}
			.live_tab {
				width: calc(100% - 30px);
				margin: 0 auto;
				button {
					padding: 0;
					display: block;
					float: left;
					border: 0;
					width: calc(25% - 2px);
					margin: 0 1px;
					p {
						display: none;
					}
					&.current {
						> img {
							display: none;
						}
						p {
							display: block;
						}
					}
				}
				span {
					width: calc(25% - 2px);
					margin: 0 1px;
					display: block;
					float: left;
				}
				&::after {
					content: '';
					display: block;
					clear: both;
				}
			}
			.tab_content {
				width: calc(100% - 32px);
				margin: 2px auto 0;
				a {
					display: none;
					&.current {
						display: block;
					}
				}
			}
		}
		.type_c {
			background: #f2f2f2;
			padding-bottom: 60px;
		}
	}
	.event_0901 {
		img {
			display: block;
			width: 100%;
		}
	}
	.event_0902 {
		div {
			background: url('../images/openevent/09-02_bg_01.png') 0 0 repeat;
			text-align: center;
		}
		a {
			text-align: center;
			display: block;
			background: url('../images/openevent/09-02_bg_02.png') 0 0 repeat;
		}

		a:last-child {
			background: url('../images/openevent/09-02_bg_01.png') 0 0 repeat;
		}
	}
}
