.order-payment {
	&__header {
		&--default {
			display: flex;
			justify-content: space-between;
			align-items: center;
			width: 100%;
			padding: 2rem 0;
			color: #333;

			.space-between {
				align-items: center;

				button {
					padding: 1px 10px;
					margin-right: -10px;
				}
			}

			&-btn {
				padding: 1px 10px;
				margin-right: -10px;
				height: 100%;
				font-size: $size-3;

				&.is-active {
					transform: rotate(180deg);
				}
			}
		}

		&--detail {
			display: none;
			padding: 2rem 0;
			margin-top: -1rem;
			border-top: 1px solid #ccc;
			color: #333;
			font-weight: 600;
			&.is-active {
				.order-payment__header--info {
					display: none;
				}

				.order-payment__header--change {
					display: block;
				}
			}
		}

		&--info {
			&__name {
				margin-bottom: 2rem;
				font-size: $size-4;
			}

			&__desc {
				font-size: $size-3;
				font-weight: 400;
			}
		}

		&--change {
			display: none;
		}
	}

	&.is-active {
		.order-payment__header-text {
			display: none;
		}

		.order-payment__header--detail {
			display: block;
		}

		.item-dl-layout .dl-group .detali {
			display: block;
		}
	}

	&__header-text {
		display: flex;
		justify-content: space-between;
		font-size: $size-4;

		span {
			position: relative;
			padding-left: 2rem;
			margin-right: 0.4rem;
			line-height: 1.125;

			&::before {
				content: '';
				display: block;
				position: absolute;
				top: 50%;
				left: 0;
				width: 1px;
				height: 0.6rem;
				margin-top: -0.3rem;
				margin-left: 1rem;
				background-color: #ccc;
			}

			&:first-child {
				margin: 0;
				padding: 0;

				&::before {
					display: none;
				}
			}
		}
	}

	&__content {
		padding: 1rem 0 2rem;
		margin-top: -1rem;
		font-size: $size-4;
		border-top: 1px solid #777;
		color: $black;

		&__name {
			display: flex;
			justify-content: flex-start;
			margin-bottom: 1.5rem;

			span {
				position: relative;
				padding-left: 2rem;
				color: #777;

				&:first-child {
					overflow: hidden;
					max-width: calc(100% - 9rem);
					padding: 0;
					margin: 0;
					white-space: nowrap;
					text-overflow: ellipsis;
					font-weight: 600;
					color: $black;

					&::before {
						display: none;
					}
				}

				&::before {
					content: '';
					display: block;
					position: absolute;
					top: 50%;
					left: 0;
					width: 1px;
					height: 0.6rem;
					margin-top: -0.3rem;
					margin-left: 1rem;
					background-color: #ccc;
				}
			}
		}

		&__address {
			p {
				margin-bottom: 0.4rem;

				span {
					margin-right: 0.5rem;
				}
			}
		}

		&__number {
			display: block;
			margin-bottom: 1.5rem;
			font-size: $size-3;
			font-weight: 600;
		}

		.row {
			.checkbox-list {
				margin-bottom: 1.5rem;
				line-height: 1.3;
			}

			.label {
				display: inline-flex;
				font-weight: 600;
			}

			.checkbox {
				margin: 0;
			}
		}
	}

	&-card {
		padding-bottom: 2rem;

		header {
			display: flex;
			justify-content: space-between;
			align-items: center;
		}

		.card-header {
			margin: 0;
			border-bottom: 1px solid #eee;
		}

		.checkbox {
			margin: 0;
		}

		.card-content {
			padding: 2rem;
			background-color: #f9f9f9;
			border: none;
		}

		.card-header-icon {
			margin-right: -10px;
		}
	}

	&--open {
		padding: 1px 10px;
		margin-right: -10px;
		font-size: $size-3;
	}

	.section {
		&-contents {
			&-table {
				&__table {
					.button-area {
						&.gifts-wrap {
							.name-wrap {
								width: 340px;
							}
						}
					}

					tbody {
						.bundle-delivery {
							.bundle {
								border-right: none;
							}
						}

						.spinner-number {
							color: #333;
							font-size: $size-6;
						}
					}
				}
			}

			&-item {
				&__options {
					&--titwrap {
						max-width: initial;
					}

					&--title,
					&--sub {
						width: 100%;
					}
				}

				.gifts-wrap {
					margin-top: 20px;
				}

				.items-horizontal-layout {
					.gifts-wrap {
						margin-top: 30px;
					}
				}
			}
		}
	}

	.is-block {
		display: block;
	}

	.content-title {
		display: flex;
		justify-content: left;
		align-items: center;
		margin: 60px 0 30px;
	}

	.width-small {
		display: inline-block;
		margin-left: 8px;

		&:first-child {
			margin-left: 0;
		}
	}

	// .input-direct {
	// 	display: none;
	// }

	.btn-address-list {
		color: #333;
		font-size: $size-6;
		margin-left: 50px;
	}

	.content-title-wrap {
		position: relative;

		i {
			margin-left: 10px;
			cursor: pointer;
		}

		.right-position {
			position: absolute;
			top: 32px;
			right: 0;
			z-index: 1;
		}

		.direct-delivery-info {
			color: #777;
			font-size: $size-6;
		}
	}

	.delivery-direct {
		select {
			// min-width: 560px;
		}
	}

	.input-delivery-direct {
		display: none;
		margin-top: 10px;
		// font-size: $size-7;
	}

	.date-select {
		&-box {
			.button {
				display: block;
			}

			.dot-list {
				margin-top: 35px;
			}

			.selected-date-time {
				display: inline-block;
				margin-top: 20px;
				font-size: $size-5;

				&.blue {
					color: #28a0e4;
				}

				.date {
					margin-right: 20px;
				}

				i {
					margin-right: 5px;
				}
			}
		}

		&-info {
			display: block;
			margin-bottom: 20px;
			color: #333;
			font-size: $size-5;
		}
	}

	.cost-consent {
		width: 100%;
		margin: 0;

		&.non-member-check-wrap {
			border-top: 1px solid #eee;

			.card {
				.card-header {
					.card-header-title {
						flex-grow: 1;
					}
				}

				.card-content {
					padding: 0;

					.text-area {
						overflow-y: auto;
						max-height: 160px;
						padding: 30px;
						border: 1px solid #eee;
						border-top: none;
						font-size: $size-6;
					}
				}
			}
		}

		.card {
			box-shadow: none;

			.card-header {
				display: flex;
				justify-content: left;
				align-items: center;
				padding: 23px 0;
				border-bottom: 1px solid #eee;
				box-shadow: none;

				.card-header-title {
					flex-grow: 0;
					font-size: $size-5;
					font-weight: 400;
				}

				i {
					color: #333;
					font-size: $size-6;
				}
			}

			.card-content {
				padding: 30px 0 0;

				.dot-list {
					li {
						line-height: 1.7;
					}
				}

				span {
					color: #777;
					font-size: $size-6;
				}
			}
		}
	}

	.non-all-wrap {
		padding: 20px 0;

		.non-all {
			font-size: $size-5;
		}
	}

	.payment-amount-wrap {
		.cost-consent {
			.card {
				.card-header {
					padding: 25px 20px;
					border-bottom: none;
				}

				.card-content {
					padding: 0;

					span {
						display: block;
						padding: 0 20px 30px 20px;
						color: #777;
						font-size: $size-6;
						line-height: 1.5;
					}
				}
			}
		}
	}

	.th-icon {
		margin-left: 3px;
		vertical-align: text-top;
		cursor: pointer;
	}

	.payment-contents-wrap {
		margin-top: 100px;

		.left-contents {
			section {
				.content-title {
					margin-top: 0;
				}

				+ section {
					margin-top: 100px;
				}
			}
		}
	}

	.gift-table-wrap {
		.user-info {
			color: #333;
			font-size: $size-5;
		}
	}

	.gift-info-wrap {
		margin-top: 40px;
		padding: 40px;
		background-color: #f9f9f9;
	}

	&.order-complete {
		.msg-box {
			width: 1086px;
			margin: 60px auto 0;

			&-title {
				color: #385ea3;
				font-size: $size-4;
			}

			&-dl {
				display: flex;
				justify-content: center;
				align-items: center;
				margin-top: 10px;

				dt {
					position: relative;
					margin-right: 10px;
					padding-right: 11px;
					color: #333;
					font-size: $size-5;

					&:after {
						display: block;
						content: '';
						position: absolute;
						top: 50%;
						right: 0;
						width: 1px;
						height: 12px;
						background-color: #ccc;
						transform: translateY(-50%);
					}
				}

				dd {
					color: #333;
					font-size: $size-5;
				}
			}
		}

		.table-box-form {
			width: 1086px;
			margin: 60px auto;
		}

		.item-button-wrap {
			margin-bottom: 0;

			.button {
				min-width: 280px;
			}
		}
	}

	.order-payment--open {
		&.is-active {
			transform: rotate(180deg);
		}
	}
}

.payment-contents-wrap {
	.left-contents {
		width: 1004px;
	}

	.right-contents {
		width: 322px;
	}
}

.custom-input {
	padding-right: 2rem;
	text-align: right;

	&-layout {
		justify-content: left;
		align-items: center;

		.button {
			margin-left: 1rem;
		}

		.info {
			margin-left: 2rem;
			color: #777;
			font-size: $size-6;
		}

		.checkbox {
			margin: 0 0 0 2rem;

			input {
				+ label {
					font-size: $size-5;
				}
			}

			label {
				.point {
					margin-left: 1rem;
					font-size: $size-6;
				}
			}
		}
	}

	&-wrap {
		display: inline-block;
		position: relative;
		width: 100%;
	}

	&-txt {
		position: absolute;
		top: 50%;
		right: 1rem;
		z-index: 5;
		color: #999;
		font-size: $size-6;
		transform: translateY(-50%);
	}
}

.mullti-card-horizontal {
	.card {
		border-top: 1px solid #eee;
		box-shadow: none;

		.card-header {
			background-color: #f9f9f9;
			box-shadow: none;

			.card-header-title {
				padding: 22px 20px;
				color: #333;
				font-size: $size-5;
			}

			.card-header-icon {
				padding: 8px 20px 8px 10px;
				color: #333;
				font-size: $size-5;
			}
		}

		.card-content {
			padding: 0;
		}
	}
}

.payment-type {
	&-list {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 30px 0;
	}

	&-btn {
		.radio {
			display: none;

			&:checked {
				+ .label {
					background-color: #333;

					.txt {
						color: #fff;
					}
				}
			}

			&.n-pay {
				&:checked {
					+ .label {
						background-color: #333;

						i {
							@include sprite-image($icon-npay-on);
							@include sprite-position($icon-npay-on);
							@include sprite-width($icon-npay-on);
							@include sprite-height($icon-npay-on);
						}
					}
				}
			}

			&.payco {
				&:checked {
					+ .label {
						background-color: #333;

						i {
							@include sprite-image($icon-payco-on);
							@include sprite-position($icon-payco-on);
							@include sprite-width($icon-payco-on);
							@include sprite-height($icon-payco-on);
						}
					}
				}
			}

			&.smile-pay {
				&:checked {
					+ .label {
						background-color: #333;

						i {
							@include sprite-image($icon-smilepay-on);
							@include sprite-position($icon-smilepay-on);
							@include sprite-width($icon-smilepay-on);
							@include sprite-height($icon-smilepay-on);
						}
					}
				}
			}

			&.kakao-pay {
				&:checked {
					+ .label {
						background-color: #333;

						i {
							@include sprite-image($icon-kakaopay-on);
							@include sprite-position($icon-kakaopay-on);
							@include sprite-width($icon-kakaopay-on);
							@include sprite-height($icon-kakaopay-on);
						}
					}
				}
			}

			&.samsung-pay {
				&:checked {
					+ .label {
						background-color: #333;

						i {
							@include sprite-image($icon-samsungpay-on);
							@include sprite-position($icon-samsungpay-on);
							@include sprite-width($icon-samsungpay-on);
							@include sprite-height($icon-samsungpay-on);
						}
					}
				}
			}
		}

		.label {
			display: flex;
			justify-content: center;
			align-items: center;
			width: 193px;
			height: 70px;
			border: 1px solid #ccc;
			background-color: #fff;
			cursor: pointer;

			&.txt-label {
				width: 328px;

				.txt {
					position: relative;
					color: #333;
					font-size: $size-5;
				}
			}
		}
	}
}

.payment-info-wrap {
	display: none;
	margin-top: 30px;
	padding: 40px 0;
	border-top: 1px solid #eee;

	&--title {
		// width: 180px;
		width: 200px;
		color: #333;
		font-size: $size-5;
	}

	&--info {
		width: 804px;

		.dot-list {
			width: 100%;

			li {
				color: #777;
				font-size: $size-6;
				word-break: keep-all;
			}
		}

		.button-area {
			width: 100%;
			margin-top: 35px;

			button + button {
				margin-left: 7px;
			}
		}
	}
}

.payment-amount-wrap {
	border: 1px solid #eee;

	.item-title {
		display: inline-block;
		width: 100%;
		padding: 25px 18px;
		color: #333;
		font-size: $size-4;
		font-weight: 400;
		border-bottom: 1px solid #eee;
	}

	.button {
		margin: 0 20px 20px 20px;
		width: calc(100% - 40px);
	}
}

.item-dl-layout {
	.total {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 12px 0;

		.title {
			margin: 0;
			color: #333;
			font-size: 13px;
			font-weight: 400;
		}

		.price {
			color: #333;
			font-size: 16px;

			.num {
				margin-right: 3px;
				font-size: 12px;
				font-weight: 600;
			}
		}
	}

	.text {
		display: inline-block;
		min-width: 15px;
		text-align: center;
	}

	.dl-group {
		margin-bottom: 10px;

		dl {
			display: flex;
			justify-content: space-between;
			align-items: center;
			// padding: 3px 0;

			.title {
				margin: 0;
				color: #333;
				font-size: 13px;
				font-weight: 400;
			}

			.price {
				color: #333;
				font-size: 12px;

				.num {
					margin-right: 3px;
					font-size: 16px;
					// font-weight: 600;
				}
			}

			.total-title {
				font-size: 14px;
				font-weight: 600;
			}

			.total-price {
				font-size: 20px;
				font-weight: 600;
			}
		}

		.detali {
			display: none;

			dl {
				.title {
					margin: 0;
					font-size: 12px;
					font-weight: 400;
					color: #ccc;
				}

				.price {
					color: #ccc;
					font-size: 12px;

					.num {
						margin-right: 3px;
						font-size: $size-5;
					}
				}

				&:last-child {
					margin-bottom: 20px;
				}
			}

			&.is-active {
				display: block;
			}
		}
	}

	.add-discount {
		dl {
			.title {
				color: #28a0e4;
				font-size: 12px;
			}

			.price {
				color: #28a0e4;
				font-size: 14px;

				.num {
					font-size: 14px;
				}

				.text {
					font-size: 12px;
				}
			}
		}
	}
}

.total-price-wrap {
	padding: 10px 20px;
	background-color: #f9f9f9;

	.total {
		padding: 20px 0;

		.title {
			margin: 0;
			color: #333;
			font-size: $size-5;
			font-weight: 400;
		}

		.price {
			margin-top: 15px;
			color: #ed2650;
			font-size: $size-5;
			font-weight: 600;
			text-align: right;

			.num {
				margin-right: 3px;
				font-size: $size-3;
			}
		}
	}

	.dl-group {
		padding: 20px 0;
		border-top: 1px solid #eee;

		dl {
			display: flex;
			justify-content: space-between;
			align-items: center;

			.title {
				margin: 0;
				color: #777;
				font-size: $size-6;
				font-weight: 400;
			}

			.price {
				color: #333;
				font-size: $size-6;

				.num {
					margin-right: 3px;
					font-size: $size-5;
				}
			}
		}
	}
}

/* [팝업] 공통 */
.border-top-line {
	border-top: 1px solid #eee;
}

.popup-tab.tabs.is-toggle {
	.tab {
		height: 50px;
		font-size: $size-4;
	}
}

/* 팝업 툴팁 공통 */

.modal-tooptip-wrap {
	position: relative;

	.modal-card-title {
		.icon-tooltip {
			margin: -3px 0 0 5px;
			vertical-align: middle;

			&:hover {
				background: url(../images/common/tooltip_arrow_on.png) no-repeat center;

				+ .modal-card-title--tooltip {
					display: block;
				}
			}
		}

		&--tooltip {
			display: none;
			position: absolute;
			top: 65px;
			left: 212px;
			z-index: 10;
			width: 460px;
			padding: 20px;
			border: 1px solid #ccc;
			background-color: #fff;

			.modal-tooltip-title {
				vertical-align: top;
			}
		}
	}
}

// mobile

.collaps-new-type {
	.collapsible-card-wrap {
		.card-header {
			&-title {
				display: inline-block;
				color: #333;
				font-size: 1.4rem;
				font-weight: 600;
				vertical-align: middle;
			}
		}
	}
}

.cart-add-item {
	&.item-lists {
		display: block;
		border-top: 1px solid #ccc;

		> li {
			display: none;
			padding: 15px 0;
			border-top: 1px solid #eee;

			&:first-child {
				display: block;
				border-top: none;
			}

			.item-detail {
				width: 100%;

				.btn-discount-coupon {
					display: inline-block;
					min-width: auto;
					margin-top: 20px;
				}
			}
		}
	}
}

.payment-selet-wrap {
	h3 {
		&.is-bottom-liner {
			margin-bottom: 0;
			padding-bottom: 1rem;
			border-bottom: 1px solid #ccc;
		}
	}

	.radio-list {
		margin: 15px 0;

		.radio {
			margin: 0;
		}
	}

	.select-lists {
		.simple-payment {
			display: none;
		}
	}

	.checkbox-wrap {
		margin: 15px 0 20px;

		.checkbox {
			margin: 0;
		}
	}

	.btn-payment-info-wrap {
		padding: 15px 0 20px;
		border-top: 1px solid #eee;

		.btn {
			padding: 0;
		}
	}
}

.info-box {
	padding: 20px;

	&.__gray {
		background-color: #f9f9f9;
	}

	&.__top--liner {
		border-top: 1px solid #eee;
	}
}

.payment-radio-wrap {
	h3 {
		&.is-bottom-liner {
			margin-bottom: 0;
			padding-bottom: 1rem;
			border-bottom: 1px solid #ccc;
		}
	}

	.radio-list {
		margin: 15px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.radio {
			margin: 0;

			label {
				color: $black;

				span {
					color: #777;
				}
			}
		}

		button {
			text-decoration: underline;
			padding: 0;
		}
	}

	&-row {
		border-bottom: 1px solid #eee;

		.checkbox-list {
			margin: 15px 0;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.checkbox {
				margin: 0;

				label {
					font-size: 14px;
					font-weight: 600;
					color: $black;
				}
			}
		}
	}
}

.payment-checkbox-wrap {
	h3 {
		&.is-bottom-liner {
			margin-bottom: 0;
			padding-bottom: 1rem;
			border-bottom: 1px solid #ccc;
		}
	}

	.checkbox-list {
		margin: 15px 0;
		display: flex;
		justify-content: space-between;
		align-items: center;

		.checkbox {
			margin: 0;

			label {
				color: $black;

				span {
					color: #777;
				}
			}
		}

		button {
			text-decoration: underline;
			padding: 0;
		}
	}

	&-row {
		border-bottom: 1px solid #eee;

		.checkbox-list {
			margin: 15px 0;
			display: flex;
			justify-content: space-between;
			align-items: center;

			.checkbox {
				margin: 0;

				label {
					font-size: 14px;
					font-weight: 600;
					color: $black;
				}
			}
		}
	}
}

// 주문완료
.centered-box {
	margin: 50px 0;
	text-align: center;

	&-tit {
		color: #333;
		font-size: 1.4rem;
		font-weight: 600;
		line-height: 1;

		&.__flex {
			display: flex;
			justify-content: center;
			align-items: center;
			margin-top: -2.5rem;
			&.-left {
				justify-content: left;
			}
			+ {
				p {
					line-height: 1.5;
					margin-bottom: -2rem;
				}
			}
		}
	}

	&-txt {
		margin-top: 10px;
		color: #777;
		font-size: 1.3rem;
		line-height: 1.3;
	}

	&-badge {
		font-size: 3.3rem;
		margin-right: 0.9rem;
		+ .user-name {
			font-size: 1.6rem;
		}
	}

	.lstore-box-logo {
		padding: 0 20px;
		&::after {
			content: none;
		}
	}
}

.field.is-grouped > .control {
	flex-shrink: inherit;
}
