/* S : 공통 css */

.gallery-thumbs {
	padding: 0 60px;

	.swiper-slide {
		overflow: hidden;
		cursor: pointer;
		-webkit-filter: grayscale(100%);
		filter: gray;
		opacity: 0.5;

		&:hover,
		&-thumb-active {
			border: 2px solid #333;
			filter: none;
			opacity: 1;
		}
	}
}

.modal-button {
	cursor: pointer;
}

// common css (best-product-review)
.product-review-top {
	display: flex;
	justify-content: space-between;
	height: 50px;

	.product-review-stats-area {
		.stats-rate-wrap {
			display: inline-flex;
			height: 20px;
			vertical-align: top;
			align-items: center;
			margin-right: 35px;
		}

		.stats-rate {
			vertical-align: top;
		}

		&__title {
			display: inline-flex;
			height: 20px;
			align-items: center;
			font-size: $size-4;
			color: #333;
			line-height: 1;
			font-weight: 400;
		}
	}
}

.navigation-box1 {
	.swiper-button-next,
	.swiper-button-prev {
		width: 70px;
		height: 70px;
		color: #fff;
		background-color: rgba(0, 0, 0, 0.9) !important;
		opacity: 0.5;
		transition: opacity 0.5s;

		&:hover {
			opacity: 1;
		}
	}

	.swiper-button-next {
		right: 13px;
	}

	.swiper-button-prev {
		left: 14px;
	}
}

.img-size-80 {
	overflow: hidden;
	display: inline-block;
	width: 80px;
	height: 80px;

	img {
		width: auto;
		height: 80px;
	}
}

.img-size-90 {
	overflow: hidden;
	display: inline-block;
	width: 90px;
	height: 90px;

	img {
		width: auto;
		height: 90px;
	}
}

.img-size-100 {
	overflow: hidden;
	display: inline-block;
	width: 100px;
	height: 100px;

	img {
		width: auto;
		height: 100px;
	}
}

.img-size-320 {
	overflow: hidden;
	display: inline-block;
	width: 320px;
	height: 320px;

	img {
		min-width: 540px;
		width: auto;
		height: 320px;
	}
}

.img-size-520 {
	overflow: hidden;
	display: inline-block;
	width: 520px;
	height: 520px;

	img {
		width: auto;
		height: 520px;
	}
}

.img-size-534 {
	overflow: hidden;
	display: inline-block;
	width: 534px;
	height: 180px;

	img {
		width: auto;
		height: 180px;
	}
}

.img-size-540 {
	overflow: hidden;
	display: inline-block;
	width: 540px;
	height: 540px;

	img {
		width: auto;
		height: 540px;
	}
}

.img-size-640 {
	overflow: hidden;
	display: inline-block;
	width: 640px;
	height: 640px;

	img {
		width: auto;
		height: 640px;
	}
}

.img-size-1000 {
	overflow: hidden;
	width: 1000px;
	display: inline-block;
	height: 700px;

	img {
		width: auto;
		height: 700px;
	}
}

.img-size-1086 {
	overflow: hidden;
	width: 1086px;
	display: inline-block;
	height: 360px;

	img {
		width: auto;
		height: 360px;
	}
}

/* E : 공통 css */

.product-review-contents {
	font-size: $size-4;
	color: #333;

	&__text {
		color: #888;

		&-none {
			display: none;
		}

		&.is-active {
			display: block;
		}
	}
}

.product-review-user {
	display: flex;
	margin-top: 12px;

	&__id {
		&::after {
			display: inline-block;
			height: 9px;
			margin-right: 8px;
			padding-right: 12px;
			border-right: 1px solid #888;
			content: '';
		}
	}

	&__good {
		height: 67px;
		margin-top: -15px;
		padding: 0;

		.icon-bg {
			display: inline-block;
			width: 50px;
			height: 50px;
			margin-top: -16px;

			border-radius: 100%;
			background-color: #888;
			text-align: center;
			font-weight: 600;

			i {
				display: inline-block;
				margin-top: 12px;
				@include sprite-image($icon-good_hand);
				@include sprite-position($icon-good_hand);
				@include sprite-width($icon-good_hand);
				@include sprite-height($icon-good_hand);
			}
		}

		&-count {
			display: inline-block;
			width: 60px;
			text-align: right;
			font-weight: 600;
			vertical-align: top;
			color: #777;
		}

		&.is-active {
			.icon-bg {
				background-color: $red;
			}

			.product-review-user__good-count {
				color: $red;
			}
		}
	}
}

.product-review-more-button {
	position: relative;
	display: inline-block;
	margin: -10px -10px -6px;
	padding: 10px;
	line-height: 1;
	color: #777;
	cursor: pointer;

	&:after {
		content: '';
		display: block;
		position: absolute;
		width: 49px;
		height: 1px;
		padding-bottom: 1px;
		background-color: #777;
	}
}

.product-review-images {
	.img-size-100 {
		margin-right: 7px;
	}

	&:last-child {
		margin-right: 0;
	}
}

.pitem-tabs {
	position: absolute;
	top: 50px;
	left: 50%;
	height: 5rem;
	margin: 0 !important;
	border: none;
	background-color: transparent;
	transform: translateX(-50%);
	transition: all 0.5s #{$transition};

	&.is-active {
		top: 0px;
	}

	ul {
		border: none;
	}

	li {
		&.is-active a {
			color: #ed2650;
		}

		a {
			border: none;
			padding: 0 0.5em;

			span {
				display: inline-flex;
				height: 5rem;
				line-height: 1.1;
				align-items: center;
			}
		}
	}

	&-wrap {
		position: relative;
		z-index: 0;
		width: 100%;
		height: 5rem;

		> .title {
			position: absolute;
			top: 0px;
			width: 100%;
			left: 50%;
			transform: translateX(-50%);
			text-align: center;
			transition: all 0.5s #{$transition};

			&.is-upperto {
				top: -50px;
			}
		}
	}
}

.pitem-info {
	&__title {
		margin: 2.5rem 0 !important;
		font-size: 2.5rem;
		font-weight: 600;
		line-height: 1.2;
		// text-align: left !important;
		color: #333;
	}

	&__title--sub {
		font-size: $size-2 !important;
		font-weight: 600;
		line-height: 1.4;
		color: #333;
	}

	&__subtitle {
		margin: 2.5rem 0 0.8rem 0 !important;
		font-size: 1.7rem !important;
		color: #333;
	}
}
#pitem-main-info {
	table {
		margin: 0;
		padding: 0;
		th,
		td {
			margin: 0;
			padding: 0;
		}
	}

	&::before {
		display: block;
		position: absolute;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 80px;
		background: linear-gradient(180deg, rgba(255, 255, 255, 0), #fff);
		content: '';
		z-index: 1;
	}
}
.pitem-section-info {
	p {
		margin: 0.8rem 0 1.6rem 0;
	}
}
#pitem-main-info,
.pitem-section-info {
	position: relative;
	overflow: hidden;
	min-height: 100px;
	//margin: 0px 0 4rem;
	font-size: $size-3;
	font-weight: 400;
	line-height: 1.9;
	color: #777;

	&.is-active {
		// height: auto;

		&::before {
			display: none;
		}
	}

	.dot-list > li {
		font-size: $size-3 !important;
		color: #333;

		&::before {
			// margin-top: -0.6rem;
		}
	}

	p {
		word-break: keep-all;
		word-wrap: break-word;
		text-align: left;
	}

	a {
		display: block;
		color: #777;
	}

	.row {
		margin: 2rem 0 5.4rem 0;
		& + .row {
			margin: 2rem 0;
		}
		&:first-child {
			margin-top: 2rem;
			padding-top: 0;
		}

		img {
			margin: 0.5rem 0;
			vertical-align: top;
		}
		// &:last-child {
		// 	margin-bottom: 2rem;
		// }
	}

	img {
		max-width: 100%;
		text-align: center;
	}

	.columns {
		display: block;
		margin: 5.5rem -1rem;
		text-align: left;

		.column {
			padding: 0.5rem 1rem;

			p {
				margin: 1.5rem 0;
				// font-size: $size-5;
			}
		}
	}
	&__wide {
		width: 100%;
		.column {
			p {
				max-width: 526px;
				@include until(769px) {
					max-width: inherit;
				}
			}
			&:first-child {
				p {
					margin-left: auto;
					@include until(769px) {
						margin-left: inherit;
					}
				}
			}
			&:last-child {
				p {
					margin-right: auto;
					@include until(769px) {
						margin-right: inherit;
					}
				}
			}
		}
	}
}

.button.pitem-detail-button {
	display: block;
	width: 95%;
	height: 55px;
	margin: 0 auto;
	font-weight: 600;
	font-size: 1.5rem;
	color: #333;
	border: 1.5px solid #323232;
	box-shadow: 0px 3px 11px rgba(0, 0, 0, 0.15);
	border-radius: 5px;

	&.btn-toggle {
		i {
			margin-left: 1rem;
		}

		&.on {
			i {
				transform: rotate(180deg);
				margin-bottom: 0.2rem;
			}
		}
	}
}

.horizon-list-menu {
	margin: 0;
	font-size: 0;
	text-align: left;

	li {
		display: inline-block;

		&::before {
			display: inline-block;
			margin: -2px 1rem 0;
			content: '|';
			color: #cacaca;
			vertical-align: middle;
			font-size: $size-6;
			line-height: 1.6;
		}

		&:first-child::before {
			display: none;
		}

		a {
			color: #777;
			font-size: $size-6;
			vertical-align: middle;

			&:hover,
			&:active {
				text-decoration: underline;
				color: #333;
			}
		}
	}
}

.is-link {
	padding: 0;
	margin: 0;
	line-height: 1.4;

	.icon-tooltip-q {
		display: inline-flex;
		width: 15px;
		height: 15px;
		margin-top: -2px;
		margin-left: 0.4em;
		vertical-align: middle;
	}

	// .ico-tooltip {
	// 	display: inline-block;
	// 	width: 15px;
	// 	height: 15px;
	// 	margin-top: -2px;
	// 	margin-left: 0.4em;
	// 	vertical-align: middle;
	// 	background: url(../images/common/tooltip_arrow_off.png) no-repeat center;
	// 	background-size: contain;
	// }

	.icon-info {
		margin-left: 0.4em;
	}

	// &:hover {
	// 	.ico-tooltip {
	// 		background: url(../images/common/tooltip_arrow_on.png) no-repeat center;
	// 		background-size: contain;
	// 	}
	// }
}

// group-purchase
.pitem-group-purchase-wrap {
	margin: 0 -10px;
}

.pitem-group-purchase {
	display: flex;
	align-items: center;
	max-width: 890px;
	margin: 0 auto;
	padding: 15px 10px 15px 10px;

	&-chart {
		position: relative;
		width: 80px;
		height: 80px;
		margin-right: 15px;
		z-index: 0;

		& > canvas {
			position: relative;
			z-index: 10;
		}

		& > strong {
			display: flex;
			position: absolute;
			top: 0;
			left: 0;
			z-index: 0;
			width: 80px;
			height: 80px;
			justify-content: center;
			align-items: center;
			border: 6px solid #ccc;
			border-radius: 100%;
			text-align: center;
			line-height: 80px;
			letter-spacing: -2px;
			color: #5bcec2;
			font-size: 2.5rem;
			font-weight: 400;

			i {
				font-style: normal;
			}
		}
	}

	&-date {
		font-size: 0;
		font-weight: 600;
		line-height: 1;
		letter-spacing: -1px;

		.dday {
			color: #2d7870;
			font-size: 3rem;

			em {
				font-style: normal;
			}

			&.__gary {
				color: #777;
			}
		}

		.time {
			color: #5bcec2;
			margin-left: 1rem;
			font-size: 3rem;

			&.__gary {
				color: #999;
			}
		}

		.day {
			display: none;

			&.__gary {
				color: #999;
			}
		}

		.decimal {
			font-size: 3rem;

			&.__gary {
				color: #777;
			}
		}

		&--badge {
			display: inline-block;
			padding: 0.4rem 1rem;
			background-color: #333;
			border-radius: 2px;
			color: #fff;
			line-height: 1;
			font-size: $size-5;
			font-weight: normal;
			letter-spacing: 0;
			vertical-align: middle;

			&-wrap {
				margin-bottom: 0.5rem;
			}
		}
	}

	&-price {
		margin-top: 0.8rem;
		color: #333;
		font-size: 1.2rem;

		em {
			font-weight: 600;
			font-style: normal;
		}
	}

	&-info {
		.txt {
			color: #333;
			font-size: 1.2rem;
			line-height: 1;
			letter-spacing: -0.1px;

			+ .txt {
				margin-top: 10px;
			}
		}
	}
}

// time sale
.pitem-time-sale-wrap {
	.pitem-time-sale {
		display: flex;
		justify-content: space-between;
		align-items: center;
		padding: 7px 10px;
		background: #333;
		font-size: $size-4;
		color: #fff;

		+ .pitem-time-sale {
			margin-top: 5px;
		}

		&__title {
			flex: 0 0 72.5px;
			font-size: 1.2rem;

			i {
				display: inline-block;
				margin-right: 5px;
				font-size: 1.5rem;
				vertical-align: text-top;
			}
		}

		dd {
			min-width: 100px;
			margin-left: 5px;
			flex-grow: 9;
			display: flex;
			justify-content: space-between;

			.pitem-time-sale__date {
				color: #fff;

				strong {
					font-weight: 400;
					color: #fff;
				}

				.decimal {
					display: none;
				}
			}

			i {
				margin: 0px 0 -8px;
			}
		}
	}
}

.content-share {
	&-wrap {
		position: relative;
		width: 50px;
		height: 50px;
		display: inline-block;

		&:hover {
			.content-share-inner {
				top: -5px;
				width: 270px;
				height: 60px;
				border: 1px solid #333;
				background-color: #fff;

				.content-share__link {
					position: static;
					visibility: visible;
					opacity: 1;
					transition: opacity 0.5s;

					&:hover {
						background-color: #f4f4f4;
					}
				}
			}
		}
	}

	&__link {
		position: absolute;
		right: 10px;
		top: 10px;
		display: inline-flex;
		width: 40px;
		height: 40px;
		border-radius: 100%;

		align-items: center;
		justify-content: center;
		visibility: hidden;
		opacity: 0;
		vertical-align: middle;
	}

	&-inner {
		display: inline-flex;
		overflow: hidden;
		position: absolute;
		top: 0;
		right: 0;
		z-index: 10;
		width: 50px;
		height: 50px;
		padding: 0 14px;
		border: 1px solid #ccc;
		transition: all 0.2s #{$transition};
		align-items: center;
		justify-content: space-between;
	}

	&__button.button {
		border: none;
		width: 48px;
		min-width: 48px;
		height: 48px;
		padding: 0;
	}
}

.button-pitem-map {
	position: relative;
	right: -2px;
	justify-content: center;
	min-width: 30px;
	height: 45px;
	padding: 0;
	border: none;
	outline: none;

	i {
		font-size: 2.3rem;
	}
}

.pitem-header {
	margin-top: 50px;
	margin-bottom: 50px;

	> .fl {
		width: 610px;
	}

	> .fr {
		width: 700px;
	}

	&-section {
		margin: 0;
		color: #888;
		font-size: $size-normal;

		dt,
		dd,
		button {
			font-size: $size-normal;
		}

		&-lists {
			padding-top: 8px;

			> li {
				padding: 13px 0;
				border-top: 1px solid #eee;

				&:first-child {
					border-top: none;
				}
			}
		}

		&__dl {
			display: flex;

			&:not(:first-child) {
				margin-top: 13px;
			}
		}

		&__dt {
			flex-grow: 0;
			width: 145px;
			color: #333;
			font-weight: 600;
		}

		&__dd {
			display: block;
			width: 550px;
			flex-grow: 1;
			color: #888;

			.item-free {
				display: block;
			}

			&-item {
				margin-top: 10px;
				.color-gray {
					display: block;
					@include word-wrap();
				}
				&:first-of-type {
					margin-top: 0;
				}
			}
		}

		&--code {
			.pitem-header-section__dt {
				display: inline-flex;
				align-items: center;
				height: 30px;
			}

			.pitem-header-section__dd .inline-flex {
				height: 30px;
			}
		}

		&--delivery {
			.pitem-header-section__dd {
				line-height: 1.7;
			}

			&__link {
				overflow: hidden;
				display: block;
				position: relative;
				color: #888;
				padding-right: 30px;
				word-break: keep-all;

				+ .is-collapsible {
					padding-right: 30px;
					word-break: keep-all;
				}

				.row {
					display: block;
				}

				.icon {
					position: absolute;
					top: 30px;
					right: 0;
					width: 20px;
					height: 20px;
					margin-top: -10px;
				}
			}
		}

		&--freegift {
			.images-list {
				li {
					width: 72px;
					margin-right: 5px;
					.freegift__name {
						font-size: 1.3rem;
					}
				}
			}
		}

		&--tooltip {
			display: none;
			position: absolute;
			top: 22px;
			right: 0;
			z-index: 10;
			width: 300px;
			padding: 15px;
			border: 1px solid #ccc;
			background-color: #fff;

			dt,
			dd {
				font-size: $size-3;
			}

			&__title {
				font-size: $size-normal;
				font-weight: 600;
				color: #333;
				margin-bottom: 7px;
				line-height: 1.1;
			}
		}

		.is-link {
			display: inline-flex;
			color: #888;
			align-items: center;

			&.is-active {
				+ .pitem-header-section--tooltip {
					display: block;
					left: -30px;
					right: auto;
					width: 260px;
					padding: 10px;
					dt,
					dd {
						font-size: 1.3rem;
					}
				}
			}

			i {
				display: inline-block;
				margin-left: 5px;
				font-size: 1.5rem;
			}
		}

		&-flex {
			display: flex;
			justify-content: space-between;
			align-items: flex-end;
		}

		&__price {
			display: inline-flex;
			align-items: baseline;
			color: #333;
			font-size: 2.4rem;
			font-weight: 600;
			letter-spacing: -0.1px;
			vertical-align: middle;

			.unit {
				display: inline-block;
				margin: 0 0 0 0.2rem;
				font-size: 1.4rem;
				font-weight: 400;
				line-height: 1;
			}

			&--del {
				display: block;
				// margin-bottom: 5px;
				font-size: 1.4rem;

				.unit {
					margin-left: 0.2rem;
				}
			}
		}

		&__sale {
			display: inline-block;
			color: #ed2650;
			font-size: 2.4rem;
			font-weight: 600;

			+ i {
				display: inline-block;
				margin: 2px 0 0 6px;
				font-size: 1.5rem;
			}

			.unit {
				font-size: 1.5rem;
				font-weight: 400;
			}
		}

		&__button {
			&--wrap {
				.button {
					justify-content: flex-end;
					width: 30px;
					height: 36px;
					min-width: 30px;
					padding: 0;
					border: none;

					&.btn-wish {
						i {
							color: #ed2650;
							font-size: 2rem;
						}

						&.is-active {
							i {
								&:before {
									content: '\e967';
								}
							}
						}
					}

					&.content-share__button {
						// margin-left: 5px;
						// background-color: red;

						i {
							font-size: 1.8rem;
						}
					}
				}
			}
		}
	}

	&-coupon {
		display: flex;
		justify-content: space-between;
		align-items: center;
		height: 40px;
		padding: 0 10px;
		background-color: #f3f9ff;

		&__text {
			font-size: 1.2rem;
			color: #333;

			strong {
				color: #385ea3;
			}
		}
	}

	&-photo {
		position: relative;
		overflow: hidden;

		.modal-button {
			display: block;
			font-size: 0;
		}

		&__badge {
			display: block;
			position: absolute;
			left: 0;
			top: 0;

			.image {
				width: 60px;
			}
		}
		
		&__audio {
			display: block;
			position: absolute;
			right: 0;
			bottom: 4rem;
			padding: 0.6rem 1rem;
			background-color: #fff;
			border-top-left-radius: 9px;
			border-bottom-left-radius: 9px;
		
			button {
				p {
					font-size: 15px;
					line-height: 0.8;
				}
			}
		}

		.modal .image {
			margin: 0 auto;
			text-align: center;
		}

		.gallery-photo {
			margin-bottom: 20px;

			.swiper-slide {
				width: 610px;
				height: 610px;
				overflow: hidden;

				> img {
					width: auto;
					height: 610px;
				}
			}
		}

		/* gallery-thumbs 공통부분 있어 상단에 공통으로 뺐음 */
		.gallery-thumbs {
			padding: 0 60px;

			.swiper-slide {
				width: 110px;
				height: 110px;
			}

			.swiper-button-prev {
				top: 50%;
				left: 0;
				margin-top: -25px;
			}

			.swiper-button-next {
				top: 50%;
				right: 0;
				margin-top: -25px;
			}
		}
	}

	&-info {
		&__top {
			> .fl {
				display: inline-flex;
				align-items: center;
				height: 45px;

				> a {
					display: inline-flex;
				}
			}

			> .fr {
				display: inline-flex;
				align-items: center;
				height: 45px;
			}
		}

		&__tag {
			display: inline-flex;
			height: 25px;
			padding: 0 1.5em;
			margin-right: 10px;
			border: 1px solid #000;
			border-radius: 2px;
			color: #333;
			font-size: $size-7;
			line-height: 1;
			align-items: center;
		}

		&__title {
			.row {
				margin-bottom: 15px;
			}

			.title {
				margin-bottom: 12.5px;
				font-size: 1.8rem;
				font-weight: normal;
				line-height: 1.4;
				letter-spacing: -0.1px;
				clear: both;
			}
		}

		&__title-tag {
			display: inline-block;
			float: left;
			width: 60px;
			height: 20px;
			margin-right: 5px;
			color: #fff;
			font-size: $size-5;
			line-height: 20px;
			text-align: center;
			vertical-align: middle;
			border-radius: 2px;
			align-items: center;
			justify-content: center;

			&--green {
				background-color: #64935d;
			}
			&--black {
				background-color: #333;
			}
			&--blue {
				background-color: #28a0e4;
			}
			&--orange {
				background-color: #ff8d39;
			}
			&--red {
				background-color: #ed2650;
			}
			&--brown {
				background-color: #9d8474;
			}
			&--mint {
				background-color: #46ceac;
			}
			&--pink {
				background-color: #be56ee;
			}
		}
	}

	&-notice {
		margin-top: 7px;
		padding: 5px 15px;
		background-color: #f9f9f9;

		&__dl {
			display: block;
			margin-top: 10px;
			margin-bottom: 10px;
			font-size: 1.3rem;
		}

		&__dt {
			color: #333;
		}

		&__dd {
			margin-top: 7px;
		}
	}

	&-package-product {
		display: flex;
		margin-bottom: 1rem;
		padding: 1rem;
		border: 1px solid #ccc;
		font-size: $size-5;
		color: #333;

		&__image {
			overflow: hidden;
			width: 60px;
			height: 60px;
			margin-right: 20px;
			border: 1px solid #ccc;
		}
	}

	&-toggle-btn,
	&-product {
		display: none;
	}

	&-btns {
		display: flex;
		align-items: center;
		justify-content: flex-end;

		&.btns-soldout {
			.pitem-header-btns__icon {
				.button-icon-only {
					border-color: transparent;
					&:hover,
					&:focus {
						border-color: transparent;
					}

					&.giftGoods {
						background: #ddd;
						border-color: #ddd;
						color: #777;
					}
				}
			}
			.pitem-header-btns__icon + .pitem-header-btns__full {
				border-left: 1px solid #fff;
			}
		}

		&-wrap {
			position: fixed;
			left: 0;
			bottom: 0;
			z-index: 20;
			width: 100%;
		}

		&-inner {
			position: relative;
			.btns-consult2 {
				display: block;
				.button {
					width: 50%;
				}
			}
			.btns-consult3 {
				display: block;
				.button {
					width: 33.33%;
				}
			}

			.btn-toggle {
				display: flex;
				justify-content: center;
				align-items: center;
				position: absolute;
				top: -26px;
				left: 0;
				z-index: 1;
				// width: 78px;
				// height: 20px;
				width: 100%;
				height: 26px;
				// border-radius: 100px 100px 0 0;
				padding: 0;

				&:before {
					content: '';
					display: block;
					position: absolute;
					z-index: 0;
					top: 21px;
					left: 0;
					width: 100%;
					height: 20px;
					// width: 78px;
					// height: 20px;
					// background: url(../images/common/bg-toggle.png) no-repeat 50% 0;
					// background-size: 78px auto;
					box-shadow: 0 -9px 15px rgba(0, 0, 0, 0.1);
					// transform: translateX(-50%);

					// border-top: 1px solid #f1f1f1;
					// box-shadow: 0 -10px -20px rgba(0, 0, 0, 0.1);
				}
				&:after {
					content: '';
					display: block;
					position: absolute;
					z-index: 0;
					top: 18px;
					left: 0;
					width: 100%;
					height: 8px;
					background-color: #f9f9f9;
				}

				&.on {
					i {
						&:before {
							transform: rotate(0deg);
						}
					}
				}

				i {
					position: relative;
					display: flex;
					margin-top: -23px;
					z-index: 1;
					width: 78px;
					height: 35px;
					background: url(../images/common/bg-toggle.png) no-repeat
						50% 100%;
					background-size: 78px auto;
					align-items: center;
					justify-content: center;
					padding-top: 15px;
					&:before {
						display: block;
						color: #333;
						font-size: 1.5rem;
						transform-origin: 50%, 50%;
						transform: rotate(180deg);
					}
				}
			}

			.item-contents {
				&-wrap {
					display: none;
					overflow-y: auto;
					height: 50vh;
					max-height: 50vh;
					padding: 0 10px 10px;
					background-color: #f9f9f9;

					.pitem-header-package-product {
						border-color: #333;
					}

					&.cart-receipt {
						padding: 0 10px;

						.total-itam-pay {
							padding: 10px 0;
							border-bottom: 1px solid #eee;

							.itam-pay-wrap {
								padding: 0;

								dl {
									.tit {
										font-size: 1.2rem;
									}

									.number {
										font-size: 1.2rem;

										.num {
											font-size: 1.4rem;
										}
									}
								}
							}
						}
					}

					&__default {
						padding: 15px 0;
						background-color: #f9f9f9;

						.all-items-price {
							display: flex;
							justify-content: space-between;
							align-items: center;

							.all-items {
								color: #333;
								font-size: 1.2rem;

								.num {
									color: #ed2650;
									font-size: 1.5rem;
									font-weight: 600;
								}
							}

							.all-price {
								color: #ed2650;
								font-size: 1.4rem;
								font-weight: 600;

								.num {
									margin-right: 2px;
									font-size: 2.1rem;
									font-weight: 600;
								}
							}
						}
					}
				}

				&-price {
					&__all {
						padding: 15px 0 15px;

						.price-all-wrap {
							color: #333;
							font-size: 1.2rem;

							.price-all {
								font-size: 1.4rem;

								.num {
									margin: 0 5px 0 10px;
									font-size: 2.4rem;
									font-weight: 600;
								}
							}
						}
					}
				}

				&-add {
					&__button {
						display: flex;
						justify-content: space-between;
						align-items: center;
						margin-bottom: 10px;

						.txt-info {
							color: #333;
							font-size: 1.2rem;
						}

						.button {
							min-width: 85px;
							background-color: #fff;
						}
					}
				}
			}
		}

		&__icon {
			//width: 120px;
			font-size: 0;
			flex-grow: 0;
		}

		&__full {
			font-size: 0;
			flex-grow: 1;

			&.__layout3 {
				.button {
					width: 33.333%;
					padding: 0;
					min-width: auto;
				}
			}

			.button {
				margin: 0;
				display: inline-flex;
				width: 50%;
				min-width: auto;

				&.is-outlined {
					background-color: #fff;

					&:hover,
					&:focus {
						color: #333;
						background-color: #f9f9f9;
					}
				}

				&.is-fullwidth {
					width: 100%;
				}

				&:only-child {
					width: 100%;
				}
			}
		}

		.button {
			height: 40px;
			font-size: $size-4;
			font-weight: 600;

			&.button-icon-only {
				width: 40px;
				min-width: 60px;
				padding: 0;
				margin-left: -1px;
				border-color: #eee;
				border-right: none;
				&.giftGoods {
					border-color: transparent;
					background: rgb(69, 175, 247);
					background: -moz-linear-gradient(
						0deg,
						rgba(69, 175, 247, 1) 0%,
						rgba(30, 212, 230, 1) 100%
					);
					background: -webkit-linear-gradient(
						0deg,
						rgba(69, 175, 247, 1) 0%,
						rgba(30, 212, 230, 1) 100%
					);
					background: linear-gradient(
						0deg,
						rgba(69, 175, 247, 1) 0%,
						rgba(30, 212, 230, 1) 100%
					);
					color: #fff;
					flex-direction: column;
					filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#45aff7",endColorstr="#1ed4e6",GradientType=1);
					.text-small {
						display: block;
						margin-top: 0.3rem;
						font-size: 1.1rem;
						font-weight: 400;
					}
				}

				i {
					font-size: 2rem;
				}

				&:hover,
				&:focus {
					z-index: 1;
					border-color: #333;
					box-shadow: none;
				}

				// &.is-active {
				// 	border-color: transparent;
				// }

				&:first-child {
					margin-left: 0;
				}
			}
		}

		.pitem-header-one-btn {
			width: 284px;
			margin-left: 10px;
		}
	}

	// pitem header floating
	@at-root .pitem-header-floating-wrap {
		#pitem-header-collapsible-card {
			display: none;
		}
	}

	@at-root .pitem-header-floating-wrap.is-fixed {
		.pitem-header-floating {
			// width: 1366px;
			top: auto !important;
			left: 0;
			right: 0;
			bottom: -1px;
			z-index: 30;
			margin: 0 auto;
		}

		.pitem-header-card-header {
			overflow: hidden;
			display: flex;
			// width: 1366px;
			position: fixed;
			bottom: 0;
			z-index: 30;

			&.with-btns__layout3 {
				.pitem-header-product {
					width: calc(100% - 539px);
				}
			}

			.pitem-header {
				@at-root &-toggle-btn {
					display: inline-block;
					width: 60px;
					background-color: #333;
					color: #fff;

					.icon {
						display: block;
						text-align: center;
						line-height: 60px;
						transform: rotate(180deg);
						-webkit-transform: rotate(180deg);
						-moz-transform: rotate(180deg);
						-ms-transform: rotate(180deg);
						-o-transform: rotate(180deg);
					}

					&.is-active {
						.icon {
							transform: rotate(0);
							-webkit-transform: rotate(0);
							-moz-transform: rotate(0);
							-ms-transform: rotate(0);
							-o-transform: rotate(0);
						}
					}
				}

				@at-root &-product {
					display: flex;
					width: calc(100% - 479px);
					justify-content: space-between;
					height: 60px;
					padding: 0 20px;
					border: 1px solid #ccc;
					border-left: none;
					border-right: none;
					background-color: #f1f1f1;
					font-size: $size-2;
					line-height: 60px;

					> strong {
						font-size: $size-2;
					}

					&__price {
						> strong {
							font-size: $size-1;
						}

						.unit {
							color: #333;
						}
					}
				}

				@at-root &-btns {
					padding: 0;
					border: none;

					// &__icon {
					// 	button:first-child {
					// 		// display: none;
					// 	}
					// }

					&__full {
						width: 300px;
						padding-left: 0;

						&.__layout3 {
							width: 360px;
						}

						button {
							font-size: $size-2;
						}
					}
				}
			}
		}

		#pitem-header-collapsible-card {
			display: none;
			overflow-y: auto;
			width: 100%;
			height: 408px;
			margin-bottom: 60px;
			padding: 20px 20px 0;
			background-color: #fff;
			border: 1px solid #ccc;
			border-bottom: none;

			.fl {
				width: 590px;

				.pitem-option {
					margin-top: 0;
					margin-bottom: 1rem;
					font-size: $size-3;

					&:nth-last-child(2) {
						margin-bottom: 25px;
					}
				}

				.pitem-header-add-purchase {
					font-size: $size-3;

					div {
						margin-bottom: 0;
					}
				}
			}

			.fr {
				width: 700px;

				.pitem-header-btns {
					margin-bottom: 20px;
				}

				.pitem-option-selected {
					margin-top: 0;
					font-size: $size-3;
				}
			}
		}

		#pitem-header-collapsible-card.is-active {
			display: block;
		}
	}

	&-sum {
		display: block;
		font-size: $size-3;
		text-align: right;
		margin-top: 20px;
		//margin-bottom: 40px;
		padding: 0px 0px 20px;
		//border-bottom: 1px solid #333;

		&__price {
			color: #333;
			font-size: $size-4;

			strong {
				display: inline-block;
				margin: 0 10px;
				font-size: 40px;
			}
		}

		&__desc {
			color: #888;
			font-size: $size-6;
		}
	}

	&-add-purchase {
		font-size: $size-4;
		margin-bottom: 20px;

		> div {
			position: relative;
			width: 100%;
			height: 3.75em;
			margin-bottom: 40px;
			padding-left: 1.0625em;
			line-height: 3.75em;
			border: 1px solid #ccc;
			font-size: 1em;
			text-align: left;
			color: #333;

			.button.is-small {
				position: absolute;
				top: 1.09em;
				right: 1.25em;
				height: 2.307em;
				font-size: 0.813em;
			}
		}
	}

	&-review {
		margin: 40px 0;
		border-top: 1px solid #ccc;

		&__dl {
			display: table;
			width: 100%;
			border: 1px solid #ccc;
			border-top: none;
			font-size: $size-5;
		}

		&__dt {
			display: table-cell;
			width: 124px;
			padding: 20px 30px;
			color: #333;
			vertical-align: middle;
		}

		&__dd {
			display: table-cell;
			padding: 20px 30px 20px 0;
			color: #888;
			vertical-align: middle;

			&--rel {
				position: relative;
				padding-right: 125px;
			}

			&--flex {
				display: flex;
				align-items: center;

				.stats-rate-wrap {
					display: inline-flex;
					margin-right: 20px;
					flex-grow: 0;
					font-size: $size-4;
				}

				.flex-right {
					display: inline-flex;
					flex-grow: 1;
					justify-content: flex-end;
					text-align: right;
				}
			}
		}

		&__more {
			position: absolute;
			top: 50%;
			right: 30px;
			margin-top: -12px;
			color: #333;
			text-align: right;
			font-size: $size-4;

			i {
				display: inline-flex;
				height: 24px;
				margin-top: -1px;
				margin-left: 8px;
				font-size: $size-3;
				align-items: center;
			}

			&:hover,
			&:focus {
				color: #000;
			}
		}

		.link.color-red {
			margin-left: 30px;
			margin-right: 5px;
			font-weight: 600;
			margin-top: 2px;

			&:after {
				background-color: #ed2650;
			}

			&:hover,
			&:focus {
				color: #ed2650;
			}
		}
	}

	&-related {
		position: relative;
		overflow: hidden;

		.swiper-slide {
			clear: both;
			overflow: hidden;
		}

		.swiper-pagination {
			width: 100%;
			height: 1.8rem;
			z-index: 10;
			bottom: 0;
			text-align: center;

			&-bullet {
				display: inline-flex;
				width: 1.8rem;
				height: 1.8rem;
				margin: 0 0.2rem !important;
				align-items: center;
				justify-content: center;
				background-color: transparent;
				opacity: 0.3;

				&:before {
					content: '';
					display: block;
					width: 1rem;
					height: 1rem;
					border-radius: 100%;
					background-color: #333;
				}

				&-active,
				&:hover {
					// border: 1px solid #333;
					opacity: 1;
				}
			}
		}

		&__photo {
			float: left;
			overflow: hidden;
			width: 180px;
			height: 100px;
			font-size: 0;
		}

		&__txt {
			float: right;
			width: 408px;
			padding-right: 80px;
			font-size: $size-normal;

			strong {
				color: #333;
				font-weight: 400;
				display: block;
			}

			em {
				color: #8d8d8d;
				font-size: $size-3;
				font-style: normal;
			}

			.button {
				position: absolute;
				top: 25px;
				right: 0;
			}
		}
	}
}

#pitem-detail-3 {
	margin-top: -20px;
}

.pitem-section {
	margin-top: 0;

	&.pt0 {
		padding-top: 0;
	}

	&-header {
		&__title {
			display: inline-block;
			font-size: 1.5rem;
			color: #333;
			font-weight: 600;
		}

		&__num {
			display: inline-block;
			margin-left: 5px;
			font-size: $size-4;
			color: #8d8d8d;
			vertical-align: middle;
		}

		&__detailview-info {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 1.5rem 0;
			margin-bottom: 2rem;
			background-color: #f9f9f9;
			font-size: 1.3rem;
			text-align: center;
			color: #333;
		}

		&__detailview-info {
			i {
				font-size: 1.8rem;
			}
		}

		&__detailview-info {
			span {
				margin-left: 1.5rem;
			}
		}
	}

	&-body {
		margin-top: 1rem;
		// margin-bottom: 80px;

		.pitem-title-h4 {
			margin: 50px 0 40px;
			color: #333;
		}

		/* 추천상품 swiper */
		@at-root .recommendation-product {
			position: relative;
			margin: 0 -12.5px;

			.swiper-slide {
				.product-item--medium {
					display: inline-block;
					margin: 0 12.5px;
					vertical-align: top;

					& > .product-item--medium {
						margin: 0;
					}
				}
			}

			.swiper-button-prev,
			.swiper-button-next {
				top: 146px;
			}
		}

		// blogtype-review swiper
		@at-root .blogtype-review {
			position: relative;
			width: 1260px;
			margin: 0 auto;
			padding: 50px 50px 58px 50px;
			background-color: #f9f9f9;

			.swiper-pagination {
				padding-right: 50px;
				text-align: right;
				font-size: $size-4;
				bottom: 18px;
				color: #8d8d8d;

				.swiper-pagination-current {
					color: #333;
					font-weight: 600;
				}
			}
		}

		/* 리얼 리뷰 */
		@at-root .real-review-swiper {
			overflow: hidden;

			.real-review {
				&-gallery {
					position: relative;
					// width: 1000px;
					margin: 0 auto;
					&.__w100 {
						width: 100%;
						height: auto;
						.swiper-wrapper {
							width: 100%;
							height: auto;
							.swiper-slide {
								width: 100%;
								height: auto;
								font-size: 0;
								img {
									width: auto;
									max-height: 250px;
									min-height: 250px;
									object-fit: contain;
								}
								.comm-user__writer {
									display: inline-flex;
									height: 22px;
									margin-top: 0;
									font-size: 14px;
									line-height: 1.1;
									align-items: center;
									vertical-align: middle;
								}
								.thumb-video {
									&::after {
										content: none;
									}
								}
							}
						}
						.swiper-pagination-fraction {
							display: inline-block;
							position: absolute;
							left: auto;
							right: 20px;
							bottom: 14px;
							width: 30%;
							color: #fff;
							text-align: right;
							font-size: 14px;
						}
						.modal-button {
							overflow: hidden;
							width: 100%;
							height: auto;
						}
					}
					.swiper-slide {
						height: 700px;
						text-align: center;
						-webkit-filter: grayscale(100%);
						filter: gray;

						&-active {
							filter: none;
							opacity: 1;
						}
					}

					.navigation-box {
						width: 1040px;
						position: absolute;
						left: 50%;
						top: 50%;
						z-index: 1;
						margin-top: -15px;
						transform: translate(-50%, -50%);

						.swiper-button-next,
						.swiper-button-prev {
							width: 70px;
							height: 70px;
							color: #fff;
							background-color: rgba(0, 0, 0, 0.9);
							opacity: 0.5;
							transition: opacity 0.5s;

							&:hover {
								opacity: 1;
							}

							&:after {
								display: none;
							}
						}
					}
				}

				@at-root .real-review-gradient {
					&-left,
					&-right {
						position: absolute;
						top: 0;
						z-index: 1;
						width: 100%;
						height: 700px;
					}

					&-left {
						left: -1020px;
						background: linear-gradient(
							to right,
							rgba(255, 255, 255, 1) 85%,
							rgba(255, 255, 255, 0.9) 100%
						);
					}

					&-right {
						right: -1020px;
						background: linear-gradient(
							to left,
							rgba(255, 255, 255, 1) 85%,
							rgba(255, 255, 255, 0.9) 100%
						);
					}
				}

				@at-root &-bar {
					display: flex;
					justify-content: space-between;
					align-items: center;
					bottom: 0;
					z-index: 1;
					width: 100%;
					height: 50px;
					padding: 5px 20px;
					background-color: #000;
					opacity: 0.7;
					text-align: left;
					color: #fff;

					&-top {
						display: flex;
						align-items: center;
						z-index: 2;
						width: 100%;
						height: 50px;
						padding: 5px 20px;
						background-color: rgba(71, 177, 163, 0.7);
						color: #fff;
						font-size: $size-3;
					}

					.swiper-pagination {
						left: auto;
						right: 20px;
						bottom: 12px;
						color: #fff;
						text-align: right;
						font-size: $size-5;
					}
				}

				@at-root &-user {
					&__photo {
						display: inline-block;
						width: 36px;
						height: 36px;
						vertical-align: middle;

						img {
							border-radius: 100%;
							-webkit-border-radius: 100%;
							-moz-border-radius: 100%;
							-ms-border-radius: 100%;
							-o-border-radius: 100%;
						}
					}

					&__email {
						display: inline-block;
						margin-left: 8px;
						font-size: $size-5;
						vertical-align: middle;
					}
				}

				&-gallery-thumbs {
					overflow: hidden;
					width: 100%;
					margin: 0 auto;
					padding: 20px 0 0;

					.swiper-slide {
						display: flex;
						max-width: 90px;
						font-size: 0;
						height: auto;
						justify-content: center;
						position: relative;
						padding: 0 0 9.6%;
						overflow: hidden;

						& img {
							position: absolute;
							top: 50%;
							left: 50%;
							width: 100%;
							transform: translate(-50%, -50%);
						}
					}
				}
			}
		}

		// best-product-review
		@at-root .best-product-review {
			position: relative;
			width: 1260px;
			height: 316px;
			margin: 0 auto;
			padding: 40px;
			border: 1px solid #333;

			.modal-button {
				cursor: pointer;
			}

			.swiper-pagination {
				padding-right: 40px;
				text-align: right;
				font-size: $size-4;
				bottom: 34px;
				color: #8d8d8d;

				.swiper-pagination-current {
					color: #333;
					font-weight: 600;
				}
			}
		}

		// product-review
		@at-root .pitem-section-review-top {
			display: flex;
			justify-content: space-between;
			padding: 70px 0 30px;

			.pitem-section-review-header {
				h4 {
					display: inline-block;
					line-height: 0;
					color: #333;
				}

				&__num {
					display: inline-block;
					vertical-align: middle;
					margin-top: -5px;
					font-size: $size-4;
				}
			}
		}

		@at-root .product-review {
			&-select-area {
				.dropdown-wrap {
					display: inline-block;
					vertical-align: top;
				}

				.checkbox {
					margin-top: 17px;
				}
			}

			&-list {
				&-div {
					padding: 20px 20px 18px;
					border-top: 1px solid #eee;
				}
			}
		}

		/* 연관상품 swiper */
		@at-root .related-product {
			position: relative;
			margin: 40px -12.5px;

			.swiper-slide {
				.product-item--medium {
					display: inline-block;
					margin: 0 12.5px;
					vertical-align: top;

					& > .product-item--medium {
						margin: 0;
					}
				}
			}

			.swiper-button-prev,
			.swiper-button-next {
				top: 146px;
			}
		}
	}
}
/* 상품정보 */
.pitem-section-body .dot-list li {
	font-size: 1.3rem;
}
.pitem-section-body {
	&.contens-gray-contour {
		&::after {
			margin-top: 20px;
		}
	}
	.table-dl-wrap {
		.table-dl-row__dt {
			width: 120px;
		}
	}
}

.pitem-product-item {
	margin: 0 -12.5px;

	.product-item {
		padding: 0;

		&--medium {
			display: inline-block;
			margin: 0 12.5px;
			vertical-align: top;

			& > .product-item--medium {
				margin: 0;
			}
		}

		& > a {
			display: block;
			padding-bottom: 30px;
			margin-bottom: 10px;

			&:hover .product-item-button-wrap {
				display: flex;
			}
		}

		&-button__button--fixed {
			display: flex;
			align-items: center;
			justify-content: center;
			flex-direction: row;
			flex-wrap: wrap;
			opacity: 1;

			.icon-view {
				display: block;
				position: absolute;
				top: 50%;
				left: 50%;
				margin: -25px 0 0 -12px;
			}
		}
	}
}
.product-item-button-wrap__fixed {
	background-color: rgba(0, 0, 0, 0.8);
}

.product-item-button__button--fixed {
	width: 100%;
	height: 100%;

	span {
		display: block;
		width: 100%;
		margin-top: 60px !important;
		font-size: $size-5;
		color: #fff;
		text-align: center;
	}
}
.pitem-option {
	margin-top: 1rem;
	font-size: $size-4;

	&-float {
		position: relative;

		.pitem-option__container {
			position: absolute;
			top: 3.125em;
			left: 0;
			width: 100%;
		}
	}

	&__button {
		display: inline-flex;
		position: relative;
		width: 100%;
		height: 4rem;
		padding-left: 1rem;
		padding-right: 2.1875em;
		border: 1px solid #ccc;
		justify-content: flex-start;
		align-items: center;
		font-size: $size-4;
		color: #333;
		text-align: left;
		outline: none;
		background-color: #fff;

		i {
			position: absolute;
			right: 1rem;
			top: 50%;
			margin-top: -0.25em;
			transition: margin 0.05s;
		}

		&.is-active {
			border: 1px solid #333;

			i {
				// margin-top: -7px;
				margin-top: -0.4375em;
				@include sprite-image($icon-delete);
				@include sprite-position($icon-delete);
				@include sprite-width($icon-delete);
				@include sprite-height($icon-delete);
			}
		}
	}

	&__container {
		position: relative;
		overflow-y: auto;
		max-height: 31.25em;
		z-index: 1;
		margin-top: -0.0625em;
		border: 1px solid #ccc;
		// border-top: 1px solid #eee;
		background-color: #fff;
		font-size: $size-4;
	}

	&__panel {
		&--header {
			display: block;
			position: relative;
			// height: 3.125em;
			padding: 0.777em 1rem;
			font-size: $size-4;
			color: #333;
			background-color: #eee;
			border-top: 1px solid #ccc;
			align-items: center;
			justify-content: flex-start;

			&:hover {
				background-color: #eee;
				color: #333;
				border-top: 1px solid #ccc;
			}

			&:first-child {
				border-top: none;
			}

			.icon {
				position: absolute;
				top: 50%;
				right: 1rem;
				margin-top: -0.25em;
			}
		}

		&--body {
			// padding-left: 1.25em;
			// padding-right: 1.25em;

			li:not(:first-child) {
				border-top: 1px solid #ccc;
			}

			li {
				padding: 0.7rem 1rem;
				display: flex;
				align-items: center;
				cursor: pointer;

				&.disabled {
					cursor: default;

					.inline-flex {
						opacity: 0.5;
					}
				}
			}

			.button-pitem-option-restock {
				opacity: 0.5;

				&.is-active {
					opacity: 1;
				}
			}
		}

		&--color {
			display: inline-block;
			overflow: hidden;
			width: 2.5rem;
			height: 2.5rem;
			margin-right: 1rem;
			border: 1px solid #ccc;
		}

		&--image {
			border: 1px solid #ccc;

			&.no-image {
				background: #ddd url(../images/common/noimage.png) 50% 50%
					no-repeat;
			}

			img {
				width: auto;
				height: 100%;
			}
		}

		&--desc {
			display: flex;
			flex-grow: 1;
			align-items: center;

			img {
				width: 48px;
				height: 48px;
			}

			.inline-flex {
				min-width: calc(100% - 10.5rem);
				font-size: $size-5;
				text-align: left;
			}
		}

		&--price {
			width: 10.5rem;
			flex-grow: 0;
			flex-shrink: 0;
			text-align: right;

			button {
				i {
					display: inline-block;
					margin-right: 5px;
					font-size: 1.6rem;
					vertical-align: text-top;
				}
			}

			.unit {
				margin-left: 0.2rem;
			}

			&__price {
				display: block;
				font-size: $size-5;
				color: #333;
			}

			&__del {
				display: block;
				margin-left: 0.5rem;
				font-size: $size-5;
				color: #888;
			}

			.option-panel-button {
				letter-spacing: -0.05rem;
				padding: 0 !important;
				color: $red;
				font-size: $size-6;
			}
		}
	}

	&-selected {
		position: relative;
		margin: 1rem auto;
		padding: 1.4rem 1.4rem 1.7rem;
		border: 1px solid #eee;
		font-size: $size-4;
		background-color: #fff;
		display: flex;

		&__thumb {
			display: inline-block;
			width: 84px;

			span {
				display: block;
				width: 84px;
				height: 84px;

				img {
					border-radius: 5px;
				}
			}
		}

		&__lists {
			overflow-y: auto;
			max-height: 215px;

			&--wrap {
			}
		}

		&__del {
			position: absolute;
			top: 8px;
			right: 5px;

			color: #888;
			font-size: 1em;
		}

		&__header {
			display: inline-block;
			width: 100%;
			min-height: 3.125em;
			// margin-bottom: 1rem;

			&__video {
				.icon2-video {
					margin-right: 0.8rem;
				}
			}

			&--itemWrap {
				display: inline-block;
				min-height: 3rem;
			}
		}

		&__footer {
			display: flex;
			align-items: center;

			&--control {
				// flex-grow: 1;
				display: flex;
				align-items: center;

				.spinner-box {
					flex-grow: 1;

					.spinner-box__minus {
						width: 3.1rem;
						height: 3.1rem;
						border-top-left-radius: 3px;
						border-bottom-left-radius: 3px;
					}
					.spinner-box__plus {
						width: 3.1rem;
						height: 3.1rem;
						border-top-right-radius: 3px;
						border-bottom-right-radius: 3px;
					}
					.spinner-box__number {
						input {
							width: 4.4rem;
							height: 3.1rem;
						}
					}
				}
			}

			.button {
				min-width: 4rem;
				// margin-left: 0.5rem;
				line-height: 0;
			}

			&--price {
				// width: 15.625em;
				padding-top: 1rem;
				text-align: right;
				flex-grow: 0;
				color: #333;
				font-size: 1.4rem;
				align-items: center;

				.unit {
					font-size: $size-3;
					margin-left: 0.2rem;
				}
			}

			.product-item-price__price {
				margin-right: 0 !important;
			}
		}

		&-item {
			display: -webkit-box;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			color: #333;
			padding-right: 1.875em;
			font-size: $size-3;
			font-weight: 400;
			overflow: hidden;
			text-overflow: ellipsis;

			&__sub {
				display: block;
				position: relative;
				margin: 0.1rem 0 0.9rem;
				padding-left: 1.2em;
				// padding-right: 1.875em;
				font-size: $size-3;

				&::before {
					content: '⌞';
					display: block;
					position: absolute;
					top: -1.1rem;
					left: 0.3rem;
					font-size: 1.9rem;
				}
			}
		}
	}

	&-select {
		display: flex;
		justify-content: space-between;
		align-items: flex-start;
		padding: 20px 0;
		color: #888;
		font-size: $size-5;

		.select-list {
			width: 550px;
			line-height: 30px;

			span {
				word-break: keep-all;
			}
		}

		.price-all {
			color: #888;
			font-size: $size-5;

			.num {
				color: #333;
				font-size: $size-4;
				font-weight: 600;
			}
		}
	}
}
.board__ul-wrap {
	&.is-type-1 {
		margin-top: 1rem;
		margin-bottom: 2rem;
		.pitem-section-header__title {
			margin-bottom: 1rem;
		}
		.pitem-section-body {
			margin-top: 0;
			.table-dl-row {
				display: flex;
				border-top: 1px solid #eee;
				border-bottom: 1px solid #eee;
				margin-top: -1px;
				&__dt {
					display: flex;
					width: 120px;
					border: none;
					border-left: 1px solid #eee;
					border-right: 1px solid #eee;
					align-items: center;
					flex: 0 0 120px;
				}
				&__dd {
					display: flex;
					border: none;
					border-right: 1px solid #eee;
					align-items: center;
					flex: 1 1;
				}
			}
			.is-small-title {
				display: block;
				font-size: 1.3rem;
				margin-top: 1rem;
				margin-bottom: 0.5rem;
			}
		}
	}
}
.table-dl {
	&-wrap {
		display: table;
		width: 100%;
		border-collapse: collapse;
	}

	&-row {
		display: table;
		width: 100%;
		border-collapse: collapse;

		&:not(:first-child) {
			margin-top: -1px;
		}

		&__dt,
		&__dd {
			display: table-cell;
			padding: 0.9em 1.3em;
			border: 1px solid #eee;
			font-size: $size-4;
			color: #333;
		}

		&__dt {
			width: 250px;
			background-color: #f9f9f9;
		}

		&__dd {
			&--width1 {
				width: 433px;
			}

			&--width2 {
				width: 350px;
			}
		}
	}

	&-colspan {
		display: table-caption;
	}
}

.pitem-review {
	&-header {
		height: auto;
		margin: 0 -1rem 4rem;
		padding: 3rem 0;
		text-align: center;
		background-color: #fcf8f2;
		color: $black;
		&.point-info {
			margin: 0;
			padding: 0;
			.point-info {
				&-list {
					display: flex;
					justify-content: space-between;
					align-items: center;
					max-width: 500px;
					margin: 0 auto;
					padding: 2rem 3rem;
				}
				&-wrap {
					.number {
						display: block;
						color: #333;
						font-size: 2rem;
						i {
							font-size: 1.1rem;
						}
					}
					.txt {
						display: block;
						margin-top: 1.3rem;
						color: #888;
						font-size: 1.3rem;
					}
				}
			}
		}
		&__title {
			margin-bottom: 1.5rem;
			font-size: $size-1;
			font-weight: 600;
		}

		&__desc {
			font-size: $size-5;
		}

		&__info {
			display: flex;
			align-content: flex-start;
			/* flex-direction: column; */
			flex-wrap: wrap;
			/* overflow: auto; */
			justify-content: center;

			ul {
				display: flex;
				align-content: flex-start;
				/* flex-direction: column; */
				flex-wrap: wrap;
				/* overflow: auto; */
				justify-content: center;

				li {
					/* width: 50%; */
					display: flex;
					/* justify-content: center; */
					margin: 3rem 1.5rem 0;

					dl {
						display: flex;
						// flex-wrap: wrap;
						flex-wrap: wrap-reverse;
						align-content: center;
						width: 12.6rem;
						height: 12.6rem;
						background-color: #fff;
						border-radius: 50%;

						dt,
						dd {
							width: 100%;
						}

						dt {
							font-size: $size-5;
							color: #888;
						}

						dd {
							display: flex;
							align-items: flex-end;
							justify-content: center;
							margin-bottom: 1.5rem;

							strong {
								margin-right: 1rem;
								border-bottom: 1px solid #333;
								font-size: 2.4rem;
								font-weight: 600;
							}
						}
					}
				}
			}
		}
	}

	&-content {
		// padding-bottom: 20px;

		.board-container-review {
			position: relative;
			background-color: #fff;
			left: 20px;
			width: calc(100% - 20px);
			padding: 1px 0 0 20px;
			margin-top: -60px;
			.board__text {
				max-height: 3.8rem;
				-webkit-line-clamp: 2;
			}
		}
		.swiper-wrapper {
			margin-bottom: 1rem;
		}
	}

	&-average {
		// background-color: #f9f9f9;
		// padding: 10px 0;
		text-align: center;
		margin: 0 -10px;

		&__wrap {
			background-color: #fff;
			padding: 20px 0;
		}

		&__title {
			color: #333333;
			font-size: 12px;
		}

		&__content {
			text-align: center;

			.total-average {
				font-size: 32px;
				color: #333;
				font-weight: 600;
				margin-left: 10px;
			}
		}
	}

	&__plus {
		&::after {
			display: inline-block;
			content: '+';
			font-size: 25px;
			font-weight: 100;
			font-style: normal;
			color: #333;
		}
	}
}

.pitem-row {
	height: 50px;
	margin: 40px 0 0;
	font-size: $size-5;

	> div {
		display: inline-flex;
		align-items: center;
		height: 50px;

		.button {
			margin-left: 10px;
		}
	}

	// @at-root .tab-block-item {
	// 	margin: 0;
	// 	color: #777;

	// 	&:not(:first-child)::before {
	// 		display: inline-block;
	// 		margin: -2px 18px 0;
	// 		content: '|';
	// 		color: #ccc;
	// 		font-size: $size-6;
	// 		vertical-align: middle;
	// 	}

	// 	&.is-active {
	// 		color: #333;
	// 	}

	// 	&:hover,
	// 	&:focus,
	// 	&:active {
	// 		color: #333;
	// 		outline: none;
	// 	}

	// 	&:hover {
	// 		text-decoration: underline;
	// 	}
	// }
}

.pitem-table {
	&-container {
		margin-top: 20px;
		border-top: 1px solid #333;

		.table {
			width: 100%;
			border-collapse: collapse;
			table-layout: fixed;

			th,
			td {
				height: 58px;
				padding: 10px;
				font-size: $size-5;
				vertical-align: middle;
				text-align: center;
			}

			th {
				font-weight: 600;
			}

			td {
				color: #888;

				&.pitem-table__title {
					position: relative;
					padding-right: 30px;
					overflow: hidden;
					text-align: left;
					word-wrap: normal;
					word-break: break-all;
					text-overflow: ellipsis;
					white-space: nowrap;

					a {
						color: #777;

						&:hover,
						&:focus,
						&:active {
							text-decoration: underline;
							color: #333;
						}
					}

					i {
						position: absolute;
						margin-left: 10px;
					}
				}
			}

			.fold {
				display: none;

				td {
					padding: 0;
					margin-top: -1px;
				}

				&.is-active {
					display: table-row;
				}
			}
		}
	}
}

.pitem-qna {
	&-box {
		padding: 40px;
		background-color: #f9f9f9;

		&__title {
			margin-bottom: 18px;
			font-size: $size-4;
			line-height: 1;
			color: #333;
		}

		.dot-list {
			> li {
				font-size: $size-4;
			}

			li {
				margin-top: 0.1em;
			}
		}
	}

	&-pagination {
		margin: 40px auto;
		text-align: center;
	}
}

.fold-cont {
	&-wrap {
		position: relative;
		z-index: 1;
		margin-top: -1px;
		padding: 2rem 1rem;
		background-color: #f9f9f9;
		text-align: left;
	}

	&-dt,
	&-dd {
		position: relative;
		padding-top: 5px;
		padding-left: 4rem;
	}

	&-dt {
		.title {
			display: block;
			margin-bottom: 1rem;
			color: #333;
			font-size: 1.4rem;
			line-height: 1.2;
		}
		.button {
			width: 5rem;
			min-width: auto;
		}
	}

	&-dd {
		margin-top: 2rem;
		color: #333;
		.button {
			width: 7.4rem;
			min-width: auto;
		}
	}

	&__icon--q,
	&__icon--a {
		position: absolute;
		left: 40px;
		top: 0;
		display: inline-block;
		width: 30px;
		height: 30px;
		margin-left: -40px;
		margin-right: 10px;
		border-radius: 30px;
		background-color: #777;
		color: #fff;
		font-style: normal;
		font-size: $size-2;
		text-align: center;
		line-height: 30px;
		vertical-align: middle;
		-webkit-border-radius: 30px;
		-moz-border-radius: 30px;
		-ms-border-radius: 30px;
		-o-border-radius: 30px;
	}

	&__icon--a {
		background-color: #333;
	}
}

.button-couponget {
	display: inline-block;
	line-height: 29px;
	margin-left: 10px;
	padding-top: 0;
	padding-right: 18px;
	font-size: $size-4;
	color: #666;
	align-content: center;
	@include sprite-image($icon-btncoupon);
	@include sprite-position($icon-btncoupon);
	@include sprite-width($icon-btncoupon);
	@include sprite-height($icon-btncoupon);
	vertical-align: middle;
}

.button-couponget-down {
	width: 117px;
	height: 34px;
	line-height: 16px;
	padding-right: 2rem;
	font-size: 1.1rem !important;
	color: #385ea3;
	@include sprite-image($icon2-btncoupon-down);
	@include sprite-position($icon2-btncoupon-down);
	@include sprite-width($icon2-btncoupon-down);
	@include sprite-height($icon2-btncoupon-down);
}

.contens-gray-contour {
	&:after {
		display: block;
		content: '';
		width: calc(100% + 20px);
		height: 10px;
		margin: 0 -10px;
		background-color: #f1f1f1;
	}
	+ .section {
		.order-payment__header--detail {
			border-top: none;
		}
	}

	&__not--interval {
		&:after {
			display: block;
			content: '';
			width: 100%;
			height: 10px;
			background-color: #f1f1f1;
		}
	}
}

.stats-rate-contents {
	margin-top: 20px;
	padding: 15px 0;
	border-top: 1px solid #eee;

	.flex-right {
		color: #333;
		font-size: 1.3rem;
		a.link {
			font-size: 1.3rem;
			font-weight: 400;
			color: #333;
			.review-count {
				font-weight: 600;
			}
			&::after {
				content: none;
			}
		}

		.review-count {
			color: #ed2650;
			font-size: 1.3rem;
			font-weight: 400;

			.link {
				color: #ed2650;
				font-size: 1.3rem;
				font-weight: 600;

				&:after {
					content: none;
				}
			}
		}
	}
}

.dl-list {
	display: block;
	overflow: hidden;
	font-size: $size-normal;
	color: #888;

	&__dt {
		width: 26%;
		float: left;
		color: #333;
	}

	&__dd {
		width: 74%;
		float: right;
	}
}

#modal-intrstfree {
	.modal-card {
		width: 920px;
		max-width: 920px;

		&-desc {
			font-size: $size-normal;
			margin-bottom: 30px;
		}

		.table th,
		.table td {
			text-align: center;
		}

		.table tbody th {
			text-align: left;
		}

		.table tbody td:last-child {
			text-align: left;
		}
	}

	.modal-card-body.scrollbar-container {
		max-height: 500px;
	}
}

#modal-payment {
	.modal-card {
		width: 500px;
		max-width: 500px;
	}
}

// popup common css
.modal-border-top {
	border-top: 1px solid #eee !important;
}

.modal-border-bottom {
	border-bottom: 1px solid #eee !important;
}

.product-item-detail {
	margin-bottom: 2rem;
	padding-bottom: 2rem;
	border-bottom: 1px solid #eee;

	// &-title {
	// 	margin-left: 1rem;

	// 	&__name {
	// 		display: block;
	// 		font-size: $size-4;
	// 		color: $black;
	// 	}

	// 	.enter_notice_button {
	// 		margin-top: 26px;
	// 	}
	// }

	// &__tag {
	// 	display: block;
	// 	margin: -3px 0 2px 0;
	// 	color: #333;
	// }

	// &__title {
	// 	display: block;
	// 	font-weight: 400;
	// 	font-size: $size-4;
	// 	color: #333;
	// }

	// &-price__price {
	// 	font-size: $size-4;
	// 	font-weight: 600;
	// 	color: #333;
	// }

	// &-price__price--del {
	// 	display: inline-block;
	// 	margin-left: 10px;
	// 	color: #777;
	// }
}

.product-item-image__fixed {
	width: 100px;
	height: 100px;
	overflow: visible;

	.product-item-status {
		background-color: rgba(0, 0, 0, 0.7);

		&::before,
		&::after {
			display: none;
		}

		.product-item-status--soldout {
			font-size: $size-4;
		}
	}
}

// popup review-gallery
#modal-review-gallery {
	.modal-card {
		width: 1310px;
		max-width: 1310px;
	}

	.modal-card-body {
		margin: 0 -10px;
	}

	@at-root .pop-review-swiper {
		position: relative;
		margin: 40px 25px 40px 65px;

		.pop-review-gallery {
			overflow: hidden;

			.navigation-box {
				.swiper-button-prev,
				.swiper-button-next {
					top: 270px;
					font-size: 45px;
				}

				.swiper-button-prev {
					left: -65px;
				}

				.swiper-button-next {
					right: -25px;
				}
			}
		}

		@at-root .pop-review-gallery-fr {
			position: absolute;
			top: 0;
			right: 0;
			z-index: 1;
			width: 540px;
			background-color: #fff;

			.product-review-top {
				flex-wrap: wrap;

				.product-review-stats-area {
					margin-right: 10px;

					&__title {
						display: block;
					}
				}

				.product-review-user {
					margin-top: 0;
				}
			}

			.product-review-contents {
				height: 190px;
			}
		}
	}

	.product-review-stats-area {
		&__title {
			font-size: $size-4;
			font-weight: 400;
		}
	}

	// popup review-gallery thumbs
	@at-root .pop-review-gallery-thumbs.gallery-thumbs {
		overflow: hidden;
		width: 540px;
		margin-top: 63px;
		padding: 0;

		.swiper-wrapper {
			width: 540px;
			height: 100px;
			overflow: hidden;
			padding: 0;
			transform: none !important;
			-webkit-transform: none !important;
			-moz-transform: none !important;
			-ms-transform: none !important;
			-o-transform: none !important;
			/* 썸네일 최대 5개 움직임 방지 */

			.swiper-slide {
				width: 100px !important;
				height: 100px;
				overflow: hidden;
			}
		}
	}
}

// 상품상세 : image zoom
/* Compatibility styles for frameworks like bootstrap, foundation e.t.c */
.xzoom-source img,
.xzoom-preview img,
.xzoom-lens img {
	display: block;
	max-width: none;
	max-height: none;
	-webkit-transition: none;
	-moz-transition: none;
	-o-transition: none;
	transition: none;
}

/* --------------- */

/* xZoom Styles below */
.xzoom-container {
	display: inline-block;
}

.xzoom-thumbs {
	text-align: center;
	margin-bottom: 10px;
}

// .xzoom {
// -webkit-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
// -moz-box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
// box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
// }

/* Thumbs */
.xzoom-gallery {
	border: 1px solid #cecece;
	margin-left: 5px;
	margin-bottom: 10px;
}

.xzoom-source,
.xzoom-hidden {
	display: block;
	position: static;
	float: none;
	clear: both;
}

/* Everything out of border is hidden */
.xzoom-hidden {
	overflow: hidden;
}

/* Preview */
.xzoom-preview {
	// width: 700px !important;
	// height: 700px !important;
	border: 1px solid #333;
	background: #333;
	z-index: 10;
	// box-shadow: -0px -0px 10px rgba(0, 0, 0, 0.5);
}

/* Lens */
.xzoom-lens {
	border: 1px solid rgba(0, 0, 0, 0.1);
	background-color: rgba(255, 255, 255, 0.2);
	z-index: 10;
	cursor: crosshair;

	img {
		display: none;
	}
}

/* Loading */
.xzoom-loading {
	background-position: center center;
	background-repeat: no-repeat;
	border-radius: 100%;
	opacity: 0.7;
	// background: url(../images/xloading.gif);
	width: 48px;
	height: 48px;
}

/* Additional class that applied to thumb when it is active */
// .xactive {
// -webkit-box-shadow: 0px 0px 3px 0px rgba(74, 169, 210, 1);
// -moz-box-shadow: 0px 0px 3px 0px rgba(74, 169, 210, 1);
// box-shadow: 0px 0px 3px 0px rgba(74, 169, 210, 1);
// border: 1px solid #4aaad2;
// }

/* Caption */
.xzoom-caption {
	position: absolute;
	bottom: -43px;
	left: 0;
	background: #000;
	width: 100%;
	text-align: left;

	span {
		color: #fff;
		font-family: Arial, sans-serif;
		display: block;
		font-size: 0.75em;
		font-weight: bold;
		padding: 10px;
	}
}

// mobile
.toast-message {
	display: inline-block;
	position: absolute;
	top: 50%;
	left: 50%;
	z-index: 10;
	min-width: 225px;
	padding: 5px;
	color: #fff;
	font-size: 1.5rem;
	text-align: center;
	background-color: rgba(0, 0, 0, 0.5);
	transform: translate(-50%, 100%);
	opacity: 0;

	&.is-active {
		animation: toast 0.6s forwards ease-out;

		&.out {
			animation: toastOut 0.6s forwards ease-out;
		}
	}

	i {
		display: inline-block;
		margin-right: 5px;
		color: #fff;
	}
}

@keyframes toast {
	0% {
		transform: translate(-50%, 100%);
		opacity: 0;
	}

	100% {
		transform: translate(-50%, -50%);
		opacity: 1;
	}
}

@keyframes toastOut {
	0% {
		transform: translate(-50%, -50%);
		opacity: 1;
	}

	100% {
		transform: translate(-50%, -100%);
		opacity: 0;
	}
}

.info-tabs {
	.board-container {
		.board__ul-wrap {
			.board__ul {
				border-top: none;

				li {
					padding: 0 0 40px;
				}
			}
		}
	}
}

.gray-box {
	padding: 10px;
	background-color: #f9f9f9;
}

.mullti-contents-swiper {
	// width: 100%;
	max-width: 890px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;

	.swiper-wrapper {
		width: 100%;
		height: auto;

		.fyusion360-wrap {
			position: relative;
			overflow: hidden;
			.is-blank {
				width: 100%;
				height: 100%;
			}
			// background: #ccc url(../images/common/loading_ani.gif) no-repeat center;
			// background-size: 100px auto;
			padding: 0;
			.fyu_container {
				position: absolute;
				width: 100%;
				height: auto;
				top: 50%;
				left: 50%;
				transform: translate(-50%, -50%);
			}

			// .thumb {
			// 	position: absolute;
			// 	top: 0;
			// 	left: 0;
			// 	width: 100%;
			// 	height: 100%;
			// 	font-size: 0;
			// 	line-height: 0;

			// 	.image {
			// 		position: absolute;
			// 		top: 0;
			// 		left: 0;
			// 		width: 100%;
			// 		height: 100%;
			// 		max-width: none;
			// 	}
			// }

			// &:after {
			// 	display: block;
			// 	content: '';
			// 	padding-bottom: 100%;
			// }
		}
	}
	.swiper-slide {
		font-size: 0;
		.image.is-block {
			width: 100%;
		}
	}

	.arrow-wrap {
		.swiper-button-next {
			right: 0;
			z-index: 1;
			margin-top: 0;
			color: #fff;
			background-color: rgba(0, 0, 0, 0.6);
			transform: translateY(-50%);
		}

		.swiper-button-prev {
			left: 0;
			z-index: 1;
			margin-top: 0;
			color: #fff;
			background-color: rgba(0, 0, 0, 0.6);
			transform: translateY(-50%);
		}
	}

	.pagination-wrap {
		position: absolute;
		bottom: 20px;
		left: 50%;
		z-index: 1;
		width: calc(100% - 40px);
		height: 2px;
		transform: translateX(-50%);

		.swiper-pagination-progressbar {
			width: 100%;
			height: inherit;
			margin: 0 auto;
			background-color: rgba(255, 255, 255, 0.5);
		}

		.swiper-pagination-progressbar-fill {
			background-color: rgba(0, 0, 0, 0.5);
		}
	}
}

.text-box-wrap {
	margin-top: 2rem;
}

.style-title {
	&--count-wrap {
		display: flex;
		align-items: center;

		.style-title--count {
			font-size: 12px;
			font-weight: 400;
			margin-left: 4px;
		}
	}
}

.button--icon i {
	margin-left: 1rem;
}

.tsearch-review-swiper {
	padding-bottom: 40px;
	.swiper-review-main {
		padding: 0 0 0 10px;
	}
	.paging-box {
		&.paging-box-progress {
			padding-right: 10px;
			width: 100%;
		}
	}
	.product-item_review {
		&__header {
			display: block;
			overflow: hidden;
			margin-bottom: 1.5rem;
			font-size: $size-4;
			color: #1a1a1a;
			white-space: nowrap;
			text-overflow: ellipsis;
			letter-spacing: -0.25px;
		}

		&__content {
			display: block;
			display: -webkit-box;
			overflow: hidden;
			margin-bottom: 1.5rem;
			font-size: 1.3rem;
			letter-spacing: -0.25px;
			line-height: 1.6;
			word-break: break-all;
			color: #777;
			text-overflow: ellipsis;
			word-wrap: break-word;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			transition: opacity 0.1s;
		}

		&__name {
			display: block;
			overflow: hidden;
			margin-bottom: 1rem;
			font-size: $size-6;
			letter-spacing: -0.25px;
			color: #8d8d8d;
			text-overflow: ellipsis;
		}
	}
}

.modal,
.pitem-header-btns-wrap {
	.pitem-option {
		&.is-active {
			position: absolute;
			z-index: 10;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			padding: 10px;
			margin-top: 0 !important;
			background-color: #fff;
			.pitem-option__container {
				max-height: initial;
			}
		}
	}
}

.pitem-header-btns-wrap {
	.pitem-option {
		&.is-active {
			.pitem-option__container {
				max-height: 49vh;
			}
		}
	}
}
.modal {
	.pitem-option {
		&.is-active {
			.pitem-option__container {
				max-height: 93vh;
			}
		}
	}
}
#modal-add-purchase {
	.purchase-gray-box {
		display: flex;
		justify-content: flex-end;
		align-items: center;
		width: 100%;
		min-height: 3.7rem;
		padding: 0.6rem 1rem;
		background-color: #f1f1f1;
		text-align: right;
		.button {
			&.is-primary {
				vertical-align: middle;
			}
		}
		.product-item-price__price--wrap {
			span {
				display: inline-flex;
				vertical-align: middle;
				align-items: center;
			}
		}
		.product-item-price__price {
			display: inline-block;
			margin-right: 0;
			line-height: 1.1;
			vertical-align: middle;
		}
	}
	.pitem-option-selected {
		padding-bottom: 0;
		&__footer--price {
			width: auto;
			text-align: left;
			color: #333;
			justify-content: flex-start;
			align-items: center;
		}
	}
	.product-item--small {
		// margin-bottom: 1rem;
	}
	.pitem-header-package-product {
		align-items: center;
		.product-item--small {
			width: auto;
			margin-right: 1rem;
			margin-bottom: 0;
		}
		p.inline-flex.word-wrap {
			@include text-ellipsis;
		}
	}
	.pitem-option__panel--desc {
		.product-item--small-50 {
			// width: 50px;
			// margin-right: 1rem;
			// &.__w100 {
			// 	width: 100%;
			// }
			.product-item-image {
				margin-right: 1rem;
			}
			.product-item-content {
				padding-left: 0;
			}
		}
		.pitem-option__panel--price {
			flex-shrink: 0;
		}
		.inline-flex {
			min-width: calc(100% - 17rem);
		}
	}
}
.pitem-header-btns-wrap {
	.product-item--small .product-item-content {
		padding-left: 0;
		font-size: 1.3rem;
	}
	.product-item-image {
		margin-right: 1rem;
	}
}
.button-restock-alarm {
	i {
		display: inline-block;
		margin-right: 5px;
		font-size: 1.6rem;
		vertical-align: text-top;
	}
}
.pitem-header-btns {
	.button {
		height: 56px;
		&.is-large {
			height: 56px;
			font-size: 1.6rem;
		}
	}
}

.pitem-review-content {
	.thumb-video.__overlay .ico-play {
		width: auto;
		height: auto;
		&:before {
			margin-top: 0;
			top: calc(50% - 10rem);
		}
	}
}

// 사은품 팝업
.pitem-freegift-guide-contents2 {
	&__uls {
		margin: 0 -2rem;
		font-size: 0;
	}
	&__item {
		display: inline-block;
		width: 11rem;
		margin: 0 2rem 3rem;
		vertical-align: top;
		text-indent: 0;
	}
}
.table-box-wrap {
	.table-box {
		table {
			font-size: 1.3rem;
			tr {
				&:last-child th,
				&:last-child td {
					border-bottom-width: 1px;
				}
				th,
				td {
					padding: 0.7em;
				}
			}
		}
	}
}
.table-box-title {
	margin-top: 2rem;
	margin-bottom: 0;
	padding-bottom: 1rem;
	border-bottom: 1px solid #ccc;
	font-size: 1.5rem;
	font-weight: 600;
	color: #333;
	line-height: 1;
}

.pitem-promotion {
	li {
		a {
			display: flex;
			flex-direction: row;
			align-items: center;
			.thumb-wrap {
				flex: 1;
			}
			.text-box-wrap {
				flex: 3;
				margin: 0;
				padding: 1rem;
				p {
					color: #777;
				}
			}
		}
	}
}

//베스트 상품에서는 뱃지 비노출
.best {
	.pitem-header-photo__badge {
		display: none;
	}
}


//오디오클립
.audio-control {
	position: absolute;
	top: 105px;
	padding: 0 2rem 0 1rem;
	width: 100%;
	height: 6rem;
	background-color: #f2f2f2;
	transition: all 0.5s;
	align-items: center;
	justify-content: space-between;
	border-bottom-left-radius: 25px;
    border-bottom-right-radius: 25px;

	audio {
		display: block;
		width: 100%;
	}

	.delete::before,
	.delete::after {
		background-color: #000;
	}
}