/* 모달 공통 */
.border-line-wrap {
	.is-h3--border-bt {
		padding-bottom: 1rem;
		border-bottom: 1px solid #ccc;
		color: #333;
		font-size: 1.4rem;
		font-weight: 600;
	}

	.border-line {
		display: block;
		padding: 1.5rem 0;
		border-bottom: 1px solid #eee;
		color: inherit;

		&:first-child {
			padding-top: 0;
		}

		&:last-child {
			border-bottom: none;
		}

		&.is-bottom-liner {
			border-bottom: 1px solid #eee !important;
		}
	}
}

.modal-postcode {
	.modal-content {
		overflow: hidden;
		height: 520px;
	}
}
.a-link {
	color: inherit;

	&:focus,
	&:active {
		text-decoration: underline;
	}
}

/* 안내 문구 */
.help2 {
	font-size: $size-5;
	@include word-wrap;
}

.help3 {
	@include word-wrap;
	font-size: $size-4;
	text-align: center;
}

.help4 {
	@include word-wrap;
	font-size: 1.5rem;
	text-align: center;
	line-height: 2.2rem;
	color: #333;
	font-weight: 600;
}

.help5 {
	@include word-wrap;
	font-size: $size-3;
	text-align: center;
	line-height: 2.2rem;
	color: #333;
	font-weight: 600;
}

.help6 {
	@include word-wrap;
	font-size: $size-5;
	text-align: center;
	line-height: 1.8rem;
	color: #333;
}

.help7 {
	@include word-wrap;
	font-size: $size-5;
	line-height: 1.8rem;
}

/* 할인내역 */
#item-discount-history {
	.modal-card {
		height: 458px;
	}

	.dl-table-style__dt {
		width: 42% !important;
	}
}

/* 상품 상세페이지 */
#modal-pitem-detail {
	.pitem-section-info {
		height: auto;
	}
}

/* 추가구매 할인 상품 구매 */
.purchase-gray-box {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-top: 1.5rem;
	margin-bottom: 2rem;
	padding: 1.2rem 1rem;
	background-color: #f1f1f1;
	text-align: right;
	color: #333;
	font-size: $size-4;

	.product-item-price__price {
		margin-right: 0;
	}
}

/* 판매가, 배송비 조건안내 */
.dt-60-per {
	dt {
		min-width: 60%;
	}
}

/* 쿠폰 없음 */
.no-cont-coupon {
	height: calc(100vh - 17.5rem);
}

/* 사은품 안내 */
.freegift-top-wrap {
	padding-bottom: 2rem;
	text-align: center;

	.margin-auto {
		margin: 0 auto;
	}
}

.dl-list {
	dl {
		margin-bottom: 1.5rem;

		dt {
			display: block;
			margin-bottom: 0.5rem;
			font-size: $size-3;
			font-weight: 600;
			color: #333;
		}

		dd {
			font-size: $size-4;
			@include word-wrap;
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.freegift-list {
	margin: 0 auto;

	.radio-list,
	.checkbox-list {
		max-width: 460px;
		margin: 0 auto;
	}

	.radio,
	.checkbox {
		display: inline-flex;
		float: left;
		width: 50%;
		margin: 0;
		text-align: center;
		justify-content: center;

		label {
			height: 156px;
			margin: 0 0 2rem 0;
			min-width: 137px;
		}

		input[type='radio'] + label::before,
		input[type='checkbox'] + label::before {
			margin-right: 1rem;
		}
	}

	&__name {
		width: 110px;
		margin-top: 1rem;
		text-align: center;
		line-height: 1.8rem;
		color: #333;
	}
}

/* 상품필터 */
.product-filter-menu {
	width: 100%;
	margin: -2rem 0;

	@at-root .product-filter-menu-section {
		a[data-action='collapse'] {
			display: block;
			padding-right: 0.4rem;
			border-bottom: 1px solid #eee;

			i {
				display: block;
				position: absolute;
				top: 50%;
				right: 0;
				width: 1.6rem;
				height: 1px;
				margin: -1px 0 0 -0.7rem;
				background-color: #333;
			}

			i:nth-child(2) {
				transform: rotate(90deg);
				-webkit-transform: rotate(90deg);
				-moz-transform: rotate(90deg);
				-ms-transform: rotate(90deg);
				-o-transform: rotate(90deg);
			}

			&::after {
				content: '메뉴 펼치기';
				position: absolute !important;
				width: 1px;
				height: 1px;
				overflow: hidden;
				clip: rect(1px 1px 1px 1px);
			}

			&.is-active {
				margin-top: -1px;

				i:nth-child(2) {
					display: none;
				}

				&::after {
					content: '메뉴 접기';
					position: absolute !important;
					width: 1px;
					height: 1px;
					overflow: hidden;
					clip: rect(1px 1px 1px 1px);
				}
			}
		}

		.panel-heading {
			position: relative;
			display: flex;
			justify-content: space-between;
			padding: 1.5rem 0;
			width: 100%;
			font-size: $size-1;
			font-weight: 600;
			color: #333;
			border-bottom: 1px solid #eee;

			&:last-child {
				border-bottom: none;
			}
		}

		.is-collapsible {
			padding-bottom: 3rem;
		}

		// brand
		@at-root .filter-brand {
			position: relative;
			.button {
				position: absolute;
				right: 30px;
				top: -10px;
			}
			&-search {
				display: flex;
				justify-content: space-between;
				margin-top: 2rem;
				border-bottom: 2px solid #333;

				&-input {
					width: 90%;
					height: 4.6rem;
					border: none;
					font-size: $size-3;

					&:focus {
						outline: none;
					}
				}

				.ico-search {
					padding-right: 0;
					line-height: 0;

					&:before {
						font-size: $size-1;
						font-weight: 600;
					}
				}
			}

			.button-brand-sort {
				padding: 0.5rem 1rem;
				color: #777;

				&:active {
					color: #333;
					font-weight: 600;
				}

				&:focus {
					color: #333;
					font-weight: 600;
				}
			}

			.button-brand-sort-txt {
				display: block;
				padding: 0.5rem 1rem;
				color: #777;
				font-size: 1.3rem;
			}

			// .filter-checkbox-list {
			// 	margin: 2rem 0 3rem;
			// }
		}

		.filter-checkbox-list {
			margin-top: 2rem;
			padding: 0 1rem;

			&.maxheight {
				max-height: 20rem;
				overflow-y: auto;
			}

			.checkbox {
				width: 100%;
				margin: 2px 0 18px 0;
				padding-left: 2px;

				input[type='checkbox'] + label {
					float: initial;
				}

				&:last-child {
					margin-bottom: 0;
				}
			}
		}

		.scroll-wrapper {
			margin: 0;
			padding: 0;
		}

		// price
		@at-root .filter-price {
			.ui-widget.ui-widget-content {
				position: relative;
				margin-top: 2.5rem !important;
				padding: 0;
				border: none;
			}

			.ui-slider {
				margin: 0 0 0 0.8rem;
				width: calc(100% - 2.5rem);

				&::before {
					content: '';
					display: block;
					height: 0.2rem;
					margin: 0 -1.7rem 0 -0.8rem;
					background-color: #eee;
				}

				.ui-slider-range {
					height: 0.2rem;
					background-color: #333;
				}

				.ui-state-default {
					width: 2.5rem;
					height: 2.5rem;
					margin-top: -0.7rem;
					background-color: #fff;
					border: 0.2rem solid #333;
					cursor: pointer;
					border-radius: 100%;

					&:focus,
					&:active {
						outline: none;
					}
				}

				.ui-state-hover {
					background-color: #000;
				}

				.ui-state-active {
					box-shadow: 0px 0px 0.2rem rgba(0, 0, 0, 0.2);
				}
			}

			&-range {
				display: flex;
				height: auto;
				margin-top: 2.5rem;
				line-height: 1;
				text-align: center;
				border: none;

				input {
					flex-grow: 1;
					display: block;
					min-width: 1rem;
					font-weight: 400;
					font-size: $size-3;
					border: none;
					color: #28a0e4;
					width: auto;
					text-align: right;
					outline: none;
					&:last-child {
						text-align: left;
					}
				}

				span {
					display: inline-flex;
					flex-grow: 0;
					width: 1.6rem;
					text-align: center;
					font-size: $size-3;
					color: #28a0e4;
					align-items: center;
					justify-content: center;
				}
			}

			.filter-min-max-price {
				margin-top: 1rem;
				font-size: $size-5;
				color: #999;
			}
		}

		&:last-child {
			border-bottom: none;
		}
	}
}

.button-reset {
	.ico-reset {
		margin: 0.3rem 0 0 0.6rem;

		&:before {
			font-size: 1.8rem;
		}
	}
}

/* 상품 할인 쿠폰 사용안내 */
.coupon-guide {
	display: table;
	margin: -1rem 0;

	&-row {
		display: table-row;
	}

	&__title {
		display: table-cell;
		width: 7.2rem;
		padding: 1rem 0;
		color: #333;
		font-weight: 600;
		font-size: $size-3;
	}

	&__text {
		display: table-cell;
		padding: 1rem 0;
		font-size: $size-4;
		@include word-wrap;
	}

	&-list {
		&__title {
			display: block;
			padding: 0.5rem 0;
			font-size: $size-4;

			&::before {
				display: inline-block;
				margin-top: -0.1rem;
				padding-right: 0.5rem;
				content: '·';
				font-weight: 600;
				vertical-align: top;
			}
		}
	}

	.coupon-list-link {
		margin: 0 0 1.5rem 1rem;

		span {
			display: block;
			padding: 0.4rem 0;
		}

		.link {
			padding: 0.1rem 0;
			color: #333;

			&:after {
				border-color: inherit;
				opacity: 0;
				transform: scale(0, 1);
			}

			&:hover:after {
				opacity: 1;
				transform: scale(1, 1);
			}
		}

		&:last-child {
			margin-bottom: 0;
		}
	}
}

/* 배송지 정보 */
.address-list {
	margin: -0.3rem 0 -1.2rem;

	&__tit {
		display: block;
		margin: 0.2rem 0 1rem 0.5rem;
		color: #28a0e4;
	}

	.radio {
		width: 100%;
		padding: 0.3rem 0 1.2rem;
		border-bottom: 1px solid #eee;
	}

	&-cont {
		margin-left: 0.5rem;

		&__user {
			font-size: $size-4;
			color: #333;
			font-weight: 600;

			&--tel {
				font-size: $size-3;

				&::before {
					display: inline-block;
					height: 0.8rem;
					margin: 0.5rem 0 0 1.2rem;
					padding-left: 1.2rem;
					border-left: 1px solid #ccc;
					vertical-align: top;
					content: '';
				}
			}
		}

		&__addr {
			margin-top: 0.6rem;
			line-height: 1.9rem;
			@include word-wrap;
		}
	}

	&.no-border-bt {
		.radio:last-child {
			border-bottom: none;
		}
	}
}

/* 희망 배송일 선택 */
.delivery-time-list {
	.label {
		display: inline-block;
		width: 100%;
		margin-bottom: 1rem;
		padding: 0.9rem 0;
		border: 1px solid #ccc;
		border-radius: 3rem;
		color: #333;
		font-size: $size-3;
		text-align: center;
		cursor: pointer;

		i {
			display: none;
		}
	}

	.time-select:checked + .label {
		position: relative;
		border-color: #28a0e4;
		background-color: #fff;
		color: #28a0e4;

		.time-select-ampm {
			font-weight: 600;
		}

		i {
			display: block;
			position: absolute;
			top: 1.6rem;
			left: 2rem;
		}
	}

	.time-select:disabled + .label {
		border: none;
		background-color: #f9f9f9;
		color: #999;
	}

	.time-select-ampm {
		display: inline-block;
		margin-right: 0.2rem;
	}
}

.delivery-timer {
	text-align: center;

	&__counter {
		width: 100%;
		color: #28a0e4;
		font-weight: 600;
		font-size: $size-3;

		strong {
			display: inline-block;
			color: inherit;
		}
	}

	&__info {
		font-size: $size-5;
		color: #333;

		i {
			margin: -0.4rem 0.1rem 0 0;
			vertical-align: middle;
		}
	}
}

/* H.Point 본인인증 */
.btn-limit-count {
	min-width: 10.5rem !important;
}

/* 소파 배송안내 */
.sofa-swiper {
	display: flex;
	overflow: hidden;
	min-height: 26rem;
	justify-content: center;
	align-items: center;
	// height: calc(100vh - 14rem);
	li {
		display: inline-flex;
		align-items: center;
	}
}

/* 매장검색 */
.btn-branch-search {
	min-width: 9rem;
}

/* 주문내역 */
.period-list {
	// display: flex;
	// margin: 0 -0.25rem;

	.button {
		// min-width: calc(20% - 0.5rem);
		// height: 3rem;
		// margin: 0 0.25rem;
		// line-height: 0;

		&:focus {
			// border-color: #333;
		}
	}
}

.period-set-input {
	display: none;
}

.no-cont-history {
	margin-bottom: -1rem;
	padding-top: 5rem;
	height: calc(100vh - 35rem);
	box-sizing: content-box;
}

.no-cont-period {
	// margin-bottom: -1rem;
	padding: 6rem 0;
	height: 100%;
	box-sizing: content-box;
}

/* 서비스 희망일 선택 */
.service-time-list {
	.label {
		display: inline-block;
		width: 100%;
		margin-bottom: 1rem;
		padding: 0.9rem 0;
		border: 1px solid #333;
		color: #333;
		font-size: $size-3;
		text-align: center;
		cursor: pointer;
	}

	.time-select:checked + .label {
		position: relative;
		background-color: #28a0e4;
		color: #fff;
	}

	.time-select:disabled + .label {
		border: 1px solid #777;
		color: #777;
	}
}

/* 교환/반품 신청안내 */
.dt-20-per {
	dt {
		width: 20%;
		min-width: initial;
	}
}

/* SNS 공유 */
.modal-full {
	.modal-card-head-sns {
		background: none !important;
		border: none !important;

		.sns-delete {
			min-width: 9rem !important;
			min-height: 9rem !important;
			left: 50%;
			margin-left: -4.5rem;

			&::before,
			&::after {
				background-color: #fff;
			}
		}
	}
}

.sns-share {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	font-size: 0;
	overflow: scroll;

	.btn-sns-wrap {
		width: 100%;
		margin: 3rem 0 10rem;
		text-align: center;

		.btn-sns {
			position: relative;
			display: inline-flex;
			margin: 0 0.75rem;
			padding: 0;
		}
	}
}
.modal-card {
	.text-direction {
		p {
			padding-top: 25px;
			font-size: 13px;
			&:first-child {
				padding-top: 0;
			}
		}
	}
	.text-direction + .buttons {
		margin-top: 200px;
	}
}

// 제품상세 modal swiper
.modal-swiper-container {
	.modal-content {
		background-color: transparent;
		.section-wide-banner__bullets
			.swiper-container-horizontal
			.swiper-pagination-bullets
			.swiper-pagination-bullet {
			border-color: #eee;
			&-active {
				background-color: #fff;
			}
		}
	}
}
.modal-card-body {
	#accordion-wrap {
		margin: 0 -10px;
	}
	.card {
		box-shadow: none;
		.card-header {
			position: relative;
			color: #333;
			box-shadow: none;
			.checkbox input[type='checkbox'] + label,
			.radio input[type='radio'] + label {
				padding: 14px 0 14px 32px;
				font-size: 14px;
			}
			&::before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 10px;
				width: calc(100% - 20px);
				height: 1px;
				background: #eee;
			}
		}
		.card-content {
			margin: 0 10px;
			max-height: 250px;
			overflow-y: auto;
			border-top: 1px solid #eee;
			background-color: #f9f9f9;
		}
		&:last-of-type {
			margin-bottom: 10px;
		}
	}
}
.modal-layer-pop {
	font-size: 0;
	.swiper-slide {
		img {
			width: auto;
		}
	}
	.swiper-pagination {
		bottom: 8px;
	}
	.swiper-pagination-bullets {
		display: block;
		.swiper-pagination-bullet {
			width: 7px;
			height: 7px;
			margin: 0 5px;
			border-radius: 4px;
			border: 1px solid #eee;
			background-color: transparent;
			transition: all 0.3s;
			outline: none;
			opacity: 0.4;
			&:hover,
			&:focus,
			&-active {
				border: 1px solid #eee;
				background-color: rgba(255, 255, 255, 0.5);
			}
			&-active {
				opacity: 1;
			}
		}
	}
	.modal-card {
		width: 300px;
		&-body {
			padding: 0;
		}
		&-foot {
			display: block;
			height: 25px;
			background: #333;
			text-align: right;
			button {
				margin: 0 10px 0 5px;
				color: #fff;
				line-height: 1.1;
				height: 25px;
				font-size: 11px;
			}
		}
	}
	&.modal-full {
		#layer-popup-swiper {
			height: 100%;
		}
		.modal-card {
			width: 100%;
			&-body {
				height: 100%;
			}
		}
		.swiper-container {
			height: 100%;
		}
		.swiper-slide {
			a {
				display: flex;
				width: 100%;
				height: 100%;
				align-items: center;
				justify-content: center;
			}
			img {
				height: 100%;
				width: auto;
			}
		}
	}
}
.modal-card-body {
	.event-detail-wrap {
		.coupon-card {
			width: 300px;
			height: 400px;
			.contents-coupon {
				width: 300px;
				.coupon-card-top {
					height: 278px;
					.coupon-card--title {
						font-size: 16px;
					}
					// .num-off {
					// 	padding-top: 40px;
					// 	font-size: 31px;
					// 	.font-120 {
					// 		font-size: 120px;
					// 		letter-spacing: -2px;
					// 	}
					// 	span.off {
					// 		padding-top: 15px;
					// 	}
					// }
				}
			}
			.coupon-card-info {
				padding: 35px 30px;
				dl {
					padding-top: 5px;
					font-size: 14px;
					&:first-of-type {
						padding-top: 0;
					}
				}
			}
		}
	}
}
.line-list {
	li {
		border-bottom: 1px solid #eee;
		a {
			display: block;
			padding: 10px 0;
			font-size: 14px;
			line-height: 1.2;
			color: #333;
			&:hover {
				background-color: #f7f7f7;
			}
		}
	}
}

//배송일 지정 관련 안내
.shipday {
	&-list {
		padding: 15px 0;
	}
	div + div {
		border-top: 1px solid #eee;
	}
}

//내정보수정 마케팅 정보 수신여부
.mkt-info-agree {
	.table {
		thead {
			th {
				padding: 10px;
				white-space: pre;
			}
		}
		tbody {
			td {
				padding: 10px;
			}
		}
	}
}

//앱설치 유도 레이어팝업
.modal-app-layer-pop {
	flex-direction: row;
	align-items: flex-end;
	padding: 0;
	.modal-card-body {
		position: relative;
		padding: 0;
		p {
			position: relative;
			z-index: 0;
			img {
				width: 100%;
			}
		}
		.button-area {
			position: absolute;
			left: 7rem;
			top: 21rem;
			z-index: 1;
			text-align: center;
			@include mobile-device {
				left: 8.5vw;
				top: 28vw;
			}
			.button-app {
				display: block;
				padding: 1.5rem 3.5rem;
				border: 1px solid #00a3be;
				border-radius: 10rem;
				font-size: 2.6rem;
				font-weight: 800;
				letter-spacing: -0.05em;
				color: #00a3be;
				@include mobile-device {
					padding: 1.2vw 4vw;
					border-radius: 4vw;
					font-size: 4vw;
				}
			}
			.button-modal-close {
				margin-top: 1rem;
				padding: 1.2rem 2rem;
				font-size: 2rem;
				font-weight: 400;
				letter-spacing: -0.05em;
				text-decoration: underline;
				@include mobile-device {
					margin-top: 1vw;
					padding: 1.5vw 2vw;
					font-size: 2.8vw;
				}
			}
		}
	}
}
