.column-layout {
	width: 100%;
	font-size: 0;

	&.__box1 {
		li {
			display: block;
			width: 100%;
			padding: 5px 0;
		}
	}

	&.__box2 {
		margin: -30px 0 0;

		li {
			display: inline-block;
			width: calc(50% - 5px);
			margin: 20px 0 0;
			font-size: 0;
			vertical-align: top;

			&:nth-child(2n + 1) {
				margin-right: 10px;
			}

			&:nth-last-child(1) {
				margin-right: 0;
			}
		}

		&__mt1 {
			margin-top: 0;
			li {
				margin-top: 1rem;

				.product-item-header__name {
					font-weight: 400;
				}
			}
		}
	}
}

.image-thumb-wrap {
	position: relative;
	overflow: hidden;
	background: #ccc url(../images/common/loading_ani.gif) no-repeat center;
	background-size: 100px auto;
	padding: 0;

	&.__43 {
		&:after {
			padding-bottom: 75%;
		}
	}

	&.__169 {
		&:after {
			padding-bottom: 56.25%;
		}
	}

	&-110 {
		width: 110px;
	}

	.thumb {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;
		font-size: 0;
		line-height: 0;

		.image {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			max-width: none;
		}
		&-video {
			&:before {
				content: '';
				position: absolute;
				z-index: 1;
				width: 100%;
				height: 100%;
				background: rgba(0, 0, 0, 0.4);
			}
			&:after {
				content: '';
				display: inline-block;
				position: absolute;
				top: 50%;
				left: 50%;
				z-index: 10;
				width: 0;
				height: 13px;
				border-width: 6px 0 6px 10px;
				border-color: transparent transparent transparent #fff;
				border-style: solid;
				transform: translate(-50%, -50%);
			}
		}
	}

	&:after {
		display: block;
		content: '';
		padding-bottom: 100%;
	}
}

#container {
    .swiper-container {
        & .product-item {
            &--medium {
                .product-item-image {
                    .pitem-header-photo__badge {
                        img {
                            width:50px;
                        }
                    }
                }
            }
        }
        
    }
}

.product-item {
	// overflow: hidden;
	position: relative;
	// min-width: 200px;
	// padding: 0 0 20px;
	// padding: 0 0 46px;
	flex: 0 0 25%;

	// &:hover {
	// 	.product-item-image img {
	// 		transform: scale(1.2);
	// 	}
	// }
	.item-link {
		display: block;
	}

	&-line-wrap {
		margin-bottom: 2rem;
		padding-bottom: 2rem;
		border-bottom: 1px solid #eee;
	}

	&--small {
		display: table;
		width: 100%;

		.product-item-image {
			display: table-cell;
			width: 110px;
			height: 110px;
			overflow: hidden;
			background-size: 90px auto;

			> img {
				display: inline-block;
				// height: 110px;
				transition: none;
			}

			&:after {
				padding-bottom: 0;
			}

			.product-item-status {
				&--soldout {
					font-size: 1rem;
				}

				&--salesend {
					font-size: 1rem;
				}
			}
		}

		.product-item-content {
			display: table-cell;
			padding-left: 1rem;
			.button.enter_notice_button {
				margin-bottom: 1rem;
			}

			.product-item-header {
				margin-top: 0;

				.product-item-header__brand {
					margin-bottom: 1rem;
				}
			}

			.product-item-price {
				display: table;
				margin-bottom: 0;
				.product-item-price__left {
					display: table-footer-group;

					.product-item-price__price {
						margin-right: 0;
					}
				}

				.product-item-price__price--del {
					margin-top: 0;
				}
			}
		}

		&-80 {
			display: flex !important;
			align-items: center;

			.product-item-image {
				width: 80px !important;
				height: 80px !important;
				background-size: 80px auto;
			}

			.product-item-header {
				margin: 0 0 0.5rem 0 !important;
				line-height: 1.4;

				&__brand {
					display: inline-block;
					margin: 0rem 0 0.6rem 0 !important;
					color: #333;
					font-weight: 600;
					text-align: left;
				}
				.item-edit-area {
					button {
						margin-left: 5px;
						font-size: 15px;
						i {
							font-size: 15px;
						}
					}
				}
			}

			.product-item-content {
				width: calc(100% - 80px);
			}
		}

		&-90 {
			display: flex !important;

			.product-item-image {
				width: 90px !important;
				height: 90px !important;
				background-size: 90px auto;
			}

			.product-item-header {
				margin: 0 0 0.5rem 0 !important;
				line-height: 1.4;

				&__brand {
					display: inline-block;
					margin: 0rem 0 0.6rem 0 !important;
					color: #333;
					font-weight: 600;
					text-align: left;
				}
			}

			.product-item-content {
				width: calc(100% - 90px);
			}
		}

		&-50 {
			display: flex !important;
			align-items: center;

			.product-item-image {
				width: 50px !important;
				height: 50px !important;
				background-size: 50px auto;
			}

			.product-item-content {
				display: flex !important;
				justify-content: space-between;
				width: calc(100% - 50px);
				flex-grow: 1;
			}

			.product-item-content1 {
				width: calc(100% - 50px);
			}
		}
	}

	&--medium {
		width: 100%;

		.product-item-image {
			> img {
				height: auto;
				transition: none;
			}

			// .product-item-status {
			// 	span {
			// 		font-size: 4.3vw;
			// 	}
			// }
			.pitem-header-photo__badge {
				img {
					width:50px;
				}
			}
		}

		.product-item-price {
			display: table;
			width: 100%;
			position: relative;
			.product-item-price__left {
				display: table-footer-group;

				.product-item-price__price {
					margin-right: 0;
				}
			}

			.product-item-price__price--del {
				margin-top: 0;
				height: 1.9rem;
			}
			.num-rest {
				display: block;
				position: absolute;
				top: 0;
				right: 0;
				font-size: 12px;
				color: #333;
				span {
					font-weight: 600;
				}
			}
		}
	}

	&--large {
		width: 100%;

		.product-item-image {
			> img {
				height: auto;
				transition: none;
			}

			.product-item-status {
				.product-item-status--soldout {
					// font-size: 2.5rem;
					// font-size: 7.3vw;
				}
			}
		}

		.product-item-price {
			display: table;

			.product-item-price__left {
				display: table-cell;
				vertical-align: bottom;
			}

			.product-item-price__right {
				display: table-cell;
				line-height: 1.3;
				vertical-align: bottom;
			}
		}
	}

	// &--large02 {
	// 	width: 500px;
	// 	.product-item-image {
	// 		width: 500px;
	// 		height: 500px;
	// 		overflow: hidden;
	// 	}
	// }
	// &--xlarge {
	// 	width: 640px;
	// 	.product-item-image {
	// 		width: 640px;
	// 		height: 640px;
	// 		overflow: hidden;
	// 	}
	// }
	// &--xxlarge {
	// 	.product-item-image {
	// 		width: 780px;
	// 		height: 780px;
	// 		overflow: hidden;
	// 	}
	// }
	// 상품 품절 관련
	&-status {
		position: absolute;
		left: 0;
		bottom: 0;
		z-index: 3;
		width: 100%;
		height: 15%;
		background-color: rgba(0, 0, 0, 0.5);

		&--soldout {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			font-size: 1.3rem;
			font-size: 3.3vw;
			color: #fff;
		}

		&--salesend {
			display: flex;
			align-items: center;
			justify-content: center;
			height: 100%;
			// font-size: 1.5rem;
			font-size: 3.3vw;
			color: #fff;
		}

		&:before {
			display: none; //inline-block;
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			width: 55%;
			height: 1px;
			background-color: #fff;
			transform-origin: 0 0;
			transform: rotate(45deg);
		}

		&:after {
			display: none; //inline-block;
			content: '';
			position: absolute;
			right: 0;
			bottom: 0;
			width: 55%;
			height: 1px;
			background-color: #fff;
			transform-origin: 100% 100%;
			transform: rotate(45deg);
		}

		// }
		// 상품 구매, 장바구니 버튼
		// &-button {
		// 	&-wrap {
		// 		display: none;
		// 		align-items: center;
		// 		justify-content: center;
		// 		position: absolute;
		// 		left: 0;
		// 		top: 0;
		// 		z-index: 2;
		// 		width: 100%;
		// 		height: 100%;
		// 		background-color: rgba(0, 0, 0, 0.7);
		// 		button {
		// 			.icon-wrap {
		// 				display: flex;
		// 				align-items: center;
		// 				justify-content: center;
		// 				width: 70px;
		// 				height: 70px;
		// 				border: 1px solid #fff;
		// 				border-radius: 35px;
		// 			}
		// 			span {
		// 				display: block;
		// 				margin-top: 10px;
		// 			}
		// 			&:hover,
		// 			&:active {
		// 				opacity: 1;
		// 				// .icon-wrap {
		// 				// 	border-color: #fff;
		// 				// }
		// 				// span {
		// 				// 	color: #fff;
		// 				// }
		// 			}
		// 		}
		// 	}
		// 	&__button {
		// 		margin-left: 5px;
		// 		opacity: 0.6;
		// 		&--cart {
		// 			span {
		// 				color: #fff;
		// 				font-size: $size-5;
		// 			}
		// 		}
		// 		&--buy {
		// 			span {
		// 				color: #fff;
		// 				font-size: $size-5;
		// 			}
		// 		}
		// 		&:first-child {
		// 			margin-left: 0;
		// 		}
		// 	}
	}

	&-category {
		padding-top: 10px;
		border-top: 1px solid #eee;
	}

	&-tag {
		display: block;
		margin: -2.5px -2.5px 10px;

		&__item {
			display: flex;
			float: left;
			overflow: hidden;
			width: 4.5rem;
			height: 1.6rem;
			padding: 0 0.2rem;
			margin: 2.5px;
			border-radius: 0.3rem;
			color: #fff;
			font-size: 1rem;
			font-weight: 400;
			line-height: 1;
			align-items: center;
			justify-content: center;

			&:nth-last-child(1) {
				margin-right: 0;
			}

			&--green {
				background-color: #64935d;
			}
			&--black {
				background-color: #333;
			}
			&--blue {
				background-color: #28a0e4;
			}
			&--orange {
				background-color: #ff8d39;
			}
			&--red {
				background-color: #ed2650;
			}
			&--brown {
				background-color: #9d8474;
			}
			&--mint {
				background-color: #46ceac;
			}
			&--pink {
				background-color: #be56ee;
			}
		}

		&__kinds {
			overflow: hidden;
			float: left;
			width: 22px;
			height: 22px;
			margin-left: 4px;
			vertical-align: top;
			border-radius: 3px;

			img {
				width: 100%;
			}

			&--amount {
				display: inline-block;
				margin-left: 4px;
				color: #999;
				font-size: $size-5;
				vertical-align: top;
				line-height: 22px;
			}

			&--border {
				border: 1px solid #eee;
			}
		}
	}

	&-image {
		// position: relative;
		// overflow: hidden;
		// background: #ccc url(../images/common/loading_ani.gif) no-repeat center;
		// background-size: 100px auto;
		// padding: 0;
		&:after {
			display: block;
			content: '';
			padding-bottom: 100%;
		}

		.thumb {
			position: absolute;
			top: 0;
			left: 0;
			width: 100%;
			height: 100%;
			font-size: 0;
			line-height: 0;

			.image {
				position: absolute;
				top: 0;
				left: 50%;
				width: 100%;
				height: 100%;
				max-width: none;
				transform: translateX(-50%);
			}
		}

		// &:hover {
		// 	.product-item-status {
		// 		+ .product-item-button-wrap {
		// 			display: none;
		// 		}
		// 	}
		// 	.product-item-button-wrap {
		// 		display: flex;
		// 	}
		// }
		&--circle {
			border-radius: 100%;
		}

		> img {
			display: block;
			width: 100%;
			max-width: none;
			margin: 0 auto;
			height: 100%;
			vertical-align: top;
			transition: transform 0.3s cubic-bezier(0.17, 0.04, 0.03, 0.94);
		}

		.buttons {
			position: absolute;
			right: 0;
			bottom: 0;
			margin: 0;
			border: none;

			.button {
				display: block;
				width: 54px;
				min-width: 54px;
				height: 54px;
				margin: 0;
				padding: 0;
				border: none;
				text-align: center;
			}
		}
	}

	&-content {
		padding: 0;
	}

	&-header {
		position: relative;
		margin: 1.5rem 0 1rem;

		&__brand {
			display: inline-block;
			height: 22px;
			margin-bottom: 10px;
			padding: 0.4rem 1rem;
			border: 1px solid #000;
			border-radius: 2px;
			background-color: #fff;
			color: #333;
			font-size: 1.2rem;
			font-weight: 400;
			line-height: 1;
			text-align: center;
			word-break: break-all;
			&.not-border {
				margin-bottom: 0.75rem;
				padding: 0;
				border: none;
				vertical-align: top;
			}
			&-online {
				width: 84px;
				background-size: 62px auto;
				background-image: url(../images/common/brand_online.png);
				background-position: 50% 50%;
				background-repeat: no-repeat;
			}
			&-livart {
				width: 75px;
				background-size: 52px auto;
				background-image: url(../images/common/brand_livart.png);
				background-position: 50% 50%;
				background-repeat: no-repeat;
			}
		}

		&__brand2 {
			display: inline-block;
			margin: -0.2rem 0 0.5rem;
			background-color: #fff;
			font-size: $size-5;
			font-weight: 400;
			word-break: break-all;
			vertical-align: top;
		}

		&__name {
			display: block;
			display: -webkit-box;
			overflow: hidden;
			height: 40px;
			// max-height: 40px;
			font-size: 1.3rem;
			font-weight: 600;
			letter-spacing: -0.8px;
			line-height: 1.6;
			word-break: break-all;
			color: #333;
			text-overflow: ellipsis;
			word-wrap: break-word;
			-webkit-line-clamp: 2;
			-webkit-box-orient: vertical;
			transition: opacity 0.1s;
			// &:hover,
			// &:focus {
			// 	color: #000;
			// 	text-decoration: underline;
			// }
		}

		&__detail-name {
			display: block;
			display: -webkit-box;
			min-height: 3.9rem;
			font-size: 1.3rem;
			color: #333;

			&.height-auto {
				min-height: initial !important;
			}
		}

		&__kinds {
			position: absolute;
			top: 5px;
			right: 0;
		}

		&--date {
			font-size: $size-4;
			color: #777;
		}
	}

	&-price {
		display: block;
		margin: 0 0 15px;

		&__rate {
			color: $red;
			margin-right: 0.5em;
		}

		&__discount {
			display: inline-block;
			// position: relative;
			// margin-bottom: 10px;
			margin-right: 7px;
			color: $red;
			font-size: 2rem;
			font-weight: 600;
			letter-spacing: -0.1px;
			line-height: 1;
			vertical-align: bottom;

			.unit {
				margin-left: 0.2rem;
				font-size: 1.5rem;
				font-weight: 400;
			}

			// 툴팁
			// .ico-tooltip {
			// 	display: inline-block;
			// 	width: 15px;
			// 	height: 15px;
			// 	background: url(../images/common/tooltip_arrow_off.png) no-repeat center;
			// 	background-size: contain;
			// 	&:hover {
			// 		background: url(../images/common/tooltip_arrow_on.png) no-repeat center;
			// 		background-size: contain;
			// 		+ .product-item-price__discount--tooltip {
			// 			display: block;
			// 		}
			// 	}
			// }
			// &--tooltip {
			// 	display: none;
			// 	position: absolute;
			// 	top: 30px;
			// 	left: calc(100% - 25px);
			// 	z-index: 10;
			// 	width: 180px;
			// 	padding: 15px;
			// 	border: 1px solid #333;
			// 	box-sizing: border-box;
			// 	background-color: #fff;
			// 	dl {
			// 		color: #777;
			// 		padding: 8px 0;
			// 		border-bottom: 1px solid #e5e5e5;
			// 		&:first-child {
			// 			padding-top: 0;
			// 			color: #333;
			// 			border-bottom: 1px solid #000;
			// 		}
			// 		&:nth-last-child(1) {
			// 			padding-bottom: 0;
			// 			border-bottom: none;
			// 			dt {
			// 				color: #333;
			// 			}
			// 			dd {
			// 				color: $red;
			// 			}
			// 		}
			// 		dt {
			// 			font-size: $size-5;
			// 			font-weight: 400;
			// 		}
			// 		dd {
			// 			font-size: $size-5;
			// 			font-weight: 400;
			// 			letter-spacing: -0.2px;
			// 			.unit {
			// 				font-size: 11px;
			// 			}
			// 		}
			// 	}
			// }
		}

		&__price {
			color: #333;
			font-size: 2rem;
			font-weight: 600;
			line-height: 1;
			letter-spacing: -1px;
			margin-right: 10px;

			&--wrap {
				display: inline-block;
				// margin-left: 7px;
				vertical-align: bottom;
				line-height: 1;

				&:after {
					display: block;
					content: '';
					clear: both;
				}
			}

			&--wrap2 {
				display: flex;
				align-items: center;
				line-height: 1;
				vertical-align: bottom;
			}

			.unit {
				font-size: 1.4rem;
				font-weight: 400;
				margin-left: 0.2rem;
			}

			&--del {
				margin-top: 5px;
				color: #999;
				font-size: 1.3rem;
				letter-spacing: -0.1px;

				.unit {
					margin-left: -2px;
					color: #999;
					font-size: 1.1rem;
					letter-spacing: -0.1px;
				}
			}
		}

		&__add-txt {
			min-width: 7rem;
			font-size: $size-5;
			color: $red;
		}
	}

	&-heart {
		display: inline-flex;
		align-items: center;
		padding: 0;
		margin-left: 1.2rem;

		i {
			display: block;
			// @include sprite-image($icon-like);
			// @include sprite-position($icon-like);
			// @include sprite-width($icon-like);
			// @include sprite-height($icon-like);
		}

		&.is-active {
			i {
				// @include sprite-image($icon-like_on);
				// @include sprite-position($icon-like_on);
			}
		}

		&__num {
			display: inline-block;
			margin-left: 0.5rem;
			font-size: 1.2rem;
			color: #28a0e4;
		}

		&:hover {
			.product-item-heart__num {
				color: #28a0e4;
			}
		}
	}
	&-comm {
		color: #777;
		font-size: 1.2rem;
		line-height: 1.6rem;
		&__num {
			display: inline-block;
			margin-left: 0.2rem;
		}
	}

	&-stats {
		margin: 20px 0;
	}

	&-badge-list {
		margin: 6px 0 0;
	}

	&-button {
		width: 54px;
		height: 54px;

		&__heart {
			background-color: #fff;
		}

		&__share {
			background-color: #1a1a1a;
		}

		&__notification {
			display: flex;
			justify-content: space-between;
			align-items: center;
			position: relative;

			.button {
				align-items: flex-start;
				min-width: auto;
				height: auto;
				padding: 0;
				border: none;
				z-index: 1;

				i {
					margin-bottom: 1rem;
				}
			}
		}
	}
}

.stats-rate {
	display: inline-block;
	overflow: hidden;
	position: relative;
	white-space: nowrap;
	vertical-align: middle;

	&__star {
		position: absolute;
		top: 0;
		left: 0;
		z-index: 1;
		width: 100%;
		height: 95%;

		&--00 {
			width: 0% !important;
		}

		&--05 {
			width: 9% !important;
		}

		&--10 {
			width: 19% !important;
		}

		&--15 {
			width: 29% !important;
		}

		&--20 {
			width: 40% !important;
		}

		&--25 {
			width: 50% !important;
		}

		&--30 {
			width: 61% !important;
		}

		&--35 {
			width: 71% !important;
		}

		&--40 {
			width: 80% !important;
		}

		&--45 {
			width: 92% !important;
		}

		&--50 {
			width: 100% !important;
		}
	}

	&__num {
		display: inline-flex;
		margin-left: 10px;
		align-items: center;
		vertical-align: middle;
		color: #333;
	}
}

%icon {
	display: inline-block;
	vertical-align: middle;
}

.product-item-icon {
	@extend %icon;
}

.product-review-stats-area {
	.stats-rate {
		&-wrap {
			display: flex;
			height: 20px;
			line-height: 1;
			font-size: 1.3rem;
			color: #333;

			i {
				display: inline-block;
				color: #000;
				font-size: 1.7rem;
			}
		}

		&__num {
			// align-items: flex-end;
			margin-left: 5px;
			height: 1.7rem;
			line-height: 1;
		}
	}
}

.product-item.time-sale {
	.product-item-image {
		&:hover {
			.product-item-button-wrap--time {
				display: flex;
			}
		}
	}

	.product-item-button-wrap--time {
		display: flex;
		align-items: center;
		justify-content: center;
		position: absolute;
		left: 0;
		top: 0;
		z-index: 2;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.6);

		.product-item-button-text {
			display: flex;
			width: 100%;
			// height: calc(100% - 70px);
			align-items: center;
			justify-content: center;
			color: #fff;

			> dl {
				align-items: center;
				color: #fff;
				text-align: center;
				font-size: $size-4;
				// font-weight: 600;
				line-height: 1;

				dt {
					font-size: $size-4;
					color: #fff;
				}

				dd {
					font-size: 5.5vw;
					// font-weight: 400;
					margin-top: 1rem;
					color: #fff;

					strong {
						// margin-right: 10px;
						// color: #f85039;
						// float: none;
						font-weight: 600;
						color: #fff;
					}

					span {
						float: none;
					}
				}
			}
		}

		> .button {
			display: flex;
			width: 100%;
			height: 100%;
			min-height: 70px;
			max-height: 70px;
			background-color: #f85039;
			color: #fff;
			align-items: center;
			justify-content: center;
			border: 1px solid #f85039;
			position: absolute;
			bottom: 0;

			> span {
				margin: 0;
				margin-left: 10px;
				font-size: $size-4;
			}

			&.is-active {
				background-color: #fff;
				color: #333;
				border: 1px solid #ccc;
			}
		}
	}

	.groupbuy-item-goal-wrap {
		position: absolute;
		bottom: 0;
		width: 100%;
		// height: 20px;
		// margin-top: 10px;
		z-index: 2;
		background-color: rgba(255, 255, 255, 0.7);
		padding: 1rem 0;
		text-align: center;

		.groupbuy-item-goal {
			line-height: 1;
			margin: 0 0 0;
			// .groupbuy-item-goal__bar {
			// 	margin-bottom: 10px;
			// 	background-color: #ccc;

			// 	.groupbuy-item-goal__bar--r {
			// 		position: absolute;
			// 		top: 0;
			// 		left: 0;
			// 		height: 5px;
			// 		background: #f85039;

			// 		@at-root .--progress-move & {
			// 			animation: aniProgress 2s ease-in-out;
			// 		}

			// 		&.groupbuy-item-goal__bar--auto {
			// 			animation: aniProgress 2s ease-in-out;
			// 		}
			// 	}
			// }

			.groupbuy-item-goal__day,
			.groupbuy-item-goal__num {
				// float: none;
				// font-weight: 600;
				color: #333;

				strong {
					font-weight: 600;
				}
			}

			.groupbuy-item-goal__num {
				margin-left: 5px;
			}
		}
	}
}

.groupbuy-item-goal--style {
	> div {
		display: flex;
		justify-content: center;
		align-items: center;
		line-height: 1;

		i {
			margin-right: 0.3rem;
		}
	}
}

.product-item-stock {
	margin-top: 20px;
	border-top: 1px solid #eee;

	> span {
		display: block;
		padding-top: 20px;
		color: #333;
		font-size: $size-4;
	}
}

.swiper-container-wrap {
	margin: 0 -26.5px;

	.swiper-container {
		.product-item--large {
			margin: 0 26.5px;
		}

		.navigation-box2 {
			.swiper-button-prev {
				left: 26.5px;
			}

			.swiper-button-next {
				right: 26.5px;
			}

			.swiper-button-next,
			.swiper-button-prev {
				top: 186px;
				width: 70px;
				height: 70px;
				color: #fff;
				background-color: rgba(0, 0, 0, 0.9) !important;
				opacity: 0.5;
				transition: opacity 0.5s;

				&:hover {
					opacity: 1;
				}
			}
		}
	}
}
