// 메인용 라인 스타일
.swiper-main-nav-style {
	.navigation-box {
		// width: 1366px;
		position: absolute;
		left: 50%;
		top: 50%;
		z-index: 1;
		margin-top: 84px;
		transform: translate(-50%, -50%);

		.swiper-button-next,
		.swiper-button-prev {
			width: 70px;
			height: 70px;
			color: #fff;
			background-color: rgba(0, 0, 0, 0.9);
			opacity: 0.5;
			transition: opacity 0.5s;

			&:hover {
				opacity: 1;
			}

			&:after {
				display: none;
			}
		}
	}

	.paging-box {
		position: absolute;
		left: 50%;
		bottom: 0;
		width: 667px;
		line-height: 20px;
		transform: translate(-50%, 0);

		.swiper-pagination {
			top: 10px;
			width: 100%;
			height: 2px;

			&-outer {
				overflow: hidden;
				position: relative;
				height: 20px;
				margin: 0 120px 0 55px;
			}
		}

		.swiper-pagination-count {
			position: absolute;
			top: 0;
			right: 0;
		}

		.swiper-button-prev,
		.swiper-button-next {
			@extend %paging-box-swiper-button;
		}
	}

	.swiper-pagination-progressbar-fill {
		background: #373737;
	}
}

.section-title-wrap {
	@extend .container;
}

.tab-block {
	margin-top: 64px;
	margin-bottom: 42px;
	&.no-lines {
		.tab-block-item {
			&.is-active {
				:after {
					content: none;
				}
			}
		}
	}
	.inner {
		text-align: center;
	}

	&.tab-flex-justify .inner {
		display: flex;
	}

	&-item {
		display: inline-block;
		margin: 0 12.5px;
		text-align: center;

		&:first-child {
			margin-left: 10px;
		}

		@at-root .tab-flex-justify & {
			flex: 1 1 auto;
			margin: 0;
		}

		&-lists {
			white-space: nowrap;
			overflow-x: auto;
			text-align: center;
			font-size: 0;
		}

		&__btn {
			position: relative;
			display: inline-block;
			padding: 12.5px 0;
			text-align: center;
			font-size: 1.4rem;
			color: #777;
			transition: color 0.3s #{$transition};

			&:after {
				content: '';
				display: block;
				position: absolute;
				left: 50%;
				top: 0;
				width: 0;
				height: 2px;
				background: #000;
				transform: translate(-50%, 0);
				transition: width 0.3s;
			}
		}
		.img-txt {
			display: inline-block;
			width: 30px;
			height: auto;
			vertical-align: top;
			margin: 2px 0 -4px 4px;
			&.isLive {
				margin: -7px 0 -4px 4px;
			}
		}
	}

	// &-item:hover .tab-block-item__btn,
	&-item.is-active .tab-block-item__btn {
		font-weight: 600;
		color: #000;

		&:after {
			width: 100%;
		}
	}

	&.is-bottom-liner {
		border-bottom: 1px solid #eee;
	}
}

// 횡스크롤 메뉴 스크롤때문에 선택이 바로 안되는 이슈가 있음 (스크롤 숨겨도 동작은 됨)
// ::-webkit-scrollbar {
// display: none;
// }

.no-data {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	height: calc(100vh - 500px);
	min-height: 140px;
	p {
		margin-top: 2.5rem;
		font-size: 1.3rem;
	}
}

// .header-dafault.fixed {
// 	.box-block,
// 	.tab-block {
// 		position: absolute;
// 		visibility: hidden;
// 		opacity: 0;
// 		margin: 0 auto;
// 		border-bottom: 1px solid #eee;
// 		transition: opacity 0.1s;
// 		overflow-x: auto;
// 		font-size: 0;
// 		&.is-active {
// 			visibility: visible;
// 			position: relative;
// 			opacity: 1;
// 			height: 5rem;
// 		}
// 		&-item {
// 			&-lists {
// 				overflow: visible;
// 				position: absolute;
// 				background-color: #fff;
// 				transition: all 0.5s;
// 			}
// 		}
// 	}
// 	.tab-block {
// 		&.is-active {
// 			height: 4.5rem;
// 		}
// 	}
// }

.scroll-fixed-box {
	position: relative;
	z-index: 5;
	max-width: 890px;
	margin: 0 auto;
	.box-block,
	.tab-block {
		position: relative;
		opacity: 1;
		width: 100%;
		height: 5.2rem;
		margin: 0 auto;
		background-color: #fff;
		// transition: opacity 0.1s;
		overflow-x: auto;
		transition: all 0.3s;
		&-item {
			&-lists {
				overflow: visible;
				position: absolute;
				background-color: #fff;
				// transition: all 0.3s;
			}
		}
	}
	&.is-fixed {
		.box-block,
		.tab-block {
			// padding-top: 0;
			border-bottom: 1px solid #eee;
			max-width: 890px;
		}
	}
	.tab-block {
		height: 4.5rem;
	}
}
.box-block {
	position: relative;
	z-index: 5;
	max-width: 890px;
	margin: 0.5rem auto;
	// margin: 1rem auto 1.5rem;
	padding: 1rem 0;
	background-color: #fff;

	&-item {
		display: inline-block;
		position: relative;
		margin: 0 0.5rem;
		text-align: center;
		vertical-align: top;
		&:first-child {
			margin-left: 1rem;
		}

		&:nth-last-child(1) {
			margin-right: 1rem;
		}
		@at-root .tab-flex-justify & {
			flex: 1 1 auto;
			margin: 0;
		}
		&-lists {
			white-space: nowrap;
			overflow-x: auto;
			text-align: left;
			font-size: 0;
		}

		&__btn {
			overflow: hidden;
			position: relative;
			display: inline-flex;
			min-width: 55px;
			max-width: 190px;
			// padding: 0.35rem 1.5rem;
			padding: 0 1.5rem;
			height: 3.2rem;
			border: 1px solid #ccc;
			background-color: #fff;
			text-align: center;
			font-size: $size-3;
			color: #888;
			line-height: 1;
			transition: all 0.3s #{$transition};
			text-overflow: ellipsis;
			white-space: nowrap;
			vertical-align: top;
			align-items: center;

			&:after {
				content: '';
				display: block;
				position: absolute;
				left: 50%;
				top: 0;
				width: 0;
				height: 2px;
				background: #000;
				transform: translate(-50%, 0);
				transition: width 0.3s;
			}
		}
	}

	&.box-block-2dep {
		margin-bottom: 1rem;
		.box-block-item {
			min-height: 87px;
		}
	}

	&-ul {
		display: none;
	}

	// &-item:hover .box-block-item__btn,
	&-item.is-active {
		.box-block-item__btn {
			border-color: #333;
			// font-weight: 600;
			color: #fff;
			background-color: #333;
		}

		.box-block-item-ul {
			display: block;
			position: absolute;
			top: 48px;
			left: 0;
			z-index: 1;

			> li {
				display: inline-block;

				a {
					padding: 2rem 1.5rem;
					font-size: $size-3;
					color: #ccc;

					&:first-child {
						padding-left: 0;
					}
				}

				&.is-active {
					a {
						color: #333;
						font-size: $size-3;
						font-weight: 600;
					}
				}
			}
		}
	}
}

/* top banner */
.top-banner {
	&-default {
		width: 100%;
		height: 45px;
		background: #373737 url(../images/common/bg_banner.jpg) center no-repeat;
	}

	&__btn {
		position: absolute;
		right: 0;
		top: 0;
		width: 45px;
		height: 45px;
		color: #fff;
		text-indent: -999em;

		&:before,
		&:after {
			content: '';
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			background: #fff;
			transform: translate(-50%, -50%);
			transition: transform 0.3s;

			@at-root .open-banner & {
				transform: translate(-50%, -50%) rotate(45deg);
			}
		}

		&:before {
			width: 1px;
			height: 17px;
		}

		&:after {
			width: 17px;
			height: 1px;
		}
	}

	&-area {
		height: 0;
		background: #00b1a1 url(../images/common/img_banner.jpg) center top no-repeat;
		transition: height 0.3s #{$transition};

		@at-root .open-banner & {
			height: 400px;
		}
	}
}

#timesale-clock {
	display: block;
	position: relative;
	width: 56px;
	height: 56px;
	margin: 0 auto;
	border: 2px solid #fff;
	border-radius: 50%;
	background: url(../images/common/timer_center.png) center no-repeat;
}

#timesale-sec,
#timesale-min,
#timesale-hour {
	position: absolute;
	width: 10px;
	height: 38px;
	top: 7px;
	left: 21px;
}

#timesale-sec {
	background: transparent;
	z-index: 3;
	display: none;
}

#timesale-min {
	background: url(../images/common/timer_min.png) center top no-repeat;
	z-index: 2;
}

#timesale-hour {
	background: url(../images/common/timer_hour.png) center 7px no-repeat;
	z-index: 1;
	transform: rotate(115deg);
}

.paging-box {
	&.paging-box-progress1 {
		position: relative;
		width: 560px;
		height: 60px;
		margin: 110px auto 0px;

		.swiper-pagination-outer {
			position: relative;
			width: 443px;
			margin: 30px auto 0;
		}

		.swiper-pagination-progressbar {
			width: 440px;
			height: 2px;
			top: 4px;
		}

		.swiper-pagination-progressbar-fill {
			height: 2px;
			background-color: #000;
		}

		.swiper-pagination-number {
			font-weight: 400;

			&-active {
				color: #000;
			}
		}
	}
}

/* 기획전 */
#main-exhibition {
	.swiper-slide {
		height: 727px;
		overflow: hidden;
	}

	.now-list {
		position: relative;
		height: 727px;

		.item {
			position: absolute;
			width: 360px;
			height: 360px;
			overflow: hidden;

			.img {
				position: absolute;
				width: 100%;
				height: 100%;
				left: 50%;
				top: 50%;
				background-position: center;
				background-repeat: no-repeat;
				background-size: cover;
				transform: translate(-50%, -50%);
				transition: 0.3s #{$transition};
			}

			&:hover .img {
				width: 120%;
				height: 120%;
			}

			.btn {
				&:not(.main) {
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					z-index: 1;
					width: 100%;
					height: 100%;
					visibility: hidden;
					opacity: 0;
					// visibility: visible;
					// opacity: 1;
					text-align: center;
					color: #fff;
					background-color: rgba(0, 0, 0, 0.7);
					transition: 0.3s #{$transition};

					&:before,
					&:after {
						content: '';
						display: block;
						position: absolute;
						left: 50%;
						top: 50%;
						margin-top: 120px;
						background-color: #fff;
						transform: translate(-50%, -50%);
					}

					&:before {
						width: 19px;
						height: 1px;
					}

					&:after {
						width: 1px;
						height: 19px;
					}
				}

				.brand-tag {
					display: inline-block;
					margin-top: 85px;
					padding: 5px 30px;
					color: #fff;
					font-size: $size-4;
					letter-spacing: -0.5px;
					border: 1px solid #fff;
					border-radius: 3px;

					+ .brand-txt {
						margin-top: 25px;
					}
				}

				.brand-txt {
					display: block;
					width: 70%;
					margin: 110px auto 0;
					color: #fff;
					text-align: center;
					font-size: $size-1;
					font-weight: 400;
					line-height: 1.2;
					letter-spacing: -0.5px;
					word-break: keep-all;
				}

				.brand-day {
					display: block;
					margin-top: 20px;
					color: #fff;
					font-size: $size-4;

					em {
						font-style: normal;
					}
				}
			}

			&:hover .btn {
				visibility: visible;
				opacity: 1;
			}

			&:nth-child(1) {
				left: 0;
				top: 0;
			}

			&:nth-child(2) {
				left: 0;
				bottom: 0;
			}

			&:nth-child(3) {
				right: 0;
				top: 0;
			}

			&:nth-child(4) {
				right: 0;
				bottom: 0;
			}

			&:nth-child(5) {
				left: 365px;
				top: 0;
				width: 637px;
				height: 727px;

				.btn {
					display: block;
					position: absolute;
					left: 0;
					top: 0;
					z-index: 1;
					width: 100%;
					height: 100%;

					.txt-wrap {
						position: absolute;
						right: 50px;
						bottom: 80px;
						z-index: 5;

						.event-txt {
							display: block;
							width: 350px;
							margin-bottom: 10px;
							color: #fff;
							font-size: $size-4;
							font-weight: 400;
							line-height: 1;
							text-align: right;
						}

						.tit {
							display: block;
							width: 350px;
							color: #fff;
							font-size: 62px;
							font-weight: 600;
							line-height: 1;
							text-align: right;
						}

						.event-txt-sub {
							display: block;
							width: 350px;
							margin-top: 30px;
							color: #fff;
							font-size: $size-2;
							font-weight: 400;
							line-height: 1;
							text-align: right;
						}
					}
				}
			}
		}
	}
}

/* 신상품 */
#main-arrival {
	position: relative;
	padding-top: 75px;
	padding-bottom: 70px;

	&.section-bg {
		background-color: #dfd6d4;
	}

	.swiper-slide {
		width: 100%;
		background-color: #fff;

		.float-right {
			padding-right: 35px;
		}
	}

	.navigation-box {
		width: 100%;
		max-width: 1550px;
		position: absolute;
		left: 50%;
		top: 50%;
		z-index: 1;
		margin-top: 50px;
		transform: translate(-50%, -50%);

		.swiper-button-next,
		.swiper-button-prev {
			opacity: 0.3;
			transition: opacity 0.5s;
		}

		.swiper-button-next {
			right: 0;
		}

		.swiper-button-prev {
			left: 0;
		}

		.swiper-button-next:hover,
		.swiper-button-prev:hover {
			opacity: 1;
		}

		.swiper-button-next:after,
		.swiper-button-prev:after {
			display: none;
		}
	}

	.product-item {
		width: 245px;
		margin: 0 15px;
		padding: 66px 15px 0;

		&-content {
			max-width: 245px;
		}

		&-image--circle {
			width: 245px;
			height: 245px;
		}

		&-cart {
			width: 44px;
			height: 44px;
			margin: 40px auto;

			&:after {
				content: '';
				display: block;
				width: 100%;
				height: 3px;
				margin-top: 10px;
				background-color: #000;
			}
		}
	}

	.paging-box {
		position: relative;
		width: 660px;
		margin-top: 30px;
		line-height: 20px;

		.swiper-pagination-outer {
			position: relative;
			height: 20px;
			margin: 0 120px 0 55px;
			overflow: hidden;
		}

		.swiper-pagination {
			width: 100%;
			height: 2px;
			top: 10px;
		}

		.swiper-pagination-count {
			position: absolute;
			right: 0;
			top: 0;
		}

		.swiper-button-prev:after,
		.swiper-button-next:after {
			display: none;
		}

		.swiper-button-prev {
			color: #000;
		}

		.swiper-button-next {
			color: #000;
		}
	}

	.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
		background: #373737;
	}
}

/* 신상품 */
#new-items {
	position: relative;
	padding-top: 75px;
	padding-bottom: 70px;

	&.section-bg {
		background-color: #dfd6d4;
	}

	.swiper-slide {
		width: 100%;
		background-color: #fff;

		.float-right {
			padding-right: 35px;
		}
	}

	.navigation-box {
		width: 100%;
		max-width: 1550px;
		position: absolute;
		left: 50%;
		top: 50%;
		z-index: 1;
		margin-top: 50px;
		transform: translate(-50%, -50%);

		.swiper-button-next,
		.swiper-button-prev {
			opacity: 0.3;
			transition: opacity 0.5s;
		}

		.swiper-button-next {
			right: 0;
		}

		.swiper-button-prev {
			left: 0;
		}

		.swiper-button-next:hover,
		.swiper-button-prev:hover {
			opacity: 1;
		}

		.swiper-button-next:after,
		.swiper-button-prev:after {
			display: none;
		}
	}

	.product-item {
		width: 245px;
		margin: 0 15px;
		padding: 66px 15px 0;

		&-content {
			max-width: 245px;
		}

		&-image--circle {
			width: 245px;
			height: 245px;
		}

		&-cart {
			width: 44px;
			height: 44px;
			margin: 40px auto;

			&:after {
				content: '';
				display: block;
				width: 100%;
				height: 3px;
				margin-top: 10px;
				background-color: #000;
			}
		}
	}

	.paging-box {
		position: relative;
		width: 660px;
		margin-top: 30px;
		line-height: 20px;

		.swiper-pagination-outer {
			position: relative;
			height: 20px;
			margin: 0 120px 0 55px;
			overflow: hidden;
		}

		.swiper-pagination {
			width: 100%;
			height: 2px;
			top: 10px;
		}

		.swiper-pagination-count {
			position: absolute;
			right: 0;
			top: 0;
		}

		.swiper-button-prev:after,
		.swiper-button-next:after {
			display: none;
		}

		.swiper-button-prev {
			color: #000;
		}

		.swiper-button-next {
			color: #000;
		}
	}

	.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
		background: #373737;
	}
}

/* MEDIA SHOWROOM */
#main-media {
	padding-top: 75px;
	padding-bottom: 120px;

	.fullcover-banner {
		margin-bottom: 80px;

		&-item {
			width: 388px;
			height: 226px;
			padding-top: 50px;
			font-size: $size-1;
			font-weight: 400;

			&__text {
				width: 100%;
				margin-top: 50px;
				padding-top: 20px;
				text-align: center;
				border-top: 2px solid #fff;
			}
		}
	}
}

.fullcover-banner {
	position: relative;
	height: 400px;
	background-size: cover;
	background-position: 50% 50%;
	background-repeat: no-repeat;

	&-item {
		position: absolute;
		top: 50%;
		left: 50%;
		margin: 0 auto;
		transform: translate(-50%, -50%);

		&__text {
			color: #fff;
			display: block;
		}

		&__img {
			display: block;

			img {
				max-width: 100%;
			}
		}
	}
}

.best-nav {
	margin: 50px auto;
	text-align: center;
}

#main-fullcover-slide {
	margin: 20px 0 60px;
}

/* 베스트 아이템 */
#main-best {
	position: relative;
	z-index: 1;

	.section-block {
		height: 920px;
		margin-top: 64px;
		background: url(../images/bg_bestseller.jpg) center top no-repeat;
	}

	// height: 1000px;
	.product-item--xlarge {
		position: absolute;
		top: 0;
		left: 0;

		.product-item-content {
			max-width: 640px;
		}
	}

	.swiper-container {
		// position: absolute;
		margin: 0 0 0 auto;
		width: 675px;
		height: 1265px;
	}

	.paging-box {
		.swiper-pagination-count {
			right: 58px;
		}

		.swiper-button-prev,
		.swiper-button-next {
			@extend %paging-box-swiper-button;

			&:before {
				display: none;
			}
		}

		.swiper-button-prev {
			left: 0;
		}

		.swiper-button-next {
			right: 0;
		}
	}

	.product-items-box {
		// position: absolute;
		// right: 0;
		// bottom: 0;
		// z-index: 1;
		// width: 675px;

		> ul {
			margin: 107px 0 0;

			> li {
				display: inline-block;
				margin: 60px 0 0;
				vertical-align: top;

				> ul {
					margin: 0 -15px;

					> li {
						display: inline-block;
						margin: 0 15px 40px;
						vertical-align: top;
					}
				}
			}
		}
	}

	.swiper-slide {
		height: auto;
		background-color: transparent;
	}

	.paging-container {
		position: absolute;
		top: 111px;
		left: 248px;
		z-index: 20;
		width: auto;
		height: 20px;

		.paging-box {
			width: 500px;
			margin: 0;

			.swiper-button-prev,
			.swiper-button-next {
				top: 0;
				height: 20px;
				margin-top: 0;
				padding: 0;
			}
		}
	}
}

/* 리바트 꿀팁 */
#main-tip {
	.section-block {
		height: 932px;
		margin-top: 52px;
		background: url(../images/bg_onlylivart.jpg) center top no-repeat;
	}
}

// 관련 상품
.related-item {
	a {
		display: table;
		width: 100%;
	}

	&-image {
		display: table-cell;
		width: 90px;
		vertical-align: top;

		img {
			width: 90px;
			height: 90px;
		}
	}

	&-header {
		&__brand {
			display: block;
			margin-bottom: 8px;
			color: #787878;
			font-size: $size-3;
			font-weight: 400;
			line-height: 1.1;
		}

		&__name {
			display: block;
			margin-bottom: 8px;
			color: #1a1a1a;
			font-size: $size-4;
			line-height: 1.1;
		}
	}

	&-content {
		display: table-cell;
		padding-top: 8px;
		padding-left: 30px;
		vertical-align: top;
	}

	&-price {
		display: block;
		color: #787878;

		&__price {
			font-size: $size-4;
		}

		.unit {
			font-size: $size-4;
		}
	}
}

// 메인 쿠폰 배너
#main-coupon {
	margin-top: 0;
}

.main-coupon {
	font-size: 0;
	margin: 0 -1px;

	&-item {
		display: inline-block;
		margin: 0 1px;

		img {
			max-width: 100%;
		}
	}
}

/* notice */

.latest-title {
	&-wrap {
		position: relative;
		height: 73px;
		margin-right: 16px;
		padding: 0 35px;
		line-height: 73px;
		border-top: 2px solid #000;
		border-bottom: 1px solid #000;
		color: #000;
		font-size: 25px;
	}

	&-more {
		position: absolute;
		top: 14px;
		right: 18px;
		padding: 10px;
	}
}

.latest-list {
	margin-top: 30px;

	&__title {
		display: block;
		text-overflow: ellipsis;
		overflow: hidden;
		white-space: nowrap;
	}

	&__date {
		position: absolute;
		right: 0;
		top: 0;
	}

	&.dot-list {
		> li {
			color: #000;
			margin-bottom: 1.5em;
			line-height: 1.1;

			&:before {
				content: '-';
			}

			a {
				display: block;
				position: relative;
				padding-right: 81px;
				color: #000;

				&:hover {
					text-decoration: underline;
				}
			}
		}
	}
}

#main-notice {
	position: relative;
	z-index: 1;
	margin-bottom: 60px;

	.float-left {
		width: 50%;

		.latest-list {
			margin-left: 35px;
			margin-right: 45px;
		}
	}

	.float-right {
		width: 50%;

		.latest-title {
			&-wrap {
				font-size: $size-1;
				margin-left: 16px;
				border-bottom: none;
			}
		}
	}

	.cust-content {
		color: #000;
		margin-left: 16px;
		padding: 0 35px;

		&__strong {
			font-size: 50px;
			font-weight: 700;
		}

		&__desc {
			font-size: $size-3;
			margin-bottom: 30px;

			strong {
				font-weight: 700;
			}
		}

		&__button {
			display: block;
			width: 150px;
			height: 40px;
			margin-bottom: 10px;
			padding: 0;
			color: #000;
			border: 1px solid #000;
			line-height: 40px;
			font-size: $size-4;
			text-align: center;

			&:hover {
				background-color: #f1f1f1;
			}
		}
	}
}

.btn-detail-view {
	display: block;
	position: absolute;
	left: 50%;
	bottom: 0;
	width: 950px;
	height: 60px;
	line-height: 60px;
	background: #000;
	text-align: center;
	color: #fff;
	transform: translate(-50%, 0);
}

// footer
.footer {
	&-top {
		min-height: 40px;
		padding: 15px 10;
		background-color: #141414;
		color: #202020;

		.container {
			max-width: 420px;
		}

		li {
			display: inline-block;
			margin: 0 10px;
		}

		a {
			&:hover {
				color: #fff;
			}
		}

		&-menu {
			padding: 10px;
			font-size: 1.2rem;

			ul {
				font-size: 0;
				text-align: center;

				li {
					position: relative;
					margin: 0;
					padding: 0 4%;
					font-size: 1.2rem;

					&:first-child {
						padding-left: 0;

						&:before {
							content: none;
						}
					}

					&:nth-last-child(1) {
						padding-right: 0;
					}

					&:before {
						display: inline-block;
						content: '';
						position: absolute;
						top: 50%;
						left: 0;
						z-index: 1;
						width: 1px;
						height: 5px;
						background-color: #ccc;
						transform: translate(0, -50%) rotate(45deg);
						transform-origin: 50%, 50%;
					}
				}
			}

			&__link {
				color: #bbb;

				strong {
					color: #fff;
				}
			}
		}

		&-right {
			display: flex;
			justify-content: center;
			max-width: 860px;
			margin: 0 auto 10px;
			padding: 0 10px;
			text-align: center;

			ul {
				//display: flex;
				align-items: center;

				li {
					display: inline-block;
					position: relative;
					margin-left: 10px;
					padding-left: 10px;

					&:first-child {
						margin-left: 0;
						padding-left: 0;

						&:before {
							content: none;
						}
					}

					&:before {
						display: inline-block;
						content: '';
						position: absolute;
						top: 50%;
						left: 0;
						z-index: 1;
						width: 1px;
						height: 1px;
						background-color: #8d8d8d;
						transform: translateY(-50%);
					}
				}
			}

			&__link {
				font-size: 1.2rem;
				color: #8d8d8d;
				&.is-bold {
					color: #555;
				}
			}
		}
	}

	&-bottom {
		background-color: #f1f1f1;

		.container {
			max-width: 420px;
		}

		&-menu {
			padding: 35px 0;

			li {
				display: inline-block;
			}

			&__link {
				margin-right: 50px;
				color: #373737;
				font-size: $size-4;

				&:hover {
					color: #000;
				}
			}
		}

		&-content {
			padding: 20px 10px 35px;
			text-align: center;

			&__info {
				margin-top: 30px;
				text-align: left;

				&--title {
					display: inline-block;
					position: relative;
					margin: 0 auto;
					padding-right: 20px;

					&.on {
						&:before {
							animation: openRotate 0.5s forwards ease-out;
						}
					}

					&:before {
						display: inline-block;
						content: '';
						position: absolute;
						top: 50%;
						right: 0;
						z-index: 1;
						width: 8px;
						height: 1px;
						background-color: #8d8d8d;
						transform: translate3d(0, -50%, 0);
						transform-origin: 50% 50%;
					}

					&:after {
						display: inline-block;
						content: '';
						position: absolute;
						top: 50%;
						right: 0;
						z-index: 1;
						width: 8px;
						height: 1px;
						background-color: #8d8d8d;
						transform: translate3d(0, -50%, 0);
						transform-origin: 50% 50%;
					}
				}

				&--dl {
					display: flex;
					justify-content: left;
					align-items: stretch;
					margin-top: 8px;

					&:first-child {
						margin-top: 0;
					}
				}

				&--dt {
					min-width: 100px;
					margin-left: 10px;
					color: #333;
					font-size: 1.1rem;
					letter-spacing: -0.1px;
				}

				&--dd {
					color: #777;
					font-size: 1.1rem;
					letter-spacing: -0.1px;

					.text-button {
						margin-left: 6px;
						font-size: 1.1rem;

						i {
							font-size: 1rem;
						}
					}
				}
			}
		}

		&-sns {
			display: flex;
			justify-content: center;
			align-items: center;
			padding: 10px 0;
			background-color: #fff;

			&__link {
				display: inline-block;
				width: 21px;
				height: 21px;
				margin: 0 5px;

				i {
					display: inline-block;
				}
			}
		}

		&-logo {
			margin-top: 40px;
			margin-bottom: 25px;
			text-align: center;

			img {
				width: 85px;
			}
		}

		&-selectbox {
			&.field {
				margin-bottom: 25px;
			}

			.select {
				select {
					color: #8d8d8d;
				}
			}
		}

		&-copy {
			font-size: 1.1rem;
			font-weight: 400;
			color: #8d8d8d;
			letter-spacing: -0.1px;
		}
	}
}

.footer-family-site {
	position: relative;
	button {
		display: flex;
		align-items: center;
		width: 100%;
		height: 4rem;
		padding: 0 35px 0 15px;
		font-size: 1.3rem;
		color: #333;
		background-color: white;
		border: 1px solid #ccc;
		border-radius: 0px;
		i {
			display: block;
			position: absolute;
			top: 50%;
			right: 15px;
			margin-top: -5px;
			font-size: 1.2rem;
			//transform: rotate(180deg);
			transition: all 0.3s;
		}
	}
	.footer-family-site-list {
		overflow-y: auto;
		opacity: 0;
		position: absolute;
		bottom: 39px;
		left: 0px;
		z-index: 1;
		width: 100%;
		min-width: 240px;
		height: 0;
		padding: 8px 0;
		border: 1px solid #333;
		background: #fff;
		li {
			display: block;
			padding: 0;
			text-align: left;
			a {
				display: block;
				padding: 0 1.5rem;
				line-height: 3.5rem;
				font-size: 1.3rem;
				color: #333;
				word-break: keep-all;
				white-space: nowrap;
			}
			&:hover {
				background: #eee;
			}
			&::after {
				content: none;
			}
		}
	}
	&.is-active {
		position: relative;
		button {
			border-color: #333;
			i {
				transform: rotate(180deg);
				transition: all 0.3s;
			}
		}
		.footer-family-site-list {
			//display: block;
			height: 306px;
			max-height: 306px;
			opacity: 1;
			transition: all 0.3s;
		}
	}
}

@keyframes openRotate {
	0% {
		transform: translate3d(0, -50%, 0) rotate(0);
	}

	100% {
		transform: translate3d(0, -50%, 0) rotate(90deg);
	}
}

// 디테일 관련
#detailConProduct {
	.btn-detail-view {
		&.open {
			box-shadow: rgba(255, 255, 255, 0.7) 0px 0px 20px 20px;
		}

		&.close {
			display: none;
		}
	}

	&.open {
		.btn-detail-view {
			&.open {
				display: none;
			}

			&.close {
				display: block;
			}
		}
	}
}

#detailConBottom {
	height: 4935px;
	background: url(../images/common/bg_product_detail_4.jpg) center top no-repeat;
}

.btn-detail-bar {
	display: block;
	position: fixed;
	z-index: 3;
	left: 0;
	bottom: 0;
	width: 100%;
	height: 60px;
	background: url(../images/common/bg_detail_bar.jpg) center top no-repeat;
}

#swipercateKeyVisual {
	.swiper-container {
		overflow: visible;
	}

	.swiper-slide {
		height: 730px;

		.obj {
			position: absolute;
			left: 0;
			top: 0;
			width: auto;
			height: auto;
			visibility: hidden;
			opacity: 0;
			transition-duration: 0.8s;
			transition-timing-function: #{$transition};
		}

		.obj-1 {
			left: -100px;
			transition-delay: 0s;
		}

		.obj-2 {
			top: 50px;
			left: 0;
			transition-delay: 0.3s;
		}

		.obj-3 {
			top: 80px;
			left: 800px;
			transition-delay: 0.6s;
		}

		&-active .obj {
			visibility: visible;
			opacity: 1;

			&-1 {
				left: 0;
			}

			&-2 {
				left: 80px;
			}

			&-3 {
				left: 80px;
			}

			&-2 {
				left: 80px;
			}

			&-2 {
				left: 90px;
			}
		}
	}
}

#sectionSearchBar {
	position: fixed;
	z-index: 100;
	bottom: 0;
	height: 100px;
	width: 100%;
}

#tabDetail {
	position: absolute;
	top: 733px;
	left: 50%;
	// width: 1366px;
	height: 60px;
	transform: translate(-50%, 0);
	background: #fff;
}

.tab-detail {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 60px;
	display: table;

	li {
		display: table-cell;
		align-items: center;
		justify-content: center;
		text-align: center;
		border: 1px solid #cacaca;
		border-left: 0 none;
		width: 25%;

		a {
			display: block;
			color: #cacaca;
			height: 60px;
			line-height: 58px;
			font-size: $size-1;
		}

		&.active {
			border-color: transparent;

			a {
				background: #000;
				color: #fff;
			}
		}
	}
}

@keyframes page {
	0% {
		right: 0;
		visibility: hidden;
		opacity: 0;
	}

	100% {
		right: 165px;
		visibility: visible;
		opacity: 1;
	}
}

.cate-swiper-pagination {
	position: absolute;
	text-align: center;
	z-index: 10;
	right: 0;
	width: 300px;
	top: 575px;
	text-align: left;
	visibility: hidden;
	opacity: 0;
	transition: 0.3s opacity;
	transform: translate3d(0, 0, 0);
	animation-name: page;
	animation-duration: 0.8s;
	animation-delay: 1s;
	animation-fill-mode: forwards;
	animation-timing-function: #{$transition};

	.swiper-pagination-bullet {
		width: 24px;
		height: 24px;
		border: 1px solid transparent;
		background: #fff;
		position: relative;
		float: left;
		margin-right: 4px;
		transition: 0.3s;

		&:after {
			content: '';
			display: block;
			position: absolute;
			left: 50%;
			top: 50%;
			width: 8px;
			height: 8px;
			margin: -4px 0 0 -4px;
			border-radius: 50%;
			background: #cacaca;
		}

		&-active {
			background: #fff;
			border: 1px solid #000;

			&:after {
				background: #000;
			}
		}
	}
}

.row.is-full-bottom-liner {
	padding: 0 10px 1.5rem;
	border-bottom: 1px solid #eee;
}

.section-privacy-policy {
	.top-area {
		padding-bottom: 20px;
		// position: relative;
		h3 {
			&.is-h2 {
				margin-bottom: 10px;
			}
		}
		.control {
			// position: absolute;
			// top: 0;
			// right: 0;
			float: right;
			width: 210px;
		}
	}
	.msg-box {
		.tit {
			padding: 10px 0;
			font-size: 16px;
			font-weight: 600;
			color: #333;
			&:first-of-type {
				padding-top: 0;
			}
		}
		ol {
			padding: 10px 0 0 20px;
		}
	}
}
