// 필터 > 카테고리
.lnb-list {
	&-item {
		// border-bottom: 1px solid #ddd;

		&__head {
			display: flex;
			position: relative;
			width: 100%;
			height: 40px;
			padding: 0 30px 0 0;
			color: #333;
			align-items: center;

			> a {
				display: inline-block;
				padding: 1rem 2rem 1rem 0;
				color: #333;
				&:active {
					font-weight: 600;
				}
			}
		}

		&__btn {
			position: absolute;
			top: 0;
			right: 0;
			width: 30px;
			height: 40px;
			padding: 0;
			text-align: right;
			outline: none;

			&.is-active {
				i {
					transform: rotate(180deg);
					-webkit-transform: rotate(180deg);
					-moz-transform: rotate(180deg);
					-ms-transform: rotate(180deg);
					-o-transform: rotate(180deg);
				}
			}

			i {
				display: inline-flex;
				justify-content: flex-end;
				width: 13px;
				height: 16px;
				margin-top: 3px;
				margin-left: auto;
				vertical-align: middle;
				transform: rotate(0);
				transform-origin: 50% 40%;
				transition: all 0.2s;
			}
		}

		&:last-child {
			border-bottom: none;
		}

		&__content {
			margin-bottom: -1px;
			padding: 0.5rem 1rem;
			background-color: #f9f9f9;

			li {
				margin: 0.5rem 0;
				a {
					display: block;
					padding: 0.6rem 0.2rem;
					font-size: 1.3rem;
					line-height: 1.1;
					color: #999;
					&.is-active,
					&:hover,
					&:focus {
						color: #333;
					}
				}
			}
		}
	}
}

// total search result
.search-result {
	// total search result text
	&-top {
		margin: 38px 0 30px;

		&-title {
			font-size: $size-1;
			text-align: center;
			color: #333;
		}

		&-count {
			margin-top: -18px;
			text-align: right;
			font-size: $size-4;
		}
	}

	// total search research
	@at-root &-box {
		padding: 20px 0;
		// border-top: 2px solid #373737;

		.search-result-resarch {
			display: flex;
			justify-content: space-between;

			select {
				// min-width: 180px;
				border-color: #ccc;
			}

			input[type='text'] {
				// min-width: 300px;
				border-color: #ccc;
				box-shadow: none;
			}

			&-button {
				margin-left: -8px;
			}

			.dropdown-trigger {
				button {
					padding-left: 1.1em;
					border-color: #ccc;

					span:first-child {
						min-width: 110px;
						text-align: left;
					}
				}
			}
		}
	}

	// searchresult none
	&-none {
		width: 100%;
		margin: 55px 0 35px;
		text-align: center;

		&-title {
			margin-bottom: 12px;
			font-size: $size-1;
			color: #333;
			font-weight: 600;
		}

		&-info {
			font-size: $size-4;
			color: #999;
		}
	}

	// total search relate & ranking
	@at-root &-block {
		display: flex;
		min-height: 150px;
		margin-bottom: 60px;
		padding: 16px 0;
		border-top: 1px solid #ddd;
		border-bottom: 1px solid #ddd;
		margin: 0 -10px;
		padding: 10px;

		&.border-top--none {
			border-top: none;
		}

		.search-result-title {
			// width: 118px;
			padding-top: 10px;
			font-size: $size-4;
			color: #333;
		}

		//relate
		@at-root .search-result-relate {
			display: block;
			width: 100%;
			padding: 0;

			&-list {
				padding: 4px 0;
				width: 100%;

				ul {
					display: flex;
					flex-wrap: wrap;

					li {
						margin: 0 0.5rem 0.5rem 0;

						a {
							display: inline-block;
							// height: 40px;
							line-height: 3.5rem;
							padding: 0 24px;
							background-color: #eeeeee;
							font-size: $size-4;
							color: #333;
							border-radius: 30px;
							-webkit-border-radius: 30px;
							-moz-border-radius: 30px;
							-ms-border-radius: 30px;
							-o-border-radius: 30px;
						}
					}
				}
			}
		}

		// guide
		@at-root .search-result-guide {
			ul {
				width: 950px;
				padding: 9px 0 6px 30px;

				li {
					display: block;
					padding-bottom: 6px;
					color: #999;

					&::before {
						display: inline-block;
						padding-right: 6px;
						content: '·';
						font-weight: 600;
					}

					&:last-child {
						padding-bottom: 0;
					}
				}
			}
		}

		// ranking
		@at-root .search-result-ranking {
			position: relative;
			display: flex;
			justify-content: space-between;
			width: 416px;
			margin: -5px 0;
			padding-left: 30px;
			background: url(../images/common/search_dot_line.png) repeat-y left
				0;

			&-list {
				position: absolute;
				top: 0;
				right: 0;
				z-index: 10;
				overflow: hidden;
				width: 270px;
				height: 128px;
				padding: 13px 22px 11px;
				border: 1px solid transparent;

				li {
					margin-bottom: 14px;
					list-style-type: none;

					a {
						display: flex;
						justify-content: space-between;
						width: 100%;
						height: 24px;
						padding: 5px 0;
						color: #999;

						@at-root .search-result-ranking-tit {
							vertical-align: top;
							font-size: 0;
							line-height: 0;

							&-order {
								display: inline-block;
								width: 14px;
								height: 14px;
								margin-right: 15px;
								background-color: rgba(255, 0, 0, 0);
								font-size: 11px;
								line-height: 1.5rem;
								color: #333;
								text-align: center;
								font-style: normal;

								&-top {
									color: $red;
								}
							}

							&-name {
								display: inline-block;
								margin-top: 0.75rem;
								vertical-align: top;
								font-size: $size-3;
								font-weight: 400;
							}

							&:hover,
							&:focus {
								color: #333;
							}
						}

						@at-root .search-result-ranking-change {
							display: inline-block;
							margin-top: -4px;
							vertical-align: top;

							em {
								display: inline-block;
								margin-right: -10px;
								font-style: normal;
								color: $red;
							}
						}
					}

					&:last-child {
						margin-bottom: 0;
					}
				}

				&.is-active {
					border: 1px solid #777;
					height: auto;
					background-color: #fff;
				}
			}
		}
	}

	// total search product
	@at-root &-product {
		display: flex;
		justify-content: space-between;
		margin: -10px 0 15px;

		+ .search-result-tabs {
			margin-top: 100px;
		}
	}

	// tab
	@at-root &-tabs {
		margin-top: 100px;

		.tabs {
			margin-bottom: 0;

			> ul {
				.tab {
					height: 50px;

					span {
						font-size: $size-5;
					}
				}
			}
		}
	}

	// total search tabs
	@at-root &-tabs {
		//tabs
		.tabs .tab {
			height: 60px;
			font-size: $size-2;
		}

		//tabpanel
		&-tabpanel {
			// display: flex;
			// justify-content: space-between;
			// margin-top: 60px;
		}

		//tab content
		@at-root &-content {
			width: 1086px;

			.section-category-item__search {
				padding-bottom: 20px;
				border-bottom: 1px solid #333;
			}

			.border-none {
				padding-bottom: 0;
				border-bottom: none;
			}

			.section-category-item__relation {
				border-bottom: 1px solid #eee;
			}

			@at-root .search-result-choice {
				display: flex;
				justify-content: space-between;
				margin: 3px 0 30px 0;

				.checkbox {
					margin-right: 20px;

					input[type='checkbox'] + label {
						font-size: $size-4;
						line-height: 1.1;
					}
				}

				&-text {
					margin-top: -3px;
					font-size: $size-4;
				}
			}
		}

		//tab product
		@at-root &-product {
			&-list {
				display: flex;
				flex-wrap: wrap;
				justify-content: flex-start;
				margin: -60px -14px 0;

				.product-item--small {
					margin: 60px 14px 0;

					> .product-item {
						margin: 0;
					}
				}
			}
		}
	}

	//search-result common
	&-promition {
		// margin-bottom: 35px;
		// margin-bottom: 70px;
		&__lists {
			font-size: 0;
			margin-top: 25px;

			li {
				display: inline-block;
				width: calc(50% - 5px);
				margin-bottom: 35px;
				vertical-align: top;

				&:nth-child(2n + 1) {
					margin-right: 10px;
				}
			}
		}

		.search-result-title {
			margin-bottom: 40px;
			// padding-bottom: 20px;
			// border-bottom: 1px solid #ccc;
			color: #333;
			font-size: $size-1;
			line-height: 1;
		}

		.section-category-control-wrap {
			.swiper-button-prev {
				border-right: transparent;
			}
		}

		.container--fixed {
			width: inherit;
		}

		.product-item-list {
			&.__layout--item {
				&3 {
					margin: -60px -29px 0;

					> li {
						display: inline-block;
						vertical-align: top;
						margin: 60px 29px 0;
					}
				}

				&4 {
					margin: -60px -12.5px 0;

					> li {
						display: inline-block;
						vertical-align: top;
						margin: 60px 12.5px 0;
					}
				}
			}
		}

		.product-item-header__name--fixed {
			min-height: 34px;
			margin-bottom: 0px;
		}

		// swiper button
		.section-category-control-wrap {
			position: absolute;
			top: -5px;
			right: 0;
			width: 130px;
		}
	}

	// 브랜드샵
	@at-root #search-result-lstore {
		margin-top: 100px;
	}

	// plan
	@at-root #search-result-plan {
		margin-top: 100px;
	}

	//review
	.review-link {
		// margin-bottom: 30px;

		&-list {
			position: relative;
			display: flex;
			justify-content: space-between;
			height: 120px;
			// margin-bottom: 16px;

			li {
				// margin-right: 10px;

				&:first-child {
					.review-link-text {
						display: block;
					}
				}

				a {
					display: inline-block;
					width: 70px;
					height: 70px;
					box-sizing: border-box;
					background-color: #f7f7f7;
					text-align: center;
					border: 1px solid transparent;

					img {
						display: inline-block;
						vertical-align: middle;
					}

					&:hover,
					&:focus {
						border: 1px solid #333333;
					}

					&.is-active {
						border: 1px solid #333333;

						.review-link-text {
							display: -webkit-box;
						}
					}
				}
			}
		}

		&-text {
			position: absolute;
			top: 79px;
			left: 0;
			overflow: hidden;
			display: none;
			width: 230px;
			height: 42px;
			color: #777;
			text-align: left;
		}
	}

	//open house
	@at-root #search-result-openhouse {
		// margin-bottom: 40px;

		a {
			color: #777;

			.product-item-header {
				span {
					display: block;
				}

				&__name {
					min-height: 34px;
					margin-bottom: 0px;
				}

				&__link {
					color: #28a0e4;
				}

				&__description {
					line-height: 1.8;
					margin-bottom: 0.1em;
				}
			}
		}

		.product-item-header {
			&__hash {
				font-size: 0;

				em {
					display: inline-block;
					margin-right: 0.5em;
					font-size: $size-6;
					font-style: normal;
					color: #28a0e4;
				}
			}
		}
	}

	&--acodian {
		height: 80px;
		transition: all 0.5s;
		display: flex;
		justify-content: space-between;
		overflow: hidden;
		margin-top: 1.5rem;

		&-button-wrap {
			margin-top: 1rem;
		}

		&.is-active {
			height: auto;

			.ico-down_arrow {
				display: inline-flex;
				transform: rotate(180deg);
				-webkit-transform: rotate(180deg);
			}
		}
	}

	&-normal {
		padding: 20px 0;
		border-bottom: 1px solid #ccc;

		&-top {
			margin: 0;

			&-count {
				margin-top: 0;
				text-align: center;
			}
		}
	}
}

.tsearch-main-swiper {
	padding: 30px 0 0 20px;

	&.contens-gray-contour {
		&:after {
			margin-left: -20px;
		}

		.paging-box {
			margin: 35px auto;
		}
	}
}

.swiper-container {
	.column-layout {
		&.__box2 {
			margin: 0;

			li {
				margin: 0 10px 0 0;
			}
		}
	}
}

.section-tab-lists {
	.tab-block {
		margin: 0 0 15px;
		// padding-top: 40px;
		padding-top: 10px;
		z-index: 1;

		&.is-bottom-liner {
			border-bottom: 1px solid #eee;
		}

		&__filter {
			padding: 0 10px;
			margin: 1rem 0 3rem;
			.button {
				width: calc(33.333% - 0.6rem);
				height: 4rem;
				line-height: 1.2;
				box-sizing: border-box;
				+ .button {
					margin-left: 0.3rem;
				}
			}
		}
		//한줄에 2개씩 나열
		&__filter-2 {
			padding: 0 10px;
			margin: 2rem 0;
			a:nth-child(even) {
				margin-left: 0.3rem;
			}
			.button {
				width: calc(50% - 0.3rem);
				height: 4rem;
				margin-bottom: 0.3rem;
				line-height: 1.2;
				box-sizing: border-box;
			}
		}
	}

	.checkbox-list {
		.checkbox {
			margin-bottom: 0;
		}
	}
}

//barnd popup
.brand-popup {
	padding: 20px 0 0;

	&-select {
		display: flex;
		justify-content: space-between;
		margin-bottom: 20px;

		button.is-primary {
			width: 100px;
			min-width: 100px;
			height: 40px;

			// &:hover,
			// &:focus {
			// 	border: 1px solid #ddd;
			// 	background-color: #fff;
			// 	color: #777;
			// }
		}

		.checkbox {
			input[type='checkbox'] + label {
				font-size: $size-4;
				line-height: 1.1;
				color: #333;
			}
		}
	}

	&-button-list {
		> div {
			font-size: 0;
			margin-bottom: 10px;

			button {
				width: 30px;
				min-width: 30px;
				height: 30px;
				margin: 0 10px 10px 0;
				padding: 0;
				font-weight: 600;
				font-size: $size-4;

				&.is-active,
				&:hover,
				&:focus {
					background-color: #000;
					color: #fff;
				}
			}

			+ div {
				button {
					font-size: $size-3;
				}
			}
		}
	}

	&-search {
		position: relative;
		width: 300px;
		height: 40px;
		margin: 10px 0 0;

		&__input {
			width: 100%;
			height: 40px;
			padding-right: 45px;
		}

		.ico-search {
			position: absolute;
			right: 0;
			top: 0;
			font-size: $size-1;
			width: 40px;
			height: 40px;
		}
	}

	&-info {
		display: flex;
		justify-content: space-between;
		align-items: flex-end;
		height: auto;
		margin: 0 0 12px;

		&-select {
			display: inline-block;
			margin-top: 25px;
			margin-left: -10px;
			font-size: 68px;
			font-weight: 600;
			color: #333;
			line-height: 0.6;
		}

		&-align {
			display: inline-block;
			font-size: $size-4;
		}
	}

	&-box {
		display: flex;
		flex-wrap: wrap;

		padding: 16px 20px 14px;
		background-color: #f9f9f9;

		.checkbox {
			width: 25%;
			margin: 10px 0;
		}

		&__nosearch {
			margin: 0 auto;
			padding: 2em 0;
			font-size: $size-normal;
			text-align: center;
		}
	}
}

.modal-card-body.brand-modal-card-body {
	// height: 250px;
	min-height: 60px;
	padding: 0;
}

#search-result-event {
	position: relative;

	.section-category-control-wrap {
		margin: 0;
	}
}

// 해외프리미엄 브랜드
.premium {
	.brand-module-list {
		li + li {
			margin-top: 0.7rem;
		}
		&__item {
			a {
				display: flex;
				flex-direction: row;
				justify-content: space-between;
				align-items: center;
				height: 6rem;
				padding: 0 0.5rem 0 2rem;
				background: #fff;
				border: 1px solid #bebebe;
				span {
					flex-basis: 30%;
					text-align: center;
					img {
						max-height: 1.2rem;
					}
				}
				strong {
					position: relative;
					flex-basis: 20rem;
					text-align: center;
					font-size: 1.3rem;
					font-weight: normal;
					letter-spacing: -1.5px;
					color: #444;
					i {
						position: absolute;
						right: 0;
						top: 50%;
					}
				}
			}
		}
	}
}

// 브랜드샵 용 border 리스트
.search-border-list {
	font-size: 0;
	margin-top: -10px;
	padding-bottom: 40px;
	text-align: center;

	+ .button-area {
		margin-bottom: 40px;

		i {
			margin-left: 15px;
		}
	}

	&__item {
		display: inline-block;
		position: relative;
		width: calc(50% - 5px);
		margin-top: 10px;
		padding-bottom: calc(50% - 5px);
		vertical-align: top;
		text-align: center;

		&:nth-child(2n + 1) {
			margin-right: 10px;
		}

		a {
			display: flex;
			justify-content: center;
			align-items: center;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
			left: 0;
			z-index: 1;
			margin: auto;
			width: 100%;
			height: 100%;
			padding: 10px;
			border: 1px solid #eee;

			&:hover,
			&:focus {
				border-color: #333;
			}
		}
	}

	&__image {
		display: flex;
		margin-bottom: 10px;
		align-items: center;
		justify-content: center;

		img {
			width: 100%;
			height: auto;
			max-width: 210px;
			max-height: 82px;
			// max-width: initial;
			vertical-align: top;
		}
	}

	&__brand {
		display: inline-block;
		min-width: 78px;
		margin-bottom: 10px;
		padding: 4px 15px;
		border: 1px solid #000;
		border-radius: 2px;
		color: #333;
		font-size: 1.2rem;
		font-weight: 600;
		letter-spacing: -0.25px;
		text-align: center;
		word-break: break-all;
	}

	&__title {
		display: block;
		@extend .word-wrap;
		max-width: 145px;
		margin: 5px auto 0;
		font-size: 1.3rem;
		color: #333;
		font-weight: 400;
	}
}

@media (min-width: 768px) {
	.search-border-list {
		margin-top: -10px;

		&__item {
			width: calc(25% - 7.5px);
			padding-bottom: calc(25% - 7.5px);
			margin-right: 10px;

			&:nth-child(4n) {
				margin-right: 0;
			}
		}
	}
}

.header-search-content__footer {
	padding: 0 10px;
}

.search-result {
	padding: 20px 0;
	border-bottom: 1px solid #333;

	&-top {
		margin: 0;

		&-count {
			margin-top: 0;
			text-align: center;
		}
	}
}

.search-content {
	display: flex;
	justify-content: space-between;

	&__border {
		border-top: 1px solid #eee;
		border-bottom: 1px solid #eee;
	}

	&.border-top {
		border-top: 1px solid #eee;
	}

	&.border-bottom {
		border-bottom: 1px solid #eee;
	}

	.control {
		width: 100%;

		.select {
			select {
				border: none;
			}
		}
	}

	&__fillter {
		width: 100%;

		.button {
			width: 100%;
			border: none;
			display: flex;
			justify-content: space-between;
			position: relative;
			color: $black;

			&::before {
				content: '';
				display: block;
				clear: both;
				width: 1px;
				position: absolute;
				top: 50%;
				left: 0;
				height: 8px;
				margin-top: -4px;
				background-color: #000;
			}
		}
	}
}

.section__highlight {
	background-color: #f9f9f9;
	width: 100%;
	height: 100%;
	padding-top: 10px;
	padding-bottom: 10px;
}

.header-search-wrap {
	&.mobile {
		width: auto;
		height: 100%;
		position: relative;
		border: none;
		margin: 0 -10px;

		form {
			margin: 0 10px;

			.header-search {
				background-color: #fff;

				&__dropdown {
					border: 1px solid #ccc;
					border-right: none;
					width: auto;
					min-width: auto !important;

					&.dropdown-wrap {
						.dropdown {
							&-trigger {
								.button {
									min-width: auto;
									height: auto;
									position: relative;

									&::before {
										content: '';
										display: block;
										position: absolute;
										top: 50%;
										right: -1px;
										width: 1px;
										height: 20px;
										margin-top: -10px;
										background-color: #ccc;
									}
								}
							}

							&-menu {
								min-width: 13rem;
								top: 41px;
							}

							&-content {
								border: 1px solid #333;
							}

							&-item {
								padding: 6px 20px;
								color: #333;
								font-size: 12px;

								&.is-active {
									background-color: #f9f9f9;
									font-weight: 400;
								}
							}
						}
					}
				}

				&__input-wrap {
					width: 100%;
					border: 1px solid #ccc;
					border-left: none;
					padding-left: 12px;
					position: relative;

					&:hover {
						border: 1px solid #333;
						padding-left: 11px;
					}

					.header-search__input {
						height: 100%;
						padding: 0;
					}
				}

				&__delete {
					display: none;
					position: absolute;
					right: 1rem;
					top: 50%;
					width: 2rem;
					height: 2rem;
					padding: 0;
					background-color: transparent;
					color: #333;
					font-size: 20px;
					margin-top: -1rem;
				}

				&__submit {
					width: 2rem;
					height: 2rem;
					top: 50%;
					margin-top: -1rem;
					right: 1rem;
					font-size: 20px;
				}
			}
		}

		.header-search-content-wrap {
			margin: 0 -10px;

			.header-search-content {
				position: absolute;
				height: auto;
				border: none;
				border-top: none;
				background: #fff;
				z-index: 2;
				width: 100%;
				left: 0;
				display: none;
				top: 50px;
			}
		}
	}

	.header-search-content {
		// z-index: 12;
		z-index: 110;

		&__header {
			padding: 0 10px;
		}

		&__body {
			padding: 0 10px;

			li {
				a {
					color: #333;
				}

				.button-search-content__del {
					margin-top: -2px;
					margin-right: -3px;
					width: 20px;
					height: 20px;
				}
			}

			.no-search__info {
				display: none;
				height: 100%;
				width: 100%;
				text-align: center;
				font-size: 13px;
				color: #999;

				i {
					font-size: 7rem;
					margin-top: 5rem;
					margin-bottom: 2.5rem;
				}

				&.is-active {
					display: flex;
					align-items: center;
					justify-content: center;
					height: 100%;
					min-height: inherit;
					flex-direction: column;
				}
			}

			.search-result-ranking-tit-order {
				background-color: rgba(255, 0, 0, 0);
				color: #333;

				&-top {
					color: red;
				}
			}

			.search-result-ranking-change {
				font-size: 1.2rem;
				justify-content: center;
				flex-grow: 0;
				text-align: center;
				width: 3rem;

				em {
					margin-right: 0;
				}
			}
			&-header {
				position: relative;
				margin: 0 -10px;
				border-top: none;
				border-bottom: none;
				a {
					display: block;
					position: relative;
					overflow: hidden;
					// position: relative;
					width: 100%;
					height: 4.5rem !important;
					padding: 0 23px 0 10px;
					border-bottom: 1px solid #eee;
					color: #333;
					line-height: 4.5rem;
					align-content: center;
					white-space: nowrap;
					word-wrap: normal;
					word-break: break-all;
					text-overflow: ellipsis;
					font-size: 1.4rem;
					font-weight: 600;
					// &:first-child {
					// 	border-top: 1px solid #eee;
					// }

					i {
						position: absolute;
						right: 10px;
						top: 50%;
						margin-top: -7.5px;
					}
				}
			}
			&-hash {
				border-top: 1px solid #eee;
				li {
					margin: 5px 0;
				}

				a {
					color: #333;
				}
			}
		}
	}

	&__footer {
		padding: 0 10px;
	}
}

.search-result {
	padding: 20px 0;
	border-bottom: 1px solid #333;

	&-top {
		margin: 0;

		&-count {
			margin-top: 0;
			text-align: center;
		}
	}
}

.tab-block-1 {
	margin: 0 0 15px;
	// padding-top: 40px;
	padding-top: 10px;
	z-index: 1;

	&.is-bottom-liner {
		border-bottom: 1px solid #eee;
	}

	&__filter-1 {
		padding: 0 10px;
		margin: 2rem 0;
		.button {
			width: calc(33.333% - 0.6rem);
			height: 4rem;
			line-height: 1.2;
			box-sizing: border-box;
			+ .button {
				margin-left: 0.3rem;
			}
		}
	}
}

.select-fillter-wrap {
	border-top: 1px solid #eee;
	border-bottom: 1px solid #eee;
}
.search-content {
	display: flex;
	justify-content: space-between;

	.dropdown {
		width: 100%;

		.dropdown-trigger {
			width: 100%;

			button {
				width: 100%;
				border: none;
				display: flex;
				justify-content: space-between;
				position: relative;
			}
		}
	}

	.search-content__fillter {
		width: 100%;

		.button {
			width: 100%;
			border: none;
			display: flex;
			justify-content: space-between;
			position: relative;

			&::before {
				content: '';
				display: block;
				clear: both;
				width: 1px;
				position: absolute;
				top: 0;
				left: 0;
				height: 100%;
				margin-top: 0;
				background-color: #eee;
			}
			i {
				font-size: 1.8rem;
			}
		}
	}
}
.header-search-content {
	z-index: 1;
	width: 100%;
	left: 0;
	border: none;
}
// 통합검색 팝업
#modal-search-pop {
	.modal-card-body {
		max-width: 780px;
		padding: 0;
	}
	.header-search-wrap {
		margin: 0 auto;
		form {
			margin: 0;
		}
	}
}

.swiper-hotissue {
	margin-left: -5px !important;
	// margin-right: -5px !important;
	margin-bottom: 20px !important;
	.swiper-slide {
		width: 50%;
		margin: 0 5px;
	}
	&.swiper-container-initialized {
		margin: 0 auto 10px !important;
		.swiper-slide {
			width: auto;
			margin: 0;
		}
	}
}
