@charset "utf-8";

// Set your brand colors
$blue: #3273dc;
$darkgrey: #666;
$beige-light: #d0d1cd;
$beige-lighter: #fafafa;

$column-gap: 0.75rem;
$family-sans-serif: Roboto, NotoSansKR, 'Noto+Sans', 'Malgun Gothic', '맑은 고딕', arial, sans-serif;
$family-primary: Roboto, NotoSansKR, 'Noto+Sans', 'Malgun Gothic', '맑은 고딕', arial, sans-serif;
$grey-dark: $darkgrey;
$grey-light: $beige-light;
$link: $blue;
$widescreen-enabled: false;
$fullhd-enabled: false;

// Update some of Bulma's component variables
$body-background-color: #fff;
$control-border-width: 1px;
$input-border-color: transparent;
$input-shadow: none;

// 공통 UI + mini reset
@import './member/base/minireset';
@import './_font.scss';
// color, font-size 등 변수 정의
@import './member/utilities/_all';
@import './member/base/generic';
@import './member/common';
@import './member/base/helpers';
// icon font import
@import '_iconset';

@import './_delete.scss';

// @import './member/layout/hero';
@import './member/layout/section';

@import './member/elements/button';
@import './member/elements/container';
// @import './member/elements/content';
// @import './member/elements/notification';
// @import './member/elements/progress';
// @import './member/elements/icon';
@import './member/elements/table';
// @import './member/elements/tag';
@import './member/elements/title';
// form import
@import './member/form/shared';
@import './member/form/input-textarea';
@import './member/form/checkbox-radio';
@import './member/form/select';
@import './member/form/tools';
// component import
@import './member/components/dropdown';
@import './member/components/modal';
@import './member/components/list';
@import './member/components/tabs';
// custom control & custom component
@import './member/custom_control';
@import './member/custom_components';
// step progress indicator
@import './member/_step_indicator';
// collapse
@import '_bulma_collapse';

// icon sprite 정의
// @import './sprites/_icon-sprite';
// @include sprites($icon-sprites);
// 반응형 레티나용 이미지아이콘
@import './sprites/_icon2-sprite';
@include sprites($icon2-sprites);
@include retina-sprites($retina-groups);

// 개인정보 처리방침, 이용약관
@import '_notice';

@import '_member';
