.hide, .blind, caption, legend { opacity: 0; text-indent: -999em; overflow: hidden; position: absolute; top: 0; left: 0; width: 0; height: 0; font-size: 0; line-height: 0; }

.fl { float: left; }

.fr { float: right; }

.radio-list .radios { margin-left: 10px; }

.radio-list .radios:first-child { margin-left: 0; }

/*******************************************************************
layout board style
********************************************************************/
/* Tinymce */
.editTinymceImages { padding: 0 0 0 3px; border: 1px solid #c5c5c5; border-bottom: 0; box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2); }

.editTinymceImages a { display: inline-block; position: relative; margin: 3px 0; padding: 0px 10px; border: 1px solid #b1b1b1; border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25) rgba(0, 0, 0, 0.25); background: rgba(0, 0, 0, 0); color: #333; text-decoration: none; line-height: 26px; cursor: pointer; text-shadow: 0 1px 1px rgba(255, 255, 255, 0.75); }

.editTinymceImages a:hover { background-color: #e3e3e3; color: #333; }

.editTinymceImages a:active { background-color: #d6d6d6; box-shadow: inset 0 2px 4px rgba(0, 0, 0, 0.15), 0 1px 2px rgba(0, 0, 0, 0.05); }

.mce-tinymce.mce-container.mce-panel { box-sizing: border-box; }

.text-ellipsis { display: block; overflow: hidden; white-space: nowrap; word-wrap: normal; word-break: break-all; text-overflow: ellipsis; }

.section-comment { margin-top: 1em; display: inline-block; width: 100%; padding: 1em; background: #f6f6f6; }

.section-comment .h4-title { font-size: 22px; }

.section-comment .comment { margin: 1em 0; border: 1px solid #e5e5e5; background: #fff; }

.section-comment .comment textarea { width: 100%; height: 150px; padding: 0.7em 1em; border: 0; }

.section-comment .btns-area { overflow: hidden; }

.section-comment .btns-area .byte-info { float: left; }

.section-comment .btns-area .btn-group { position: static; float: right; transform: inherit; padding: 0; }

.tabs.category .tab-title { display: inline-block; display: none; width: 0; height: 0; overflow: hidden; text-indent: -999em; opacity: 0; }

.tabs.category ul li .button { width: 100%; height: 100%; color: #666; cursor: pointer; border: 1px solid #dbdbdb; border-radius: 0; padding: 0.5em 1em; }

.tabs.category ul li .button:hover { background-color: whitesmoke; border-color: #d0d1cd; color: #363636; z-index: 2; }

.tabs.category ul li:first-child .button { border-radius: 4px 0 0 4px; }

.tabs.category ul li:last-child .button { border-radius: 0 4px 4px 0; }

.tabs.category ul li.is-active .button { background-color: #3273dc; border-color: #3273dc; color: #fff; z-index: 1; }

.board-wrap .detail-content #files_list > .file { position: relative; line-height: 25px; }

.board-wrap .detail-content #files_list > .file img { vertical-align: middle; }

.board-wrap .detail-content input[type='checkbox'] { -moz-appearance: checkbox; appearance: checkbox; -webkit-appearance: checkbox; vertical-align: middle; }

.section-files { /* form design */ }

.section-files .filebox { position: relative; margin: 0 0 2px; }

.section-files .filebox input[type='file'] { overflow: hidden; position: absolute; width: 1px; height: 1px; margin: -1px; padding: 0; border: 0; clip: rect(0, 0, 0, 0); }

.section-files .filebox label { display: inline-block; position: absolute; top: 5px; left: 0; margin-top: -14px; margin-top: 0; margin-left: 5px; vertical-align: middle; cursor: pointer; }

.section-files .filebox .upload-name { display: inline-block; width: 100%; line-height: 34px; border: 1px solid #e5e5e5; padding-left: 100px; vertical-align: middle; background-color: #fff; }

.section-files .filebox .upload-name.no-bg { border: none; background-color: transparent; }

.section-files .filebox .btn-small { color: #fff; width: 90px; text-align: center; }

.section-files.attach { padding: 0.5em 0 !important; }

.section-files.attach .h4-title { width: 100px !important; text-align: center; line-height: 33px; }

.section-files.attach .h4-title .title { margin-right: 5px; }

.section-files.attach .btn-file-add, .section-files.attach .btn-file-del { position: relative; width: 21px; width: 2.1rem; height: 21px; height: 2.1rem; margin: -4px 0 0; padding: 0; border-radius: 21px; border-radius: 2.1rem; background-color: #4d4d4d; font-size: 0; line-height: 21px; line-height: 2.1rem; text-align: center; vertical-align: middle; vertical-align: middle; }

.section-files.attach .btn-file-add:after, .section-files.attach .btn-file-del:after { display: inline-block; position: absolute; top: 50%; left: 50%; width: 9px; height: 9px; margin: -4.5px 0 0 -4.5px; vertical-align: middle; content: ''; }

.section-files.attach .btn-file-add:after { background: url(../_images/common/ico_plus.png) 50% 50% no-repeat; background-size: 100% auto; }

.section-files.attach .btn-file-del:after { background: url(../_images/common/ico_minus.png) 50% 50% no-repeat; background-size: 100% auto; }

.section-files .file-alt-label, .section-files .file-alt-text, .section-files .upfile-alt-label, .section-files .upfile-alt-text { position: static !important; display: inline-block; width: 100%; }

.section-files .file-alt-text, .section-files .upfile-alt-text { border: 1px solid #e5e5e5; }

.section-files.list-img .filebox .upfile-alt-label { display: block; position: static; width: auto; padding: 5px 0; }

.section-files.list-img .filebox .upfile-alt { width: 100%; height: 50px; margin: 0; padding: 5px; border: 1px solid #e5e5e5; }

.board-header { background-color: #eee; padding: 1em; margin-bottom: 1.5em; }

.pagination { padding: 1.5em 0; }

.pagination .pagination-previous, .pagination .pagination-next { position: relative; }

.pagination .pagination-previous { padding-left: 25px; }

.pagination .pagination-previous .ico-angle-left { left: 10px; }

.pagination .pagination-next { padding-right: 25px; }

.pagination .pagination-next .ico-angle-right { right: 10px; }

.pagination .ico-angle-left, .pagination .ico-angle-right { font-size: 23px; position: absolute; top: 45%; transform: translateY(-50%); }

/* list-style - list */
.board-wrap { /* list-style - view */ }

.board-wrap .board-info { display: inline-block; vertical-align: middle; font-size: 14px; }

.board-wrap .board-info > span { display: inline-block; padding-right: 15px; }

.board-wrap .board-info > span:last-child { padding-right: 0; }

.board-wrap .board-info > span i { color: #aaa; }

.board-wrap.normal-list .bbs-list { border-top: 2px solid #5f5f5f; border-bottom: 1px solid #5f5f5f; }

.board-wrap.normal-list .bbs-list > li { border-bottom: 1px solid #e5e5e5; }

.board-wrap.normal-list .bbs-list > li:last-child { border-bottom: 0; }

.board-wrap.normal-list .bbs-list > li:hover { background-color: #f1f1f1; }

.board-wrap.normal-list .bbs-list .title { color: #4a4a4a; margin-bottom: 0; padding: 5px 0; font-weight: 400; }

.board-wrap.normal-list .bbs-list .title:hover { color: #145a9f; }

.board-wrap.normal-list .bbs-list .layout-table { display: table; width: 100%; table-layout: fixed; }

.board-wrap.normal-list .bbs-list .layout-table > li { display: table-cell; vertical-align: middle; color: #707070; line-height: 1.4; padding: 0.5em 0; }

.board-wrap.normal-list .bbs-list .layout-table > li.num { width: 60px; text-align: center; }

.board-wrap.normal-list .bbs-list .layout-table > li.content { padding: 0.5em; }

.board-wrap.normal-list .bbs-list .layout-table > li.content .files { position: relative; display: inline-block; padding-left: 55px; vertical-align: middle; margin-right: 20px; }

.board-wrap.normal-list .bbs-list .layout-table > li.content .files .name { position: absolute; top: 50%; left: 0; transform: translateY(-50%); font-size: 14px; }

.board-wrap.normal-list .bbs-list .layout-table > li.content .files a { vertical-align: middle; }

.board-wrap.normal-list .bbs-list .table { table-layout: fixed; }

.board-wrap.normal-list .bbs-list .table th, .board-wrap.normal-list .bbs-list .table td { text-align: center; vertical-align: middle; }

.board-wrap.normal-list .bbs-list .table .subject { display: block; text-align: left; }

.board-wrap.normal-view .board-info { width: 100%; text-align: right; padding: 10px 0; line-height: 1.4; }

.board-wrap.normal-view .board-info span { display: inline-block; }

.board-wrap.normal-view .board-detail .detail-header { position: relative; padding-right: 90px; }

.board-wrap.normal-view .board-detail .detail-header .title { padding: 10px 0; word-break: keep-all; margin: 0; }

.board-wrap.normal-view .board-detail .detail-header .sns { position: absolute; bottom: 10px; right: 0; line-height: 1; font-size: 0; }

.board-wrap.normal-view .board-detail .detail-header .sns a { display: inline-block; width: 25px; height: 25px; border-radius: 100%; margin-right: 10px; overflow: hidden; text-align: center; text-indent: -999em; }

.board-wrap.normal-view .board-detail .detail-header .sns a:last-child { margin-right: 0; }

.board-wrap.normal-view .board-detail .detail-header .sns a i { font-size: 16px; line-height: 25px; color: #fff; }

.board-wrap.normal-view .board-detail .detail-header .sns a.facebook { background: #395f9f; }

.board-wrap.normal-view .board-detail .detail-header .sns a.twitter { background: #1ab1e8; }

.board-wrap.normal-view .board-detail .detail-content { border-top: 2px solid #5f5f5f; border-bottom: 1px solid #5f5f5f; }

.board-wrap.normal-view .board-detail .detail-content .board-content { padding: 0.5em 0.7em; line-height: 1.4; min-height: 300px; }

.board-wrap.normal-view .board-detail .detail-content .thumbnail-view { padding-top: 2em; }

.board-wrap.normal-view .board-detail .detail-content .thumbnail-view .attach-file-img { margin-bottom: 2em; }

.board-wrap.normal-view .board-detail .detail-content .thumbnail-view img { max-width: 100%; }

.board-wrap.normal-view .board-detail .detail-content .section-files { padding: 0.5em 0.7em; border-top: 1px solid #e5e5e5; display: table; table-layout: fixed; width: 100%; line-height: 1.4; }

.board-wrap.normal-view .board-detail .detail-content .section-files .title, .board-wrap.normal-view .board-detail .detail-content .section-files .files-area { display: table-cell; vertical-align: top; }

.board-wrap.normal-view .board-detail .detail-content .section-files .title { width: 92px; padding: 3px 0 0 20px; position: relative; }

.board-wrap.normal-view .board-detail .detail-content .section-files .title i { position: absolute; top: 0; left: 0; font-size: 20px; color: #145a9f; vertical-align: middle; }

.board-wrap.normal-view .board-detail .detail-content .section-files .files-area li a { font-size: 0.9rem; display: inline-block; color: #707070; word-break: break-all; }

.board-wrap.normal-view .board-detail .detail-content .section-files .files-area li a:hover { color: #145a9f; }

.board-wrap.normal-view .btn-group:after { display: table; content: ''; clear: both; }

/* list-style - write */
.board-wrap.normal-view.write .detail-content .add-info dl { display: table; width: 100%; border-bottom: 1px solid #e5e5e5; }

.board-wrap.normal-view.write .detail-content .add-info dl dt, .board-wrap.normal-view.write .detail-content .add-info dl dd { display: table-cell; padding: 0.5em 0; vertical-align: middle; height: 45px; }

.board-wrap.normal-view.write .detail-content .add-info dl dt { width: 100px; font-weight: 700; text-align: center; }

.board-wrap.normal-view.write .detail-content .add-info dl dd .input-text { border: 1px solid #e5e5e5; line-height: 28px; padding: 0 0.5em; width: 100%; }

/* thumbnail - list */
.board-wrap.normal-list.thumbnail .board-info { position: absolute; left: 20px; bottom: 15px; }

.board-wrap.normal-list.thumbnail .bbs-list .title { font-weight: 700; }

.board-wrap.normal-list.thumbnail .bbs-list .item:hover .content a > span, .board-wrap.normal-list.thumbnail .bbs-list .item:focus .content a > span { color: #145a9f; }

.board-wrap.normal-list.thumbnail .bbs-list .item:hover .thumbnail-img img, .board-wrap.normal-list.thumbnail .bbs-list .item:focus .thumbnail-img img { transform: scale(1.2); }

.board-wrap.normal-list.thumbnail .bbs-list .layout-table > li { padding: 15px 0; vertical-align: top; }

.board-wrap.normal-list.thumbnail .bbs-list .layout-table > li.thumbnail-img { width: 200px; line-height: 1; font-size: 0; }

.board-wrap.normal-list.thumbnail .bbs-list .layout-table > li.thumbnail-img a { position: relative; display: inline-block; width: 100%; height: 133px; overflow: hidden; }

.board-wrap.normal-list.thumbnail .bbs-list .layout-table > li.thumbnail-img a img { transition: all 0.3s; }

.board-wrap.normal-list.thumbnail .bbs-list .layout-table > li.content { position: relative; padding: 10px 10px 40px 20px; }

.board-wrap.normal-list.thumbnail .bbs-list .layout-table > li.content a { display: inline-block; width: 100%; }

/* gallery - list */
.board-wrap.gallery-list .board-info { display: block; width: 100%; border-top: 1px solid #e5e5e5; color: #707070; font-size: 14px; }

.board-wrap.gallery-list .board-info > span { line-height: 35px; }

.board-wrap.gallery-list .board-info:after { content: ''; display: table; clear: both; }

.board-wrap.gallery-list .board-info i { color: #aaa; margin-right: 3px; }

.board-wrap.gallery-list .bbs-list { overflow: hidden; margin: -10px; }

.board-wrap.gallery-list .bbs-list:after { display: table-cell; content: ''; clear: both; }

.board-wrap.gallery-list .bbs-list > li { width: 33.3333%; float: left; padding: 10px; }

.board-wrap.gallery-list .bbs-list .item { padding: 0; }

.board-wrap.gallery-list .bbs-list .item:focus .thumb img, .board-wrap.gallery-list .bbs-list .item:hover .thumb img { transform: scale(1.2); }

.board-wrap.gallery-list .bbs-list .item:focus dd a, .board-wrap.gallery-list .bbs-list .item:hover dd a { background: rgba(0, 0, 0, 0.9); }

.board-wrap.gallery-list .bbs-list .item .thumb { position: relative; overflow: hidden; height: 200px; }

.board-wrap.gallery-list .bbs-list .item .thumb > a { position: absolute; top: 50%; left: 50%; transform: translate(-50%, -50%); line-height: 1; font-size: 0; height: 200px; width: auto; }

.board-wrap.gallery-list .bbs-list .item .thumb img { width: auto; height: 120%; max-width: inherit; transition: all 0.3s; }

.board-wrap.gallery-list .bbs-list .item dd { position: relative; }

.board-wrap.gallery-list .bbs-list .item dd a { position: absolute; bottom: 36px; background: rgba(0, 0, 0, 0.7); padding: 0 10px; transition: all 0.3s; }

.board-wrap.gallery-list .bbs-list .item a { display: inline-block; width: 100%; }

.board-wrap.gallery-list .bbs-list .item a .title { display: inline-block; width: 100%; padding: 10px 0 5px; color: #fff; font-weight: 500; line-height: 1.4; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; margin-bottom: 0; }

/* video - list */
.board-wrap.video .delArticle { position: absolute; }

.board-wrap.video .bbs-list { margin-top: 1em; }

.board-wrap.video .bbs-list.notice { display: block; border-bottom: 1px solid #145a9f; margin: 0 0 2em; }

.board-wrap.video .bbs-list.notice .title { font-size: 22px; line-height: 1.4; padding: 1em 0 0.3em; border-bottom: 2px solid #145a9f; }

.board-wrap.video .bbs-list.notice .info { color: #707070; text-align: right; line-height: 1.4; padding-top: 7px; }

.board-wrap.video .bbs-list.notice .info span { margin-right: 1.5em; }

.board-wrap.video .bbs-list.notice .info span:last-child { margin-right: 0; }

.board-wrap.video .bbs-list.notice .video-area { padding: 1.5em 0 2em; }

.board-wrap.video .bbs-list.notice .video-area .jwplayer { max-width: 720px; margin: 0 auto; padding-bottom: 43%; }

.board-wrap.video .bbs-list .item .thumb a { position: relative; display: inline-block; width: 100%; }

.board-wrap.video .bbs-list .item .thumb a:before { position: absolute; top: 50%; left: 50%; margin: -35px 0 0 -35px; display: inline-block; width: 70px; height: 70px; content: '\eb96'; font: normal normal normal 14px/1 iconset; display: inline-block; text-indent: 0; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; font-size: 70px; color: #fff; opacity: 0.7; text-shadow: 0px 1px 1px #5f5f5f; }

.board-wrap.video .board_content .jwplayer { max-width: 720px; margin: 0 auto 1.5em; padding-bottom: 43%; }

/* faq - list */
.board-wrap.custom-faq-list .bbs-list .content-group > .layout-table a, .board-wrap.custom-faq-list .bbs-list .content-group > .layout-table .none-section { display: table-row; }

.board-wrap.custom-faq-list .bbs-list .content-group > .layout-table a:hover, .board-wrap.custom-faq-list .bbs-list .content-group > .layout-table .none-section:hover { background-color: #f6f6f6; }

.board-wrap.custom-faq-list .bbs-list .content-group > .layout-table a span, .board-wrap.custom-faq-list .bbs-list .content-group > .layout-table .none-section span { display: table-cell; vertical-align: middle; color: #3a3a3a; height: 55px; font-size: 16px; text-align: center; }

.board-wrap.custom-faq-list .bbs-list .content-group > .layout-table a span.num, .board-wrap.custom-faq-list .bbs-list .content-group > .layout-table .none-section span.num { width: 55px; }

.board-wrap.custom-faq-list .bbs-list .content-group > .layout-table a span.title, .board-wrap.custom-faq-list .bbs-list .content-group > .layout-table .none-section span.title { text-align: left; padding: 0 7px; }

.board-wrap.custom-faq-list .bbs-list .content-group > .layout-table a span.ext01, .board-wrap.custom-faq-list .bbs-list .content-group > .layout-table .none-section span.ext01 { width: 185px; }

.board-wrap.custom-faq-list .bbs-list .content-group > .layout-table a span.ext02, .board-wrap.custom-faq-list .bbs-list .content-group > .layout-table .none-section span.ext02 { width: 30%; }

.board-wrap.custom-faq-list .bbs-list .content-group > dd { position: relative; }

.board-wrap.custom-faq-list .bbs-list .content-group > dd .admin { display: inline-block; margin: 0.5em 0 0; }

.board-wrap.custom-faq-list .bbs-list .content-group > dd .admin .btn-blue { display: inline-block; padding: 4px 25px; }

.board-wrap.custom-faq-list .bbs-list .content-group > dd > dl { display: table; table-layout: fixed; width: 100%; }

.board-wrap.custom-faq-list .bbs-list .content-group > dd > dl > dt, .board-wrap.custom-faq-list .bbs-list .content-group > dd > dl > dd { display: table-cell; height: 35px; padding: 0; font-size: 16px; vertical-align: middle; }

.board-wrap.custom-faq-list .bbs-list .content-group > dd > dl > dt { width: 85px; position: relative; }

.board-wrap.custom-faq-list .bbs-list .content-group > dd > dl > dt:after { position: absolute; right: 5px; top: 3px; display: inline-block; content: ':'; }

.section-files .filebox .upload-name { height: 38px; }

.board-wrap.normal-view.write .detail-content .add-info dl dd .input-text { height: 30px; }

.board-wrap.gallery-list.video .bbs-list .item a .subject { max-height: 80px; }

.board-wrap.normal-list.busi_offer .bbs-list { margin-top: 1em; }

.board-wrap.normal-list.busi_offer .bbs-list .layout-table > li.offer_class { width: 60px; text-align: center; }

.board-wrap.normal-list.busi_offer .bbs-list .layout-table > li.offer_class span { display: block; border-radius: 50px; width: 60px; height: 60px; font-weight: bold; line-height: 58px; }

.board-wrap.normal-list.busi_offer .bbs-list .layout-table > li.offer_class .serv { border: 1px solid #145a9f; color: #145a9f; }

.board-wrap.normal-list.busi_offer .bbs-list .layout-table > li.offer_class .sell { border: 1px solid #448ccb; color: #448ccb; }

.board-wrap.normal-list.busi_offer .bbs-list .layout-table > li.offer_class .buy { border: 1px solid #404a8f; color: #404a8f; }

.board-wrap.normal-list.busi_offer .bbs-list .layout-table > li.num { width: 80px; padding: 0 6px; }

.board-wrap.normal-list.busi_offer .bbs-list .layout-table > li.offer_img { width: 130px; }

.board-wrap.normal-list.busi_offer .bbs-list .layout-table > li.offer_img .img_wrap { width: 120px; font-size: 0; height: 70px; border: 1px solid #cfcfcf; box-shadow: 2px 2px 3px #ccc; }

.board-wrap.normal-list.busi_offer .bbs-list .layout-table > li.offer_img .img_wrap img { width: 100%; height: 100%; }

.board-wrap.normal-list.busi_offer .bbs-list .layout-table > li.content .top_cont { overflow: hidden; margin-bottom: 6px; }

.board-wrap.normal-list.busi_offer .bbs-list .layout-table > li.content .top_cont:after { clear: both; display: table; content: ''; }

.board-wrap.normal-list.busi_offer .bbs-list .layout-table > li.content .top_cont .subject { float: left; width: auto; display: block; margin-right: 10px; word-break: break-all; }

.board-wrap.normal-list.busi_offer .bbs-list .layout-table > li.content .top_cont .sector { float: right; }

.board-wrap.normal-list.busi_offer .bbs-list .layout-table > li.content .comp_info { display: inline-block; vertical-align: middle; margin-right: 20px; }

.board-wrap.normal-list.busi_offer .bbs-list .layout-table > li.content .comp_info .country { width: 45px; height: 30px; border: 1px solid #eee; margin-right: 10px; }

.board-wrap.normal-list.busi_offer .bbs-list .layout-table > li.content .comp_info > .wrap { display: table; }

.board-wrap.normal-list.busi_offer .bbs-list .layout-table > li.content .comp_info > .wrap .country, .board-wrap.normal-list.busi_offer .bbs-list .layout-table > li.content .comp_info > .wrap .comp { display: table-cell; vertical-align: middle; }

.board-wrap.normal-list .bbs-list.markets { margin-top: 2em; }

.jwplayer { position: relative; padding-bottom: 56.25%; height: 0 !important; }

.jwmain { height: auto; display: block; overflow: visible; }

.section-comment-list { border-top: 1px solid #e5e5e5; margin-top: 1em; line-height: 1.5; border-bottom: 1px solid #e5e5e5; margin-bottom: 1em; }

.section-comment-list .comment-list > li + li { border-top: 1px solid #e5e5e5; }

.section-comment-list .comment-list .comment-top { display: table; width: 100%; }

.section-comment-list .comment-list .comment-info { display: table-cell; vertical-align: middle; padding: 1em 0; }

.section-comment-list .comment-list .comment-info > p { position: relative; }

.section-comment-list .comment-list .comment-info .info-date { position: absolute; right: 0; }

.section-comment-list .comment-list .comment-cont { padding-bottom: 1em; }

.section-comment-list .comment-list .comment-cont textarea { width: 100%; }

.section-comment-list .comment-list .btn_area { font-size: 0; display: table-cell; vertical-align: middle; text-align: right; width: 158px; }

.section-comment-list .comment-list .btn_area .btn-blue { display: inline-block; text-align: center; width: 64px; height: 30px; line-height: 30px; font-size: 14px; }

.section-comment-list .comment-list .btn_area .btn-blue + .btn-blue { margin-left: 10px; }

.cmtlist { margin-top: 2em; border-top: 2px solid #b3b3b3; }

.cmtlist li { margin-bottom: 1.5em; padding-bottom: 7px; border-top: 1px dashed #b8b8b8; }

.cmtlist li:first-child { border-top: none; }

.cmtlist li button { cursor: pointer; padding: 3px 6px; border: 1px solid #cacaca; background: #fafafa; float: left; margin: 0 1px; font-size: 13px; line-height: 1.1; }

.cmtlist li button:hover, .cmtlist li button:active { background-color: #eee; }

.cmtlist li .cmt_content .board_comment { padding: 0 10px; color: #707070; line-height: 1.5; }

.cmtlist li .cmt_content .cmt_h { overflow: hidden; margin: 1.5em 10px 0.5em; }

.cmtlist li .cmt_content .cmt_h .editText .cmtEditarea, .cmtlist li .cmt_content .cmt_h .cmt_btn .deleteBtn, .cmtlist li .cmt_content .cmt_h .writer_nm { float: left; }

.cmtlist li .cmt_content .cmt_h .cmt_btn { float: right; }

.cmtlist li .cmt_content .cmt_h .cmt_btn .edit_btn { float: left; margin-right: 5px; }

.cmtlist li .cmt_content .cmt_h .cmt_btn .edit_cancelBtn { float: left; }

.cmtlist li .cmt_content .cmt_h .cmt_btn span.pipe_line { float: left; margin-right: 5px; }

.cmtlist li .cmt_content .cmt_h .writer_nm .cmt_writer { font-size: 14px; font-weight: bold; }

.cmtlist li .cmt_content .cmt_h .writer_nm .cmt_date { font-size: 12px; }

.cmtlist li .cmt_content .editText { padding: 0 10px; position: relative; }

.cmtlist li .cmt_content .editText .byte-info { font-size: 13px; padding-top: 5px; line-height: 1.1; }

.cmtlist li .cmt_content .editText .cmt_text textarea { width: 100%; padding: 5px 65px 5px 5px; height: 80px; }

.cmtlist li .cmt_content .editText .cmt_btn { position: absolute; top: 21px; right: 27px; }

.cmtlist li .cmt_content .editText .cmt_btn button { width: 40px; height: 40px; text-align: center; }

@media screen and (max-width: 768px) { .board-wrap.gallery-list .bbs-list > li { width: 50%; }
  .board-wrap.normal-list.busi_offer .bbs-list .layout-table { display: block; }
  .board-wrap.normal-list.busi_offer .bbs-list .layout-table > li { display: block; }
  .board-wrap.normal-list.busi_offer .bbs-list > li { width: 100%; }
  .board-wrap.normal-list.busi_offer .bbs-list .layout-table > li.offer_class span { height: 28px; line-height: 26px; border-radius: unset; }
  .board-wrap.normal-list.busi_offer .bbs-list .layout-table > li.offer_class { display: inline-block; }
  .board-wrap.normal-list.busi_offer .bbs-list .layout-table > li.num { display: none; }
  .board-wrap.normal-list.busi_offer .bbs-list .layout-table > li.offer_img { width: 100%; }
  .board-wrap.normal-list.busi_offer .bbs-list .layout-table > li.offer_img .img_wrap { position: relative; padding-top: 35%; width: 50%; }
  .board-wrap.normal-list.busi_offer .bbs-list .layout-table > li.offer_img .img_wrap img { position: absolute; top: 0; left: 0; }
  .board-wrap.normal-list.busi_offer .bbs-list .layout-table > li.content .top_cont .subject, .board-wrap.normal-list.busi_offer .bbs-list .layout-table > li.content .top_cont .sector { float: none; }
  .board-wrap.normal-list.busi_offer + .btns-area .btn-group { padding: 0; position: relative; display: block; right: auto; top: auto; text-align: right; }
  .board-wrap.normal-list.busi_offer + .btns-area .btn-group .btn-custom { float: none; } }

@media screen and (max-width: 600px) { .board-wrap.normal-list.thumbnail .bbs-list .board-info { margin-top: 10px; position: static; }
  .board-wrap.normal-list.thumbnail .bbs-list .item .layout-table { display: block; }
  .board-wrap.normal-list.thumbnail .bbs-list .item .layout-table > li { display: block; }
  .board-wrap.normal-list.thumbnail .bbs-list .item .layout-table > li.thumbnail-img { width: 100%; max-width: 300px; margin: 0 auto; }
  .board-wrap.normal-list.thumbnail .bbs-list .item .layout-table > li.thumbnail-img a { height: 200px; }
  .board-wrap.normal-list.thumbnail .bbs-list .item .layout-table > li.content { padding: 0 0 15px; } }

@media screen and (max-width: 480px) { .is-hidden-480 { display: none !important; }
  .board-wrap .board-header .level-right .is-grouped { display: block; }
  .board-wrap .board-header .level-right .is-grouped .control { width: 100%; margin-bottom: 10px; }
  .board-wrap .board-header .level-right .is-grouped .control:last-child { margin-bottom: 0; }
  .board-wrap .board-header .level-right .is-grouped .control .select, .board-wrap .board-header .level-right .is-grouped .control .select select, .board-wrap .board-header .level-right .is-grouped .control .input, .board-wrap .board-header .level-right .is-grouped .control .button { width: 100%; }
  .board-wrap.gallery-list .bbs-list > li { width: 100%; max-width: 375px; margin: 0 auto; float: none; } }

@media screen and (max-width: 425px) { .board-wrap.gallery-list .bbs-list > li { width: 100%; }
  .section-comment-list .comment-list .comment-info .info-date { position: relative; display: block; } }

/*# sourceMappingURL=board.css.map */
