@charset "UTF-8";
body { min-width: 1366px; }

.clear { clear: both; }

.clear:after { content: ''; display: table; clear: both; }

/* gnb top */
.header-member-menu { position: absolute; right: 0; top: 0; height: 71px; }

.header-member-menu li { float: left; }

.header-member-menu__btn { overflow: hidden; position: relative; height: 70px; width: 56px; text-align: center; opacity: 1; transition: opacity 0.5s cubic-bezier(0.17, 0.04, 0.03, 0.94); }

.header-member-menu__btn span { display: block; margin-top: 5px; color: #000; font-size: 12px; }

.header-member-menu__btn:hover { opacity: 0.5; }

.header-family-menu { position: absolute; left: 0; top: 0; }

.header-family-menu li { float: left; }

.header-family-menu li:first-child .btn { border-right-color: transparent; }

.header-family-menu__btn { display: block; min-width: 170px; height: 71px; line-height: 71px; border-width: 0 1px 1px; border-style: solid; border-color: #cacaca; text-align: center; color: #8d8d8d; background: #fff; font-size: 14px; transition: background 0.5s cubic-bezier(0.17, 0.04, 0.03, 0.94); }

.header-family-menu__btn.is-active { border-bottom-color: #fff; color: #000; }

.header-family-menu__btn:hover, .header-family-menu__btn:focus { background: #f1f1f1; }

.header-top { position: relative; height: 70px; z-index: 1; }

/* header logo */
.header-logo { position: relative; z-index: 0; border-top: 1px solid #cacaca; border-bottom: 1px solid #cacaca; }

.header-logo__title { display: block; width: 200px; height: 89px; margin: 0 auto; background: url(../images/common/logo.png) center no-repeat; text-indent: -999em; }

.header-logo__menu { position: absolute; left: 0; top: 50%; transform: translate(0, -50%); overflow: hidden; }

.header-logo__menu li { position: relative; float: left; padding-left: 10px; margin-left: 5px; color: #888; }

.header-logo__menu li a { color: inherit; font-size: 14px; }

.header-logo__menu li a:hover { color: #000; }

.header-logo__menu li:after { content: '·'; display: inline-block; position: absolute; left: 0; top: 0; }

.header-logo__menu li:first-child { padding-left: 0; margin-left: 0; }

.header-logo__menu li:first-child:after { display: none; }

.header-search { position: relative; }

.header-search-wrap { position: absolute; right: 0; top: 50%; transform: translate(0, -50%); }

.header-search-wrap:after { content: ''; display: block; position: absolute; right: 0; bottom: 0; width: 0; height: 2px; background: #000; transition: width 0.5s cubic-bezier(0.17, 0.04, 0.03, 0.94); }

.header-search-wrap.is-active:after { width: 100%; }

.header-search-wrap.is-active .header-search__btn { display: none; }

.header-search-wrap.is-active .header-search__input { width: 320px; }

.header-search__submit, .header-search__btn { position: absolute; right: 0; top: 0; width: 50px; height: 50px; background-color: #fff; }

.header-search__btn { z-index: 1; }

.header-search__submit { z-index: 0; background-color: transparent; }

.header-search__input { width: 20px; height: 50px; padding: 0 46px 0 10px; border: 0 none; font-size: 20px; transition: width 0.5s cubic-bezier(0.17, 0.04, 0.03, 0.94); }

/* 브랜드 */
.gnb-brand { position: relative; overflow: hidden; margin-top: -1px; }

.gnb-brand__title { display: block; overflow: hidden; position: absolute; top: 31px; left: 0; z-index: 1; width: 140px; height: 40px; padding-top: 5px; }

.gnb-brand__title em, .gnb-brand__title i { display: block; float: left; height: 10px; line-height: 12px; opacity: 0; }

.gnb-brand__title i { width: 2px; height: 10px; margin-right: 2px; -webkit-animation-name: aniBrandLogo; animation-name: aniBrandLogo; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-timing-function: cubic-bezier(0.17, 0.04, 0.03, 0.94); animation-timing-function: cubic-bezier(0.17, 0.04, 0.03, 0.94); }

.gnb-brand__title i:nth-child(1) { background-color: #479d6e; -webkit-animation-delay: 0s; animation-delay: 0s; -webkit-animation-duration: 1.5s; animation-duration: 1.5s; }

.gnb-brand__title i:nth-child(2) { background-color: #693d46; -webkit-animation-delay: 0.3s; animation-delay: 0.3s; -webkit-animation-duration: 1.5s; animation-duration: 1.5s; }

.gnb-brand__title i:nth-child(3) { background-color: #e5b653; -webkit-animation-delay: 0.5s; animation-delay: 0.5s; -webkit-animation-duration: 1.5s; animation-duration: 1.5s; }

.gnb-brand__title em { color: #2a3c53; font-style: normal; font-size: 14px; font-weight: 600; letter-spacing: -0.5px; -webkit-animation-name: aniBrandText; animation-name: aniBrandText; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; }

.gnb-brand__title em:nth-child(4) { margin-left: 5px; -webkit-animation-delay: 0.5s; animation-delay: 0.5s; -webkit-animation-duration: 1s; animation-duration: 1s; }

.gnb-brand__title em:nth-child(5) { -webkit-animation-delay: 0.7s; animation-delay: 0.7s; -webkit-animation-duration: 1.2s; animation-duration: 1.2s; }

.gnb-brand__title em:nth-child(6) { -webkit-animation-delay: 0.9s; animation-delay: 0.9s; -webkit-animation-duration: 1.4s; animation-duration: 1.4s; }

.gnb-brand__title em:nth-child(7) { -webkit-animation-delay: 1.1s; animation-delay: 1.1s; -webkit-animation-duration: 1.6s; animation-duration: 1.6s; }

.gnb-brand__title em:nth-child(8) { -webkit-animation-delay: 1.3s; animation-delay: 1.3s; -webkit-animation-duration: 1.8s; animation-duration: 1.8s; }

.gnb-brand-menu { position: relative; overflow: hidden; float: right; z-index: 0; }

.gnb-brand-menu > li { position: relative; float: left; color: #888; }

.gnb-brand-menu > li:nth-child(1):hover a { color: #fff; background-color: #5086a2; }

.gnb-brand-menu > li:nth-child(2):hover a { color: #fff; background-color: #343434; }

.gnb-brand-menu > li:nth-child(3):hover a { color: #fff; background-color: #47ac87; }

.gnb-brand-menu > li:nth-child(4):hover a { color: #fff; background-color: #22354d; }

.gnb-brand-menu > li:nth-child(5):hover a { color: #fff; background-color: #db5c5c; }

.gnb-brand-menu > li:nth-child(6):hover a { color: #fff; background-color: #d9ab51; }

.gnb-brand-menu > li:nth-child(7):hover a { color: #fff; background-color: #d9cb51; }

.gnb-brand-menu > li:nth-child(8):hover a { color: #fff; background-color: #d1946b; }

.gnb-brand-menu__btn { display: block; position: relative; height: 82px; line-height: 82px; padding: 0 40px 0; font-size: 18px; overflow: hidden; z-index: 1; color: inherit; background-color: transparent; transition: all 0.5s cubic-bezier(0.17, 0.04, 0.03, 0.94); }

@-webkit-keyframes aniBrandLogo { 0% { opacity: 0;
    transform: translateY(70px); }
  50% { opacity: 0;
    transform: translateY(35px); }
  80% { opacity: 1;
    transform: translateY(-5px); }
  92% { opacity: 1;
    transform: translateY(3px); }
  100% { opacity: 1;
    transform: translateY(0); } }

@keyframes aniBrandLogo { 0% { opacity: 0;
    transform: translateY(70px); }
  50% { opacity: 0;
    transform: translateY(35px); }
  80% { opacity: 1;
    transform: translateY(-5px); }
  92% { opacity: 1;
    transform: translateY(3px); }
  100% { opacity: 1;
    transform: translateY(0); } }

@-webkit-keyframes aniBrandText { 0% { opacity: 0;
    transform: translate(200px); }
  100% { opacity: 1;
    transform: translate(0); } }

@keyframes aniBrandText { 0% { opacity: 0;
    transform: translate(200px); }
  100% { opacity: 1;
    transform: translate(0); } }

@-webkit-keyframes aniBrandTitle { 50% { width: 100%;
    background-position: 50% 50%; }
  100% { width: 65px;
    background-position: 0 50%; } }

@keyframes aniBrandTitle { 50% { width: 100%;
    background-position: 50% 50%; }
  100% { width: 65px;
    background-position: 0 50%; } }

.fullmenu-bar { background-color: #000; }

.fullmenu__btn { position: absolute; left: 0; width: 40px; height: 60px; background-color: transparent; }

.fullmenu-wrap { position: absolute; left: 0; top: 60px; width: 100%; height: 0; background: #fff url(../images/common/bg_fullmenu.jpg) center top no-repeat; transition: height 0.5s; }

.fullmenu-wrap.open { height: 442px; border-bottom: 1px solid #cacaca; }

.gnb-category-wrap { position: relative; z-index: 2; }

.gnb-category__menu { position: relative; overflow: hidden; float: right; z-index: 0; }

.gnb-category__menu > li { display: inline-block; }

.gnb-category__menu > li a { color: #888; display: block; padding: 0 1em; margin: 0 2.2em; height: 60px; line-height: 60px; transition: color 0.5s cubic-bezier(0.17, 0.04, 0.03, 0.94); }

.gnb-category__menu > li a:hover { color: #fff; }

/* swiper slides settings */
.swiper-pagination-progressbar { background-color: rgba(0, 0, 0, 0.1); }

.swiper-pagination-bullet-wrap { display: table; width: 440px; margin: 0 auto; }

.swiper-pagination-number { display: table-cell; color: #c1c1c1; font-size: 16px; }

.swiper-pagination-number-active { color: #000; }

.swiper-button-prev, .swiper-button-next { width: 50px; height: 50px; speak: none; color: #000; font-family: 'iconset'; font-size: 25px; font-style: normal; font-weight: 300; font-variant: normal; text-transform: none; line-height: 1; -webkit-font-smoothing: antialiased; -moz-osx-font-smoothing: grayscale; }

.swiper-button-prev:after, .swiper-button-next:after { display: none; }

.swiper-button-prev { left: -70px; background-position: left center; }

.swiper-button-prev:before { content: '\e94c'; }

.swiper-button-next { right: -70px; }

.swiper-button-next:before { content: '\e94b'; }

.quick { position: fixed; right: 0; top: 0; z-index: 999; transition: right 0.3s; }

.quick > li { display: block; }

.quick-menu { display: block; position: absolute; left: -60px; top: 0; width: 60px; padding: 10px 0; background-color: #000; }

.quick-menu__item { position: relative; width: 60px; height: 60px; margin: 0; padding: 0; transition: all 0.5s cubic-bezier(0.17, 0.04, 0.03, 0.94); }

.quick-menu__item:hover { background-color: #222; }

.quick-menu__item i { display: block; }

.quick-menu__num { display: block; margin-top: 2px; color: #f12e5c; font-style: normal; font-size: 12px; }

.quick.open { right: 0px; }

.quick.open .quick-content { width: 280px; padding: 0 20px; transition: right 0.3s; }

.quick-content { position: relative; overflow-x: visible; overflow-y: auto; width: 0; height: 100vh; min-height: 550px; margin-bottom: 233px; padding: 0; border-left: 1px solid #000; background-color: #fff; }

.quick-content-title-wrap { position: relative; margin: 0 -20px; padding: 17px 20px; background-color: #000; }

.quick-content-title-wrap .quick-content-title { color: #fff; font-size: 15px; }

.quick-content-title-wrap .quick-content-close__btn { position: absolute; top: 17px; right: 15px; padding: 0 5px; }

.quick-content-choice { overflow: hidden; padding: 20px 0; border-bottom: 1px solid #e5e5e5; }

.quick-content-choice__all { font-size: 12px; color: #000; }

.quick-content-choice__all input[type='checkbox'] { width: 16px; height: 16px; margin: -2px 3px 0 0; vertical-align: middle; }

.quick-content-choice__link { float: right; width: 64px; height: 24px; border: 1px solid #b2b2b2; line-height: 2; font-size: 12px; color: #000; text-align: center; }

.quick-content .product-item-related li { padding: 20px 0; border-bottom: 1px solid #e5e5e5; }

.quick-content .product-item-related li:last-child { border-bottom: none; }

.quick-content .related-item { padding-bottom: 14px; }

.quick-content .related-item-content { padding: 0 0 0 10px; }

.quick-content .related-item-header__brand { margin-bottom: 5px; color: #1a1a1a; font-size: 14px; }

.quick-content .related-item-header__name { font-size: 14px; }

.quick-content .related-item-price { color: #000; }

.quick-content .related-item-price__price--del { margin-bottom: -2px; display: block; font-size: 14px; color: #787878; }

.quick-content .related-item-price__price { font-size: 16px; font-weight: 700; }

.quick-content .related-item-price .unit { font-size: 16px; font-weight: 400; }

.button-purchase { display: flex; justify-content: space-between; }

.button-purchase button { width: 115px; height: 30px; line-height: 1.2; font-size: 12px; color: #fff; }

.button-purchase__pay { background-color: #f95039; }

.button-purchase__del { background-color: #000; }

.quick-content .product-purchase { position: absolute; left: 20px; right: 20px; bottom: 20px; }

.quick-content .product-purchase-guide { padding: 18px 0 38px; border-top: 1px solid #000; font-size: 12px; color: #787878; }

.quick-content .product-purchase-price { margin-bottom: 10px; text-align: right; }

.quick-content .product-purchase-price__header { display: block; font-size: 14px; color: #000; }

.quick-content .product-purchase-price__price { font-weight: 600; font-size: 26px; color: #f95039; }

.quick-content .product-purchase-price__price .unit { font-weight: normal; font-size: 14px; color: #000; vertical-align: middle; }

.quick-content .product-purchase .button-purchase button { height: 50px; }

.section-title-wrap, .container { position: relative; width: 1366px; margin: 0 auto; }

.tab-block { margin-top: 64px; margin-bottom: 42px; }

.tab-block .inner { text-align: center; }

.tab-block.tab-flex-justify .inner { display: flex; }

.tab-block-item { display: inline-block; margin: 0 35px; text-align: center; }

.tab-flex-justify .tab-block-item { flex: 1 1 auto; margin: 0; }

.tab-block-item__btn { position: relative; display: inline-block; padding: 15px 3px; text-align: center; font-size: 16px; color: #8d8d8d; transition: color 0.3s cubic-bezier(0.17, 0.04, 0.03, 0.94); }

.tab-block-item__btn:after { content: ''; display: block; position: absolute; left: 50%; top: 0; width: 0; height: 2px; background: #000; transform: translate(-50%, 0); transition: width 0.3s; }

.tab-block-item:hover .tab-block-item__btn, .tab-block-item.is-active .tab-block-item__btn { color: #000; }

.tab-block-item:hover .tab-block-item__btn:after, .tab-block-item.is-active .tab-block-item__btn:after { width: 100%; }

.section-main { overflow: hidden; margin-top: 100px; margin-bottom: 100px; }

.button-main-detail { position: relative; z-index: 1; }

.button-main-detail__btn { display: block; overflow: hidden; position: absolute; top: 0; right: 0; width: 399px; height: 100px; margin-top: -50px; background-color: #000; }

.button-main-detail__btn-inner { width: 100%; height: 100%; padding-left: 20px; flex-direction: row; }

.button-main-detail__btn-inner em { display: inline-block; margin-right: 40px; color: #fff; font-size: 18px; line-height: 18px; font-style: normal; }

.button-main-detail__btn:hover .button-main-detail__btn-inner { -webkit-animation-name: aniBtnDetail; animation-name: aniBtnDetail; -webkit-animation-duration: 0.7s; animation-duration: 0.7s; -webkit-animation-iteration-count: infinite; animation-iteration-count: infinite; -webkit-animation-timing-function: ease-in-out; animation-timing-function: ease-in-out; }

@-webkit-keyframes aniBtnDetail { 0% { margin-left: 0; }
  50% { margin-left: -30px; }
  100% { margin-left: 0; } }

@keyframes aniBtnDetail { 0% { margin-left: 0; }
  50% { margin-left: -30px; }
  100% { margin-left: 0; } }

.section-bg { background-color: #f5f5f5; }

.section-title { line-height: 50px; font-size: 45px; font-weight: 400; color: #000; }

.section-title-wrap { overflow: hidden; position: relative; height: 50px; margin-bottom: 80px; text-align: center; }

.section-title-wrap .more { display: block; position: absolute; right: 0; top: 0; width: 50px; height: 50px; border: 1px solid #000; text-indent: -999em; }

.section-title-wrap .more:before, .section-title-wrap .more:after { content: ''; display: block; position: absolute; left: 50%; top: 50%; background-color: #000; }

.section-title-wrap .more:before { width: 1px; height: 19px; margin: -9px 0 0 0; }

.section-title-wrap .more:after { width: 19px; height: 1px; margin: 0 0 0 -9px; }

/* top banner */
.top-banner-default { width: 100%; height: 45px; background: #373737 url(../images/common/bg_banner.jpg) center no-repeat; }

.top-banner__btn { position: absolute; right: 0; top: 0; width: 45px; height: 45px; color: #fff; text-indent: -999em; }

.top-banner__btn:before, .top-banner__btn:after { content: ''; display: block; position: absolute; left: 50%; top: 50%; background: #fff; transform: translate(-50%, -50%); transition: transform 0.3s; }

.open-banner .top-banner__btn:before, .open-banner .top-banner__btn:after { transform: translate(-50%, -50%) rotate(45deg); }

.top-banner__btn:before { width: 1px; height: 17px; }

.top-banner__btn:after { width: 17px; height: 1px; }

.top-banner-area { height: 0; background: #00b1a1 url(../images/common/img_banner.jpg) center top no-repeat; transition: height 0.3s cubic-bezier(0.17, 0.04, 0.03, 0.94); }

.open-banner .top-banner-area { height: 400px; }

/* keyVisual */
#swiper-key1.swiper-container { position: relative; height: 920px; }

#swiper-key2 { width: 360px; height: 480px; position: absolute; z-index: 2; top: 439px; left: 0; /* s:ldy  0428 */ /* e:ldy 0428 */ }

#swiper-key2 .product-item-content--link { display: inline-block; width: 252px; height: 85px; padding: 35px 24px 0 24px; }

#swiper-key2 .product-item-content--link .product-item-header { margin: 0px; }

#swiper-key2 .product-item-content--link .product-item-header__brand { width: auto; margin-bottom: 5px; padding: 0; border: none; color: #8b8b8b; font-size: 18px; text-align: left; }

#swiper-key2 .product-item-content--link .product-item-header__name { overflow: visible; color: #1a1a1a; font-size: 26px; }

#swiper-key2 .product-item-header__name .swiper-button-prev, #swiper-key2 .swiper-button-next { width: 60px; height: 60px; }

#swiper-key2 .product-item-header__name .swiper-button-prev:hover, #swiper-key2 .swiper-button-next:hover { color: #fff; background-color: rgba(0, 0, 0, 0.8); }

#swiper-key2 .swiper-button-prev { left: auto; right: 0; top: 442px; width: 60px; height: 60px; background-color: #f4f4f4; }

#swiper-key2 .swiper-button-prev:hover:after { background-position: 0 -50px; }

#swiper-key2 .swiper-button-next { right: 0; top: 382px; background-color: #fff; left: auto; }

#swiper-key2 .swiper-button-next:hover:after { background-position: 0 -75px; }

#swiper-key2 .swiper-pagination-count { float: initial; right: 10px; position: absolute; bottom: 150px; font-size: 14px; z-index: 99999; color: #bbb; font-weight: 300; }

#swiper-key2 .swiper-pagination-count .swiper-pagination-current { color: #111; font-weight: 400; }

#swiper-key2 .swiper-pagination-count .swiper-pagination-total { color: #bbb; font-weight: 300; }

#swiper-key1 .swiper-wrapper { height: 799px; }

#swiper-key1 .swiper-slide { overflow: hidden; }

#swiper-key1 .slide-inner { position: absolute; width: 100%; height: 100%; left: 0; top: 0; background-position: center; background-repeat: no-repeat; }

#swiper-key1 .copy { position: absolute; bottom: 15px; left: 0; right: 0; text-align: center; color: white; letter-spacing: 0.06em; }

#swiper-key1 .swiper-control-wrapper { position: absolute; left: 0; top: 0; width: 100%; height: 100%; z-index: 1; }

#swiper-key1 .swiper-control-wrapper .container { height: 800px; }

#swiper-key1 .swiper-control-wrapper .navigation-box { position: relative; width: 443px; /* margin-top: 350px; */ overflow: hidden; }

#swiper-key1 .swiper-control-wrapper .paging-box { position: absolute; right: 0; bottom: -93px; z-index: 1; }

#swiper-key1 .swiper-control-wrapper .container .text { position: absolute; top: 140px; left: 0; transform: translate(50px, 0); visibility: hidden; opacity: 0; transition: all 0.5s; z-index: 1; }

#swiper-key1 .swiper-control-wrapper .container .text.on { transform: translate(0, 0); visibility: visible; opacity: 1; transition: all 1s; }

#swiper-key1 .swiper-button-prev, #swiper-key1 .swiper-button-next { position: relative; left: auto; right: auto; top: auto; bottom: auto; float: left; width: 38px; height: 38px; margin: 0 0 0 0; padding: 0; border: 1px solid transparent; border-radius: 50%; font-size: 15px; color: #888; display: none; }

#swiper-key1 .swiper-button-prev:after, #swiper-key1 .swiper-button-next:after { font-size: 15px; position: relative; z-index: 1; }

#swiper-key1 .swiper-button-prev:hover, #swiper-key1 .swiper-button-next:hover { font-weight: bold; color: #000; }

#swiper-key1 .swiper-button-prev .svg_1, #swiper-key1 .swiper-button-next .svg_1 { position: absolute; z-index: 0; width: 38px; height: 38px; transform: rotate(-90deg); }

#swiper-key1 .swiper-button-prev .svg_1 .circle, #swiper-key1 .swiper-button-next .svg_1 .circle { stroke-dasharray: 377; stroke-dashoffset: 377; transition: all 1s ease; }

#swiper-key1 .swiper-button-prev:hover .svg_1 .circle, #swiper-key1 .swiper-button-next:hover .svg_1 .circle { stroke-dashoffset: 0; }

#swiper-key1 .swiper-button-prev .svg_1 { left: 3px; top: -4px; }

#swiper-key1 .swiper-button-next { margin: 0 0 0 10px; }

#swiper-key1 .swiper-button-next .svg_1 { left: 0px; top: -4px; }

#swiper-key1 .swiper-pagination-outer { width: 443px; float: right; position: relative; margin-top: 31px; margin-right: 20px; }

#swiper-key1 .swiper-pagination-outer .swiper-pagination { background: transparent; height: 7px; bottom: 0; }

#swiper-key1 .swiper-pagination-outer:after { content: ''; width: 100%; height: 3px; position: absolute; bottom: 0; background-color: #d9d9d9; }

#swiper-key1 .swiper-pagination-count { font-weight: 300; font-size: 28px; color: #000; vertical-align: middle; width: auto; text-align: right; float: right; margin-right: -21px; }

#swiper-key1 .swiper-pagination-current, #swiper-key1 .swiper-pagination-total { font-size: 40px; display: inline-block; vertical-align: middle; margin: 0 0.5em; }

#swiper-key1 .swiper-pagination-current { font-weight: 600; }

#swiper-key1 .swiper-pagination-progressbar { width: 100%; height: 7px; /* margin-right: 53px; */ /* background: #000; */ }

#swiper-key1 .swiper-pagination-progressbar-fill { background: #000; }

#swiper-key1 .button-container { position: absolute; left: 0; bottom: 0; z-index: 1; width: 444px; height: 150px; }

#swiper-key1 .button-container .btn { display: block; position: absolute; right: 0; top: 0; padding: 0 100%; height: 150px; margin-right: 100%; background: #000 url(../images/common/btn_visual_detail.jpg) right center no-repeat; visibility: hidden; opacity: 0; transition: all 0.5s; }

#swiper-key1 .button-container .btn.on { margin-right: 0; visibility: visible; opacity: 1; }

/* keyVisual */
/* 타임 세일 */
#main-timesale .paging-box .swiper-button-prev, #main-timesale .paging-box .swiper-button-next, #main-arrival .paging-box .swiper-button-prev, #main-arrival .paging-box .swiper-button-next { width: 40px; height: 40px; top: 13px; padding: 0 20px; color: #000; text-align: center; font-size: 14px; font-weight: 600; font-family: 'Roboto', sans-serif; line-height: 14px; }

#main-timesale { position: relative; background-color: #fff; padding: 310px 0 180px; }

#main-timesale .swiper-slide { width: 440px; height: 500px; opacity: 0.7; }

#main-timesale .swiper-slide .product-item { position: absolute; top: 50%; left: 50%; width: 100%; height: 100%; background-color: #f0f0f0; -webkit-filter: grayscale(100%); filter: gray; transition: all 0.5s ease-in-out; transform-origin: 50% 50%; transform: scale(0.9) translate(-50%, -50%); }

#main-timesale .swiper-slide .product-item-content { position: absolute; right: 60px; bottom: 40px; left: 60px; }

#main-timesale .swiper-slide .product-item-image img { max-width: 100%; height: auto; }

#main-timesale .swiper-slide-active { z-index: 1; opacity: 1; }

#main-timesale .swiper-slide-active .product-item { top: 50%; left: 50%; width: 653px; height: 655px; padding: 0; border: 5px solid #000; transform-origin: 50% 50%; transform: scale(1) translate(-50%, -50%); -webkit-filter: grayscale(0%); filter: none; }

#main-timesale .swiper-slide-active .product-item-content { right: 100px; bottom: 50px; left: 100px; transform: scale(1.1); }

#main-timesale .navigation-box { width: 1366px; position: absolute; left: 50%; top: 50%; z-index: 1; margin-top: 60px; transform: translate(-50%, -50%); }

#main-timesale .navigation-box .swiper-button-next, #main-timesale .navigation-box .swiper-button-prev { width: 70px; height: 70px; color: #fff; background-color: rgba(0, 0, 0, 0.9); opacity: 0.5; transition: opacity 0.5s; }

#main-timesale .navigation-box .swiper-button-next:hover, #main-timesale .navigation-box .swiper-button-prev:hover { opacity: 1; }

#main-timesale .navigation-box .swiper-button-next:after, #main-timesale .navigation-box .swiper-button-prev:after { display: none; }

#main-timesale .paging-box { position: absolute; left: 50%; bottom: 23px; width: 667px; line-height: 20px; transform: translate(-50%, 0); }

#main-timesale .paging-box .swiper-pagination { top: 10px; width: 100%; height: 2px; }

#main-timesale .paging-box .swiper-pagination-outer { overflow: hidden; position: relative; height: 20px; margin: 0 120px 0 55px; }

#main-timesale .paging-box .swiper-pagination-count { position: absolute; top: 0; right: 0; }

#main-timesale .swiper-pagination-progressbar-fill { background: #373737; }

.timesale-header { position: absolute; left: 50%; top: 95px; z-index: 2; width: 667px; transform: translate(-50%, 0); }

.timesale-header__t { position: absolute; left: -80px; top: -78px; width: 265px; height: 265px; padding-top: 45px; background: #000; color: #fff; text-align: center; }

.timesale-header__t .section-title, .timesale-header__t .section-title i { display: block; margin: 15px 0; font-weight: 400; font-style: normal; line-height: 1; }

.timesale-header__t .section-title { font-size: 18px; font-weight: 400; color: #ccc; }

.timesale-header__t i { font-size: 45px; font-weight: 100; }

.timesale-header__d { padding-left: 255px; font-size: 50px; letter-spacing: 1px; font-weight: 400; margin-left: 20px; color: #000; transition: all 0.5s ease-in-out; }

.timesale-header__d .dday { font-weight: 700; display: inline-block; margin-right: 0.5em; color: #000; }

#main-arrival .swiper-pagination-count, #main-timesale .swiper-pagination-count { margin-right: 57px; font-size: 14px; font-weight: 400; line-height: 23px; }

#main-arrival .paging-box .swiper-button-prev, #main-timesale .paging-box .swiper-button-prev { left: 0; }

#main-arrival .paging-box .swiper-button-next, #main-timesale .paging-box .swiper-button-next { right: 0; }

#main-arrival .paging-box .swiper-button-prev:before, #main-arrival .paging-box .swiper-button-next:before, #main-arrival .paging-box .swiper-button-prev:after, #main-arrival .paging-box .swiper-button-next:after, #main-timesale .paging-box .swiper-button-prev:before, #main-timesale .paging-box .swiper-button-next:before, #main-timesale .paging-box .swiper-button-prev:after, #main-timesale .paging-box .swiper-button-next:after { display: none; }

#timesale-clock { display: block; position: relative; width: 56px; height: 56px; margin: 0 auto; border: 2px solid #fff; border-radius: 50%; background: url(../images/common/timer_center.png) center no-repeat; }

#timesale-sec, #timesale-min, #timesale-hour { position: absolute; width: 10px; height: 38px; top: 7px; left: 21px; }

#timesale-sec { background: transparent; z-index: 3; display: none; }

#timesale-min { background: url(../images/common/timer_min.png) center top no-repeat; z-index: 2; }

#timesale-hour { background: url(../images/common/timer_hour.png) center 7px no-repeat; z-index: 1; transform: rotate(-90deg); }

.paging-box.paging-box-progress1 { position: relative; width: 560px; height: 60px; margin: 50px auto 50px; }

.paging-box.paging-box-progress1 .swiper-pagination-outer { position: relative; width: 443px; margin: 30px auto 0; }

.paging-box.paging-box-progress1 .swiper-pagination-progressbar { width: 440px; height: 2px; top: 4px; }

.paging-box.paging-box-progress1 .swiper-pagination-progressbar-fill { height: 2px; background-color: #000; }

.paging-box.paging-box-progress1 .swiper-pagination-number { font-weight: 400; }

.paging-box.paging-box-progress1 .swiper-pagination-number-active { color: #000; }

/* 기획전 */
#main-exhibition .swiper-slide { height: 727px; overflow: hidden; }

#main-exhibition .now-list { position: relative; height: 727px; }

#main-exhibition .now-list .item { position: absolute; width: 360px; height: 360px; overflow: hidden; }

#main-exhibition .now-list .item .img { position: absolute; width: 100%; height: 100%; left: 50%; top: 50%; background-position: center; background-repeat: no-repeat; background-size: cover; transform: translate(-50%, -50%); transition: 0.3s cubic-bezier(0.17, 0.04, 0.03, 0.94); }

#main-exhibition .now-list .item:hover .img { width: 120%; height: 120%; }

#main-exhibition .now-list .item .btn { position: absolute; left: 0; top: 0; width: 100%; height: 100%; visibility: hidden; opacity: 0; text-align: center; color: #fff; background-color: rgba(0, 0, 0, 0.7); transition: 0.3s cubic-bezier(0.17, 0.04, 0.03, 0.94); }

#main-exhibition .now-list .item .btn > * { display: block; font-weight: 100; margin: 60px 0; line-height: 25px; }

#main-exhibition .now-list .item .btn strong { padding-top: 25px; font-size: 30px; }

#main-exhibition .now-list .item .btn span { font-size: 20px; }

#main-exhibition .now-list .item .btn:before, #main-exhibition .now-list .item .btn:after { content: ''; display: block; position: absolute; left: 50%; top: 50%; margin-top: 100px; background-color: #fff; transform: translate(-50%, -50%); }

#main-exhibition .now-list .item .btn:before { width: 19px; height: 1px; }

#main-exhibition .now-list .item .btn:after { width: 1px; height: 19px; }

#main-exhibition .now-list .item:hover .btn { visibility: visible; opacity: 1; }

#main-exhibition .now-list .item:nth-child(1) { left: 0; top: 0; }

#main-exhibition .now-list .item:nth-child(2) { left: 0; bottom: 0; }

#main-exhibition .now-list .item:nth-child(3) { right: 0; top: 0; }

#main-exhibition .now-list .item:nth-child(4) { right: 0; bottom: 0; }

#main-exhibition .now-list .item:nth-child(5) { left: 365px; top: 0; width: 637px; height: 727px; }

#main-exhibition .now-list .item:nth-child(5):after { content: ''; position: absolute; left: 0; top: 0; width: 100%; height: 100%; background: url(../images/common/livartnow_text_black.png) 50px 50px no-repeat; }

#main-exhibition .now-list .item:nth-child(5):hover:after { display: none; }

#main-exhibition .now-list .item:nth-child(5) .btn { background-image: url(../images/common/livartnow_text.png); background-position: 50px 50px; background-repeat: no-repeat; }

#main-exhibition .now-list .item:nth-child(5) .btn:before, #main-exhibition .now-list .item:nth-child(5) .btn:after { display: none; }

/* 신상품 */
#main-arrival { position: relative; padding-top: 75px; padding-bottom: 70px; }

#main-arrival.section-bg { background-color: #dfd6d4; }

#main-arrival .swiper-slide { width: 100%; background-color: #fff; }

#main-arrival .swiper-slide .float-right { padding-right: 35px; }

#main-arrival .navigation-box { width: 100%; max-width: 1550px; position: absolute; left: 50%; top: 50%; z-index: 1; margin-top: 50px; transform: translate(-50%, -50%); }

#main-arrival .navigation-box .swiper-button-next, #main-arrival .navigation-box .swiper-button-prev { opacity: 0.3; transition: opacity 0.5s; }

#main-arrival .navigation-box .swiper-button-next { right: 0; }

#main-arrival .navigation-box .swiper-button-prev { left: 0; }

#main-arrival .navigation-box .swiper-button-next:hover, #main-arrival .navigation-box .swiper-button-prev:hover { opacity: 1; }

#main-arrival .navigation-box .swiper-button-next:after, #main-arrival .navigation-box .swiper-button-prev:after { display: none; }

#main-arrival .product-item { width: 245px; margin: 0 15px; padding: 66px 15px 0; }

#main-arrival .product-item-content { max-width: 245px; }

#main-arrival .product-item-image--circle { width: 245px; height: 245px; }

#main-arrival .product-item-cart { width: 44px; height: 44px; margin: 40px auto; }

#main-arrival .product-item-cart:after { content: ''; display: block; width: 100%; height: 3px; margin-top: 10px; background-color: #000; }

#main-arrival .paging-box { position: relative; width: 660px; margin-top: 30px; line-height: 20px; }

#main-arrival .paging-box .swiper-pagination-outer { position: relative; height: 20px; margin: 0 120px 0 55px; overflow: hidden; }

#main-arrival .paging-box .swiper-pagination { width: 100%; height: 2px; top: 10px; }

#main-arrival .paging-box .swiper-pagination-count { position: absolute; right: 0; top: 0; }

#main-arrival .paging-box .swiper-button-prev:after, #main-arrival .paging-box .swiper-button-next:after { display: none; }

#main-arrival .paging-box .swiper-button-prev { color: #000; }

#main-arrival .paging-box .swiper-button-next { color: #000; }

#main-arrival .swiper-pagination-progressbar .swiper-pagination-progressbar-fill { background: #373737; }

/* MEDIA SHOWROOM */
#main-media { padding-top: 75px; padding-bottom: 120px; }

#main-media .fullcover-banner { margin-bottom: 80px; }

#main-media .fullcover-banner-item { width: 388px; height: 226px; padding-top: 50px; font-size: 30px; font-weight: 400; }

#main-media .fullcover-banner-item__text { width: 100%; margin-top: 50px; padding-top: 20px; text-align: center; border-top: 2px solid #fff; }

.fullcover-banner { position: relative; height: 400px; background-size: cover; background-position: 50% 50%; background-repeat: no-repeat; }

.fullcover-banner-item { position: absolute; top: 50%; left: 50%; margin: 0 auto; transform: translate(-50%, -50%); }

.fullcover-banner-item__text { color: #fff; display: block; }

.fullcover-banner-item__img { display: block; }

.fullcover-banner-item__img img { max-width: 100%; }

/* 뭉쳐야 싸다 : 공동구매 */
.groupbuy { overflow: hidden; margin: -100px -19px 0; font-size: 0; }

.groupbuy-item { display: inline-block; width: 350px; height: 550px; margin: 100px 0 0; padding: 0 15px; }

.groupbuy-item-goal { overflow: hidden; margin-top: 15px; }

.groupbuy-item-goal > * { display: block; color: #000; font-weight: 400; font-size: 16px; }

.groupbuy-item-goal__bar { position: relative; width: 100%; height: 5px; margin: 0 0 20px 0; background: #000; }

.groupbuy-item-goal__bar--g { position: absolute; top: 0; left: 0; height: 5px; background: #7dc4f1; }

.--progress-move .groupbuy-item-goal__bar--g { -webkit-animation: aniProgress 2s ease-in-out; animation: aniProgress 2s ease-in-out; }

.groupbuy-item-goal__num { float: left; }

.groupbuy-item-goal__num i { font-style: normal; }

.groupbuy-item-goal__num .icon-thumb { display: inline-block; margin-right: 7px; margin-top: -8px; vertical-align: middle; }

.groupbuy-item-goal__day { float: right; }

.groupbuy-item--success .product-item { opacity: 0.3; }

.groupbuy-item--success .groupbuy-item-goal__bar--g { background: #f12e5c; }

.groupbuy-item--success .groupbuy-item-goal__num { float: none; color: #f12e5c; text-align: right; }

@-webkit-keyframes aniProgress { 0% { transform: translate(-100%, 0); }
  100% { transform: translate(0, 0); } }

@keyframes aniProgress { 0% { transform: translate(-100%, 0); }
  100% { transform: translate(0, 0); } }

.best-nav { margin: 50px auto; text-align: center; }

#main-fullcover-slide { margin: 20px 0 60px; }

/* 베스트 아이템 */
#main-best .section-block { height: 920px; margin-top: 64px; background: url(../images/bg_bestseller.jpg) center top no-repeat; }

/* 리바트 꿀팁 */
#main-tip .section-block { height: 932px; margin-top: 52px; background: url(../images/bg_onlylivart.jpg) center top no-repeat; }

/* best review */
#main-review { position: relative; background-color: transparent; padding-bottom: 50px; margin-bottom: 80px; }

#main-review .container { padding: 75px 0 90px 0; width: 100%; background-color: #f5f5f5; }

#main-review .swiper-slide { width: 440px; height: 838px; -webkit-filter: grayscale(100%); filter: gray; opacity: 0.5; transition: all 0.5s cubic-bezier(0.17, 0.04, 0.03, 0.94); background: #fff; }

#main-review .swiper-slide-active { -webkit-filter: grayscale(0%); filter: none; opacity: 1; }

#main-review .product-item-header__name { margin-bottom: 5px; color: #1a1a1a; }

#main-review .product-item-content { padding: 0 35px; }

#main-review .product-item-body { margin-bottom: 25px; color: #333; }

#main-review .product-item-body__desc { margin-bottom: 17px; line-height: 1.4; color: #1a1a1a; }

#main-review .product-item-body__writer { color: #666; }

#main-review .product-item-body__date { color: #666; }

#main-review .product-item-body__date:before { display: inline-block; margin: -4px 10px 0; content: '|'; font-size: 14px; font-weight: 400; line-height: 1; vertical-align: middle; }

#main-review .product-item-stats { clear: both; margin-bottom: 15px; }

#main-review .product-item-stats:after { display: block; clear: both; content: ''; }

#main-review .product-item-heart__num { display: inline-block; margin-top: -10px; color: #aaa; font-size: 17px; font-weight: 400; vertical-align: middle; }

#main-review .product-item-related { border-top: 1px solid #000; margin: 0 35px; padding-top: 30px; }

#main-review .more { display: block; position: absolute; bottom: 0px; left: 50%; width: 100px; height: 100px; margin-left: -50px; border: 1px solid #e5e5e5; background-color: #fff; text-indent: -999em; }

#main-review .more:before, #main-review .more:after { content: ''; display: block; position: absolute; left: 50%; top: 50%; background-color: #cacaca; }

#main-review .more:before { width: 1px; height: 40px; margin: -20px 0 0 0; }

#main-review .more:after { width: 40px; height: 1px; margin: 0 0 0 -20px; }

.related-item a { display: table; width: 100%; }

.related-item-image { display: table-cell; width: 90px; vertical-align: top; }

.related-item-image img { width: 90px; height: 90px; }

.related-item-header__brand { display: block; margin-bottom: 8px; color: #787878; font-size: 14px; font-weight: 400; line-height: 1.1; }

.related-item-header__name { display: block; margin-bottom: 8px; color: #1a1a1a; font-size: 16px; line-height: 1.1; }

.related-item-content { display: table-cell; padding-top: 8px; padding-left: 30px; vertical-align: top; }

.related-item-price { display: block; color: #787878; }

.related-item-price__price { font-size: 16px; }

.related-item-price .unit { font-size: 13px; }

#main-coupon { margin-top: 0; }

.main-coupon { font-size: 0; margin: 0 -1px; }

.main-coupon-item { display: inline-block; margin: 0 1px; }

.main-coupon-item img { max-width: 100%; }

/* notice */
.latest-title-wrap { position: relative; height: 73px; margin-right: 16px; padding: 0 35px; line-height: 73px; border-top: 2px solid #000; border-bottom: 1px solid #000; color: #000; font-size: 25px; }

.latest-title-more { position: absolute; top: 14px; right: 18px; padding: 10px; }

.latest-list { margin-top: 30px; }

.latest-list__title { display: block; text-overflow: ellipsis; overflow: hidden; white-space: nowrap; }

.latest-list__date { position: absolute; right: 0; top: 0; }

.latest-list.dot-list > li { color: #000; margin-bottom: 1.5em; line-height: 1.1; }

.latest-list.dot-list > li:before { content: '-'; }

.latest-list.dot-list > li a { display: block; position: relative; padding-right: 81px; color: #000; }

.latest-list.dot-list > li a:hover { text-decoration: underline; }

#main-notice { position: relative; z-index: 1; margin-bottom: 60px; }

#main-notice .float-left { width: 50%; }

#main-notice .float-left .latest-list { margin-left: 35px; margin-right: 45px; }

#main-notice .float-right { width: 50%; }

#main-notice .float-right .latest-title-wrap { font-size: 28px; margin-left: 16px; border-bottom: none; }

#main-notice .cust-content { color: #000; margin-left: 16px; padding: 0 35px; }

#main-notice .cust-content__strong { font-size: 50px; font-weight: 700; }

#main-notice .cust-content__desc { font-size: 14px; margin-bottom: 30px; }

#main-notice .cust-content__desc strong { font-weight: 700; }

#main-notice .cust-content__button { display: block; width: 150px; height: 40px; margin-bottom: 10px; padding: 0; color: #000; border: 1px solid #000; line-height: 40px; font-size: 15px; text-align: center; }

#main-notice .cust-content__button:hover { background-color: #f1f1f1; }

.btn-detail-view { display: block; position: absolute; left: 50%; bottom: 0; width: 950px; height: 60px; line-height: 60px; background: #000; text-align: center; color: #fff; transform: translate(-50%, 0); }

.footer-top { min-height: 116px; padding: 45px 0; background-color: #141414; color: #202020; }

.footer-top li { display: inline-block; margin: 0 10px; }

.footer-top a:hover { color: #fff; }

.footer-top-menu { float: left; font-size: 16px; }

.footer-top-menu__link { color: #8d8d8d; }

.footer-top-menu__link strong { color: #fff; }

.footer-top-nav { float: right; font-size: 16px; }

.footer-top-nav__link { color: #8d8d8d; }

.footer-bottom-menu { padding: 35px 0; }

.footer-bottom-menu li { display: inline-block; }

.footer-bottom-menu__link { margin-right: 50px; color: #373737; font-size: 16px; }

.footer-bottom-menu__link:hover { color: #000; }

.footer-bottom-content { width: 1000px; margin-bottom: 28px; border-bottom: 1px solid #e5e5e5; }

.footer-bottom-content:after { display: block; content: ''; clear: both; }

.footer-bottom-sns { margin-top: 25px; }

.footer-bottom-sns__link { display: inline-block; width: 35px; height: 35px; margin: 4px; }

.footer-bottom-logo { margin-top: 66px; margin-bottom: 20px; text-align: right; }

.footer-bottom-cs { text-align: right; }

.footer-bottom-cs-tel { margin-bottom: 10px; }

.footer-bottom-cs-tel__t { font-size: 24px; color: #373737; }

.footer-bottom-cs-tel__d { font-size: 28px; color: #787878; }

.footer-bottom-cs-tel__hour { font-size: 16px; color: #373737; }

.footer-bottom-contact { width: 750px; margin-bottom: 10px; color: #787878; font-size: 14px; font-weight: 400; }

.footer-bottom-contact li { display: inline-block; margin-right: 20px; }

.footer-bottom-contact__t { color: #373737; font-size: 16px; font-weight: 600; margin-right: 8px; }

.footer-bottom-info { margin-bottom: 20px; color: #787878; font-size: 14px; font-weight: 400; }

.footer-bottom-info ul { width: 760px; display: block; margin: 0; }

.footer-bottom-info li { display: inline-block; margin-right: 20px; }

.footer-bottom-info__t, .footer-bottom-info__d { line-height: 2; }

.footer-bottom-info__t { color: #373737; margin-right: 4px; }

.footer-bottom-info__link { width: 73px; height: 23px; line-height: 23px; padding: 0; color: #fff; font-size: 12px; text-align: center; border: none; background-color: #787878; }

.footer-bottom-copy { font-size: 14px; font-weight: 400; color: #888; }

#detailConProduct .btn-detail-view.open { box-shadow: rgba(255, 255, 255, 0.7) 0px 0px 20px 20px; }

#detailConProduct .btn-detail-view.close { display: none; }

#detailConProduct.open .btn-detail-view.open { display: none; }

#detailConProduct.open .btn-detail-view.close { display: block; }

#detailConBottom { height: 4935px; background: url(../images/common/bg_product_detail_4.jpg) center top no-repeat; }

.btn-detail-bar { display: block; position: fixed; z-index: 3; left: 0; bottom: 0; width: 100%; height: 60px; background: url(../images/common/bg_detail_bar.jpg) center top no-repeat; }

#swipercateKeyVisual .swiper-container { overflow: visible; }

#swipercateKeyVisual .swiper-slide { height: 730px; }

#swipercateKeyVisual .swiper-slide .obj { position: absolute; left: 0; top: 0; width: auto; height: auto; visibility: hidden; opacity: 0; transition-duration: 0.8s; transition-timing-function: cubic-bezier(0.17, 0.04, 0.03, 0.94); }

#swipercateKeyVisual .swiper-slide .obj-1 { left: -100px; transition-delay: 0s; }

#swipercateKeyVisual .swiper-slide .obj-2 { top: 50px; left: 0; transition-delay: 0.3s; }

#swipercateKeyVisual .swiper-slide .obj-3 { top: 80px; left: 800px; transition-delay: 0.6s; }

#swipercateKeyVisual .swiper-slide-active .obj { visibility: visible; opacity: 1; }

#swipercateKeyVisual .swiper-slide-active .obj-1 { left: 0; }

#swipercateKeyVisual .swiper-slide-active .obj-2 { left: 80px; }

#swipercateKeyVisual .swiper-slide-active .obj-3 { left: 80px; }

#swipercateKeyVisual .swiper-slide-active .obj-2 { left: 80px; }

#swipercateKeyVisual .swiper-slide-active .obj-2 { left: 90px; }

#sectionSearchBar { position: fixed; z-index: 100; bottom: 0; height: 100px; width: 100%; }

#tabDetail { position: absolute; top: 733px; left: 50%; width: 1366px; height: 60px; transform: translate(-50%, 0); background: #fff; }

.tab-detail { position: absolute; top: 0; left: 0; width: 100%; height: 60px; display: table; }

.tab-detail li { display: table-cell; align-items: center; justify-content: center; text-align: center; border: 1px solid #cacaca; border-left: 0 none; width: 25%; }

.tab-detail li a { display: block; color: #cacaca; height: 60px; line-height: 58px; font-size: 20px; }

.tab-detail li.active { border-color: transparent; }

.tab-detail li.active a { background: #000; color: #fff; }

@-webkit-keyframes page { 0% { right: 0;
    visibility: hidden;
    opacity: 0; }
  100% { right: 165px;
    visibility: visible;
    opacity: 1; } }

@keyframes page { 0% { right: 0;
    visibility: hidden;
    opacity: 0; }
  100% { right: 165px;
    visibility: visible;
    opacity: 1; } }

.cate-swiper-pagination { position: absolute; text-align: center; z-index: 10; right: 0; width: 300px; top: 575px; text-align: left; visibility: hidden; opacity: 0; transition: 0.3s opacity; transform: translate3d(0, 0, 0); -webkit-animation-name: page; animation-name: page; -webkit-animation-duration: 0.8s; animation-duration: 0.8s; -webkit-animation-delay: 1s; animation-delay: 1s; -webkit-animation-fill-mode: forwards; animation-fill-mode: forwards; -webkit-animation-timing-function: cubic-bezier(0.17, 0.04, 0.03, 0.94); animation-timing-function: cubic-bezier(0.17, 0.04, 0.03, 0.94); }

.cate-swiper-pagination .swiper-pagination-bullet { width: 24px; height: 24px; border: 1px solid transparent; background: #fff; position: relative; float: left; margin-right: 4px; transition: 0.3s; }

.cate-swiper-pagination .swiper-pagination-bullet:after { content: ''; display: block; position: absolute; left: 50%; top: 50%; width: 8px; height: 8px; margin: -4px 0 0 -4px; border-radius: 50%; background: #cacaca; }

.cate-swiper-pagination .swiper-pagination-bullet-active { background: #fff; border: 1px solid #000; }

.cate-swiper-pagination .swiper-pagination-bullet-active:after { background: #000; }

/*# sourceMappingURL=livart.css.map */
