﻿@charset "utf-8";

/* ==================  온라인집들이 ======================= */
/* .house-login{border:2px solid #dcdcdc;border-width:2px 0;padding:20px 0;text-align:center;margin-bottom:70px}
.house-login p{font-size:13px;line-height:32px;color:#333;display:inline-block;*display:inline;zoom:1;vertical-align:top}
.house-login button{width:143px;height:32px;line-height:32px;font-size:12px;color:#fff;background:#333;display:inline-block;*display:inline;zoom:1;vertical-align:top}
.house-login p + button{margin-left:30px}

.hlist-wrap .searchArea .selBox.fr{float:left;}
.hlist-wrap .searchArea button{float:left;width:100%;height:37px; background:#00b0a6;text-align:center; color:#fff;}

.hlist-wrap{margin-bottom:50px}
.hlist-wrap .pt-title{overflow:hidden;}
.hlist-wrap .pt-title h3{font-size:22px;float:left;font-family:georgia;font-weight:normal; font-style:italic; color:#333;line-height:33px}
.hlist-wrap .pt-title p{font-size:15px;float:left;color:#333;margin:8px 30px 0 15px;font-weight:bold;letter-spacing:-1px}
.hlist-wrap .pt-title p span{font-size:100%;color:#f03b17;padding:0 5px}
.hlist-wrap .pt-title p + p{font-size:13px;color:#828282;margin:0;letter-spacing:0;font-weight:normal;float:none;clear:both;text-align:left;padding:5px 0}
.hlist-wrap .pt-title ul{float:right;padding:12px 10px 12px 30px;}
.hlist-wrap .pt-title ul li{float:left;line-height:18px}
.hlist-wrap .pt-title ul li + li{padding-left:10px;margin-left:10px;background:url('/image/mobile/renewal/sortList_bar.gif') no-repeat 0 50%}
.hlist-wrap .pt-title ul li button{display:block;border:none;background:none;color:#828282;outline:none}
.hlist-wrap .pt-title ul li.active button{color:#333;padding-bottom:3px;border-bottom:1px solid #a5a5a5;font-weight:bold}
.house-list{overflow:hidden;max-width:1024px;margin:0 auto}
.house-list li{width:50%;height:412px;text-align:left;float:left}
.house-list > li:nth-child(4n+1),
.house-list > li:nth-child(4n+4){background-color:#f3f0e7}
.house-list li div.cell{height:100%;}
.house-list li .imgArea{position:relative;padding:12px;width:100%;box-sizing:border-box;}
.house-list li .imgArea .tabl{width:100%;border:1px solid #e0e0e0;}
.house-list li .imgArea .tabl td{overflow:hidden;width:100%;height:200px;margin:0;padding:0; background:#fff; vertical-align:middle;text-align:center;}
.house-list li .imgArea .tabl td a img{max-width:100%;max-height:100%;}
.house-list li .imgArea .ico{position:absolute;left:0;top:10px; display:none; width:74px;height:14px;padding:6px 0; background:#e30000;color:#fff; font-family:"georgia", georgia, arial, sans-serif;font-weight:bold;font-size:14px; font-style:italic; text-align:center;}
.house-list li .e-pt-txt{padding:13px 15px;overflow:hidden}
.house-list li .e-pt-txt .title{display:block;color:#333;font-weight:bold;font-size:14px;line-height:18px;height:36px;overflow:hidden}
.house-list li .e-pt-txt .pt-info{display:block;overflow:hidden;margin:5px 0 8px}
.house-list li .e-pt-txt .pt-info span{display:block;float:left;color:#999}
.house-list li .e-pt-txt .pt-info span + span{float:right; padding-left:20px; background:url(/image/mobile/housew/ico_star.png) no-repeat left center; color:#ff8a00;}
.house-list li .e-pt-txt p{line-height:18px;height:54px;overflow:hidden;color:#333}
.house-list li ul{text-align:center;margin-top:10px}
.house-list li ul li{width:auto;padding:0;height:auto;display:inline-block;zoom:1;vertical-align:center;float:none}
.house-list li ul li + li{padding-left:7px;margin-left:7px;background:url('/image/mobile/renewal/sortList_bar.gif') no-repeat 0 50%}
.house-list li ul li button{vertical-align:top;color:#999;outline:none}
.house-list li ul li button:hover{color:#333;font-weight:bold}

.pagingMore{width:100%;margin:5em 0 0 0; text-align:center;}
.pagingMore button{display:inline-block; width:50%;padding:2em 0; background:#f2f2f2;border-top:1px solid #ccc;border-right:1px solid #ccc; font-weight:bold;}
.pagingMore button:first-child{border-left:1px solid #ccc;}
.pagingMore .em{background:#00b0a6;border:none;color:#fff;} */

/* 사진 뷰 게시판 */
/* .hview-wrap{display:none; position:absolute;left:0;top:0; width:100%;height:100%; z-index:99;}
.hview-wrap .bg{position:fixed; width:100%;height:100%; background:#000;opacity:0.8;z-index:0;}

.hview-wrap .ui-dialog .ui-dialog-content{overflow-x:hidden;}
.hview-wrap .ui-dialog-titlebar{height:4em;}
.hview-wrap .ui-dialog-titlebar span{display:none;}
.hview-wrap .house-view{position:relative;height:430px;overflow:auto;}
.hview-wrap .house-view img{width:100%;max-width:100%;height:auto;}
.hview-wrap .house-view th{vertical-align:middle;}
.hview-wrap .house-view .slideBox{position:absolute;left:0;top:0;z-index:0;}
.house-view th .dvLft span{display:block;float:left;color:#999;line-height:1.3em;margin-right:20px;font-weight:normal}
.house-view th .dvRft span{display:block;float:none;}

.hview-wrap .house-view th{padding:11px 0;}
.hview-wrap .house-view .sns{overflow:hidden;float:right;}
.hview-wrap .house-view .sns li{float:left;margin-left:0.5em;}
.hview-wrap .house-view th .over-hidden .dvLft{float:left; width:50%;padding-right:5%;}
.hview-wrap .house-view th .over-hidden .dvRft{float:left; width:45%;} */
/* 200316 제품상세보기 시작*/
/* .hview-wrap .house-view td .ttl{padding:0.5em 0 1em 0; font-size:1.4em;font-weight:bold;}
.hview-wrap .house-view .house_detail_wrap{margin: 0 auto 10px;border: 1px solid #d4d4d4;padding: 10px 15px;}
.hview-wrap .house-view .house_detail_wrap .house_detail+.house_detail{margin-top:5px;}
.hview-wrap .house-view .house_detail_wrap .house_detail li{float:left;margin-right:20px;color:#737373;font-size:14px;}
.hview-wrap .house-view .house_detail_wrap .house_detail li+li{margin-right:0;}
.hview-wrap .house-view .house_detail_wrap .house_detail li span{margin-right:6px;color:#b5b5b5;}
.hview-wrap .house-view .house_detail_wrap .house_detail::after{content:"";display:block;clear:both;}
.hview-wrap .house-view .product_detail_wrap .product_more{margin-bottom:8px;padding:7px 15px;width:100%;border:1px solid #d4d4d4;outline:none;}
.hview-wrap .house-view .product_detail_wrap .product_more span{display:inline-block;margin-left:8px;width:14px;height:14px;background:url(../../image/mobile/renewal/more_btn.png) no-repeat 0 7px/10px;overflow:hidden;line-height:999;}
.hview-wrap .house-view .product_detail_wrap .product_detail{display:none;}
.hview-wrap .house-view .product_detail_wrap.on .product_more span{background:url(../../image/mobile/renewal/close_btn.png) no-repeat 0 6px/10px;}
.hview-wrap .house-view .product_detail_wrap.on .product_detail{display:block;}
.hview-wrap .house-view .product_detail_wrap .product_detail li{margin-bottom:8px;color:#737373;font-size:14px;white-space:nowrap;overflow:hidden;text-overflow:ellipsis;}
.hview-wrap .house-view .product_detail_wrap .product_detail .product_num{display:inline-block;margin-right:10px;padding:0px 8px;color:#b5b5b5;border:1px solid #b5b5b5;border-radius:10px;}
.hview-wrap .house-view th .over-hidden span{font-size:1.1em;}
.hview-wrap .house-view td .house-cont{margin-top:1em;font-weight:normal;font-size:1em;line-height:1.5em;}
.hview-wrap .button_area button{font-size:2em !important;outline:none;}

@media all and (min-height:560px) {
    .hview-wrap .house-view{height:430px;}
}
@media all and (min-height:660px) {
    .hview-wrap .house-view{height:530px;}
}
@media all and (min-height:730px) {
    .hview-wrap .house-view{height:590px;}
}
@media all and (min-height:810px) {
    .hview-wrap .house-view{height:670px;}
} */
/* 200316 제품상세보기 끝*/

/* ==================== 이미지 슬라이드 ==================== */

/* .blueimp-gallery,
.blueimp-gallery > .slides > .slide > .slide-content {
	position: absolute;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	-moz-backface-visibility: hidden;
}
.blueimp-gallery > .slides > .slide > .slide-content {
	margin: auto;
	width: auto;
	height: auto;
	max-width: 100%;
	max-height: 100%;
	opacity: 1;
}
.blueimp-gallery {
	position: fixed;
	z-index: 999999;
	overflow: hidden;
	background: #000;
	background: rgba(0, 0, 0, 0.9);
	opacity: 0;
	display: none;
	direction: ltr;
	-ms-touch-action: none;
	touch-action: none;
}
.blueimp-gallery-carousel {
	position: relative;
	z-index: auto;
	margin: 1em auto;
	padding-bottom: 56.25%;
	box-shadow: 0 0 10px #000;
	-ms-touch-action: pan-y;
	touch-action: pan-y;
}
.blueimp-gallery-display {
	display: block;
	opacity: 1;
}
.blueimp-gallery > .slides {
	position: relative;
	height: 100%;
	overflow: hidden;
}
.blueimp-gallery-carousel > .slides {
	position: absolute;
}
.blueimp-gallery > .slides > .slide {
	position: relative;
	float: left;
	height: 100%;
	text-align: center;
	-webkit-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
	   -moz-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
	    -ms-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
	     -o-transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
	        transition-timing-function: cubic-bezier(0.645, 0.045, 0.355, 1.000);
}
.blueimp-gallery,
.blueimp-gallery > .slides > .slide > .slide-content {
	-webkit-transition: opacity 0.2s linear;
	   -moz-transition: opacity 0.2s linear;
	    -ms-transition: opacity 0.2s linear;
	     -o-transition: opacity 0.2s linear;
	        transition: opacity 0.2s linear;
}
.blueimp-gallery > .slides > .slide-loading {
	background: url(/image/mobile/slide/loading.gif) center no-repeat;
	background-size: 64px 64px;
}
.blueimp-gallery > .slides > .slide-loading > .slide-content {
  opacity: 0;
}
.blueimp-gallery > .slides > .slide-error {
  background: url(/image/mobile/slide/error.png) center no-repeat;
}
.blueimp-gallery > .slides > .slide-error > .slide-content {
  display: none;
}
.blueimp-gallery > .prev,
.blueimp-gallery > .next {
  position: absolute;
  top: 50%;
  left: 15px;
  width: 40px;
  height: 40px;
  margin-top: -23px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 60px;
  font-weight: 100;
  line-height: 30px;
  color: #fff;
  text-decoration: none;
  text-shadow: 0 0 2px #000;
  text-align: center;
  background: #222;
  background: rgba(0, 0, 0, 0.5);
  -webkit-box-sizing: content-box;
     -moz-box-sizing: content-box;
          box-sizing: content-box;
  border: 3px solid #fff;
  -webkit-border-radius: 23px;
     -moz-border-radius: 23px;
          border-radius: 23px;
  opacity: 0.5;
  cursor: pointer;
  display: none;
}
.blueimp-gallery > .next {
  left: auto;
  right: 15px;
}
.blueimp-gallery > .close,
.blueimp-gallery > .title {
  position: absolute;
  top: 15px;
  left: 15px;
  margin: 0 40px 0 0;
  font-size: 20px;
  line-height: 30px;
  color: #fff;
  text-shadow: 0 0 2px #000;
  opacity: 0.8;
  display: none;
}
.blueimp-gallery > .close {
  padding: 15px;
  right: 15px;
  left: auto;
  margin: -15px;
  font-size: 30px;
  text-decoration: none;
  cursor: pointer;
}
.blueimp-gallery > .play-pause {
  position: absolute;
  right: 15px;
  bottom: 15px;
  width: 15px;
  height: 15px;
  background: url(/image/mobile/slide/play-pause.png) 0 0 no-repeat;
  cursor: pointer;
  opacity: 0.5;
  display: none;
}
.blueimp-gallery-playing > .play-pause {
  background-position: -15px 0;
}
.blueimp-gallery > .prev:hover,
.blueimp-gallery > .next:hover,
.blueimp-gallery > .close:hover,
.blueimp-gallery > .title:hover,
.blueimp-gallery > .play-pause:hover {
  color: #fff;
  opacity: 1;
}
.blueimp-gallery-controls > .prev,
.blueimp-gallery-controls > .next,
.blueimp-gallery-controls > .close,
.blueimp-gallery-controls > .title,
.blueimp-gallery-controls > .play-pause {
  display: block;
  -webkit-transform: translateZ(0);
     -moz-transform: translateZ(0);
      -ms-transform: translateZ(0);
       -o-transform: translateZ(0);
          transform: translateZ(0);
}
.blueimp-gallery-single > .prev,
.blueimp-gallery-left > .prev,
.blueimp-gallery-single > .next,
.blueimp-gallery-right > .next,
.blueimp-gallery-single > .play-pause {
  display: none;
}
.blueimp-gallery > .slides > .slide > .slide-content,
.blueimp-gallery > .prev,
.blueimp-gallery > .next,
.blueimp-gallery > .close,
.blueimp-gallery > .play-pause {
  -webkit-user-select: none;
   -khtml-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
} */

/* Replace PNGs with SVGs for capable browsers (excluding IE<9) */
/* body:last-child .blueimp-gallery > .slides > .slide-error {
  background-image: url(/image/mobile/slide/error.svg);
}
body:last-child .blueimp-gallery > .play-pause {
  width: 20px;
  height: 20px;
  background-size: 40px 20px;
  background-image: url(/image/mobile/slide/play-pause.svg);
}
body:last-child .blueimp-gallery-playing > .play-pause {
  background-position: -20px 0;
} */

/* IE7 fixes */
/* *+html .blueimp-gallery > .slides > .slide {
  min-height: 300px;
}
*+html .blueimp-gallery > .slides > .slide > .slide-content {
  position: relative;
} */


/* ==================== 이미지 슬라이드 ==================== */


/* 사진 쓰기 게시판 */
/* .hwrite-wrap{display:none; position:absolute;left:0;top:0; width:100%;height:100%; z-index:999;}
.hwrite-wrap .bg{position:fixed; width:100%;height:100%; background:#000;opacity:0.8;z-index:0;}

.hwrite-wrap .ui-dialog .ui-dialog-content{overflow-x:hidden;}
.hwrite-wrap .ui-dialog-titlebar{height:4em;}
.hwrite-wrap .ui-dialog-titlebar span{display:none;}

.hwrite-wrap .attach_file_wrap .btnDel{position:relative;top:-1px;width:auto;height:26px; padding:0 0.2em;background:#fff no-repeat 0 0;border:1px solid #ddd; font-size:0.9em;}
.hwrite-wrap .tbl th{font-size:2.2em;}

.hwrite-wrap .button_area button{font-size:2.5em !important;} */



/* //==================  온라인집들이 ======================= */

/* 네이버 아이디 로그인 */
/* .sns_area{padding-top:1em;}
.sns_area .nav{display:block;width:100%;max-width:910px;height:3.53846em;margin:0 auto; background:#1ec700 url(/image/btn_nav2.jpg) no-repeat left center; font-weight:bold;font-size:1em;color:#fff;text-align:center;line-height:3.53846em;}

.agreeSns .title_box{margin:0;}
.agreeSns .form_wrap .snsLink{float:left; width:42%;margin-right:-1px;padding:2% 4%; border-right:1px solid #dfdfdf;}
.agreeSns .form_wrap .snsNew{float:left; width:42%;padding:2% 4%;}
.agreeSns .cont_area {margin:5% 5% 5% 5%;}
.agreeSns .cont_area .desc{margin:5% 5% 5% 5%;font-size:5px}


.agreeSns .form_wrap .title_area{margin-bottom:30px;}
.agreeSns .form_wrap .title_area .title{padding-top:30px; font-size:20px;letter-spacing:-1px;color:#5f5f5f;text-align:center;}
.agreeSns .form_wrap .cont_area{height:230px; font-size:12px;}
.agreeSns .form_wrap .btn_area{padding-bottom:80px; text-align:center;vertical-align:middle;text-align:center}
.agreeSns .form_wrap .btn_area a{height: 40px;margin-left: 2px;padding:0 10px;
 	font-size:14px;font-weight:bold;vertical-align:middle;text-align:center;
 	line-height: 40px;} */

/* // 네이버 아이디 로그인 */

/* 휴면회원복구 추가 */
/* .sleep_page{padding:10px;}
.sleep_page .fieldset{padding-top:10px;}
.sleep_page .fieldset .field{margin-bottom:6px;}
.sleep_page .btn_area{width:100%;margin-top:30px;text-align:center;}
.sleep_page .btn_area .button:first-child{width:49%;margin:0;padding:0;}
.sleep_page .btn_area .button{width:48%;height:32px;margin-left:5px;padding:0;} */
/* //휴면회원복구 추가 */

/* 배송일지정 이벤트 */
/* div.delivery_evt_wrap{padding: 3%;margin: 2% 0;text-align: center;border:1px solid #ff7600;box-sizing: border-box;}
div.delivery_evt_wrap h2.title{font-size: 14px;color: #FE6D50;}
div.delivery_evt_wrap>p{margin-bottom: 10px;font-size: 1.6em;letter-spacing: -1px;}
div.delivery_evt_wrap div.delivery_evt_btn_wrap p.delivery_evt_btn{font-size: 1.5em;letter-spacing: -1px;padding: 3px 15px;} */
/* 배송일지정 이벤트 */


/* //191217 수정 시작 회원가입 안내 페이지 */
/* .login_members .welcome_join{margin:5px 0 10px;font-size:1em;font-weight:600;text-align:center;letter-spacing:-0.5px;}
.login_members .join_notice{margin-top:30px;text-align:center;}

.login_members .join_notice .join_title p{display:inline-block;width:90px;}
.login_members .join_notice .join_cont{margin-bottom:25px;font-size:1em;letter-spacing:-0.3px;color:#555;}
.login_members .join_notice .join_cont span{display:block;font-size:1.3em;font-weight:bold;line-height:2;letter-spacing:-1px;color:#333}
.login_members .join_notice .join_btn{position:relative;margin:0 auto;padding-left:16px;width:78%;max-width:310px;height:50px;font-weight:bold;line-height:3.9;letter-spacing:-0.3px;color:#fff;box-sizing:border-box;}
.login_members .join_notice .join_btn em{display:inline-block;position:absolute;top:15px;right:10px;width:20px;height:20px;vertical-align:middle;line-height:999;background: url(/image/mobile/join_arrow_wh.png) no-repeat;background-size: 20px;}

.login_members .join_notice .hpt_join{padding:10px 0 35px;border-bottom:1px solid #dadada;}
.login_members .join_notice .hpt_join .join_title span{display:inline-block;margin:0 10px;font-size:1.5em;vertical-align:super;color:#333;}
.login_members .join_notice .hpt_join .join_cont span{color:#fd6f0b;}
.login_members .join_notice .hpt_join .hpt_btn{background:#2d3642 url(/image/mobile/hpoint_logo_wh.png) no-repeat 25px 10px/20px;}

.login_members .join_notice .ect_join{padding:25px 0;}
.login_members .join_notice .ect_join .join_cont p{color:#fd6f0b;font-size:1em;}
.login_members .join_notice .ect_join .join_btn{margin-bottom:20px;}
.login_members .join_notice .ect_join .corp_btn{background:#10B8B2 url(/image/corp_img.png) no-repeat 20px 7px/35px}
.login_members .join_notice .ect_join .nav_btn{background:#03CF5D url(/image/btn_nav.png) no-repeat 28px 14px/22px}
.login_members .join_notice .ect_join .livart_btn{background:#999 url(/image/mobile/logo_wh.png) no-repeat 14px 20px/52px;} */
/* 191217 수정 끝  회원가입 안내 페이지// */

