/* @charset "utf-8"; */

/* ######################################
	as-is 수정 ::
###################################### */
/* AS-IS promotion(현업 요청) */
/* 기획전 자동화가이드 CSS*/
.lvt-promotion,
.lvt-event{overflow:hidden;width:100%;margin:0 auto;}/*강민경 수정*/
.promotion.v2{border:none;}
.lvt-promotion p,
.lvt-event p,
.lvt-promotion table,
.lvt-event table,
.lvt-promotion th,
.lvt-event th,
.lvt-promotion td,
.lvt-event td{margin:0 !important;padding:0 !important;}
.lvt-promotion img,
.lvt-event img{width:100%;display:block;}/*강민경 수정*/

.lvt-promotion .box1,
.lvt-promotion .box2,
.lvt-promotion .box3,
.lvt-promotion .box4,
.lvt-promotion .box5,
.lvt-promotion .box6,
.lvt-event .box1,
.lvt-event .box2,
.lvt-event .box3,
.lvt-event .box4,
.lvt-event .box5,
.lvt-event .box6{overflow:hidden;width:100%;margin:0 !important;clear:both}

.promotion.v2 ul,
.event.v2 ul{clear:both;margin:0 ;list-style:none !important;}/*강민경 수정*/
.lvt-promotion ul,
.lvt-event ul{margin:0 !important;padding:0 !important;list-style:none !important;}
.lvt-promotion ul li,
.lvt-event ul li{margin:0 !important;padding:0 !important;}
.lvt-promotion ul li img,
.lvt-event ul li img{display:block;margin:0 auto;}

.lvt-promotion .box2 li,
.lvt-event .box2 li{width:50%;float:left;}
.lvt-promotion .box3 li,
.lvt-event .box3 li{width:33.33333333%;float:left;}
.lvt-promotion .box3 li:first-child,
.lvt-event .box3 li:first-child{width:33.33333333%;float:left;}
.lvt-promotion.v2 .box3 li,
.lvt-event.v2 .box3 li{width:33.3333333%;float:left;}
.lvt-promotion .box3-1 li{width:25%;float:left;}
.lvt-promotion .box3-1 li:first-child{width:50%;float:left;}
.lvt-promotion .box3-1 li:last-child{width:25%;float:left;}
.lvt-promotion .box3-2 li{width:25%;float:left;}
.lvt-promotion .box3-2 li:last-child{width:50%;float:left;}
.lvt-promotion .box3-2 li:first-child{width:25%;float:left;}
.lvt-promotion .box4 li,
.lvt-event .box4 li{width:25%;float:left;}
.lvt-promotion .box4 li:first-child,
.lvt-promotion .box4 li:last-child,
.lvt-event .box4 li:first-child,
.lvt-event .box4 li:last-child{width:25%;float:left;}
.lvt-promotion.v2 .box4 li,
.lvt-event.v2 .box4 li{width:25%;float:left;}
.lvt-promotion.v2 .box4 li:first-child,
.lvt-promotion.v2 .box4 li:last-child,
.lvt-event .box4 li:first-child,
.lvt-event .box4 li:last-child{width:25%;float:left;}
.lvt-promotion .box5 li,
.lvt-event .box5 li{width:20%;float:left;}
.lvt-promotion .box5 li:first-child,
.lvt-event .box5 li:first-child{width:20%;float:left;}
.lvt-promotion.v2 .box5 li,
.lvt-event.v2 .box5 li{width:20%;float:left;}
.lvt-promotion.v2 .box5 li:first-child,
.lvt-promotion.v2 .box5 li:last-child,
.lvt-event.v2 .box5 li:first-child,
.lvt-event.v2 .box5 li:last-child{width:20%;float:left;}
.lvt-promotion .box6 li,
.lvt-event .box6 li{width:16.666667%;float:left;}
.lvt-promotion .box6 li:first-child,
.lvt-promotion .box6 li:last-child,
.lvt-event .box6 li:first-child,
.lvt-event .box6 li:last-child{width:16.666667%;float:left;}
.lvt-promotion.v2 .box6 li,
.lvt-event.v2 .box6 li{width:16.6667%;float:left;}
.lvt-promotion.v2 .box6 li:first-child,
.lvt-promotion.v2 .box6 li:last-child,
.lvt-event.v2 .box6 li:first-child,
.lvt-event.v2 .box6 li:last-child{width:16.666667%;float:left;}

/* New */
.lvt-promotion{width:100%;}
.lvt-promotion > p,
.lvt-promotion > p > img,
.lvt-promotion > p > a > img{width:100%; margin:0;padding:0;}
.lvt-event img{display:block;width:100%;margin:0 auto;}
.lvt-event img{width:100%;}

/* .promotion .ifm{width:300px;height:220px;max-width:100%;max-height:100%;}
.promotion .vdo{padding:20px 0;margin:0 auto;}
.promotion .vdo > div{max-width:565px;margin:0 auto;}
.promotion .vdo > div > iframe {width:100%;min-height:325px;} */

/*상세정보 딜가이드형 적용*/
/* div.detail_info_content .promotion{width:100%;margin:0 auto;overflow:hidden;}
div.detail_info_content .box2{overflow:hidden;width:100%;border-bottom:1px solid #d9d9d9;}
div.detail_info_content .box2 li{width:50%;float:left;} */
/*상세정보 딜가이드형 적용*/



/*배너 슬라이드*/
.fotorama__arr:focus:after,.fotorama__fullscreen-icon:focus:after,.fotorama__html,.fotorama__img,.fotorama__nav__frame:focus .fotorama__dot:after,.fotorama__nav__frame:focus .fotorama__thumb:after,.fotorama__stage__frame,.fotorama__stage__shaft,.fotorama__video iframe{position:absolute;width:100%;height:100%;top:0;right:0;left:0;bottom:0}.fotorama--fullscreen,.fotorama__img{max-width:99999px!important;max-height:99999px!important;min-width:0!important;min-height:0!important;border-radius:0!important;box-shadow:none!important;padding:0!important}.fotorama__wrap .fotorama__grab{cursor:move;cursor:-webkit-grab;cursor:-o-grab;cursor:-ms-grab;cursor:grab}.fotorama__grabbing *{cursor:move;cursor:-webkit-grabbing;cursor:-o-grabbing;cursor:-ms-grabbing;cursor:grabbing}.fotorama__spinner{position:absolute!important;top:50%!important;left:50%!important}.fotorama__wrap--css3 .fotorama__arr,.fotorama__wrap--css3 .fotorama__fullscreen-icon,.fotorama__wrap--css3 .fotorama__nav__shaft,.fotorama__wrap--css3 .fotorama__stage__shaft,.fotorama__wrap--css3 .fotorama__thumb-border,.fotorama__wrap--css3 .fotorama__video-close,.fotorama__wrap--css3 .fotorama__video-play{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.fotorama__caption,.fotorama__nav:after,.fotorama__nav:before,.fotorama__stage:after,.fotorama__stage:before,.fotorama__wrap--css3 .fotorama__html,.fotorama__wrap--css3 .fotorama__nav,.fotorama__wrap--css3 .fotorama__spinner,.fotorama__wrap--css3 .fotorama__stage,.fotorama__wrap--css3 .fotorama__stage .fotorama__img,.fotorama__wrap--css3 .fotorama__stage__frame{-webkit-transform:translateZ(0);transform:translateZ(0)}.fotorama__arr:focus,.fotorama__fullscreen-icon:focus,.fotorama__nav__frame{outline:0}.fotorama__arr:focus:after,.fotorama__fullscreen-icon:focus:after,.fotorama__nav__frame:focus .fotorama__dot:after,.fotorama__nav__frame:focus .fotorama__thumb:after{content:'';border-radius:inherit;background-color:rgba(0,175,234,.5)}.fotorama__wrap--video .fotorama__stage,.fotorama__wrap--video .fotorama__stage__frame--video,.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html,.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img,.fotorama__wrap--video .fotorama__stage__shaft{-webkit-transform:none!important;transform:none!important}.fotorama__wrap--css3 .fotorama__nav__shaft,.fotorama__wrap--css3 .fotorama__stage__shaft,.fotorama__wrap--css3 .fotorama__thumb-border{transition-property:-webkit-transform,width;transition-property:transform,width;transition-timing-function:cubic-bezier(0.1,0,.25,1);transition-duration:0ms}.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__no-select,.fotorama__video-close,.fotorama__video-play,.fotorama__wrap{margin:0 auto;-webkit-user-select:none;-moz-user-select:none;-ms-user-select:none;user-select:none}.fotorama__select{-webkit-user-select:text;-moz-user-select:text;-ms-user-select:text;user-select:text}.fotorama__nav,.fotorama__nav__frame{margin:auto;padding:0}.fotorama__caption__wrap,.fotorama__nav__frame,.fotorama__nav__shaft{-moz-box-orient:vertical;display:inline-block;vertical-align:middle;*display:inline;*zoom:1}.fotorama__nav__frame,.fotorama__thumb-border{box-sizing:content-box}.fotorama__caption__wrap{box-sizing:border-box}.fotorama--hidden,.fotorama__load{position:absolute;left:-99999px;top:-99999px;z-index:-1}.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__nav,.fotorama__nav__frame,.fotorama__nav__shaft,.fotorama__stage__frame,.fotorama__stage__shaft,.fotorama__video-close,.fotorama__video-play{-webkit-tap-highlight-color:transparent}.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-close,.fotorama__video-play{background:url(fotorama.png) no-repeat}@media (-webkit-min-device-pixel-ratio:1.5),(min-resolution:2dppx){.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-close,.fotorama__video-play{background:url(fotorama@2x.png) 0 0/96px 160px no-repeat}}.fotorama__thumb{background-color:#7f7f7f;background-color:rgba(127,127,127,.2)}@media print{.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__thumb-border,.fotorama__video-close,.fotorama__video-play{background:none!important}}.fotorama{min-width:1px;overflow:hidden}.fotorama:not(.fotorama--unobtrusive)>*:not(:first-child){display:none}.fullscreen{width:100%!important;height:100%!important;max-width:100%!important;max-height:100%!important;margin:0!important;padding:0!important;overflow:hidden!important;background:#000}.fotorama--fullscreen{position:absolute!important;top:0!important;left:0!important;right:0!important;bottom:0!important;float:none!important;z-index:2147483647!important;background:#000;width:100%!important;height:100%!important;margin:0!important}.fotorama--fullscreen .fotorama__nav,.fotorama--fullscreen .fotorama__stage{background:#000}.fotorama__wrap{-webkit-text-size-adjust:100%;position:relative;direction:ltr;z-index:0}.fotorama__wrap--rtl .fotorama__stage__frame{direction:rtl}.fotorama__nav,.fotorama__stage{overflow:hidden;position:relative;max-width:100%}.fotorama__wrap--pan-y{-ms-touch-action:pan-y}.fotorama__wrap .fotorama__pointer{cursor:pointer}.fotorama__wrap--slide .fotorama__stage__frame{opacity:1!important}.fotorama__stage__frame{overflow:hidden}.fotorama__stage__frame.fotorama__active{z-index:8}.fotorama__wrap--fade .fotorama__stage__frame{display:none}.fotorama__wrap--fade .fotorama__fade-front,.fotorama__wrap--fade .fotorama__fade-rear,.fotorama__wrap--fade .fotorama__stage__frame.fotorama__active{display:block;left:0;top:0}.fotorama__wrap--fade .fotorama__fade-front{z-index:8}.fotorama__wrap--fade .fotorama__fade-rear{z-index:7}.fotorama__wrap--fade .fotorama__fade-rear.fotorama__active{z-index:9}.fotorama__wrap--fade .fotorama__stage .fotorama__shadow{display:none}.fotorama__img{-ms-filter:"alpha(Opacity=0)";filter:alpha(opacity=0);opacity:0;border:none!important}.fotorama__error .fotorama__img,.fotorama__loaded .fotorama__img{-ms-filter:"alpha(Opacity=100)";filter:alpha(opacity=100);opacity:1}.fotorama--fullscreen .fotorama__loaded--full .fotorama__img,.fotorama__img--full{display:none}.fotorama--fullscreen .fotorama__loaded--full .fotorama__img--full{display:block}.fotorama__wrap--only-active .fotorama__nav,.fotorama__wrap--only-active .fotorama__stage{max-width:99999px!important}.fotorama__wrap--only-active .fotorama__stage__frame{visibility:hidden}.fotorama__wrap--only-active .fotorama__stage__frame.fotorama__active{visibility:visible}.fotorama__nav{font-size:0;line-height:0;text-align:center;display:none;white-space:nowrap;z-index:5}.fotorama__nav__shaft{position:relative;left:0;top:0;text-align:left}.fotorama__nav__frame{position:relative;cursor:pointer}.fotorama__nav--dots{display:block}.fotorama__nav--dots .fotorama__nav__frame{width:18px;height:30px}.fotorama__nav--dots .fotorama__nav__frame--thumb,.fotorama__nav--dots .fotorama__thumb-border{display:none}.fotorama__nav--thumbs{display:block}.fotorama__nav--thumbs .fotorama__nav__frame{padding-left:0!important}.fotorama__nav--thumbs .fotorama__nav__frame:last-child{padding-right:0!important}.fotorama__nav--thumbs .fotorama__nav__frame--dot{display:none}.fotorama__dot{display:block;width:4px;height:4px;position:relative;top:12px;left:6px;border-radius:6px;border:1px solid #7f7f7f}.fotorama__nav__frame:focus .fotorama__dot:after{padding:1px;top:-1px;left:-1px}.fotorama__nav__frame.fotorama__active .fotorama__dot{width:0;height:0;border-width:3px}.fotorama__nav__frame.fotorama__active .fotorama__dot:after{padding:3px;top:-3px;left:-3px}.fotorama__thumb{overflow:hidden;position:relative;width:100%;height:100%}.fotorama__nav__frame:focus .fotorama__thumb{z-index:2}.fotorama__thumb-border{position:absolute;z-index:9;top:0;left:0;border-style:solid;border-color:#00afea;background-image:linear-gradient(to bottom right,rgba(255,255,255,.80),rgba(64,64,64,.1))}.fotorama__caption{position:absolute;z-index:12;bottom:0;left:0;right:0;font-family:'Helvetica Neue',Arial,sans-serif;font-size:14px;line-height:1.5;color:#000}.fotorama__caption a{text-decoration:none;color:#000;border-bottom:1px solid;border-color:rgba(0,0,0,.5)}.fotorama__caption a:hover{color:#333;border-color:rgba(51,51,51,.5)}.fotorama__wrap--rtl .fotorama__caption{left:auto;right:0}.fotorama__wrap--no-captions .fotorama__caption,.fotorama__wrap--video .fotorama__caption{display:none}.fotorama__caption__wrap{background-color:#fff;background-color:rgba(255,255,255,.9);padding:5px 10px}@-webkit-keyframes spinner{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}@keyframes spinner{0%{-webkit-transform:rotate(0);transform:rotate(0)}100%{-webkit-transform:rotate(360deg);transform:rotate(360deg)}}.fotorama__wrap--css3 .fotorama__spinner{-webkit-animation:spinner 24s infinite linear;animation:spinner 24s infinite linear}.fotorama__wrap--css3 .fotorama__html,.fotorama__wrap--css3 .fotorama__stage .fotorama__img{transition-property:opacity;transition-timing-function:linear;transition-duration:.3s}.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__html,.fotorama__wrap--video .fotorama__stage__frame--video .fotorama__img{-ms-filter:"alpha(Opacity=0)";filter:alpha(opacity=0);opacity:0}.fotorama__select{cursor:auto}.fotorama__video{top:32px;right:0;bottom:0;left:0;position:absolute;z-index:10}@-moz-document url-prefix(){.fotorama__active{box-shadow:0 0 0 transparent}}.fotorama__arr,.fotorama__fullscreen-icon,.fotorama__video-close,.fotorama__video-play{position:absolute;z-index:11;cursor:pointer}.fotorama__arr{position:absolute;width:32px;height:32px;top:50%;margin-top:-16px}.fotorama__arr--prev{left:2px;background-position:0 0}.fotorama__arr--next{right:2px;background-position:-32px 0}.fotorama__arr--disabled{pointer-events:none;cursor:default;*display:none;opacity:.1}.fotorama__fullscreen-icon{width:32px;height:32px;top:2px;right:2px;background-position:0 -32px;z-index:20}.fotorama__arr:focus,.fotorama__fullscreen-icon:focus{border-radius:50%}.fotorama--fullscreen .fotorama__fullscreen-icon{background-position:-32px -32px}.fotorama__video-play{width:96px;height:96px;left:50%;top:50%;margin-left:-48px;margin-top:-48px;background-position:0 -64px;opacity:0}.fotorama__wrap--css2 .fotorama__video-play,.fotorama__wrap--video .fotorama__stage .fotorama__video-play{display:none}.fotorama__error .fotorama__video-play,.fotorama__loaded .fotorama__video-play,.fotorama__nav__frame .fotorama__video-play{opacity:1;display:block}.fotorama__nav__frame .fotorama__video-play{width:32px;height:32px;margin-left:-16px;margin-top:-16px;background-position:-64px -32px}.fotorama__video-close{width:32px;height:32px;top:0;right:0;background-position:-64px 0;z-index:20;opacity:0}.fotorama__wrap--css2 .fotorama__video-close{display:none}.fotorama__wrap--css3 .fotorama__video-close{-webkit-transform:translate3d(32px,-32px,0);transform:translate3d(32px,-32px,0)}.fotorama__wrap--video .fotorama__video-close{display:block;opacity:1}.fotorama__wrap--css3.fotorama__wrap--video .fotorama__video-close{-webkit-transform:translate3d(0,0,0);transform:translate3d(0,0,0)}.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr,.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon{opacity:0}.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr:focus,.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:focus{opacity:1}.fotorama__wrap--video .fotorama__arr,.fotorama__wrap--video .fotorama__fullscreen-icon{opacity:0!important}.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr,.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon{display:none}.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__arr:focus,.fotorama__wrap--css2.fotorama__wrap--no-controls.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:focus{display:block}.fotorama__wrap--css2.fotorama__wrap--video .fotorama__arr,.fotorama__wrap--css2.fotorama__wrap--video .fotorama__fullscreen-icon{display:none!important}.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__fullscreen-icon:not(:focus){-webkit-transform:translate3d(32px,-32px,0);transform:translate3d(32px,-32px,0)}.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--prev:not(:focus){-webkit-transform:translate3d(-48px,0,0);transform:translate3d(-48px,0,0)}.fotorama__wrap--css3.fotorama__wrap--no-controls.fotorama__wrap--slide.fotorama__wrap--toggle-arrows .fotorama__arr--next:not(:focus){-webkit-transform:translate3d(48px,0,0);transform:translate3d(48px,0,0)}.fotorama__wrap--css3.fotorama__wrap--video .fotorama__fullscreen-icon{-webkit-transform:translate3d(32px,-32px,0)!important;transform:translate3d(32px,-32px,0)!important}.fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--prev{-webkit-transform:translate3d(-48px,0,0)!important;transform:translate3d(-48px,0,0)!important}.fotorama__wrap--css3.fotorama__wrap--video .fotorama__arr--next{-webkit-transform:translate3d(48px,0,0)!important;transform:translate3d(48px,0,0)!important}.fotorama__wrap--css3 .fotorama__arr:not(:focus),.fotorama__wrap--css3 .fotorama__fullscreen-icon:not(:focus),.fotorama__wrap--css3 .fotorama__video-close:not(:focus),.fotorama__wrap--css3 .fotorama__video-play:not(:focus){transition-property:-webkit-transform,opacity;transition-property:transform,opacity;transition-duration:.3s}.fotorama__nav:after,.fotorama__nav:before,.fotorama__stage:after,.fotorama__stage:before{content:"";display:block;position:absolute;text-decoration:none;top:0;bottom:0;width:10px;height:auto;z-index:10;pointer-events:none;background-repeat:no-repeat;background-size:1px 100%,5px 100%}.fotorama__nav:before,.fotorama__stage:before{background-image:linear-gradient(transparent,rgba(0,0,0,.2) 25%,rgba(0,0,0,.3) 75%,transparent),radial-gradient(farthest-side at 0 50%,rgba(0,0,0,.4),transparent);background-position:0 0,0 0;left:-10px}.fotorama__nav.fotorama__shadows--left:before,.fotorama__stage.fotorama__shadows--left:before{left:0}.fotorama__nav:after,.fotorama__stage:after{background-image:linear-gradient(transparent,rgba(0,0,0,.2) 25%,rgba(0,0,0,.3) 75%,transparent),radial-gradient(farthest-side at 100% 50%,rgba(0,0,0,.4),transparent);background-position:100% 0,100% 0;right:-10px}.fotorama__nav.fotorama__shadows--right:after,.fotorama__stage.fotorama__shadows--right:after{right:0}.fotorama--fullscreen .fotorama__nav:after,.fotorama--fullscreen .fotorama__nav:before,.fotorama--fullscreen .fotorama__stage:after,.fotorama--fullscreen .fotorama__stage:before,.fotorama__wrap--fade .fotorama__stage:after,.fotorama__wrap--fade .fotorama__stage:before,.fotorama__wrap--no-shadows .fotorama__nav:after,.fotorama__wrap--no-shadows .fotorama__nav:before,.fotorama__wrap--no-shadows .fotorama__stage:after,.fotorama__wrap--no-shadows .fotorama__stage:before{display:none}



/***레이어팝업 시작***/
/* .black_overlay_wrap{position:relative;}
.black_overlay{display:none;position:absolute;top:0%;left:0%;width:100%;height:100%;background-color:black;z-index:1001;-moz-opacity:0.8;opacity:.80;filter:alpha(opacity=80);}
.white_content {display:none;position:absolute;top:12%;left:8%;width:79%;height:71%;padding:2%;border:2px solid #fff;background-color:white;z-index:1002;overflow:auto;}
.close_img{position:absolute;top:3%;right:3%;width:4% !important;} */
/***레이어팝업 끝***/

/** 타이머 기능 **/ /*강민경 타이머 전체 수정*/
/*기획전*/
.promotion .display {overflow: hidden;width: 100%;box-sizing: border-box;}
.promotion .display * {margin: 0;padding: 0;box-sizing: inherit;}
.promotion .display #endTime{display:none;}
.promotion .display .ulWrap{position:relative;}
.promotion .display ul {position:absolute;top:0;left:4%;margin: 0 auto;height: 100%;width:100%;overflow: hidden;}
.promotion .display ul li {float: left;width:23%;height: 100%;text-align: center;}
.promotion .display ul li span {display: inline-block;width:100%;height:100%;color:#000;font-weight: bold;font-size:9rem;}
@media only screen and (max-width:1024px) {
    .promotion .display ul li span {font-size:8rem;}
}
@media only screen and (max-width:768px) {
    .promotion .display ul li span {font-size:7rem;}
}
@media only screen and (max-width:580px) {
    .promotion .display ul li span {font-size:5.5rem;}
}
@media only screen and (max-width:480px) {
    .promotion .display ul li span {font-size:4rem;}
    }
@media only screen and (max-width:320px) {
    .promotion .display ul li span {font-size:3rem;}
}

/** 2018.04.20 H.Point 통합 멤버십 전환페이지 **/
/* .hpiontWrap{padding:10px 10px 0;}
.hpointTop{padding:30px 0;text-align:center;color:#333;background:url(/image/hpoint_top_bg.jpg) no-repeat 50% 50%; background-size:cover;}
.hpiontWrap .hpointTop .tit{font-size:1.2em;color:#333;}
.hpiontWrap .hpointTop .bar{margin-top:10px;height:47%}
.hpiontWrap .hpointTop .bar > img{width:1px;height:30px;}
.hpiontWrap .hpointTop  .txt{font-size:0.9em;margin-top:10px;color:#333;}
.hpiontWrap .benefitTit{margin-top:10px;font-size:1.333em;font-weight:bold;color:#000;}
.hpiontWrap .benefitCont{margin:10px 0 20px;}
.hpiontWrap .benefitCont > div{margin-top:30px;}
.hpiontWrap .benefitCont > div:first-child{margin-top:0;}
.hpiontWrap :after{display:block;clear:both;content:""}
.hpiontWrap .benefitCont div .benefit_icon{width:100%;text-align:center;}
.hpiontWrap .benefitCont div .benefit_icon  img{height: 110px;}
.hpiontWrap .benefitCont > div .txt{font-size:1em;color:#555;line-height:18px;text-align:center;}

.signup_page .pack_item .tbl_info .hpointform{border-bottom:1px solid #4c4c4c;}
.signup_page .pack_item .tbl_info .hpointform th{padding:6px 8px;}
.signup_page .pack_item .tbl_info .hpointform div{display:inline-block;} */

/** 2018.04.20 H.Point 통합 멤버십 전환페이지 **/


/* 20190225 마일리지 -> H.Point  전환 페이지*/
/* .hpntChang{margin:3% 0 0 1%;font-weight:bold;color:#FE6D50;}

.hpntChangBtnWrap{margin:0 auto;width:165px;}
.hpntChangBtn{padding:8px 38px;font-size:1em;font-weight:bold;}

.hpntChangTitle2{margin:0 3% 0 8%;}
.hpntChangTitle2 h2{font-size: 13px;font-weight: bold;letter-spacing: -1px;}
.hpntChangNote{margin:2% 3% 3% 3%;padding: 4% 5%;background-color: #f5f5f5;border: 1px solid #ddd;}
.hpntChangNote p{margin-bottom: 2%;font-size: 11px;}
.hpntChangNote p:last-child{margin-bottom:0;}

.hpntChangNote1{margin: 3%;padding: 4% 5%;border: 1px solid #ddd;}
.hpntChangNote1 p{margin-bottom: 1%;font-size: 11px;}
.hpntChangNote1 p:first-child{margin-bottom:3%;font-size:12px;font-weight:bold;} */
/* 20190225 마일리지 -> H.Point  전환 페이지*/



/*자가실측*/
.closet_video{margin: 0px auto; max-width:780px;background: url(/UserFiles/Image/00_pd/on/99/closet_cal/common/back_img.jpg);background-size: cover;}

.closet_cal_wrap{margin:0 auto;width:100%;max-width:780px;line-height:20px;letter-spacing:-2px;box-sizing: border-box;color: #2d2e2d;}
.closet_cal_wrap .closet_cal{margin: 0px auto; max-width:780px;background: url(/UserFiles/Image/00_pd/on/99/closet_cal/common/back_img2.jpg);background-size:100% 100%;}
.closet_cal_wrap .closet_cal_tit{padding-bottom:3%;font-size:1.2em;font-weight:600;color:#2d2e2d;line-height:45px;}
.closet_cal_wrap .closet_cal #series_name{display:none;}
.closet_cal_wrap .closet_cal .closet_cont{display:inline-block;margin: 0 3%;width:23%;text-align:center;color: #2d2e2d;}
.closet_cal_wrap .closet_cal .closet_cont span{display:block;font-size: 1.2em;}
.closet_cal_wrap .closet_cal .closet_cont input{margin-top:8%;padding:0 5px;height:40px;font-size:1.2em;text-align:center;color:#2d2e2d;border:5px solid #ffe26d;border-radius:50px;outline:none;}
.closet_cal_wrap .closet_cal .closet_cont input::-webkit-input-placeholder{color:#cfcfcf;}
.closet_cal_wrap .closet_cal .closet_cont input::-moz-placeholder{color:#cfcfcf;}
.closet_cal_wrap .closet_cal .closet_cont input:-moz-placeholder{color:#cfcfcf;}
.closet_cal_wrap .closet_cal .closet_cont input:-ms-input-placeholder{color:#cfcfcf;}
.closet_cal_wrap .closet_cal .closet_cont input:focus::-webkit-input-placeholder{ /* WebKit browsers */ color:transparent; }
.closet_cal_wrap .closet_cal .closet_cont input:focus:-moz-placeholder{ /* Mozilla Firefox 4 to 18 */ color:transparent; }
.closet_cal_wrap .closet_cal .closet_cont input:focus::-moz-placeholder{ /* Mozilla Firefox 19+ */ color:transparent; }
.closet_cal_wrap .closet_cal .closet_cont input:focus:-ms-input-placeholder{ /* Internet Explorer 10+ */ color:transparent; }
.closet_cal_wrap .closet_cal .cont_txt{font-size:1.2em;font-weight:600;}
.closet_cal_wrap .closet_cal .cont_unit{margin-right:7%;margin-top:1%;text-align:right;letter-spacing:0px;color:#919391;}

.closet_cal_wrap #call_input_text{margin:0 auto 5%;padding: 0 10%;height:45px;background:#ffe26d;font-size:1.2em;font-weight:600;line-height:10px;color:#2d2e2d;letter-spacing:1px;border-radius:50px;outline:none;}
.closet_cal_wrap #call_input_text em{display:inline-block;width:13px;height:12px;background-image:url(../../image/spr_com.png);background-position:-73px -85px;background-repeat:no-repeat;}
.closet_cal_wrap #result{display:none;background: url(/UserFiles/Image/00_pd/on/99/closet_cal/common/back_img.jpg);background-size:100% 100%;}
.closet_cal_wrap #result img{max-width:93%;display:block;margin:0 auto;}

@media only screen and (max-width:1240px) {
	.closet_cal_wrap .closet_cal_tit{padding-top:3%;font-size:2em;}
	.closet_cal_wrap .closet_cal .closet_cont span{display:block;font-size: 1.5em;}
}
@media only screen and (max-width:768px) {
	.closet_cal_wrap .closet_cal_tit{padding-top:3%;font-size:1.5em;}
	.closet_cal_wrap .closet_cal .closet_cont span{display:block;font-size: 1.4em;}
}
@media only screen and (max-width:480px) {
	.closet_cal_wrap .closet_cal_tit{padding-top:0;font-size:1.15em;}
	.closet_cal_wrap .closet_cal .closet_cont span{display:block;font-size: 1.2em;}

    }
@media only screen and (max-width:320px) {
	.closet_cal_wrap .closet_cal_tit{font-size:1em;}
}


.lvt-promotion .skip,
.lvt-event .skip{overflow:hidden;position:absolute;top:-5000em; width:0px !important;height:0px !important;  line-height:0; font-size:0; margin:0 !important;padding:0 !important;}



/* // AS-IS promotion */